<%# locals: (id:, program:) %>

<section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="<%= id %>">
  <%= turbo_frame_tag :raffle_modal do %>
    <%= modal_header "Join the raffle" %>
      <strong>Name:</strong> <%= current_user&.name %>
      <br>
      <strong>Email:</strong> <%= current_user&.email %>
    <%= render "raffles/raffle_form", program: %>
  <% end %>
</section>
