<% title "Google Workspace for #{@g_suite.domain}" %>
<% page_md %>
<%= render "events/nav" if defined? @event %>

<article class="card mt2 mb3 pb0">
  <h1 class="mt0 mb3 h1">Google Workspace for <%= @g_suite.domain %></h1>

<section class="details mb2">
  <% if @g_suite.deleted? %>
    <p>
      <strong>Deleted at</strong>
      <%= format_datetime @g_suite.deleted_at %>
    </p>
  <% end %>

  <p>
    <strong>State</strong>
    <%= @g_suite.aasm_state.capitalize %>
  </p>

  <p>
    <strong>Domain</strong>
    <span>
      <%= @g_suite.domain %>
    </span>
  </p>

  <p>
    <strong>Project</strong>
    <%= link_to @g_suite.event.name, @g_suite.event %>
  </p>

  <p>
    <strong>Verification key</strong>
    <%= @g_suite.verification_key %>
  </p>
</section>

<section class="card__banner card__darker">
  <%= link_to "Verify ⧉", @g_suite.verification_url, target: :blank, class: "btn bg-success mr2" %>
  <%= link_to "Edit", edit_event_g_suite_path(@g_suite, event_id: @g_suite.event.slug), class: "btn mr2" %>
  <%= link_to "Delete", g_suite_path(@g_suite, event_id: @g_suite.event.slug), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn--destroy mr2" %>
  <%= link_to "DNS Check", "https://dnschecker.org/#TXT/#{@g_suite.domain}", class: "btn" %>
</section>
</article>
