<% title "G Suite for #{@g_suite.domain}" %>
<% page_sm %>
<%= render 'events/nav' %>

<article class="card mt3">
<h1>G Suite for <%= @g_suite.domain %></h1>

<section class="details">
<p>
  <strong>Application</strong>
  <%= link_to 'Open', @g_suite %>
</p>

<p>
  <strong>Domain</strong>
  <span>
    <%= @g_suite.domain %>
    <small><%= link_to "verify ⧉", @g_suite.verification_url, target: :blank %></small>
  </span>
</p>

<p>
  <strong>Event</strong>
  <%= link_to @g_suite.event.name, @g_suite.event %>
</p>

<p>
  <strong>Verification key</strong>
  <%= @g_suite.verification_key %>
</p>
</section>
</article>

<%= render 'comments/comments' %>
