<% page_sm %>
<% page_snow %>
<%= render 'events/nav' %>

<article class="card mt3">
<h1>G Suite for <%= @g_suite.domain %></h1>

<section class="details">
<p>
  <strong>Application</strong>
  <%= link_to 'Open', @g_suite %>
</p>

<p>
  <strong>Domain</strong>
  <%= @g_suite.domain %>
</p>

<p>
  <strong>Event</strong>
  <%= link_to @g_suite.event.name, @g_suite.event %>
</p>

<p>
  <strong>Verification key</strong>
  <%= @g_suite.verification_key %>
</p>
</section>
</article>

<h2>Comments</h2>
<%= render "comments/form" %>
<%= render "comments/comments" %>
