<%= link_to @event.name, @event, class: 'breadcrumb' %>
<h1>Your G Suite <% "for #{@g_suite_application.domain}" if @g_suite_application %></h1>

<% case @status
when :start %>
  <p>Your event gets free G Suite through Bank! Apply to set it up.</p>
  <%= link_to 'Get started', new_event_g_suite_application_path(event_id: @event.id), class: 'btn bg-success mt2' %>
<% when :under_review %>
  <p>Your application is under review. Check back here soon!</p>
<% when :app_accepted %>
  <article class="card p0 max-width-3 mx-auto">
    <div class="p2 bg-success white center rounded-top">
      <p><strong class="h3">Your application was accepted!</strong><br />It’s time to set up your servers.</p>
    </div>
    <div class="p2 md-pl3">
      <h2 class="mt0 ml1 md-ml3">Instructions</h2>
      <style>
      table {
        max-width: 100%;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
      }
      </style>
      <ol class="steps">
        <li>Sign in to your domain’s account at your domain host.</li>
        <li>Go to the settings section where you can update your domain’s MX records.
          <p class="slate mt1 mb0">It might be called something like “Manage DNS,” “Email Settings,” or “Advanced Settings.”</p></li>
        <li>Delete any existing MX records.<br>
          <p class="slate mt1 mb0">If you can’t delete the existing records, change their priority number to 20 or higher.</p></li>
        <li>
          <% if @g_suite %>
          <strong>Add your G Suite’s verification record</strong>. This is specific to your G Suite. Make it a <strong>TXT record</strong>, and set the value to this:
          <pre>google-site-verification=<%= @g_suite.verification_key %></pre>
          <% else %>
          Continue to #5, but you’ll need to <strong>refresh this page later for this step</strong>.
          <% end %>
        </li>
        <li><strong>Add new MX records</strong> for the Google mail servers.
          <p>If your domain host limits the number of MX records, just add the first 2 records in this table.</p>
          <table summary="This table displays server addresses for use in MX records configured for G Suite">
            <thead>
              <tr class="bold">
                <th>Name/Host/Alias</th>
                <th>Time to Live (TTL*)</th>
                <th>Record Type</th>
                <th>Priority</th>
                <th>Value/Answer/Destination</th>
              </tr>
            </thead>
            <tbody>
              <tr class="shade-neutral">
                <td>@ <span class="slate">or leave blank</span></td>
                <td>3600</td>
                <td>MX</td>
                <td>1</td>
                <td>ASPMX.L.GOOGLE.COM.</td>
              </tr>
              <tr>
                <td>@ <span class="slate">or leave blank</span></td>
                <td>3600</td>
                <td>MX</td>
                <td>5</td>
                <td>ALT1.ASPMX.L.GOOGLE.COM.</td>
              </tr>
              <tr class="shade-neutral">
                <td>@ <span class="slate">or leave blank</span></td>
                <td>3600</td>
                <td>MX</td>
                <td>5</td>
                <td>ALT2.ASPMX.L.GOOGLE.COM.</td>
              </tr>
              <tr>
                <td>@ <span class="slate">or leave blank</span></td>
                <td>3600</td>
                <td>MX</td>
                <td>10</td>
                <td>ALT3.ASPMX.L.GOOGLE.COM.</td>
              </tr>
              <tr class="shade-neutral">
                <td>@ <span class="slate">or leave blank</span></td>
                <td>3600</td>
                <td>MX</td>
                <td>10</td>
                <td>ALT4.ASPMX.L.GOOGLE.COM.</td>
              </tr>
            </tbody>
          </table>
          <p><strong>Note:</strong> Some domain hosts use different labels for the name and value fields, and some hosts also require a trailing period at the end of the server name.</p>
        </li>
        <li>Copy the entire record (ends in mx-verification.google.com) and paste it in the <strong>Value/Answer/Destination/Target</strong> column.</li>
        <li>Make sure the record’s priority is set to <strong>Low</strong> or to <strong>15</strong> or greater.</li>
        <li>Save your changes.
          <p class="slate mt1 mb0">Typically, you can send and receive messages at your new G Suite email address in less than 6 hours. However, it may take 48–72 hours before you receive email at your new address. It’s no fun to wait, but the time for MX records to take effect depends on your domain host. We have no control over this.</p>
        </li>
      </ol>
    </div>
    <div class="p2 md-pl5">
      <%= render 'g_suite_accounts/panel' %>
    </div>
  </article>
<% when :app_rejected %>
  <p class="error">Your application was rejected.</p>
<% when :verify_setup %>
  <p>Time to verify your G Suite setup. You and your teammates got emailed links to verify your accounts—click yours now to continue.</p>
  <%= render 'g_suite_accounts/panel' %>
<% when :done %>
  <p>Your G Suite is all set up!</p>
  <%= render 'g_suite_accounts/panel' %>
<% end %>
