<p>Salutations Zachary.</p>

<p>Your reports spent <%= render_money @total %> in total this week. Here's a breakdown;</p>

<% @target_users.reject { |user_info| user_info[:total] == 0 }.each do |user_info| %>
    <h2><%= user_info[:user].full_name %></h2>
    <p><%= user_info[:user].name %> spent <%= render_money user_info[:total] %> this week</p>
    <table class="formatted">
      <tr>
        <th>Memo</th>
        <th>Amount</th>
        <th>Event</th>
        <th>Receipts</th>
      </tr>
      <% user_info[:txs].sort_by(&:amount_cents).each do |tx| %>
          <tr>
            <td>
              <a href="<%= tx.local_hcb_code.url %>">
                <%= tx.memo %>
              </a>
            </td>
            <td>
              <%= render_money tx.amount_cents * -1 %>
            </td>
            <td>
                <a href="/<%= tx.event.slug %>">
                  <%= tx.event.name %>
                </a>
            </td>
            <td>
                <% if tx.local_hcb_code.stripe_refund? %>
                    <span style="color: #8492a6">Refund</span>
                <% elsif tx.local_hcb_code.receipts.any? %>
                    <span style="color: #33d6a6"><%= tx.local_hcb_code.receipts.count %></span>
                <% else %>
                    <span style="color: #ec3750">None</span>
                <% end %>
            </td>
          </tr>
      <% end %>
    </table>
<% end %>

<% no_spend_names = @target_users.select { |user_info| user_info[:total] == 0 }.map { |u| u[:user].name } %>
<p>People who spent no money this week;
<ul>
    <% no_spend_names.each do |name| %>
        <li><%= name %>
    <% end %>
</ul>

<% if @total > 10_000_00 %>
    <img src="https://i.giphy.com/media/czywuTu3BQSQnqa0CV/giphy.gif" style="margin-top: 2rem" width="50%">
<% end %>

<style>
table.formatted {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2.5rem;

  & td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  & tr:nth-child(even) {
    background-color: #dddddd;
  }
}
</style>
