<% admin_tool("w-100 center mt3") do %>
  <div x-data="{
    pinned_cards: $persist([]),
    pin(id, old_grid_id) {
      this.pinned_cards.find(card => card.id === id) ?
      this.remove_and_respawn_card(id) :
      this.push_and_teleport_card(id, old_grid_id)
    },
    push_and_teleport_card(id, old_grid_id) {
      this.pinned_cards.push({id, old_grid_id})
      const card = document.getElementById(id)
      $refs.pinnedGrid.appendChild(card)
    },
    remove_and_respawn_card(id) {
      old_grid_id = this.pinned_cards.find(card => card.id === id).old_grid_id
      this.pinned_cards = this.pinned_cards.filter(e => e.id !== id)
      const card = document.getElementById(id)
      document.getElementById(old_grid_id).appendChild(card)
    },
    teleport_mass_cards() {
      this.pinned_cards.forEach(({id,_}) => {
        const card = document.getElementById(id)
        $refs.pinnedGrid.appendChild(card)
      })
    },
    isPinned(id) {
      return this.pinned_cards.find(card => card.id === id)
    }
    }">
    <p>
      <%= content_tag :strong, render_money(@transaction_volume) %>
      in transactions & counting…
    </p>
    <div x-show="pinned_cards.length > 0" x-transition>
      <h2>Pinned Cards</h2>
      <ul class="grid left-align w-100 mt0" x-ref="pinnedGrid" x-init="$nextTick(teleport_mass_cards())" />
    </div>
    <h2>Tasks</h2>
    <ul class="grid left-align w-100 mt0" id="task-grid">
      <%= card_to "Applications", link_to_airtable_task(:bank_applications), { async_badge: :pending_bank_applications_airtable } %>
      <%= card_to "OnBoard ID", link_to_airtable_task(:onboard_id), { async_badge: :pending_onboard_id_airtable } %>
      <%= card_to "Ledger", ledger_admin_index_path, { badge: CanonicalTransaction.not_stripe_top_up.unmapped.count } %>
      <%= card_to "ACH", ach_admin_index_path, { badge: AchTransfer.pending.count } %>
      <%= card_to "Check", increase_checks_admin_index_path, { badge: IncreaseCheck.pending.count } %>
      <%= card_to "Check deposits", admin_check_deposits_path, { badge: CheckDeposit.unprocessed.count } %>
      <%= card_to "Grants", grants_admin_index_path, { badge: Grant.admin_action_needed.count } %>
      <%= card_to "PayPal", paypal_transfers_admin_index_path, { badge: PaypalTransfer.pending.count } %>
      <%= card_to "Wires", wires_admin_index_path, { badge: Wire.pending.count } %>
      <%= card_to "Disbursements", disbursements_admin_index_path, { badge: Disbursement.reviewing.count } %>
      <%= card_to "Reimbursements", reimbursements_admin_index_path, { badge: Reimbursement::Report.reimbursement_requested.count } %>
      <%= card_to "Deletion requests", organizer_position_deletion_requests_path, { badge: OrganizerPositionDeletionRequest.under_review.count } %>
      <%= card_to "Disputes", link_to_airtable_task(:disputed_transactions), { async_badge: :pending_disputed_transactions_airtable } %>
      <%= card_to "Feedback", link_to_airtable_task(:feedback), { async_badge: :pending_feedback_airtable } %>
      <%= card_to "Hackathon Grants", link_to_airtable_task(:first_grant), { async_badge: :pending_first_grant_airtable } %>
      <%= card_to "Boba", link_to_airtable_task(:boba), { async_badge: :pending_boba_airtable } %>
      <%= card_to "YSWS Verification", link_to_airtable_task(:you_ship_we_ship), { async_badge: :pending_you_ship_we_ship_airtable } %>
      <%= card_to "Warehouse SKUs", link_to_airtable_task(:marketing_shipment_request) %>
    </ul>
    <h2>Info</h2>
    <ul class="grid left-align w-100 mt0" id="info-grid">
      <%= card_to "Organizations", events_admin_index_path, { badge: Event.approved.count, subtle_badge: true } %>
      <%= card_to "Users", users_admin_index_path %>
      <%= card_to "Donations", donations_admin_index_path %>
      <%= card_to "Invoices", invoices_admin_index_path %>
      <%= card_to "Sponsors", sponsors_admin_index_path %>
      <%= card_to "Cards", stripe_cards_admin_index_path %>
      <%= card_to "Card designs", stripe_card_personalization_designs_admin_index_path %>
      <%= card_to "Emails", emails_admin_index_path, { badge: Ahoy::Message.count, subtle_badge: true } %>
    </ul>
    <h2>Perks</h2>
    <ul class="grid left-align w-100 mt0" id="perks-grid">
      <%= card_to "Google Workspaces", google_workspaces_admin_index_path, { badge: GSuite.needs_ops_review.count } %>
      <%= card_to "Stickers", link_to_airtable_task(:stickers), { async_badge: :pending_stickers_airtable } %>
      <%= card_to "Hackathons", "https://dash.hackathons.hackclub.com/sign_in", { async_badge: :pending_hackathons_airtable } %>
      <%= card_to "Sendy", link_to_airtable_task(:sendy), { async_badge: :pending_sendy_airtable } %>
      <%= card_to "1Password", link_to_airtable_task(:onepassword), { async_badge: :pending_onepassword_airtable } %>
      <%= card_to "Domains", link_to_airtable_task(:domains), { async_badge: :pending_domains_airtable } %>
      <%= card_to "PVSA", link_to_airtable_task(:pvsa), { async_badge: :pending_pvsa_airtable } %>
      <%= card_to "The Event Helper", link_to_airtable_task(:theeventhelper), { async_badge: :pending_theeventhelper_airtable } %>
      <%= card_to "Google Workspace Waitlist", link_to_airtable_task(:google_workspace_waitlist), { async_badge: :pending_google_workspace_waitlist_airtable } %>
    </ul>
    <h2>Accounting</h2>
    <ul class="grid left-align w-100 mt0" id="accounting-grid">
      <%= card_to "Bank Fees", bank_fees_admin_index_path, { badge: BankFee.in_transit_or_pending.count } %>
      <%= card_to "Ledger audits", admin_ledger_audits_path, { badge: Admin::LedgerAudit.pending.count } %>
      <%= render partial: "static_pages/card", locals: { task_path: balances_admin_index_path, human_name: "Organization Balances" } %>
      <%= render partial: "static_pages/card", locals: { task_path: blazer_path, human_name: "BI tool" } %>
      <%= card_to "Column Statements", admin_column_statements_path %>
    </ul>
    <h2>Other</h2>
    <ul class="grid left-align w-100 mt0" id="other-grid">
      <%= render partial: "static_pages/card", locals: { task_path: common_documents_path, human_name: "Common docs" } %>
      <%= render partial: "static_pages/card", locals: { task_path: flipper_path, human_name: "Flipper" } %>
      <%= card_to "Pending Ledger", pending_ledger_admin_index_path, { badge: CanonicalPendingTransaction.unsettled.count } %>
      <%= card_to "Account Numbers", account_numbers_admin_index_path, { badge: Column::AccountNumber.count, subtle_badge: true } %>
      <%= card_to "Recurring donations", recurring_donations_admin_index_path, { badge: RecurringDonation.active.count } %>
    </ul>
    <details>
      <summary>Old cards</summary>
      <ul class="grid left-align w-100 mt0" id="old-card-grid">
        <%= render partial: "static_pages/card", locals: { task_path: events_path, human_name: "Organizations" } %>
        <%= render partial: "static_pages/card", locals: { task_path: negative_events_path, human_name: "Negative organizations" } %>
        <%= render partial: "static_pages/card", locals: { task_path: sponsors_path, human_name: "Sponsors" } %>
        <%= render partial: "static_pages/card", locals: { task_path: g_suite_accounts_path, human_name: "Google Workspace accounts" } %>
        <%= card_to "Bookkeeping", bookkeeping_path %>
        <%= card_to "Emburse cards", emburse_cards_path %>
        <%= card_to "Emburse card requests", emburse_card_requests_path %>
        <%= card_to "Emburse transfers", emburse_transfers_path %>
        <%= card_to "Emburse transactions", emburse_transactions_path %>
        <%= render partial: "static_pages/card", locals: { task_path: admin_search_path, human_name: "Search by user" } %>
        <%= render partial: "static_pages/card", locals: { task_path: "https://hack.af/hcb-knowledgebase", human_name: "Knowledgebase" } %>
        <%= render partial: "static_pages/card", locals: { task_path: bank_accounts_path, human_name: "Bank accounts" } %>
        <%= render partial: "static_pages/card", locals: { task_path: new_bank_account_path, human_name: "Setup HCB" } %>
        <%= card_to "Bank Accounts", bank_accounts_admin_index_path, { badge: BankAccount.failing.count } %>
        <%= card_to "HCB Codes", hcb_codes_admin_index_path %>
        <%= card_to "Raw Transactions", raw_transactions_admin_index_path, { badge: RawCsvTransaction.unhashed.count } %>
      </ul>
    </details>
  </div>
<% end %>
