<% title "go get’em tiger" %>

<% page_sm %>
<% @home_size = 128 %>
<% content_for(:page_class) { 'bg-snow pt4' } %>

<main class="flex flex-column items-center center pt3 pb3">
  <h1 class="heading flex-column items-center justify-center mt2 w-100">
    <span class="h3 caps slate block">Welcome to</span>
    <span class="primary">Hack Club Bank</span>
    <span class="badge h5 caps"><%= random_nickname() %></span>
  </h1>
</main>

<% admin_tools('w-100 mt3') do %>
  <h2>Pending Tasks</h2>
  <ul class="grid grid--narrow left-align w-100 mt0">
    <%= react_component "admin_task/Card", human_name: "Card Requests", task_name: :card_requests, task_path: card_requests_path %>
    <%= react_component "admin_task/Card", human_name: "Transfer Requests", task_name: :load_card_requests, task_path: load_card_requests_path %>
    <%= react_component "admin_task/Card", human_name: "Checks", task_name: :checks, task_path: checks_path %>
    <%= react_component "admin_task/Card", human_name: "ACH Transfers", task_name: :ach_transfers, task_path: ach_transfers_path %>
    <%= react_component "admin_task/Card", human_name: "Fee Refunds", task_name: :fee_reimbursements, task_path: fee_reimbursements_path %>
    <%= react_component "admin_task/Card", human_name: "G Applications", task_name: :g_suite_applications, task_path: g_suite_applications_path %>
    <%= react_component "admin_task/Card", human_name: "Deletion Requests", task_name: :organizer_position_deletion_requests, task_path: organizer_position_deletion_requests_path %>
    <%= react_component "admin_task/Card", human_name: "Transactions", task_name: :transactions, task_path: transactions_path %>
    <%= react_component "admin_task/Card", human_name: "Fees", task_name: :pending_fees, task_path: pending_fees_path %>
    <%= react_component "admin_task/Card", human_name: "Disbursements", task_name: :disbursements, task_path: pending_disbursements_path %>
    <%= react_component "admin_task/Card", human_name: "Hackathons", task_name: :pending_hackathons_airtable, task_path: link_to_airtable_task(:hackathons) %>
    <%= react_component "admin_task/Card", human_name: "Grants", task_name: :pending_grant_airtable, task_path: link_to_airtable_task(:grant) %>
    <%= react_component "admin_task/Card", human_name: "StickerMule", task_name: :pending_stickermule_airtable, task_path: link_to_airtable_task(:stickermule) %>
    <%= react_component "admin_task/Card", human_name: "repl.it", task_name: :pending_replit_airtable, task_path: link_to_airtable_task(:replit) %>
    <%= react_component "admin_task/Card", human_name: "Sendy", task_name: :pending_sendy_airtable, task_path: link_to_airtable_task(:sendy) %>
  </ul>
  <% unless OpsCheckin.is_cooldown_active? %>
    <%= link_to 'Record all tasks as done',
      ops_checkins_path,
      size: 24,
      method: :post,
      class: 'info tooltipped tooltipped--w',
      'aria-label': 'Record a checkin' %>
  <% end %>
<% end %>