<% title 'Hack Club Bank Brand Guidelines' %>

<div class="container container--md">
  <h1>
    Brand Guidelines
    <span class="muted h3 regular sans block">
      How and where to refer to Hack Club Bank.
    </span>
  </h1>

  <h2>
    Badges
  </h2>

  <div class="grid grid--wide">
    <% @logos.each do |logo| %>
      <div class="card w-100">
        <div class="card__banner card__banner--top center bg-<%= logo[:background] %>" aria-label="<%= logo[:criteria] %>">
          <img src="/brand/hcb-logo-<%= logo[:name].parameterize %>.svg">
        </div>
        <h3 class="mb0"><%= logo[:name] %></h3>
        <p><%= logo[:criteria] %></p>
        <div class="center">
          <%= link_to 'Download SVG', "/brand/hcb-logo-#{logo[:name].parameterize}.svg", class: 'btn bg-info mb1 w-auto', target: :_blank %>
          <%= link_to 'Download PNG', "/brand/hcb-logo-#{logo[:name].parameterize}.png", class: 'btn bg-info', target: :_blank %>
        </div>
      </div>
    <% end %>
  </div>

  <h2>
    Legal relationship
    <span class="muted h4 regular sans block mt1">
      You’ll want to mention this for tax purposes.
    </span>
  </h2>

  <p>
  <%= @event_name %> is fiscally sponsored by Hack Club Bank, a project by the The Hack
  Foundation (d.b.a Hack Club), a 501(c)(3) nonprofit (EIN: 81-2908499).
  </p>
</div>
