<% content_for :title, "Brand Guidelines" %>

<div class="overview">
  <h2>Overview</h2>
  <p>
    Hey folks! 👋 From logos to phrasing, we want to make sure you and your team feel confident sharing about Hack Club / HCB on your site, fundraising platforms, grant apps, and other online spaces.
  </p>
  <p>
    We know you’re eager to share about your nonprofit status through HCB. 🤗 Following brand guidelines will not only help you display an accurate relationship with Hack Club but will also help create a unified appearance amongst all fiscally sponsored projects and legitimize your status.
  </p>
  <% fs_callout_title = capture do %>
    Jump to <%= link_to "the fiscal sponsorship section", "#fiscal-sponsorship", style: "color: inherit;" %>
    to see how you can accurately represent your 501(c)(3) status.
  <% end %>
  <%= render "callout", type: "info", title: fs_callout_title %>
</div>

<div class="our-name">
  <h2>Our Name</h2>
  <p>When using our name, please make sure to:</p>
  <ul>
    <li>Capitalize every letter of HCB</li>
    <li>Refrain from adding/removing additional characters and words (e.g. 'Hack Club HCB')</li>
    <li>Refrain from using our previous name, "Hack Club Bank".</li>
  </ul>
  <%= render "callout", type: "warning", title: "As a reminder, HCB is not a bank!" do %>
    <ul>
      <li>We are a fiscal sponsorship platform backed by <%= link_to "Column", "https://column.com", target: "_blank" %>.</li>
      <li>When you sign the fiscal sponsorship agreement, a “restricted fund”—a privatized section of these bank accounts for your team only—is created for your organization through our platform.</li>
    </ul>
  <% end %>
  <%= render "callout", type: "info", title: "When using HCB in legal settings, use either;" do %>
    <ul>
      <li>HCB, a project by The Hack Foundation (d.b.a. Hack Club)"</li>
      <li>The Hack Foundation (d.b.a. Hack Club).</li>
    </ul>
  <% end %>
</div>

<div class="fiscal-sponsorship" id="fiscal-sponsorship">
  <h2>Fiscal Sponsorship</h2>
  <p>
    As an event or organization fiscally sponsored through HCB, the following can be included on any correspondence, websites, marketing, etc.:
  </p>
  <code>
    <%= @event_name %> is fiscally sponsored by The Hack Foundation (d.b.a. Hack Club), a 501(c)(3) nonprofit (EIN: 81-2908499).
  </code>
  <p>
    If you'd like to modify the above statement, make sure it clearly shares that you're fiscally sponsored by HCB. If you have questions or would like to run your phrasing by us, feel free to <%= link_to "contact the HCB team", "mailto:hcb@hackclub.com" %>.
  </p>
    <%= render "callout", type: "warning", title: "Fiscal sponsor ≠ sponsor or donor" do %>
      <p class="m0">Unless you have received direct financial support from us, please do NOT use this reference as your organization’s relationship to HCB.</p>
    <% end %>

    <%= render "callout", type: "warning", title: "Misrepresenting your relationship with HCB or Hack Club could result in the termination of your fiscal sponsorship agreement." %>
</div>

<div class="our-logos">
  <h2>Our Logos</h2>
  <h3>
    Icons
  </h3>

  <div class="grid grid--wide grid--spacious mt3 mb3 md-mb4">
    <% @icons.each do |icon| %>
      <div class="card w-100 pb0">
        <div class="card__banner card__banner--top center bg-<%= icon[:background] %>" aria-label="<%= icon[:criteria] %>" style="transform-style: preserve-3d;" data-behavior="hover_tilt" data-tilt-scale="1.2">
          <img src="/brand/hcb-icon-<%= icon[:name].parameterize %>.png" width="100" style="transform: translateZ(20px); cursor: pointer;" class="logo-confetti">
        </div>
        <h3 class="mb0"><%= icon[:name] %></h3>
        <p class="mt0 muted"><%= icon[:criteria] %></p>
        <div class="card__banner card__banner--bottom card__darker mb0">
          <%= link_to "SVG", "/brand/hcb-icon-#{icon[:name].parameterize}.svg", class: "btn bg-info mr2 w-auto", target: :_blank, download: "" %>
          <%= link_to "PNG", "/brand/hcb-icon-#{icon[:name].parameterize}.png", class: "btn bg-accent", target: :_blank, download: "" %>
        </div>
      </div>
    <% end %>
  </div>
  <% logo_usage_callout_title = capture do %>
    By downloading or using any icon/logo or the HCB brand, you agree to abide by the
    <%= link_to "general usage rules", "#general-usage-rules", style: "color: inherit;" %>.
  <% end %>
  <%= render "callout", type: "info", title: logo_usage_callout_title %>
</div>

<div class="general-usage-rules" id="general-usage-rules">
  <h2>General Usage Rules</h2>
  <div class="grid grid--wide grid--spacious mt3 mb3 md-mb4">
    <div class="card w-100 pb2 callout--success">
      <h2>✅ Do</h2>
      <ul>
        <li id="bglist">Use the HCB logo to link to HCB’s page (hackclub.com/hcb).</li>
        <li id="bglist">Use the HCB logo to link to your organization’s HCB page (hcb.hackclub.com/<%= @event_slug %>), provided that your organization has transparency mode enabled.</li>
        <li id="bglist">Use the HCB logo to show that your organization is fiscally sponsored by HCB.</li>
        <li id="bglist">Use the HCB logo in blog posts, news articles, or social media posts about Hack Club or HCB.</li>
        <li id="bglist">Use the HCB name in correspondence/websites/marketing materials/etc. to state that your organization is fiscally sponsored, or, for donation and payment purposes, is a financial platform related to your fiscal sponsorship status (e.g. “donate to us using HCB”).</li>
      </ul>
    </div>
    <div class="card w-100 pb2 callout--error">
      <h2>🚫 Don’t</h2>
      <ul>
        <li id="bglist">Use the HCB or Hack Club logo/name in any way that implies endorsement of your organization beyond fiscal sponsorship, unless such usage has been approved by HCB.</li>
        <li id="bglist">Use the HCB logo as your organization’s logo.</li>
        <li id="bglist">Integrate the HCB logo into your organization’s logo.</li>
        <li id="bglist">Sell any HCB artwork without permission from Hack Club.</li>
        <li id="bglist">Modify the original aspect ratio of the HCB logo (icon/badge) in any way, aside from resizing while maintaining the same aspect ratio.</li>
        <li id="bglist">Modify the name other than what is specified in these guidelines</li>
        <li id="bglist">Crowd the area around the HCB logo. The margins around all sides of the logo should be at least 1/2 the height of the logo (e.g. 32px tall icon should have 16px of margins on all sides)</li>
        <li id="bglist">Display the HCB logo smaller than 24px in height/width, OR; (PNG icon only) larger than 512px in height/width.</li>
        <li id="bglist">Display the HCB logo smaller than 144px wide and 36px tall or the point where the text becomes illegible, whichever is larger, OR; (PNG badge only) larger than 768px wide and 192px tall.</li>
      </ul>
    </div>
  </div>
  <% help_callout_title = capture do %>
    For more info regarding authorized uses of the HCB brand or to request
    permission to use the brand for purposes other than those described above,
    please <%= link_to "contact the HCB team", "mailto:hcb@hackclub.com", style: "color: inherit;" %>.
  <% end %>
  <%= render "callout", type: "info", title: help_callout_title %>
</div>
