<% title 'Home' %>
<% page_md %>

<%= render 'users/nav' if signed_in? %>

<h1 class="heading items-center md-items-baseline justify-center md-justify-between center md-left-align w-100">
  <div>
    <span class="h3 caps secondary block">Welcome to</span>
    <span class="primary">Hack&nbsp;Club Bank</span>
  </div>
  <span class="badge ml0 h5 caps"><%= random_nickname.html_safe %></span>
</h1>

<main class="flex flex-column items-center center pb3">
  <% if signed_in? %>
    <% if @events.any? %>
      <ul class="grid grid--narrow left-align w-100 mt0">
        <% @events.not_hidden.each do |event| %>
          <%= link_to event do %>
            <li class="card card--hover flex flex-column justify-between">
              <strong class="brand-sans h3 line-height-2 mb1"><%= event.name %></strong>
              <div class="avatar-row">
                <% event.organizer_positions.each do |position| %>
                  <%= avatar_for position.user, 24 %>
                <% end %>
              </div>
            </li>
          <% end %>
        <% end %>
        <a href="https://hack.af/bank-apply?prefill_Have%20you%20used%20Hack%20Club%20Bank%20for%20any%20previous%20projects?=Yes,%20I%20have%20used%20Hack%20Club%20Bank%20before&prefill_First+Name=<%= current_user.first_name %>&prefill_Last+Name=<%= current_user.last_name %>&prefill_Email+Address=<%= current_user.email %>">
          <li class="card card--hover bold brand-sans flex items-center align-center">
            <span class="pop success mr1">
              <%= inline_icon 'plus', size: 28 %>
            </span>
            New project
          </li>
        </a>
      </ul>

      <% if @events.hidden.any? %>
        <details class="w-100 left-align">
          <summary><h3 class="inline-block pb0 border-none">Hidden projects</h3></summary>
          <ul class="grid grid--narrow left-align mt0">
            <% @events.hidden.each do |event| %>
              <%= link_to event do %>
                <li class="card card--hover flex flex-column justify-between">
                  <strong class="h3 line-height-2 mb1"><%= event.name %></strong>
                  <div class="avatar-row">
                    <% event.organizer_positions.each do |position| %>
                      <%= avatar_for position.user, 24 %>
                    <% end %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </details>
      <% end %>

    <% end %>
    <% if @invites.any? %>
      <h2 class="w-100 left-align mt3 pb0 border-none">Your pending invitations</h2>
      <ul class="grid grid--narrow left-align w-100 mt0">
        <% @invites.each do |invite| %>
          <%= link_to invite do %>
            <li class="card card--item">
              <%= status_badge 'info' %>
              <strong><%= invite.event.name %></strong>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
    <% if @events.empty? && @invites.empty? && !current_user.admin? %>
      <%= blankslate 'No projects associated with your account yet.' %>
      <a href="https://hack.af/bank-apply?prefill_Have%20you%20used%20Hack%20Club%20Bank%20for%20any%20previous%20projects?=No,%20first%20time!&prefill_First+Name=<%= current_user.first_name %>&prefill_Last+Name=<%= current_user.last_name %>&prefill_Email+Address=<%= current_user.email %>" class="btn bg-success">
        <%= inline_icon 'plus' %>
        New project
      </a>
    <% end %>
  <% end %>

  <% admin_tools('w-100 center mt3') do %>
    <h2>Daily Tasks</h2>
    <ul class="grid left-align w-100 mt0">
      <%= card_to "Bank Accounts (#{BankAccount.failing.count})", bank_accounts_admin_index_path %>
      <%= card_to "Partners (#{Partner.count})", partners_admin_index_path %>
      <%= card_to "Partner Organizations (#{Event.partner.count})", partner_organizations_admin_index_path %>
      <%= card_to "Organizations (#{Event.not_partner.pending_or_unapproved.count})", events_admin_index_path %>
      <%= card_to "Bank Fees (#{BankFee.in_transit_or_pending.count})", bank_fees_admin_index_path %>
      <%= card_to "Users", users_admin_index_path %>
      <%= card_to "Raw Transactions (#{RawCsvTransaction.unhashed.count})", raw_transactions_admin_index_path %>
      <%= card_to "Hashed Transactions (#{HashedTransaction.uncanonized.count})", hashed_transactions_admin_index_path %>
      <%= card_to "Ledger (#{CanonicalTransaction.not_stripe_top_up.unmapped.count})", ledger_admin_index_path %>
      <%= card_to "Pending Ledger (#{CanonicalPendingTransaction.unsettled.count})", pending_ledger_admin_index_path %>
      <%= card_to "ACH (#{AchTransfer.pending.count})", ach_admin_index_path %>
      <%= card_to "Check (#{Check.in_transit.count})", check_admin_index_path %>
      <%= card_to "Donations", donations_admin_index_path %>
      <%= card_to "Disbursements (#{Disbursement.pending.count})", disbursements_admin_index_path %>
      <%= card_to "Invoices", invoices_admin_index_path %>
      <%= card_to "Sponsors", sponsors_admin_index_path %>
      <%= card_to "Google Workspaces (#{GSuite.needs_ops_review.count})", google_workspaces_admin_index_path %>
      <%= card_to "HCB Codes", hcb_codes_admin_index_path %>
      <%= card_to "Transaction CSVs", transaction_csvs_admin_index_path %>
      <%= card_to "Selenium Sessions", selenium_sessions_admin_index_path %>
      <%= card_to 'Duplicated (WIP)', transaction_dedupe_path %>
    </ul>

    <h2>Daily tasks (v1)</h2>
    <ul class="grid left-align w-100 mt0">
      <%= card_to 'Pending tasks', admin_tasks_path %>
      <%= render partial: 'static_pages/card', locals: { task_path: g_suites_path, task_name: :g_suites, human_name: 'Google Workspaces', count: @service.g_suites_needs_ops_review_count } %>
      <%= render partial: 'static_pages/card', locals: { task_path: organizer_position_deletion_requests_path, task_name: :organizer_position_deletion_requests, human_name: 'Deletion requests', count: @service.organizer_position_deletion_requests_count } %>
      <%= render partial: 'static_pages/card', locals: { task_path: transactions_path, task_name: :transactions, human_name: 'Transactions', count: @service.transactions_count } %>
      <%#= react_component 'admin_task/Card', human_name: 'Transactions', task_name: :transactions, task_path: transactions_path %>
      <%= react_component 'admin_task/Card', human_name: 'Hackathons', task_name: :pending_hackathons_airtable, task_path: link_to_airtable_task(:hackathons) %>
      <%= react_component 'admin_task/Card', human_name: 'Grants', task_name: :pending_grant_airtable, task_path: link_to_airtable_task(:grant) %>
      <%= react_component 'admin_task/Card', human_name: 'StickerMule', task_name: :pending_stickermule_airtable, task_path: link_to_airtable_task(:stickermule) %>
      <%= react_component 'admin_task/Card', human_name: 'Stickers', task_name: :pending_stickers_airtable, task_path: link_to_airtable_task(:stickers) %>
      <%= react_component 'admin_task/Card', human_name: 'repl.it', task_name: :pending_replit_airtable, task_path: link_to_airtable_task(:replit) %>
      <%= react_component 'admin_task/Card', human_name: 'Sendy', task_name: :pending_sendy_airtable, task_path: link_to_airtable_task(:sendy) %>
      <%= react_component 'admin_task/Card', human_name: 'Wires', task_name: :pending_wire_transfers_airtable, task_path: link_to_airtable_task(:wire_transfers) %>
      <%= react_component 'admin_task/Card', human_name: 'PVSA', task_name: :pending_pvsa_airtable, task_path: link_to_airtable_task(:pvsa) %>
      <%= react_component 'admin_task/Card', human_name: 'PayPal', task_name: :pending_paypal_transfers_airtable, task_path: link_to_airtable_task(:paypal_transfers) %>
      <%= react_component 'admin_task/Card', human_name: 'Reported Transactions', task_name: :pending_report_transactions_airtable, task_path: link_to_airtable_task(:report_transactions) %>
    </ul>

    <h2>Information</h2>
    <ul class="grid left-align w-100 mt0">
      <%= render partial: 'static_pages/card', locals: { task_path: events_path, human_name: 'Projects' } %>
      <%= render partial: 'static_pages/card', locals: { task_path: negative_events_path, human_name: 'Negative projects' } %>
      <%= react_component 'admin_task/Card', human_name: 'Stripe TXs', task_path: stripe_authorizations_path %>
      <%= render partial: 'static_pages/card', locals: { task_path: all_invoices_path, human_name: 'Invoices' } %>
      <%= render partial: 'static_pages/card', locals: { task_path: sponsors_path, human_name: 'Sponsors' } %>
      <%= render partial: 'static_pages/card', locals: { task_path: g_suite_accounts_path, human_name: 'Google Workspace accounts' } %>
      <%= react_component 'admin_task/Card', human_name: :bookkeeping, task_path: bookkeeping_path %>
      <%= card_to 'Emburse cards', emburse_cards_path %>
      <%= card_to 'Emburse card requests', emburse_card_requests_path %>
      <%= card_to 'Emburse transfers', emburse_transfers_path %>
      <%= card_to 'Emburse transactions', emburse_transactions_path %>
      <%= render partial: 'static_pages/card', locals: { task_path: admin_search_path, human_name: 'Search by user' } %>
      <%= render partial: 'static_pages/card', locals: { task_path: 'https://hack.af/hcb-knowledgebase', human_name: 'Knowledgebase' } %>
    </ul>

    <h2>Other Tools</h2>
    <ul class="grid left-align w-100 mt0">
      <%= render partial: 'static_pages/card', locals: { task_path: bank_accounts_path, human_name: 'Bank accounts' } %>
      <%= render partial: 'static_pages/card', locals: { task_path: common_documents_path, human_name: 'Common docs' } %>
      <%= render partial: 'static_pages/card', locals: { task_path: new_bank_account_path, human_name: 'Setup HCB' } %>
      <%= card_to 'Export finances', export_finances_path, { method: :post } %>
      <%= render partial: 'static_pages/card', locals: { task_path: blazer_path, human_name: 'BI tool' } %>
    </ul>
    <p>
      <%= content_tag :strong, render_money(@transaction_volume) %>
      in transactions & counting…
    </p>
  <% end %>
</main>
