<% page_sm %>
<% @home_size = 128 %>
<% content_for(:page_class) { 'bg-snow pt4' } %>

<main class="flex flex-column items-center center pt3 pb3">
  <h1 class="heading flex-column items-center justify-center mt2 w-100">
    <span class="h3 caps secondary block">Welcome to</span>
    <span class="primary">Hack Club Bank</span>
    <span class="badge h5 caps"><%= random_nickname %></span>
  </h1>

  <% admin_tools('w-100 mt3') do %>
    <%= OpsCheckin.streak %> days since last incident
  <% end %>

  <% if signed_in? %>
    <% if @events.any? %>
      <ul class="grid grid--narrow left-align w-100 mt0">
        <% @events.not_hidden.each do |event| %>
          <%= link_to event do %>
            <li class="card card--tall flex flex-column justify-between">
              <strong class="h3 line-height-2 mb1"><%= event.name %></strong>
              <div class="avatar-row">
                <% event.organizer_positions.each do |position| %>
                  <%= avatar_for position.user, 24 %>
                <% end %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>

      <% if @events.hidden.any? %>
        <details class="w-100 left-align">
          <summary><h3 class="inline-block pb0 border-none">Hidden Events</h3></summary>
          <ul class="grid grid--narrow left-align mt0">
            <% @events.hidden.each do |event| %>
              <%= link_to event do %>
                <li class="card card--tall flex flex-column justify-between">
                  <strong class="h3 line-height-2 mb1"><%= event.name %></strong>
                  <div class="avatar-row">
                    <% event.organizer_positions.each do |position| %>
                      <%= avatar_for position.user, 24 %>
                    <% end %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </details>
      <% end %>

    <% end %>
    <% if @invites.any? %>
      <h2 class="w-100 left-align mt3 pb0 border-none">Your pending invitations</h2>
      <ul class="grid grid--narrow left-align w-100 mt0">
        <% @invites.each do |invite| %>
          <%= link_to invite do %>
            <li class="card card--item">
              <%= status_badge 'info' %>
              <strong><%= invite.event.name %></strong>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
    <% if @events.empty? && @invites.empty? && !current_user.admin? %>
      <%= blankslate 'No events associated with your account.' %>
      <%= blankslate 'Perhaps reach out to a co-organizer to get added?' %>
    <% end %>
  <% end %>

  <% admin_tools('w-100 mt3') do %>
    <h2>Daily Tasks</h2>
    <ul class="grid grid--narrow left-align mt0">
      <%= card_to 'Pending tasks', admin_tasks_path %>
    </ul>
    <ul class="grid grid--narrow left-align w-100 mt0">
      <%= react_component "admin_task/Card", human_name: "Card Requests", task_name: :emburse_card_requests, task_path: emburse_card_requests_path %>
      <%= react_component "admin_task/Card", human_name: "Transfer Requests", task_name: :emburse_transfers, task_path: emburse_transfers_path %>
      <%= react_component "admin_task/Card", human_name: "Checks", task_name: :checks, task_path: checks_path %>
      <%= react_component "admin_task/Card", human_name: "ACH Transfers", task_name: :ach_transfers, task_path: ach_transfers_path %>
      <%= react_component "admin_task/Card", human_name: "Fee Refunds", task_name: :fee_reimbursements, task_path: fee_reimbursements_path %>
      <%= react_component "admin_task/Card", human_name: "G Applications", task_name: :g_suite_applications, task_path: g_suite_applications_path %>
      <%= react_component "admin_task/Card", human_name: "Deletion Requests", task_name: :organizer_position_deletion_requests, task_path: organizer_position_deletion_requests_path %>
      <%= react_component "admin_task/Card", human_name: "Transactions", task_name: :transactions, task_path: transactions_path %>
      <%= react_component "admin_task/Card", human_name: "Fees", task_name: :pending_fees, task_path: pending_fees_path %>
      <%= react_component "admin_task/Card", human_name: "Disbursements", task_name: :disbursements, task_path: pending_disbursements_path %>
      <%= react_component "admin_task/Card", human_name: "Hackathons", task_name: :pending_hackathons_airtable, task_path: link_to_airtable_task(:hackathons) %>
      <%= react_component "admin_task/Card", human_name: "Grants", task_name: :pending_grant_airtable, task_path: link_to_airtable_task(:grant) %>
      <%= react_component "admin_task/Card", human_name: "StickerMule", task_name: :pending_stickermule_airtable, task_path: link_to_airtable_task(:stickermule) %>
      <%= react_component "admin_task/Card", human_name: "repl.it", task_name: :pending_replit_airtable, task_path: link_to_airtable_task(:replit) %>
      <%= react_component "admin_task/Card", human_name: "Sendy", task_name: :pending_sendy_airtable, task_path: link_to_airtable_task(:sendy) %>
      <%= react_component "admin_task/Card", human_name: "Emburse Transactions", task_name: :emburse_transactions, task_path: emburse_transactions_path %>
    </ul>

    <h2>Information</h2>
    <ul class="grid grid--narrow left-align w-100 mt0">
      <%= react_component "admin_task/Card", human_name: "Events", task_path: events_path %>
      <%= react_component "admin_task/Card", human_name: "Sponsors", task_path: sponsors_path %>
      <%= react_component "admin_task/Card", human_name: "Invoices", task_path: all_invoices_path %>
      <%= react_component "admin_task/Card", human_name: "Donations", task_path: all_donations_path %>
      <%= react_component "admin_task/Card", human_name: "Disbursements", task_path: disbursements_path %>
      <%= react_component "admin_task/Card", human_name: "Cards", task_path: emburse_cards_path %>
      <%= react_component "admin_task/Card", human_name: "G Suites", task_path: g_suites_path%>
      <%= react_component "admin_task/Card", human_name: "G Suite Accounts", task_name: :g_suite_accounts, task_path: g_suite_accounts_path%>
      <%= react_component "admin_task/Card", human_name: "G Suite Applications", task_name: :g_suite_applications, task_path: g_suite_applications_path%>
      <%= react_component "admin_task/Card", human_name: "Negative Events", task_name: :negative_events, task_path: negative_events_path %>
      <%= react_component "admin_task/Card", human_name: "Search by User", task_path: admin_search_path %>
      <%= react_component "admin_task/Card", human_name: "Knowledgebase", task_path: 'https://hack.af/hcb-knowledgebase' %>
    </ul>

    <h2>Other Tools</h2>
    <ul class="grid grid--narrow left-align w-100 mt0">
      <%= react_component "admin_task/Card", human_name: "Bank Accounts", task_path: bank_accounts_path %>
      <%= react_component "admin_task/Card", human_name: "Common Docs", task_path: common_documents_path %>
      <%= react_component "admin_task/Card", human_name: "Setup HCB", task_path: new_bank_account_path %>
      <%= card_to 'Export Finances', export_finances_path, { method: :post } %>
    </ul>
    <p>
      <%= content_tag :strong, render_money(@transaction_volume) %>
      in transactions & counting…
    </p>
  <% end %>

  <%= link_to 'Sign in', auth_users_path, class: 'btn h2' unless signed_in? %>
</main>
