<% title "Home" %>
<% page_md %>

<%= render "users/nav", selected: :home if signed_in? %>

<h1 class="heading items-center sm:items-start justify-center sm:justify-between center sm:text-left w-auto">
  <div>
    <% if current_user.hack_clubber? %>
      <a
        class="text-base caps muted block no-underline"
        href="https://github.com/hackclub/hcb-expansions/tree/main#hcb-what-does-it-stand-for"
        target="_blank">
        <%= @hcb_expansion %>
      </a>
    <% end %>
    <span class="<%= "warning" if fall? %>">
      Welcome to <span class="primary">HCB</span>
    </span>
  </div>
  <span class="badge ml-0 text-sm caps <%= Rails.env.development? ? "bg-success" : by_season("bg-muted", fall: "bg-warning") %>" id="flavor-text" data-turbo-permanent><%= flavor_text %></span>
</h1>

<% if current_user.card_grants.not_activated.size > 0 %>
  <% current_user.card_grants.not_activated.each do |grant| %>
    <div class="card border b--info container--sm mx-auto mb-12 text-center">
      <p class="mt-0 text-xl">You have a grant invitation from <strong><%= grant.event.name %></strong>!</p>
      <%= link_to "Activate my grant", grant, class: "btn" %>
    </div>
  <% end %>
<% end %>

<% if current_user.card_grants.activated.size > 0 %>
  <h2 class="heading h2 line-height-4 mt-0 ml-0 py-2 px-4 border-none">Grants</h2>

  <div class="grid grid--wide mb-12">
    <% current_user.card_grants.includes(:stripe_card).activated.each do |grant| %>
      <%= render grant.stripe_card, headless: true, href: card_grant_path(grant) %>
    <% end %>
  </div>
<% end %>

<main class="flex flex-col items-center text-center pb-8">
  <% if signed_in? %>
    <% if @events.any? %>
      <% if @show_event_reorder_tip %>
        <% if @events.size > 1 %>
          <%= link_to "https://changelog.hcb.hackclub.com/re-order-your-homepage-247413", class: "muted flex items-center justify-end h6 mb1 self-baseline", target: "_blank" do %>
            <%= inline_icon "hand-pointer-solid", size: 18, class: "mr1" %> Drag to reorder
          <% end %>
        <% end %>
      <% end %>
      <ul
        class="grid grid--medium-narrow left-align w-100 mt0"
        data-controller="sortable event-sort"
        data-sortable-append-to-value="body"
        data-event-sort-organizer-positions-value="<%= @organizer_positions.pluck(:id).to_json %>"
        data-action="sortable:stop->event-sort#sort">

        <%= render partial: "events/event_card", collection: @events.not_hidden, as: :event %>

        <%= link_to apply_form_url do %>
          <li class="card card--hover bold font-brand flex items-center justify-center align-center h-full" style="max-width: calc(100vw - 2rem)">
            <div class="center">
              <div class="pop success mx-auto flex mb-1">
                <%= inline_icon "plus", size: 28 %>
              </div>
              New organization
            </div>
          </li>
        <% end %>
      </ul>

      <% if @events.hidden.any? %>
        <details class="w-full text-left">
          <summary><h4 class="inline-block pb-0 border-none muted">Hidden organizations</h4></summary>
          <ul class="grid grid--medium-narrow text-left mt-0">
            <%= render partial: "events/event_card", collection: @events.hidden, as: :event %>
          </ul>
        </details>
      <% end %>

    <% end %>
    <% if @invites.any? %>
      <h2 class="w-full text-left mt-8 pb-0 border-none">Your pending invitations</h2>
      <ul class="grid grid--narrow text-left w-full mt-0">
        <% @invites.each do |invite| %>
          <%= link_to invite do %>
            <li class="card">
              <%= status_badge "info" %>
              <strong><%= invite.event.name %></strong>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  <% end %>
  <%= render partial: "static_pages/admin" %>
</main>

<div class="text-center">
  <% if @events.empty? && @invites.empty? && !current_user.admin? %>
    <%= blankslate "No organizations associated with your account yet." %>
    <%= link_to apply_form_url, class: "btn bg-success mt2" do %>
      <%= inline_icon "plus" %>
      New organization
    <% end %>
  <% end %>
</div>
