<% page_sm %>
<% @home_size = 128 %>
<% content_for(:page_class) { 'bg-snow pt4' } %>

<main class="flex flex-column items-center center pt3 pb3">
  <h1 class="heading flex-column items-center justify-center mt2 w-100">
    <span class="h3 caps secondary block">Welcome to</span>
    <span class="primary">Hack Club Bank</span>
    <span class="badge h5 caps"><%= random_nickname %></span>
  </h1>

  <% admin_tools('w-100 mt2 mb3') do %>
    <%= OpsCheckin.streak %> days since last incident
  <% end %>

  <% if signed_in? %>
    <% if @events.any? %>
      <ul class="grid grid--narrow left-align w-100 mt0">
        <% @events.not_hidden.each do |event| %>
          <%= link_to event do %>
            <li class="card card--tall flex flex-column justify-between">
              <strong class="h3 line-height-2 mb1"><%= event.name %></strong>
              <div class="avatar-row">
                <% event.organizer_positions.each do |position| %>
                  <%= avatar_for position.user, 24 %>
                <% end %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>

      <% if @events.hidden.any? %>
        <details class="w-100 left-align">
          <summary><h3 class="inline-block pb0 border-none">Hidden Events</h3></summary>
          <ul class="grid grid--narrow left-align mt0">
            <% @events.hidden.each do |event| %>
              <%= link_to event do %>
                <li class="card card--tall flex flex-column justify-between">
                  <strong class="h3 line-height-2 mb1"><%= event.name %></strong>
                  <div class="avatar-row">
                    <% event.organizer_positions.each do |position| %>
                      <%= avatar_for position.user, 24 %>
                    <% end %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </details>
      <% end %>

    <% end %>
    <% if @invites.any? %>
      <h2 class="w-100 left-align mt3 pb0 border-none">Your pending invitations</h2>
      <ul class="grid grid--narrow left-align w-100 mt0">
        <% @invites.each do |invite| %>
          <%= link_to invite do %>
            <li class="card card--item">
              <%= status_badge 'info' %>
              <strong><%= invite.event.name %></strong>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
    <% if @events.empty? && @invites.empty? && !current_user.admin? %>
      <%= blankslate 'No events associated with your account.' %>
      <%= blankslate 'Perhaps reach out to a co-organizer to get added?' %>
    <% end %>
  <% end %>

  <% admin_tools('w-100 mt3') do %>
    <h2>Daily Tasks</h2>
    <ul class="grid grid--narrow left-align mt0">
      <%= card_to 'Pending tasks', admin_tasks_path %>
    </ul>
    <ul class="grid grid--narrow left-align w-100 mt0">
      <%= render partial: "static_pages/card", locals: { task_path: emburse_card_requests_path, task_name: :emburse_card_requests, human_name: "Card Requests", count: @service.emburse_card_requests_count } %>
      <%= render partial: "static_pages/card", locals: { task_path: emburse_transfers_path, task_name: :emburse_transfers_path, human_name: "Transfer Requests", count: @service.emburse_transfers_count  } %>
      <%= render partial: "static_pages/card", locals: { task_path: checks_path, task_name: :checks, human_name: "Checks", count: @service.checks_count } %>
      <%= render partial: "static_pages/card", locals: { task_path: ach_transfers_path, task_name: :ach_transfers, human_name: "ACH Transfers", count: @service.ach_transfers_count } %>
      <%= render partial: "static_pages/card", locals: { task_path: fee_reimbursements_path, task_name: :fee_reimbursements, human_name: "Fee Refunds", count: @service.fee_reimbursements_count } %>
      <%= render partial: "static_pages/card", locals: { task_path: g_suite_applications_path, task_name: :g_suite_applications, human_name: "G Applications", count: @service.g_suite_applications_count } %>
      <%= render partial: "static_pages/card", locals: { task_path: organizer_position_deletion_requests_path, task_name: :organizer_position_deletion_requests, human_name: "Deletion Requests", count: @service.organizer_position_deletion_requests_count } %>
      <%= render partial: "static_pages/card", locals: { task_path: transactions_path, task_name: :transactions, human_name: "Transactions", count: @service.transactions_count } %>
      <%#= react_component "admin_task/Card", human_name: "Transactions", task_name: :transactions, task_path: transactions_path %>

      <%= render partial: "static_pages/card", locals: { task_path: pending_fees_path, task_name: :pending_fees, human_name: "Fees", count: @service.pending_fees_count } %>
      <%= render partial: "static_pages/card", locals: { task_path: pending_disbursements_path, task_name: :disbursements, human_name: "Disbursements", count: @service.pending_fees_count } %>
      <%= react_component "admin_task/Card", human_name: "Hackathons", task_name: :pending_hackathons_airtable, task_path: link_to_airtable_task(:hackathons) %>
      <%= react_component "admin_task/Card", human_name: "Grants", task_name: :pending_grant_airtable, task_path: link_to_airtable_task(:grant) %>
      <%= react_component "admin_task/Card", human_name: "StickerMule", task_name: :pending_stickermule_airtable, task_path: link_to_airtable_task(:stickermule) %>
      <%= react_component "admin_task/Card", human_name: "repl.it", task_name: :pending_replit_airtable, task_path: link_to_airtable_task(:replit) %>
      <%= react_component "admin_task/Card", human_name: "Sendy", task_name: :pending_sendy_airtable, task_path: link_to_airtable_task(:sendy) %>
      <%= render partial: "static_pages/card", locals: { task_path: emburse_transactions_path, task_name: :emburse_transaction, human_name: "Emburse Transactions", count: @service.emburse_transactions_count } %>
      <%= react_component "admin_task/Card", human_name: "Wires", task_name: :wire_transfers, task_path: link_to_airtable_task(:wire_transfers) %> 
    </ul>

    <h2>Information</h2>
    <ul class="grid grid--narrow left-align w-100 mt0">
      <%= render partial: "static_pages/card", locals: { task_path: events_path, human_name: "Events" } %>
      <%= render partial: "static_pages/card", locals: { task_path: sponsors_path, human_name: "Sponsors" } %>
      <%= render partial: "static_pages/card", locals: { task_path: all_invoices_path, human_name: "Invoices" } %>
      <%= render partial: "static_pages/card", locals: { task_path: all_donations_path, human_name: "Donations" } %>
      <%= render partial: "static_pages/card", locals: { task_path: disbursements_path, human_name: "Disbursements" } %>
      <%= render partial: "static_pages/card", locals: { task_path: emburse_cards_path, human_name: "Cards" } %>
      <%= render partial: "static_pages/card", locals: { task_path: g_suites_path, human_name: "G Suites" } %>
      <%= render partial: "static_pages/card", locals: { task_path: g_suite_accounts_path, human_name: "G Suite Accounts" } %>
      <%= render partial: "static_pages/card", locals: { task_path: g_suite_applications_path, human_name: "G Suite Applications" } %>
      <%= render partial: "static_pages/card", locals: { task_path: negative_events_path, human_name: "Negative Events" } %>
      <%= render partial: "static_pages/card", locals: { task_path: admin_search_path, human_name: "Search by User" } %>
      <%= render partial: "static_pages/card", locals: { task_path: "https://hack.af.hcb-knowledgebase", human_name: "Knowledgebase" } %>
    </ul>

    <h2>Other Tools</h2>
    <ul class="grid grid--narrow left-align w-100 mt0">
      <%= render partial: "static_pages/card", locals: { task_path: bank_accounts_path, human_name: "Bank Accounts" } %>
      <%= render partial: "static_pages/card", locals: { task_path: common_documents_path, human_name: "Common Docs" } %>
      <%= render partial: "static_pages/card", locals: { task_path: new_bank_account_path, human_name: "Setup HCB" } %>
      <%= card_to 'Export Finances', export_finances_path, { method: :post } %>
      <%= render partial: "static_pages/card", locals: { task_path: blazer_path, human_name: "BI Tool" } %>
    </ul>
    <p>
      <%= content_tag :strong, render_money(@transaction_volume) %>
      in transactions & counting…
    </p>
  <% end %>

  <%= link_to 'Sign in', auth_users_path, class: 'btn h2' unless signed_in? %>
</main>
