<% title "Home" %>
<% page_md %>

<%= render "users/nav", selected: :home if signed_in? %>

<h1 class="heading items-center md-items-baseline justify-center md-justify-between center md-left-align w-auto">
  <div>
    <span class="h3 caps secondary block">Welcome to</span>
    <span class="primary <%= "nowrap" unless fall? %> <%= "warning" if fall? %>">
      HCB
    </span>
  </div>
  <span class="badge ml0 h5 caps <%= Rails.env.development? ? "bg-success" : by_season("", fall: "bg-warning") %>" id="flavor-text" data-turbo-permanent><%= flavor_text %></span>
</h1>

<% if current_user.card_grants.not_activated.size > 0 %>
  <% current_user.card_grants.not_activated.each do |grant| %>
    <div class="card border b--info container--sm mx-auto mb4 center">
      <p class="mt0 h3">You have a grant invitation from <strong><%= grant.event.name %></strong>!</p>
      <%= link_to "Activate your grant", grant, class: "btn" %>
    </div>
  <% end %>
<% end %>

<% if current_user.card_grants.activated.size > 0 %>
  <h2 class="heading h2 line-height-4 mt0 ml0 pt1 pb1 pl2 pr2 border-none">Grants</h2>

  <div class="grid grid--wide mb4">
    <% current_user.card_grants.includes(:stripe_card).activated.each do |grant| %>
      <%= render grant.stripe_card, headless: true, href: card_grant_path(grant) %>
    <% end %>
  </div>
<% end %>

<main class="flex flex-column items-center center pb3">
  <% if signed_in? %>
    <% if @events.any? %>
      <% if @show_event_reorder_tip && Flipper.enabled?(:event_reordering_2022_10_10, current_user) %>
        <% if @events.size > 1 %>
          <%= link_to "https://changelog.hcb.hackclub.com/re-order-your-homepage-247413", class: "muted flex items-center justify-end h6 mb1", style: "align-self: baseline", target: "_blank" do %>
            <%= inline_icon "hand-pointer-solid", size: 18, class: "mr1" %> Drag to reorder
          <% end %>
        <% end %>
      <% end %>
      <ul
        class="grid grid--medium-narrow left-align w-100 mt0"
        data-controller="<%= "sortable event-sort" if Flipper.enabled?(:event_reordering_2022_10_10, current_user) %>"
        data-sortable-append-to-value="body"
        data-event-sort-organizer-positions-value="<%= @organizer_positions.pluck(:id).to_json %>"
        data-action="sortable:stop->event-sort#sort">
        <% @events.not_hidden.each do |event| %>
          <%= link_to event, style: "max-width: 90vw", class: "draggable text-decoration-none" do %>
            <li class="card card--hover flex flex-column justify-between h-100 mx-auto <%= "card--background-image" if event.background_image.attached? %>" style="<%= "--bg-image: url(#{url_for(event.background_image).dump})" if event.background_image.attached? %>">
              <div id="event-<%= event.id %>-title" class="flex mb2">
                <strong class="brand-sans h3 line-height-2 display-inline">
                  <% if event.logo.attached? %>
                    <%= image_tag event.logo, height: 24, width: 24, class: "rounded display-inline align-bottom" %>
                  <% end %>
                  <%= event.name %>
                </strong>
              </div>
              <% if event.demo_mode? %>
                <div class="badge bg-info ml0 mb2" style="width: fit-content;">Playground Mode</div>
              <% end %>
              <div class="brand-sans h4 line-height-2 mb2 flex justify-between">
                <span style="white-space: nowrap;">
                  <%= inline_icon "payment", size: 16, class: "muted align-middle", 'aria-label': "Dollar sign", style: "transform: scale(2)" %>
                  <%= async_frame_to event_async_balance_path(event), as: :span do %>
                    <strong>-</strong>
                  <% end %>
                </span>
                <span>
                  <%= inline_icon "card", size: 20, class: "muted align-middle", 'aria-label': "Cards", style: "transform: scale(1.2)" %>
                  <strong><%= event.stripe_cards.active.count %></strong>
                </span>
              </div>
              <div class="avatar-row">
                <% event.organizer_positions.each do |position| %>
                  <%= avatar_for position.user, 24 %>
                <% end %>
              </div>
            </li>
          <% end %>
        <% end %>

        <%= link_to "https://hackclub.com/hcb/apply/?#{URI.encode_www_form(userEmail: current_user.email, firstName: current_user.first_name, lastName: current_user.last_name, returningUser: "Yes, I have used HCB before", userPhone: current_user.phone_number)}" do %>
          <li class="card card--hover bold brand-sans flex items-center justify-center align-center h-100" style="max-width: 90vw">
            <div class="center">
              <div class="pop success mx-auto" style="display: flex; margin-bottom: 4px;">
                <%= inline_icon "plus", size: 28 %>
              </div>
              New Project
            </div>
          </li>
        <% end %>
      </ul>

      <% if @events.hidden.any? %>
        <details class="w-100 left-align">
          <summary><h4 class="inline-block pb0 border-none muted">Hidden projects</h4></summary>
          <ul class="grid grid--narrow left-align mt0">
            <% @events.hidden.each do |event| %>
              <%= link_to event do %>
                <li class="card card--hover flex flex-column justify-between">
                  <strong class="h3 line-height-2 mb1"><%= event.name %></strong>
                  <div class="avatar-row">
                    <% event.organizer_positions.each do |position| %>
                      <%= avatar_for position.user, 24 %>
                    <% end %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </details>
      <% end %>

    <% end %>
    <% if @invites.any? %>
      <h2 class="w-100 left-align mt3 pb0 border-none">Your pending invitations</h2>
      <ul class="grid grid--narrow left-align w-100 mt0">
        <% @invites.each do |invite| %>
          <%= link_to invite do %>
            <li class="card card--item">
              <%= status_badge "info" %>
              <strong><%= invite.event.name %></strong>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
    <% if @events.empty? && @invites.empty? && !current_user.admin? %>
      <%= blankslate "No projects associated with your account yet." %>
      <a href="https://hackclub.com/hcb/apply/?userEmail=<%= current_user.email %>&firstName=<%= current_user.first_name %>&lastName=<%= current_user.last_name %>&returningUser=No,%20first%20time!&userPhone=<%= current_user.phone_number %>" class="btn bg-success">
        <%= inline_icon "plus" %>
        New project
      </a>
    <% end %>
  <% end %>
  <%= render partial: "static_pages/admin" %>
</main>
