<main class="flex flex-column mx-auto center items-center col-12 pt3"
  style="max-width: 36rem;">
  <% if admin_signed_in? %>
    <h1 class="col-12">Grand Central Station of <span class="primary">Bank</span></h1>
    <ul class="list left-align col-12">
      <li>
        Bank Account
        <ul class="list">
          <li><%= link_to 'Setup Bank', new_bank_account_path %></li>
          <li><%= link_to 'See Transactions', BankAccount.instance %></li>
        </ul>
      </li>
      <li><%= link_to 'Cards', cards_path %></li>
      <li><%= link_to 'Card Requests', card_requests_path %></li>
      <li><%= link_to 'Load Card Requests', load_card_requests_path %></li>
      <li><%= link_to 'Events', events_path %></li>
      <li><%= link_to 'Sponsors', sponsors_path %></li>
    </ul>
    <%= link_to 'Sign out', logout_users_path, method: :delete, class: 'btn mt2' %>
  <% else %>
    <h1 class="col-12">Welcome to <span class="primary">Hack Club Bank</span>.</h1>
    <% if signed_in? %>
      <% if @events.any? %>
        <ul class="list left-align col-12">
          <% @events.each do |event| %>
            <%= link_to event do %>
              <li>
                <strong><%= event.name %></strong>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
      <% if @invites.any? %>
        <h2 class="h4 col-12 left-align mt3 mb0 ttu slate">Your pending invitations</h2>
        <ul class="list left-align col-12">
          <% @invites.each do |invite| %>
            <%= link_to invite do %>
              <li>
                <strong><%= invite.event.name %></strong>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
      <% if @events.empty? && @invites.empty? %>
        <%= blankslate 'No events found' %>
      <% end %>
      <%= link_to 'Sign out', logout_users_path, method: :delete, class: 'btn mt2' %>
    <% else %>
      <%= link_to 'Sign in', auth_users_path, class: 'btn h2' %>
    <% end %>
  <% end %>
</main>
