<% title 'Home' %>
<% page_md %>

<%= render 'users/nav' if signed_in? %>

<h1 class="heading items-center md-items-baseline justify-center md-justify-between center md-left-align w-100">
  <div>
    <span class="h3 caps secondary block">Welcome to</span>
    <span class="primary">Hack&nbsp;Club Bank</span>
  </div>
  <span class="badge ml0 h5 caps"><%= random_nickname %></span>
</h1>

<main class="flex flex-column items-center center pb3">
  <% if signed_in? %>
    <% if @events.any? %>
      <ul class="grid grid--narrow left-align w-100 mt0">
        <% @events.not_hidden.each do |event| %>
          <%= link_to event do %>
            <li class="card card--tall flex flex-column justify-between">
              <strong class="brand-sans h3 line-height-2 mb1"><%= event.name %></strong>
              <div class="avatar-row">
                <% event.organizer_positions.each do |position| %>
                  <%= avatar_for position.user, 24 %>
                <% end %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>

      <% if @events.hidden.any? %>
        <details class="w-100 left-align">
          <summary><h3 class="inline-block pb0 border-none">Hidden projects</h3></summary>
          <ul class="grid grid--narrow left-align mt0">
            <% @events.hidden.each do |event| %>
              <%= link_to event do %>
                <li class="card card--tall flex flex-column justify-between">
                  <strong class="h3 line-height-2 mb1"><%= event.name %></strong>
                  <div class="avatar-row">
                    <% event.organizer_positions.each do |position| %>
                      <%= avatar_for position.user, 24 %>
                    <% end %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </details>
      <% end %>

    <% end %>
    <% if @invites.any? %>
      <h2 class="w-100 left-align mt3 pb0 border-none">Your pending invitations</h2>
      <ul class="grid grid--narrow left-align w-100 mt0">
        <% @invites.each do |invite| %>
          <%= link_to invite do %>
            <li class="card card--item">
              <%= status_badge 'info' %>
              <strong><%= invite.event.name %></strong>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
    <% if @events.empty? && @invites.empty? && !current_user.admin? %>
      <%= blankslate 'No projects associated with your account.' %>
      <%= blankslate 'Perhaps reach out to a co-organizer to get added?' %>
    <% end %>
  <% end %>

  <% admin_tools('w-100 center mt3') do %>
    <h2>Daily tasks</h2>
    <ul class="grid grid--narrow left-align mt0">
      <%= card_to 'Pending tasks', admin_tasks_path %>
    </ul>
    <ul class="grid grid--narrow left-align w-100 mt0">
      <%= render partial: 'static_pages/card', locals: { task_path: emburse_card_requests_path, task_name: :emburse_card_requests, human_name: 'Card requests', count: @service.emburse_card_requests_count } %>
      <%= render partial: 'static_pages/card', locals: { task_path: emburse_transfers_path, task_name: :emburse_transfers_path, human_name: 'Transfer requests', count: @service.emburse_transfers_count  } %>
      <%= render partial: 'static_pages/card', locals: { task_path: checks_path, task_name: :checks, human_name: 'Checks', count: @service.checks_count } %>
      <%= render partial: 'static_pages/card', locals: { task_path: ach_transfers_path, task_name: :ach_transfers, human_name: 'ACH transfers', count: @service.ach_transfers_count } %>
      <%= render partial: 'static_pages/card', locals: { task_path: fee_reimbursements_path, task_name: :fee_reimbursements, human_name: 'Fee refunds', count: @service.fee_reimbursements_count } %>
      <%= render partial: 'static_pages/card', locals: { task_path: g_suites_path, task_name: :g_suites, human_name: 'G Suites', count: @service.g_suites_needs_ops_review_count } %>
      <%= render partial: 'static_pages/card', locals: { task_path: organizer_position_deletion_requests_path, task_name: :organizer_position_deletion_requests, human_name: 'Deletion requests', count: @service.organizer_position_deletion_requests_count } %>
      <%= render partial: 'static_pages/card', locals: { task_path: transactions_path, task_name: :transactions, human_name: 'Transactions', count: @service.transactions_count } %>
      <%#= react_component 'admin_task/Card', human_name: 'Transactions', task_name: :transactions, task_path: transactions_path %>

      <%= render partial: 'static_pages/card', locals: { task_path: pending_fees_path, task_name: :pending_fees, human_name: 'Fees', count: @service.pending_fees_count } %>
      <%= render partial: 'static_pages/card', locals: { task_path: pending_disbursements_path, task_name: :disbursements, human_name: 'Disbursements', count: @service.disbursements_count } %>
      <%= react_component 'admin_task/Card', human_name: 'Hackathons', task_name: :pending_hackathons_airtable, task_path: link_to_airtable_task(:hackathons) %>
      <%= react_component 'admin_task/Card', human_name: 'Grants', task_name: :pending_grant_airtable, task_path: link_to_airtable_task(:grant) %>
      <%= react_component 'admin_task/Card', human_name: 'StickerMule', task_name: :pending_stickermule_airtable, task_path: link_to_airtable_task(:stickermule) %>
      <%= react_component 'admin_task/Card', human_name: 'repl.it', task_name: :pending_replit_airtable, task_path: link_to_airtable_task(:replit) %>
      <%= react_component 'admin_task/Card', human_name: 'Sendy', task_name: :pending_sendy_airtable, task_path: link_to_airtable_task(:sendy) %>
      <%= render partial: 'static_pages/card', locals: { task_path: emburse_transactions_path, task_name: :emburse_transaction, human_name: 'Emburse transactions', count: @service.emburse_transactions_count } %>
      <%= react_component 'admin_task/Card', human_name: 'Wires', task_name: :wire_transfers, task_path: link_to_airtable_task(:wire_transfers) %> 
    </ul>

    <h2>Information</h2>
    <ul class="grid grid--narrow left-align w-100 mt0">
      <%= react_component "admin_task/Card", human_name: "Stripe TXs", task_path: stripe_authorizations_path %>
      <%= render partial: 'static_pages/card', locals: { task_path: events_path, human_name: 'Projects' } %>
      <%= render partial: 'static_pages/card', locals: { task_path: sponsors_path, human_name: 'Sponsors' } %>
      <%= render partial: 'static_pages/card', locals: { task_path: all_invoices_path, human_name: 'Invoices' } %>
      <%= render partial: 'static_pages/card', locals: { task_path: donations_path, human_name: 'Donations' } %>
      <%= render partial: 'static_pages/card', locals: { task_path: disbursements_path, human_name: 'Disbursements' } %>
      <%= render partial: 'static_pages/card', locals: { task_path: emburse_cards_path, human_name: 'Cards' } %>
      <%= render partial: 'static_pages/card', locals: { task_path: g_suite_accounts_path, human_name: 'G Suite accounts' } %>
      <%= render partial: 'static_pages/card', locals: { task_path: negative_events_path, human_name: 'Negative projects' } %>
      <%= render partial: 'static_pages/card', locals: { task_path: admin_search_path, human_name: 'Search by user' } %>
      <%= render partial: 'static_pages/card', locals: { task_path: 'https://hack.af/hcb-knowledgebase', human_name: 'Knowledgebase' } %>
    </ul>

    <h2>Other Tools</h2>
    <ul class="grid grid--narrow left-align w-100 mt0">
      <%= render partial: 'static_pages/card', locals: { task_path: bank_accounts_path, human_name: 'Bank accounts' } %>
      <%= render partial: 'static_pages/card', locals: { task_path: common_documents_path, human_name: 'Common docs' } %>
      <%= render partial: 'static_pages/card', locals: { task_path: new_bank_account_path, human_name: 'Setup HCB' } %>
      <%= card_to 'Export finances', export_finances_path, { method: :post } %>
      <%= render partial: 'static_pages/card', locals: { task_path: blazer_path, human_name: 'BI tool' } %>
    </ul>
    <p>
      <%= content_tag :strong, render_money(@transaction_volume) %>
      in transactions & counting…
    </p>
  <% end %>

  <%= link_to 'Sign in', auth_users_path, class: 'btn h2' unless signed_in? %>
</main>
