<% page_sm %>
<% @home_size = 128 %>
<% content_for(:page_class) { 'bg-snow pt4' } %>

<main class="flex flex-column items-center center pt3 pb3">
  <h1 class="heading flex-column items-center justify-center mt2">
    <span class="h3 caps slate block">Welcome to</span>
    <span class="primary">Hack Club Bank</span>
    <% if Rails.env.development? %>
    <span class="badge bg-accent h4 caps">Development Mode</span>
    <% end %>
  </h1>

  <% if signed_in? %>
    <% if @events.any? %>
      <h2 class="w-100 left-align mt3 pb0 border-none">Your events</h2>
      <ul class="grid grid--narrow left-align w-100 mt0">
        <% @events.each do |event| %>
          <%= link_to event do %>
            <li class="card card--tall flex flex-column justify-between">
              <strong class="h3 line-height-2 mb1"><%= event.name %></strong>
              <div class="flex" style="height: 24px; overflow-x: hidden;">
                <% event.organizer_positions.each do |position| %>
                  <%= avatar_for position.user, 24, class: 'mr1'%>
                <% end %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
    <% if @invites.any? %>
      <h2 class="w-100 left-align mt3 pb0 border-none">Your pending invitations</h2>
      <ul class="grid grid--narrow left-align w-100 mt0">
        <% @invites.each do |invite| %>
          <%= link_to invite do %>
            <li class="card card--item">
              <%= status_badge 'info' %>
              <strong><%= invite.event.name %></strong>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
    <% if @events.empty? && @invites.empty? && !current_user.admin? %>
      <%= blankslate 'No events associated with your account.' %>
      <%= blankslate 'Perhaps reach out to a co-organizer to get added?' %>
    <% end %>
  <% end %>

  <% admin_tools('w-100 mt3') do %>
    <h2 class="mt0 left-align pb0 border-none">Bank HQ</h2>
    <ul class="grid grid--narrow left-align w-100 mt0">
      <%= card_to 'Events', events_path %>
      <%= card_to 'Sponsors', sponsors_path %>
      <%= card_to 'Cards', cards_path %>
      <%= card_to 'Card Requests', card_requests_path, { badge: @active[:card_requests] } %>
      <%= card_to 'Transfer Requests', load_card_requests_path, { badge: @active[:load_card_requests] } %>
      <%= card_to 'G Suite Applications', g_suite_applications_path, { badge: @active[:g_suite_applications] } %>
      <%= card_to 'G Suite Accounts', g_suite_accounts_path, { badge: @active[:g_suite_accounts] } %>
      <%= card_to 'G Suites', g_suites_path %>
      <%= card_to 'Account Deletion Requests', organizer_position_deletion_requests_path, { badge: @active[:organizer_position_deletion_requests] } %>
      <%= card_to 'Transactions', BankAccount.instance, { badge: @active[:transactions] } %>
      <%= card_to 'Emburse Transactions', emburse_transactions_path, { badge: @active[:emburse_transactions] } %>
      <%= card_to 'Setup Bank', new_bank_account_path if BankAccount.instance.nil? %>
      <%= card_to 'Export Finances', export_finances_path, { method: :post } %>
    </ul>
    <p>
      <%= content_tag :strong, render_money(@transaction_volume) %>
      in transactions & counting…
    </p>
  <% end %>

  <% if signed_in? %>
    <%= link_to 'Sign out', logout_users_path, method: :delete, class: 'btn mt2' %>
  <% else %>
    <%= link_to 'Sign in', auth_users_path, class: 'btn h2' %>
  <% end %>
</main>
