<% title 'My cards' %>
<% page_md %>
<%= render 'users/nav' %>

<h1>Cards</h1>
<article class="grid">
<% @stripe_cards.each do |card| %>
  <%= link_to card, class: 'card card--hover' do %>
    <strong class="flex items-center black h3">
      <%= inline_icon 'card', size: 32, class: 'muted pr1' %>
      <%= card.last_four %>
    </strong>
    <span class="block muted h4">
      <%= card.event.name %>
    </span>
  <% end %>
<% end %>
</article>

<% if @emburse_cards.any? %>
  <h2 class="grid__fill mt3 mb2">Emburse cards</h2>
  <article class="grid">
  <% @emburse_cards.each do |card| %>
    <%= link_to card, class: 'card card--hover' do %>
      <strong class="flex items-center black h3">
        <%= inline_icon 'card', size: 32, class: 'purple pr1' %>
        <%= card.last_four %>
      </strong>
      <span class="block muted h4">
        <%= card.status_text %>
        –
        <%= card.event.name %>
      </span>
    <% end %>
  <% end %>
  </article>
<% end %>
