<% title 'My cards' %>
<% page_md %>
<%= render 'users/nav' %>

<h1>Cards</h1>

<%= async_frame_to my_cards_shipping_path %>

<article class="grid">
  <%= render @stripe_cards, headless: true %>
</article>

<%= async_frame_to my_stripe_authorizations_list_path %>

<% if @emburse_cards.any? %>
  <details class="mt3">
    <summary><h2 class="inline-block mt0">Emburse cards</h2></summary>
    <article class="grid">
      <%= render @emburse_cards, headless: true %>
    </article>
  </details>
<% end %>
