<% title "My receipts" %>
<% page_xl %>
<%= render "users/nav", selected: :receipts %>

<h1 class="heading">
  Receipt Center
  <%= badge_for @count %>
</h1>
<p class="muted h3">Manage your receipts and transactions awaiting receipts.</p>

<% if Flipper.enabled?(:receipt_bin_2023_04_07, current_user) %>

  <% if @pairings.any? %>

    <div class="card carousel__wrapper" style="overflow: unset;">
      <div style="background-color: #ec375044; margin: -16px; padding: 16px; margin-bottom: 0px; border-radius: 0.5rem 0.5rem 0rem 0rem;">
        <span tabindex="0" onclick="this.parentElement.parentElement.remove();" class="pointer">
          <%= inline_icon "view-close", size: 28, class: "pop modal__close muted  m0" %>
        </span>
        <div style="display: flex; padding-right: 32px;">
          <h2 class="h2 mt0 mb0 pb0 border-none"><%= inline_icon "rep", size: 36, style: "margin: -8px; margin-right: 0px;" %> Suggested pairing</h2>
          <span style="flex-grow: 1;"></span>
          <span style="line-height: 0px; display: flex; align-items: center;">
            <span>
              <span class="carousel__number">1</span>&nbsp;of&nbsp<%= @pairings.length %>
            </span>
          </span>

        </div>
      </div>

      <%= carousel @pairings do |pairing, i| %>
        <p>HCB thinks that one of your receipts, <strong><%= pairing.receipt.file.blob.filename %></strong>, belongs to a transaction in <strong><%= pairing.hcb_code.event.name %></strong>.</p>
        <div class="flex p1 justify-center">

          <div class="xs-hide sm-hide" style="user-drag: none; -webkit-user-drag: none; -moz-user-drag: none;">
            <%= render partial: "receipts/receipt", locals: { receipt: pairing.receipt, show_delete_button: true, link_to_file: true, hide_info: true, size: 200 } %>
          </div>

          <div class="flex flex-column justify-center xs-hide sm-hide" style="margin-left: 32px; margin-right: 32px; flex-grow: 0.5;">
            <%= image_tag asset_path("link-arrow.svg"), width: 200, height: 100, style: "object-fit: contain; width: auto; height: auto; max-width: 100%; max-height: 100px;" %>
          </div>

          <div class="flex flex-column justify-center" style="max-width: 100%;">
            <div class="card p0">
              <h2 class="heading line-height-4 p1 pl2 mt0 ml0 flex justify-between items-center">
                <%= pairing.hcb_code.stripe_card.event.name %>

                <%= link_to pairing.hcb_code.stripe_card, class: "regular h3 mention flex items-center" do %>
                  <%= inline_icon "card", class: "mr1", size: 25 %>
                  <%= pairing.hcb_code.stripe_card.last_four %>
                <% end %>
              </h2>

              <div class="table-container">
                <table>
                  <tbody data-behavior="transactions">
                    <% if pairing.hcb_code.canonical_transactions.any? %>
                      <% pairing.hcb_code.canonical_transactions.each do |ct| %>
                        <%= render partial: "canonical_transactions/canonical_transaction", locals: { ct:, force_display_details: true, hide_tags: true, show_event_name: true } %>
                      <% end %>
                    <% else %>
                      <% pairing.hcb_code.canonical_pending_transactions.each do |pt| %>
                        <%= render partial: "canonical_pending_transactions/canonical_pending_transaction", locals: { pt:, force_display_details: true, hide_tags: true, show_event_name: true } %>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>

        <div class="lg-hide m3"></div>

        <div class="flex flex-row justify-end" style="margin-top: -16px;">
          <%= link_to ignore_suggested_pairing_path(pairing), method: :post, class: "btn tooltipped tooltipped--n", "aria-label": "Ignore suggestion" do %>
            <%= inline_icon "view-close", size: 32 %>
            <span>Ignore</span>
          <% end %>

          <%= link_to accept_suggested_pairing_path(pairing), method: :post, class: "btn bg-success ml1 tooltipped tooltipped--n", "aria-label": "Link receipt to transaction" do %>
            <%= inline_icon "link", size: 32 %>
            <span>Accept</span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>

  <h2>
    Receipt Bin
  </h2>
  <!--
  <div class="<%= "mb3" unless @receipts.size == 0 %>">
    <%= form_with model: nil, url: my_receipts_upload_path(current_user), class: "flex flex-column justify-center my-inbox-dropzone", data: {
          controller: "file-drop form",
          action: "
            dragover->file-drop#dragover
            drop->file-drop#drop
            dragenter->file-drop#dragenter
            dragleave->file-drop#dragleave
          ",
          "file-drop-target" => "dropzone",
          "file-drop-title-value" => "Drop to add to Receipt Bin."
        } do |form| %>

      <div class="card flex flex-column">
        <div class="container container--sm">
          <div style="margin: 0px auto;">

            <%= form.hidden_field :redirect_url, value: url_for(only_path: false) %>
            <%= form.hidden_field :upload_method, value: "receipt_center", data: { "file-drop-target" => "uploadMethod" } %>

            <%= form.file_field :file,
              multiple: true,
              required: true,
              class: "display-none",
              accept: "image/*,image/heic,.pdf",
              data: {
                "file-drop-target" => "fileInput",
                "action"           => "change->form#submit"
              } %>

            <div class="mt2 flex justify-center">
              <%= form.label :file, class: "btn" do %>
                <%= inline_icon "share" %>
                <span>Upload receipt</span>
              <% end %>
            </div>

            <p class="center muted">Or drag & drop your receipt here.</p>

          </div>
        </div>
      </div>
    <% end %>
  </div>
  -->

  <%= render partial: "receipts/form_v3", locals: {
        upload_method: "receipt_center",
        restricted_dropzone: true
      } %>

  <% if @receipts.size == 0 %>
    <%= blankslate "Receipt Bin is empty." %>
  <% end %>

  <ul class="grid grid--medium-narrow left-align w-100 mt0">
    <% @receipts.each do |receipt| %>
      <li class="flex grid flex-column justify-between h-100 mx-auto">
        <%= render partial: "receipts/receipt", locals: { receipt:, show_delete_button: true, link_to_file: true } %>
      </li>
    <% end %>
  </ul>

<% end %>

<h2>
  Transactions
</h2>

<% @cards.each do |card| %>
  <section class="mb3 card p0 receipt-card">
    <h2 class="heading line-height-4 p1 pl2 mt0 ml0 flex justify-between items-center">
      <%= card.event.name %>

      <%= link_to card, class: "regular h3 mention flex items-center" do %>
        <%= inline_icon "card", class: "mr1", size: 25 %>
        <%= card.last_four %>
      <% end %>
    </h2>

    <div class="table-container">
      <table>
        <tbody data-behavior="transactions">
          <% @card_hcb_codes[card.to_global_id.to_s].each do |hcb_code| %>
            <% if hcb_code.canonical_transactions.any? %>
              <% hcb_code.canonical_transactions.each do |ct| %>
                <%= render partial: "canonical_transactions/canonical_transaction", locals: { ct:, force_display_details: true, receipt_upload_button: true, show_event_name: true } %>
              <% end %>
            <% else %>
              <% hcb_code.canonical_pending_transactions.each do |pt| %>
                <%= render partial: "canonical_pending_transactions/canonical_pending_transaction", locals: { pt:, force_display_details: true, receipt_upload_button: true, show_event_name: true } %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
<% end %>

<% if @count == 0 %>
  <%= blankslate "No missing receipts!" %>
<% end %>

<style>
  @media (min-width: 72em) {
    .receipt-card {
      max-width: calc(100vw - 20rem);
    }
  }
</style>

<%= paginate @hcb_codes %>
