<% title "Your reimbursements" %>
<% page_md %>
<%= render "users/nav", selected: :reimbursements %>

<h1 class="heading">
  <span>
    Reimbursements
  </span>

  <% if @payout_method.present? %>
    <%= link_to settings_payouts_path, class: "btn bg-muted" do %>
      <%= inline_icon @payout_method.icon %>
      Payout settings
    <% end %>
  <% else %>
    <%= link_to settings_payouts_path, class: "btn bg-warning" do %>
      <%= inline_icon "payment-docs" %>
      Configure payouts
    <% end %>
  <% end %>

  <%= link_to "#", class: "btn bg-success", data: { behavior: "modal_trigger", modal: "create" } do %>
    <%= inline_icon "plus" %>
    New
  <% end %>
</h1>

<%= render partial: "reimbursement/reports/create_form" %>

<div class="statset mt3 mb2">
  <div class="stat stat--small">
    <span class="stat__label">Total</span>
    <span class="stat__value">
      <%= render_money_amount(@reports.to_calculate_total.sum(&:amount_cents)) %>
    </span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">Reimbursed</span>
    <span class="stat__value">
      <%= render_money_amount(@reports.reimbursed.sum(&:amount_cents)) %>
    </span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">Pending</span>
    <span class="stat__value">
      <%= render_money_amount(@reports.draft.sum(&:amount_cents)) %>
    </span>
  </div>
</div>

<hr>

<div style="text-align: center;">
  <%= link_to "All", "?filter=all", class: "filterbar__item", "aria-selected": !["reimbursed", "pending", "rejected"].include?(params[:filter]), role: "tab" %>
  <%= link_to "Pending", "?filter=pending", class: "filterbar__item", "aria-selected": params[:filter] == "pending", role: "tab" %>
  <%= link_to "Reimbursed", "?filter=reimbursed", class: "filterbar__item", "aria-selected": params[:filter] == "reimbursed", role: "tab" %>
  <%= link_to "Rejected", "?filter=rejected", class: "filterbar__item", "aria-selected": params[:filter] == "rejected", role: "tab" %>
</div>

<%= form_with(model: nil, local: true, method: :get) do |form| %>
  <div class="filterbar flex flex-wrap items-center width-100">

    <%= form.text_field :q, placeholder: "Search…", class: "flex-auto md-mr2", style: "width auto; max-width: none;", value: params[:q] %>

  </div>
<% end %>

<% if @reports.blank? %>
  <%= blankslate "No reports found!" %>
<% else %>
  <article class="table-container">
    <table>
      <thead>
      <tr>
        <th>Status</th>
        <th>Report Name</th>
        <th>Event</th>
        <th>Amount</th>
        <th>Created</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <% @reports.order(created_at: :desc).each do |report| %>
          <tr>
            <td>
               <span class="ml0 badge bg-<%= report.status_color %>"><%= report.status_text %></span>
            </td>
            <td>
              <%= report.name %>
            </td>
            <td>
               <%= report.event.name %>
            </td>
            <td>
               <%= render_money [report.maximum_amount_cents, report.expenses.sum(:amount_cents)].compact_blank.min %>
            </td>
            <td>
               <%= format_date report.created_at %>
            </td>
            <td>
               <%= link_to "View", report %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </article>
<% end %>
