<tr
  class="transaction--<%= stripe_authorization.amount.negative? ? 'positive' : 'negative' %><%= ' muted' if stripe_authorization.pending? %>"
  data-behavior="filterbar_row"
  data-filter="<%= stripe_authorization.filter_data.to_json %>">
  <% unless defined? authorless %>
  <% if defined? @event %>
    <td
      class="transaction__icon tooltipped tooltipped--e"
      aria-label="Card transaction by <%= stripe_authorization.card.user.initial_name %>">
      <%= link_to stripe_authorization.card do %>
        <%= avatar_for stripe_authorization.card.user, 24 %>
      <% end %>
    </td>
  <% else %>
    <td>
      <%= stripe_card_mention stripe_authorization.card %>
    </td>
  <% end %>
  <% end %>
  <td>
    <%= stripe_authorization.created_at.to_date %>
  </td>
  <td>
    <% if stripe_authorization.pending? %>
      <i><%= stripe_authorization.name %> (pending)</i>
    <% else %>
      <%= stripe_authorization.name %>
    <% end %>
  </td>
  <td>
    <% if stripe_authorization.awaiting_receipt? %>
      <%= list_badge_for stripe_authorization.receipts.size, 'receipt', 'payment-docs', required: true %>
    <% end %>
  </td>
  <td class="nowrap">
    <%= render_money -stripe_authorization.amount %>
  </td>
  <% if organizer_signed_in? || !@event %>
    <td>
      <%= link_to 'Details', stripe_authorization %>
    </td>
  <% end %>
</tr>
  
