<tr
  class="transaction--<%= stripe_authorization.amount.negative? ? 'positive' : 'negative' %><%= ' muted' unless (stripe_authorization.status_text == 'Approved') %>"
  data-behavior="filterbar_row"
  data-filter="<%= stripe_authorization.filter_data.to_json %>">
  <% if defined? authorless %>
  <% else %>
  <% if defined? @event %>
    <td
      class="transaction__icon tooltipped tooltipped--e"
      aria-label="Card transaction by <%= stripe_authorization.card.user.initial_name %>">
      <%= link_to stripe_authorization.card do %>
        <%= avatar_for stripe_authorization.card.user, 24 %>
      <% end %>
    </td>
  <% else %>
    <td>
      <%= stripe_card_mention stripe_authorization.card %>
    </td>
  <% end %>
  <% end %>
  <td>
    <%= stripe_authorization.created_at.to_date %>
  </td>
  <td class="transaction__memo">
    <span>
    <% if stripe_authorization.status_text == 'Approved' %>
      <%= stripe_authorization.name.humanize %>
    <% else %>
      <i><%= stripe_authorization.name.humanize %> (<%= stripe_authorization.status_text%>)</i>
    <% end %>
    </span>
    <%= list_badge_for stripe_authorization.receipts.size, 'receipt', 'payment-docs', required: stripe_authorization.awaiting_receipt? %>
  </td>
  <td class="nowrap">
    <span class="<%= 'strikethrough' unless stripe_authorization.approved?%>">
      <%= render_money -stripe_authorization.amount %>
    </span>
  </td>
  <% if organizer_signed_in? || !@event %>
    <td>
      <%= link_to 'Details', stripe_authorization %>
    </td>
  <% end %>
</tr>
  
