<tr
  class="transaction--<%= stripe_authorization.amount.negative? ? 'positive' : 'negative' %><%= ' muted' if stripe_authorization.pending? %>"
  data-behavior="filterbar_row"
  data-filter="<%= stripe_authorization.filter_data.to_json %>">
  <% if defined? @event %>
    <td
      class="transaction__icon tooltipped tooltipped--e"
      aria-label="Card transaction by <%= stripe_authorization.card.user.initial_name %>">
      <%= avatar_for stripe_authorization.card.user, 24 %>
    </td>
  <% else %>
    <td>
      <%= stripe_card_mention stripe_authorization.card %>
    </td>
  <% end %>
  <td>
    <%= stripe_authorization.created_at.to_date %>
  </td>
  <td class="flex justify-between">
    <% if stripe_authorization.pending? %>
      <i><%= stripe_authorization.name %> (pending)</i>
    <% else %>
      <%= stripe_authorization.name %>
    <% end %>
  </td>
  <td></td>
  <td class="nowrap">
    <%= render_money -stripe_authorization.amount %>
  </td>
  <td>
    <%= link_to 'Details', defined?(@event) ? event_stripe_authorization_path(@event, stripe_authorization) : stripe_authorization if organizer_signed_in? %>
  </td>
</tr>
  
