<% title "Transaction for #{render_money @stripe_authorization.amount}" %>
<% page_md %>

<%= render 'events/nav' %>

<% admin_tools('mt3 mb0') do %>
  <%= link_to 'All stripe authorizations', stripe_authorizations_path, class: 'breadcrumb' %>
<% end %>

<%= creator_bar @stripe_authorization, prefix: 'spent ' %>
<article class="card mb3">
  <h1 class="h1 border-none mt0 mb0">
    <%= @stripe_authorization.name %>
  </h1>
  <p class="h5 muted flex items-center mt0 mb2">
    <%= inline_icon 'map-app', size: 24, class: 'mr1' %>
    <%= @stripe_authorization.merchant_data[:city].capitalize + ', ' if @stripe_authorization.merchant_data[:city].present? %>
    <%= @stripe_authorization.merchant_data.to_hash.slice(:state, :country, :postal_code).values.reject(&:blank?).join(', ') %>
  </p>
  <section class="card__banner card__darker statset border-top border-bottom">
    <div class="stat">
      <span class="stat__label">Amount</span>
      <span class="stat__value<%= ' strikethrough' unless @stripe_authorization.approved? %>"><%= render_money_amount -@stripe_authorization.amount %></span>
    </div>
    <div class="stat stat--small stat--plain">
      <span class="stat__label">Card</span>
      <span class="stat__value">
        <%= stripe_card_mention @stripe_authorization.stripe_card, size: 32 %>
      </span>
    </div>
  </section>
  <section class="details pt2">
    <p>
      <strong>Spent at</strong>
      <%= format_datetime @stripe_authorization.created_at %>
    </p>
    <p>
      <strong>Status</strong>
      <%= @stripe_authorization.status_text %>
    </p>
    <p>
      <strong>Type</strong>
      <%= @stripe_authorization.authorization_method_text %>
    </p>
  </section>
  <% if @stripe_authorization.receipts.any? %>
    <p class="card__banner card__banner--bottom bg-success white bold flex items-center">
      <%= inline_icon 'checkmark', size: 24, class: 'mr2' %>
      <%= pluralize @stripe_authorization.receipts.count, 'receipt' %>
      added
    </p>
  <% elsif @stripe_authorization.no_or_lost_receipt? %>
    <p class="card__banner card__banner--bottom bg-muted white bold flex items-center">
      <%= inline_icon 'view-close', size: 24, class: 'mr2' %>
      Marked no/lost receipt
    </p>
  <% else %>
    <p class="card__banner card__banner--bottom bg-pending slate bold flex items-center">
      <%= inline_icon 'important', size: 24, class: 'mr2' %>
      This transaction is missing a receipt
    </p>
  <% end %>
</article>

<% if @stripe_authorization.receipts.any? && organizer_signed_in? %>
<h2>Receipts</h2>
<section class="grid grid--split mt2 mb3">
  <%= render @stripe_authorization.receipts %>
  <%= render 'receipts/upload', receiptable: @stripe_authorization %>
</section>
<% else %>
  <%= render 'receipts/upload', receiptable: @stripe_authorization %>
<% end %>

<% if organizer_signed_in? %>
  <%= render 'comments/comments', commentable: @stripe_authorization %>
<% end %>

<%= render partial: 'admin_viewer', locals: { record: @stripe_authorization} %>
