<%# locals: (announcement:, show_event: false) %>

<div class="card flex flex-col gap-2 <%= "border-warning border-solid" if announcement.draft? %> w-full">
  <% if show_event %>
    <%= link_to announcement.event.name, event_announcement_overview_path(announcement.event) %>
  <% end %>
  <div class="flex items-center justify-between">
    <h2 class="font-bold text-2xl my-0 no-underline text-white">
      <% if announcement.draft? %>
        <span class="text-orange border-orange rounded-full border-solid border-[1px] text-sm p-[6px] mr-1 no-underline">Draft</span>
      <% end %>
      <%= link_to announcement.title, announcement_path(announcement), class: "font-bold no-underline text-black dark:text-smoke hover:underline" %>
    </h2>
    <% if organizer_signed_in?(as: :member) && !show_event %>
      <div class="flex gap-2">
        <% if announcement.draft? %>
          <%= pop_icon_to "send", publish_announcement_path(announcement), data: { turbo_confirm: "Are you sure you would like to publish this announcement and notify #{announcement.event.followers.size} #{"follower".pluralize(announcement.event.followers.size)}?", turbo_method: :post }, class: "tooltipped success", "aria-label": "Publish draft", disabled: !policy(announcement).publish? %>
        <% end %>
        <%= pop_icon_to "edit", edit_announcement_path(announcement), class: "tooltipped", "aria-label": "Edit announcement", disabled: !policy(announcement).edit? %>
        <%= pop_icon_to "delete", announcement_path(announcement), data: { turbo_confirm: "Are you sure you would like to delete this announcement?", turbo_method: :delete }, class: "error tooltipped", "aria-label": "Delete announcement", disabled: !policy(announcement).destroy? %>
      </div>
    <% end %>
  </div>
  <p class="italic my-0">
    <%= announcement.draft? ? "Drafted" : "Published" %> by <%= user_mention announcement.author %> on <%= (announcement.draft? ? announcement.created_at : announcement.published_at).strftime("%B %e, %Y") %>
  </p>
  <hr class="my-1 dark:!border-slate border-smoke">

  <%= render partial: "announcements/announcement_body", locals: { announcement: } %>
</div>
