<%# locals: (event:) %>

<div class="flex items-center gap-2">
  <div id="format-menus"></div>
  <div data-controller="menu" data-menu-append-to-value="#format-menus">
    <button
      data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown"
      data-menu-target="toggle"
      class="border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md font-bold flex gap-1"
      type="button">
      H <%= inline_icon "down-caret", size: 18 %>
    </button>

    <div data-menu-target="content" class="menu__content menu__content--2 menu__content--compact">
      <button data-action="tiptap#h1" type="button" class="border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md">Large</button>
      <button data-action="tiptap#h2" type="button" class="border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md">Medium</button>
      <button data-action="tiptap#h3" type="button" class="border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md">Small</button>
    </div>
  </div>

  <button data-action="tiptap#bold" type="button" class="border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md font-bold">B</button>
  <button data-action="tiptap#italic" type="button" class="border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md italic">I</button>
  <button data-action="tiptap#underline" type="button" class="border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md underline">U</button>
  <button data-action="tiptap#strike" type="button" class="border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md line-through">S</button>

  <button data-action="tiptap#link" type="button" class="border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md"><%= inline_icon "link", size: 18 %></button>

  <div data-controller="menu" data-menu-append-to-value="#format-menus">
    <button
      data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown"
      data-menu-target="toggle"
      class="border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md font-mono flex gap-1"
      type="button">
      Code <%= inline_icon "down-caret", size: 18 %>
    </button>

    <div data-menu-target="content" class="menu__content menu__content--compact">
      <button data-action="tiptap#code" type="button" class="border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md">Inline</button>
      <button data-action="tiptap#codeBlock" type="button" class="border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md">Block</button>
    </div>
  </div>

  <div data-controller="menu" data-menu-append-to-value="#format-menus">
    <button
      data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown"
      data-menu-target="toggle"
      class="border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md flex gap-1"
      type="button">
      List <%= inline_icon "down-caret", size: 18 %>
    </button>

    <div data-menu-target="content" class="menu__content menu__content--compact">
      <button data-action="tiptap#bulletList" type="button" class="border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md">Bullet</button>
      <button data-action="tiptap#orderedList" type="button" class="border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md">Ordered</button>
    </div>
  </div>

  <button data-action="tiptap#blockQuote" type="button" class="border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md"><%= inline_icon "quote", size: 18 %></button>
  <button data-action="tiptap#image" type="button" class="border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md"><%= inline_icon "photo", size: 18 %></button>

  <div data-controller="menu" data-menu-append-to-value="#format-menus">
    <button
      data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown"
      data-menu-target="toggle"
      class="border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md flex gap-1"
      type="button">
      HCB <%= inline_icon "down-caret", size: 18 %>
    </button>

    <div data-menu-target="content" class="menu__content menu__content--compact">
      <% if event.donation_goal.present? %>
        <button data-action="tiptap#donationGoal" type="button" class="block border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md">Donation Goal</button>
      <% end %>
      <button data-action="tiptap#hcbCode" type="button" class="block border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md">Transaction</button>
      <button data-action="tiptap#donationSummary" type="button" class="block border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md">Donation Summary</button>
      <button data-action="tiptap#topMerchants" type="button" class="block border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md">Top Merchants</button>
      <button data-action="tiptap#topCategories" type="button" class="block border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md">Top Categories</button>
      <button data-action="tiptap#topTags" type="button" class="block border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md">Top Tags</button>
      <button data-action="tiptap#topUsers" type="button" class="block border-0 bg-transparent hover:!bg-smoke dark:hover:!bg-dark px-2 py-1 rounded-md">Top Users</button>
    </div>
  </div>
</div>
