<p>Hi <%= @recurring_donation.name %>,</p>

<p>Your monthly donation to <strong><%= @recurring_donation.event.name %></strong> was just changed from <%= render_money @previous_amount %> per month to <strong><%= render_money @recurring_donation.amount %> per month</strong>.</p>

<p>If you didn't make this change, please cancel your donation by clicking <%= link_to "this link", recurring_donation_url(@recurring_donation.url_hash) %>.</p>

<p>
  Best regards,<br>
  The HCB Team
</p>
