<b>Date:</b> <%= @transaction.date %><br />
<b>Name:</b> <%= @transaction.name %><br />
<b>Amount:</b> <%= render_money @transaction.amount %><br />
<hr>
<b><%= link_to 'Click Here To Edit Transaction', @transaction %></b>
<hr>
<p>Full transaction info below:</p>
<pre>
<%= JSON.pretty_generate(JSON.parse(@transaction.to_json)) %>
</pre>
