<tr class="muted transaction--<%= pt.amount.negative? ? "negative" : "positive" %>">
  <% if pt.raw_pending_outgoing_check_transaction_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Outgoing check">
      <%= inline_icon "payment-transfer" %>
    </td>
  <% elsif pt.raw_pending_outgoing_ach_transaction_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Outgoing ACH">
      <%= inline_icon "payment-transfer" %>
    </td>
  <% elsif pt.raw_pending_invoice_transaction_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Invoice">
      <%= inline_icon "briefcase" %>
    </td>
  <% elsif pt.raw_pending_donation_transaction_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Donation">
      <%= inline_icon "support" %>
    </td>
  <% elsif pt.raw_pending_stripe_transaction_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Card transaction">
      <% if pt.stripe_cardholder %>
        <%= avatar_for pt.stripe_cardholder.user, 24 %>
      <% else %>
        <%= inline_icon "card" %>
      <% end %>
    </td>
  <% elsif pt.raw_pending_bank_fee_transaction_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Hack Club Bank Fee payment">
      <%= inline_icon "minue" %>
    </td>
  <% else %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Other">
    </td>
  <% end %>
  <td>
    <%= pt.date %>
  </td>
  <td class="transaction__memo">
    <span>
      PENDING: <%= pt.display_name %>
    </span>

    <% if pt.local_hcb_code %>
      <%= list_badge_for pt.local_hcb_code.receipts.size, "receipt", "payment-docs", optional: true %>
      <%= list_badge_for pt.local_hcb_code.comments.size, "note", "post", optional: true %>
    <% end %>
  </td>
  <td class="nowrap">
    <%= number_to_currency pt.amount %>
  </td>
  <td>
    <%= link_to "Details", pt.url if organizer_signed_in? %>
  </td>
</tr>
