<tr
  class="transaction--<%= pt.amount.negative? ? "negative" : "positive" %> muted"
  id="<%= pt.local_hcb_code.hashid %>"
  <% if defined?(receipt_upload_button) %>
    data-controller="file-drop"
    data-file-drop-target="dropzone"
    data-action="
      dragover->file-drop#dragover
      drop->file-drop#drop
      dragenter->file-drop#dragenter
      dragleave->file-drop#dragleave
    "
  <% end %>>
  <% if pt.raw_pending_outgoing_check_transaction_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Outgoing check">
      <%= inline_icon "payment-transfer" %>
    </td>
  <% elsif pt.raw_pending_outgoing_ach_transaction_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Outgoing ACH">
      <%= inline_icon "payment-transfer" %>
    </td>
  <% elsif pt.raw_pending_invoice_transaction_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Invoice">
      <%= inline_icon "briefcase" %>
    </td>
  <% elsif pt.raw_pending_donation_transaction_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Donation">
      <%= inline_icon "support" %>
    </td>
  <% elsif pt.raw_pending_stripe_transaction_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Card transaction<%= !defined?(authorless) && pt.stripe_cardholder ? ' by ' + pt.stripe_cardholder.user.initial_name : '' %>">
      <% unless defined?(authorless) || !pt.stripe_cardholder %>
        <%= avatar_for pt.stripe_cardholder.user, 24 %>
      <% else %>
        <%= inline_icon "card" %>
      <% end %>
    </td>
  <% elsif pt.raw_pending_bank_fee_transaction_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Hack Club Bank Fee payment">
      <%= inline_icon "minus-fill" %>
    </td>
  <% elsif pt.raw_pending_incoming_disbursement_transaction_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Incoming transfer">
      <%= inline_icon "plus-fill" %>
    </td>
  <% elsif pt.raw_pending_outgoing_disbursement_transaction_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Outgoing transfer">
      <%= inline_icon "minus-fill" %>
    </td>
  <% else %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Other">
    </td>
  <% end %>
  <td>
    <%= pt.date %>
  </td>
  <td class="transaction__memo">
    <div>
      <div class="flex-auto">
        <div class="flex items-center justify-start">
          <span title="<%= pt.local_hcb_code.memo %>">
            <% if pt.declined? %>
              DECLINED:
            <% else %>
              PENDING:
            <% end %>
            <%= pt.local_hcb_code.memo %>
          </span>

          <% if !defined?(receipt_upload_button) && organizer_signed_in? && Flipper.enabled?(:transaction_tags_2022_07_29, @event || pt.local_hcb_code.event) %>
            <div class="overflow-visible relative" style="margin-left: 0.5rem;" data-controller="menu" data-menu-append-to-value="turbo-frame#ledger">
              <button class="list-badge add-tag-badge ml0 menu__toggle menu__toggle--arrowless" data-menu-target="toggle" data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown">+ Add tag</button>
              <div class="menu__content menu__content--2 menu__content--compact menu__content--left h6" data-menu-target="content">
                <% (@event || pt.local_hcb_code.event).tags.each do |tag| %>
                  <div class="flex items-center">
                    <%= button_to toggle_tag_hcb_code_path(id: pt.local_hcb_code.hashid, tag_id: tag.id), class: "menu__action", form_class: "flex-auto", form: { "data-turbo" => "true" } do %>
                      <%= "✓" if pt.local_hcb_code.tags.include?(tag) %>

                      <%= tag.label %>
                    <% end %>
                    <%= button_to event_tag_path(@event || pt.local_hcb_code.event, tag), class: "menu__action", method: :delete, title: "Delete this tag", form: { "data-turbo" => "true", "data-turbo-confirm" => tag.removal_confirmation_message } do %>
                      <%= inline_icon "delete", size: 16, style: "margin: 0" %>
                    <% end %>
                  </div>
                <% end %>
                <% if (@event || pt.local_hcb_code.event).tags.any? %>
                  <div class="menu__divider"></div>
                <% end %>
                <%= form_with url: event_tags_path(@event || pt.local_hcb_code.event), data: { turbo: true } do |form| %>
                  <%= form.hidden_field :hcb_code_id, value: pt.local_hcb_code.hashid %>
                  <%= form.text_field :label, data: { "behavior" => (@event || pt.local_hcb_code.event).tags.none? ? "autofocus" : "" }, class: "menu__input", placeholder: "+ Create tag", autocomplete: "off", required: true %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

        <% if Flipper.enabled?(:transaction_tags_2022_07_29, @event) %>
          <div class="flex flex-wrap" style="gap: 0.25rem">
            <% pt.local_hcb_code.tags.filter {|tag| !@event || tag.event == @event}.each do |tag| %>
              <div class="badge tx-tag m0 shrink-none flex items-center">
                <%= tag.label %>
                <% if organizer_signed_in? %>
                  <%= button_to toggle_tag_hcb_code_path(id: pt.local_hcb_code.hashid, tag_id: tag.id), class: "p0 line-height-0 bg-transparent border-none cursor-pointer link-reset", form_class: "line-height-0", form: { "data-turbo" => "true" } do %>
                    <%= inline_icon "view-close", size: 16 %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <% if pt.local_hcb_code %>
        <%= list_badge_for pt.local_hcb_code.receipts.size, "receipt", "payment-docs", optional: !pt.raw_pending_stripe_transaction_id, required: pt.raw_pending_stripe_transaction_id && !pt.local_hcb_code.no_or_lost_receipt? && !pt.declined? %>
        <%= list_badge_for admin_signed_in? ? pt.local_hcb_code.comments.size : pt.local_hcb_code.not_admin_only_comments_count, "note", "post", optional: true %>
      <% end %>
    </div>
  </td>
  <td class="nowrap<%= " strikethrough" if pt.declined? %><%= " italic" if pt.unsettled? %>">
    <%= number_to_currency pt.amount %>
  </td>
  <td>
    <%= link_to "Details", pt.url, data: { turbo_frame: "_top" } if organizer_signed_in? || defined?(force_display_details) %>
  </td>
  <% if defined?(receipt_upload_button) %>
    <td style="width: 1%">
      <%= form_with url: receipt_hcb_code_path(pt.local_hcb_code), data: { controller: "submit-form", "file-drop-target" => "form" } do |form| %>
        <%= form.file_field :file, id: "file_#{pt.local_hcb_code.hashid}", multiple: true, required: true, class: "display-none", data: { action: "change->submit-form#submit", "file-drop-target" => "fileInput" } %>
        <%= form.hidden_field :redirect_url, value: my_inbox_path %>
        <%= form.hidden_field :show_link, value: true %>
        <%= form.hidden_field :upload_method, value: "receipts_page", data: { "file-drop-target" => "uploadMethod" } %>
        <%= form.label "file_#{pt.local_hcb_code.hashid}", class: "btn", style: "font-size: 0.875rem; font-weight: 600; padding: 0.25rem 1rem;" do %>
          <%= inline_icon 'plus' %>
          Add a receipt
        <% end %>
      <% end %>
    </td>
  <% end %>
</tr>
