<tr
  class="transaction--<%= pt.amount.negative? ? "negative" : "positive" %> muted"
  id="<%= pt.local_hcb_code.hashid %>"
  <% if defined?(receipt_upload_button) %>
    data-controller="file-drop"
    data-file-drop-target="dropzone"
    data-file-drop-linking-value="true"
    data-file-drop-modal-value="<%= link_receipts_path %>"
    data-file-drop-receiptable-value="HcbCode:<%= pt.local_hcb_code.id %>"
    data-action="
      dragover->file-drop#dragover
      drop->file-drop#drop
      dragenter->file-drop#dragenter
      dragleave->file-drop#dragleave
    "
  <% end %>>
  <% if pt.raw_pending_outgoing_check_transaction_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Outgoing check">
      <%= inline_icon "payment-transfer" %>
    </td>
  <% elsif pt.increase_check_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Mailed check">
      <%= inline_icon "email" %>
    </td>
  <% elsif pt.check_deposit_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Check deposit">
      <%= inline_icon "payment-docs" %>
    </td>
  <% elsif pt.raw_pending_outgoing_ach_transaction_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Outgoing ACH">
      <%= inline_icon "payment-transfer" %>
    </td>
  <% elsif pt.raw_pending_invoice_transaction_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Invoice">
      <%= inline_icon "briefcase" %>
    </td>
  <% elsif pt.raw_pending_donation_transaction_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Donation">
      <%= inline_icon "support" %>
    </td>
  <% elsif pt.raw_pending_stripe_transaction_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Card transaction<%= !defined?(authorless) && pt.stripe_cardholder ? " by " + pt.stripe_cardholder.user.initial_name : "" %>">
      <% unless defined?(authorless) || !pt.stripe_cardholder %>
        <%= avatar_for pt.stripe_cardholder.user, 24 %>
      <% else %>
        <%= inline_icon "card" %>
      <% end %>
    </td>
  <% elsif pt.raw_pending_bank_fee_transaction_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Hack Club Bank Fee payment">
      <%= inline_icon "minus-fill" %>
    </td>
  <% elsif pt.raw_pending_incoming_disbursement_transaction_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Incoming transfer">
      <%= inline_icon "plus-fill" %>
    </td>
  <% elsif pt.raw_pending_outgoing_disbursement_transaction_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Outgoing transfer">
      <%= inline_icon "minus-fill" %>
    </td>
  <% elsif pt.ach_payment_id %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Incoming bank transfer">
      <%= inline_icon "bank-account" %>
    </td>
  <% else %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Other">
    </td>
  <% end %>
  <td>
    <%= pt.date %>
  </td>
  <td class="transaction__memo">
    <div>
      <div class="flex-auto">
        <div class="flex items-center justify-start">
          <%= turbo_frame_tag "#{pt.local_hcb_code.hashid}:memo_frame", class: "memo-frame flex", style: "width:100%; overflow:hidden; text-overflow:ellipsis" do %>
            <span title="<%= pt.local_hcb_code.memo %>">
              <% if pt.declined? %>
                DECLINED:
              <% else %>
                PENDING:
              <% end %>

              <%= pt.local_hcb_code.memo %>
            </span>

            <% if pt.amount_cents.negative? && name_contains_emoji?(pt.local_hcb_code.memo) %>
              <% admin_tools("memo-frame__ai-button badge m0 ml1 p0 overflow-visible") do %>
                <a href="<%= memo_frame_hcb_code_path(pt.local_hcb_code, gen_memo: true) %>"
                   style="padding: 4px 6px"
                   data-turbo="true"
                   class="link-reset">
                  ✨ AI Rename
                </a>
              <% end %>
            <% end %>
          <% end %>

          <% if !defined?(receipt_upload_button) && organizer_signed_in? && Flipper.enabled?(:transaction_tags_2022_07_29, @event || pt.local_hcb_code.event) %>
            <div class="overflow-visible relative" style="margin-left: 0.5rem;" data-controller="menu" data-menu-append-to-value="turbo-frame#ledger">
              <button class="list-badge add-tag-badge ml0 menu__toggle menu__toggle--arrowless" data-menu-target="toggle" data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown">+ Add tag</button>
              <div class="menu__content menu__content--2 menu__content--compact menu__content--left h6" data-menu-target="content">
                <% (@event || pt.local_hcb_code.event).tags.each do |tag| %>
                  <div class="flex items-center">
                    <%= button_to toggle_tag_hcb_code_path(id: pt.local_hcb_code.hashid, tag_id: tag.id), class: "menu__action", form_class: "flex-auto", form: { "data-turbo" => "true" } do %>
                      <%= "✓" if pt.local_hcb_code.tags.include?(tag) %>

                      <%= tag.label %>
                    <% end %>
                    <%= button_to event_tag_path(@event || pt.local_hcb_code.event, tag), class: "menu__action", method: :delete, title: "Delete this tag", form: { "data-turbo" => "true", "data-turbo-confirm" => tag.removal_confirmation_message } do %>
                      <%= inline_icon "delete", size: 16, style: "margin: 0" %>
                    <% end %>
                  </div>
                <% end %>
                <% if (@event || pt.local_hcb_code.event).tags.any? %>
                  <div class="menu__divider"></div>
                <% end %>
                <%= form_with url: event_tags_path(@event || pt.local_hcb_code.event), data: { turbo: true } do |form| %>
                  <%= form.hidden_field :hcb_code_id, value: pt.local_hcb_code.hashid %>
                  <%= form.text_field :label, data: { "behavior" => (@event || pt.local_hcb_code.event).tags.none? ? "autofocus" : "" }, class: "menu__input", placeholder: "+ Create tag", autocomplete: "off", required: true %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

        <% if Flipper.enabled?(:transaction_tags_2022_07_29, @event) %>
          <div class="flex flex-wrap" style="gap: 0.25rem">
            <% pt.local_hcb_code.tags.filter { |tag| !@event || tag.event == @event }.each do |tag| %>
              <div class="badge tx-tag m0 shrink-none flex items-center">
                <%= tag.label %>
                <% if organizer_signed_in? %>
                  <%= button_to toggle_tag_hcb_code_path(id: pt.local_hcb_code.hashid, tag_id: tag.id), class: "p0 line-height-0 bg-transparent border-none cursor-pointer link-reset", form_class: "line-height-0", form: { "data-turbo" => "true" } do %>
                    <%= inline_icon "view-close", size: 16 %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <% if pt.local_hcb_code %>
        <%= list_badge_for pt.local_hcb_code.receipts.size, "receipt", "payment-docs", optional: !pt.raw_pending_stripe_transaction_id, required: pt.local_hcb_code.needs_receipt? %>
        <%= list_badge_for admin_signed_in? ? pt.local_hcb_code.comments.size : pt.local_hcb_code.not_admin_only_comments_count, "note", "post", optional: true %>
      <% end %>
    </div>
  </td>
  <td class="nowrap<%= " strikethrough" if pt.declined? %><%= " italic" if pt.unsettled? %>">
    <%= number_to_currency pt.amount %>
  </td>
  <% if @show_running_balance %>
    <td></td>
  <% end %>
  <td>
    <%= link_to "Details", pt.url, data: { turbo_frame: "_top" } if organizer_signed_in? || defined?(force_display_details) %>
  </td>
  <% if defined?(receipt_upload_button) %>
    <td style="width: 1%">
      <% if pt.local_hcb_code.needs_receipt? %>
        <%= form_with url: upload_receipts_path, data: { controller: "form", "file-drop-target" => "form" } do |form| %>
          <%= form.file_field :file, id: "file_#{pt.local_hcb_code.hashid}", multiple: true, required: true, class: "display-none", data: { action: "change->form#submit", "file-drop-target" => "fileInput" } %>
          <%= form.hidden_field :redirect_url, value: @card_grant ? card_grant_path(@card_grant) : my_inbox_path %>
          <% unless @card_grant.present? %>
            <%= form.hidden_field :show_link, value: true %>
          <% end %>
          <%= form.hidden_field :receiptable_type, value: pt.local_hcb_code.class %>
          <%= form.hidden_field :receiptable_id, value: pt.local_hcb_code.id %>
          <%= form.hidden_field :upload_method, value: "receipts_page", data: { "file-drop-target" => "uploadMethod" } %>
          <div class="<%= "btn-group" if Flipper.enabled?(:receipt_bin_2023_04_07, current_user) %>">
            <%= form.label "file_#{pt.local_hcb_code.hashid}", class: "btn", style: "font-size: 0.875rem; font-weight: 600; padding: 0.25rem 1rem;" do %>
              <%= inline_icon "share" %>
              Upload receipt
            <% end %>

            <% if Flipper.enabled?(:receipt_bin_2023_04_07, current_user) %>
              <%= link_to my_receipts_upload_path, class: "btn bg-primary", style: "font-size: 0.875rem; font-weight: 600; padding: 0.25rem 1rem;", data: { behavior: "modal_trigger", modal: "link_receipt" } do %>
                <%= inline_icon "payment-docs" %>
                <span>Select</span>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </td>

    <% if Flipper.enabled?(:receipt_bin_2023_04_07, current_user) %>
      <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="link_receipt">
        <%= modal_header "Select receipt" %>
        <%= async_frame_to link_modal_receipts_path(receiptable_type: "HcbCode", receiptable_id: pt.local_hcb_code.id), as: :span do %>
          <strong>Loading...</strong>
        <% end %>
      </section>
    <% end %>
  <% end %>
</tr>
