<% title "Rename transaction for #{@canonical_pending_transaction.amount}" %>
<% page_sm %>

<%= render "events/nav" if @event %>

<h1 class="h1">
  Rename <%= render_money @canonical_pending_transaction.amount_cents %> <%= @canonical_pending_transaction.fee_payment? ? "fee payment" : "transaction" %>
</h1>

<% admin_tool("mb1") do %>
  <strong>Original transaction memo</strong>
  <pre class="bg-smoke mt0"><%= organizer_signed_in? ? @canonical_pending_transaction.memo : "REDACTED– SIGN IN TO REVEAL" %></pre>
<% end %>

<strong>Pending transaction memo</strong>
<pre class="bg-smoke mt0"><%= organizer_signed_in? ? @canonical_pending_transaction.friendly_memo : "REDACTED– SIGN IN TO REVEAL" %></pre>

<%= form_with(model: @canonical_pending_transaction) do |form| %>
  <div class="field">
    <%= form.label :custom_memo, "Custom Memo" %>
    <%= form.text_field :custom_memo, list: "custom-memos", placeholder: @canonical_pending_transaction.smart_memo, autofocus: true %>
    <datalist id='custom-memos'>
      <%= @suggested_memos.each do |s_memo| %>
        <option><%= s_memo %></option>
      <% end %>
    </datalist>
    <span class="muted block h5">
      Give this transaction a more descriptive memo to improve your records.
    </span>
  </div>

  <% admin_tool do %>
    <div class="field field--checkbox">
      <%= form.check_box :fronted %>
      <%= form.label :fronted, "Fronted" %>
    </div>

    <% if @canonical_pending_transaction.amount_cents > 0 %>
      <div class="field field--checkbox">
        <%= form.check_box :fee_waived %>
        <%= form.label :fee_waived, "Fee waived?" %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit "Rename", disabled: !current_user %>
  </div>
<% end %>
