<% title "Pending transaction for #{@canonical_pending_transaction.amount}" %>
<% page_sm %>

<%= render 'events/nav' if @event %>

<article class="card mt2">
  <h1 class="heading h1 mt0 mb0">
    <span class="flex-auto">
      Pending Transaction
    </span>
    <span class="h2 regular">
      <%= @canonical_pending_transaction.amount %>
    </span>
  </h1>

  <div class="flex items-center mb2">
    <p class="flex-auto mr1 mb0">
      <strong class="block">Memo</strong>
      <span>
        <%= @canonical_pending_transaction.smart_memo %>
      </span>
    </p>
  </div>

  <section class="details">
    <p>
      <strong>Date</strong>
      <%= format_date @canonical_pending_transaction.date.to_date %>
    </p>

    <% if @canonical_pending_transaction&.ach_transfer %>
    <p>
      <strong>For</strong>
      <span>
      <%= link_to "A transfer of #{render_money @canonical_pending_transaction.ach_transfer.amount}", @canonical_pending_transaction.ach_transfer %>
      </span>
    </p>
    <% end %>

    <% if @canonical_pending_transaction&.check %>
    <p>
      <strong>For</strong>
      <span>
      <%= link_to "A check of #{render_money @canonical_pending_transaction.check.amount}", @canonical_pending_transaction.check %>
      </span>
    </p>
    <% end %>

    <% if @canonical_pending_transaction&.invoice %>
      <p>
        <strong>For</strong>
        <%= link_to "Invoice of #{render_money @canonical_pending_transaction.invoice.item_amount}", invoice_path(@canonical_pending_transaction.invoice) %>
      </p>
    <% end %>

    <% if @canonical_pending_transaction&.donation %>
      <p>
        <strong>For</strong>
        <%= link_to "A donation of #{render_money @canonical_pending_transaction.donation.amount}", @canonical_pending_transaction.donation %>
      </p>
    <% end %>

  </section>

</article>

<h2>Comments</h2>
<%= render "comments/list" if @commentable %>
