<% title "Pending transaction for #{@canonical_pending_transaction.amount}" %>
<% page_sm %>

<%= render "events/nav" if @event %>

<% if @canonical_pending_transaction&.local_hcb_code %>
  <% admin_tool("mt3") do %>
    <p>
      <strong>HCB Code:</strong>
      <span>
        <%= link_to @canonical_pending_transaction.hcb_code, @canonical_pending_transaction.local_hcb_code %>
      </span>
    </p>
  <% end %>
<% end %>

<% if @canonical_pending_transaction.stripe_auth_dashboard_url %>
  <% admin_tool("mt1") do %>
    <%= link_to "View on Stripe", @canonical_pending_transaction.stripe_auth_dashboard_url, class: "btn bg-accent" %>
  <% end %>
<% end %>

<article class="card mt2">
  <h1 class="heading h1 mt0 mb0">
    <span class="flex-auto">
      Pending transaction
    </span>
    <span class="h2 regular">
      <%= @canonical_pending_transaction.amount %>
    </span>
  </h1>

  <div class="flex items-center mb2">
    <p class="flex-auto mr1 mb0">
      <strong class="block">Memo</strong>
      <span>
        <%= @canonical_pending_transaction.smart_memo %>
      </span>
    </p>
  </div>

  <section class="details">
    <p>
      <strong>Date</strong>
      <%= format_date @canonical_pending_transaction.date.to_date %>
    </p>

    <% if @canonical_pending_transaction&.ach_transfer %>
    <p>
      <strong>For</strong>
      <span>
      <%= link_to "A transfer of #{render_money @canonical_pending_transaction.ach_transfer.amount}", @canonical_pending_transaction.ach_transfer %>
      </span>
    </p>
    <% end %>

    <% if @canonical_pending_transaction&.check %>
    <p>
      <strong>For</strong>
      <span>
      <%= link_to "A check of #{render_money @canonical_pending_transaction.check.amount}", @canonical_pending_transaction.check %>
      </span>
    </p>
    <% end %>

    <% if @canonical_pending_transaction&.invoice %>
      <p>
        <strong>For</strong>
        <%= link_to "Invoice of #{render_money @canonical_pending_transaction.invoice.item_amount}", invoice_path(@canonical_pending_transaction.invoice) %>
      </p>
    <% end %>

    <% if @canonical_pending_transaction&.donation %>
      <p>
        <strong>For</strong>
        <%= link_to "A donation of #{render_money @canonical_pending_transaction.donation.amount}", @canonical_pending_transaction.donation %>
      </p>
    <% end %>

    <% admin_tool do %>
      <% if @canonical_pending_transaction.amount_cents > 0 %>
        <%= form_with model: @canonical_pending_transaction, html: { data: { controller: "form" } } do |form| %>
          <%= hidden_field_tag :redirect_to, request.original_fullpath %>

          <div class="field--checkbox">
            <%= form.check_box :fee_waived, data: { action: "form#submit" } %>
            <%= form.label :fee_waived, "Fee waived?" %>
          </div>
        <% end %>
      <% end %>
    <% end %>

  </section>

</article>

<% if @hcb_code %>
  <h2>Receipts</h2>
  <%= render "receipts/list_v2" %>
  <%= render partial: "receipts/form_v3", locals: {
        receiptable: @hcb_code,
        enable_linking: true,
        upload_method: "transaction_page",
        include_spacing: true,
        turbo: false
      } %>

  <h2>Comments</h2>
  <%= render "comments/list", comments: @hcb_code.comments %>
  <%= render "comments/form", commentable: @hcb_code %>
<% end %>
