<p>Hi there! 👋</p>

<p>
  You've been invited by <strong><%= @invite.sender.name %></strong> to <%= @invite.manager? ? "manage" : "be a member of" %> <strong><%= @invite.event.name %></strong>,
  <% if @invite.event.demo_mode? %>
    a Demo Account
  <% else %>
    which is running
  <% end %>
  on HCB. HCB is an online dashboard used to store finances, raise money, receive grants, manage team
  emails, and so much more.
</p>

<p>
  <%= link_to "Click here", @invite %> to accept the invite, log in, and see what's up!
</p>

<% if @invite.event.demo_mode? %>
  <p>
    <strong><%= @invite.event.name %></strong> is currently in Playground Mode—you can sign in and poke around,
    but many features are disabled. You can request to fully activate your account any time from your new HCB
    dashboard. Don't hesitate to reply to this email if you have any questions!
  </p>
<% end %>

<p>
  Best,<br>
  The <%= link_to "HCB", "https://hackclub.com/hcb" %> Team
</p>
