<% title "#{@employee.user.name}'s payroll at #{@employee.event.name}" %>
<% page_md %>
<%= render "events/nav", selected: :payroll %>

<h1 class="heading flex">
  <span class="flex-grow"><%= @employee.user.name %>'s payroll</span>
  <% if @employee.onboarded? %>
    <%= link_to "#", class: "btn bg-success", data: { behavior: "modal_trigger", modal: "create_employee_payment" } do %>
      <%= inline_icon "plus" %>
      Submit invoice
    <% end %>
  <% end %>
  <% if policy(@employee).destroy? %>
    <%= link_to @employee, class: "btn bg-error", method: :DELETE do %>
      <%= inline_icon "delete" %>
      Delete
    <% end %>
  <% elsif policy(@employee).terminate? %>
    <%= link_to employee_terminate_path(@employee), class: "btn bg-error", method: :POST do %>
      <%= inline_icon "member-remove" %>
      Terminate
    <% end %>
  <% end %>
</h1>

<% if @employee.onboarding? %>
  <%= render "callout", type: "warning", title: "#{@employee.user.name} is currently being onboarded" do %>
    <div>
      <span class="bold">They will only be able to submit invoices after being onboarded.</span> To complete their onboarding, they must email a W-9 or W-8 BEN to <%= mail_to "hr@hackclub.com" %>. After receiving your W-9 or W-8 BEN, please give us approximately 2 business days to review and finalize their onboarding. We will email them once this process is complete.
    </div>
  <% end %>
<% end %>

<%= render "employees/payments", payments: @employee.payments, show_stats: true %>

<%= render "employee/payments/new", employee: @employee %>
