<% page_xs %>
<% no_app_shell if params[:no_app_shell] %>
<%
  if params[:theme] == "dark"
    @dark = true
  elsif params[:theme] == "light"
    @dark = false
  end
%>
<% @hide_footer = true %>

<h2 class="border-none center regular mt5 mb2">Connect <strong><%= @pre_auth.client.name %></strong> to your HCB account?</h2>

<section class="mb2">
  <div class="flex items-start">
    <span class="muted mr2"><%= inline_icon "private-outline" %></span>
    <p class="mt0"><%= @pre_auth.client.name %> is a trusted app created by HCB.</p>
  </div>

  <div class="flex items-start">
    <span class="muted mr2"><%= inline_icon "important" %></span>

    <p class="mt0"><%= @pre_auth.client.name %> will have full access to your organization funds.</p>
  </div>
</section>

<div class="flex items-center justify-center g1">
  <%= button_to "Connect", oauth_authorization_path, class: "btn bg-success h2", params: {
        client_id: @pre_auth.client.uid,
        redirect_uri: @pre_auth.redirect_uri,
        state: @pre_auth.state,
        response_type: @pre_auth.response_type,
        response_mode: @pre_auth.response_mode,
        scope: @pre_auth.scope,
        code_challenge: @pre_auth.code_challenge,
        code_challenge_method: @pre_auth.code_challenge_method,
      }, form: { data: { turbo: false } } %>
  <%= button_to "Cancel", oauth_authorization_path, method: :delete, class: "btn bg-muted", params: {
        client_id: @pre_auth.client.uid,
        redirect_uri: @pre_auth.redirect_uri,
        state: @pre_auth.state,
        response_type: @pre_auth.response_type,
        response_mode: @pre_auth.response_mode,
        scope: @pre_auth.scope,
        code_challenge: @pre_auth.code_challenge,
        code_challenge_method: @pre_auth.code_challenge_method,
      }, form: { data: { turbo: false } } %>
</div>

<div class="center mt2">
  <div class="flex items-center justify-center muted">Signed in as <%= user_mention current_user, class: "ml1" %></div>

  <%= link_to "Switch accounts", auth_users_path(return_to: request.fullpath), class: "center" %>
</div>
