<% member_viewing = !OrganizerPosition.find_by(user: current_user, event: report.event)&.manager? && current_user != report.user && !admin_signed_in? %>

<div class="flex flex-col-reverse" id="action-wrapper">
  <%# Using a reverse column flex container, we can
      define the button hint next to the button states,
      and it will get rendered above the button %>
  <% button_hint = "" %>
  <% button_hint = "This report has been approved and is pending reimbursement." if report.reimbursement_approved? %>
  <% button_hint = "The creator of this report has been reimbursed." if report.reimbursed? %>
  <% button_hint = "This report has been approved by #{@event.name}, but it's still pending approval from the HCB team." if report.reimbursement_requested? %>

  <% unless (report.closed? && !report.payout_holding&.failed?) || member_viewing %>
    <div class="flex items-center justify-between mt2 mb3" style="gap: 1rem;" id="actions">
      <div class="flex justify-start">
        <% if !report.locked? %>
          <%= form_with(method: :post, url: reimbursement_expenses_path(report_id: report.id), data: { controller: "form file-drop", turbo: "true" }, class: "tooltipped tooltipped--n", html: { "aria-label": "Drag a file into this button to create a new expense with a receipt attached." }) do |form| %>
            <div class="add-expense-dropzone">
              <%= dropdown_button form:,
                                  options: [
                                    ["Standard expense", "standard", "Expense with a monetary amount."],
                                    ["Mileage expense", "mileage", "Expense for miles traveled based on the standard mileage rate."]
                                  ],
                                  button_icon: "plus",
                                  name: "type",
                                  button_container_options: { data: { "file-drop-target": "dropzone", action: "dragover->file-drop#dragover drop->file-drop#drop dragenter->file-drop#dragenter dragleave->file-drop#dragleave" } },
                                  template: ->(value) { "Add #{report.expenses.count > 0 ? "another" : "a"} #{value} expense" } %>
              <%= form.file_field :file,
                  multiple: true,
                  include_hidden: false,
                  required: false,
                  accept: "image/*,image/heic,.pdf",
                  class: "display-none",
                  data: { "file-drop-target" => "fileInput" } %>
            </div>
          <% end %>
        <% elsif current_user == report.user && !admin_signed_in? %>
          <div class="btn bg-success disabled" class="tooltipped tooltipped--n" aria-label="Expenses can't be added to locked reports">
            <%= inline_icon "plus" %>
            Add <%= report.expenses.count > 0 ? "another" : "an" %> expense
          </div>
        <% elsif !report.closed? %>
          <%= link_to reimbursement_report_reject_path(report_id: report.id), class: "btn bg-error", data: { turbo: true, turbo_method: :post } do %>
            <%= inline_icon "thumbsdown" %>
            Reject & close report
          <% end %>
        <% end %>
      </div>

      <% if report.locked? %>
        <div style="flex-grow: 1;" class="flex justify-start items-center">
          <% if report.reimbursement_requested? && !admin_signed_in? %>
            <%= link_to reimbursement_report_draft_path(report_id: report.id), class: "btn bg-muted", method: :post do %>
              <%= inline_icon "reply" %>
              Mark as draft
              <% button_hint = capture do %>
                <span class="bold">Status:</span> the HCB team is reviewing this report. To make further changes, mark it as a draft.
              <% end %>
            <% end %>
          <% elsif current_user == report.user && report.submitted? %>
            <%= link_to reimbursement_report_draft_path(report_id: report.id), class: "btn bg-muted", method: :post do %>
              <%= inline_icon "reply" %>
              Mark as draft
              <% button_hint = capture do %>
                <span class="bold">Status:</span> your report is currently under review by the <%= report.event.name %> team. To make further changes, mark it as a draft.
              <% end %>
            <% end %>
          <% elsif !report.closed? %>
            <%= link_to "#", class: "btn bg-warning", data: { behavior: "modal_trigger", modal: "request_changes" }, id: "request_changes_button" do %>
              <%= inline_icon "reply" %>
              Return to <%= report.user.first_name %>
              <% button_hint = capture do %>
                <span class="bold">Your next step:</span> approve individual expenses and reimburse the report. Or, return the report to <%= report.user.first_name %>.
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if report.mismatched_currency? && (user == current_user || admin_signed_in?) %>
        <div style="flex-grow: 1;" class="flex justify-end">
          <%= link_to reimbursement_report_update_currency_path(report), method: :post, class: "btn bg-secondary" do %>
            <%= inline_icon "transactions" %>
            Switch to <%= user.payout_method&.currency %>
          <% end %>
        </div>
      <% end %>

      <div style="flex-grow: 1;" class="flex justify-end">
        <% if !user.payout_method.present? || report.payout_holding&.failed? || (user.payout_method.present? && user.payout_method.class == User::PayoutMethod::PaypalTransfer) || report.mismatched_currency? %>
          <% if user == current_user %>
            <%= link_to settings_payouts_path, class: "btn bg-warning", data: { behavior: "modal_trigger", modal: "edit_payout" } do %>
              <%= inline_icon "profile" %>
              <%= report.payout_holding&.failed? || user.payout_method.present? ? "Edit" : "Add" %> payout information
              <% button_hint = capture do %>
                <% if report.mismatched_currency? %>
                  <span class="bold warning">Warning</span>: your report is is in <%= report.currency %>, but your payouts are configured for <%= user.payout_method.currency %>.
                <% else %>
                  <span class="bold">Your next step:</span> before you can be reimbursed, you need to
                  <% if user.payout_method.present? && user.payout_method.class == User::PayoutMethod::PaypalTransfer %>
                    update your payout information. Due to integration issues, transfers via PayPal are currently unavailable.
                  <% else %>
                    provide HCB your payout information.
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% elsif admin_signed_in? %>
            <%= link_to payouts_user_path(user), class: "btn bg-warning", data: { behavior: "modal_trigger", modal: "edit_payout" }  do %>
              <%= inline_icon "profile" %>
              <%= report.payout_holding&.failed? ? "Edit" : "Add" %> <%= user.first_name %>'s Payout Information
              <% button_hint = capture do %>
                <span class="bold">Status:</span> before <%= user.first_name %> can be reimbursed, they need to
                <% if user.payout_method.present? && user.payout_method.class == User::PayoutMethod::PaypalTransfer %>
                  update your payout information. Due to integration issues, transfers via PayPal are currently unavailable.
                <% else %>
                  add their payout information.
                <% end %>
              <% end %>
            <% end %>
          <% elsif !user.payout_method.present? %>
            <div class="tooltipped tooltipped--n" aria-label="<%= user.name %> is missing payout information.">
              <div class="btn bg-info disabled">
                <%= inline_icon "send" %>
                Submit & request review
                <% button_hint = capture do %>
                  <span class="bold">Status:</span> before <%= user.first_name %> can be reimbursed, they need to add their payout information.
                <% end %>
              </div>
            </div>
          <% end %>
          <% if report.payout_holding&.failed? %>
            <% if user == current_user %>
              <% button_hint = capture do %>
                <span class="bold">Warning:</span> your <%= user.payout_method.human_kind %> information was flagged as invalid, please edit your payout settings and HCB will retry the payment.
              <% end %>
            <% else %>
              <% button_hint = capture do %>
                <span class="bold">Warning:</span> <%= user.first_name %>'s <%= user.payout_method.human_kind %> information was flagged as invalid, please ask them to edit their payout settings and HCB will retry the payment.
              <% end %>
            <% end %>
          <% end %>
        <% elsif !report.may_mark_submitted? && report.draft? %>
          <div class="btn bg-info disabled">
            <%= inline_icon "send" %>
            Submit & request review
            <% button_hint = capture do %>
              <% if report.expenses.none? %>
                Get started by adding an expense to this report.
              <% elsif report.missing_receipts? || report.expenses.any? { |e| e.amount.zero? } %>
                <span class="bold">Your next step:</span> make sure you have a receipt, memo, and amount for each expense to continue.
              <% elsif report.exceeds_maximum_amount? %>
               <span class="bold warning">Warning</span>: your report is above <%= report.event.name %>'s limit. To continue, lower the amount requested.
              <% elsif report.event&.financially_frozen? %>
               <span class="bold warning">Warning</span>: <%= report.event.name %> is currently frozen.
              <% elsif report.event.nil? %>
               <span class="bold warning">Warning</span>: please <%= link_to "select an event", "#", data: { behavior: "modal_trigger", modal: "edit" } %> to request reimbursement from.
              <% elsif report.below_minimum_amount? %>
               <span class="bold warning">Warning</span>: your report is below <%= "#{render_money report.event.minimum_wire_amount_cents}," if report.event.minimum_wire_amount_cents == 500_00 %> the minimum amount for a wire transfer. <%= link_to "Learn more", "https://help.hcb.hackclub.com/article/61-what-are-international-wires", data: { behavior: "modal_trigger", modal: "wire_requirements" } %>.
              <% end %>
            <% end %>
          </div>
        <% elsif report.draft? && report.currency == "USD" && !::Shared::AmpleBalance.ample_balance?(report.amount_cents, report.event) && !report.team_review_required? %>
          <div class="btn bg-info disabled">
            <%= inline_icon "send" %>
            Submit & request review
            <% button_hint = capture do %>
              <span class="bold warning">Warning</span>: your report is beyond your balance. To continue, lower the amount requested.
            <% end %>
          </div>
        <% elsif report.draft? && report.currency != "USD" && report.wise_transfer_may_exceed_balance? && !report.team_review_required? %>
          <%= link_to reimbursement_report_submit_path(report_id: report.id), class: "btn bg-warning", method: :post, data: { turbo_confirm: "Reports that exceed an organization's balance will be rejected. With current exchange rates, this report exceeds your balance." } do %>
            <%= inline_icon "send" %>
            Submit & request review
            <% button_hint = capture do %>
              <span class="bold warning">Warning</span>: your report is quoted to cost <%= render_money report.wise_transfer_quote_amount %> USD, which is beyond your balance.
            <% end %>
          <% end %>
        <% elsif report.initial_draft? %>
          <%= link_to reimbursement_report_submit_path(report_id: report.id), class: "btn bg-info", method: :post do %>
            <%= inline_icon "send" %>
            Submit & request review
            <% button_hint = capture do %>
              <span class="bold">Your next step:</span> after adding all of your expenses, submit the report to request a review.
            <% end %>
          <% end %>
        <% elsif report.draft? %>
          <%= link_to "#", class: "btn bg-info", data: { behavior: "modal_trigger", modal: "submit" }, id: "submit_button" do %>
            <%= inline_icon "send" %>
            Submit & request review
            <% button_hint = capture do %>
              <span class="bold">Your next step:</span> after adding all of your expenses, submit the report to request a review.
            <% end %>
          <% end %>
        <% elsif report.submitted? && report.currency != "USD" && report.wise_transfer_may_exceed_balance? && policy(report).request_reimbursement? %>
          <% button_hint = capture do %>
            <span class="bold warning">Warning</span>: this report is quoted to cost <%= render_money report.wise_transfer_quote_amount %> USD, which is beyond your balance.
          <% end %>
          <div class="tooltipped tooltipped--n" aria-label="This event may not be fulfill this request.">
            <%= link_to reimbursement_report_request_reimbursement_path(report), class: "btn bg-warning", data: { turbo_confirm: "Reports that exceed an organization's balance will be rejected. With current exchange rates, this report exceeds your balance.", turbo_method: :post } do %>
              <%= inline_icon "payment-transfer" %>
              Reimburse <%= report.amount_to_reimburse.format %>
            <% end %>
          </div>
        <% elsif report.may_mark_reimbursement_requested? && policy(report).request_reimbursement? %>
          <%= link_to reimbursement_report_request_reimbursement_path(report), class: "btn bg-info", data: { turbo_confirm: report.reimbursement_confirmation_message, turbo_method: :post } do %>
            <%= inline_icon "payment-transfer" %>
            Reimburse <%= report.amount_to_reimburse.format %>
          <% end %>
        <% elsif report.submitted? && (report.currency == "USD" && !::Shared::AmpleBalance.ample_balance?(report.amount_to_reimburse_cents, report.event) || report.event.financially_frozen?) && policy(report).request_reimbursement? %>
          <div class="tooltipped tooltipped--n" aria-label="This event can not fulfill this request.">
            <div class="btn bg-info disabled">
              <%= inline_icon "payment-transfer" %>
              Reimburse <%= report.amount_to_reimburse.format %>
            </div>
          </div>
        <% elsif report.submitted? && policy(report).approve_all_expenses? && report.expenses.approved.none? %>
          <%= link_to reimbursement_report_approve_all_expenses_path(report), class: "btn bg-success", method: :post do %>
            <%= inline_icon "thumbsup" %>
            Approve all expenses
          <% end %>
        <% elsif report.reimbursement_requested? && !admin_signed_in? %>
          <div class="btn bg-info disabled" style="opacity: 0.75" disabled>
            <%= inline_icon "clock" %>
            Pending HCB team review
          </div>
        <% elsif report.reimbursement_requested? %>
          <% admin_tool("overflow-visible") do %>
            <% turbo_confirm = nil %>
            <% unless report.currency != "USD" || ::Shared::AmpleBalance.ample_balance?(report.amount_to_reimburse_cents, report.event) %>
              <% button_hint = capture do %>
                <span class="bold warning">⚠️ Warning</span>: this organization does not have the balance to fulfil this report.
              <% end %>
              <% turbo_confirm = "⚠️ WARNING: Approving this reimbursement will make the event balance negative. This organization does not have sufficient funds to fulfill this request. Are you sure you want to proceed?" %>
            <% end %>
            <% if report.user.payout_method.is_a?(User::PayoutMethod::WiseTransfer) %>
              <%= link_to "#", class: "btn bg-info", data: { behavior: "modal_trigger", modal: "wise_approval" }, id: "submit_button" do %>
                <%= inline_icon "thumbsup" %>
                Approve & send Wise reimbursement
              <% end %>
              <section data-behavior="modal" role="dialog" id="wise_approval" class="modal modal--scroll modal--wide bg-snow">
                <%= modal_header "Approve & send Wise reimbursement" %>

                This reimbursement must be sent via Wise at the same time it is approved to prevent fee fluctuations.

                <div class="flex flex-row items-center justify-between gap-2 mt-4">
                  <div class="flex flex-row items-start justify-start gap-2">
                    <span class="w-7 h-7 flex-shrink-0 rounded-full flex items-center justify-center text-xs font-bold border-2 border-solid border-smoke">1</span>
                    <strong class="m-0 flex-shrink-0">
                      Input the following transfer details into Wise
                    </strong>
                  </div>

                  <% if report.user.payout_method.wise_recipient_id.present? %>
                    <%= link_to "https://wise.com/send#?contact=#{report.user.payout_method.wise_recipient_id}", class: "btn btn-small tooltipped tooltipped--w bg-[#9FE870] text-[#163300] flex-shrink-0", style: "color: #163300!important; background: #9FE870", target: "_blank", "aria-label": "Use recipient information from previous transfer" do %>
                      <%= inline_icon "wise" %>
                      Open <%= report.user.full_name %> on Wise
                    <% end %>
                  <% else %>
                    <%= link_to "https://wise.com/send", class: "btn btn-small bg-[#9FE870] text-[#163300] flex-shrink-0", style: "color: #163300!important; background: #9FE870", target: "_blank" do %>
                      <%= inline_icon "wise" %>
                      Open Wise
                    <% end %>
                  <% end %>
                </div>

                <%= render partial: "wise_information", locals: { report: } %>

                <div class="flex flex-row items-start justify-start gap-2 my-4">
                  <span class="w-7 h-7 flex-shrink-0 rounded-full flex items-center justify-center text-xs font-bold border-2 border-solid border-smoke">2</span>
                  <strong class="m-0">
                    Next, without sending the transfer, enter the quoted amounts:
                  </strong>
                </div>

                <%= form_with url: reimbursement_report_admin_approve_path(report_id: report.id) do |form| %>
                  <%= form.label :wise_total_including_fees, "Total including fees (in USD, from Wise)" %>
                  <div class="field">
                    <div class="flex items-center">
                      <span class="bold muted" style="width: 1rem;">$</span>
                      <div class="flex flex-col">
                        <%= form.number_field :wise_total_including_fees,
                          placeholder: "500.00",
                          step: 0.01,
                          required: true,
                          data: { behavior: "check_amount_field", controller: "truncate-decimal", action: "truncate-decimal#truncate blur->truncate-decimal#pad", extraction_field: "total" } %>
                      </div>
                    </div>
                  </div>
                  <%= form.label :wise_total_without_fees, "Total without fees (in USD, from Wise)" %>
                  <div class="field">
                    <div class="flex items-center">
                      <span class="bold muted" style="width: 1rem;">$</span>
                      <div class="flex flex-col">
                        <%= form.number_field :wise_total_without_fees,
                          placeholder: "500.00",
                          step: 0.01,
                          required: true,
                          data: { behavior: "check_amount_field", controller: "truncate-decimal", action: "truncate-decimal#truncate blur->truncate-decimal#pad", extraction_field: "total" } %>
                      </div>
                    </div>
                  </div>

                  <%= form.submit "Approve report" %>
                <% end %>
              </section>
            <% else %>
              <%= link_to reimbursement_report_admin_approve_path(report_id: report.id), class: "btn bg-info", method: :post, data: { turbo_confirm: } do %>
                <%= inline_icon "thumbsup" %>
                Approve <%= report.user.payout_method.human_kind %> reimbursement
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <p class="mt0 mb0" style="text-align: left;" id="button-hint">
        <%= button_hint %>
      </p>

    </div>
  <% end %>
  <% if report.rejected? && !member_viewing %>
    <%= link_to reimbursement_report_draft_path(report_id: report.id), class: "btn bg-muted mt2", method: :post do %>
      <%= inline_icon "view-reload" %>
      Re-open report for review
    <% end %>
  <% end %>
  <% if report.expenses.any? %>
    <div class="card mt2 <%= "closed" if report.closed? || member_viewing %>" id="summary">
      <div class="stat stat--small" style="flex-shrink: 0;">
        <span class="stat__label">Amount requested</span>
        <span class="stat__value" style="--unit: '<%= report.amount.currency.symbol %>'"><%= report.amount.format(symbol: false) %></span>
      </div>
      <% if report.locked? %>
        <div class="stat stat--small stat--plain" style="flex-shrink: 0;">
          <span class="stat__label">Expenses approved</span>
          <span class="stat__value"><%= report.expenses.approved.to_sum.count %>/<%= report.expenses.to_sum.count %></span>
        </div>
        <div class="stat stat--small" style="flex-shrink: 0;">
          <span class="stat__label">Amount approved</span>
        <span class="stat__value" style="--unit: '<%= report.amount.currency.symbol %>'"><%= report.amount_to_reimburse.format(symbol: false) %></span>
        </div>
        <% if report.fees_charged_cents > 0 %>
          <div class="stat stat--small" style="flex-shrink: 0;">
            <span class="stat__label">Fees charged</span>
            <span class="stat__value"><%= render_money report.fees_charged_cents, unit: "" %></span>
          </div>
        <% end %>
      <% else %>
        <div class="stat stat--small stat--plain" style="flex-shrink: 0;">
          <span class="stat__label">Total expenses</span>
          <span class="stat__value"><%= report.expenses.to_sum.count %></span>
        </div>
        <div class="stat stat--small stat--plain" style="flex-shrink: 0;">
          <span class="stat__label">Complete</span>
          <span class="stat__value"><%= report.expenses.to_sum.complete.count %>/<%= report.expenses.to_sum.count %></span>
        </div>
      <% end %>
      <p class="mt0 mb0" id="summary-hint">
        <%= button_hint %>
      </p>
    </div>
  <% end %>
</div>
