<% member_viewing = !OrganizerPosition.find_by(user: current_user, event: report.event)&.manager? && current_user != report.user && !admin_signed_in? %>

<div class="flex flex-col-reverse" id="action-wrapper">
  <%# Using a reverse column flex container, we can
      define the button hint next to the button states,
      and it will get rendered above the button %>
  <% button_hint = "" %>
  <% button_hint = "This report has been approved and is pending reimbursement." if report.reimbursement_approved? %>
  <% button_hint = "The creator of this report has been reimbursed." if report.reimbursed? %>
  <% button_hint = "This report has been approved by #{@event.name}, but it's still pending approval from the HCB team." if report.reimbursement_requested? %>

  <% unless (report.closed? && !report.payout_holding&.failed?) || member_viewing %>
    <div class="flex items-center justify-between mt2 mb3" style="gap: 1rem;" id="actions">
      <div class="flex justify-start">
        <% if !report.locked? %>
          <%= form_with(method: :post, url: reimbursement_expenses_path(report_id: report.id), data: { controller: "form file-drop", turbo: "true" }, class: "tooltipped tooltipped--n", html: { "aria-label": "Drag a file into this button to create a new expense with a receipt attached." }) do |form| %>
            <button class="btn bg-success add-expense-dropzone" data-file-drop-target="dropzone" data-action="dragover->file-drop#dragover drop->file-drop#drop dragenter->file-drop#dragenter dragleave->file-drop#dragleave">
                <%= inline_icon "plus" %>
                Add <%= report.expenses.count > 0 ? "another" : "an" %> expense
            </button>
            <%= form.file_field :file,
                multiple: true,
                include_hidden: false,
                required: false,
                accept: "image/*,image/heic,.pdf",
                class: "display-none",
                data: { "file-drop-target" => "fileInput" } %>
          <% end %>
        <% elsif current_user == report.user && !admin_signed_in? %>
          <div class="btn bg-success disabled" class="tooltipped tooltipped--n" aria-label="Expenses can't be added to locked reports">
            <%= inline_icon "plus" %>
            Add <%= report.expenses.count > 0 ? "Another" : "An" %> Expense
          </div>
        <% elsif !report.closed? %>
          <%= link_to reimbursement_report_reject_path(report_id: report.id), class: "btn bg-error", data: { turbo: true, turbo_method: :post } do %>
            <%= inline_icon "thumbsdown" %>
            Reject & close report
          <% end %>
        <% end %>
      </div>

      <% if report.locked? %>
        <div style="flex-grow: 1;" class="flex justify-start items-center" style="gap: 4px;">
          <% if report.reimbursement_requested? && !admin_signed_in? %>
            <%= link_to reimbursement_report_draft_path(report_id: report.id), class: "btn bg-muted", method: :post do %>
              <%= inline_icon "reply" %>
              Mark As Draft
              <% button_hint = capture do %>
                <span class="bold">Status:</span> the HCB team is reviewing this report. To make further changes, mark it as a draft.
              <% end %>
            <% end %>
          <% elsif current_user == report.user && report.submitted? %>
            <%= link_to reimbursement_report_draft_path(report_id: report.id), class: "btn bg-muted", method: :post do %>
              <%= inline_icon "reply" %>
              Mark As Draft
              <% button_hint = capture do %>
                <span class="bold">Status:</span> your report is currently under review by the <%= report.event.name %> team. To make further changes, mark it as a draft.
              <% end %>
            <% end %>
          <% elsif !report.closed? %>
            <%= link_to "#", class: "btn bg-warning", data: { behavior: "modal_trigger", modal: "request_changes" } do %>
              <%= inline_icon "reply" %>
              Return to <%= report.user.first_name %>
              <% button_hint = capture do %>
                <span class="bold">Your next step:</span> approve individual expenses and reimburse the report. Or, return the report to <%= report.user.first_name %>.
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <div style="flex-grow: 1;" class="flex justify-end">
        <% if !user.payout_method.present? || report.payout_holding&.failed? || (user.payout_method.present? && user.payout_method.class == User::PayoutMethod::PaypalTransfer) %>
          <% if user == current_user %>
            <%= link_to settings_payouts_path, class: "btn bg-warning", data: { behavior: "modal_trigger", modal: "edit_payout" } do %>
              <%= inline_icon "profile" %>
              <%= report.payout_holding&.failed? || user.payout_method.present? ? "Edit" : "Add" %> Payout Information
              <% button_hint = capture do %>
                <span class="bold">Your next step:</span> before you can be reimbursed, you need to
                <% if user.payout_method.present? && user.payout_method.class == User::PayoutMethod::PaypalTransfer %>
                  update your payout information. Due to integration issues, transfers via PayPal are currently unavailable.
                <% else %>
                  provide HCB your payout information.
                <% end %>
              <% end %>
            <% end %>
          <% elsif admin_signed_in? %>
            <%= link_to payouts_user_path(user), class: "btn bg-warning", data: { behavior: "modal_trigger", modal: "edit_payout" }  do %>
              <%= inline_icon "profile" %>
              <%= report.payout_holding&.failed? ? "Edit" : "Add" %> <%= user.first_name %>'s Payout Information
              <% button_hint = capture do %>
                <span class="bold">Status:</span> before <%= user.first_name %> can be reimbursed, they need to
                <% if user.payout_method.present? && user.payout_method.class == User::PayoutMethod::PaypalTransfer %>
                  update your payout information. Due to integration issues, transfers via PayPal are currently unavailable.
                <% else %>
                  add their payout information.
                <% end %>
              <% end %>
            <% end %>
          <% elsif !user.payout_method.present? %>
            <div class="tooltipped tooltipped--n" aria-label="<%= user.name %> is missing payout information.">
              <div class="btn bg-info disabled">
                <%= inline_icon "send" %>
                Submit & request review
                <% button_hint = capture do %>
                  <span class="bold">Status:</span> before <%= user.first_name %> can be reimbursed, they need to add their payout information.
                <% end %>
              </div>
            </div>
          <% end %>
          <% if report.payout_holding&.failed? %>
            <% if user == current_user %>
              <% button_hint = capture do %>
                <span class="bold">Warning:</span> your <%= user.payout_method.human_kind %> information was flagged as invalid, please edit your payout settings and HCB will retry the payment.
              <% end %>
            <% else %>
              <% button_hint = capture do %>
                <span class="bold">Warning:</span> <%= user.first_name %>'s <%= user.payout_method.human_kind %> information was flagged as invalid, please ask them to edit their payout settings and HCB will retry the payment.
              <% end %>
            <% end %>
          <% end %>
        <% elsif !report.may_mark_submitted? && report.draft? %>
          <div class="btn bg-info disabled">
            <%= inline_icon "send" %>
            Submit & request review
            <% button_hint = capture do %>
              <% if report.expenses.none? %>
                Get started by adding an expense to this report.
              <% elsif report.missing_receipts? %>
                <span class="bold">Your next step:</span> make sure you have a receipt, memo, and amount for each expense to continue.
              <% elsif report.exceeds_maximum_amount? %>
               <span class="bold warning">Warning</span>: your report is above <%= report.event.name %>'s limit. To continue, lower the amount requested.
              <% elsif report.event.financially_frozen? %>
               <span class="bold warning">Warning</span>: <%= report.event.name %> is currently frozen.
              <% elsif report.event.nil? %>
               <span class="bold warning">Warning</span>: please <%= link_to "select an event", "#", data: { behavior: "modal_trigger", modal: "edit" } %> to request reimbursement from.
              <% end %>
            <% end %>
          </div>
        <% elsif report.draft? && !::Shared::AmpleBalance.ample_balance?(report.amount_cents, report.event) && !report.team_review_required? %>
          <div class="btn bg-info disabled">
            <%= inline_icon "send" %>
            Submit & request review
            <% button_hint = capture do %>
              <span class="bold warning">Warning</span>: your report is beyond your balance. To continue, lower the amount requested.
            <% end %>
          </div>
        <% elsif report.initial_draft? %>
          <%= link_to reimbursement_report_submit_path(report_id: report.id), class: "btn bg-info", method: :post do %>
            <%= inline_icon "send" %>
            Submit & request review
            <% button_hint = capture do %>
              <span class="bold">Your next step:</span> after adding all of your expenses, submit the report to request a review.
            <% end %>
          <% end %>
        <% elsif report.draft? %>
          <%= link_to "#", class: "btn bg-info", data: { behavior: "modal_trigger", modal: "submit" } do %>
            <%= inline_icon "send" %>
            Submit & request review
            <% button_hint = capture do %>
              <span class="bold">Your next step:</span> after adding all of your expenses, submit the report to request a review.
            <% end %>
          <% end %>
        <% elsif report.may_mark_reimbursement_requested? && policy(report).request_reimbursement? %>
          <%= link_to reimbursement_report_request_reimbursement_path(report), class: "btn bg-info", data: { turbo_confirm: report.reimbursement_confirmation_message, turbo_method: "post" } do %>
            <%= inline_icon "payment-transfer" %>
            Reimburse <%= render_money report.amount_to_reimburse %>
          <% end %>
        <% elsif report.submitted? && (!::Shared::AmpleBalance.ample_balance?(report.amount_to_reimburse_cents, report.event) || report.event.financially_frozen?) && policy(report).request_reimbursement? %>
          <div class="tooltipped tooltipped--n" aria-label="This event can not fulfill this request.">
            <div class="btn bg-info disabled">
              <%= inline_icon "payment-transfer" %>
              Reimburse <%= render_money report.amount_to_reimburse %>
            </div>
          </div>
        <% elsif report.submitted? && policy(report).approve_all_expenses? && report.expenses.approved.none? %>
          <%= link_to reimbursement_report_approve_all_expenses_path(report), class: "btn bg-success", method: :post do %>
            <%= inline_icon "thumbsup" %>
            Approve all expenses
          <% end %>
        <% elsif report.reimbursement_requested? && !admin_signed_in? %>
          <div class="btn bg-info disabled" style="opacity: 0.75" disabled>
            <%= inline_icon "clock" %>
            Pending HCB team review
          </div>
        <% elsif report.reimbursement_requested? %>
          <% admin_tool("overflow-visible") do %>
            <%= link_to reimbursement_report_admin_approve_path(report_id: report.id), class: "btn bg-info", method: :post do %>
              <%= inline_icon "thumbsup" %>
              Approve <%= report.user.payout_method.title_kind %> Reimbursement
            <% end %>
            <% unless ::Shared::AmpleBalance.ample_balance?(report.amount_to_reimburse_cents, report.event) %>
              <% button_hint = capture do %>
                <span class="bold warning">⚠️ Warning</span>: this organization does not have the balance to fulfil this report.
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <p class="mt0 mb0" style="text-align: left;" id="button-hint">
        <%= button_hint %>
      </p>

    </div>
  <% end %>
  <% if report.rejected? && !member_viewing %>
    <%= link_to reimbursement_report_draft_path(report_id: report.id), class: "btn bg-muted mt2", method: :post do %>
      <%= inline_icon "view-reload" %>
      Re-open report for review
    <% end %>
  <% end %>
  <% if report.expenses.any? %>
    <div class="card mt2 <%= "closed" if report.closed? || member_viewing %>" id="summary">
      <div class="stat stat--small" style="flex-shrink: 0;">
        <span class="stat__label">Amount requested</span>
        <span class="stat__value"><%= render_money report.amount_cents, unit: "" %></span>
      </div>
      <% if report.locked? %>
        <div class="stat stat--small stat--plain" style="flex-shrink: 0;">
          <span class="stat__label">Expenses approved</span>
          <span class="stat__value"><%= report.expenses.approved.count %>/<%= report.expenses.count %></span>
        </div>
        <div class="stat stat--small" style="flex-shrink: 0;">
          <span class="stat__label">Amount approved</span>
          <span class="stat__value"><%= render_money report.amount_to_reimburse_cents, unit: "" %></span>
        </div>
      <% else %>
        <div class="stat stat--small stat--plain" style="flex-shrink: 0;">
          <span class="stat__label">Total expenses</span>
          <span class="stat__value"><%= report.expenses.count %></span>
        </div>
        <div class="stat stat--small stat--plain" style="flex-shrink: 0;">
          <span class="stat__label">Complete</span>
          <span class="stat__value"><%= report.expenses.complete.count %>/<%= report.expenses.count %></span>
        </div>
      <% end %>
      <p class="mt0 mb0" id="summary-hint">
        <%= button_hint %>
      </p>
    </div>
  <% end %>
</div>
