<% unless report.closed? %>
  <div class="flex items-center justify-between mt2 mb3" style="gap: 16px;" id="actions">
    <div style="flex-grow: 1;" class="flex justify-start">
      <% if !report.locked? %>
        <%= link_to reimbursement_expenses_path(report_id: report.id), class: "btn bg-success", data: { turbo: true, turbo_method: :post } do %>
          <%= inline_icon "docs" %>
          Add An Expense
        <% end %>
      <% elsif !report.event.users.include?(current_user) %>
        <div class="btn bg-success disabled" class="tooltipped tooltipped--n" aria-label="Expenses can't be added to locked reports">
          <%= inline_icon "docs" %>
          Add An Expense
        </div>
      <% else %>
        <%= link_to reimbursement_report_reject_path(report_id: report.id), class: "btn bg-primary", data: { turbo: true, turbo_method: :post } do %>
          <%= inline_icon "docs" %>
          Reject & Close Report
        <% end %>
      <% end %>
    </div>

    <div style="flex-grow: 1;" class="flex justify-center items-center" style="gap: 4px;">
      <% if !report.event.users.include?(current_user) && !admin_signed_in? && report.locked? %>
        <%= inline_icon "private" %>
        Expense Report Locked
      <% elsif report.locked? && report.submitted? && report.expenses.approved.count > 0 && report.amount_to_reimburse > 0 && ::Shared::AmpleBalance.ample_balance?(report.amount_to_reimburse_cents, @event) %>
        <%= link_to reimbursement_report_request_reimbursement_path(report_id: report.id), class: "btn bg-info", method: :post do %>
          <%= inline_icon "payment-transfer" %>
          Reimburse <%= render_money report.amount_to_reimburse %> (<%= report.expenses.approved.count %>/<%= report.expenses.count %>)
        <% end %>
      <% elsif report.locked? && report.submitted? && !::Shared::AmpleBalance.ample_balance?(report.amount_to_reimburse_cents, @event) %>
        <div class="tooltipped tooltipped--n" aria-label="This event can not fulfill this request.">
          <div class="btn bg-info disabled">
            <%= inline_icon "payment-transfer" %>
            Reimburse <%= render_money report.amount_to_reimburse %> (<%= report.expenses.approved.count %>/<%= report.expenses.count %>)
          </div>
        </div>
      <% elsif report.locked? && report.submitted? %>
        <div class="tooltipped tooltipped--n" aria-label="We can't send a $0 reimbursement.">
          <div class="btn bg-info disabled">
            <%= inline_icon "payment-transfer" %>
            Reimburse <%= render_money report.amount_to_reimburse %> (<%= report.expenses.approved.count %>/<%= report.expenses.count %>)
          </div>
        </div>
      <% elsif report.locked? && report.reimbursement_requested? && !admin_signed_in? %>
        <div class="btn bg-info disabled" style="opacity: 0.75" disabled>
          <%= inline_icon "clock" %>
          Pending HCB Team Review
        </div>
      <% elsif report.locked? && report.reimbursement_requested? %>
        <% admin_tool do %>
          <%= link_to reimbursement_report_admin_approve_path(report_id: report.id), class: "btn bg-info", method: :post do %>
            <%= inline_icon "thumbsup" %>
            Approve Reimbursement
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div style="flex-grow: 1;" class="flex justify-end">
      <% if !user.payout_method.present? %>
        <% if user == current_user %>
          <%= link_to settings_payouts_path, class: "btn bg-warning" do %>
            <%= inline_icon "profile" %>
            Add Payout Information
          <% end %>
        <% elsif admin_signed_in? %>
          <%= link_to payouts_user_path(user), class: "btn bg-warning" do %>
            <%= inline_icon "profile" %>
            Add Payout Information
          <% end %>
        <% else %>
          <div class="btn bg-warning disabled">
            <%= inline_icon "profile" %>
            Missing Payout Information
          </div>
        <% end %>
      <% elsif report.expenses.complete.with_receipt.count != report.expenses.count || report.expenses.count == 0 %>
        <div class="tooltipped tooltipped--n" aria-label="Make sure you have a receipt, memo, and amount for each expense.">
          <div class="btn bg-warning disabled" style="color: white;">
            <%= inline_icon "payment-docs" %>
            Missing Information
          </div>
        </div>
      <% elsif report.maximum_amount_cents && report.amount_cents >= report.maximum_amount_cents %>
        <div class="tooltipped tooltipped--n" aria-label="<%= report.event.name %> has restricted this report to <%= render_money @report.maximum_amount_cents %>.">
          <div class="btn bg-warning disabled" style="color: white;">
            <%= inline_icon "important" %>
            Exceeds Maximum Amount
          </div>
        </div>
      <% elsif report.draft? %>
        <%= link_to reimbursement_report_submit_path(report_id: report.id), class: "btn bg-info", method: :post do %>
          <%= inline_icon "send" %>
          Submit & Request Review
        <% end %>
      <% elsif !report.event.users.include?(current_user) && report.unlockable? && !admin_signed_in? %>
        <%= link_to reimbursement_report_draft_path(report_id: report.id), class: "btn bg-muted", method: :post do %>
          <%= inline_icon "reply" %>
          Mark As Draft
        <% end %>
      <% elsif !report.event.users.include?(current_user) && !admin_signed_in? %>
        <div class="btn bg-success disabled" class="tooltipped tooltipped--n" aria-label="This report can't be marked as a draft.">
          <%= inline_icon "docs" %>
          Mark As Draft
        </div>
      <% else %>
        <%= link_to "#", class: "btn bg-warning", data: { behavior: "modal_trigger", modal: "request_changes" } do %>
          <%= inline_icon "reply" %>
          Request Changes
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
