<%# locals: (report:) %>

<table class="w-full table-fixed my-6">
  <tbody>
    <tr>
      <td>Amount (<%= report.currency %>):</td>
      <td><%= Money.from_cents(report.amount_to_reimburse_cents, report.currency).format %></td>
    </tr>
    <% if report.payout_holding %>
      <tr>
        <td>Amount (USD):</td>
        <td><%= render_money report.payout_holding.amount_cents %></td>
      </tr>
    <% end %>
    <tr>
      <td>Name:</td>
      <td>
        <%= report.user.name %>
      </td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><%= report.user.email %></td>
    </tr>
    <tr>
      <td>Address (Line 1):</td>
      <td><%= report.user.payout_method.address_line1 %></td>
    </tr>
    <tr>
      <td>Address (Line 2):</td>
      <td><%= report.user.payout_method.address_line2 %></td>
    </tr>
    <tr>
      <td>City:</td>
      <td><%= report.user.payout_method.address_city %></td>
    </tr>
    <tr>
      <td>State:</td>
      <td><%= report.user.payout_method.address_state %></td>
    </tr>
    <tr>
      <td>Postal code:</td>
      <td><%= report.user.payout_method.address_postal_code %></td>
    </tr>
    <tr>
      <td>Recipient country:</td>
      <td><%= report.user.payout_method.recipient_country %></td>
    </tr>
    <% WiseTransfer.recipient_information_accessors&.each do |key| %>
      <% if report.user.payout_method.recipient_information[key].presence != nil %>
        <tr>
          <td><%= key.humanize %></td>
          <td><%= report.user.payout_method.recipient_information[key] %></td>
        </tr>
      <% elsif report.user.payout_method.read_attribute(key.to_sym).present? %>
        <tr>
          <td><%= key.humanize %></td>
          <td><%= report.user.payout_method.read_attribute(key.to_sym) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
