<% title @report.name %>
<% page_md %>
<%= render "events/nav", selected: :reimbursements unless @use_user_nav %>
<%= render "users/nav", selected: :reimbursements if @use_user_nav %>
<%= turbo_stream_from @report %>
<% turbo_refreshes_with method: :morph, scroll: :preserve %>

<div class="md:mt-12">
  <h3 class="mt2 mb1 muted flex items-center" style="font-weight: 400; gap: 8px;">
    <span style="flex-grow: 1;">
      <%= user_mention @user, class: "tooltipped--s align-top" %>
      <%= "will be reimbursed " if @report.reimbursement_approved? || @report.reimbursed? && !@report.payout_holding.sent? %>
      <%= "was reimbursed " if @report.reimbursed? && @report.payout_holding.sent? %>
      <%= "requested " if @report.rejected? || @report.reversed? %>
      <%= "is requesting " unless @report.closed? %>
      <%= render "total", report: @report %>
      <% if @report.maximum_amount_cents %>
        (<%= render_money @report.maximum_amount_cents %> cap)
      <% end %>
      <%= "from #{@event.name}" if @event && @use_user_nav %> for
    </span>
    <% if @report.reviewer.present? && @report.submitted? %>
      <span class="mr1 badge bg-muted">Review requested from <%= @report.reviewer.initial_name %></span>
    <% end %>
    <span class="ml0 badge bg-<%= @report.status_color %>"><%= @report.status_text %></span>
    <% admin_tool "w-fit p0", style: "border-radius: 999px; height: 32px; width: 32px; flex-shrink: 0;" do %>
      <%= link_to reimbursements_admin_index_path, class: "flex items-center justify-center", style: "transform: translateY(1px);" do %>
        <%= inline_icon "list", size: 28, color: "#ff8c37" %>
      <% end %>
    <% end %>
    <% if @report.payout_holding&.failed? %>
      <% admin_tool "w-fit p0 tooltipped tooltipped--w overflow-visible", style: "border-radius: 999px; height: 32px; width: 32px; flex-shrink: 0;", 'aria-label': "Cancel this reimbursement" do %>
        <%= link_to reimbursement_report_reverse_path(@report), class: "flex items-center justify-center", style: "transform: translateY(1px);", method: :post, data: { confirm: "After cancelling a reimbursement report, the user will NOT BE REIMBURSED. Only do this if we are no longer going to reimburse them." } do %>
          <%= inline_icon "forbidden", size: 28, color: "#ff8c37" %>
        <% end %>
      <% end %>
    <% end %>

    <% if @report.draft? && organizer_signed_in?(as: :member) %>
      <%= pop_icon_to "delete",
                      reimbursement_report_path(@report),
                      data: { turbo_confirm: "Are you sure?", turbo_method: :delete },
                      icon_size: 26,
                      class: "tooltipped tooltipped--w",
                      style: "height: 32px; width: 32px; background: #ec375020; color: #ec3750",
                      'aria-label': "Delete this report.",
                      disabled: !policy(@report).destroy? %>
    <% end %>
    <% unless @report.closed? || !organizer_signed_in?(as: :member) %>
      <%= pop_icon_to "settings",
                      "#",
                      data: { behavior: "modal_trigger", modal: "edit" },
                      icon_size: 28,
                      class: "tooltipped tooltipped--w",
                      style: "height: 32px; width: 32px;",
                      'aria-label': "Edit this report's properties.",
                      disabled: !policy(@report).edit? %>
    <% end %>
  </h3>
  <h2 class="heading mt0 mb1 flex justify-start flex-row" style="gap: 0px">
    <span><%= @report.name %></span>
  </h2>
</div>

<section data-behavior="modal" role="dialog" id="edit" class="modal modal--scroll bg-snow">
  <%= modal_header "Edit report" %>
  <%= render "edit_form" %>
</section>

<section data-behavior="modal" role="dialog" id="request_changes" class="modal modal--scroll bg-snow">
  <%= modal_header "Return report" %>
  <p>
    Returning the report to <%= @report.user.first_name %> will allow them (as well as you and other team members) to make changes
    to the report. <span class="bold">If you have specific changes you'd like to see made, list them below:</span>
  </p>
  <%= form_with url: reimbursement_report_request_changes_path(report_id: @report.id), model: [@report, Comment.new] do |form| %>
    <%= form.hidden_field :commentable_type, value: @commentable.class %>
    <%= form.hidden_field :commentable_id, value: @report.id %>
    <text-expander keys="@">
      <%= form.text_area :content, class: "card mb2 overflow-visible", placeholder: "Describe your requested changes…", "data-behavior": "ctrl_enter_submit", style: "min-height: 100px" %>
    </text-expander>

    <%= form.hidden_field :action, value: :changes_requested %>

    <%= form.submit "Return this report to #{@report.user.first_name}" %>
  <% end %>
</section>

<section data-behavior="modal" role="dialog" id="submit" class="modal modal--scroll bg-snow">
  <%= modal_header "Submit report" %>
  <%= form_with url: reimbursement_report_submit_path(report_id: @report.id), model: [@report, Comment.new] do |form| %>
    <%= form.hidden_field :commentable_type, value: @commentable.class %>
    <%= form.hidden_field :commentable_id, value: @report.id %>
    <%= form.text_area :content, class: "card mb2 overflow-visible", placeholder: "(Optional) Describe your changes…", "data-behavior": "ctrl_enter_submit", style: "min-height: 100px" %>

    <%= form.submit "Submit" %>
  <% end %>
</section>

<% if @report.event&.public_reimbursement_page_message&.present? && policy(@event).reimbursements? %>
  <article class="card mt2 pt0">
    <%= sanitize(MarkdownService.instance.renderer.render(@report.event.public_reimbursement_page_message), scrubber: MarkdownScrubber.new) %>
    <section class="card__banner card__banner--bottom card__darker pt2 pb2">
      <p class="muted mt0 mb0">
        Information from <%= @report.event.name %>
      </p>
    </section>
  </article>
<% end %>

<% if @report.invite_message.presence %>
  <article class="card mt2 pt0">
    <%= sanitize(MarkdownService.instance.renderer.render(@report.invite_message), scrubber: MarkdownScrubber.new) %>
    <section class="card__banner card__banner--bottom card__darker pt2 pb2">
      <p class="muted mt0 mb0">
        Message from <%= @report.event.name %>
      </p>
    </section>
  </article>
<% end %>

<% if @report.draft? %>
  <section class="hidden md:flex items-start justify-center mt2 mb2" style="gap: 16px; position: relative;">
    <article class="card w-100">
      <p class="mt0">
        Paid for something out of pocket? Get reimbursed by uploading your receipts.
      </p>
      <p>
        Begin by adding an expense to this report below. Each purchase must be a separate expense with:
        <ol>
          <li>An itemised receipt.</li>
          <li>A memo describing the expense.</li>
          <li>The amount you are seeking reimbursement for.</li>
        </ol>
      </p>
      <p>
        Once you've added all of your expenses to the report, click <i>Submit</i> to begin the review process.
      </p>
      <% if @report.maximum_amount_cents %>
        <p>
          <%= @event.name %> has restricted this report to <span class="bold"><%= render_money @report.maximum_amount_cents %></span> in total reimbursement.
        </p>
      <% end %>

      <section class="card__banner card__banner--bottom card__darker pt2 pb2">
        <p class="muted mt0 mb0">
          <strong>Questions?</strong>
          <%= help_message %>
        </p>
      </section>
    </article>
  </section>

  <h2 class="hidden md:flex items-center">
    <span style="flex-grow: 1">Expenses</span>
  </h2>
<% elsif @report.submitted? && !organizer_signed_in? %>
  <% admin_tool("card mt2 p2", "div") do %>
    <p class="mt0 mb0">
      This report is currently being reviewed by <%= @event.name %>'s team. As an admin you may approve expenses, however, keep in mind that <span class="bold">all actions you take at this point will be on behalf of <%= @event.name %>.</span>
    </p>
  <% end %>
<% end %>

<% if @report.user.payout_method_type == User::PayoutMethod::WiseTransfer.name && @report.payout_holding && @report.payout_holding.wise_transfer.nil? %>
  <% admin_tool("mt-4") do %>
    <h3 class="mt-0">Process Wise reimbursement</h3>

    <div class="flex flex-row items-start justify-start gap-2 my-4">
      <span class="w-7 h-7 flex-shrink-0 rounded-full flex items-center justify-center text-xs font-bold border-2 border-solid border-smoke">3</span>
      <strong class="m-0">
        You may now send the Wise transfer
      </strong>
    </div>

    <%= render partial: "wise_information", locals: { report: @report } %>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <%= form_with(model: false, local: true, url: reimbursement_report_admin_send_wise_transfer_path(@report), method: :post) do |form| %>
        <h4 class="mt-0">Process transfer</h4>

        <div class="field">
          <%= form.label :wise_id, "Wise ID / URL", class: "bold mb1" %>
          <%= form.text_field :wise_id, class: "mt-0 !max-w-full", style: "width: 400px;", placeholder: "https://wise.com/transactions/activities/by-resource/TRANSFER/XXXXXXXX", onpaste: "var urlPrefix = 'https://wise.com/transactions/activities/by-resource/TRANSFER/'; var clipboardData = event.clipboardData.getData('Text'); clipboardData.startsWith(urlPrefix) ? (event.preventDefault(), event.target.value = clipboardData.substring(urlPrefix.length)) : null" %>
        </div>
        <div class="field">
          <%= form.label(:wise_recipient_id, "Wise recipient ID", class: "bold mb1") %>
          <%= form.text_field(
                :wise_recipient_id,
                style: "width: 400px;",
                class: "mt-0 !max-w-full",
                placeholder: "https://wise.com/recipients/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
              ) %>
        </div>
        <%= form.submit "Mark transfer as sent" %>
      <% end %>
      <div>
        <% locked_usd_amount = render_money @report.payout_holding.amount_cents %>
        <h4 class="mt-0">⚠️ Transaction failed? Here's what to do!</h4>
        <p>Reach out to the user to request new information from them (for example an updated account number or address). Inform them that the USD amount of this report has been locked at <%= locked_usd_amount %> and that after we receive the updated information from them, we will send the <%= @report.currency %> equivalent of <%= locked_usd_amount %>.</p>
        <p><strong>Upon resending the new information, send a Wise transfer with the updated information with a USD value of <%= locked_usd_amount %>.</strong></p>
        <p>If you would prefer to abort this reimbursement report, please reach out to an engineer to cancel the report. Cancelling a report is a destructive action and the report can not be resubmitted afterwards.</p>
      </div>
    </div>
  <% end %>
<% end %>

<div id="expenses">
  <%= render partial: "expenses", locals: { report: @report } %>
  <%= render partial: "blankslate", locals: { report: @report } %>
</div>

<% if @report.user.payout_method_type == User::PayoutMethod::WiseTransfer.name && @report.expenses.select { |e| e.type == Reimbursement::Expense::Fee.name }.empty? %>
  <%= render "callout",
      type: "info",
      icon: "wise",
      title: "Important information about Wise reimbursements",
      class: "!border-[#9FE870] [&>div.flex]:text-[#163300] dark:[&>div.flex]:text-[#9FE870] mt-4",
      footer: link_to("Learn more about Wise on HCB →", "https://help.hcb.hackclub.com/article/65-wise") do %>
    We've integrated Wise into HCB to offer international reimbursements to over 100 countries. HCB never charges fees on reimbursements, however Wise will charge processing fees to your organization.
  <% end %>
<% end %>

<%= render partial: "actions", locals: { report: @report, user: @user } %>

<%= render partial: "conversation" %>

<section data-behavior="modal" role="dialog" id="edit_payout" class="modal modal--scroll bg-snow">
  <%= modal_header "Add payout information" %>
  <%= render "/users/payout_form", user: @report.user, report: @report %>
</section>

<section data-behavior="modal" role="dialog" id="wire_requirements" class="modal modal--scroll bg-snow">
  <%= modal_header "Wire transfer requirements" %>
  <%= render partial: "/wires/requirements", locals: { event: @report.event, class: "mb-0" } %>
</section>

<style>
  html { scroll-behavior: smooth; }
</style>
