<%# locals: (card_grant:) %>

<div class="tooltipped tooltipped--w" aria-label="Manage this grant">
  <%= link_to edit_card_grant_path(card_grant),
              class: "btn",
              data: { behavior: "modal_trigger", modal: "edit_card_grant" } do %>
    <% if policy(card_grant).edit? %>
      <%= inline_icon "settings" %>
      Manage grant
    <% else %>
      <%= inline_icon "settings" %>
      View grant settings
    <% end %>
  <% end %>
</div>

<section class="modal modal--scroll modal--wide bg-snow" data-behavior="modal" role="dialog" id="edit_card_grant">
  <%= modal_header "Manage grant" %>
  <%= turbo_frame_tag "edit_#{@card_grant.id}", src: edit_overview_event_card_grant_path(@card_grant) %>
</section>
