<%# locals: (card_grant:) %>

<% if card_grant.active? %>

  <%= link_to "#",
              data: { behavior: "modal_trigger", modal: "withdrawl" },
              class: "btn bg-warning" do %>
    <%= inline_icon "minus", size: 20 %> Withdraw from grant
  <% end %>

  <div class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="withdrawl">
    <%= modal_header "Withdraw from grant" %>
    <%= form_with(url: withdraw_event_card_grant_path(id: card_grant.hashid, event_id: @event.slug), class: "w-full") do |form| %>
      <div class="field">
        <%= form.label :amount %>
        <%= form.number_field :amount, placeholder: "500.00", required: true, step: 0.01, min: 0 %>
      </div>
      <%= form.submit "Create withdrawal" %>
    <% end %>
  </div>
<% end %>
