<p>Hi <%= @position.user.first_name %>,</p>

<p>
  <%= @changer.name %> has updated your role in <%= @position.event.name %>
  to <%= @position.role.titleize %>.
</p>

<p>
  Previously, you were a <%= @previous_role.titleize %>. <%= @position.role.titleize %>
  is a
  <%= OrganizerPosition.roles[@previous_role] < OrganizerPosition.roles[@position.role] ? "more" : "less" %>
  permissive role.
  <br>
  For more information on roles, please visit the
  <%= link_to "User Roles", roles_url %>
  explainer page.
</p>

<% if @position.event.demo_mode? %>
  <p>
    Remember, your organization is still in Playground mode; nobody has access
    to real money.
    You can request to fully activate your account at any time from the HCB
    dashboard.
    Don't hesitate to reply to this email if you have any questions!
  </p>
<% end %>

<p>
  Best,<br>
  The HCB Team
</p>
