
<%= render partial: "hcb_codes/decline_reason", locals: {
      canonical_pending_transaction: @cpt,
      include_troubleshooting: true,
      include_external: true,
      is_email: true
    } %>

<% if @cpt.hcb_decline_reason == :inadequate_balance %>

  <% if @card.subledger.present? || @card.active_spending_control %>
    The balance available on this card is <%= render_money @card.balance_available %>.
    <% if @card.active_spending_control %>
      If you need additional funds, please contact a manager. They can create an allowance <%= link_to "here", event_organizer_position_spending_controls_url(@card.event, @card.active_spending_control.organizer_position) %>.
    <% end %>
  <% else %>
    The account balance for <%= @event.name %> is <%= render_money @card.balance_available %>.
  <% end %>
<% end %>

<p>
  <%= link_to "Click here to view the declined transaction.", @cpt.local_hcb_code %>
</p>

<% if Rails.env.development? %>
  <hr>
  <p>Development mode metadata:</p>
  <pre>
    <%= json auth: @cpt.raw_pending_stripe_transaction.stripe_transaction %>
  </pre>
<% end %>
