<%= form_with model: [@commentable, @comment] do |form| %>
  <% if @comment.errors.any? %>
  <p>There are errors</p>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="comment__name mt2">
    <%= user_mention current_user %>
  </div>
  <%= form.text_area :content, class: 'card mb2', placeholder: 'Add a comment…' %>

  <div class="field">
    <%= form.file_field :file %>
  </div>

  <% admin_tools('pb0 mb2') do %>
    <div class="field field--checkbox">
      <%= form.check_box :admin_only, {}, true, false %>
      <%= form.label :admin_only, 'Post as admin-only comment' %>
    </div>
  <% end %>

  <%= form.submit 'Post Comment' %>
<% end %>
