<%= form_with model: [@commentable, @comment] do |form| %>
  <% if @comment.errors.any? %>
  <p>There are errors</p>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="comment__name bold mt2"><%= current_user.name %></div>
  <%= form.text_area :content, class: 'mb2' %>

  <%= form.submit 'Post Comment' %>
<% end %>
