<% if policy(comment).show? %>
  <div class="mt2 mb2 <%= local_assigns[:class] %>" id="<%= dom_id comment %>">
    <div class="card border pb0 pt0 mb2 max-width-4<%= " current-user" if comment.user == current_user %>  <%= " comment--admin" if comment.admin_only? %>" id="comment-<%= comment.hashid %>">
      <div class="border-bottom card__banner secondary">
        <%= user_mention comment.user, click_to_mention: true %> <%= comment.action_text %>
        <%= link_to "#comment-#{comment.hashid}", title: comment.created_at, data: { controller: "clipboard", clipboard_text_value: url_for(only_path: false, anchor: "comment-#{comment.hashid}"), action: "clipboard#copy" } do %>
          <%= time_ago_in_words comment.created_at %> ago<%= inline_icon "link", size: 24, class: "align-middle" %><% end %>
        <% if comment.edited? %>
        <span class="mx1">|</span>
        <action data-behavior="modal_trigger" data-turbolinks="false" data-modal="comment-modal-<%= comment.hashid %>" tabindex="0">
          <%= link_to "edited", "#comment-history-#{comment.hashid}",
            class: "muted tooltipped tooltipped--s",
            'aria-label': "See all edit history" %>
        </action>
        <% end %>
        <% if policy(comment).destroy? %>
          <%= link_to comment, class: "tooltipped tooltipped--s right", 'aria-label': "Delete", data: { turbo_method: :delete, turbo_confirm: "Are you sure you'd like to delete this comment?" } do %>
            <%= inline_icon "delete", size: 24, 'aria-label': "Delete" %>
          <% end %>
        <% end %>
        <% if policy(comment).edit? %>
          <%= link_to edit_comment_path(comment), class: "tooltipped tooltipped--s right", 'aria-label': "Edit", data: { turbo: false } do %>
            <%= inline_icon "edit", size: 24, 'aria-label': "Edit" %>
          <% end %>
        <% end %>
      </div>
      <div class="card__banner card__darker comment--container">
        <% if comment.content.blank? %>
          <div class="muted mb1"><em>Comment left blank.</em></div>
        <% else %>
          <%== MarkdownService.instance.renderer(current_user:, record: comment).render comment.content %>
        <% end %>
        <%= render partial: "comments/reactions", locals: { comment: } %>
      </div>
      <% if comment.has_attached_file? %>
        <div class="border-top card__banner">
        <% if organizer_signed_in? %>
          <%= link_to "📎 attachment", url_for(comment.file), target: "_blank" %>
        <% else %>
          <%= link_to "📎 sign in to download attachment", root_path, target: "_blank" %>
        <% end %>
        </div>
      <% end %>
        <%# if comment.edited? %>
          <!--action data-behavior="modal_trigger" data-turbolinks="false" data-modal="comment-modal-<%= comment.hashid %>" tabindex="0">
            <a href="#">History</a>
          </action-->
        <%# end %>
    </div>
  </div>
<% end %>

<% if comment.edited? %>
  <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="comment-modal-<%= comment.hashid %>">
    <%= modal_header "Edit History" %>
    <ul class="list-reset">
      <% comment.versions.where(event: "update").reverse.each do |version| %>
        <% if version&.changeset&.[]("content_ciphertext")&.compact_blank&.any? %>
          <li class="mb2">
            <%= version.whodunnit.nil? ? "Automatically " : user_mention(User.find(version.whodunnit)) %>
            updated <%= time_ago_in_words version.created_at %> ago
            <p class="mb1">
              <div class="card border b--muted">
                <%= sanitize Diffy::Diff.new(Comment.new(content_ciphertext: version.changeset["content_ciphertext"][0]).content, Comment.new(content_ciphertext: version.changeset["content_ciphertext"][1]).content, allow_empty_diff: false).to_s(:html) %>
              </div>
            </p>
          </li>
        <% end %>
      <% end %>
      <% if comment.has_untracked_edit? %>
        <li class="mb2">
          <span class="mention tooltipped tooltipped--e" aria-label="No information on edits before 2022">
          <%= inline_icon "info", size: 24 %>
          </span>
          <span>Someone edited this sometime ago</span>.
        </li>
      <% end %>
      <li>
        <%= user_mention comment.user %> created
        <%= time_ago_in_words comment.created_at %> ago
      </li>
    </ul>
  </section>
<% end %>
