<% if @event.demo_mode? %>
  <div class="muted mt-6">
    Once your organization is activated, you'll be able to create and send invoices
  </div>
<% else %>
  <%= form_with(model: invoice, url: event_invoices_path(@event), local: true, data: { controller: "invoice-form" }, html: { "x-data" => "{ amount: null }" }) do |form| %>
    <div data-controller="tabs" data-tabs-default-tab-value="sponsor">
      <div class="flex mb-4 gap-5">
        <div
          id="sponsor"
          data-tabs-target="btn"
          data-action="click->tabs#select"
          class="invoice-tab">
          <div class="invoice-tab__number">1</div>
          <span>Sponsor details</span>
        </div>
        <button
          disabled
          type="button"
          id="invoice"
          style="font-size: inherit;"
          data-tabs-target="btn"
          data-action="click->tabs#select"
          data-invoice-form-target="secondTab"
          class="invoice-tab disabled:pointer-events-none">
          <div class="invoice-tab__number">2</div>
          <span>Invoice details</span>
        </button>
      </div>
      <%= form_errors invoice %>
      <%= form_errors sponsor %>
      <div data-tabs-target="tab" id="sponsor">
        <div class="field">
          <select
            data-invoice-form-target="selectSponsor"
            data-action="change->invoice-form#selectSponsor"
            name="invoice[sponsor_id]"
            id="invoice_sponsor_id"
            class="max-w-full"
            <%= "disabled hidden" if @event.sponsors.empty? %>>
            <option value="default" selected disabled>Select…</option>
            <option value="">+⠀New sponsor…</option>
            <% @event.sponsors.select(:id, :name, :contact_email, :address_line1, :address_line2, :address_city, :address_state, :address_postal_code, :address_country).each do |sponsor| %>
              <option value="<%= sponsor.id %>" data-json="<%= sponsor.to_json %>"><%= sponsor.name %></option>
            <% end %>
          </select>
        </div>
        <details
          id="sponsor-collapsible"
          data-invoice-form-target="sponsorCollapsible">
          <summary class="list-none select-none flex !hidden items-center bg-gray-100 hover:bg-gray-200 active:bg-gray-300 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:active:bg-neutral-600 transition-colors px-7 p-4" data-invoice-form-target="sponsorPreview">
            <div class="flex flex-col">
              <span class="font-bold text-lg" data-invoice-form-target="sponsorPreviewName"></span>
              <span class="opacity-60 text-xs" data-invoice-form-target="sponsorPreviewEmail"></span>
            </div>
            <span class="muted ml-auto">Edit</span>
          </summary>
          <%= form.fields_for :sponsor_attributes do |form| %>
            <div data-invoice-form-target="sponsorForm">
              <p id="sponsor-warning" class="flex items-center info line-height-3" hidden>
                <%= inline_icon "important", size: 32, class: "mr1" %>
                You're currently updating a previous sponsor. This will also update all past invoices to them.
              </p>
              <%= form.hidden_field :id %>
              <div class="field mt2">
                <%= form.label :name, "Name" %>
                <span class="muted mb-2 block text-sm">Use company name if applicable</span>
                <%= form.text_field :name, placeholder: "Raviga Capital", required: true, disabled: @event.demo_mode? %>
              </div>
              <div class="field">
                <%= form.label :contact_email, "Contact email" %>
                <span class="muted mb-2 block text-sm">Email you'll send this invoice to</span>
                <%= form.email_field :contact_email, placeholder: "peter.gregory@ravigacapital.com", required: true, disabled: @event.demo_mode? %>
              </div>
              <%= form.label :address_line1, "Street address" %>
              <div class="flex gap-2">
                <div class="field">
                  <%= form.text_field :address_line1, placeholder: "1 Letterman Drive", required: true, disabled: @event.demo_mode? %>
                </div>
                <div class="field">
                  <%= form.text_field :address_line2, placeholder: "Suite 500", disabled: @event.demo_mode? %>
                </div>
              </div>
              <div class="flex">
                <div class="field flex-auto mr1">
                  <%= form.label :address_city, "City" %>
                  <%= form.text_field :address_city, placeholder: "San Francisco", required: true, disabled: @event.demo_mode? %>
                </div>
                <div class="field flex-auto ml1">
                  <%= form.label :address_state, "State" %>
                  <%= form.text_field :address_state, placeholder: "CA", required: true, disabled: @event.demo_mode? %>
                </div>
              </div>
              <div class="flex gap-2">
                <div class="field flex-auto">
                  <%= form.label :address_postal_code, "Zip code" %>
                  <%= form.text_field :address_postal_code, placeholder: "94129", required: true, disabled: @event.demo_mode? %>
                </div>
                <div class="field flex-auto">
                  <%= form.label :address_country, "Country" %>
                  <%= form.country_select :address_country, priority_countries: ["US"], priority_countries_divider: "", include_blank: "Select a country", required: true, disabled: @event.demo_mode? %>
                </div>
              </div>
            </div>
          <% end %>
        </details>
        <button
          type="button"
          id="invoice"
          data-invoice-form-target="continueButton"
          class="btn bg-accent mt-4 w-full"
          data-action="click->invoice-form#continue"
          disabled>
          Continue
          <%= inline_icon "view-forward" %>
        </button>
      </div>
      <div data-tabs-target="tab" id="invoice">
        <%= form.label :item_amount, "Amount" %>
        <div class="field">
          <div class="flex items-center border border-gray-200 dark:bg-darkless dark:border-0 rounded-lg px-3">
            <span class="bold muted" style="width: 1rem;">$</span>
            <%= form.number_field :item_amount,
                                  value: (invoice.item_amount.nil? ? nil : (invoice.item_amount.to_f / 100)), placeholder: "500.00",
                                  step: 0.01,
                                  style: "max-width:100%!important",
                                  class: "!border-none bg-transparent",
                                  min: 1.00, required: true, disabled: @event.demo_mode?,
                                  data: { controller: "truncate-decimal", action: "truncate-decimal#truncate blur->truncate-decimal#pad" },
                                  "x-model.fill.number" => "amount" %>
          </div>
          <div class="mt-2">
            <% if invoice.event.revenue_fee != 0 %>
              <span class="text-xs muted block ml-2 mb-1 empty:hidden" data-behavior="amount-preview" data-fee="<%= sponsor.event.revenue_fee %>"></span>
            <% end %>
            <div class="text-xs info block gap-2 ml-2 mb-1" x-cloak x-show="amount >= <%= Invoice::MAX_CARD_AMOUNT / 100.0 %>">
              Invoices <%= render_money Invoice::MAX_CARD_AMOUNT %> or more can only be paid by a bank transfer.
            </div>
          </div>
        </div>
        <div class="field">
          <%= form.label :item_description, "Description" %>
          <%= form.text_field :item_description, placeholder: "#{sponsor.event.name} Silver Sponsorship", required: true, class: "!max-w-full", disabled: @event.demo_mode? %>
        </div>
        <div class="field">
          <%= form.label :due_date %>
          <%= form.date_field :due_date, min: 3.days.from_now, value: 30.days.from_now, class: "!max-w-full", disabled: @event.demo_mode? %>
        </div>
        <div class="actions tooltipped tooltipped--n inline-block" aria-label="Your invoice will immediately be emailed to the sponsor">
          <%= form.submit "Send invoice now", disabled: !organizer_signed_in? || @event.demo_mode? %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
