<% transaction = invoice.payout.t_transaction %>
<% refund = invoice&.fee_reimbursement %>
<% refund_t = refund&.t_transaction %>
<% @invoice = invoice %>
<tr
  class="transaction--positive"
  data-filter="<%= transaction.filter_data.to_json %>"
  data-id="<%= transaction.id %>"
>
  <td class="transaction__icon tooltipped tooltipped--e" aria-label="Invoice payment">
    <%= inline_icon 'briefcase' %>
  </td>
  <td>
    <%= transaction.date %>
  </td>
  <td class="transaction__memo">
    <%= link_to "Invoice to #{invoice.sponsor.name}", invoice %>
    <%= list_badge_for invoice.comments.size, 'note', 'post', optional: true %>
  </td>
  <td>
    <%= render_money transaction.amount + refund_t&.amount.to_i %>
  </td>
  <% if organizer_signed_in? %>
    <td>
      <%= link_to 'Details', invoice, class: 'underline' %>
    </td>
  <% end %>
</tr>
