<% transaction = invoice.payout.t_transaction %>
<% refund = invoice&.fee_reimbursement %>
<% refund_t = refund&.t_transaction %>
<% @invoice = invoice %>
<tr
  class="transaction--positive"
  data-behavior="filterbar_row"
  data-filter="<%= transaction.filter_data.to_json %>"
  data-id="<%= transaction.id %>"
>
  <td class="transaction__icon tooltipped tooltipped--e" aria-label="Invoice payment">
    <%= inline_icon 'payment-docs' %>
  </td>
  <td>
    <%= transaction.date %>
  </td>
  <td>
    Invoice to <%= invoice.sponsor.name %> for <%= render_money invoice.item_amount %>
  </td>
  <td>
    <%= link_to 'See Invoice', invoice, class: 'underline' %>
  </td>
  <td>
    <%= render_money transaction.amount + refund_t&.amount.to_i %>
  </td>
  <td>
    <%= link_to 'Details', transaction, class: 'underline' if organizer_signed_in? %>
  </td>
</tr>
