      <tr class="right-align border-none">
        <td class="w-100"><!-- Spacer --></td>
        <td class="muted"><%= name %></td>
        <% if tip %>
          <td class="muted left-align"><span class="tooltipped tooltipped--e" aria-label="<%= tip %>"><%= inline_icon 'info', size: 16 %></span></td>
        <% else%>
          <td></td>
        <% end %>
        <td class="muted"><%= '+' if change > 0%><%= render_money_amount change %></td>
        <td class="pl3"><%= render_money balance %></td>
      </tr>