<section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="new_invoice">
  <%= modal_header "Send an invoice" %>

  <% if @event.invoices.none? %>
    <%= render "callout",
          type: "info",
          title: "We recommend sending yourself an invoice for $1 to understand what your sponsors will see." %>
  <%= render "invoices/form", invoice: @invoice || Invoice.new(sponsor: @sponsor, event: @event), sponsor: @sponsor || Sponsor.new(event: @event) %>
  <% else %>
    <p class="h5 line-height-3 muted mt0 mb2">
      If the sponsor wants to pay via a mailed check or direct deposit instead of
      the online invoice, let the HCB team know.
      <%= help_message %>
    </p>
  <%= render "invoices/form", invoice: @invoice || Invoice.new(sponsor: @sponsor, event: @event), sponsor: @sponsor || Sponsor.new(event: @event) %>
  <% end %>
</section>
