<% title "Invoices for #{@event.name}" %>
<% page_md %>
<%= render "events/nav", selected: :invoices %>

<h1 class="heading">
  <span class="flex items-center">
    Invoices
    <%= badge_for @invoices.size, class: "bg-muted" %>
  </span>

  <% if organizer_signed_in? %>
    <%= link_to new_event_invoice_path(event_id: @event.slug),
        class: "btn btn--icon bg-success",
        data: { behavior: "modal_trigger", modal: "new_invoice" } do %>
      <%= inline_icon "send" %>
      Send an invoice
    <% end %>
  <% end %>
</h1>

<% if organizer_signed_in? %>
  <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="new_invoice">
    <%= modal_header "Send an invoice" %>

    <% if @event.invoices.none? %>
      <%= render "callout",
            type: "info",
            title: "We recommend sending yourself an invoice for $1 to understand what your sponsors will see." %>
    <%= render "form", invoice: @invoice, sponsor: @sponsor %>
    <% else %>
      <p class="h5 line-height-3 muted mt0 mb2">
        If the sponsor wants to pay via a mailed check or direct deposit instead of
        the online invoice, let the HCB team know.
        <%= help_message %>
      </p>
    <%= render "form", invoice: @invoice, sponsor: @sponsor %>
    <% end %>
  </section>
<% end %>

<div class="statset mt3 mb3">
  <div class="stat tooltipped tooltipped--s" aria-label="This excludes archived invoices">
    <span class="stat__label">Total invoiced</span>
    <span class="stat__value"><%= render_money_amount @stats[:total] %></span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">Already received</span>
    <span class="stat__value"><%= render_money_amount @stats[:paid] %></span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">On the way</span>
    <span class="stat__value"><%= render_money_amount @stats[:pending] %></span>
  </div>
  <div class="stat stat--small tooltipped tooltipped--s" aria-label="This excludes archived invoices">
    <span class="stat__label">Unpaid</span>
    <span class="stat__value"><%= render_money_amount @stats[:unpaid] %></span>
  </div>
</div>

<div class="flex items-center gap-4 flex-col-reverse sm:flex-row mb2">
  <%= form_with(model: nil, local: true, method: :get, class: "flex-1 w-full sm:w-auto") do |form| %>
    <div class="input input-group max-w-none" tabindex="0">
      <%= inline_icon "search" %>
      <%= form.text_field :q, placeholder: "Type / to search...", data: { behavior: "search" }, value: params[:q] %>
      <% if params[:q] && params[:q] != "" %>
        <button data-behavior="clear" type="submit" class="pop muted w-7 h-7">
          <%= inline_icon "view-close", size: 24 %>
        </button>
      <% end %>
    </div>
  <% end %>
  <div>
    <%= link_to "All", "?filter=all", class: "filterbar__item", "aria-selected": !["paid", "unpaid", "overdue", "archived", "voided"].include?(params[:filter]), role: "tab" %>
    <%= link_to "Paid", "?filter=paid", class: "filterbar__item", "aria-selected": params[:filter] == "paid", role: "tab" %>
    <%= link_to "Unpaid", "?filter=unpaid", class: "filterbar__item", "aria-selected": params[:filter] == "unpaid", role: "tab" %>
    <%= link_to "Archived", "?filter=archived", class: "filterbar__item", "aria-selected": params[:filter] == "archived", role: "tab" %>
    <%= link_to "Voided", "?filter=voided", class: "filterbar__item", "aria-selected": params[:filter] == "voided", role: "tab" %>
  </div>
</div>

<% if @invoices.size > 0 %>
<article class="table-container">
<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Date</th>
      <th>To</th>
      <th class="text-right">Amount</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |i| %>
      <tr>
        <td>
          <span class="ml0 badge bg-<%= i.state %>"><%= i.state_text %></span>
        </td>
        <td>
          <%= format_date i.created_at %>
        </td>
        <td>
          <%= i.sponsor.name %>
        </td>
        <td style="text-align: right;">
          <%= render_money(i.item_amount) %>
        </td>
        <td>
          <%= link_to "Details", hcb_code_url(i.local_hcb_code.hashid), data: Flipper.enabled?(:hcb_code_popovers_2023_06_16, current_user) && { turbo_frame: "_top", behavior: "modal_trigger", modal: "transaction_details_#{i.local_hcb_code.hashid}" } if organizer_signed_in? %>
        </td>
      </tr>
      <% if (Flipper.enabled?(:hcb_code_popovers_2023_06_16, current_user)) %>
        <section class="modal modal--scroll modal--popover bg-snow" data-behavior="modal" role="dialog" id="transaction_details_<%= i.local_hcb_code.hashid %>">
          <%= modal_header("#{i.sponsor.name} invoiced for #{render_money(i.item_amount)}", external_link: hcb_code_url(i.local_hcb_code.hashid)) %>
          <%= async_frame_to hcb_code_url(i.local_hcb_code.hashid, params: { frame: true }), lazy: true, as: :div do %>
            <strong>Loading...</strong>
          <% end %>
        </section>
      <% end %>
    <% end %>
  </tbody>
</table>
</article>
<% else %>
  <%= blankslate "No invoices yet" %>
<% end %>
