<% page_snow %>
<% page_md %>
<%= render 'events/nav' %>

<h1 class="heading">
  <span class="flex items-center">
    Invoices
    <%= badge_for @invoices.count %>
  </span>
  <%= link_to 'Send an invoice',
    new_event_invoice_path(event_id: @event.id),
    class: 'btn bg-success' %>
</h1>

<% if @invoices.any? %>
  <ul class="grid">
    <% @invoices.each do |i| %>
      <%= link_to event_invoice_path(id: i.id) do %>
        <li class="card">
          <strong class="block h2 <%= i.status %>"><%= render_money_short i.item_amount %></strong>
          <strong class="block"><%= i.sponsor.name %></strong>
          <%= user_mention i.creator %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <%= blankslate 'Collect sponsor donations with invoices.' %>
<% end %>
