<% title 'Mark invoice paid' %>
<% page_md %>

<%= link_to @invoice.sponsor.event.name, @invoice.sponsor.event, class: 'breadcrumb' %>
<%= link_to @invoice.sponsor.name, @invoice.sponsor, class: 'breadcrumb' %>
<h1>Invoice for <%= render_money @invoice.total %></h1>

<p>
  Manually mark this invoice as paid. You'll want to do this if the sponsor
  pays via check or another method not built into our Stripe integration.
</p>

<hr />

<p>
  <em>
    Warning: this action is permanent and irreversable. If you do this in
    error, a new invoice will have to be created for the sponsor, which will
    send them another email. Please exercise caution. Your account will be
    associated with this action.
  </em>
</p>

<%= form_tag invoice_manually_mark_as_paid_path(@invoice), multipart: true do %>
  <%= form_errors @invoice %>

  <div class="field">
    <%= label_tag :manually_marked_as_paid_reason, 'Reason for manually marking as paid:' %>
    <%= text_area_tag :manually_marked_as_paid_reason %>
  </div>

  <div class="field">
    <%= label_tag :manually_marked_as_paid_attachment, '(optional) Please attach a file giving more background (like a PDF of check images):' %>
    <%= file_field_tag :manually_marked_as_paid_attachment %>
  </div>

  <div class="actions">
    <%= submit_tag "Manually mark this #{render_money @invoice.total} invoice as paid" %>
  </div>
<% end %>
