<% title "Invoice to #{@invoice.sponsor.name} for #{render_money @invoice.total}" %>
<% page_md %>
<%= render 'events/nav' %>

<%= creator_bar @invoice %>

<article class="card pb0">
  <h2 class="h2 sans mt0 border-none">
    <%= @sponsor.name %>
    <span class="regular muted"> invoiced for </span>
    <span class="regular"><%= render_money @invoice.item_amount %></span>
    <span class="badge h4 md-right bg-<%= @invoice.state %>">
      <%= @invoice.state_text %>
      <% if @invoice.state_icon %>
        <%= inline_icon @invoice.state_icon, size: 16 %>
      <% end %>
    </span>
  </h2>

  <% if %w[Paid Pending].include? @invoice.state_text %>
    <section class="card__banner details-horiz bg-snow border-top border-bottom">
      <p>
        <strong>Paid at</strong>
        <%= invoice_paid_at %>
      </p>
      <p>
        <strong>Payment method</strong>
        <span class="inline-flex">
          <%= invoice_payment_method_mention %>
        </span>
      </p>
      <p>
        <strong>Recipient email</strong>
        <%= mail_to @sponsor.contact_email, @sponsor.contact_email.downcase, class: 'black underline' %>
      </p>
    </section>
  <% else %>
    <!-- Hide details row if invoice isn't paid -->
  <% end %>

  <!-- white body section -->
  <% if %w[Pending Paid].include? @invoice.state_text %>
    <section class="details-horiz details--wide mt2 mb1">
      <% if @invoice.payment_method_type == 'card' %>
        <div class="details no-border">
          <p>
            <strong>Brand</strong>
            <span><%= @invoice.payment_method_card_brand.humanize.capitalize %></span>
          </p>
          <p>
            <strong>Expiration</strong>
            <span><%= @invoice.payment_method_card_exp_month.to_s.rjust(2, '0') %> / <%= @invoice.payment_method_card_exp_year %></span>
          </p>
          <p>
            <strong>Type</strong>
            <span><%= @invoice.payment_method_card_funding.humanize.capitalize %></span>
          </p>
          <p>
            <strong>Country code</strong>
            <span><%= invoice_card_country_mention %></span>
          </p>
        </div>
        <div class="details no-border">
          <p>
            <strong>CVC check</strong>
            <span> <%= invoice_card_check_badge 'cvc' %> </span>
          </p>
          <p>
            <strong>Zip check</strong>
            <span> <%= invoice_card_check_badge 'address_postal_code' %> </span>
          </p>
          <p>
            <strong>Address check</strong>
            <span> <%= invoice_card_check_badge 'address_line1' %> </span>
          </p>
          <%= invoice_payout_datetime %>
        </div>
      <% elsif @invoice.payment_method_type == 'ach_credit_transfer' %>
        <div class="details no-border">
          <p>
            <strong>Bank</strong>
            <span><%= @invoice.payment_method_ach_credit_transfer_bank_name %></span>
          </p>
          <p>
            <strong>Routing number</strong>
            <span><%= @invoice.payment_method_ach_credit_transfer_routing_number %></span>
          </p>
          <p>
            <strong>Account number</strong>
            <span><%= @invoice.payment_method_ach_credit_transfer_account_number %></span>
          </p>
          <p>
            <strong>SWIFT code</strong>
            <span><%= @invoice.payment_method_ach_credit_transfer_swift_code %></span>
          </p>
          <%= invoice_payout_datetime %>
        </div>
      <% elsif @invoice.manually_marked_as_paid? %>
        <div>
          <p>
            This invoice was manually marked as paid by <%= @invoice.manually_marked_as_paid_user.full_name %>.
          </p>
          <p>
            Reason given: "<%= @invoice.manually_marked_as_paid_reason %>"
          </p>
          <% if @invoice.manually_marked_as_paid_attachment.attached? %>
            <p><%= link_to 'Download provided attachment', @invoice.manually_marked_as_paid_attachment %></p>
          <% end %>
        </div>
      <% else %>
        <%= invoice_payout_datetime %>
      <% end %>
    </section>
  <% else %>
    <!-- timeline info -->
    <section class="card__banner details details--wide mt2 bg-snow border-top border-bottom">
      <p>
        <strong>Due date</strong>
        <span><%= format_date @invoice.due_date %></span>
      </p>
      <p>
        <strong><%= @invoice.state_text == 'Overdue' ? 'Overdue by' : 'Due in' %></strong>
        <span><%= distance_of_time_in_words @invoice.due_date, Time.now %></span>
      </p>
    </section>
    <!-- recipient info -->
    <section class="details details--wide mb1 details--tall">
      <p>
        <strong>Billed to</strong>
        <span><%= mail_to @invoice.sponsor.contact_email.downcase %></span>
      </p>
      <p>
        <strong>Payment methods</strong>
        <span>
          <span class="bg-slate smoke tooltipped tooltipped--s inline-flex rounded" aria-label="Credit or debit cards">
            <%= inline_icon 'card-other', size: 24, class: 'm1' %>
          </span>
          <span class="bg-slate smoke tooltipped tooltipped--s inline-flex rounded" aria-label="ACH credit transfers and domestic wires">
            <%= inline_icon 'bank-account', size: 24, class: 'm1' %>
          </span>
        </span>
      </p>
      <p>
        <strong>Address</strong>
        <span>
        <%= @sponsor.address_line1 %><br />
        <% if @sponsor.address_line2.present? %>
          <%= @sponsor.address_line2 %><br />
        <% end %>
        <%= @sponsor.address_city %>, <%= @sponsor.address_state %> <%= @sponsor.address_postal_code %>
        </span>
      </p>
      <p>
        <strong>Invoice memo</strong>
        <span><%= @invoice.memo %></span>
      </p>
    </section>
  <% end %>

  <section class="card__banner bg-snow border-top">
    <% if @invoice.hosted_invoice_url && @invoice.invoice_pdf %>
      <%= link_to 'View sent invoice', @invoice.hosted_invoice_url, class: 'btn bg-accent mr2', target: '_blank'  %>
      <%= link_to 'Download invoice PDF', @invoice.invoice_pdf, class: 'btn bg-info', target: '_blank'  %>
    <% end %>

    <% admin_tools('mt2') do %>
      <%= link_to 'Manually mark as paid', invoice_manual_payment_path(@invoice), class: 'btn bg-success mr2' unless @invoice.paid? %>
      <%= link_to 'View on Stripe', @invoice.stripe_dashboard_url, class: 'btn bg-accent' %>
    <% end %>
  </section>
</article>

<h2>Notes</h2>
<%= render 'comments/comments' %>
<%= render 'comments/form' %>