<% title "Invoice to #{@invoice.sponsor.name} for #{render_money @invoice.total}" %>
<% page_md %>
<%= render 'events/nav' %>

<%= creator_bar @invoice %>

<article class="card pb0">
  <h2 class="h2 sans mt0 border-none">
    <%= @sponsor.name %>
    <span class="regular muted"> invoiced for </span>
    <span class="regular"><%= render_money @invoice.item_amount %></span>
    <span class="badge h4 md-right bg-<%= @invoice.state %>"><%= @invoice.state_text %></span>
  </h2>

  <section class="card__banner details-horiz bg-snow border-top border-bottom">
    <p>
      <strong>Due</strong>
      <%= format_date @invoice.due_date.to_date %>
    </p>

    <p>
      <strong>Contact email</strong>
      <%= mail_to @sponsor.contact_email, @sponsor.contact_email.downcase, class: 'black underline' %>
    </p>

    <p>
      <strong>Address</strong>
      <%= @sponsor.address_line1 %>
      <%= @sponsor.address_line2 if @sponsor.address_line2.present? %>
      <br />
      <%= @sponsor.address_city %>, <%= @sponsor.address_state %> <%= @sponsor.address_postal_code %>
    </p>
  </section>
  
  <section class="details details--wide mt2 mb1">
    <% if @invoice.state == :success %>
    <p>
      <strong>Sponsor paid</strong>
      <span>
      <%= render_money @invoice.item_amount %>
      <% if @invoice&.payout %>
        via <%= @invoice.payout.source_type %>
        <% if @invoice&.payout&.created_at %>
          <span class="muted">(on <%= format_date @invoice.payout.created_at.to_date %>)</span>
        <% end %>
      <% end %>
      </span>
    </p>
    <% else %>
    <p>
      <strong>Invoice amount</strong>
      <span>
      <%= render_money @invoice.item_amount %>
      </span>
    </p>
    <% end %>

    <p>
      <strong>Bank fee</strong>
      <span>
        <%= render_money -(@invoice.item_amount * invoice_hcb_percent(@invoice, false)) %>
        <span class="muted">(<%= invoice_hcb_percent %>)</span>
      </span>
    </p>
    <% if @payout_t %>
    <p>
      <strong>Total</strong>
      <%= invoice_event_profit @invoice %>
    </p>
    <% else %>
    <p>
      <strong>Total</strong>
      <%= render_money @invoice.item_amount * (1 - invoice_hcb_percent(@invoice, false))  %>
    </p>
    <% end %>

    <% unless @invoice.manually_marked_as_paid? %>
      <p>
      <% if @payout_t && @refund_t %>
        <strong>Funds available since</strong>
        <%= format_date [@payout_t.created_at, @refund_t.created_at].max %>
      <% elsif @payout_t && !@refund %>
        <strong>Funds available since</strong>
        <%= format_date @payout_t.created_at %>
      <% elsif @invoice.payout_creation_queued_at && @invoice.payout.nil? %>
        <strong>Payout of funds queued for</strong>
        <%= format_date @invoice.payout_creation_queued_for.to_date %>
      <% elsif @invoice.payout_creation_queued_at && @invoice.payout.present? %>
        <strong>Funds should be available</strong>
        <%= format_date @invoice.payout.arrival_date.to_date %></p>
      <% end %>
      </p>
    <% end %>
  </section>

  <% if @invoice.manually_marked_as_paid? %>
    <p>
      This invoice was manually marked as paid by <%= @invoice.manually_marked_as_paid_user.full_name %>.
      Reason given: "<%= @invoice.manually_marked_as_paid_reason %>"
    </p>
    <% if @invoice.manually_marked_as_paid_attachment.attached? %>
      <p><%= link_to 'Download provided attachment', @invoice.manually_marked_as_paid_attachment %></p>
    <% end %>
  <% end %>

  <section class="card__banner bg-snow border-top">
    <% if @invoice.hosted_invoice_url && @invoice.invoice_pdf %>
      <%= link_to 'View live invoice', @invoice.hosted_invoice_url, class: 'btn bg-accent mr2', target: '_blank'  %>
      <%= link_to 'Download invoice PDF', @invoice.invoice_pdf, class: 'btn bg-info', target: '_blank'  %>
    <% end %>

    <% admin_tools('mt2') do %>
      <%= link_to 'Manually mark as paid', invoice_manual_payment_path(@invoice), class: 'btn bg-success mr2' unless @invoice.paid? %>
      <%= link_to 'View on Stripe', @invoice.stripe_dashboard_url, class: 'btn bg-accent' %>
    <% end %>
  </section>
</article>

<h2>Notes</h2>
<%= render 'comments/comments' %>
<%= render 'comments/form' %>
