<% title "Invoice to #{@invoice.sponsor.name} for #{render_money @invoice.total}" %>
<% page_sm %>
<% page_snow %>
<%= render 'events/nav' %>

<h1 class="flex items-center">
  <%= render_money @invoice.total %> invoice
  <span class="badge h3 bg-<%= @invoice.paid ? 'success' : 'error' %>">
    <%= @invoice.paid ? 'Paid' : 'Unpaid' %>
  </span>
</h1>

<%= creator_bar @invoice %>

<div class="card my3">
  <span class="right h3">
    <strong><%= render_money @invoice.total %></strong> total
  </span>
  <%= link_to @sponsor do %>
    <h2 class="h2 my0"><%= @sponsor.name %></h2>
  <% end %>
  
  <section class="details mb2">
    <p>
      <strong>Contact email</strong>
      <%= mail_to @sponsor.contact_email %>
    </p>

    <p>
      <strong>Address</strong>
      <%= @sponsor.address_line1 %><br />
      <% if @sponsor.address_line2.present? %>
        <%= @sponsor.address_line2 %><br />
      <% end %>
      <%= @sponsor.address_city %>, <%= @sponsor.address_state %> <%= @sponsor.address_postal_code %>
    </p>

    <p>
      <strong>Due</strong> <%= @invoice.due_date.to_date %>
    </p>
  </section>

  <% if @invoice.manually_marked_as_paid? %>
    <p>
      <em>
        This invoice was manually marked as paid by <%= @invoice.manually_marked_as_paid_user.full_name %>.
        Reason given: "<%= @invoice.manually_marked_as_paid_reason %>"
      </em>
    </p>
    <% if @invoice.manually_marked_as_paid_attachment.attached? %>
      <p><em><%= link_to 'Download provided attachment.', @invoice.manually_marked_as_paid_attachment %></em></p>
    <% end %>
  <% else %>
    <div class="invoice-progress">
      <% if @invoice.amount_paid > 0 %>
      <div class="invoice-progress__paid" style="width: <%= number_to_percentage 100 * @invoice.amount_paid / @invoice.total %>;">
        <%= render_money @invoice.amount_paid %> paid
      </div>
      <% end %>
      <div class="invoice-progress__remaining">
        <%= render_money @invoice.amount_remaining %> <%= 'unpaid' if @invoice.amount_paid == 0 %>
      </div>
    </div>
    <% if @invoice.payout_creation_queued_at && @invoice.payout.nil? %>
      <p>Payout of funds queued for <%= @invoice.payout_creation_queued_for.to_date %>.</p>
    <% elsif @invoice.payout_creation_queued_at && @invoice.payout.present? %>
      <p>Payout for <%= render_money @invoice.payout.amount %> created on <%= @invoice.payout.created_at.to_date %>. Funds should be available <%= @invoice.payout.arrival_date.to_date %>.</p>
    <% end %>
  <% end %>

  <% if @invoice.hosted_invoice_url && @invoice.invoice_pdf %>
    <p>
      View online invoice: <%= link_to @invoice.hosted_invoice_url, @invoice.hosted_invoice_url, target: '_blank' %><br />
      Download PDF of invoice: <%= link_to 'click here', @invoice.invoice_pdf %>
    </p>
  <% end %>

  <% admin_tools do %>
    <% unless @invoice.paid? %>
      <p><%= link_to 'Manually mark this invoice as paid', invoice_manual_payment_path(@invoice) %></p>
    <% end %>

    <%= link_to 'View on Stripe', @invoice.stripe_dashboard_url, class: 'btn bg-info' %>
  <% end %>
</div>

<h2>Comments</h2>
<%= render 'comments/comments' %>
<%= render 'comments/form' %>
