<%= link_to @sponsor.event.name, @sponsor.event, class: 'breadcrumb' %>
<%= link_to @sponsor.name, @sponsor, class: 'breadcrumb' %>
<h1>Invoice for <%= render_money @invoice.total %> – <span class="<%= @invoice.paid ? 'success' : 'error' %>">
  <%= @invoice.paid ? 'PAID' : 'UNPAID' %>
</span></h1>

<div class="card mt2 mb2 max-width-1">
  <h2 class="h2 mt0 mb2"><%= @sponsor.name %></h2>
  <div class="flex justify-between ttu">
    <span><strong><%= render_money @invoice.total %></strong> total</span>
    <span>Due <strong><%= @invoice.due_date.to_date %></strong></span>
  </div>
  <% if @invoice.manually_marked_as_paid? %>
    <p>
      <em>
        This invoice was manually marked as paid by <%= @invoice.manually_marked_as_paid_user.full_name %>.
        Reason given: "<%= @invoice.manually_marked_as_paid_reason %>"
      </em>
    </p>
    <% if @invoice.manually_marked_as_paid_attachment.attached? %>
      <p><em><%= link_to 'Download provided attachment.', @invoice.manually_marked_as_paid_attachment %></em></p>
    <% end %>
  <% else %>
    <div class="invoice-progress">
      <% if @invoice.amount_paid > 0 %>
      <div class="invoice-progress__paid" style="width: <%= number_to_percentage 100 * @invoice.amount_paid / @invoice.total %>;">
        <%= render_money @invoice.amount_paid %> paid
      </div>
      <% end %>
      <div class="invoice-progress__remaining">
        <%= render_money @invoice.amount_remaining %> <%= 'unpaid' if @invoice.amount_paid == 0 %>
      </div>
    </div>
    <% if @invoice.payout_creation_queued_at && @invoice.payout.nil? %>
      <p>Payout of funds queued for <%= @invoice.payout_creation_queued_for.to_date %>.</p>
    <% elsif @invoice.payout_creation_queued_at && @invoice.payout.present? %>
      <p>Payout for <%= render_money @invoice.payout.amount %> created on <%= @invoice.payout.created_at.to_date %>. Funds should be available <%= @invoice.payout.arrival_date.to_date %>.</p>
    <% end %>
  <% end %>
</div>

<% if @invoice.hosted_invoice_url && @invoice.invoice_pdf %>
  <p>
    View online invoice: <%= link_to @invoice.hosted_invoice_url, @invoice.hosted_invoice_url, target: '_blank' %><br />
    Download PDF of invoice: <%= link_to 'click here', @invoice.invoice_pdf %>
  </p>
<% end %>

<p>Invoice created by <%= @invoice.creator.full_name %>.</p>

<% if current_user.admin? %>
  <% unless @invoice.paid? %>
    <p><%= link_to 'Manually mark this invoice as paid.', invoice_manual_payment_path(@invoice) %></p>
  <% end %>

  <p><%= link_to 'View on Stripe.', @invoice.stripe_dashboard_url %></p>
<% end %>

<h2>Comments</h2>
<%= render "comments/comments" %>
<%= render "comments/form" %>
