<% title "Invoice to #{@invoice.sponsor.name} for #{render_money @invoice.total}" %>
<% page_md %>
<%= render 'events/nav' %>

<%= creator_bar @invoice %>

<article class="card pb0">
  <h2 class="h2 sans mt0 border-none">
    <%= @sponsor.name %>
    <span class="regular muted"> invoiced for </span>
    <span class="regular"><%= render_money @invoice.item_amount %></span>
    <span class="badge h4 md-right bg-<%= @invoice.state %>">
      <%= @invoice.state_text %>
      <% if @invoice.state_icon %>
        <%= inline_icon @invoice.state_icon, size: 16 %>
      <% end %>
    </span>
  </h2>

  <section class="card__banner details-horiz bg-snow border-top border-bottom">
    <p>
      <% if invoice_paid_at %>
        <strong>Paid at</strong>
        <%= invoice_paid_at %>
      <% else %>
        <strong>Due</strong>
        <%= format_date @invoice.due_date.to_date %>
      <% end %>
    </p>

    <p>
      <strong>Payment method</strong>
      <span class="inline">
        <span>Visa<%# invoice.payment_method_card_brand.humanize.capitalize %></span>
        <span class="ml0 mr1"><%= inline_icon 'card', size: 24, class: 'accent inline' %></span>
        <span>••••1759<%# invoice.payment_method_card_last4 %></span>
      </span>
    </p>
    <!--
    <% if invoice_payment_method %>
    <p>
      <strong>Payment method</strong>
      <%= invoice_payment_method %>
    </p>
    <% end %>
    -->

    <p>
      <strong>Recipient email</strong>
      <%= mail_to @sponsor.contact_email, @sponsor.contact_email.downcase, class: 'black underline' %>
    </p>
  </section>
  
  <section class="details details--wide mt2 mb1">
    <% if @invoice.state == :success %>
    <p>
      <strong>Sponsor paid</strong>
      <span>
      <%= render_money @invoice.item_amount %>
      <% if @invoice&.payout %>
        via <%= @invoice.payout.source_type.humanize.downcase %>
        <% if @invoice&.payout&.created_at %>
          <span class="muted">(on <%= format_date @invoice.payout.created_at.to_date %>)</span>
        <% end %>
      <% end %>
      </span>
    </p>
    <% else %>
    <p>
      <strong>Invoice amount</strong>
      <span>
      <%= render_money @invoice.item_amount %>
      </span>
    </p>
    <% end %>

    <% unless @invoice.manually_marked_as_paid? %>
      <p>
      <% if @payout_t && @refund_t %>
        <strong>Funds available since</strong>
        <%= format_date [@payout_t.created_at, @refund_t.created_at].max %>
      <% elsif @payout_t && !@refund %>
        <strong>Funds available since</strong>
        <%= format_date @payout_t.created_at %>
      <% elsif @invoice.payout_creation_queued_at && @invoice.payout.nil? %>
        <strong>Payout of funds queued for</strong>
        <%= format_date @invoice.payout_creation_queued_for.to_date %>
      <% elsif @invoice.payout_creation_queued_at && @invoice.payout.present? %>
        <strong>Funds should be available</strong>
        <%= format_date @invoice.payout.arrival_date.to_date %></p>
      <% end %>
      </p>
    <% end %>
  </section>

  <% if @invoice.manually_marked_as_paid? %>
    <p>
      This invoice was manually marked as paid by <%= @invoice.manually_marked_as_paid_user.full_name %>.
      Reason given: "<%= @invoice.manually_marked_as_paid_reason %>"
    </p>
    <% if @invoice.manually_marked_as_paid_attachment.attached? %>
      <p><%= link_to 'Download provided attachment', @invoice.manually_marked_as_paid_attachment %></p>
    <% end %>
  <% end %>

  <section class="card__banner bg-snow border-top">
    <% if @invoice.hosted_invoice_url && @invoice.invoice_pdf %>
      <%= link_to 'View sent invoice', @invoice.hosted_invoice_url, class: 'btn bg-accent mr2', target: '_blank'  %>
      <%= link_to 'Download invoice PDF', @invoice.invoice_pdf, class: 'btn bg-info', target: '_blank'  %>
    <% end %>

    <% admin_tools('mt2') do %>
      <%= link_to 'Manually mark as paid', invoice_manual_payment_path(@invoice), class: 'btn bg-success mr2' unless @invoice.paid? %>
      <%= link_to 'View on Stripe', @invoice.stripe_dashboard_url, class: 'btn bg-accent' %>
    <% end %>
  </section>
</article>

<%# Only if payment method is "card" %>
<article class="card pb0 mt3">
  <h2 class="h2 sans mt0 border-none">
    Payment details
    <span class="regular muted"> of </span>
    <span class="regular">Visa card</span>
  </h2>
  <section class="card__banner bg-snow border-top border-bottom">
  <table>
    <thead></thead>
    <tbody>
    <tr><td>Number</td><td>•••• 9071</td></tr>
    <tr><td>Expires</td><td>07 / 2022</td></tr>
    <tr><td>Type</td><td>Visa credit card</td></tr>
    <tr><td>Postal code</td><td>90069</td></tr>
    <tr><td>Origin</td><td>United States</td></tr>
    <tr><td>CVC check</td><td><span class="badge h4 medium bg-success ml0">Passed <%= inline_icon 'checkmark', size: 20 %></span></td></tr>
    <tr><td>Zip check</td><td><span class="badge h4 medium bg-success ml0">Passed <%= inline_icon 'checkmark', size: 20 %></span></td></tr>
    <tr class="border-none"><td>Address check</td><td><span class="badge h4 medium bg-success ml0">Passed <%= inline_icon 'checkmark', size: 20 %></span></td></tr>
    </tbody>
  </table>
  </section>
</article>

<article class="card pb0 mt3">
  <h2 class="h2 sans mt0 border-none">
    Transaction details
  </h2>
  <section class="card__banner details-horiz bg-snow border-top border-bottom">
    <p class="w-100 center">
      <strong>Amount</strong>
      <%= render_money @invoice.item_amount %>
    </p>
    <p class="w-100 center">
      <strong>
        Fee
        <span class="tooltipped tooltipped--e" aria-label="<%= invoice_hcb_percent %> Bank fee"><%= inline_icon 'info', size: 16 %></span>
      </strong>
      <%= invoice_hcb_revenue %>
    </p>
    <p class="w-100 center">
      <strong>Net</strong>
      <%= invoice_event_profit %>
    </p>
  </section>
  <section class="details details--wide mt2 mb1">
    <p>
      <strong>Display name</strong>
      <span>
        <%= @payout_t.display_name %> <%= link_to 'Edit', edit_transaction_path(@payout_t), class: 'underline inline ml2' %>
      </span>
    </p>
    <p>
      <strong>Statement name</strong>
      <span>
        <%= @payout_t.name %>
      </span>
    </p>
  </section>
</article>
<!--
<article class="card pb0 mt3">
  <h2 class="h2 sans mt0 border-none">
    Transaction details
  </h2>
  <section class="card__banner bg-snow border-top border-bottom">
  <table>
    <thead></thead>
    <tbody>
      <tr>
        <td class="muted no-wrap pr3">Display name</td>
        <td class="w-100" colspan="3"><%= @payout_t.display_name %> <%= link_to 'Edit', edit_transaction_path(@payout_t), class: 'underline inline ml2' %></td>
      </tr>
      <tr>
        <td class="muted no-wrap pr3">Statement name</td>
        <td class="w-100" colspan="3"><%= @payout_t.name.truncate(30) %></td>
      </tr>
      <tr class="right-align border-none">
        <td class="left-align muted">Paid</td>
        <td class="w-10">$</td>
        <td class="w-10"><%= render_money @invoice.item_amount, '' %></td>
      </tr>
      <tr class="right-align border-none">
        <td class="left-align muted">Fee <span class="tooltipped tooltipped--e" aria-label="<%= invoice_hcb_percent %> Bank fee"><%= inline_icon 'info', size: 16 %></span></td>
        <td class="w-10">$</td>
        <td class="w-10"><%= render_money invoice_hcb_revenue(false), '' %></td>
      </tr>
      <tr class="right-align border-none">
        <td class="left-align muted">Total</td>
        <td class="w-10">$</td>
        <td class="w-10"><%= render_money invoice_event_profit(false), '' %></td>
      </tr>
    </tbody>
  </table>
  </section>
</article>
-->

<h2>Notes</h2>
<%= render 'comments/comments' %>
<%= render 'comments/form' %>