<%= link_to @sponsor.event.name, @sponsor.event, class: 'breadcrumb' %>
<%= link_to @sponsor.name, @sponsor, class: 'breadcrumb' %>
<h1>Invoice for <%= render_money @invoice.total %> – <span class="<%= @invoice.paid ? 'success' : 'error' %>">
  <%= @invoice.paid ? 'PAID' : 'UNPAID' %>
</span></h1>

<div class="card mt2 mb2 max-width-1">
  <h2 class="h2 mt0 mb2"><%= @sponsor.name %></h2>
  <div class="flex justify-between ttu">
    <span><strong><%= render_money @invoice.total %></strong> total</span>
    <span>Due <strong><%= @invoice.due_date.to_date %></strong></span>
  </div>
  <div class="invoice-progress">
    <% if @invoice.amount_paid > 0 %>
    <div class="invoice-progress__paid" style="width: <%= number_to_percentage 100 * @invoice.amount_paid / @invoice.total %>;">
      <%= render_money @invoice.amount_paid %> paid
    </div>
    <% end %>
    <div class="invoice-progress__remaining">
      <%= render_money @invoice.amount_remaining %> <%= 'unpaid' if @invoice.amount_paid == 0 %>
    </div>
  </div>
</div>

<% if @invoice.hosted_invoice_url && @invoice.invoice_pdf %>
  <p>
    View online invoice: <%= link_to @invoice.hosted_invoice_url, @invoice.hosted_invoice_url, target: '_blank' %><br />
    Download PDF of invoice: <%= link_to 'click here', @invoice.invoice_pdf, download: true %>
  </p>
<% end %>

<p>Created by <%= @invoice.creator.full_name %>.</p>

<%= link_to 'Stripe', @invoice.stripe_dashboard_url if admin_signed_in? %>
