<% title "Invoice to #{@invoice.sponsor.name} for #{render_money @invoice.total}" %>
<% page_sm %>
<%= render 'events/nav' %>

<h1 class="flex items-center">
  <%= render_money @invoice.total %> invoice
  <span class="badge h3 bg-<%= @invoice.paid? ? 'success' : 'error' %>">
    <%= @invoice.paid? ? 'Paid' : 'Unpaid' %>
  </span>
</h1>

<%= creator_bar @invoice %>

<div class="card my3">
  <span class="right h3">
    <strong><%= render_money @invoice.total %></strong> total
  </span>
  <h2 class="h2 my0"><%= @sponsor.name %></h2>
  
  <section class="details mb2">
    <p>
      <strong>Status</strong>
      <span>
        <span class="badge h4 ml0 bg-<%= @invoice.state %>"><%= @invoice.state_text %></span>
      </span>
    </p>

    <p>
      <strong>Due</strong> <%= @invoice.due_date.to_date %>
    </p>

    <p>
      <strong>Contact email</strong>
      <%= @sponsor.contact_email %>
      <%= mail_to @sponsor.contact_email, class: 'right tooltipped tooltipped--w', 'aria-label': 'Email this sponsor' do %>
        <%= inline_icon 'email', size: 32, class: 'info', 'aria-label': 'Email icon' %>
      <% end %>
    </p>

    <p>
      <strong>Address</strong>
      <%= @sponsor.address_line1 %><br />
      <% if @sponsor.address_line2.present? %>
        <%= @sponsor.address_line2 %><br />
      <% end %>
      <%= @sponsor.address_city %>, <%= @sponsor.address_state %> <%= @sponsor.address_postal_code %>
    </p>

  </section>

  <% if @invoice.manually_marked_as_paid? %>
    <p>
      <em>
        This invoice was manually marked as paid by <%= @invoice.manually_marked_as_paid_user.full_name %>.
        Reason given: "<%= @invoice.manually_marked_as_paid_reason %>"
      </em>
    </p>
    <% if @invoice.manually_marked_as_paid_attachment.attached? %>
      <p><em><%= link_to 'Download provided attachment.', @invoice.manually_marked_as_paid_attachment %></em></p>
    <% end %>
  <% else %>
    <% if @invoice.payout_creation_queued_at && @invoice.payout.nil? %>
      <p>Payout of funds queued for <%= @invoice.payout_creation_queued_for.to_date %>.</p>
    <% elsif @invoice.payout_creation_queued_at && @invoice.payout.present? %>
      <p>Payout for <%= render_money @invoice.payout.amount %> created on <%= @invoice.payout.created_at.to_date %>. Funds should be available <%= @invoice.payout.arrival_date.to_date %>.</p>
    <% end %>
  <% end %>

  <% if @invoice.hosted_invoice_url && @invoice.invoice_pdf %>
    <%= link_to 'Download PDF', @invoice.invoice_pdf, class: 'btn bg-info mr2', target: '_blank'  %>
    <%= link_to 'View live', @invoice.hosted_invoice_url, class: 'btn bg-accent', target: '_blank'  %>
  <% end %>

  <% admin_tools('mt2') do %>
    <%= link_to 'Manually mark as paid', invoice_manual_payment_path(@invoice), class: 'btn bg-success mr2' unless @invoice.paid? %>
    <%= link_to 'View on Stripe', @invoice.stripe_dashboard_url, class: 'btn bg-accent' %>
  <% end %>
</div>

<h2>Comments</h2>
<%= render 'comments/comments' %>
<%= render 'comments/form' %>
