<%= form_with(model: stripe_cardholder,
              url: user_stripe_cardholder_profile_path(user_id: current_user.slug),
              method: :patch,
              class: 'grid grid--split', local: true) do |form| %>
  <%= form_errors stripe_cardholder %>

  <%= form.hidden_field :id, value: stripe_cardholder.id %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= form.label :stripe_billing_address_line1, 'Address (line 1)' %>
    <%= form.text_field :stripe_billing_address_line1, value: suggested(:line1) %>
  </div>
  <div class="field">
    <%= form.label :stripe_billing_address_line2, 'Address (line 2)' %>
    <%= form.text_field :stripe_billing_address_line2, value: suggested(:line2) %>
  </div>
  <div class="field grid__half">
    <%= form.label :stripe_billing_address_city, 'City' %>
    <%= form.text_field :stripe_billing_address_city, value: suggested(:city) %>
  </div>
  <div class="field grid__half">
    <%= form.label :stripe_billing_address_state, 'State' %>
    <%= form.text_field :stripe_billing_address_state, value: suggested(:state) %>
  </div>
  <div class="field grid__half">
    <%= form.label :stripe_billing_address_postal_code, 'ZIP code' %>
    <%= form.text_field :stripe_billing_address_postal_code, value: suggested(:postal_code) %>
  </div>
  <div class="field grid__half">
    <%= form.label :stripe_billing_address_country, 'Country' %>
    <%= form.text_field :stripe_billing_address_country, value: suggested(:country) %>
  </div>

  <div class="actions">
    <%= form.submit 'Save card billing' %>
  </div>
<% end %>
