<%= form_with(model: stripe_cardholder, local: true) do |form| %>
  <%= form_errors stripe_cardholder%>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :event_id, value: @event&.id %>

  <div class="field">
    <%= form.label :stripe_billing_address_line1 %>
    <%= form.text_field :stripe_billing_address_line1, value: suggested(:line1) %>
  </div>
  <div class="field">
    <%= form.label :stripe_billing_address_line2 %>
    <%= form.text_field :stripe_billing_address_line2, value: suggested(:line2) %>
  </div>
  <div class="field">
    <%= form.label :stripe_billing_address_city %>
    <%= form.text_field :stripe_billing_address_city, value: suggested(:city) %>
  </div>
  <div class="field">
    <%= form.label :stripe_billing_address_state %>
    <%= form.text_field :stripe_billing_address_state, value: suggested(:state) %>
  </div>
  <div class="field">
    <%= form.label :stripe_billing_address_postal_code %>
    <%= form.text_field :stripe_billing_address_postal_code, value: suggested(:postal_code) %>
  </div>
  <div class="field">
    <%= form.label :stripe_billing_address_country %>
    <%= form.text_field :stripe_billing_address_country, value: suggested(:country) %>
  </div>

  <%= form.submit %>
<% end %>