<%= form_with(model: @ach_transfer, local: true, url: event_ach_transfers_path(@event), data: { controller: "form input" }) do |form| %>
  <%= form_errors(@ach_transfer, "ACH transfer", "We couldn't send this") %>

  <div class="field" id="ach_transfer_name_field" data-controller="menu text-filter" data-menu-content-id-value="payment-recipient-search" data-menu-append-to-value="#ach_transfer_name_field" data-text-filter-empty-class="display-none">
    <%= form.label :recipient_name %>
    <%= form.text_field :recipient_name,
                        placeholder: "Max Kern",
                        required: true,
                        disabled: @event.demo_mode?,
                        role: "combobox",
                        "aria-controls": "payment-recipient-search",
                        data: {
                          action: "
                            keydown.enter->text-filter#selectFirst

                            click->menu#open
                            focus->menu#open
                            click@document->menu#close
                            keydown@document->menu#keydown

                            input->text-filter#query
                          ",
                          menu_target: "toggle",
                        } %>
    <span class="muted">This is only for your reference— it doesn't need to match the name on the recipient's bank account.</span>
    <% if organizer_signed_in? && Flipper.enabled?(:payment_recipients_2024_01_10, @event) && @event.payment_recipients.any? %>
      <div class="menu__content menu__content--2" data-menu-target="content" role="listbox" style="width: 24rem">
        <% @event.payment_recipients.each do |payment_recipient| %>
          <div data-name="<%= payment_recipient.name %>" class="flex items-center" data-payment-recipient="<%= payment_recipient.id %>">
            <button
              type="button"
              class="menu__action flex justify-between flex-auto mr1"
              data-action="form#fill input#focus menu#close"
              data-form-values-param="<%= {
                                            ach_transfer_recipient_name: payment_recipient.name,
                                            ach_transfer_bank_name: payment_recipient.bank_name,
                                            ach_transfer_routing_number: payment_recipient.routing_number,
                                            ach_transfer_account_number: payment_recipient.account_number,
                                          }.to_json %>">
              <span class="truncate"><%= payment_recipient.name %></span>
              <span class="muted ml1">••••<%= payment_recipient.account_number.slice(-4, 4) %></span>
            </button>
            <%= link_to event_payment_recipient_path(@event, payment_recipient), data: { turbo_method: "delete", turbo_confirm: "Are you sure you want to remove this ACH recipient?" } do %>
              <%= inline_icon "view-close", size: 24, class: "align-middle" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :payment_for, "What are you paying for with this deposit?" %>
    <%= form.text_field :payment_for, placeholder: "Shipment of potions", required: true, disabled: @event.demo_mode?, data: { input_target: "input" } %>
    <span class="muted">This is to help HCB keep record of our transactions. HCB team will see this.</span>
  </div>

  <div class="field">
    <%= form.label :bank_name %>
    <%= form.text_field :bank_name, placeholder: "Name of the bank", required: true, disabled: @event.demo_mode? %>
  </div>

  <div
    class="field"
    <% if Flipper.enabled?(:routing_number_validation, current_user) %>
      data-controller="external-validation"
      data-external-validation-url-value="<%= validate_routing_number_ach_transfers_path %>"
    <% end %>>

    <%= form.label :routing_number %>
    <%= form.text_field :routing_number, placeholder: "123456789", required: true, disabled: @event.demo_mode?, class: "fs-mask", data: { action: "input->external-validation#validate" } %>
    <span class="muted" data-external-validation-target="hint"></span>
  </div>

  <div class="field">
    <%= form.label :account_number %>
    <%= form.text_field :account_number, placeholder: "0913338883", required: true, disabled: @event.demo_mode?, class: "fs-mask" %>
  </div>

  <%= form.label :amount_money, "Amount" %>
  <div class="field">
    <div class="flex items-center">
      <span class="bold muted" style="width: 1rem;">$</span>
      <%= form.number_field :amount_money, placeholder: "500.00", step: 0.01, min: 0.01, required: true, disabled: @event.demo_mode?, data: { controller: "truncate-decimal", action: "truncate-decimal#truncate" } %>
    </div>
  </div>

  <div class="field">
    <%= form.label :recipient_email, "Recipient Email" %>
    <%= form.email_field :recipient_email, placeholder: "fionah@gmail.com", required: true %>
  </div>

  <div class="field field--checkbox">
    <%= form.check_box :send_email_notification %>
    <%= form.label :send_email_notification, "Would you like us to notify the recipient?" %>
  </div>

  <%= form.label :file, "Attach a receipt / invoice" %>
  <div class="field field--fileupload mb1 mt1">
    <%= form.label :file, "Choose file", class: "field--fileupload__label" %>
    <%= form.file_field :file,
        multiple: true,
        include_hidden: false,
        required: false,
        accept: "image/*,image/heic,.pdf",
        style: "margin: 8px 0px",
        class: "field--fileupload__field" %>
  </div>
  <p class="muted mt0 mb2">Required for reimbursements / goods & services payments.</p>

  <% admin_tools do %>
    <div class="field">
      <%= form.label :scheduled_on, "Schedule for" %>
      <%= form.date_select :scheduled_on, prompt: true, order: [:month, :day, :year], start_year: Date.today.year %>
      <p class="h5 muted mt0 mb1">Leave blank to send instantly</p>
    </div>
  <% end %>

  <div class="actions tooltipped tooltipped--n inline-block" aria-label="ACH transfers can't be cancelled">
    <%= form.submit "Transfer money now", class: "btn bg-warning", disabled: (!organizer_signed_in? || @event.demo_mode?) %>
  </div>
<% end %>
