<%= form_with(model: ach_transfer, local: true, url: event_ach_transfers_path(@event)) do |form| %>
  <%= form_errors(ach_transfer, 'ACH transfer') %>

  <div class="field">
    <%= form.label :recipient_name %>
    <%= form.text_field :recipient_name, placeholder: 'Max Kern', required: true %>
  </div>

  <div class="field">
    <%= form.label :recipient_tel %>
    <%= form.text_field :recipient_tel, placeholder: '1234567890', required: true %>
  </div>

  <div class="field">
    <%= form.label :payment_for, "What are you paying for with this deposit?" %>
    <%= form.text_field :payment_for, placeholder: 'Shipment of potions', required: true %>
    <span class="muted">This is to help Hack Club Bank keep record of our transactions. Hack Club Bank staff will see this.</span>
  </div>

  <div class="field">
    <%= form.label :bank_name %>
    <%= form.text_field :bank_name, placeholder: 'Name of the bank', required: true %>
  </div>

  <div class="field">
    <%= form.label :routing_number %>
    <%= form.text_field :routing_number, placeholder: '123456789', required: true %>
  </div>

  <div class="field">
    <%= form.label :account_number %>
    <%= form.text_field :account_number, placeholder: '0913338883', required: true %>
  </div>

  <%= form.label :amount, 'Amount' %>
  <div class="field">
    <div class="flex items-center">
      <span class="bold muted" style="width: 1rem;">$</span>
      <%= form.number_field :amount, value: (@ach_transfer.nil? ? nil : (@ach_transfer.amount.to_f / 100)), placeholder: '500.00', step: 0.01, required: true %>
    </div>
  </div>
  <div class="actions tooltipped tooltipped--n inline-block" aria-label="ACH transfers can't be cancelled">
    <%= form.submit 'Transfer money now', class: 'btn bg-warning', disabled: !organizer_signed_in? %>
  </div>
<% end %>
