<h1>ACH Transfers</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Routing #</th>
      <th>Account #</th>
      <th>Bank name</th>
      <th>Recipient</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ach_transfers.each do |ach_transfer| %>
      <tr>
        <td><%= link_to ach_transfer.event.name, ach_transfer.event %></td>
        <td><%= ach_transfer.routing_number %></td>
        <td><%= ach_transfer.account_number %></td>
        <td><%= ach_transfer.bank_name %></td>
        <td><%= ach_transfer.recipient_name %></td>
        <td>
          <%= status_badge ach_transfer.state %> <%= ach_transfer.status_text %>
        </td>
        <td>
        <td><%= (link_to 'Process', ach_transfer_start_approval_path(ach_transfer)) if ach_transfer.pending? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
