<% title "ACH transfer – #{@ach_transfer.recipient_name.html_safe}" %>
<% page_md %>
<%= render 'events/nav' %>

<% admin_tools do %>
  <ul>
    <li>
      v2

      <ul>
        <% @ach_transfer.canonical_pending_transactions.each do |ct| %>
          <li>
            <%= ct.hcb_code %>: <%= link_to ct.amount, "/canonical_pending_transactions/#{ct.id}" %>
          </li>
        <% end %>

        <% @ach_transfer.canonical_transactions.each do |ct| %>
          <li>
            <%= ct.hcb_code %>: <%= link_to ct.amount, "/transactions/#{ct.id}" %>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
<% end %>


<article class="card pb0 mt3 mb3">
  <h2 class="h2 mt0 border-none">
    <span class="regular muted"><%= @ach_transfer.deposited? ? 'Transferred' : 'Transferring' %> </span>
    <%= @ach_transfer.recipient_name %>
    <span class="regular"><%= render_money @ach_transfer.amount %></span>
    <span class="badge h4 md-right ml0 bg-<%= @ach_transfer.state %>">
      <%= @ach_transfer.status_text %>
      <%= inline_icon @ach_transfer.state_icon, size: 20 if @ach_transfer.state_icon %>
    </span>
  </h2>
  <section class="card__banner card__darker details-horiz border-top border-bottom">
    <p>
      <strong>Sent by</strong>
      <%= user_mention @ach_transfer.creator %>
    </p>
    <p>
      <strong>Sent at</strong>
      <%= format_datetime @ach_transfer.created_at %>
    </p>
  </section>

  <section class="details pt2 pb2">
    <p>
      <strong>Recipient name</strong>
      <%= @ach_transfer.recipient_name %>
    </p>

    <p>
      <strong>Recipient phone</strong>
      <%= organizer_signed_in? ? @ach_transfer.recipient_tel : 'Sign in to view'  %>
    </p>

    <p>
      <strong>Payment purpose</strong>
      <%= @ach_transfer.payment_for %>
    </p>

    <p>
      <strong>Bank name</strong>
      <%= organizer_signed_in? ? @ach_transfer.bank_name : 'Sign in to view' %>
    </p>

    <p>
      <strong>Routing number</strong>
      <%= organizer_signed_in? ? @ach_transfer.routing_number : 'Sign in to view'  %>
    </p>

    <p>
      <strong>Account number</strong>
      <%= organizer_signed_in? ? @ach_transfer.account_number : 'Sign in to view' %>
    </p>

    <p>
      <strong>Amount</strong>
      <%= render_money @ach_transfer.amount %>
    </p>

    <p>
      <strong>Status</strong>
      <span>
        <%= @ach_transfer.status_text_long %>
        <% if @ach_transfer.deposited? %>
          <span class="muted">
            <a href="/ach_transfers/<%= @ach_transfer.id %>/confirmation.pdf" target="_blank">
            (<%= organizer_signed_in? ? 'view confirmation letter' : 'sign in to view'  %>)
            </a>
          </span>
        <% end %>
        
      </span>
    </p>
  </section>
</article>

<% if @hcb_code %>
  <h2>Receipts</h2>
  <%= render "receipts/list_v2" %>
  <%= render "receipts/form_v2" %>

  <h2>Comments</h2>
  <%= render "comments/list_v2" %>
  <%= render "comments/form_v2" %>
<% end %>
