<h1>Process ACH Transfer #<%= @ach_transfer.id %></h1>

<p>Go to <%= link_to 'this ACH transfer', @ach_transfer %>.</p>

<p class="bold">Steps to process ACH:</p>
<ol>
  <li>Check that all values below look correct.</li>
  <li class="bold">Check the notes area for any messages from Bank staff before processing.</li>
  <li>Go into SVB &gt; "Bill Pay" and create a new individual payee with the information below, and be sure to include the nickname.</li>
  <li>Under Bill Pay, initiate a new ACH transfer to the new payee, out from the "Fiscal Sponsorship New -2" account if there is one.</li>
  <li>Make sure the transaction is also <strong>approved</strong> in Bill Pay, so it can successfully go through.</li>
  <li>Click "Mark as approved and sent" below to finish</li>
  <li>Make sure that we have proper documentation and papertrail for this ACH transfer! You can <%= link_to 'attach receipts or other notes to the ACH transfer', @ach_transfer %> to keep track.</li>
</ol>

<p class="bold mb0">Submitted By</p>
<div class="flex items-center">
  <%= user_mention @ach_transfer.creator, class: 'ml1' %>
  <p>(<%= link_to @ach_transfer.creator.pretty_phone_number, "tel:#{@ach_transfer.creator.phone_number}" %>, <%= mail_to @ach_transfer.creator.email %>) of <%= link_to @ach_transfer.event.name, @ach_transfer.event %></p>
</div>

<hr/>

<p class="bold mb0">Payee Name</p>
<textarea id="payee-name"><%= @ach_transfer.recipient_name%></textarea>
<button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#payee-name">
    Copy to clipboard
</button>

<p class="bold mb0">Payee Nickname</p>
<textarea id="payee-nickname">HCB ACH #<%= @ach_transfer.id %></textarea>
<button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#payee-nickname">
    Copy to clipboard
</button>

<p class="bold mb0">Payee Phone Number</p>
<textarea id="payee-phone"><%= @ach_transfer.recipient_tel %></textarea>
<button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#payee-phone">
    Copy to clipboard
</button>

<p class="bold mb0">Payment for</p>
<textarea id="payment-purpose"><%= @ach_transfer.payment_for %></textarea>
<button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#payment-purpose">
    Copy to clipboard
</button>

<p class="bold mb0">Bank Name</p>
<textarea id="payee-bank"><%= @ach_transfer.bank_name %></textarea>
<button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#payee-bank">
    Copy to clipboard
</button>

<p class="bold mb0">Account Number</p>
<textarea id="payee-account"><%= @ach_transfer.account_number %></textarea>
<button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#payee-account">
    Copy to clipboard
</button>

<p class="bold mb0">Routing Number</p>
<textarea id="payee-routing"><%= @ach_transfer.routing_number %></textarea>
<button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#payee-routing">
    Copy to clipboard
</button>

<p class="bold mb0">Amount</p>
<textarea id="payee-amount"><%= render_money @ach_transfer.amount %></textarea>
<button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#payee-amount">
    Copy to clipboard
</button>


<%= render 'arrival_date_form', ach_transfer: @ach_transfer %>
