<h1>Process ACH Transfer #<%= @ach_transfer.id %></h1>

<p>Go to <%= link_to 'this ACH transfer', @ach_transfer %>.</p>

<p class="bold">Steps to process ACH:</p>
<ol>
  <li>Check that all values below look correct.</li>
  <li class="bold">Check the notes area for any messages from Bank staff before processing.</li>
  <li>Go into SVB &gt; "Bill Pay" and create a new individual payee with the information below, and be sure to include the nickname.</li>
  <li>Under Bill Pay, initiate a new ACH transfer to the new payee, out from the "Fiscal Sponsorship New -2" account if there is one.</li>
  <li>Make sure the transaction is also <strong>approved</strong> in Bill Pay, so it can successfully go through.</li>
  <li>Click "Mark as approved and sent" below to finish</li>
  <li>Make sure that we have proper documentation and papertrail for this ACH transfer! You can <%= link_to 'attach receipts or other notes to the ACH transfer', @ach_transfer %> to keep track.</li>
</ol>

<p class="bold mb0">Submitted By</p>
<div class="flex items-center">
  <%= user_mention @ach_transfer.creator, class: 'ml1' %>
  <p>(<%= link_to @ach_transfer.creator.pretty_phone_number, "tel:#{@ach_transfer.creator.phone_number}" %>, <%= mail_to @ach_transfer.creator.email %>) of <%= link_to @ach_transfer.event.name, @ach_transfer.event %></p>
</div>

<hr/>

<p class="bold mb0">Payee Name</p>
<p><%= @ach_transfer.recipient_name%></p>

<p class="bold mb0">Payee Nickname</p>
<p>HCB ACH #<%= @ach_transfer.id %></p>

<p class="bold mb0">Payee Phone Number</p>
<p><%= @ach_transfer.recipient_tel %></p>

<p class="bold mb0">Payment for</p>
<p><%= @ach_transfer.payment_for %></p>

<p class="bold mb0">Bank Name</p>
<p><%= @ach_transfer.bank_name %></p>

<p class="bold mb0">Account Number</p>
<p><%= @ach_transfer.account_number %></p>

<p class="bold mb0">Routing Number</p>
<p><%= @ach_transfer.routing_number %></p>

<p class="bold mb0">Amount</p>
<p><%= render_money @ach_transfer.amount %></p> 



<%= render 'arrival_date_form', ach_transfer: @ach_transfer %>
