<%= form_with(model: load_card_request, local: true) do |form| %>
  <%= form_errors load_card_request, 'transfer request' %>

  <%= form.hidden_field :creator_id,
    value: load_card_request.creator_id.nil? ? current_user.id : load_card_request.creator_id %>

  <%= form.hidden_field :event_id, value: load_card_request.event.id %>

  <% if @event.available_balance == 0 %>
    <p class="card__banner card__banner--top flex items-center bg-error white">
      <%= inline_icon 'payment', size: 32, class: 'mr1' %>
      You need funds available in your bank to make a transfer
    </p>
  <% end %>

  <div class="field">
    <%= form.label :load_amount, 'Amount to transfer' %>
    <div class="flex items-center">
      <span class="bold muted" style="width: 1rem;">$</span>
      <%= form.text_field :load_amount,
        value: load_card_request.load_amount.nil? ? nil : (load_card_request.load_amount / 100.00),
        max: (current_user.admin? ? nil : (@event.available_balance / 100.00)),
        step: 0.01, placeholder: '100.00',
        autofocus: true, disabled: @event.balance_available == 0, data: {'behavior': 'money'} %>
    </div>
  </div>

  <% admin_tools do %>
    <div class="field">
      <%= form.label :emburse_transaction_id, 'Emburse transaction ID', class: load_card_request.emburse_transaction_id.blank? %>
      <%= form.text_field :emburse_transaction_id %>
    </div>
  <% end %>

  <div class="actions">
    <% if load_card_request.persisted? %>
      <%= form.submit 'Update' %>
    <% else %>
      <%= form.submit 'Request transfer', disabled: @event.available_balance == 0 %>
    <% end %>
  </div>
<% end %>
