<h1>
  Load Card Requests
</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Card</th>
      <th>Creator</th>
      <th>Fulfilled by</th>
      <th>Load amount</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @load_card_requests.each do |request| %>
      <tr class="<%= 'shade-yellow' if request.under_review? %>">
        <td><%= "ID##{request.id}" %></td>
        <td><%= link_to request.card.last_four, request.card %></td>
        <td><%= request.creator.email %></td>
        <td><%= request.fulfilled_by&.email %></td>
        <td><%= render_money request.load_amount %></td>
        <td><%= request.status %></td>
        <td>
          <% if request.under_review? %>
            <%= link_to 'Process', card_load_card_request_path(request, card_id: request.card.id), class: 'btn bg-info' %>
          <% else %>
            <%= link_to 'View', card_load_card_request_path(request, card_id: request.card.id) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
