<h1>
  Load Card Requests
</h1>

<table>
  <thead>
    <tr>
      <th>Card</th>
      <th>Creator</th>
      <th>Fulfilled by</th>
      <th>Load amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @load_card_requests.each do |request| %>
      <tr>
        <td><%= link_to request.card.last_four, request.card %></td>
        <td><%= request.creator.email %></td>
        <td><%= request.fulfilled_by&.email %></td>
        <td><%= render_money request.load_amount %></td>
        <td><%= link_to 'Show', card_load_card_request_path(request, card_id: request.card.id) %></td>
        <td><%= link_to 'Edit', edit_card_load_card_request_path(request, card_id: request.card.id) %></td>
        <td><%= link_to 'Destroy', card_load_card_request_path(request, card_id: request.card.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
