<% title 'Transfer requests' %>
<h1 class="heading">
  Transfer requests
  <%= link_to 'Export Under Review TRs for Selenium', export_load_card_requests_path, class: 'btn bg-info' %>
</h1>

<%= paginate @load_card_requests %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Event</th>
      <th>Creator</th>
      <th>Load amount</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @load_card_requests.each do |request| %>
      <tr class="<%= 'shade-yellow' if request.under_review? %>">
        <td><%= "##{request.id}" %></td>
        <td><%= link_to request.event.name, request.event %></td>
        <td><%= user_mention request.creator %></td>
        <td><%= render_money request.load_amount %></td>
        <td><%= request.status %></td>
        <td>
          <%= link_to 'View', load_card_request_path(request, event_id: request.event.id) %>
        </td>
        <td>
          <% if request.under_review? %>
            <p><%= link_to 'Accept', load_card_request_accept_path(request, event_id: request.event.id),
              method: :post,
              data: { confirm: 'Have you processed in Emburse?' },
              class: 'btn bg-success' %></p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
