<%= link_to 'Load card requests', load_card_requests_path, class: 'breadcrumb' %>
<%= link_to "Card #{@load_card_request.card.last_four}", @load_card_request.card, class: 'breadcrumb' %>
<h1 class="heading">
  Load card request for <%= @load_card_request.card.last_four %>
  <%= link_to 'Edit', edit_card_load_card_request_path(@load_card_request, card_id: @card.id), class: 'btn bg-info' %>
</h1>

<section class="details">
<p>
  <strong>Card</strong>
  <%= link_to @load_card_request.card.last_four, @load_card_request.card %>
</p>

<p>
  <strong>Made by</strong>
  <%= @load_card_request.creator.email %>
</p>

<p>
  <strong>Fulfilled by</strong>
  <%= @load_card_request.fulfilled_by ? @load_card_request.fulfilled_by.email : 'unfulfilled' %>
</p>

<p>
  <strong>Load amount</strong>
  <%= render_money @load_card_request.load_amount %>
</p>

<p>
  <strong>Total budget</strong>
  <%= render_money @load_card_request.card.total_budget %>
</p>

<p class="<%= 'shade-yellow ' if @load_card_request.emburse_transaction_id.blank? %>">
  <strong>Emburse memo</strong>
  <%= "Load card request ID##{@load_card_request.id}" %>
</p>

<p class="<%= 'shade-yellow ' if @load_card_request.emburse_transaction_id.blank? %>">
  <strong>Emburse transaction ID</strong>
  <%= @load_card_request.emburse_transaction_id.present? ? link_to(@load_card_request.emburse_transaction_id, "https://app.emburse.com/transactions/#{@load_card_request.emburse_transaction_id}") : 'unset' %>
</p>

</section>

<% if @load_card_request.under_review? %>
<p>Load in Emburse before accepting!</p>

<p><%= link_to 'Reject', card_load_card_request_reject_path(@load_card_request, card_id: @load_card_request.card.id), method: :post, data: { confirm: 'Are you sure?' }, class: 'btn bg-error' %></p>
<p><%= link_to 'Accept request', card_load_card_request_accept_path(@load_card_request, card_id: @load_card_request.card.id), method: :post, data: { confirm: 'Have you processed in Emburse?' },class: 'btn bg-success' %></p>
<% end %>
