<%= link_to 'Load card requests', load_card_requests_path, class: 'breadcrumb' %>
<h1 class="heading">
  Load card request for <%= @load_card_request.card.last_four %>
  <%= link_to 'Edit', edit_load_card_request_path(@load_card_request), class: 'btn bg-info' %>
</h1>

<p>
  <strong>Card:</strong>
  <%= link_to @load_card_request.card.last_four, @load_card_request.card %>
</p>

<p>
  <strong>User:</strong>
  <%= @load_card_request.creator.email %>
</p>

<p>
  <strong>Fulfilled at:</strong>
  <%= @load_card_request.fulfilled_by %>
</p>

<p>
  <strong>Load amount:</strong>
  <%= render_money @load_card_request.load_amount %>
</p>
