<% title "Connect to Hack Club Bank" %>
<% page_sm %>
<% @home_size = 128 %>
<% @no_app_shell = true %>
<% content_for(:page_class) { 'bg-snow pt4' } %>

<div class="loader hidden">
    <svg
      id="bank-icon"
      width="100"
      height="100"
      viewBox="0 0 100 100"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        id="outline"
        d="M97 50C97 70.0214 94.4247 81.3327 87.8787 87.8787C81.3327 94.4247 70.0214 97 50 97C29.9786 97 18.6673 94.4247 12.1213 87.8787C5.57534 81.3327 3 70.0214 3 50C3 29.9786 5.57534 18.6673 12.1213 12.1213C18.6673 5.57534 29.9786 3 50 3C70.0214 3 81.3327 5.57534 87.8787 12.1213C94.4247 18.6673 97 29.9786 97 50Z"
        stroke="#EC3750"
        stroke-width="6"
      />
        <path
          d="M23 79C23 77.344 24.344 76 26 76H74C75.656 76 77 77.344 77 79C77 80.656 75.656 82 74 82H26C24.344 82 23 80.656 23 79Z"
          fill="#EC3750"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M65 70C63.344 70 62 68.656 62 67V46C62 44.344 63.344 43 65 43C66.656 43 68 44.344 68 46V67C68 68.656 66.656 70 65 70Z"
          fill="#EC3750"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M50 70C48.344 70 47 68.656 47 67V46C47 44.344 48.344 43 50 43C51.656 43 53 44.344 53 46V67C53 68.656 51.656 70 50 70Z"
          fill="#EC3750"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M35 70C33.344 70 32 68.656 32 67V46C32 44.344 33.344 43 35 43C36.656 43 38 44.344 38 46V67C38 68.656 36.656 70 35 70Z"
          fill="#EC3750"
        />
        <path
          d="M50.582 23.2878C50.312 23.1678 50.123 23.0958 50 23.0538V17C51.074 17 52.2049 17.447 52.9909 17.792C53.8819 18.182 55.0189 18.77 56.2218 19.4569C58.5888 20.8099 61.6157 22.7629 64.8556 25.0488C71.3025 29.6027 72.4987 30.4997 79.1203 35.8785C80.2932 37.0485 80.2932 38.9505 79.1203 40.1204C77.9503 41.2934 76.0483 41.2934 74.8784 40.1204C67.9988 34.9995 67.6966 34.3966 61.3937 29.9507C58.2588 27.7367 55.4719 25.9398 53.2459 24.6678C52.1509 24.0408 51.299 23.5968 50.582 23.2878Z"
          fill="#EC3750"
        />
        <path
          d="M49.418 23.2878C49.688 23.1678 49.877 23.0958 50 23.0538V17C48.926 17 47.7951 17.447 47.0091 17.792C46.1181 18.182 44.9811 18.77 43.7782 19.4569C41.4112 20.8099 38.3843 22.7629 35.1444 25.0488C28.6975 29.6027 27.5013 30.4997 20.8797 35.8785C19.7068 37.0485 19.7068 38.9505 20.8797 40.1204C22.0497 41.2934 23.9517 41.2934 25.1216 40.1204C32.0012 34.9995 32.3034 34.3966 38.6063 29.9507C41.7412 27.7367 44.5281 25.9398 46.7541 24.6678C47.8491 24.0408 48.701 23.5968 49.418 23.2878Z"
          fill="#EC3750"
        />
    </svg>
</div>

<action
  role="button"
  data-behavior="toggle_theme"
  class="muted absolute top-0 right-0 m2 pointer no-select tooltipped tooltipped--l"
  aria-label="Toggle dark mode" tabindex="0">
  <%= inline_icon 'moon', size: home_action_size %>
  <%= inline_icon 'moon-fill', size: home_action_size, style: 'display: none;' %>
</action>

<article class="mt3">
  <div class="center">
    <% if @partner.logo.present? %>
      <%= image_tag @partner.logo, width: 128, class: "align-middle partner-logo-left" %>
      <span class="bold h1 inline-block align-middle muted">+</span>
    <% end %>
    <%= image_tag "logo.png", width: 128, class: "align-middle partner-logo-right" %>
  </div>

  <h1 class="center mt2 bank-partner-header-text">
    <span class="h3 caps secondary block">Open an account through</span>
    <span class=""><%= @partner.name || @partner.slug.humanize %></span>
  </h1>

  <div class="mb3">
    <p>
      <%= @partner.name || @partner.slug.humanize %> has partnered with <strong>Hack Club Bank</strong> to
      bring you seamless <%= link_to 'fiscal sponsorship', 'https://en.wikipedia.org/wiki/Fiscal_sponsorship', target: '_blank' %> for your organization.
    </p>
  </div>

  <%= render 'form', partnered_signup: @partnered_signup %>

  <div class="center">
    <p class="h5 muted mt5">Need help? <%= help_email %></p>
    <p class="h5 mt2"><a href="https://hackclub.com/bank?ref=bank_auth" target="_blank">What&apos;s Bank?</a></p>
  </div>
</article>