<%# locals: (expense:, new: false) -%>

<%= form_with(model: expense.becomes(Reimbursement::Expense), url: reimbursement_expense_path(expense), class: "h-100 flex flex-col", style: "max-width: 600px;", local: true, data: { "expense-form-target": "form", turbo: true }) do |form| %>
  <div class="flex flex-row items-center">
    <div style="flex-grow: 1;">
      <%= form.label :memo, "Memo", class: "bold" %>
      <%= form.text_field :memo, placeholder: "Lunch during layover at SFO", required: true, data: { "expense-form-target": "field memoField", "action": "dblclick->expense-form#edit", "behavior": "ctrl_enter_submit" } %>
    </div>

    <% if expense.is_standard? %>
      <span class="bold muted flex self-end items-center justify-center ml1" style="width: 1rem; height: 48px;">$</span>
    <% end %>
    <div class="ml1">
      <%= form.label :value, expense.value_label, class: "bold" %>
      <%= form.number_field :value, placeholder: "500.00", step: 0.01, min: 0.01, value: number_with_precision(expense.value, precision: 2), data: { controller: "truncate-decimal", action: "truncate-decimal#truncate", "expense-form-target": "field", "behavior": "ctrl_enter_submit select_if_empty" } %>
    </div>
  </div>
  <div class="field mt1 flex flex-col flex-grow">
    <div class="flex flex-row items-center justify-between mb1 flex-wrap gap-x-3">
      <%= form.label :description, "Description", class: "bold" %>
      <span class="h5 muted mt0 mb0 flex items-center">
        <%= inline_icon "markdown", size: 32 %> Additional context for this expense
      </span>
    </div>
    <%= form.text_area :description, placeholder: "This was for...", class: "w-100 fit flex-grow", data: { "expense-form-target": "field", behavior: "ctrl_enter_submit" } %>
  </div>
  <% if policy(expense).approve? %>
    <% if !expense.approved? && expense.report.submitted? %>
      <%= link_to reimbursement_expense_approve_path(expense_id: expense.id), class: "btn bg-success", data: { turbo: true, "turbo-method": "post" } do %>
        <%= inline_icon "thumbsup" %>
        Approve
      <% end %>
    <% elsif expense.report.submitted? %>
      <%= link_to reimbursement_expense_unapprove_path(expense_id: expense.id), class: "btn bg-muted", data: { turbo: true, "turbo-method": "post" } do %>
        <%= inline_icon "reply" %>
        Remove approval
      <% end %>
    <% end %>
  <% end %>

  <% if expense.receipts.any? { |r| r.extracted_incorrect_amount_cents? } %>
    <% admin_tool do %>
      <div class="warning bold">
        ⚠️ Please check these receipts closely, we suspect that their amounts don't match
      </div>
    <% end %>
  <% end %>

<% end %>
