<% title "You’ve been invited to #{@invite.event.name}" %>

<% if @invite.organizer_position_contract && !@invite.organizer_position_contract.signed? %>
  <% pending_signee = @invite.organizer_position_contract.pending_signee_information %>
  <%= render "callout", type: "warning", title: "You have a pending contract for this organization." do %>
    <% if pending_signee %>
      The contract is still pending because <%= pending_signee[:label] %> (<%= pending_signee[:email] %>) hasn't signed it yet.
    <% else %>
      If you have signed the contract, it may still be pending because your parent / legal guardian or HCB point of contact hasn't signed it.
    <% end %>
    <%= help_message %>
  <% end %>
<% end %>

<main class="center max-width-3 card mt4 md-p3 mx-auto">

<h1 class="mt0"><%= @invite.event.name %></h1>

<p class="muted caps bold mt3">You’ve been invited to join</p>

<% if @organizers.any? %>
  <div class="flex justify-center flex-wrap">
    <% @organizers.each do |position| %>
      <div class="tooltipped tooltipped--s mr1" aria-label="<%= position.user.name %>">
        <%= avatar_for position.user, size: 64 %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="flex justify-center items-center flex-wrap mt3">
  <%= link_to "Reject", organizer_position_invite_reject_path(@invite), method: :post, class: "btn bg-error m1" %>
  <% if @invite.organizer_position_contract && !@invite.organizer_position_contract.signed? %>
    <%= link_to "View pending contract", @invite.organizer_position_contract.user_signature_url, class: "btn bg-accent h2 m1" %>
  <% else %>
    <%= link_to "Accept invitation", organizer_position_invite_accept_path(@invite), method: :post, class: "btn bg-success h2 m1" %>
  <% end %>
</div>
</main>
