<% title "You’ve been invited to #{@invite.event.name}" %>

<main class="center max-width-3 card mt4 md-p3 mx-auto">

<h1 class="mt0"><%= @invite.event.name %></h1>

<p class="muted caps bold mt3">You’ve been invited to join</p>

<% if @organizers.any? %>
  <div class="flex justify-center flex-wrap">
    <% @organizers.each do |position| %>
      <div class="tooltipped tooltipped--s mr1" aria-label="<%= position.user.name %>">
        <%= avatar_for position.user, size: 64 %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="flex justify-center items-center flex-wrap mt3">
  <%= link_to "Reject", organizer_position_invite_reject_path(@invite), method: :post, class: "btn bg-error m1" %>
  <%= link_to "Accept invitation", organizer_position_invite_accept_path(@invite), method: :post, class: "btn bg-success h2 m1" %>
</div>
</main>
