<% turbo_page_requires_reload %>
<% title "Sign in" %>

<div class="flex flex-col flex-1 justify-center max-w-md w-full">
  <div class="my-auto">
    <%= render "header", label: "Hack Club" do %>
      Sign in to HCB
    <% end %>
    <%= form_tag logins_path, class: "mt-1", 'data-action': "webauthn-auth#submit", 'data-webauthn-auth-target': "authForm" do %>
      <div data-webauthn-auth-target="error" class="mb2 display-none">
        <p class="flash error mb1 mx-auto">Security key authentication failed.</p>
      </div>
      <%= hidden_field_tag :return_to, @return_to if @return_to %>
      <%= email_field_tag :email, @prefill_email, placeholder: "Enter your email...", autofocus: true, autocomplete: "username", class: "!max-w-full w-full", style: "padding: 12px 15px", required: true, "data-webauthn-auth-target" => "loginEmailInput" %>
      <div class="flex">
        <button data-webauthn-auth-target="continueButton" type="submit" class="ml-auto mt-4 gap-2 btn">
          Continue
        </button>
      </div>
      <%= link_to "Sign in another way", choose_login_preference_logins_path(return_to: @return_to), class: "display-none block mt2 no-underline", data: { "webauthn-auth-target" => "loginCode" } %>
    <% end %>
  </div>
  <%= render partial: "environment_banner" %>
</div>
<%= render partial: "footer", locals: { whats_hcb: true } %>
