<% title "Enter TOTP code" %>
<% page_xs %>
<% @home_size = 128 %>
<% content_for(:page_class) { "bg-snow pt4" } %>

<article class="center mt3">
  <h1 class="mt2">
    <span class="h3 caps secondary block">Sign in to HCB</span>
    <span class="black">One Time Password</span>
  </h1>

  <p>Enter your time-based one time password from your authenticator app.</p>
  <%= form_tag complete_login_path(@login) do %>
    <%= telephone_field_tag :code, "", placeholder: "OTP code", autofocus: true, class: "center-align mb2", autocomplete: "one-time-code", required: true %>
    <%= hidden_field_tag :email, @email %>
    <%= hidden_field_tag :method, :totp %>
    <%= hidden_field_tag :fingerprint %>
    <%= hidden_field_tag :device_info %>
    <%= hidden_field_tag :os_info %>
    <%= hidden_field_tag :timezone %>
    <%= hidden_field_tag :return_to, @return_to if @return_to %>
    <%= submit_tag "Submit" %>
  <% end %>

  <%= link_to "Sign in another way", choose_login_preference_logins_path(return_to: @return_to), class: "block mt2" %>
</article>
<%= javascript_include_tag "fingerprint.js" %>
