<%= form_with(model: [g_suite_application.event, g_suite_application], local: true) do |form| %>
  <% if g_suite_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(g_suite_application.errors.size, "error") %> prohibited this g_suite_application from being saved:</h2>

      <ul>
      <% g_suite_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :event_id %>
  <%= form.hidden_field :creator_id, value: current_user.id %>

  <div class="field">
    <%= form.label :domain, 'Domain (ex. hackchicago.io)' %>
    <%= form.text_field :domain %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit application' %>
  </div>
<% end %>
