<%= form_with(model: [g_suite_application.event, g_suite_application], local: true) do |form| %>
  <%= form_errors g_suite_application, 'G Suite application' %>

  <%= form.hidden_field :event_id %>
  <%= form.hidden_field :creator_id, value: current_user.id %>

  <div class="field">
    <%= form.label :domain, 'Domain' %>
    <%= form.text_field :domain, placeholder: example_email_domain, 'data-behavior': 'prevent_whitespace' %>
  </div>

  <div class="actions">
    <%= form.submit 'Configure' %>
  </div>
<% end %>
