<% title 'G Suite Applications' %>
<h1>G Suite Applications</h1>

<%= paginate @g_suite_applications %>

<table>
  <thead>
    <tr>
      <th>Creator</th>
      <th>Event</th>
      <th>Domain</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @g_suite_applications.each do |g_suite_application| %>
      <tr class="<%= 'shade-yellow' if g_suite_application.under_review? %>">
        <td><%= g_suite_application.creator&.email %> (#<%= g_suite_application.creator&.id %>)</td>
        <td><%= link_to g_suite_application.event&.name, g_suite_application.event if g_suite_application.event %></td>
        <td><%= g_suite_application.domain %></td>
        <td class="flex items-center" aria-label="<%= g_suite_application.created_at %>" class="tooltipped tooltipped--e">
          <%= status_badge g_suite_application.status_badge_type %>
          <%= g_suite_application.status %>
        </td>
        <td><%= link_to 'Show', g_suite_application_path(g_suite_application) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
