<% title 'G Suite (Applications)' %>

<h1>G Suite (Applications)</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Domain</th>
      <th>Verification Key</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @g_suites.each do |g_suite| %>
      <tr class="<%= 'shade-yellow' if g_suite.creating? || g_suite.verifying? %>">
        <td><%= link_to g_suite.event.name, g_suite.event %></td>
        <td><%= g_suite.domain %></td>
        <td><%= g_suite.verification_key %></td>
        <td><%= g_suite.aasm_state %></td>
        <td><%= link_to 'Edit', edit_event_g_suite_path(g_suite, event_id: g_suite.event.slug) %></td>
        <td><%= link_to 'Verify', g_suite.verification_url, target: :blank %></td>
      </tr>
    <% end %>
  </tbody>
</table>
