<%= link_to @g_suite_application.event.name, @g_suite_application.event, class: 'breadcrumb' %>
<h1>Apply for G Suite</h1>

<<<<<<< HEAD
<p>G Suite gives you Gmail, Google Drive, Hangouts, Calendar, and more, all for free, including domain email addresses like <strong><%= example_email @g_suite_application.event %></strong>, provide your real domain. You’ll set up the names of the accounts later.</p>
=======
<p>G Suite gives you Gmail, Google Drive, Hangouts, Calendar, and more, all for free, including domain email addresses like <strong><%= current_user.full_name.to_s.length > 3 ? current_user.full_name.downcase.split(' ').first : 'yourname' %>@<%= @g_suite_application.event.name.downcase.gsub(/[^0-9a-z]/i, '') %>.com</strong>, provide your real domain. You’ll set up the names of the accounts later.</p>
>>>>>>> Fix g_suite flow

<%= render 'form', g_suite_application: @g_suite_application %>
