<% title 'G Suite Application' %>
<%= link_to 'G Suite Applications', g_suite_applications_path, class: 'breadcrumb' %>
<h1>Application for <%= @g_suite_application.event.name %></h1>

<section class="details mb2">
<p>
  <strong>Submitted by</strong>
  <%= user_mention @g_suite_application.creator %>
</p>

<p>
  <strong>Event</strong>
  <%= link_to @g_suite_application.event.name, @g_suite_application.event %>
</p>

<p>
  <strong>Domain</strong>
  <span>
    <%= @g_suite_application.domain %>
    <small><%= link_to "verify ⧉", @g_suite_application.verification_url, target: :blank %></small>
  </span>
</p>

<% if @g_suite_application.under_review? %>
<p>
  <strong>Status</strong>
  waiting for domain verification
</p>
<% else %>
<p>
  <strong>Rejected at</strong>
  <%= @g_suite_application.rejected_at %>
</p>

<p>
  <strong>Accepted at</strong>
  <%= @g_suite_application.accepted_at %>
</p>

<p>
  <strong>Canceled at</strong>
  <%= @g_suite_application.canceled_at %>
</p>
<% end %>
</section>

<% if @g_suite_application.under_review? %>
  <div class="btn-group">
    <%= link_to 'Accept request', g_suite_application_accept_path(@g_suite_application), method: :post, class: 'btn bg-success' %>
    <%= link_to 'Reject request', g_suite_application_reject_path(@g_suite_application), method: :post, data: { confirm: 'Are you sure you want to reject it?' }, class: 'btn bg-error' %>
<% end %>
  <%= link_to 'Cancel request', g_suite_application_path(@g_suite_application), method: :delete, data: { confirm: 'Are you sure you want to cancel?' }, class: 'btn bg-muted' %>
<% if @g_suite_application.under_review? %>
  </div>
<% end %>

<%= render 'comments/comments' %>
