<%= title 'Apply' %>
<% page_md %>

<h1>Apply to Hack Club Bank</h1>

<p class="flex items-center muted line-height-3">
  <%= inline_icon 'flag', size: 32, class: 'mr1' %>
  <span>
    If you’re leading a registered Hack Club instead of an event, use the application <%= link_to 'here', 'https://airtable.com/shrmh0kVBku2XJcB4', class: 'info', target: '_blank' %>.
  </span>
</p>

<p class="flex items-center muted line-height-3">
  <%= inline_icon 'info', size: 32, class: 'mr1' %>
  <span>
    Not a hackathon or a registered Hack Club? We’re accepting other groups, too!. Shoot us an email at <%= mail_to 'bank@hackclub.com', 'bank@hackclub.com', class: 'info' %>.
  </span>
</p>

<p class="flex items-center muted line-height-3">
  <%= inline_icon 'card-id', size: 32, class: 'mr1' %>
  <span>
    You’ll need your co-leaders’ identification (school ID, passport, etc.) to finish the application.
  </span>
</p>

<%= form_for :application, url: 'submit', 'data-behavior': 'application_form' do |form| %>
<div class="field">
  <%= form.label :event_name %>
  <%= form.text_field :event_name, required: true, placeholder: 'Windy City Hacks' %>
</div>
<div class="field">
  <%= form.label :website %>
  <%= form.text_field :website, placeholder: 'https://windyhacks.com' %>
</div>
<div class="field">
  <%= form.label :about_event, 'Tell us about your event or organization' %>
  <span class="h5 muted">Who are your attendees? Where is your venue?</span>
  <%= form.text_area :about_event, required: true, 'data-behavior': 'character_limit' %>
  <span class="h5 muted" data-behavior="character_limit_indicator">(Must be between 250 and 600 characters)</span>
</div>
<div class="field">
  <%= form.label 'Tell us about your history' %>
  <span class="h5 muted">How did you get started? Who's on your team? Include links if relevant. Please be as detailed as possible.</span>
  <%= form.text_area :about_history, required: true, 'data-behavior': 'character_limit' %>
  <span class="h5 muted" data-behavior="character_limit_indicator">(Must be between 250 and 600 characters)</span>
</div>
<div class="field field--checkbox">
  <%= form.check_box :opened_sign_ups %>
  <%= form.label :opened_sign_ups, 'Have you already opened registrations for your event?' %>
</div>
<div class="field">
  <%= form.label :expected_attendees %>
  <%= form.number_field :expected_attendees, placeholder: '100', required: true, min: 1 %>
</div>
<div class="field">
  <%= form.label :expected_budget %>
  <div class="field field--money">
    <%= form.number_field :expected_budget, placeholder: '15000.00', step: 0.01, required: true, min: 1 %>
  </div>
</div>
</div>
<div class="field">
  <%= form.label :organizer_history, 'Has your team organized events before?' %>
  <span class="h5 muted">Yes? No? If so, which ones, what were the budgets, and how many people came? Please include links.</span>
  <%= form.text_area :organizer_history, required: true, 'data-behavior': 'character_limit' %>
  <span class="h5 muted" data-behavior="character_limit_indicator">(Must be between 250 and 600 characters)</span>
</div>
<div class="field">
  <%= form.label :mailing_address %>
  <span class="h5 muted">We mail Hack Club Bank stickers to every event—at what address can one of your organizers receive a package?</span>
  <%= form.text_area :mailing_address, required: true %>
</div>

<div data-behavior="members_list">
<h2 class="heading mb3">
  Team members
  <button data-behavior="add_member" type="button" class="btn bg-success">Add teammember</button>
</h2>

<%= form.fields_for :team_members, index: 0 do |member_form| %>
<div class="card relative mt3" style="display: none;" data-index="<%= member_form.index %>" data-behavior="member_attributes">
  <button data-behavior="remove_member" type="button" class="card__pop pop error">
    <%= inline_icon 'delete', size: 28 %>
  </button>
  <div class="field">
    <%= member_form.label :name, 'Full Name' %>
    <%= member_form.text_field :name, placeholder: 'Rose Cao' %>
  </div>
  <div class="field">
    <%= member_form.label :birthdate %>
    <%= member_form.date_field :birthdate, {
      'data-behavior':'birthdate',
      max: "#{(DateTime.now).strftime("%Y%m%d")}",
      min: "#{(DateTime.now - 100.years).strftime("%Y%m%d")}",
      placeholder: '2001-02-03',
      pattern: '\d{4}-\d{2}-\d{2}' # in case the browser doesn't have input[type=date]
    }%>
  </div>
  <div class="field">
    <%= member_form.label :email %>
    <%= member_form.text_field :email, placeholder: 'you@example.com' %>
    <span class="muted h5 block">You’ll use this to sign in</span>
  </div>
  <div class="field">
    <%= member_form.label :phone_number %>
    <%= member_form.text_field :phone_number, placeholder: '(xxx) xxx-xxxx' %>
  </div>
  <div class="field">
    <%= member_form.label :title %>
    <%= member_form.text_field :title, placeholder: 'Co-founder' %>
  </div>
  <div class="field">
    <%= member_form.label :identification %>
    <%= member_form.file_field :identification %>
    <span class="muted h5 block">Student ID, driver’s license, passport, etc.</span>
  </div>
  <div class="parent-info" style="display: none;">
    <h3>Parent info</h3>
    <p class="flex items-center info line-height-3">
      <%= inline_icon 'important', size: 32, class: 'mr1' %>
      <span>
        Parent info is required for organizers under 18. We only use it for writing contracts if your team is accepted.
      </span>
    </p>
    <div class="field">
      <%= member_form.label :parent_name %>
      <%= member_form.text_field :parent_name %>
    </div>
    <div class="field">
      <%= member_form.label :parent_email %>
      <%= member_form.text_field :parent_email %>
    </div>
    <div class="field">
      <%= member_form.label :parent_phone_number %>
      <%= member_form.text_field :parent_phone_number %>
    </div>
    <div class="field">
      <%= member_form.label :parent_birthdate %>
      <%= member_form.date_field :parent_birthdate, {
        'data-behavior':'birthdate',
        max: "#{(DateTime.now).strftime("%Y%m%d")}",
        min: "#{(DateTime.now - 100.years).strftime("%Y%m%d")}",
        placeholder: '2001-02-03',
        pattern: '\d{4}-\d{2}-\d{2}' # in case the browser doesn't have input[type=date]
      }%>
    </div>
    <div class="field">
      <%= member_form.label :parent_identification %>
      <%= member_form.file_field :parent_identification %>
      <span class="muted h5 block">Driver’s license, passport, etc.</span>
    </div>
  </div>
</div>
<% end %>
</div>


<%= form.submit 'Submit application', data: { disable_with: false }, class: 'mt3 mb3 btn' %>
  <span class="muted h5" data-behavior="loading_message"></span>
<% end  %>
