<% submit_disable_with_false ||= false %>
<% action_buttons ||= nil %>

<div class="events-filter-select">
  <%= form.label :transparent do %>
    Transparent
    <%= form.select :transparent, [["Both", "both"], ["Not Transparent", "not_transparent"], ["Transparent", "transparent"]], selected: @transparent %>
  <% end %>
  <%= form.label :omitted do %>
    Omitted
    <%= form.select :omitted, [["Both", "both"], ["Not Omitted", "not_omitted"], ["Omitted", "omitted"]], selected: @omitted %>
  <% end %>
  <%= form.label :demo_mode do %>
    Demo
    <%= form.select :demo_mode, [["Both", "both"], ["Full", "full"], ["Demo", "demo"]], selected: @demo_mode %>
  <% end %>

  <%= form.label :active do %>
    Active
    <%= form.select :active, [["Both", "both"], ["Inactive", "inactive"], ["Active", "active"]], selected: @active %>
  <% end %>

  <%= form.label :hidden do %>
    Hidden
    <%= form.select :hidden, [["Both", "both"], ["Not Hidden", "not_hidden"], ["Hidden", "hidden"]], selected: @hidden %>
  <% end %>

  <%= form.label :funded do %>
    Funded
    <%= form.select :funded, [["Both", "both"], ["Not Funded", "not_funded"], ["Funded", "funded"]], selected: @funded %>
  <% end %>

  <%= form.label :organized_by do %>
    Organized by
    <%= form.select :organized_by, [["Anyone", "anyone"], ["Teenagers", "teenagers"], ["Hack Clubbers", "hack_clubbers"], ["Adults", "adults"]], selected: @organized_by %>
  <% end %>

  <%= form.label :country do %>
    Country
    <%= form.select :country, { 'Outside US': 9999 }.merge(Event.countries), { include_blank: "all", selected: @country } %>
  <% end %>

  <%= form.label :point_of_contact_id do %>
    <span style="text-wrap: nowrap;">POC</span>
    <%= form.collection_select :point_of_contact_id, User.admin.all, :id, :email, selected: @point_of_contact_id, include_blank: "all" %>
  <% end %>

  <%= form.label :activity_since do %>
    Activity Since
    <%= form.date_field :activity_since, value: @activity_since_date %>
  <% end %>

  <%= form.label :plan do %>
    Current Plan
    <%= form.select :plan, Event::Plan.available_plans.map { |p| [p.new.label, p.name] }, { include_blank: "all", selected: @plan } %>
  <% end %>

  <%= form.label :sort_by do %>
    Sort By
    <%= form.select :sort_by, [["Balance Ascending", "balance_asc"], ["Balance Descending", "balance_desc"], ["Date Descending", "date_desc"]], selected: @sort_by %>
  <% end %>

  <%= form.label :tagged_with do %>
    <span style="text-wrap: nowrap;">Tagged with</span>
    <%= form.select :tagged_with, EventTag.all.map { |t| [t.full_name, t.id] }, { include_blank: "anything", selected: @tagged_with } %>
  <% end %>

</div>

<fieldset style='display: flex; flex-wrap: wrap; gap: 4px 16px; border: 1px lightgray solid; border-radius: 0.2rem; padding: 0.6rem; padding-top: 0.3rem; margin-right: 0.5rem; margin-top: 8px;'>
  <legend style="padding: 0px 8px">State:</legend>
  <%= form.label :pending do %>
    <%= form.check_box :pending, checked: @pending %>
    Pending
  <% end %>
  <%= form.label :unapproved do %>
    <%= form.check_box :unapproved, checked: @unapproved %>
    Unapproved
  <% end %>
  <%= form.label :approved do %>
    <%= form.check_box :approved, checked: @approved %>
    Approved
  <% end %>
  <%= form.label :rejected do %>
    <%= form.check_box :rejected, checked: @rejected %>
    Rejected
  <% end %>
  <%= form.label :engaged do %>
    <%= form.check_box :engaged, checked: @engaged %>
    Engaged (Only)
  <% end %>
</fieldset>

<%= action_buttons %>
