<% submit_disable_with_false ||= false %>

<div style='display: inline; border: 1px lightgray solid; border-radius: 0.2rem; padding: 0.2rem; margin-right: 0.5rem;'>
  State: |
  <%= form.label :pending do %>
    <%= form.check_box :pending, checked: @pending %>
    Pending
  <% end %>
  |
  <%= form.label :unapproved do %>
    <%= form.check_box :unapproved, checked: @unapproved %>
    Unapproved
  <% end %>
  |
  <%= form.label :approved do %>
    <%= form.check_box :approved, checked: @approved %>
    Approved
  <% end %>
  |
  <%= form.label :rejected do %>
    <%= form.check_box :rejected, checked: @rejected %>
    Rejected
  <% end %>
</div>
<% if submit_disable_with_false %>
  <%= button_tag("Search", disable_with: false) %>
<% else %>
  <%= form.submit "Search" %>
<% end %>

<br>
<%= form.label :transparent do %>
  Transparent
  <%= form.select :transparent, [["Both", "both"], ["Not Transparent", "not_transparent"], ["Transparent", "transparent"]], selected: @transparent %>
<% end %>
|
<%= form.label :omitted do %>
  Omitted
  <%= form.select :omitted, [["Both", "both"], ["Not Omitted", "not_omitted"], ["Omitted", "omitted"]], selected: @omitted %>
<% end %>
|
<%= form.label :demo_mode do %>
  Demo
  <%= form.select :demo_mode, [["Both", "both"], ["Full", "full"], ["Demo", "demo"]], selected: @demo_mode %>
<% end %>
|
<%= form.label :hidden do %>
  Hidden
  <%= form.select :hidden, [["Both", "both"], ["Not Hidden", "not_hidden"], ["Hidden", "hidden"]], selected: @hidden %>
<% end %>
|
<%= form.label :funded do %>
  Funded
  <%= form.select :funded, [["Both", "both"], ["Not Funded", "not_funded"], ["Funded", "funded"]], selected: @funded %>
<% end %>
|
<%= form.label :organized_by do %>
  Organized by
  <%= form.select :organized_by, [["Anyone", "anyone"], ["Teenagers", "teenagers"], ["Hack Clubbers", "hack_clubbers"], ["Adults", "adults"]], selected: @organized_by %>
<% end %>
|
<%= form.label :country do %>
  Country
  <%= form.select :country, { 'Outside US': 9999 }.merge(Event.countries), { include_blank: "all", selected: @country } %>
<% end %>
|
<%= form.label :category do %>
   Category
  <%= form.select :category, { 'uncategorized': "none" }.merge(Event.categories), { include_blank: "all", selected: @category } %>
<% end %>
|
<%= form.label :point_of_contact_id do %>
  POC
  <%= form.collection_select :point_of_contact_id, User.admin.all, :id, :email, selected: @point_of_contact_id, include_blank: "all" %>
<% end %>
|
<%= form.label :activity_since do %>
  Activity Since
  <%= form.date_field :activity_since, value: @activity_since_date %>
<% end %>
