<% title "ACHs" %>

<%= form_with local: true, url: ach_admin_index_path, method: :get do |form| %>
  <%= form.text_field :q, value: params[:q], placeholder: "Search" %>
  <%= form.collection_select(:event_id, Event.reorder(Event::CUSTOM_SORT), :id, :admin_dropdown_description, { include_blank: "Select An Event", selected: @event_id }, { width: 250, style: "max-width: 250px" }) %>
  <div class="mb1">
    <%= form.label :pending do %>
      <%= form.check_box :pending, checked: @pending %>
      Pending
    <% end %>
  </div>
  <%= form.submit "Search" %>
<% end %>

<div class="flex items-center mb2">
  <div class="flex-grow">
    <%= page_entries_info @ach_transfers, entry_name: "ACH transfers" %>
  </div>
  <%= paginate @ach_transfers %>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Recipient</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Confirmation No.</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @ach_transfers.each do |ach| %>
      <tr class="<%= "admin-bg-pending" if ach.pending? %> <%= "admin-bg-transit" if ach.in_transit? %>">
        <td><%= ach.id %></td>
        <td><%= ach.created_at.strftime("%Y-%m-%d") %></td>
        <td>
          <%= link_to ach_transfer_path(ach) do %>
            <%= ach.event.name.upcase %>: <%= ach.recipient_name.upcase %>
          <% end %>
        </td>
        <td><%= render_money_amount(ach.amount) %></td>
        <td>
          <%= ach.aasm_state.upcase %>
          <% if ach.pending_expired? %>
            <span>⚠️ (Overdue)</span>
          <% end %>
        </td>
        <td><%= ach.confirmation_number %></td>
        <td>
          <%= link_to "Process", ach_start_approval_admin_path(ach) if ach.pending? %>
          <%= link_to "View", ach_start_approval_admin_path(ach) unless ach.pending? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @ach_transfers %>
