<% title "Bank Accounts" %>

<p class="mb2">
  Displaying <%= pluralize(@count, "Bank Account") %>.
</p>

<%= link_to new_bank_account_path do %>
  <button class="mb2">Link new bank account</button>
<% end %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Balance</th>
      <th>Syncing On</th>
      <th>Failed At</th>
      <th>Failure Count</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bank_accounts.each do |ba| %>
      <tr class="<%= ba.admin_status_color %>">
        <td><%= ba.id %></td>
        <td><%= ba.name %></td>
        <td><%= render_money ba.balance %></td>
        <td><%= ba.should_sync_v2 ? "✅" : "🚫" %></td>
        <td><%= ba.failed_at %></td>
        <td><%= ba.failure_count %></td>
        <td>
          <%= button_to ba.should_sync_v2? ? "Disable" : "Enable", ba, method: :patch, class: ("admin-bg-red" if ba.should_sync_v2?), params: { bank_account: { should_sync_v2: !ba.should_sync_v2? } } %>
          <%= link_to "Reauthenticate", bank_account_reauthenticate_path(ba) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
