<% title "Checks" %>

<%= form_with local: true, url: checks_admin_index_path, method: :get do |form| %>
  <%= form.text_field :q, value: params[:q], placeholder: "Search" %>
  <%= form.collection_select(:event_id, Event.reorder(Event::CUSTOM_SORT), :id, :admin_dropdown_description, { include_blank: "Select An Event", selected: @event_id }, { width: 250, style: "max-width: 250px" }) %>
  <div class="mb1">
    <%= form.label :in_transit do %>
      <%= form.check_box :in_transit, checked: @in_transit %>
      In Transit
    <% end %>
  </div>
  <%= form.submit "Search" %>
<% end %>

<div class="flex items-center mb2">
  <div class="flex-grow">
    <%= page_entries_info @checks, entry_name: "check" %>
  </div>
  <%= paginate @checks %>
</div>

<table>
  <thead>
    <tr>
      <th class="w-24">ID</th>
      <th class="w-32">Date</th>
      <th>Event</th>
      <th>Recipient</th>
      <th>Check Number</th>
      <th class="w-32">Amount</th>
      <th>Status</th>
      <th class="w-24">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @checks.each do |check| %>
      <tr class="<%= "admin-bg-pending" if check.in_transit? %> <%= "admin-bg-transit" if check.in_transit_and_processed? %>">
        <td><%= check.id %></td>
        <td>
          <%= check.created_at.strftime("%Y-%m-%d") %>
          <% if check.pending_expired? %>
            <span>⚠️ (Overdue)</span>
          <% end %>
        </td>
        <td><%= check.event.name.upcase %></td>
        <td><%= check.recipient_name %></td>
        <td><%= check.check_number || "-----" %></td>
        <td><%= render_money_amount(check.amount) %></td>
        <td><%= check.aasm_state.upcase %></td>
        <td>
          <%= link_to "View", check_path(check) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @checks %>
