<% title "Column Statements" %>

<h1>Column Statements</h1>

<%= paginate @statements %>

<%= page_entries_info @statements %>

<table>
  <thead>
    <tr>
      <th class="w-48">Month</th>
      <th class="w-32">Start Date</th>
      <th class="w-32">End Date</th>
      <th>Statement</th>
    </tr>
  </thead>
  <tbody>
    <% @statements.each do |statement| %>
      <tr>
        <td><%= statement.start_date.strftime("%B, %Y") %></td>
        <td><%= statement.start_date.strftime("%Y-%m-%d") %></td>
        <td><%= statement.end_date.strftime("%Y-%m-%d") %></td>
        <td><%= link_to "Download Statement", statement.file %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @statements %>
