<% title "Disbursements" %>

<%= form_with local: true, url: disbursements_admin_index_path, method: :get do |form| %>
  <%= form.text_field :q, value: params[:q], placeholder: "Search" %>
  <%= form.collection_select(:event_id, Event.reorder(Event::CUSTOM_SORT), :id, :admin_dropdown_description, { include_blank: "Select An Event", selected: @event_id }, { width: 250, style: "max-width: 250px" }) %>
  <fieldset>
    <%= form.label :reviewing do %>
      <%= form.check_box :reviewing, checked: @reviewing %>
      Reviewing
    <% end %>
    <%= form.label :pending do %>
      <%= form.check_box :pending, checked: @pending, class: "ml1" %>
      Pending
    <% end %>
    <%= form.label :processing do %>
      <%= form.check_box :processing, checked: @processing, class: "ml1" %>
      Processing
    <% end %>
  </fieldset>
  <%= form.submit "Search" %>
  <%= link_to disbursement_new_admin_index_path do %>
    <button class="bg-primary">
      New Disbursement
    </button>
  <% end %>
<% end %>

<div class="flex items-center mb2">
  <div class="flex-grow">
    <%= page_entries_info @disbursements, entry_name: "disbursements" %>
  </div>
  <%= paginate @disbursements %>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Recipient</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @disbursements.each do |disbursement| %>
      <tr class="<%= "admin-bg-transit" if disbursement.pending? %><%= "admin-bg-pending" if disbursement.reviewing? %>">
        <td><%= disbursement.id %></td>
        <td><%= disbursement.created_at.strftime("%Y-%m-%d") %></td>
        <td>
          <%= link_to disbursement_path(disbursement) do %>
            <%= disbursement.source_event.name.upcase %>: <%= disbursement.name %>
          <% end %>
        </td>
        <td><%= render_money_amount(disbursement.amount) %></td>
        <td>
          <%= disbursement.aasm.human_state %>
          <% if disbursement.pending_expired? %>
            <span>⚠️ (Overdue)</span>
          <% end %>
        </td>
        <td>
          <% if disbursement.reviewing? %>
            <%= link_to "Process", disbursement_process_admin_path(disbursement) %>
          <% elsif disbursement.pending? %>
            AUTOMATED
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @disbursements %>
