<% title "DONATIONS" %>

<h1>DONATIONS</h1>

<%= paginate @donations %>

<%= form_with local: true, url: donations_admin_index_path, method: :get do |form| %>
  <%= form.text_field :q, value: params[:q] %>
  <%= form.label :deposited do %>
    <%= form.check_box :deposited, checked: @deposited %>
    Deposited
  <% end %>
  |
  <%= form.label :in_transit do %>
    <%= form.check_box :in_transit, checked: @in_transit %>
    In Transit
  <% end %>
  |
  <%= form.label :missing_payout do %>
    <%= form.check_box :missing_payout, checked: @missing_payout %>
    Missing Payout
  <% end %>
  |
  <%= form.label :missing_fee_reimbursement do %>
    <%= form.check_box :missing_fee_reimbursement, checked: @missing_fee_reimbursement %>
    Missing FeeReimbursement
  <% end %>

  <%= form.collection_select(:event_id, Event.reorder(:name), :id, :admin_dropdown_description, { include_blank: true, selected: @event_id }, { width: 150, style: "max-width: 150px" }) %>
  |

  <%= form.submit "Search" %>
<% end %>


<p><small><%= pluralize(@count, "result") %></small></p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Recipient</th>
      <th>Amount</th>
      <th>Status</th>
      <th>PayoutId</th>
      <th>FeeReimbursementId</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @donations.each do |donation| %>
      <tr style="<%= "background: #ccccff;" if donation.in_transit? %>">
        <td><%= donation.id %></td>
        <td><%= donation.created_at.strftime("%Y-%m-%d") %></td>
        <td>
          <%= link_to donation_path(donation) do %>
            <%= donation.event.name.upcase %>: <%= donation.name %>
          <% end %>
        </td>
        <td><%= render_money_amount(donation.amount) %></td>
        <td><%= donation.aasm_state.upcase %></td>
        <td><%= donation.payout_id %></td>
        <td><%= donation.fee_reimbursement_id %></td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @donations %>
