<% title "Create an organization" %>

<h1>Create an organization</h1>

<%= form_with(model: nil, local: true, url: event_create_admin_index_path) do |form| %>
  <fieldset>
    <legend>Organization</legend>
    <p>
      <%= form.label :name, "Name (required)" %>
      <br>
      <%= form.text_field :name, placeholder: "Organization Name", value: params[:name], required: true %>
    </p>

    <p>
      <%= form.label :organizer_email, "Organizer's Email Address" %>
      <br>
      <%= form.email_field :organizer_email, placeholder: "Email Address", value: params[:organizer_email], required: false %>
    </p>

    <p>
      <%= form.check_box :is_signee, { checked: true } %>
      <%= form.label :is_signee, "Organizer signed contract?" %>
    </p>

    <p>
      <%= form.label :country %>
      <br>
      <%= form.collection_select :country, Event.countries_for_select, :first, :last, selected: params[:country] %>
    </p>

    <div class="field mb2">
      <%= form.label :plan, "Assign a plan" %>
      <br>
      <%= form.select(:plan, Event::Plan.available_plans.map { |p| [p.new.label, p.name] }, selected: params[:plan]) %>
    </div>

    <div class="field">
      <%= form.label :point_of_contact_id, "Point of contact" %>
      <%= form.collection_select :point_of_contact_id, User.admin.all, :id, :email, selected: @current_user.id %>
    </div>

    <p>
      <%= form.check_box :is_public, { checked: true } %>
      <%= form.label :is_public, "Make public/transparent?" %>
    </p>

    <p>
      <%= form.check_box :approved, { checked: true } %>
      <%= form.label :approved, "Approved?" %>
    </p>

    <p>
      <%= form.check_box :demo_mode %>
      <%= form.label :demo_mode, "Playground Mode?" %>
    </p>

    <p>
      <%= form.check_box :organized_by_hack_clubbers, { checked: false } %>
      <%= form.label :organized_by_hack_clubbers, "Organized by Hack Clubbers?" %>
    </p>

    <p>
      <%= form.check_box :organized_by_teenagers, { checked: false } %>
      <%= form.label :organized_by_teenagers, "Organized by teenagers?" %>
    </p>

  </fieldset>

  <p>
    <%= form.submit "Create organization" %>
  </p>
<% end %>
