<% title "ORGANIZATIONS" %>

<h1>ORGANIZATIONS <small><%= link_to "New Organization", event_new_admin_index_path %></small></h1>

<%= paginate @events %>

<%= form_with local: true, url: events_admin_index_path, method: :get do |form| %>
  <%= form.text_field :q, value: params[:q], style: 'vertical-align: top;', placeholder: 'Search' %>
  <div class="inline-block">
    <%= render partial: "events_filter", locals: { form: form } %>
  </div>
<% end %>

<%= page_entries_info @events, entry_name: 'organizations' %>

<table>
  <thead>
    <tr>
      <th class="w-16">ID</th>
      <th>Date</th>
      <th>Name</th>
      <th>Balance</th>
      <th>Fee</th>
      <th>Country</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr class="<%= "admin-bg-pending" if event.pending? || event.unapproved? || event.demo_mode? %> <%= "admin-bg-orange" if event.omit_stats? %>">
        <td><%= event.id %></td>
        <td><%= event.created_at.strftime("%Y-%m-%d") %></td>
        <td>
          <%= link_to event_path(event) do %>
            <%= event.name.upcase %>
          <% end %>
        </td>
        <td>
          <%= async_frame_to event_balance_admin_path(event) do %>
            <em>$ –</em>
          <% end %>
        </td>
        <td>
          <%= render_percentage event.sponsorship_fee %>
        </td>
        <td>
          <%= event.country %>
        </td>
        <td>
          <% Event::BADGES.each do |_key, badge| %>
            <% if event.send(badge[:qualifier]) %>
              <span title="<%= badge[:emoji] %> <%= badge[:description] %>"><%= badge[:emoji] %></span>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to "Process", event_process_admin_path(event) if event.pending? || event.unapproved? %>
          <%= link_to "Edit", edit_event_path(event, anchor: :admin_settings) unless event.pending? || event.unapproved? %>
          <%= link_to "Review", event_process_admin_path(event) unless event.pending? || event.unapproved? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @events %>
