<% title "Create an event" %>

<h1>Create an event</h1>

<%= form_with(model: nil, local: true, url: event_create_admin_index_path) do |form| %>
  <fieldset>
    <legend>Event</legend>
    <p>
      <%= form.label :name, "Name (required)" %>
      <br/>
      <%= form.text_field :name, placeholder: "Event Name", required: true %>
    </p>

    <p>
      <%= form.label :organizer_email, "Organizer's Email Address" %>
      <br/>
      <%= form.email_field :organizer_email, placeholder: "Email Address", required: false %>
    </p>

    <p>
      <%= form.check_box :has_fiscal_sponsorship_document %>
      <%= form.label :has_fiscal_sponsorship_document, "Signed fiscal sponsorship document?" %>
    </p>

    <p>
      <%= form.check_box :spend_only %>
      <%= form.label :spend_only, "Spend only?" %>
    </p>

    <p>
      <%= form.label :sponsorship_fee, "Sponsorship fee (required)" %>
      <br/>
      <%= form.number_field :sponsorship_fee, placeholder: "0.07", value: "0.07", required: true, step: "any" %>
    </p>
  </fieldset>

  <p>
    <%= form.submit "Create event" %>
  </p>
<% end %>

