<% title "ORGANIZATIONS" %>

<h1>ORGANIZATIONS <small><%= link_to "New Organization", event_new_admin_index_path %></small></h1>

<%= paginate @events %>

<%= form_with local: true, url: events_admin_index_path, method: :get do |form| %>
  <%= form.text_field :q, value: params[:q], style: 'vertical-align: top;', placeholder: 'Search' %>
  <div class="inline-block">
    <%= render partial: "events_filter", locals: { form: form } %>
  </div>
<% end %>


<%= page_entries_info @events, entry_name: 'organizations' %>

<table>
  <thead>
    <tr>
      <th class="w-16">ID</th>
      <th>Date</th>
      <th>Name</th>
      <th>Balance</th>
      <th>Fee</th>
      <th>Country</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr class="<%= "admin-bg-pending" if event.pending? || event.unapproved? %> <%= "admin-bg-orange" if event.omit_stats? %>">
        <td><%= event.id %></td>
        <td><%= event.created_at.strftime("%Y-%m-%d") %></td>
        <td>
          <%= link_to event_path(event) do %>
            <%= event.name.upcase %>
          <% end %>
        </td>
        <td style="<%= 'color: lightgray;' if event.balance === 0 %>">
          <%= render_money event.balance %>
        </td>
        <td>
          <%= render_percentage event.sponsorship_fee %>
        </td>
        <td>
          <%= event.country %>
        </td>
        <td>
          <% if event.omit_stats? %>
            <span title="🏦 Omitted from stats">🏦</span>
          <% end %>
          <% if event.is_public? %>
            <span title="📈 Transparency mode enabled">📈</span>
          <% end %>
          <% if event.hidden_at? %>
            <span title="🕵️‍♂️ Hidden">🕵️‍♂️</span>
          <% end %>
          <% if event.organized_by_hack_clubbers? %>
            <span title="🦕 Organized by Hack Clubbers">🦕</span>
          <% end %>
        </td>
        <td>
          <%= link_to "Process", event_process_admin_path(event) if event.pending? || event.unapproved? %>
          <%= link_to "View", event_process_admin_path(event) unless event.pending? || event.unapproved? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @events %>
