<% title "Organizations" %>

<%= form_with local: true, url: events_admin_index_path, method: :get do |form| %>
  <%= form.text_field :q, value: params[:q], style: "vertical-align: top; width: 100%", placeholder: "Search Query" %>
  <div class="block">
    <% export_button = capture do %>
      <button class="bg-info">Search</button>
      <%= link_to params.to_unsafe_h.merge(format: :csv) do %>
        <button type="button" class="bg-muted ml2" <%= "disabled" if @events.total_count == 0 %>>Export <%= pluralize @events.total_count, "record" %></button>
      <% end %>
    <% end %>
    <%= render partial: "events_filter", locals: { form:, action_buttons: export_button } %>
  </div>
<% end %>

<div class="flex items-center mb2">
  <div class="flex-grow">
    <%= page_entries_info @events, entry_name: "organizations" %>.
    <%= link_to "Create a new organization", event_new_admin_index_path %>.
    <%= link_to "Create a new organization from Airtable", event_new_from_airtable_admin_index_path %>.
  </div>
  <%= paginate @events %>
</div>

<table>
  <thead>
    <tr>
      <th class="w-16">ID</th>
      <th class="w-40">Date</th>
      <th>Name</th>
      <th>Balance</th>
      <th>Raised</th>
      <th>Fee</th>
      <th>Country</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr class="<%= "admin-bg-pending" if event.pending? || event.unapproved? || event.demo_mode? %> <%= "admin-bg-orange" if event.omit_stats? %>">
        <td><%= event.id %></td>
        <% if event.activated_at? %>
          <td title="Demo org created on <%= event.created_at.strftime("%Y-%m-%d") %> (<%= distance_of_time_in_words(event.created_at, event.activated_at) %> earlier)">
            <div style="display: flex; align-items: center; gap: 5px">
              <%= event.activated_at.strftime("%Y-%m-%d") %> <%= inline_icon "info", size: 24, style: "color: #338eda" %>
            </div>
          </td>
        <% else %>
          <td><%= event.created_at.strftime("%Y-%m-%d") %></td>
        <% end %>
        <td>
          <%= link_to event_path(event) do %>
            <%= event.name.upcase %>
          <% end %>
        </td>
        <td>
          <%= turbo_frame_tag :balance, src: event_balance_admin_path(event), loading: "lazy" do %>
            <em>$ –</em>
          <% end %>
        </td>
        <td>
          <%= turbo_frame_tag :raised, src: event_raised_admin_path(event), loading: "lazy" do %>
            <em>$ –</em>
          <% end %>
        </td>
        <td>
          <%= render_percentage event.revenue_fee %>
        </td>
        <td>
          <%= event.country %>
        </td>
        <td>
          <% Event::BADGES.each do |_key, badge| %>
            <% if event.send(badge[:qualifier]) %>
              <span title="<%= badge[:emoji] %> <%= badge[:description] %>"><%= badge[:emoji] %></span>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to "Process", event_process_admin_path(event) if event.pending? || event.unapproved? %>
          <%= link_to "Edit", edit_event_path(event, anchor: :admin_settings) unless event.pending? || event.unapproved? %>
          <%= link_to "Review", event_process_admin_path(event) unless event.pending? || event.unapproved? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @events %>
