<% title "Create an organization" %>

<h1>Create an organization</h1>

<%= form_with(model: nil, local: true, url: event_create_admin_index_path) do |form| %>
  <fieldset>
    <legend>Organization</legend>
    <p>
      <%= form.label :name, "Name (required)" %>
      <br/>
      <%= form.text_field :name, placeholder: "Organization Name", required: true %>
    </p>

    <p>
      <%= form.label :organizer_email, "Organizer's Email Address" %>
      <br/>
      <%= form.email_field :organizer_email, placeholder: "Email Address", required: false %>
    </p>

    <p>
      <%= form.label :country %>
      <br />
      <%= form.collection_select :country, Event.countries, :first, :first %>
    </p>

    <p>
      <%= form.check_box :approved, { checked: true } %>
      <%= form.label :approved, "Approved?" %>
    </p>

    <p>
      <%= form.label :sponsorship_fee, "Sponsorship fee (required)" %>
      <br/>
      <%= form.number_field :sponsorship_fee, placeholder: "0.07", value: "0.07", required: true, step: "any" %>
    </p>
  </fieldset>

  <p>
    <%= form.submit "Create organization" %>
  </p>
<% end %>

