<h1>Process Google Workspace #<%= @g_suite.id %></h1>
<p><small>Current Status: <%= @g_suite.aasm_state %></small></p>

</hr>

<h3>Google Workspace Details</h3>

<table>
  <tbody>
    <tr>
      <td style="text-align: right;">Event:</td>
      <td><%= @g_suite.event.name %></td>
    </tr>
    <tr>
      <td style="text-align: right;">Domain:</td>
      <td><%= @g_suite.domain %></td>
    </tr>
    <tr>
      <td style="text-align: right;">Verification Key:</td>
      <td><%= @g_suite.verification_key %></td>
    </tr>
  </tbody>
</table>

<br/>

<hr/>

<h3>Instructions</h3>

<p>Context: <%= link_to "see what the user sees", event_g_suite_overview_path(event_id: @g_suite.event.slug) %>.</p>

<% if @g_suite.creating? %>
  <p>Is this a valid/reasonable domain name? If so:</p>

  <ol>
    <li>Visit <%= link_to "Google Webmaster Central", @g_suite.verification_url %></li>
    <li>Choose 'Other' from the drop down menu</li>
    <li>Copy/Paste the TXT record into the form below</li>
    <li>Click 'Verify' on Google Webmaster Central</li>
    <li>Click 'Submit' below</li>
  </ol>

  <%= form_with(model: nil, local: true, url: google_workspace_update_admin_path(@g_suite), method: :post) do |form| %>
    <%= form.label :verification_key do %>
      <%= form.text_field :verification_key %>
    <% end %>

    <%= form.submit "Set verification key" %>
  <% end %>
<% end %>

<% if @g_suite.configuring? %>
  <p>Nothing to do at the moment. The user now needs to configure their MX records.
<% end %>

<% if @g_suite.verifying? %>
  <p>Hack Club Bank is now trying to automatically verify if the user has configured their domain correctly with the TXT record.</p>

  <p>If you would like to check yourself:</p>

  <ol>
    <li>Visit <%= link_to "Google Webmaster Central", @g_suite.verification_url %></li>
    <li>Choose 'Other' from the drop down menu</li>
    <li>Click 'Verify' on Google Webmaster Central</li>
  </ol>

  <p>You can additionally verify that the TXT record they have matches the verification key we have on file:</p>
  
  <p><code>google-site-verification=<%= @g_suite.verification_key %></code></p>

  <p><%= link_to "DNS Check", @g_suite.dns_check_url %></p>

  <p>If it does not match or is missing, make sure to notify the event owner and have them set it up on their DNS provider.</p>
<% end %>

<% if @g_suite.verified? %>
  <p>Nothing more to do. This was setup, configured, and verified successfully.</p>
<% end %>
