<% title "Google Workspace Requests" %>

<%= form_with local: true, url: google_workspaces_admin_index_path, method: :get do |form| %>
  <%= form.text_field :q, value: params[:q], placeholder: "Search" %>
  <%= form.collection_select(:event_id, Event.reorder(Event::CUSTOM_SORT), :id, :admin_dropdown_description, { include_blank: "Select An Event", selected: @event_id }, { width: 250, style: "max-width: 250px" }) %>
  <fieldset>
    <%= form.label :needs_ops_review do %>
      <%= form.check_box :needs_ops_review, checked: @needs_ops_review %>
      Needs Ops Review
    <% end %>
    <%= form.label :configuring do %>
      <%= form.check_box :configuring, checked: @configuring, class: "ml1" %>
      Configuring
    <% end %>
    <%= form.label :verification_error do %>
      <%= form.check_box :verification_error, checked: @verification_error, class: "ml1" %>
      Verification Error
    <% end %>
    <%= form.label :revocation_present do %>
      <%= form.check_box :revocation_present, checked: @revocation_present, class: "ml1" %>
      Has Revocation
    <% end %>
    <%= form.label :pending_deletion do %>
      <%= form.check_box :pending_deletion, checked: @pending_deletion, class: "ml1" %>
      Revoked, Ready for Deletion
    <% end %>
  </fieldset>
  <%= form.submit "Search" %>
<% end %>

<%= form_with(model: nil, local: true, url: google_workspaces_verify_all_admin_index_path, method: :post) do |form| %>
  <%= form.submit "Attempt to verify all currently verifying domains" %>
<% end %>

<div class="flex items-center mb2">
  <div class="flex-grow">
    <%= page_entries_info @g_suites, entry_name: "Google Workspaces" %>
  </div>
  <%= paginate @g_suites %>
</div>

<table>
  <thead>
    <tr>
      <th class="w-16">ID</th>
      <th class="w-32">Date</th>
      <th>Name</th>
      <th class="w-32">OU ID</th>
      <th>OU Path</th>
      <th>VerificationKey</th>
      <th class="w-32">Status</th>
      <th class="w-24">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @g_suites.each do |g_suite| %>
      <tr class="<%= "admin-bg-red;" if g_suite.deleted_at.present? %> <%= "admin-bg-pending" if g_suite.needs_ops_review? %>">
        <td><%= g_suite.id %></td>
        <td><%= g_suite.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= link_to "#{g_suite.event.name.upcase}: #{g_suite.domain}", event_g_suite_overview_path(event_id: g_suite.event.slug) %></td>
        <td><%= g_suite.remote_org_unit_id %></td>
        <td><%= g_suite.remote_org_unit_path %></td>
        <td><%= g_suite.verification_key %></td>
        <td><%= g_suite.revocation.present? ? g_suite.revocation.pending? ? "Pending Revocation".upcase : "Ready for Deletion".upcase : g_suite.aasm_state.upcase %></td>
        <td>
          <% if g_suite.needs_ops_review? %>
            <%= link_to("Process", google_workspace_process_admin_path(g_suite)) %>
          <% elsif g_suite.revocation.present? && g_suite.revocation.revoked? %>
            <%= link_to("Process", google_workspace_process_admin_path(g_suite)) %>
          <% elsif g_suite.dkim_key.nil? %>
            <%= link_to("DKIM", google_workspace_process_admin_path(g_suite)) %>
          <% else %>
            <%= link_to("View", google_workspace_process_admin_path(g_suite)) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @g_suites %>
