<h1>Process Google Workspace #<%= @g_suite.id %></h1>
<p>
  <small>
    Current Status:
    <% if @g_suite.revocation.present? %>
      <% if @g_suite.revocation.pending? %>
        Pending Revocation (scheduled for <%= format_datetime @g_suite.revocation.scheduled_at %>)
      <% else %>
        Revoked at <%= format_datetime @g_suite.revocation.scheduled_at %>
      <% end %>
    <% else %>
      <%= @g_suite.aasm_state %>
    <% end %>
  </small>
</p>

<h3>Google Workspace Details</h3>
<table class="table--autosize">
  <tbody>
    <tr>
      <td style="text-align: right;">Event:</td>
      <td><%= @g_suite.event.name %></td>
    </tr>
    <tr>
      <td style="text-align: right;">Created at:</td>
      <td><%= format_datetime @g_suite.created_at %></td>
    </tr>
    <tr>
      <td style="text-align: right;">Domain:</td>
      <td><%= @g_suite.domain %></td>
    </tr>
    <tr>
      <td style="text-align: right;">Verification Key:</td>
      <td><%= @g_suite.verification_key %></td>
    </tr>
    <tr>
      <td style="text-align: right;">OU ID:</td>
      <td><%= @g_suite.remote_org_unit_id %></td>
    </tr>
    <tr>
      <td style="text-align: right;">OU Path:</td>
      <td><%= @g_suite.remote_org_unit_path %></td>
    </tr>
    <tr>
      <td style="text-align: right;">DKIM Key:</td>
      <td style="width: 90%"><%= @g_suite.dkim_key %></td>
    </tr>
    <tr>
      <td style="text-align: right;">DNS Check:</td>
      <td> <%= link_to @g_suite.domain, @g_suite.dns_check_url, target: :_blank %></td>
    </tr>
  </tbody>
</table>
<br>
<hr>
<h3>Instructions</h3>
<p>Context: <%= link_to "see what the user sees", event_g_suite_overview_path(event_id: @g_suite.event.slug) %>.</p>

<% if @g_suite.creating? %>
  <p>Is this a valid/reasonable domain name? If so, let's approve it!<br>Check out the URL to see if it seems like they own the domain.<br>This will generate a verification key for this domain and
  email the organizer to let them know they can start setting up their domain's DNS records.</p>
  <% if false %>
    <%# these are the manual instructions %>
    <ol>
      <li>Visit <%= link_to "Google Webmaster Central", @g_suite.verification_url %></li>
      <li>Choose 'Other' from the drop down menu</li>
      <li>Copy/Paste the TXT record into the form below</li>
      <li>Click 'Verify' on Google Webmaster Central</li>
      <li>Click 'Submit' below</li>
    </ol>
  <% end %>
  <%= form_with(model: nil, local: true, url: google_workspace_approve_admin_path(@g_suite), method: :post) do |form| %>
    <%= form.submit "Approve" %>
  <% end %>
<% end %>

<% if @g_suite.configuring? %>
  <p>Nothing to do at the moment. The user now needs to configure their MX records. </p>
<% end %>

<% if @g_suite.verifying? %>
  <p>HCB is now trying to automatically verify if the user has configured their domain correctly with the TXT record. This happens once every hour.</p>
  <p>If you would like to manually attempt to verify this domain:</p>
  <%= form_with(model: nil, local: true, url: google_workspace_verify_admin_path(@g_suite), method: :post) do |form| %>
    <%= form.submit "Click Here" %>
  <% end %>
  <p>You can additionally verify that the TXT record they have matches the verification key we have on file:</p>
  <p><code>google-site-verification=<%= @g_suite.verification_key %></code></p>
  <p><%= link_to "DNS Check", @g_suite.dns_check_url, target: "_blank" %></p>
  <p>If it does not match or is missing, make sure to notify the event owner and have them set it up on their DNS provider.</p>
  <p>Has it still been stuck on verifying after a few days? Try updating the verification key.</p>
  <%= form_with(model: nil, local: true, url: google_workspace_approve_admin_path(@g_suite), method: :post) do |form| %>
    <%= form.submit "Update verification key" %>
  <% end %>
  <% if false %>
    <%# these are the manual instructions %>
    <ol>
      <li>Visit <%= link_to "Google Webmaster Central", @g_suite.verification_url %></li>
      <li>Choose 'Other' from the drop down menu</li>
      <li>Copy/Paste the TXT record into the form below</li>
      <li>Click 'Verify' on Google Webmaster Central</li>
      <li>Click 'Submit' below</li>
    </ol>
  <% end %>
<% end %>

<% if @g_suite.verification_error? %>
  <p>Nothing to do at the moment. The user now needs to check for missing/misspelled DNS records. They need the following to successfully verify their domain:</p>
  <ul>
    <li>SPF record containing <code>v=spf1</code> and <code>include:_spf.google.com</code></li>
    <li>At least 1 MX record (<code>ASPMX.L.GOOGLE.COM</code>)</li>
    <li>TXT domain ownership verification record (<code>google-site-verification=<%= @g_suite.verification_key %></code>)</li>
  </ul>
<% end %>

<% if @g_suite.verified? %>
  <p>Nothing more to do. This was setup, configured, and verified successfully.<br>
  However, if the user is having issues with email delivery or would like to setup DKIM, please see the DKIM key instructions below.</p>
<% end %>

<hr>
<h3>DKIM Key</h3>
<div>
  <small><a href="https://support.google.com/a/answer/174124?hl=en">What is DKIM?</a></small>
  <p>Instructions:</p>
  <ul>
    <li>Visit the <a href="https://admin.google.com/ac/apps/gmail/authenticateemail">DKIM authentication page</a> on Google Admin.</li>
    <li>Select <code><%= @g_suite.domain %></code> in the domain dropdown</li>
    <li>Click "Generate new record". Use default settings</li>
    <li>Copy and paste the <strong>TXT record value</strong> into the box below and hit the button!</li>
    <li>The DKIM key will now show up in the event's <%= link_to "Google Workspace setup instructions", event_g_suite_overview_path(event_id: @g_suite.event.slug) %></li>
    <li>Once the DKIM key has been added to the domain's DNS by the organizer, go back to the Google Admin page above, select the domain, and click "Start Authentication"</li>
  </ul>
</div>
<%= form_with(model: nil, local: true, url: google_workspace_update_admin_path(@g_suite), method: :post) do |dkim_key_form| %>
  <%= dkim_key_form.label :dkim_key do %>
    <%= dkim_key_form.text_field :dkim_key, value: @g_suite.dkim_key %>
  <% end %>
  <%= dkim_key_form.submit "Update DKIM key" %>
<% end %>
<hr>
<h3>Google Workspace Revocation Immunity</h3>
<p>This Google Workspace is<%= @g_suite.immune_to_revocation? ? nil : " not" %> immune to revocation.<%= !@g_suite.immune_to_revocation? && @g_suite.revocation.present? ? " Turning this on will immediately cancel the current revocation for this Google Workspace." : nil %> </p>
<%= form_with(model: nil, local: true, url: google_workspace_toggle_revocation_immunity_admin_path(@g_suite), method: :post) do |form| %>
  <%= form.submit "Toggle" %>
<% end %>
<hr>
<% if @g_suite.revocation.present? && @g_suite.revocation.revoked? %>
  <h3>Delete</h3>
  <p>This Google Workspace has been revoked and is ready for deletion. The users have already been notified of the revocation. The following button will destroy the Google Workspace record and <b>permanently</b> delete the domain from GW along with all associated accounts and groups.</p>
  <%= link_to "Delete", g_suite_path(@g_suite, event_id: @g_suite.event.slug), method: :delete, data: { confirm: "Are you sure?" }, class: "admin-bg-warning p1 rounded link-reset" %>
  <h3>Cancel Revocation</h3>
  <p>This Google Workspace has <b>already been revoked</b>. If, for some reason, you need to cancel the revocation, the below button will do so and send an email notifying the users on the organization of the same. Note: If the revocation was initiated for inactivity or invalid DNS records, a new revocation will be automatically opened within the next day if the issues are not fixed.</p>
  <%= link_to "Cancel Revocation", g_suite_revocation_path(@g_suite), method: :delete, data: { confirm: "Are you sure?" }, class: "admin-bg-warning p1 rounded link-reset" %>
<% elsif @g_suite.revocation.present? && @g_suite.revocation.pending? %>
  <h3>Cancel Revocation</h3>
  <p>This Google Workspace has a <b>pending revocation</b>. If you need to cancel the revocation, the below button will do so and send an email notifying the users on the organization of the same. Note: If the revocation was initiated for inactivity or invalid DNS records, a new revocation will be automatically opened in the next day if the issues are not fixed.</p>
  <%= link_to "Cancel Revocation", g_suite_revocation_path(@g_suite), method: :delete, data: { confirm: "Are you sure?" }, class: "admin-bg-warning p1 rounded link-reset" %>
  <h3>Delete</h3>
  <p>This Google Workspace has a <b>pending revocation</b> and <b>should NOT be deleted yet</b>. If, for some reason, you need to delete this record immediately, the following button will destroy the Google Workspace record and <b>permanently</b> delete the domain from GW along with all associated accounts and groups.</p>
  <%= link_to "Delete", g_suite_path(@g_suite, event_id: @g_suite.event.slug), method: :delete, data: { confirm: "THIS MOST LIKELY ISN'T THE RIGHT BUTTON. Are you sure you want to delete this Google Workspace with a pending revocation?" }, class: "admin-bg-warning p1 rounded link-reset" %>
<% elsif @g_suite.immune_to_revocation? %>
  <h3>This Google Workspace is immune to revocation</h3>
  <p>Toggle their immunity above before opening a revocation.</p>
<% else %>
  <h3>Begin Revocation</h3>
  <p>This will begin the revocation of the organization's Google Workspace access and send an email to the users on the organization notifying them of the upcoming revocation. The users will have 2 weeks to wrap up their activities before access is revoked.</p>
  <%= form_with(model: [@g_suite, GSuite::Revocation.new], url: g_suite_revocations_path(@g_suite), method: :post, local: true) do |form| %>
    <%= form.label :other_reason, "This Google Workspace is being revoked because..." %><br><br>
    <%= form.text_field :other_reason, placeholder: "you have broken the Google Workspace terms of service", style: "width: 50%; min-width:200px" %><br><br>
    <%= form.submit "Begin Revocation", data: { confirm: "Are you sure?" }, class: "admin-bg-warning p1 rounded link-reset" %>
  <% end %>
<% end %>
