<% title "Grants" %>

<div class="flex items-center mb2">
  <div class="flex-grow">
    <%= page_entries_info @grants %>
  </div>
  <%= paginate @grants %>
</div>

<table>
  <thead>
    <tr>
      <th class="w-24">ID</th>
      <th class="w-32">Date</th>
      <th>Organization</th>
      <th>Recipient</th>
      <th class="w-32">Amount</th>
      <th>Status</th>
      <th class="w-24">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @grants.each do |grant| %>
      <tr class="<%= "admin-bg-pending" if grant.pending? || grant.verifying? %>">
        <td><%= grant.id %></td>
        <td><%= grant.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= link_to grant.event.name, grant.event %></td>
        <td><%= grant.recipient_name %> (<%= mail_to grant.recipient.email %>)</td>
        <td><%= grant.amount.format %></td>
        <td><%= grant.state_text %></td>
        <td>
          <%= link_to "Process", grant_process_admin_path(grant) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @grants %>
