<%= link_to "< back", grants_admin_index_path %>

<h1>Process Grant #<%= @grant.id %></h1>
<p class="admin-bg-transit"><small>Current Status: <strong><%= @grant.state_text %></strong></small></p>

<hr>

<h3>Grant Details</h3>

<table class="table--autosize">
  <tbody>
    <tr>
      <th colspan="2" class="admin-bg-pending">Provided by sender:</th>
    </tr>
    <tr>
      <td style="text-align: right;">Requested at:</td>
      <td><%= format_datetime @grant.created_at %></td>
    </tr>
    <tr>
      <td style="text-align: right;">Sent By:</td>
      <td><%= user_mention @grant.submitted_by %> of <%= link_to @grant.event.name, @grant.event %></td>
    </tr>
    <tr>
      <td style="text-align: right;">Sent To:</td>
      <td><%= @grant.recipient_name %> (<%= mail_to @grant.recipient.email %>) of <strong><%= @grant.recipient_organization %></strong></td>
    </tr>
    <tr>
      <td style="text-align: right;">Amount:</td>
      <td><%= @grant.amount.format %></td>
    </tr>
    <tr>
      <td style="text-align: right;">Grant period:</td>
      <td><%= @grant.created_at.strftime("%B %-d, %Y") %> - <%= @grant.ends_at.strftime("%B %-d, %Y") %> (<%= distance_of_time_in_words @grant.created_at, @grant.ends_at %>)</td>
    </tr>
    <tr>
      <td style="text-align: right;">Reason:</td>
      <td><%= @grant.reason %></td>
    </tr>
    <% if @grant.recipient_org_type.present? %>
      <tr>
        <th colspan="2" class="admin-bg-pending">Provided by recipient:</th>
      </tr>
      <tr>
        <td style="text-align: right;">Org type:</td>
        <td><%= @grant.recipient_org_type %></td>
      </tr>
      <% if @grant.recipient_org_501c3? && @grant.determination_letter.attached? %>
        <tr>
        <td style="text-align: right;">Determination letter:</td>
          <td><%= link_to "[click here]", @grant.determination_letter, target: "_blank" %></td>
        </tr>
      <% end %>
      <tr>
        <td style="text-align: right;">Grant receipt method:</td>
        <td><%= @grant.receipt_method.humanize %> (<%= link_to("link", @grant.linked_object.local_hcb_code) if @grant.linked_object.present? %>)</td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @grant.may_mark_fulfilled? %>
  <hr>

  <%= button_to "Mark manually fulfilled", grant_mark_fulfilled_path(@grant) %>
  <small>Click here to indicate that the grant has been sent manually, e.g. through a wire transfer.</small>
<% end %>

<% if @grant.may_mark_approved? %>
  <hr>

  <%= button_to "Approve grant and send invitation", grant_approve_path(@grant) %>
  <br>
  <small>The sender and recipient will both be notified, and the recipient will be asked to choose how to accept their grant.</small>
  <br>
  <small>You will still be able to reject this grant up until the point the recipient accepts.</small>
<% end %>

<% if @grant.may_mark_additional_info_needed? %>
  <hr>

  <%= button_to 'Mark "additional info needed"', grant_additional_info_needed_path(@grant), class: "admin-bg-orange" %>
  <br>
  <small>Use this to indicate that this grant <em>might</em> be approved in the future, but the sender needs to do something first.</small>
<% end %>

<% if @grant.may_mark_rejected? %>
  <hr>

  <%= button_to "Reject grant submission", grant_reject_path(@grant), class: "admin-bg-red" %>
  <br>
  <small>This will completely and permanently mark the grant as "rejected" in the  dashboard.</small>
<% end %>
