<% title "HCB CODES" %>

<h1>HCB CODES</h1>

<%= paginate @hcb_codes %>

<%= form_with local: true, url: hcb_codes_admin_index_path, method: :get do |form| %>
  <%= form.text_field :q, value: params[:q], placeholder: "Search" %>
  |
  <%= form.label :has_receipt do %>
    Receipt
    <%= form.select :has_receipt, [["All", "all"], ["Has receipt", "yes"], ["Missing receipt", "no"], ["Lost receipt", "lost"]], selected: @has_receipt %>
  <% end %>
  |
  <%= form.label :start_date do %>
    Start date
    <%= form.text_field :start_date, value: @start_date, placeholder: "YYYY-MM-DD" %>
  <% end %>
  |
  <%= form.label :end_date do %>
    End date
    <%= form.text_field :end_date, value: @end_date, placeholder: "YYYY-MM-DD" %>
  <% end %>
  |

  <%= form.submit "Search" %>
  |

  <%= link_to @params.merge(format: :csv) do %>
    <button type="button" <%= "disabled" if @hcb_codes.total_count == 0 %>>Export <%= pluralize @hcb_codes.total_count, "record" %></button>
  <% end %>
<% end %>

<%= page_entries_info @hcb_codes, entry_name: "HCB codes" %>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>HCB Code</th>
      <th>Pending TXs</th>
      <th>Canonical TXs</th>
      <th>Comments</th>
      <th>Receipts</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @hcb_codes.each do |hcb_code| %>
      <tr>
        <td><%= hcb_code.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= link_to hcb_code.hcb_code, hcb_code.url %></td>
        <td>
          <% hcb_code.canonical_pending_transactions.each do |cpt| %>
            <% if cpt.event %>
              <%= link_to cpt.id, canonical_pending_transaction_path(cpt) %>
            <% else %>
              <%= cpt.id %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% hcb_code.canonical_transactions.each do |ct| %>
            <% if ct.event.present? %>
              <%= link_to ct.id, canonical_transaction_path(ct) %>
            <% else %>
              <%= ct.id %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% hcb_code.comments.each do |c| %>
            <%= c.id %>
          <% end %>
        </td>
        <td>
          <% hcb_code.receipts.each do |r| %>
            <%= r.id %>
          <% end %>
        </td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @hcb_codes %>
