<% title "HCB Codes" %>

<%= form_with local: true, url: hcb_codes_admin_index_path, method: :get do |form| %>
  <%= form.text_field :q, value: params[:q], placeholder: "Search", class: "mr1" %>
  <%= form.label :has_receipt do %>
    <b class="mr1">Receipt status:</b>
    <%= form.select :has_receipt, [["All", "all"], ["Has receipt", "yes"], ["Missing receipt", "no"], ["Lost receipt", "lost"]], selected: @has_receipt %>
  <% end %>
  <div>
    <%= form.label :start_date do %>
      <b>Start date:</b>
      <%= form.text_field :start_date, value: @start_date, placeholder: "YYYY-MM-DD" %>
    <% end %>
    <%= form.label :end_date do %>
      <b class="ml1">End date:</b>
      <%= form.text_field :end_date, value: @end_date, placeholder: "YYYY-MM-DD" %>
    <% end %>
  </div>
  <div>
    <%= form.submit "Search" %>
    <%= link_to @params.merge(format: :csv) do %>
      <button type="button" <%= "disabled" if @hcb_codes.total_count == 0 %>>Export <%= pluralize @hcb_codes.total_count, "record" %></button>
    <% end %>
  </div>
<% end %>

<div class="flex items-center mb2">
  <div class="flex-grow">
    <%= page_entries_info @hcb_codes, entry_name: "HCB codes" %>
  </div>
  <%= paginate @hcb_codes %>
</div>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>HCB Code</th>
      <th>Event</th>
      <th>User</th>
      <th>Amount</th>
      <th>Pending TXs</th>
      <th>Canonical TXs</th>
      <th>Comments</th>
      <th>Receipts</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @hcb_codes.each do |hcb_code| %>
      <tr>
        <td>
          <%= hcb_code.created_at.strftime("%Y-%m-%d") %>
          <% if hcb_code.has_pending_expired? %>
            <span>⚠️ (Overdue)</span>
          <% end %>
        </td>
        <td><%= link_to hcb_code.memo, url_for(hcb_code) %></td>
        <td><%= link_to hcb_code.event&.name, hcb_code.event %></td>
        <td>
          <% if hcb_code.stripe_card? && hcb_code.card&.user %>
           <%= link_to hcb_code.card.user.name, hcb_code.card.user %>
          <% end %>
        </td>
        <td><%= render_money hcb_code.amount %></td>
        <td>
          <% hcb_code.canonical_pending_transactions.each do |cpt| %>
            <% if cpt.event %>
              <%= link_to cpt.id, canonical_pending_transaction_path(cpt) %>
            <% else %>
              <%= cpt.id %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% hcb_code.canonical_transactions.each do |ct| %>
            <% if ct.event.present? %>
              <%= link_to ct.id, canonical_transaction_path(ct) %>
            <% else %>
              <%= ct.id %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% hcb_code.comments.each do |c| %>
            <%= c.id %>
          <% end %>
        </td>
        <td>
          <% hcb_code.receipts.each do |r| %>
            <%= r.id %>
          <% end %>
        </td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @hcb_codes %>
