<%= link_to increase_checks_admin_index_path, class: "btn btn-small bg-muted" do %>
    <%= inline_icon "view-back" %>
    Back to checks
<% end %>

<h1>Process Check #<%= @check.id %> for <%= @check.event.name %> <%= "(❄️ ⚠️ CURRENTLY FINANCIALLY FROZEN)" if @check.event.financially_frozen? %></h1>
<p><small>Current Status: <%= @check.aasm_state %></small></p>

<hr>

<h3>Check Details</h3>

<table class="table--autosize">
  <tbody>
    <tr>
      <td style="text-align: right;">Requested at:</td>
      <td><%= format_datetime @check.created_at %></td>
    </tr>
    <tr>
      <td style="text-align: right;">Sent To:</td>
      <td><%= @check.recipient_name %></td>
    </tr>
    <tr>
      <td style="text-align: right;">Addressed To:</td>
      <td><%= @check.address %></td>
    </tr>
    <tr>
      <td style="text-align: right;">Memo:</td>
      <td><%= @check.memo %></td>
    </tr>
    <tr>
      <td style="text-align: right;">Payment Purpose:</td>
      <td><%= @check.payment_for %></td>
    </tr>
    <tr>
      <td style="text-align: right;">Amount:</td>
      <td><%= render_money @check.amount %></td>
    </tr>
    <% if @check.employee_payment.present? %>
      <tr>
        <td style="text-align: right;">Employee:</td>
        <td><%= @check.employee_payment.employee.user.name %></td>
      </tr>
      <tr>
        <td style="text-align: right;">Event:</td>
        <td><%= @check.employee_payment.employee.event.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @check.local_hcb_code.receipts.any? { |r| r.extracted_incorrect_amount_cents? } %>
  <div class="warning bold mb2">
    ⚠️ Please check these receipts closely, we suspect that their amounts don't match
  </div>
<% end %>

<% if @check.local_hcb_code.receipts.any? { |r| r.duplicated? } %>
  <div class="warning bold mb2">
    ⚠️ We suspect that one or more of these receipts have been used before
  </div>
<% end %>

<%= render partial: "receipts/receipt", collection: @check.local_hcb_code.receipts.order(created_at: :asc), as: :receipt, locals: { link_to_file: true } %>

<hr>

<% if @check.pending? %>
  <%= button_to "💸 Approve and send check", approve_increase_check_path(@check), method: :post, data: { confirm: "Are you sure you want to send this check?" } %>
  <%= form_with(model: nil, local: true, url: reject_increase_check_path(@check), method: :post) do |form| %>
    <div class="field">
      <%= form.label "Reject with a comment", class: "bold mb1" %> <br>
      <%= form.text_area :comment, style: "width: 400px;", placeholder: "(Markdown supported)" %>
    </div>
    <%= form.submit "Reject", data: { confirm: "Mark as rejected? This requires you to communicate to the organizer about the reason why." } %>
    <small>(This requires you to communicate to the organizer about the reason why.)</small>
  <% end %>
<% else %>
  <p>This check has been <b><%= @check.aasm.current_state.to_s.humanize(capitalize: false) %></b>.</p>
<% end %>
