<% title "Checks" %>

<div class="flex items-center mb2">
  <div class="flex-grow">
    <%= page_entries_info @checks, entry_name: "check" %>
  </div>
  <%= paginate @checks %>
</div>

<table>
  <thead>
    <tr>
      <th class="w-24">ID</th>
      <th class="w-32">Date</th>
      <th>Event</th>
      <th>Recipient</th>
      <th class="w-32">Amount</th>
      <th>Status</th>
      <th class="w-24">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @checks.each do |check| %>
      <tr class="<%= "admin-bg-pending" if check.pending? %>">
        <td><%= check.id %></td>
        <td><%= check.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= check.event.name %></td>
        <td><%= check.recipient_name %></td>
        <td><%= render_money(check.amount) %></td>
        <td><%= check.aasm.human_state %><%= " - #{check.increase_status&.humanize}" if check.approved? %></td>
        <td>
          <%= link_to "View", hcb_code_path(check.hcb_code) %>
          <%= link_to "Process", increase_check_process_admin_path(check) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @checks %>
