<h1>Process Invoice #<%= @invoice.id %> (<%= @invoice.number %>)</h1>
<p><small>Current Status: <%= @invoice.state_text %></small></p>

<hr>

<h3>Invoice Details</h3>

<table class="table--autosize">
  <tbody>
    <tr>
      <td style="text-align: right;">Sponsor:</td>
      <td><%= @invoice.sponsor.name %></td>
    </tr>
    <tr>
      <td style="text-align: right;">Amount:</td>
      <td><%= @invoice.item_amount %></td>
    </tr>
    <tr>
      <td style="text-align: right;">Created At:</td>
      <td><%= format_datetime @invoice.created_at %></td>
    </tr>
    <tr>
      <td style="text-align: right;">Sent By:</td>
      <td><%= @invoice.creator.name %> &lt;<%= @invoice.creator.email %>&gt;</td>
    </tr>
    <tr>
      <td style="text-align: right;">Memo:</td>
      <td class="max-width-2"><%= @invoice.memo %></td>
    </tr>
    <tr>
      <td style="text-align: right;">StripeInvoiceId:</td>
      <td><%= link_to @invoice.stripe_invoice_id, @invoice.stripe_dashboard_url, target: :_blank %></td>
    </tr>
    <tr>
      <td style="text-align: right;">Invoice URL:</td>
      <td>
        <%= link_to "URL", @invoice.hosted_invoice_url, target: :_blank %>,
        <%= link_to "PDF", @invoice.invoice_pdf %>
      </td>
    </tr>
  </tbody>
</table>

<hr>

<h3>Instructions</h3>

<% if @invoice.open? %>
  <p>Go to <%= link_to "this invoice", @invoice %>.</p>

  <p>
    Manually mark this invoice as paid. You'll want to do this if the sponsor pays via check or another method not built into our Stripe integration.
  </p>

  <p>
    ⚠️ Warning: this action is permanent and irreversable. If you do this in error, a new invoice will have to be created for the sponsor, which will send them another email. Please exercise caution. Your account will be associated with this action.
  </p>

  <%= form_with(model: false, local: true, url: invoice_mark_paid_admin_path(@invoice.id), method: :post) do |form| %>
    <fieldset>
      <legend>Manually Mark Paid</legend>
      <p>
        <%= form.label :reason, "Reason for manually marking as paid:" %>
        <%= form.text_field :reason %>
      </p>

      <p>
        <%= form.file_field :attachment %>
        <%= form.label :attachment, "(optional) attach a file giving more background (like a PDF of check, ACH, or wire image)" %>
      </p>
    </fieldset>

    <p>
      <%= form.submit "Mark Paid", data: { confirm: "Mark paid? YOU CANNOT UNDO THIS." } %>
    </p>
  <% end %>
<% else %>
  <p>Nothing to do.</p>
<% end %>
