<% title "INVOICES" %>

<h1>INVOICES</h1>

<%= paginate @invoices %>

<%= form_with local: true, url: invoices_admin_index_path, method: :get do |form| %>
  <%= form.text_field :q, value: params[:q] %>
  <%= form.label :open do %>
    <%= form.check_box :open, checked: @open %>
    Open
  <% end %>
  |
  <%= form.label :paid do %>
    <%= form.check_box :paid, checked: @paid %>
    Paid
  <% end %>
  |
  <%= form.label :missing_payout do %>
    <%= form.check_box :missing_payout, checked: @missing_payout %>
    Missing Payout
  <% end %>
  |
  <%= form.label :missing_fee_reimbursement do %>
    <%= form.check_box :missing_fee_reimbursement, checked: @missing_fee_reimbursement %>
    Missing FeeReimbursement
  <% end %>

  <%= form.collection_select(:event_id, Event.reorder(Event::CUSTOM_SORT), :id, :admin_dropdown_description, { include_blank: true, selected: @event_id }, { width: 150, style: "max-width: 150px" }) %>
  |

  <%= form.submit "Search" %>
<% end %>

<p><small><%= pluralize(@count, "result") %></small></p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Recipient</th>
      <th>StripeInvoiceId</th>
      <th>Amount</th>
      <th>Status</th>
      <th>FeeReimbursementId</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr style="<%= "background: #ffffcc;" if invoice.open? %>">
        <td><%= invoice.id %></td>
        <td><%= invoice.created_at.strftime("%Y-%m-%d") %></td>
        <td>
          <%= link_to invoice_path(invoice) do %>
            <%= invoice.event.name.upcase %>: <%= invoice.sponsor.name %>
          <% end %>
        </td>
        <td><%= link_to invoice.stripe_invoice_id, invoice.stripe_dashboard_url %></td>
        <td><%= render_money_amount(invoice.amount_due) %></td>
        <td><%= invoice.status.upcase %></td>
        <td><%= invoice.fee_reimbursement_id %></td>
        <td>
          <%= link_to "Process", invoice_process_admin_path(invoice.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @invoices %>
