<% title "LEDGER" %>

<h1>LEDGER</h1>

<%= paginate @canonical_transactions %>

<%= form_with local: true, url: ledger_admin_index_path, method: :get do |form| %>
  <%= form.text_field :q, value: params[:q], placeholder: 'Search' %>
  <%= form.label :unmapped do %>
    <%= form.check_box :unmapped, checked: @unmapped %>
    Unmapped
  <% end %>
  |

  <%= form.label :exclude_top_ups do %>
    <%= form.check_box :exclude_top_ups, checked: @exclude_top_ups %>
    Exclude Top Ups
  <% end %>
  |

  <%= form.label :mapped_by_human do %>
    <%= form.check_box :mapped_by_human, checked: @mapped_by_human %>
    Mapped by Human
  <% end %>
  |

  <%= form.label :event do %>
    Event
    <%= form.collection_select(:event_id, Event.reorder(Event::CUSTOM_SORT), :id, :admin_dropdown_description, { include_blank: true, selected: @event_id }, { width: 150, style: "max-width: 150px" }) %>
  <% end %>
  |

  <%= form.label :user do %>
    User (Card transactions only)
    <%= form.collection_select(:user_id, User.all, :id, :admin_dropdown_description, { include_blank: true, selected: @user_id }, { width: 150, style: "max-width: 150px" }) %>
  <% end %>

  <%= form.submit "Search" %>
<% end %>

<%= page_entries_info @canonical_transactions, entry_name: 'transactions' %>

<table>
  <thead>
    <tr>
      <th class="w-32">ID</th>
      <th class="w-32">Date</th>
      <th>Memo</th>
      <th class="w-24">Amount</th>
      <th clas="w-64">HCB Code</th>
      <th class="w-24">Event</th>
      <th class="w-24">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @canonical_transactions.each do |ct| %>
      <tr class="<%= "admin-bg-pending" unless ct.canonical_event_mapping || !ct.local_hcb_code.unknown? || ct.memo.include?("BUSBILLPAY") %>">
        <td><%= ct.id %></td>
        <td><%= ct.date %></td>
        <td><%= link_to ct.memo, transaction_path(ct) %></td>
        <td><%= ct.amount %></td>
        <td><%= ct.hcb_code %></td>
        <td><%= link_to ct.canonical_event_mapping.event.id, ct.canonical_event_mapping.event if ct.canonical_event_mapping.try(:event) %></td>
        <td>
          <%= link_to "Process", transaction_admin_path(ct) unless ct.event.present? %>
          <%= link_to "View", transaction_admin_path(ct) if ct.event.present? %>

          <% if !ct.event.present? && ct.memo.include?("BUSBILLPAY") %>
            <br>
            🕐 This ACH should auto-map within 24 hours
          <% end %>

          <% if ct.canonical_event_mapping.try(:user) %>
            <br/>
            <%= ct.canonical_event_mapping.try(:user).try(:email) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @canonical_transactions.empty? %>
  <%= blankslate 'No transaction match your search parameters' %>
<% end %>

<%= paginate @canonical_transactions %>
