<% title "LEDGER" %>

<h1>LEDGER</h1>

<%= paginate @canonical_transactions %>

<%= form_with local: true, url: ledger_admin_index_path, method: :get do |form| %>
  <%= form.text_field :q, value: params[:q] %>
  <%= form.label :unmapped do %>
    <%= form.check_box :unmapped, checked: @unmapped %>
    Unmapped
  <% end %>
  |

  <%= form.label :exclude_top_ups do %>
    <%= form.check_box :exclude_top_ups, checked: @exclude_top_ups %>
    Exclude Top Ups
  <% end %>
  |

  <%= form.label :mapped_by_human do %>
    <%= form.check_box :mapped_by_human, checked: @mapped_by_human %>
    Mapped by Human
  <% end %>
  |


  <%= form.collection_select(:event_id, Event.reorder(Event::CUSTOM_SORT), :id, :admin_dropdown_description, { include_blank: true, selected: @event_id }, { width: 150, style: "max-width: 150px" }) %>
  |

  <%= form.submit "Search" %>
<% end %>

<p><small><%= pluralize(@count, "result") %></small></p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Memo</th>
      <th>Amount</th>
      <th>Event</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @canonical_transactions.each do |ct| %>
      <tr style="<%= "background: #ffffcc;" unless ct.canonical_event_mapping %>">
        <td><%= ct.id %></td>
        <td><%= ct.date %></td>
        <td><%= link_to ct.memo, transaction_path(ct) %></td>
        <td><%= ct.amount %></td>
        <td><%= ct.canonical_event_mapping.try(:event_id) %></td>
        <td>
          <%= link_to "Process", transaction_admin_path(ct) unless ct.event.present? %>
          <%= link_to "View", transaction_admin_path(ct) if ct.event.present? %>

          <% if ct.canonical_event_mapping.try(:user) %>
            <br/>
            <%= ct.canonical_event_mapping.try(:user).try(:email) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @canonical_transactions %>
