<% title "Negative Balances" %>

<h1>
  Events with a negative balance
</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Account balance</th>
      <th>Card balance</th>
      <th>Pending withdrawals</th>
    </tr>
  </thead>

  <tbody>
    <% @negative_events.each do |event| %>
      <tr class="shade-yellow">
        <td class="underline"><%= link_to event.name, event %></td>
        <td>
          <% if event.balance < 0 %>
            <strong><%= render_money event.balance %></strong>
          <% else %>
            <%= render_money event.balance %>
          <% end %>
        </td>
        <td>
          <% if event.emburse_balance < 0 %>
            <strong><%= render_money event.emburse_balance %></strong>
          <% else %>
            <%= render_money event.emburse_balance %>
          <% end %>
        </td>
        <td>
          <% if event.fee_balance < 0 %>
            <strong><%= render_money event.fee_balance %></strong>
          <% else %>
            <%= render_money event.fee_balance %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
