<% title "Partnered Signups" %>

<h1>Partnered Signups</h1>

<p><small><%= pluralize(@count, "result") %></small></p>

<table>
  <thead>
    <tr>
      <th>Public ID</th>
      <th>Organization Name</th>
      <th>Owner Name</th>
      <th>Owner Email</th>
      <th>Owner Phone</th>
      <th>Partner</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @partnered_signups.each do |partnered_signup| %>
      <tr>
        <td><%= partnered_signup.public_id %></td>
        <td><%= partnered_signup.organization_name %></td>
        <td><%= partnered_signup.owner_name %></td>
        <td><%= partnered_signup.owner_email %></td>
        <td><%= partnered_signup.owner_phone %></td>
        <td><%= partnered_signup.partner.name %></td>
        <td>
        <% if partnered_signup.pending? %>
          <%= form_with(model: nil, local: true, url: partnered_signups_accept_admin_path(id: partnered_signup.id), method: :post) do |form| %>
            <%= form.submit "Approve" %>
          <% end %>

          <%= form_with(model: nil, local: true, url: partnered_signups_reject_admin_path(id: partnered_signup.id), method: :post) do |form| %>
            <%= form.submit "Reject" %>
          <% end %>
        <% elsif partnered_signup.unsubmitted? %>
        Unsubmitted
        <% elsif partnered_signup.rejected? %>
        Rejected on <%= partnered_signup.rejected_at %>
        <% elsif partnered_signup.accepted? %>
        Accepted on <%= partnered_signup.accepted_at %>
        <%= link_to partnered_signup.event&.name, partnered_signup.event %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
