<% title "Partners" %>

<p class="mb2">
  Displaying <%= pluralize(@count, "partner") %>.
</p>

<table>
  <thead>
    <tr>
      <th class="w-12">ID</th>
      <th class="w-32">Slug</th>
      <th class="w-32">Name</th>
      <th class="w-24">External</th>
      <th class="w-64">ApiKey</th>
      <th class="w-80">StripeApiKey</th>
      <th class="w-80">PublicStripeApiKey</th>
      <th class="w-32">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @partners.each do |partner| %>
      <tr>
        <td><%= partner.id %></td>
        <td><%= partner.slug %></td>
        <td><%= partner.name %></td>
        <td><%= partner.external %></td>
        <td class="break-all"><%= partner.api_key %></td>
        <td class="break-all"><%= partner.stripe_api_key %></td>
        <td class="break-all"><%= partner.public_stripe_api_key %></td>
        <td>
          <%= link_to "Edit", partner_admin_index_url(partner) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
