<% title "PARTNERS" %>

<h1>PARTNERS</h1>

<p><small><%= pluralize(@count, "result") %></small></p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Slug</th>
      <th>Name</th>
      <th>External</th>
      <th>ApiKey</th>
      <th>StripeApiKey</th>
      <th>PublicStripeApiKey</th>
      <th>Docusign Template Id</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @partners.each do |partner| %>
      <tr>
        <td><%= partner.id %></td>
        <td><%= partner.slug %></td>
        <td><%= partner.name %></td>
        <td><%= partner.external %></td>
        <td style="word-break: break-all"><%= partner.api_key %></td>
        <td style="word-break: break-all"><%= partner.stripe_api_key %></td>
        <td style="word-break: break-all"><%= partner.public_stripe_api_key %></td>
        <td style="word-break: break-all"><%= partner.docusign_template_id %></td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>