<% title "Partner Donations" %>

<%= form_with local: true, url: partner_donations_admin_index_path, method: :get do |form| %>
  <%= form.text_field :q, value: params[:q], placeholder: "Search Query", class: "mt2" %>
  <fieldset>
    <%= form.label :deposited do %>
      <%= form.check_box :deposited, checked: @deposited %>
      Deposited
    <% end %>
    <%= form.label :in_transit do %>
      <%= form.check_box :in_transit, checked: @in_transit, class: "ml1" %>
      In transit
    <% end %>
    <%= form.label :pending do %>
      <%= form.check_box :pending, checked: @pending, class: "ml1" %>
      Pending
    <% end %>
    <%= form.label :not_unpaid do %>
      <%= form.check_box :not_unpaid, checked: @not_unpaid, class: "ml1" %>
      Not unpaid
    <% end %>
  </fieldset>
  <%= form.submit "Search" %>
<% end %>

<div class="flex items-center mb2">
  <div class="flex-grow">
    <%= page_entries_info @partner_donations, entry_name: "donations" %>
  </div>
  <%= paginate @partner_donations %>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Organization</th>
      <th>Donor</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @partner_donations.each do |partner_donation| %>
      <tr class="<%= "admin-bg-transit" if partner_donation.in_transit? %>">
        <td><%= partner_donation.id %></td>
        <td><%= partner_donation.created_at.strftime("%Y-%m-%d") %></td>
        <td>
          <%= link_to partner_donation.event do %>
            <%= partner_donation.event.name %>
          <% end %>
        </td>
        <td>
          <%= partner_donation.donor_name.present? ? partner_donation.donor_name : "—" %>
        </td>
        <td><%= render_money_amount(partner_donation.amount) %></td>
        <td><%= partner_donation.state.upcase %></td>
        <td>
          <%= link_to partner_donation do %>View<% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @partner_donations %>
