<% title "Partner Organizations" %>

<div class="flex items-center mb2">
  <div class="flex-grow">
    <%= page_entries_info @partner_organizations, entry_name: "organizations" %>
  </div>
  <%= paginate @partner_organizations %>
</div>

<table>
  <thead>
    <tr>
      <th class="w-16">ID</th>
      <th class="w-24">Partner</th>
      <th class="w-48">OrgIdentifier</th>
      <th class="w-24">Date</th>
      <th class="w-48">Name</th>
      <th class="w-24">Balance</th>
      <th class="w-24">Fee</th>
      <th class="w-24">Status</th>
      <th class="w-24">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @partner_organizations.each do |event| %>
      <tr class="<%= "admin-bg-red" if event.pending? %>
                 <%= "admin-bg-orange" if event.rejected? && !event.omit_stats? %>
                 <%= "admin-bg-orange" if event.omit_stats? %>">
        <td><%= event.id %></td>
        <td><%= event.partner.slug %></td>
        <td><%= event.organization_identifier %></td>
        <td><%= event.created_at.strftime("%Y-%m-%d") %></td>
        <td>
          <%= link_to event_path(event) do %>
            <%= event.name.upcase %>
          <% end %>
        </td>
        <td style="<%= "color: lightgray;" if event.balance.zero? %>">
          <%= render_money event.balance %>
        </td>
        <td>
          <%= render_percentage event.revenue_fee %>
        </td>
        <td>
          <%= event.aasm_state %>
        </td>
        <td>
          <%= link_to "Process", event_process_admin_path(event) if event.pending? %>
          <%= link_to "View", event_process_admin_path(event) unless event.pending? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @partner_organizations %>
