<% title "PARTNER" %>

<h1>PARTNER</h1>

ID: <%= @partner.id %>
<br>
Slug: <%= @partner.slug %>
<br>
Name: <%= @partner.name %>
<br>
API Key: <%= @partner.api_key %>
<br>

<%= form_with(model: @partner, url: partner_admin_index_url, local: true, method: :post) do |form| %>
  <%= form.label :docusign_template_id, "Docusign Template ID:" %>
  <%= form.text_field :docusign_template_id %>
  <br>
  <%= form.submit %>
<% end %>
