<% title "Partner Signups" %>

<p>
  Displaying <%= pluralize(@count, "partnered signup") %>.
</p>

<table>
  <thead>
    <tr>
      <th class="w-32">Public ID</th>
      <th class="w-48">Organization Name</th>
      <th class="w-48">Owner Name</th>
      <th class="w-48">Owner Email</th>
      <th class="w-40">Owner Phone</th>
      <th class="w-48">Partner</th>
      <th class="w-32">Status</th>
      <th class="w-32">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @partnered_signups.each do |partnered_signup| %>
      <tr class="<%= "admin-bg-pending" if partnered_signup.applicant_signed? %>">
        <td><%= partnered_signup.public_id %></td>
        <td><%= partnered_signup.organization_name %></td>
        <td><%= partnered_signup.owner_name %></td>
        <td><%= partnered_signup.owner_email %></td>
        <td><%= partnered_signup.owner_phone %></td>
        <td><%= partnered_signup.partner.name %></td>
        <td>
          <%= partnered_signup.state_text %>
        </td>
        <td>
        <% if partnered_signup.applicant_signed? %>
          <%= form_with(model: nil, local: true, url: partnered_signups_accept_admin_path(id: partnered_signup.id), method: :post) do |form| %>
            <%= form.submit "Approve" %>
          <% end %>

          <%= form_with(model: nil, local: true, url: partnered_signups_reject_admin_path(id: partnered_signup.id), method: :post) do |form| %>
            <%= form.submit "Reject" %>
          <% end %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
