<% title "PENDING LEDGER" %>

<h1>PENDING LEDGER</h1>

<%= paginate @canonical_pending_transactions %>

<%= form_with local: true, url: pending_ledger_admin_index_path, method: :get do |form| %>
  <%= form.text_field :q, value: params[:q] %>
  <%= form.label :unsettled do %>
    <%= form.check_box :unsettled, checked: @unsettled %>
    Unsettled
  <% end %>
  |

  <%= form.collection_select(:event_id, Event.reorder(:name), :id, :admin_dropdown_description, { include_blank: true, selected: @event_id }, { width: 150, style: "max-width: 150px" }) %>
  |

  <%= form.submit "Search" %>
<% end %>

<p><small><%= pluralize(@count, "result") %></small></p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Memo</th>
      <th>Amount</th>
      <th>Event</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @canonical_pending_transactions.each do |cpt| %>
      <tr style="<%= "background: #ffffcc;" if cpt.unsettled? %>">
        <td><%= cpt.id %></td>
        <td><%= cpt.date %></td>
        <td><%= link_to cpt.memo, event_path(cpt.event) %></td>
        <td><%= cpt.amount %></td>
        <td><%= cpt.event.try(:id) %></td>
        <td>
          <%#= link_to "Process", transaction_admin_path(cpt) unless cpt.event.present? %>
          <%#= link_to "View", transaction_admin_path(cpt) if cpt.event.present? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @canonical_pending_transactions %>
