<% title "Pending Ledger" %>

<%= form_with local: true, url: pending_ledger_admin_index_path, method: :get do |form| %>
  <%= form.text_field :q, value: params[:q], placeholder: "Search" %>
  <%= form.collection_select(:event_id, Event.reorder(Event::CUSTOM_SORT), :id, :admin_dropdown_description, { include_blank: "Select Event", selected: @event_id }, { width: 250, style: "max-width: 250px" }) %>
  <div class="mb1">
    <%= form.label :unsettled do %>
      <%= form.check_box :unsettled, checked: @unsettled %>
      Unsettled
    <% end %>
  </div>
  <%= form.submit "Search" %>
<% end %>

<div class="flex items-center mb2">
  <div class="flex-grow">
    <%= page_entries_info @canonical_pending_transactions, entry_name: "transactions" %>
  </div>
  <%= paginate @canonical_pending_transactions %>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Memo</th>
      <th>Amount</th>
      <th>HCB Code</th>
      <th>Event</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @canonical_pending_transactions.each do |cpt| %>
      <tr class="<%= "admin-bg-pending" if cpt.unsettled? %>">
        <td><%= cpt.id %></td>
        <td>
          <%= cpt.date %>
          <% if cpt.pending_expired? %>
            <span>⚠️ (Overdue)</span>
          <% end %>
        </td>
        <% if cpt.event %>
          <td><%= link_to cpt.memo, cpt.local_hcb_code %></td>
        <% else %>
          <td><%= cpt.memo %></td>
        <% end %>
        <td><%= cpt.amount %></td>
        <td><%= cpt.hcb_code %></td>
        <td><%= cpt.event.try(:id) %></td>
        <td>
          <%#= link_to "Process", transaction_admin_path(cpt) unless cpt.event.present? %>
          <%#= link_to "View", transaction_admin_path(cpt) if cpt.event.present? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @canonical_pending_transactions %>
