<% title "Raw Transactions" %>

<%= form_with local: true, url: raw_transactions_admin_index_path, method: :get do |form| %>
  <%= form.collection_select(:unique_bank_identifier, HashedTransaction.distinct(:unique_bank_identifier).where("unique_bank_identifier is not null").order("unique_bank_identifier asc").pluck(:unique_bank_identifier), :to_s, :to_s, { include_blank: "Select Bank Account", selected: @unique_bank_identifier }, { width: 250, style: "max-width: 250px" }) %>
  <%= form.submit "Search" %>
  <%= link_to raw_transaction_new_admin_index_path do %>
    <button class="bg-primary">
      New Raw Transaction
    </button>
  <% end %>
<% end %>

<div class="flex items-center mb2">
  <div class="flex-grow">
    <%= page_entries_info @raw_transactions, entry_name: "transactions" %>
  </div>
  <%= paginate @raw_transactions %>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Bank Identifier</th>
      <th>Date</th>
      <th>Memo</th>
      <th>Amount</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @raw_transactions.each do |rt| %>
      <tr class="<%= "admin-bg-pending" unless rt.hashed_transactions.present? %>">
        <td><%= rt.id %></td>
        <td><%= rt.unique_bank_identifier %></td>
        <td><%= rt.date_posted %></td>
        <td><%= rt.memo %></td>
        <td><%= rt.amount %></td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @raw_transactions %>
