<% title "Recurring Donations" %>

<%= form_with local: true, url: recurring_donations_admin_index_path, method: :get do |form| %>
  <%= form.collection_select(:event_id, Event.reorder(Event::CUSTOM_SORT), :id, :admin_dropdown_description, { include_blank: "Select An Event", selected: @event_id }, { width: 250, style: "max-width: 250px" }) %>

  <fieldset>
    <%= form.label :active do %>
      <%= form.check_box :active, checked: @active %>
      Active
    <% end %>

    <%= form.label :canceled do %>
      <%= form.check_box :canceled, checked: @canceled, class: "ml1" %>
      Canceled
    <% end %>
  </fieldset>

  <%= form.submit "Search" %>
<% end %>

<div class="flex items-center mb2">
  <div class="flex-grow">
    <%= page_entries_info @donations, entry_name: "donations" %>
  </div>
  <%= paginate @donations %>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Donor</th>
      <th>Anonymous</th>
      <th>Tax-Deductible</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Cancel</th>
    </tr>
  </thead>
  <tbody>
    <% @donations.each do |donation| %>
      <tr class="<%= "admin-bg-transit" if donation.active? %>">
        <td><%= donation.id %></td>
        <td><%= donation.created_at.strftime("%Y-%m-%d") %></td>
        <td>
          <%= link_to recurring_donation_path(donation.url_hash) do %>
            <%= donation.event.name.upcase %>: <%= donation.name(show_anonymous: true) %>
          <% end %>
        </td>
        <td><%= donation.anonymous? %></td>
        <td><%= donation.tax_deductible? %></td>
        <td><strong><%= render_money(donation.amount) %></strong>/month</td>
        <td><%= donation.stripe_status.humanize %></td>
        <td><%= link_to "Cancel donation", cancel_recurring_donation_path(donation.url_hash), method: :post, data: { confirm: "Are you sure you'd like to cancel this donation to #{donation.event.name}?" } if !donation.canceled? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @donations %>
