<% title "Recurring donations" %>

<h1>Recurring donations</h1>

<%= paginate @donations %>

<%= form_with local: true, url: recurring_donations_admin_index_path, method: :get do |form| %>
  <%= form.label :active do %>
    <%= form.check_box :active, checked: @active %>
    Active
  <% end %>
  |
  <%= form.label :canceled do %>
    <%= form.check_box :canceled, checked: @canceled %>
    Canceled
  <% end %>

  <%= form.collection_select(:event_id, Event.reorder(Event::CUSTOM_SORT), :id, :admin_dropdown_description, { include_blank: true, selected: @event_id }, { width: 150, style: "max-width: 150px" }) %>
  |

  <%= form.submit "Search" %>
<% end %>

<%= page_entries_info @donations, entry_name: 'donations' %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Donor</th>
      <th>Amount</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @donations.each do |donation| %>
      <tr class="<%= "admin-bg-transit" if donation.active? %>">
        <td><%= donation.id %></td>
        <td><%= donation.created_at.strftime("%Y-%m-%d") %></td>
        <td>
          <%= link_to recurring_donation_path(donation.url_hash) do %>
            <%= donation.event.name.upcase %>: <%= donation.name %>
          <% end %>
        </td>
        <td><strong><%= render_money(donation.amount) %></strong>/month</td>
        <td><%= donation.stripe_status.humanize %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @donations %>
