<% title "Reimbursements" %>

<%= form_with local: true, url: reimbursements_admin_index_path, method: :get do |form| %>
  <%= form.text_field :q, value: params[:q], placeholder: "Search", class: "w-100" %>
  <%= form.collection_select(:event_id, Event.reorder(Event::CUSTOM_SORT), :id, :admin_dropdown_description, { include_blank: "Select an event", selected: @event_id }, { class: "w-100" }) %>
  <fieldset>
  <%= form.label :pending do %>
    <%= form.check_box :pending, checked: @pending %>
    Reimbursement Requested (Awaiting Review)
  <% end %>
  </fieldset>
  <%= form.submit "Search" %>
<% end %>

<div class="flex items-center mb2">
  <div class="flex-grow">
    <%= page_entries_info @reports, entry_name: "reports" %>
  </div>
  <%= paginate @reports %>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Organization</th>
      <th>Title</th>
      <th>User</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr class="<%= "admin-bg-pending" if report.reimbursement_requested? %>">
        <td class="w-16"><%= report.id %></td>
        <td class="w-32"><%= report.created_at.strftime("%Y-%m-%d") %></td>
        <td>
          <% if report.event %>
            <%= link_to event_path(report.event) do %>
              <%= report.event.name.upcase %>
            <% end %>
          <% else %>
            None
          <% end %>
        </td>
        <td>
          <%= link_to reimbursement_report_path(report) do %>
            <%= report.name %>
          <% end %>
        </td>
        <td>
          <%= report.user.name %> (<%= report.user.id %>)
        </td>
        <td class="w-24"><%= render_money(report.amount) %></td>
        <td><%= report.admin_status_text %></td>
        <td>
          <%= link_to "View", reimbursement_report_path(report) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @reports %>

<%= turbo_frame_tag :reimbursement_status, src: reimbursements_status_admin_index_path, target: "_top" %>
