<% page_sm %>
<% title 'Search by Contact Info' %>
<h1>
  Search
</h1>

<%= form_with(url: admin_search_path, local: true) do %>
  <%= label_tag(:q, "Search for users by name, tel, email") %>
  <div class="flex flex-row mt1">
    <%= text_field_tag(:q) %>
    <%= submit_tag "Search", class: 'ml1' %>
  </div>
<% end %>

<% if @result.present? %>
  <% @result.each do |r| %>
    <div class="card card--hover mt2">
      <div class="card__banner card__banner--top <%= r.events.any? ? 'bg-info' : 'bg-muted' %>">
        <%= link_to r, class: 'text-decoration-none white' do %>
          <h3 class="mt0 mb0"><%= r.name %></h3>
        <% end %>
      </div>
      <section class="details">
        <p>
          <strong>Email</strong>
          <%= r.email %>
        </p>
        <p>
          <strong>Phone number</strong>
          <%= r.phone_number %>
        </p>
      </section>
      <% if r.events.any? %>
        <p class="mb0 brand-sans bold">Associated projects</p>
        <ul class="mt1 list-reset">
          <% r.events.each do |e| %>
            <li><%= link_to e.name, e.slug %></li>
          <% end %>
        </ul>
      <% end %>
      <div class="card__banner card__banner--bottom card__darker">
        <%= link_to 'Impersonate', impersonate_users_path(user_id: r.id), class: 'btn' %>
      </div>
    </div>
  <% end %>
<% end %>

