<% title "Selenium Sessions" %>

<h1>SELENIUM SESSIONS <small><%= link_to "New Session", selenium_sessions_new_admin_index_path %></small></h1>

<%= paginate @selenium_sessions %>

<p><small><%= pluralize(@count, "result") %></small></p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Created</th>
      <th>Status</th>
      <th>Data Hash</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @selenium_sessions.each do |selenium_session| %>
      <tr style="<%= "background: #00ff00;" if selenium_session.active? %> <%= "background: #ccffff;" if selenium_session.expired? %>">
        <td><%= selenium_session.id %></td>
        <td><%= selenium_session.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= selenium_session.aasm_state.upcase %></td>
        <td><%= XXhash.xxh64(selenium_session.cookies.to_json) %></td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @selenium_sessions %>
