<% title "Sponsors" %>

<%= form_with local: true, url: sponsors_admin_index_path, method: :get do |form| %>
  <%= form.text_field :q, value: params[:q], placeholder: "Search" %>
  <%= form.collection_select(:event_id, Event.reorder(Event::CUSTOM_SORT), :id, :admin_dropdown_description, { include_blank: "Select An Event", selected: @event_id }, { width: 250, style: "max-width: 250px" }) %>
  <div>
    <%= form.label :open do %>
      <%= form.check_box :open, checked: @open %>
      Open
    <% end %>
  </div>
  <%= form.submit "Search", class: "mt1" %>
<% end %>

<div class="flex items-center mb2">
  <div class="flex-grow">
    <%= page_entries_info @sponsors, entry_name: "sponsors" %>
  </div>
  <%= paginate @sponsors %>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Name</th>
      <th>StripeCustomerId</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @sponsors.each do |sponsor| %>
      <tr>
        <td><%= sponsor.id %></td>
        <td><%= sponsor.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= sponsor.event.name.upcase %>: <%= sponsor.name %></td>
        <td><%= link_to sponsor.stripe_customer_id, sponsor.stripe_dashboard_url %></td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sponsors %>
