<% title "go get’em tiger" %>

<% page_sm %>
<% @home_size = 128 %>
<% content_for(:page_class) { 'bg-snow pt4' } %>

<main class="flex flex-column items-center center pt3 pb3">
  <h1 class="heading flex-column items-center justify-center mt2 w-100">
    <span class="h3 caps slate block">Welcome to</span>
    <span class="primary">Hack Club Bank</span>
    <span class="badge h5 caps"><%= random_nickname() %></span>
  </h1>
</main>

<% admin_tools('w-100 mt3') do %>
  <h2>Pending Tasks</h2>
    <% if @pending_actions %>
    <ul class="grid grid--narrow left-align w-100 mt0">
      <%= card_to 'Card Requests', emburse_card_requests_path, { badge: @active[:emburse_card_requests] } %>
      <%= card_to 'Transfer Requests', emburse_transfers_path, { badge: @active[:emburse_transfers] } %>
      <%= card_to 'Checks', checks_path, { badge: @active[:checks] } %>
      <%= card_to 'ACH Transfers', ach_transfers_path, { badge: @active[:ach_transfers] } %>
      <%= card_to 'Fee Refunds', fee_reimbursements_path, { badge: @active[:fee_reimbursements] } %>
      <%= card_to 'Account Deletion Requests', organizer_position_deletion_requests_path, { badge: @active[:organizer_position_deletion_requests] } %>
      <%= card_to 'Transactions', transactions_path, { badge: @active[:transactions] } %>
      <%= card_to 'Emburse Transactions', emburse_transactions_path, { badge: @active[:emburse_transactions] } %>
      <%= card_to 'Pending Fees', pending_fees_path, { badge: @active[:pending_fees] } %>
      <%= card_to 'Pending disbursements', pending_disbursements_path, { badge: @active[:disbursements] } %>
      <%= card_to 'Pending hackathons', link_to_airtable_task(:hackathons), { badge: @active[:pending_hackathons_airtable] } %>
      <%= card_to 'Pending grants', link_to_airtable_task(:grant), { badge: @active[:pending_grant_airtable] } %>
      <%= card_to 'Pending StickerMule', link_to_airtable_task(:stickermule), { badge: @active[:pending_stickermule_airtable] } %>
      <%= card_to 'Pending repl.it accounts', link_to_airtable_task(:replit), { badge: @active[:pending_replit_airtable] } %>
      <%= card_to 'Pending Sendy accounts', link_to_airtable_task(:sendy), { badge: @active[:pending_sendy_airtable] } %>
      <%= card_to 'Pending PVSA orders', link_to_airtable_task(:pvsa), { badge: @active[:pending_pvsa_airtable] } %>
      <%= card_to 'Pending Fraud Reports', link_to_airtable_task(:fraud_reports), { badge: @active[:pending_fraud_reports] } %>
    </ul>
  <% else %>
    <h3>It’s <%= Time.now.strftime("%A") %>. There are no more pending tasks. <%= @blankslate_message %></h3>
  <% end %>
  <% unless OpsCheckin.is_cooldown_active? %>
    <%= link_to 'Record all tasks as done',
      ops_checkins_path,
      size: 24,
      method: :post,
      class: 'info tooltipped tooltipped--w',
      'aria-label': 'Record a checkin' %>
  <% end %>
<% end %>
