<% title "TRANSACTION CSV UPLOAD" %>

<h1>TRANSACTION CSV UPLOAD</h1>

<%= form_with(model: nil, local: true, url: upload_admin_index_path) do |form| %>
  <fieldset>
    <legend>Silicon Valley Bank CSV</legend>
    <p>
      <%= form.label :file, "CSV" %>
      <br/>
      <%= form.file_field :file, required: true %>
    </p>
  </fieldset>

  <p>
    <%= form.submit "Upload" %>
  </p>
<% end %>

<p><small><%= pluralize(@count, "result") %></small></p>

<table>
  <thead>
    <tr>
      <th>Upload Date</th>
      <th>File</th>
      <th>State</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @transaction_csvs.each do |transaction_csv| %>
      <tr>
        <td><%= transaction_csv.created_at.strftime("%y-%m-%d") %></td>
        <td>
          <%= link_to transaction_csv.file.filename, url_for(transaction_csv.file) %>
        </td>
        <td>
          <%= transaction_csv.aasm_state %>
        </td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @transaction_csvs %>

