<% title "Transaction #{@canonical_transaction.id}" %>

<h1>Transaction <%= @canonical_transaction.id %></h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Memo</th>
      <th>FriendlyMemo</th>
      <th>CustomMemo</th>
      <th>Amount</th>
      <th>HCB Code</th>
      <th>MappedBy</th>
      <th>Event</th>
    </tr>
  </thead>
  <tbody>
    <tr style="<%= "background: #ffffcc;" unless @canonical_transaction.canonical_event_mapping %>">
      <td><%= link_to @canonical_transaction.id, canonical_transaction_path(@canonical_transaction) %></td>
      <td><%= @canonical_transaction.date %></td>
      <td><%= @canonical_transaction.memo %></td>
      <td><%= @canonical_transaction.friendly_memo %></td>
      <td><%= @canonical_transaction.custom_memo %></td>
      <td><%= @canonical_transaction.amount %></td>
      <td><%= link_to @canonical_transaction.hcb_code, hcb_code_path(@canonical_transaction.local_hcb_code) %></td>
      <td><%= @canonical_transaction.canonical_event_mapping.try(:user).try(:email) %></td>
      <td>
        <%= form_with model: nil, local: true, url: set_event_path(@canonical_transaction), method: :post do |form| %>
          <%= form.collection_select(:event_id, Event.reorder(Event::CUSTOM_SORT), :id, :admin_dropdown_description,  {  include_blank: true, selected: @canonical_transaction.event.try(:id) }, { width: 150, style: "max-width: 150px;" }) %>
          <%= form.submit "Set" %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<br/><hr/>

<% if @potential_donation_payouts.present? %>
  <h4>Potential DonationPayouts to Map to</h4>

  <table>
    <tbody>
      <% @potential_donation_payouts.each do |pdp| %>
        <tr>
          <td><%= pdp.id %></td>
          <td><%= pdp.statement_descriptor %></td>
          <td><%= render_money pdp.amount %></td>
          <td><%= link_to pdp.event.admin_formatted_name, pdp.event %></td>
          <td><%= link_to "stripe #{pdp.stripe_payout_id}", "https://dashboard.stripe.com/payouts/#{pdp.stripe_payout_id}" %></td> 
        </tr>
      <% end %>
    </body>
  </table>

  <br/><hr/>
<% end %>

<% if @potential_invoice_payouts.present? %>
  <h4>Potential InvoicePayouts to Map to</h4>

  <table>
    <tbody>
      <% @potential_invoice_payouts.each do |pdp| %>
        <tr>
          <td><%= pdp.id %></td>
          <td><%= pdp.statement_descriptor %></td>
          <td><%= render_money pdp.amount %></td>
          <td><%= link_to pdp.event.admin_formatted_name, pdp.event %></td>
        </tr>
      <% end %>
    </body>
  </table>

  <br/><hr/>
<% end %>


<% if @canonical_pending_transactions.present? %>
  <h4>Potential Pending Transactions to Map to</h4>

  <table>
    <tbody>
      <% @canonical_pending_transactions.each do |cpt| %>
        <tr>
          <td><%= cpt.id %></td>
          <td><%= cpt.date %></td>
          <td><%= cpt.memo %></td>
          <td><%= cpt.amount %></td>
          <td><%= link_to cpt.event.name, cpt.event %></td>
          <td><%= link_to "Linked Object", cpt.linked_object %></td>
        </tr>
      <% end %>
    </body>
  </table>

  <br/><hr/>
<% end %>

<h4>Journey</h4>

<p>CanonicalTransaction</p>
<%= (ap @canonical_transaction).html_safe %>
<p>↓</p>

<p>HashedTransaction</p>
<%= (ap @canonical_transaction.hashed_transactions).html_safe %>
<p>↓</p>

<% @canonical_transaction.hashed_transactions.each do |ht| %>
  <% if ht.raw_csv_transaction %>
    <p>RawCsvTransaction</p>
    <%= (ap ht.raw_csv_transaction).html_safe %>
  <% end %>

  <% if ht.raw_plaid_transaction %>
    <p>RawPlaidTransaction</p>
    <%= (ap ht.raw_plaid_transaction).html_safe %>
  <% end %>

  <% if ht.raw_emburse_transaction %>
    <p>RawEmburseTransaction</p>
    <%= (ap ht.raw_emburse_transaction).html_safe %>
  <% end %>

  <% if ht.raw_stripe_transaction %>
    <p>RawStripeTransaction</p>
    <%= (ap ht.raw_stripe_transaction).html_safe %>
  <% end %>

<% end %>

<br/><hr/>

<h4>System Events</h4>

<% @ahoy_events.each do |ae| %>
  <p><%= ae.name %> <small><%= ae.time %></small></p>
  <%= (ap ae.properties).html_safe %>
<% end %>

<br/><hr/>

<h4>Comments</h4>

<%= render "comments/list_v2" %>

