<% title "Transaction #{@canonical_transaction.id}" %>

<h1>Transaction <%= @canonical_transaction.id %></h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Memo</th>
      <th>Bank account</th>
      <th>FriendlyMemo</th>
      <th>CustomMemo</th>
      <th>Amount</th>
      <th>HCB Code</th>
      <th>MappedBy</th>
    </tr>
  </thead>
  <tbody>
    <tr class="<%= "admin-bg-pending" unless @canonical_transaction.canonical_event_mapping %>">
      <td><%= link_to @canonical_transaction.id, canonical_transaction_path(@canonical_transaction) %></td>
      <td><%= @canonical_transaction.date %></td>
      <td><%= @canonical_transaction.memo %></td>
      <td><%= @canonical_transaction.bank_account_name %></td>
      <td><%= @canonical_transaction.friendly_memo %></td>
      <td><%= @canonical_transaction.custom_memo %></td>
      <td><%= @canonical_transaction.amount.format %></td>
      <td><%= link_to @canonical_transaction.hcb_code, hcb_code_path(@canonical_transaction.local_hcb_code) %></td>
      <td><%= @canonical_transaction.canonical_event_mapping.try(:user).try(:email) %></td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Map to an Event</th>
      <th>Map to a PayPal Transfer</th>
      <th>Map to a Wire</th>
    </tr>
  </thead>
  <tbody>
    <tr class="<%= "admin-bg-pending" unless @canonical_transaction.canonical_event_mapping %>">
      <td class="flex" style="gap: 8px">
        <%= form_with model: nil, local: true, url: set_event_path(@canonical_transaction), method: :post do |form| %>
          <%= form.collection_select(:event_id, Event.reorder(Event::CUSTOM_SORT).not_demo_mode, :id, :admin_dropdown_description, { include_blank: true, selected: @canonical_transaction.event.try(:id) }, { style: "width: 300px;" }) %>
          <%= form.submit "Set", data: { "turbo-confirm": @mapping_confirm_msg } %>
        <% end %>

        <%= form_with url: set_event_path(@canonical_transaction), method: :post do |form| %>
          <%= form.hidden_field :event_id, value: EventMappingEngine::EventIds::NOEVENT %>
          <%= form.submit "Map to NoEvent", data: { confirm: @canonical_transaction.local_hcb_code.unknown? ? "Hey there– you sure you want to map this transaction to NoEvent?" : "Woaaahaa! 😯 This seems like a transaction that SHOULD NOT be manually mapped! Are you sure you want to do this? 👀" } %>
        <% end %>
      </td>
      <td>
        <%= form_with model: nil, local: true, url: set_paypal_transfer_path(@canonical_transaction), method: :post do |form| %>
          <%= form.collection_select(:paypal_transfer_id, PaypalTransfer.approved + [@canonical_transaction.paypal_transfer].compact, :id, :admin_dropdown_description, { include_blank: true, selected: @canonical_transaction.paypal_transfer&.id }, { style: "width: 300px;" }) %>
          <%= form.submit "Set", data: { "turbo-confirm": @mapping_confirm_msg } %>
        <% end %>
      </td>
      <td>
        <%= form_with model: nil, local: true, url: set_wire_path(@canonical_transaction), method: :post do |form| %>
          <%= form.collection_select(:wire_id, Wire.approved + [@canonical_transaction.wire].compact, :id, :admin_dropdown_description, { include_blank: true, selected: @canonical_transaction.wire&.id }, { style: "width: 300px;" }) %>
          <%= form.submit "Set", data: { "turbo-confirm": @mapping_confirm_msg } %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<br><hr>

<% if @canonical_transaction.canonical_event_mapping %>
  <h4>Receipts</h4>

  <% @hcb_code = @canonical_transaction.local_hcb_code %>
  <div style="margin-left: -2rem;" class="mt2">
    <%= render "receipts/list_v2" %>
  </div>

  <div style="width: 250px;">
    <%= render partial: "receipts/form_v3", locals: {
          receiptable: @canonical_transaction.local_hcb_code,
          upload_method: "attach_receipt_page",
          turbo: false
        } %>
  </div>
<% end %>

<h4 class="mb2">Comments</h4>

<% @hcb_code.comments.each do | comment | %>
  <p class="mb1">
    <b>
      <%= comment.user.name %> <%= comment.action_text %> <%= time_ago_in_words comment.created_at %> ago
    </b>
  </p>
  <% if comment.content.blank? %>
    <div class="muted mb1"><em>Comment left blank.</em></div>
  <% else %>
    <%== MarkdownService.instance.renderer(current_user:, record: comment).render comment.content %>
  <% end %>
  <% if comment.has_attached_file? %>
    <p>
      <%= link_to "📎 attachment", url_for(comment.file), target: "_blank" %>
    </p>
  <% end %>
<% end %>

<% if @potential_donation_payouts.present? %>
  <h4>Potential DonationPayouts to Map to</h4>

  <table>
    <tbody>
      <% @potential_donation_payouts.each do |pdp| %>
        <tr>
          <td><%= pdp.id %></td>
          <td><%= pdp.statement_descriptor %></td>
          <td><%= render_money pdp.amount %></td>
          <td><%= link_to pdp.event.admin_formatted_name, pdp.event %></td>
          <td><%= link_to "stripe #{pdp.stripe_payout_id}", "https://dashboard.stripe.com/payouts/#{pdp.stripe_payout_id}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br><hr>
<% end %>

<% if @potential_invoice_payouts.present? %>
  <h4>Potential InvoicePayouts to Map to</h4>

  <table>
    <tbody>
      <% @potential_invoice_payouts.each do |pdp| %>
        <tr>
          <td><%= pdp.id %></td>
          <td><%= pdp.statement_descriptor %></td>
          <td><%= render_money pdp.amount %></td>
          <td><%= link_to pdp.event.admin_formatted_name, pdp.event %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br><hr>
<% end %>

<% if @canonical_pending_transactions.present? %>
  <h4>Potential Pending Transactions to Map to</h4>

  <table>
    <tbody>
      <% @canonical_pending_transactions.each do |cpt| %>
        <tr>
          <td><%= cpt.id %></td>
          <td><%= cpt.date %></td>
          <td><%= cpt.memo %></td>
          <td><%= cpt.amount %></td>
          <td><%= link_to cpt.event.name, cpt.event %></td>
          <td><%= link_to "Linked Object", cpt.linked_object %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br><hr>
<% end %>

<h4>Journey</h4>

<p>CanonicalTransaction</p>
<%= (ap @canonical_transaction).html_safe %>
<p>↓</p>

<p><%= @canonical_transaction.transaction_source_type %></p>
<%= (ap @canonical_transaction.transaction_source).html_safe %>

<br><hr>

<h4>System Events</h4>

<% @ahoy_events.each do |ae| %>
  <p><%= ae.name %> <small><%= ae.time %></small></p>
  <%= (ap ae.properties).html_safe %>
<% end %>

<br><hr>
