<% title 'Unmapped transactions' %>

<h1>Unmapped canonical transactions (wip)</h1>

<table>
  <thead class="pr1">
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Memo</th>
      <th class="right-align">Amount</th>
      <th class="pr2"></th>
    </tr>
  </thead>
  <tbody>
  <% @canonical_transactions.each do |t| %>
    <tr data-json="<%= t.to_json %>">
      <td style="width: 1%;"><%= t.id %></td>
      <td><%= t.date %></td>
      <td><%= t.memo %></td>
      <td class="right-align"><%= t.amount %></td>
      <td class="pr2" style="width: 1%;">
        <%= link_to "Process", transaction_unmapped_show_path(t) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
