<% title 'Unsettled transactions' %>

<h1><%= @canonical_pending_transactions.count %> Unsettled pending transactions</h1>

<table>
  <thead class="pr1">
    <tr>
      <th>ID</th>
      <th>DATE</th>
      <th>MEMO</th>
      <th class="right-align">AMOUNT</th>
      <th class="right-align">EVENT</th>
    </tr>
  </thead>
  <tbody>
  <% @canonical_pending_transactions.each do |t| %>
    <tr class="<%= "shade-red" if t.date <= 2.weeks.ago %>">
      <td style="width: 1%;"><%= t.id %></td>
      <td><%= t.date %></td>
      <td>PENDING: <%= t.smart_memo %></td>
      <td class="right-align"><%= t.amount %></td>
      <td class="pr2" style="width: 1%;">
        <%= link_to t.event.name, event_path(t.event) if t.event %>
      </td>

      <td class="pr2" style="width: 1%;">
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
