<% title "Users" %>

<%= form_with local: true, url: users_admin_index_path, method: :get do |form| %>
  <%= form.text_field :q, value: params[:q], placeholder: "Search" %>

  <%= form.collection_select(:event_id, Event.reorder(Event::CUSTOM_SORT), :id, :admin_dropdown_description, { include_blank: "Select An Event", selected: @event_id }, { width: 250, style: "max-width: 250px" }) %>

  <%= form.select :access_level, User.access_levels.keys.map { |level| [level.humanize, level] }, { include_blank: "All user types", selected: @access_level } %>

  <div>
    <%= form.submit "Search" %>
  </div>

  <%= link_to @params.merge(format: :csv) do %>
    <button type="button" <%= "disabled" if @users.count == 0 %>>Export <%= pluralize @users.count, "record" %></button>
  <% end %>
<% end %>

<div class="flex items-center mb2">
  <div class="flex-grow">
    <%= page_entries_info @users, entry_name: "users" %>
  </div>
  <%= paginate @users %>
</div>

<table>
  <thead>
    <tr>
      <th class="w-16">ID</th>
      <th class="w-32">Created</th>
      <th>Name</th>
      <th>Email</th>
      <th>Org Positions</th>
      <th class="w-48">Card Grants</th>
      <th># Receipts Missing</th>
      <th class="w-32">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr style="<%= "background: #ff8c38;" if user.admin? %>">
        <td><%= user.id %></td>
        <td><%= user.created_at.strftime("%Y-%m-%d") %></td>
        <td>
          <%= link_to admin_user_path(user) do %>
            <%= user.name %>
          <% end %>
        </td>
        <td>
          <%= user.email %>
          <% user.email_updates.confirmed.order(created_at: :desc).pluck(:original).excluding(user.email).each do | email | %>
            <br><small><i><%= email %></i></small>
          <% end %>
        </td>
        <td>
          <% user.organizer_positions.with_deleted.each do |op| %>
            <% if op.deleted? %>
              <em style="font-size: 0.8em;">
                <% if op.organizer_position_deletion_requests.any? %>
                  <%= link_to "#{op&.event&.id}☥", op.organizer_position_deletion_requests.first %>
                <% else %>
                  <%= link_to "#{op.event_id}☥", Event.with_deleted.find(op.event_id) %>
                <% end %>
              </em>
            <% else %>
              <%= link_to op.event.id, op.event %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if user.card_grants.any? %>
            <% user.card_grants.each do |cg| %>
              <%= link_to cg do %>
                <%= cg.id %>
                <% if cg.stripe_card&.frozen? %>
                   <%= inline_icon "freeze", size: 15 %>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            None
          <% end %>
        </td>
        <td>
          <%= user.transactions_missing_receipt.count %>
        </td>
        <td>
          <%= link_to "Impersonate", impersonate_user_path(user.id), data: { turbo_confirm: "Are you sure?", turbo_method: "post" } unless current_session&.impersonated? %>
          <%= link_to "More Info", admin_user_path(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
