<article class="card pb0 mt3 mb3">
  <h2 class="h2 mt0 border-none flex items-start justify-between">
    <span>
      <span class="regular muted"><%= @hcb_code.ach_transfer.deposited? ? "Transferred " : "Transferring " %> </span>
      <%= @hcb_code.ach_transfer.recipient_name %>
      <span class="regular"><%= render_money @hcb_code.ach_transfer.amount %></span>
    </span>
    <span class="badge h4 md-right ml0 bg-<%= @hcb_code.ach_transfer.state %> nowrap">
      <%= @hcb_code.ach_transfer.status_text %>
      <%= inline_icon @hcb_code.ach_transfer.state_icon, size: 20 if @hcb_code.ach_transfer.state_icon %>
    </span>
  </h2>

  <section class="card__banner card__darker details-horiz border-top border-bottom">
    <p>
      <strong>Sent by</strong>
      <%= user_mention @hcb_code.ach_transfer.creator %>
    </p>
    <% unless @hcb_code.ach_transfer.processor.nil? %>
      <% admin_tools("", "p") do %>
        <strong>Processed by</strong>
        <%= user_mention @hcb_code.ach_transfer.processor %>
      <% end %>
    <% end %>
    <p>
      <strong>Sent at</strong>
      <%= format_datetime @hcb_code.ach_transfer.created_at %>
    </p>
  </section>

  <section class="details pt2 pb2">
    <p>
      <strong>Recipient name</strong>
      <%= @hcb_code.ach_transfer.recipient_name %>
    </p>

    <% if @hcb_code.ach_transfer.recipient_tel.present? %>
      <p class="fs-mask">
        <strong>Recipient phone</strong>
        <%= organizer_signed_in? ? @hcb_code.ach_transfer.recipient_tel : "Sign in to view" %>
      </p>
    <% end %>

    <p>
      <strong>Payment purpose</strong>
      <%= @hcb_code.ach_transfer.payment_for %>
    </p>

    <p>
      <strong>Bank name</strong>
      <%= organizer_signed_in? ? @hcb_code.ach_transfer.bank_name : "Sign in to view" %>
    </p>

    <p class="fs-mask">
      <strong>Routing number</strong>
      <%= organizer_signed_in? ? @hcb_code.ach_transfer.routing_number : "Sign in to view" %>
    </p>

    <p class="fs-mask">
      <strong>Account number</strong>
      <%= organizer_signed_in? ? @hcb_code.ach_transfer.account_number : "Sign in to view" %>
    </p>

    <p>
      <strong>Amount</strong>
      <%= render_money @hcb_code.ach_transfer.amount %>
    </p>

    <p>
      <strong>Status</strong>
      <span>
        <%= @hcb_code.ach_transfer.status_text_long %>
        <% if @hcb_code.ach_transfer.deposited? %>
          <span class="muted">
            <%= link_to "(#{ organizer_signed_in? ? 'view confirmation letter' : 'sign in to view' })", ach_transfer_confirmation_path(@hcb_code.ach_transfer, format: :pdf), target: "_blank" %>
          </span>
        <% end %>
      </span>
    </p>

    <%= render "hcb_codes/tags", hcb_code: @hcb_code, event: (@event || @hcb_code.event) %>
  </section>

  <% if @hcb_code.ach_transfer.may_mark_rejected? %>
    <section class="card__banner card__darker border-top overflow-hidden">
      <%= button_to "Cancel transfer", cancel_ach_transfer_path(@hcb_code.ach_transfer), class: "btn bg-error" %>
    </section>
  <% end %>
</article>
