<% if @hcb_code.ach_transfer.column_id.present? %>
  <% admin_tool("mt3") do %>
    <%= link_to "View transfer on Column", "https://dashboard.column.com/app/transfers/edit/ach/#{@hcb_code.ach_transfer.column_id}", class: "btn bg-accent", target: "_blank" %>
  <% end %>
<% end %>

<article class="card pb0 mt3 mb1">
  <h2 class="h2 mt0 border-none flex items-center justify-between" style="gap: 1ch">
    <span style="flex-grow: 1">
      <span class="regular muted"><%= @hcb_code.ach_transfer.deposited? ? "Transferred " : "Transferring " %> </span>
      <%= @hcb_code.ach_transfer.recipient_name %>
      <span class="regular"><%= render_money @hcb_code.ach_transfer.amount %></span>
    </span>
    <span class="badge h4 md-right ml0 bg-<%= @hcb_code.ach_transfer.state %> nowrap">
      <%= @hcb_code.ach_transfer.status_text %>
      <%= inline_icon @hcb_code.ach_transfer.state_icon, size: 20 if @hcb_code.ach_transfer.state_icon %>
    </span>
    <%= render partial: "hcb_codes/meatballs", locals: { hcb_code: @hcb_code } %>
  </h2>

  <section class="card__banner card__darker details-horiz border-top border-bottom">
    <p>
      <strong>Sent by</strong>
      <%= user_mention @hcb_code.ach_transfer.creator %>
    </p>
    <% unless @hcb_code.ach_transfer.processor.nil? %>
      <% admin_tool("", "p") do %>
        <strong>Processed by</strong>
        <%= user_mention @hcb_code.ach_transfer.processor %>
      <% end %>
    <% end %>
    <p>
      <strong>Sent at</strong>
      <%= format_datetime @hcb_code.ach_transfer.created_at %>
    </p>
  </section>
  <turbo-frame id="details">
    <section class="details pt2 pb2">
      <p>
        <strong>Recipient name</strong>
        <%= @hcb_code.ach_transfer.recipient_name %>
      </p>

      <p>
        <strong>Recipient email</strong>
        <%= @hcb_code.ach_transfer.recipient_email || "(no email provided)" %>
      </p>

      <% if @hcb_code.ach_transfer.recipient_tel.present? %>
        <p class="fs-mask">
          <strong>Recipient phone</strong>
          <%= organizer_signed_in? ? @hcb_code.ach_transfer.recipient_tel : "Sign in to view" %>
        </p>
      <% end %>

      <p>
        <strong>Payment purpose</strong>
        <%= @hcb_code.ach_transfer.payment_for %>
      </p>

      <p>
        <strong>Transaction memo</strong>
        <%= render "hcb_codes/memo", hcb_code: @hcb_code %>
      </p>

      <p>
        <strong>Bank name</strong>
        <%= organizer_signed_in? ? @hcb_code.ach_transfer.bank_name : "Sign in to view" %>
      </p>

      <% if policy(@hcb_code.ach_transfer).view_account_routing_numbers? %>
        <p class="fs-mask">
          <strong>Routing number</strong>
          <% if @show_ach_details %>
            <%= @hcb_code.ach_transfer.routing_number %>
          <% else %>
            <%= link_to "Reveal", hcb_code_path(@hcb_code, show_details: "true"), data: { turbo: true } %>
          <% end %>
        </p>

        <p class="fs-mask">
          <strong>Account number</strong>
          <% if @show_ach_details %>
            <%= @hcb_code.ach_transfer.account_number %>
          <% else %>
            <%= link_to "Reveal", hcb_code_path(@hcb_code, show_details: "true"), data: { turbo: true } %>
          <% end %>
        </p>
      <% end %>

      <p>
        <strong>Amount</strong>
        <%= render_money @hcb_code.ach_transfer.amount %>
      </p>

      <% if @hcb_code.ach_transfer.reimbursement_payout_holding.present? %>
        <p>
          <strong>Reimbursing</strong>
         <%= link_to @hcb_code.ach_transfer.reimbursement_payout_holding.report.name, @hcb_code.ach_transfer.reimbursement_payout_holding.report, data: { turbo_frame: "_top" } %>
        </p>
      <% end %>

      <p>
        <strong>Status</strong>
        <span>
          <%= @hcb_code.ach_transfer.status_text_long %>
          <% if @hcb_code.ach_transfer.deposited? && policy(@hcb_code.ach_transfer).transfer_confirmation_letter? %>
            <span class="muted">
              <%= link_to "(view confirmation letter)", ach_transfer_confirmation_path(@hcb_code.ach_transfer, format: :pdf), target: "_blank" %>
            </span>
          <% end %>
        </span>
      </p>

      <%= render "hcb_codes/tags", hcb_code: @hcb_code, event: @event || @hcb_code.event %>
    </section>
  </turbo-frame>

  <% if @hcb_code.ach_transfer.may_mark_rejected? %>
    <div class="card__banner card__darker border-top overflow-hidden flex items-center g2">
      <% cancel_button = button_to "Cancel transfer", cancel_ach_transfer_path(@hcb_code.ach_transfer), class: "btn bg-error #{"disabled" unless policy(@hcb_code.ach_transfer).cancel?}" %>
      <% if policy(@hcb_code.ach_transfer).cancel? %>
        <%= cancel_button %>
      <% else %>
        <div class="tooltipped tooltipped--e w-fit" aria-label="Only managers can cancel ACHs!">
          <%= cancel_button %>
        </div>
      <% end %>

      <% admin_tool do %>
        <%= button_to "Process", ach_start_approval_admin_path(@hcb_code.ach_transfer), class: "btn", method: :get %>
      <% end %>
    </div>
  <% end %>
</article>

<% title "#{render_money(@hcb_code.amount_cents.abs)} transfer to #{@hcb_code.ach_transfer.recipient_name}" %>
