<% if button %>
  <%= link_to "#", class: "menu__input #{ "btn mt-3" if defined?(large)}", data: { behavior: "modal_trigger", modal: "create_tag" }, onclick: "document.getElementById('create_tag_hcb_code_id').value = #{button.to_json}" do %>
    <%= inline_icon "plus", size: 15 %>
      Create tag
  <% end %>
<% else %>
<section class="modal modal--scroll max-w-md bg-snow" data-behavior="modal" role="dialog" id="create_tag">
  <%= modal_header("Create tag") %>
  <%= form_with url: event_tags_path(@event), id: "create_tag_form", data: { turbo: true } do |form| %>
    <%= form.hidden_field :hcb_code_id, value: "", id: "create_tag_hcb_code_id" %>
    <div class="flex flex-col gap-3 mb-2">
      <%= form.text_field :label, autofocus: true, placeholder: "Tag name", style: "max-width: 100%", autocomplete: "off", data: { turbo: true }, required: true %>
      <div class="flex gap-3">
        <% Tag::COLORS.each do |color| %>
          <label class="tags__radio">
            <%# Default color: Muted %>
            <%= form.radio_button :color, color, checked: color == "muted" %>
            <div class="radio__control tag-darker tag-<%= color %>"></div>
          </label>
        <% end %>
      </div>
    </div>
    <%= form.submit "Create", class: "btn bg-info mt-2 float-right" %>
  <% end %>
</section>
<% end %>
