<% title "Transfer of #{render_money(@hcb_code.disbursement.amount)}" %>

<% @destination = @hcb_code.disbursement.destination_event %>
<% @source = @hcb_code.disbursement.source_event %>

<article class="card pb0 mt3 mb3">
  <h2 class="h2 mt0 border-none">
    <%= @source.name %>
    <span class="regular muted">
      <%= @hcb_code.disbursement.fulfilled? ? 'transferred' : (@hcb_code.disbursement.pending? ||
        @hcb_code.disbursement.processed?) ? 'transferring' : 'transfer of' %>
    </span>
    <span class="regular"><%= render_money @hcb_code.disbursement.amount %></span>
    <span class="regular muted">to</span>
    <%= @destination.name %>
    <span class="badge h4 md-right ml0 bg-<%= @hcb_code.disbursement.state %>">
      <%= @hcb_code.disbursement.state_text %>
      <%= inline_icon @hcb_code.disbursement.state_icon, size: 20 if @hcb_code.disbursement.state_icon %>
    </span>
  </h2>

  <section class="card__banner card__darker details-horiz border-top border-bottom">
    <p>
      <strong>Transferred at</strong>
      <%= format_datetime @hcb_code.disbursement.created_at %>
    </p>
    <% admin_tools('', 'p') do %>
      <strong>Disbursement ID</strong>
      <%= link_to @hcb_code.disbursement.id, @hcb_code.disbursement %>
    <% end %>
  </section>

  <section class="details pt2 pb2">
    <p>
      <strong>From</strong>
      <% if @source.is_public? || organizer_signed_in?(@source) %>
        <%= link_to @source.name, @source %>
      <% else %>
        <%= @source.name %>
      <% end %>
    </p>

    <p>
      <strong>To</strong>
      <% if @destination.is_public? || organizer_signed_in?(@destination) %>
        <%= link_to @destination.name, @destination %>
      <% else %>
        <%= @destination.name %>
      <% end %>
    </p>

    <p>
      <strong>Amount</strong>
      <%= render_money @hcb_code.disbursement.amount %>
    </p>

    <p>
      <strong>Memo</strong>
      <%= organizer_signed_in? ? @hcb_code.disbursement.name : 'Sign in to view' %>
    </p>

    <% if @hcb_code.disbursement.fulfilled? %>
      <p>
        <strong>Confirmation letter</strong>
          <span class="muted">
            <a href="/disbursements/<%= @hcb_code.disbursement.id %>/confirmation.pdf" target="_blank">
            <%= organizer_signed_in? ? 'View confirmation letter' : 'Sign in to view'  %>
            </a>
          </span>
      </p>
    <% end %>
  </section>

  <% if Flipper.enabled?(:fronted_balance_2022_06_17, @event) %>
    <section class="card__banner card__darker secondary border-top">
      <p class="my0 italic">
        Hack Club Bank transfers are immediately reflected in your account balance.
      </p>
    </section>
  <% end %>

</article>

