<% title "Transfer of #{render_money(@hcb_code.disbursement.amount)}" %>

<% @destination = @hcb_code.disbursement.destination_event %>
<% @source = @hcb_code.disbursement.source_event %>
<% @subledger = @hcb_code.disbursement.destination_subledger %>

<article class="card pb0 mt3 mb1">
  <h2 class="h2 mt0 border-none flex items-center justify-between" style="gap: 8px">
    <span style="flex-grow: 1">
      <%= @source.name %>
      <span class="regular muted">
        <% if @hcb_code.disbursement.fulfilled? || (@destination.can_front_balance? && (@hcb_code.disbursement.processed? || @hcb_code.disbursement.pending?)) %>
          transferred
        <% elsif @hcb_code.disbursement.processed? || @hcb_code.disbursement.pending? %>
          transferring
        <% else %>
          transfer of
        <% end %>
      </span>
      <span class="regular"><%= render_money @hcb_code.disbursement.amount %></span>
      <span class="regular muted">to</span>
      <%= @destination.name %>
    </span>
    <span class="badge h4 md-right ml0 bg-<%= @hcb_code.disbursement.state %>">
      <%= @hcb_code.disbursement.state_text.humanize %>
      <%= inline_icon @hcb_code.disbursement.state_icon, size: 20 if @hcb_code.disbursement.state_icon %>
    </span>
    <%= render partial: "hcb_codes/meatballs", locals: { hcb_code: @hcb_code } %>
  </h2>

  <section class="card__banner card__darker details-horiz border-top border-bottom">
    <% unless @hcb_code.disbursement.requested_by.nil? %>
      <p>
        <% if @hcb_code.disbursement.reviewing? || @hcb_code.disbursement.rejected? %>
          <strong>Requested by</strong>
        <% else %>
          <strong>Sent by</strong>
        <% end %>
        <%= user_mention @hcb_code.disbursement.requested_by %>
      </p>
    <% end %>

    <% unless @hcb_code.disbursement.fulfilled_by.nil? %>
      <% admin_tool("", "p") do %>
        <strong>Fulfilled by</strong>
        <%= user_mention @hcb_code.disbursement.fulfilled_by %>
      <% end %>
    <% end %>

    <p>
      <% if @hcb_code.disbursement.processed? %>
        <strong>Transferred at</strong>
        <%= format_datetime @hcb_code.disbursement.transferred_at %>
      <% else %>
        <strong>Requested at</strong>
        <%= format_datetime @hcb_code.disbursement.created_at %>
        <% admin_tool("", "p") do %>
          <% if @hcb_code.disbursement.scheduled_on.present? && !@hcb_code.disbursement.processed? %>
            <strong>Scheduled at</strong>
            <%= @hcb_code.disbursement.scheduled_on.strftime("%B %e, %Y") %>
          <% end %>
        <% end %>
      <% end %>
      <% admin_tool("", "p") do %>
        <strong>Disbursement ID</strong>
        <%= link_to @hcb_code.disbursement.id, @hcb_code.disbursement %>
      <% end %>
    </p>

  </section>

  <section class="details pt2 pb2">
    <% if @subledger&.card_grant.present? %>
      <p>
        <strong>Event</strong>
        <%= link_to @destination.name, @destination %>
      </p>
      <p>
        <strong>Grant</strong>
        <%= link_to_if @subledger.card_grant.stripe_card.present?, "Grant to #{@subledger.card_grant.user.name}", @subledger.card_grant.stripe_card %>
      </p>
    <% else %>
      <p>
        <strong>From</strong>
        <%= link_to @source.name, @source, target: "_top" %>
      </p>

      <p>
        <strong>To</strong>
        <%= link_to @destination.name, @destination, target: "_top" %>
      </p>
    <% end %>

    <p>
      <strong>Amount</strong>
      <%= render_money @hcb_code.disbursement.amount %>
    </p>

    <p>
      <strong>Reason</strong>
      <%= @hcb_code.disbursement.name %>
    </p>

    <p>
      <strong>Transaction memo</strong>
      <%= render "hcb_codes/memo", hcb_code: @hcb_code %>
    </p>

    <%= render "hcb_codes/tags", hcb_code: @hcb_code, event: @event || @hcb_code.event %>

    <% if @hcb_code.disbursement.fulfilled? %>
      <p>
        <strong>Confirmation letter</strong>
          <span class="muted">
            <a href="/disbursements/<%= @hcb_code.disbursement.id %>/confirmation.pdf" target="_blank">
            <%= "View confirmation letter" %>
            </a>
          </span>
      </p>
    <% end %>

  </section>

  <% if @event.can_front_balance? %>
    <section class="card__banner card__darker secondary border-top flex items-center g2">
      <% if @hcb_code.disbursement.may_mark_rejected? %>
        <% admin_tool "w-fit" do %>
          <%= button_to "Process", disbursement_process_admin_path(@hcb_code.disbursement), class: "btn", method: :get, data: { turbo_frame: "_top" } %>
        <% end %>
      <% end %>

      <% if @hcb_code.disbursement.scheduled? %>
        <% admin_tool "w-fit" do %>
          <%= button_to "Cancel transfer", disbursement_cancel_path(@hcb_code.disbursement), class: "btn bg-error" %>
        <% end %>
      <% end %>

      <p class="my0 italic">
        HCB transfers are immediately reflected in your account balance.
      </p>
    </section>
  <% end %>

</article>
