<% @donation = @hcb_code.donation %>

<% title "#{render_money(@donation.amount)} donation to #{@donation.event.name}" %>

<%= render partial: "admin_viewer", locals: { record: @donation } %>
<%= render partial: "admin_viewer", locals: { record: @donation.payout } unless @donation.payout.nil? %>

<% admin_tool("mt3") do %>
  <%= link_to "View on Stripe", @donation.stripe_dashboard_url, class: "btn bg-accent" %>
  <% unless @donation.refunded? %>
    <button class="btn bg-error" data-behavior="modal_trigger" data-modal="refund">Issue refund</button>
  <% end %>
  <%= link_to "View recurring donation", recurring_donation_path(@donation.recurring_donation.url_hash), class: "btn bg-success" if @donation.recurring? %>
<% end %>

<% if current_user&.admin? %>
  <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="refund">
    <%= modal_header "Issue refund" %>
    <%= form_with url: refund_donation_path(@donation) do |form| %>
      <div class="field">
        <%= form.label :amount, "Amount to refund" %>
        <%= form.number_field :amount,
                              value: ("%.2f" % (@donation.amount.to_f / 100)),
                              placeholder: ("%.2f" % (@donation.amount.to_f / 100)),
                              min: 1,
                              max: @donation.amount.to_f / 100,
                              step: 0.01,
                              autofocus: true,
                              data: { controller: "truncate-decimal", action: "truncate-decimal#truncate" } %>
      </div>
      <%= form.submit "Refund donation", class: "bg-error" %>
    <% end %>
  </section>
<% end %>

<article class="card pb0 mt3 mb1">
  <h2 class="h2 mt0 border-none flex items-center justify-between" style="gap: 8px">
    <span style="flex-grow: 1">
      <%= @donation.name(show_anonymous: organizer_signed_in?) %>
      <% if @donation.anonymous? %>
        <div class="line-height-0 mx-1 tooltipped tooltipped--s inline align-bottom" style="margin: 0 2px;" aria-label="Anonymous donor"><%= inline_icon "private-fill", size: 24, class: "muted" %></div>
      <% end %>
      <span class="regular muted"> donated </span>
      <span class="regular"><%= render_money @donation.amount_received %></span>
      <% if @donation.refunded? %>
        <span class="regular muted">and was later refunded</span>
      <% end %>
    </span>

    <span class="badge h4 md-right bg-<%= @donation.state %> nowrap">
      <%= @donation.state_text %>
      <%= inline_icon @donation.state_icon, size: 20 if @donation.state_icon %>
    </span>

    <%= render partial: "hcb_codes/meatballs", locals: { hcb_code: @hcb_code } %>
  </h2>

  <section class="card__banner card__darker details-horiz border-top border-bottom">
    <% if @donation.payment_method_type == 'card' %>
      <p data-behavior="modal_trigger" data-modal="payment_details" class="pointer" tabindex="0">
        <strong>
          <%# Nested tag to avoid flexbox-induced full-width strong leading to icon on right edge on mobile %>
          <span class="inline-flex items-start relative" style="padding-right: 28px;">
            Payment method
            <%= inline_icon "external", size: 24, class: "muted ml1 absolute right-0", 'aria-label': "Icon indicating click for more" %>
          </span>
        </strong>
        <span class="inline-flex">
          <%= donation_payment_method_mention %>
        </span>
      </p>
    <% else %>
      <p>
        <strong>Payment method</strong>
        <span class="inline-flex">
          <%= donation_payment_method_mention %>
        </span>
      </p>
    <% end %>
    <p>
      <strong>Donated at</strong>
      <%= format_datetime @donation.donated_at %>
    </p>
    <% admin_tool do %>
      <%= donation_payout_datetime %>
    <% end %>
  </section>
  <section class="pt2 pb2 details">
    <p>
      <strong>Donor email</strong>
      <% if organizer_signed_in? %>
        <%= mail_to @donation.email, @donation.email.downcase %>
      <% else %>
        <strong>Sign in to view</strong>
      <% end %>
    </p>
    <p>
      <strong>Transaction memo</strong>
      <%= render "hcb_codes/memo", hcb_code: @hcb_code %>
    </p>
    <p>
      <strong>Amount</strong>
      +<%= render_money @donation.amount %>
    </p>
    <% if @donation.message.present? %>
    <p>
      <strong>Message</strong>
      <%= @donation.message %>
    </p>
    <% end %>
    <p>
      <strong><%= donation_fee_type(@donation) %></strong>
      -<%= donation_payment_processor_fee(true, @donation) %>
    </p>
    <p>
      <strong>Processing fee refund</strong>
      <span>
        +<%= donation_payment_processor_fee(true, @donation) %>
        <span class="muted">
          <% "Pending " unless @donation&.fee_reimbursement&.t_transaction %>
          (<%= link_to "learn more", "https://changelog.hcb.hackclub.com/we're-making-payment-processing-fees-disappear-101088" %>)
        </span>
      </span>
    </p>
    <%= render "hcb_codes/tags", hcb_code: @hcb_code, event: @event || @hcb_code.event %>
  </section>

  <% unless @donation.deposited? %>
    <section class="card__banner card__darker secondary border-top">
      <p class="my0 italic">
        Incoming donations are immediately reflected in your account balance.
      </p>
    </section>
  <% end %>

</article>

<% if @donation.payment_method_type == 'card' %>
  <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="payment_details">
    <%= modal_header "Payment details" + content_tag(:span, "", class: "pl2") + donation_payment_method_mention(@donation, class: "h3 font-sans regular") %>

    <article class="details-horiz">
      <div class="details">
        <p>
          <strong>Payment type</strong>
          <%= @donation.payment_method_card_funding.humanize.capitalize %>
        </p>
        <p>
          <strong>Brand</strong>
          <%= @donation.payment_method_card_brand.humanize.capitalize %>
        </p>
        <p>
          <strong>Expiration</strong>
          <% if organizer_signed_in? %>
            <%= @donation.payment_method_card_exp_month.to_s.rjust(2, "0") %> / <%= @donation.payment_method_card_exp_year %>
          <% else %>
            MM / YYYY (Sign in to view)
          <% end %>
        </p>
      </div>
      <div class="mt1 md-mt0">
        <p class="details__simulated">
          <%= donation_card_country_mention %>
          <span>Payment country</span>
        </p>
        <p class="details__simulated">
          <%= donation_card_check_badge "cvc" %>
          <span>CVC check</span>
        </p>
        <p class="details__simulated">
          <%= donation_card_check_badge "address_postal_code" %>
          <span>Zip check</span>
        </p>
      </div>
    </article>
  </section>
<% end %>
