<% admin_tools('mt3') do %>
  <%= link_to 'View on Stripe', @hcb_code.donation.stripe_dashboard_url, class: 'btn bg-accent' %>
  <%= link_to 'Issue refund', refund_donation_path(@hcb_code.donation), method: :post, class: 'btn bg-error' if @hcb_code.donation.deposited? %>
<% end %>

<article class="card pb0 mt3 mb3">
  <h2 class="h2 mt0 border-none">
    <%= @hcb_code.donation.name %>
    <span class="regular muted"> donated </span>
    <span class="regular"><%= render_money @hcb_code.donation.amount_received %></span>
    <% if @hcb_code.donation.refunded? %>
      <span class="regular muted">and was later refunded</span>
    <% end %>
  </h2>

  <section class="card__banner card__darker details-horiz border-top border-bottom">
    <p>
      <strong>Donated at</strong>
      <%= donation_paid_at(@hcb_code.donation) %>
    </p>
  </section>
  <% if @hcb_code.donation.payout %>
    <section class="pt2 pb2 details">
      <p>
        <strong>Donor email</strong>
        <% if organizer_signed_in? %>
          <%= mail_to @hcb_code.donation.email, @hcb_code.donation.email.downcase, class: 'slate underline' %>
        <% else %>
          <strong>Sign in to view</strong>
        <% end %>
      </p>
      <p>
        <strong>Amount</strong>
        +<%= render_money @hcb_code.donation.amount %>
      </p>
      <p>
        <strong><%= donation_fee_type(@hcb_code.donation) %></strong>
        -<%= donation_payment_processor_fee(true, @hcb_code.donation) %>
      </p>
      <p>
        <strong>Processing fee refund</strong>
        <span>
          +<%= donation_payment_processor_fee(true, @hcb_code.donation) %>
          <span class="muted">
            <% 'Pending ' unless @hcb_code.donation&.fee_reimbursement&.t_transaction %>
            (<%= link_to 'learn more', "https://changelog.bank.hackclub.com/we're-making-payment-processing-fees-disappear-101088" %>)
          </span>
        </span>
      </p>
    </section>
  <% end %>

</article>

