<%# locals: (hcb_code:, render_memo: false) %>

<h2 class="h2 mt0 border-none flex items-center justify-between" style="gap: 1ch">
  <%= turbo_frame_tag hcb_code, class: "flex items-center" do %>
    <%= pop_icon_to "edit",
        edit_hcb_code_path(hcb_code),
        class: "mr2 align-middle tooltipped tooltipped--e", "aria-label": "Rename transaction",
        data: { turbo: true } if organizer_signed_in?(as: :member) %>

    <% if hcb_code.custom_memo.nil? && !render_memo %>
      <%= yield %>
    <% else %>
      <span class="flex-auto">
        <span data-memo-for="<%= dom_id(hcb_code) %>"><%= hcb_code.memo %></span>
        <span class="regular muted"> for </span>
        <span class="regular"><%= render_money hcb_code.amount_cents_by_event(hcb_code.event).abs %></span>
      </span>
    <% end %>

    <%= render "hcb_codes/memo_stream", hcb_code: %>
    <span style="flex-grow: 1;"></span>
    <%= render partial: "hcb_codes/ai_memo", locals: { hcb_code: } %>
  <% end %>
  <%= render partial: "hcb_codes/meatballs", locals: { hcb_code: } %>
</h2>
