<%# This partial combines `CanonicalPendingTransaction`, `CanonicalTransaction`, and `CanonicalTransactionGrouped` icons. `tx` can be either of these! %>

  <% if tx.local_hcb_code.bank_fee? || tx.try(:fee_payment?) %>
    <% label = "Fiscal sponsorship fee" %>
    <% icon = inline_icon "bank-icon" %>
    <% fee = true %>
  <% elsif tx.local_hcb_code.fee_revenue? %>
    <% label = "Fee revenue" %>
    <% icon = inline_icon "bank-icon" %>
    <% fee = true %>
  <% elsif tx.local_hcb_code.check? || tx.local_hcb_code.increase_check? %>
    <% label = "Mailed check" %>
    <% icon = inline_icon "email" %>
  <% elsif tx.local_hcb_code.paypal_transfer? %>
    <% label = "Paypal transfer" %>
    <% icon = inline_icon "paypal" %>
  <% elsif tx.local_hcb_code.wire? %>
    <% label = "Wire" %>
    <% icon = inline_icon "web" %>
  <% elsif tx.local_hcb_code.check_deposit? %>
    <% label = "Check deposit" %>
    <% icon = inline_icon "cheque" %>
  <% elsif tx.local_hcb_code.ach_transfer? %>
    <% label = "Outgoing ACH" %>
    <% icon = inline_icon "payment-transfer" %>
  <% elsif user = tx.local_hcb_code.reimbursement_expense_payout? %>
    <% label = "Reimbursement" %>
    <% icon = inline_icon "attachment" %>
  <% elsif tx.try(:stripe_refund?) || tx.local_hcb_code.stripe_refund? %>
    <% label = "Card transaction refund" %>
    <% icon = inline_icon "view-reload" %>
  <% elsif tx.try(:raw_stripe_transaction) || tx.try(:raw_pending_stripe_transaction_id) %>
    <% label = "Card transaction#{!local_assigns[:authorless] && tx.stripe_cardholder ? " by " + tx.stripe_cardholder.user.initial_name : "" }" %>
    <% icon = render "hcb_codes/merchant_icon", tx: %>
  <% elsif tx.local_hcb_code.invoice? %>
    <% label = "Invoice" %>
    <% icon = inline_icon "briefcase" %>
  <% elsif tx.local_hcb_code.donation&.recurring? %>
    <% label = "Recurring donation" %>
    <% icon = inline_icon "support-recurring" %>
  <% elsif tx.local_hcb_code.donation? %>
    <% label = "Donation" %>
    <% icon = inline_icon "support" %>
  <% elsif tx.local_hcb_code.disbursement&.special_appearance? %>
    <% if tx.amount.negative? %>
      <% label = "Outgoing #{tx.local_hcb_code.disbursement.special_appearance&.dig(:title) || "transfer"}" %>
      <% icon = inline_icon "door-leave" %>
    <% else %>
      <% label = tx.local_hcb_code.disbursement.special_appearance[:title] %>
      <% icon = inline_icon(tx.local_hcb_code.disbursement.special_appearance&.dig(:icon) || "door-enter") %>
    <% end %>
  <% elsif tx.local_hcb_code.card_grant? %>
    <% label = "Outgoing grant" %>
    <% icon = inline_icon "bag" %>
  <% elsif tx.local_hcb_code.disbursement? %>
    <% if tx.amount.negative? %>
      <% label = "Outgoing transfer" %>
      <% icon = inline_icon "door-leave" %>
    <% else %>
      <% label = "Incoming transfer" %>
      <% icon = inline_icon "door-enter" %>
    <% end %>
  <% else %>
    <% label = "Bank account transaction" %>
    <% icon = inline_icon "cash" %>
  <% end %>

<td class="transaction__icon <%= "transaction__fee_icon" if fee %>"
    <% if defined?(selects) %>
      data-action="click->transactions#select"
      data-transaction="<%= selects %>"
    <% end %>>
  <div class="tooltipped tooltipped--<%= defined?(tooltip_direction) ? tooltip_direction : "e" %>" aria-label="<%= label %>">
    <%= icon %>
  </div>
</td>
