<% @invoice = @hcb_code.invoice %>
<% @sponsor = @invoice.sponsor %>

<% title "#{render_money @invoice.item_amount} invoice from #{@invoice.event.name}" %>

<%= render partial: "admin_viewer", locals: { record: @invoice } %>

<% admin_tool("mt3") do %>
  <%= link_to "View on Stripe", @invoice.stripe_dashboard_url, class: "btn bg-accent" %>
  <% if @invoice.paid? %>
    <button class="btn bg-error" data-behavior="modal_trigger" data-modal="refund">Issue refund</button>
  <% end %>
<% end %>

<% if current_user&.admin? %>
  <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="refund">
    <%= modal_header "Issue refund" %>
    <%= form_with url: refund_invoice_path(id: @invoice.id) do |form| %>
      <div class="field">
        <%= form.label :amount, "Amount to refund" %>
        <%= form.number_field :amount,
                              value: ("%.2f" % (@invoice.item_amount.to_f / 100)),
                              placeholder: ("%.2f" % (@invoice.item_amount.to_f / 100)),
                              min: 1,
                              max: @invoice.item_amount.to_f / 100,
                              step: 0.01,
                              autofocus: true %>
      </div>
      <%= form.submit "Refund invoice", class: "bg-error" %>
    <% end %>
  </section>
<% end %>

<% if @invoice.void_v2? && !@invoice.manually_marked_as_paid? %>
  <div class="banner banner--archived mt3">
    <span class="bold block mb1">This invoice was voided by <%= user_mention @invoice.voided_by %> on <%= format_date @invoice.void_v2_at %>.</span>
    <span class="block">It will only display in the Voided tab<span class="xs-hide"> on the Invoices page</span>.</span>
  </div>
<% elsif @invoice.archived? %>
  <div class="banner banner--archived mt3">
    <span class="bold block mb1">This invoice was archived by <%= user_mention @invoice.archived_by %> on <%= format_date @invoice.archived_at %>.</span>
    <span class="block">It will only display in the Archived tab<span class="xs-hide"> on the Invoices page</span>.</span>
    <span>You can <%= link_to "un-archive it", invoice_unarchive_path(@invoice), method: :post %>.</span>
  </div>
<% end %>

<article class="card pb0 mt3 mb1">
  <h2 class="h2 mt0 mx0 border-none flex items-center justify-between" style="gap: 8px">
    <span style="flex-grow: 1">
      <%= @sponsor.name %>
      <span class="regular muted"> invoiced for </span>
      <span class="regular"><%= render_money @invoice.item_amount %></span>
    </span>

    <span class="md-right">
      <% if @invoice.personal_transaction.present? %>
        <span class="badge h4 bg-warning">
          Repayment for Personal Transaction
          <%= inline_icon :info, size: 20 %>
        </span>
      <% end %>

      <span class="badge h4 bg-<%= @invoice.state %>">
        <%= @invoice.state_text %>
        <%= inline_icon @invoice.state_icon, size: 20 if @invoice.state_icon %>
      </span>
    </span>
    <%= render partial: "hcb_codes/meatballs", locals: { hcb_code: @hcb_code } %>
  </h2>

  <section class="card__banner card__darker details-horiz border-top border-bottom">
    <p>
      <strong>Sent by</strong>
      <%= user_mention @invoice.creator %>
    </p>
    <p>
      <strong>Sent at</strong>
      <%= invoice_sent_at(@invoice) %>
    </p>
  </section>
  <!-- recipient info -->
  <section class="details details--wide pt2 pb2 details--tall">
    <% if @invoice.open_v2? %>
      <p>
        <strong>Due date</strong>
        <span>
          <%= format_date @invoice.due_date %>
          <span class="muted">
            <% if @invoice.due_date > Time.now %>
              (in <%= distance_of_time_in_words @invoice.due_date, Time.now %>)
            <% else %>
              (<%= distance_of_time_in_words @invoice.due_date, Time.now %> ago)
            <% end %>
          </span>
        </span>
      </p>
    <% end %>
    <p>
      <strong>Transaction memo</strong>
      <%= render "hcb_codes/memo", hcb_code: @hcb_code %>
    </p>
    <% if @invoice.personal_transaction.present? %>
      <p>
        <strong>Repayment for</strong>
        <%= link_to @invoice.personal_transaction.hcb_code.memo, @invoice.personal_transaction.hcb_code %>
      </p>
    <% end %>
    <p>
      <strong>Billed to</strong>
      <% if organizer_signed_in? %>
        <span><%= mail_to @sponsor.contact_email.downcase %></span>
      <% else %>
        <span><strong>Sign in to view</strong></span>
      <% end %>
    </p>
    <p>
      <strong>Payment methods</strong>
      <span class="flex">
        <% unless @invoice.item_amount >= Invoice::MAX_CARD_AMOUNT %>
          <span class="bg-smoke slate tooltipped tooltipped--s inline-flex rounded mr2" aria-label="Credit or debit cards" style="padding: 4px;">
            <%= inline_icon "card", size: 24 %>
          </span>
        <% end %>
        <span class="bg-smoke slate tooltipped tooltipped--s inline-flex rounded" aria-label="ACH credit transfers and domestic wires">
          <%= inline_icon "bank-account", size: 32 %>
        </span>
      </span>
    </p>
    <p>
      <strong>Address</strong>
      <% if organizer_signed_in? %>
        <span>
        <%= @sponsor.address_line1 %><br>
        <% if @sponsor.address_line2.present? %>
          <%= @sponsor.address_line2 %><br>
        <% end %>
        <%= @sponsor.address_city %>, <%= @sponsor.address_state %> <%= @sponsor.address_postal_code %> <br>
        <%= ISO3166::Country[@sponsor.address_country]&.common_name %>
        </span>
      <% else %>
        <span><strong>Sign in to view</strong></span>
      <% end %>
    </p>
    <p>
      <strong>Memo</strong>
      <span><%= @invoice.memo %></span>
    </p>
    <%= render "hcb_codes/tags", hcb_code: @hcb_code, event: @event || @hcb_code.event %>
  </section>
  <% width_css_class = @invoice.deposited? ? @invoice.canonical_transactions.sum { |ct| ct.fee.amount_cents_as_decimal } != 0 : @invoice.event.revenue_fee != 0 ? "w-64" : "w-8" %>
  <section class="card__banner card__darker details details--wide border-top md-pl0 md-pr0">
    <table>
    <thead>
      <tr>
        <td>Description</td>
        <td class="<%= width_css_class %>">Amount</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="white-space: normal"><%= @invoice.item_description %></td>
        <td class="<%= width_css_class %>"><%= render_money @invoice.item_amount %></td>
      </tr>
      <tr class="border-none">
        <td class="right-align pr1"><strong>Total</strong></td>
        <td class="<%= width_css_class %>">
          <strong><%= render_money @invoice.item_amount %></strong>
          <% if @invoice.deposited? && @invoice.canonical_transactions.sum { |ct| ct.fee.amount_cents_as_decimal } != 0 %>
            <small class="muted ml1">
              (<%= render_money Money.from_cents(@invoice.item_amount - @invoice.canonical_transactions.sum { |ct| ct.fee.amount_cents_as_decimal }) %> after fees)
            </small>
          <% elsif @invoice.deposited? == false && @invoice.event.revenue_fee != 0 %>
            <small class="muted ml1">
              (<%= render_money @invoice.item_amount * (1 - @invoice.event.revenue_fee) %> after fees)
            </small>
          <% end %>
        </td>
      </tr>
    </tbody>
    </table>
  </section>

  <section class="card__banner border-top flex flex-wrap">
    <div class="btn-group mr-auto">
    <%= link_to organizer_signed_in? ? invoice_hosted_path(@invoice.hashid) : root_path,
      disabled: !organizer_signed_in?,
      class: "btn bg-accent mr1",
      target: "_blank" do %>
      <%= inline_icon "external" %>
      View sent invoice
    <% end %>
    <%= link_to organizer_signed_in? ? invoice_pdf_path(@invoice.hashid) : root_path,
      disabled: !organizer_signed_in?,
      class: "btn bg-info mr1",
      target: "_blank" do %>
      <%= inline_icon "download" %>
      PDF
    <% end %>
    </div>
    <%= link_to "Void this invoice",
      invoice_void_path(@invoice.id),
      disabled: !organizer_signed_in?,
      method: :post,
      data: { confirm: "Are you sure you want to void this invoice? Voided invoices can not be paid and this action cannot be undone." },
      class: "btn bg-error mr1 right" if @invoice.open_v2? %>
  <%= link_to (@invoice.archived? ? "Un-archive" : "Archive"),
    (@invoice.archived? ? invoice_unarchive_path(@invoice) : invoice_archive_path(@invoice)),
    disabled: !organizer_signed_in?,
    method: :post,
    class: "btn bg-muted" unless @invoice.void_v2? %>
  </section>
</article>

<% if @invoice.paid_v2? or @invoice.deposited? %>
  <article class="card pb0 mt3 mb2">
    <h2 class="h2 mt0 border-none">
      <%= @sponsor.name %>
      <span class="regular muted"> paid </span>
      <% unless @invoice.manually_marked_as_paid? %>
        <span class="regular"><%= render_money @invoice.amount_paid %></span>
      <% end %>
    </h2>
    <section class="card__banner card__darker details-horiz border-top border-bottom">
      <% if @invoice.payment_method_type == 'card' %>
        <action data-behavior="modal_trigger" data-modal="payment_details" class="details-horiz__col pointer" tabindex="0">
          <strong>
            <%# Nested tag to avoid flexbox-induced full-width strong leading to icon on right edge on mobile %>
            <span class="inline-flex items-start relative" style="padding-right: 28px;">
              Payment method
              <%= inline_icon "external", size: 24, class: "muted ml1 absolute right-0", 'aria-label': "Icon indicating click for more" %>
            </span>
          </strong>
          <span class="inline-flex">
            <%= invoice_payment_method_mention %>
          </span>
        </action>
      <% else %>
        <p>
          <strong>Payment method</strong>
          <span class="inline-flex">
            <%= invoice_payment_method_mention %>
          </span>
        </p>
      <% end %>
      <p>
        <strong>Paid at</strong>
        <% if @invoice.manually_marked_as_paid? %>
          <%= format_datetime @invoice.manually_marked_as_paid_at %>
        <% else %>
          <%= format_datetime @invoice.payout_creation_queued_at %>
        <% end %>
      </p>
      <% admin_tool do %>
        <%= invoice_payout_datetime %>
      <% end %>
    </section>
    <% if @invoice.manually_marked_as_paid? %>
      <section class="mt2 mb1">
        <div>
          <p>
            This invoice was manually marked as paid by <%= @invoice.manually_marked_as_paid_user.name %>.
          </p>
          <p>
            Reason given: "<%= @invoice.manually_marked_as_paid_reason %>"
          </p>
          <% if @invoice.manually_marked_as_paid_attachment.attached? %>
            <p><%= link_to "Download provided attachment", @invoice.manually_marked_as_paid_attachment if organizer_signed_in? %></p>
          <% end %>
        </div>
        <div class="details">
        <%= invoice_payout_datetime %>
        </div>
      </section>
    <% elsif @invoice.payout %>
      <section class="pt2 pb2 details">
        <p>
          <strong>Recipient email</strong>
          <% if organizer_signed_in? %>
            <%= mail_to @sponsor.contact_email, @sponsor.contact_email.downcase %>
          <% else %>
            <strong>Sign in to view</strong>
          <% end %>
        </p>
        <p>
          <strong>Amount</strong>
          +<%= render_money @hcb_code.amount %>
        </p>
        <p>
          <strong><%= invoice_fee_type %></strong>
          -<%= invoice_payment_processor_fee %>
        </p>
        <p>
          <strong>Processing fee refund</strong>
          <span>
            +<%= invoice_payment_processor_fee %>
            <span class="muted">
              <% "Pending " unless @invoice&.fee_reimbursement&.t_transaction %>
              (<%= link_to "learn more", "https://changelog.hcb.hackclub.com/we're-making-payment-processing-fees-disappear-101088" %>)
            </span>
          </span>
        </p>
      </section>
      <%# if @invoice.payment_method_type == 'ach_credit_transfer' %>
    <% end %>

    <% unless @invoice.deposited? %>
      <% if @invoice.event.can_front_balance? %>
        <section class="card__banner card__darker secondary border-top">
          <p class="my0 italic">
            <% if @hcb_code.fee_waived? %>
              Fees were waived on this transaction — enjoy!
            <% end %>
            The funds from this invoice payment are immediately reflected in your account balance.
            (<a href="https://changelog.hcb.hackclub.com/instant-deposits-238700">learn more</a>)
          </p>
        </section>
      <% end %>
    <% end %>

    <% if (@invoice.deposited? || !@invoice.event.can_front_balance?) && @hcb_code.fee_waived? %>
      <section class="card__banner card__darker secondary border-top">
        <p class="my0 italic">
          Fees were waived on this transaction — enjoy!
        </p>
      </section>
    <% end %>

  </article>
<% end %>

<% if @invoice.payment_method_type == 'card' %>
  <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="payment_details">
    <%= modal_header "Payment details" + content_tag(:span, "", class: "pl2") + invoice_payment_method_mention(@invoice, class: "h3 font-sans slate regular") %>

    <article class="details-horiz">
      <div class="details">
        <p>
          <strong>Payment type</strong>
          <%= @invoice.payment_method_card_funding.humanize.capitalize %>
        </p>
        <p>
          <strong>Brand</strong>
          <%= @invoice.payment_method_card_brand.humanize.capitalize %>
        </p>
        <p>
          <strong>Expiration</strong>
          <% if organizer_signed_in? %>
            <%= @invoice.payment_method_card_exp_month.to_s.rjust(2, "0") %> / <%= @invoice.payment_method_card_exp_year %>
          <% else %>
            MM / YYYY (Sign in to view)
          <% end %>
        </p>
      </div>
      <div class="mt1 md-mt0">
        <p class="details__simulated">
          <%= invoice_card_country_mention %>
          <span>Payment country</span>
        </p>
        <p class="details__simulated">
          <%= invoice_card_check_badge "cvc" %>
          <span>CVC check</span>
        </p>
        <p class="details__simulated">
          <%= invoice_card_check_badge "address_postal_code" %>
          <span>Zip check</span>
        </p>
      </div>
    </article>
  </section>
<% end %>
