<% @partner_donation = @hcb_code.partner_donation %>

<% title "#{render_money(@partner_donation.payout_amount_cents)} donation to #{@partner_donation.event.name}" %>

<% admin_tool("mt3") do %>
  <%= link_to "View on Stripe", @partner_donation.stripe_dashboard_url, class: "btn bg-accent #{@partner_donation.paid? ? '' : 'disabled'}" %>
<% end %>

<%= render partial: "admin_viewer", locals: { record: @partner_donation } %>

<div class="mt2 mb3">
  <article class="card pb0 mb1">
    <h2 class="h2 mt0 border-none flex items-center justify-between" style="gap: 8px">
      <span style="flex-grow: 1">
        <% if @partner_donation.stripe_obj.try(:[], :billing_details).try(:[], :name) %>
          <%= @partner_donation.stripe_obj.try(:[], :billing_details).try(:[], :name) %>
          <span class="regular muted"> donated </span>
          <span class="regular"><%= render_money @partner_donation.amount %></span>
        <% else %>
          Anonymous donation of <%= render_money @partner_donation.amount %>
        <% end %>
      </span>
      <span class="badge h4 md-right bg-<%= @partner_donation.state_color %> nowrap">
        <%= @partner_donation.state_text %>
        <%= inline_icon @partner_donation.state_icon, size: 20 if @partner_donation.state_icon %>
      </span>
      <%= render partial: "hcb_codes/meatballs", locals: { hcb_code: @hcb_code } %>
    </h2>

    <section class="card__banner card__darker details-horiz border-top border-bottom">
      <% if @partner_donation.payment_method_type == 'card' %>
        <action data-behavior="modal_trigger" data-modal="payment_details" class="details-horiz__col pointer" tabindex="0">
          <strong>
            <%# Nested tag to avoid flexbox-induced full-width strong leading to icon on right edge on mobile %>
            <span class="inline-flex items-start relative" style="padding-right: 28px;">
              Payment method
              <%= inline_icon "external", size: 24, class: "muted ml1 absolute right-0", 'aria-label': "Icon indicating click for more" %>
            </span>
          </strong>
          <span class="inline-flex">
            <%= partner_donation_payment_method_mention %>
          </span>
        </action>
      <% else %>
        <p>
          <strong>Payment method</strong>
          <span class="inline-flex">
            <%= partner_donation_payment_method_mention %>
          </span>
        </p>
      <% end %>
      <% if @partner_donation.paid? %>
        <p>
          <strong>Donated at</strong>
          <%= partner_donation_paid_at(@partner_donation) %>
        </p>
      <% else %>
        <p>
          <strong>Donation initiated at</strong>
          <%= partner_donation_initiated_at(@partner_donation) %>
        </p>
      <% end %>
    </section>
    <section class="pt2 pb2 details">
      <% admin_tool do %>
        <strong>Partner</strong>
        <%= @partner_donation.partner.name || @partner_donation.partner.slug.capitalize %>
      <% end %>
      <% if @partner_donation.paid? %>
        <p>
          <strong>Amount</strong>
          +<%= render_money @partner_donation.amount %>
        </p>
        <p>
          <strong><%= partner_donation_fee_type(@partner_donation) %></strong>
          -<%= partner_donation_payment_processor_fee(true, @partner_donation) %>
        </p>
        <hr class="m0">
        <p>
          <strong>Revenue</strong>
          <%= render_money @partner_donation.payout_amount_cents %>
        </p>
        <%= render "hcb_codes/tags", hcb_code: @hcb_code, event: @event || @hcb_code.event %>
      <% end %>
    </section>
  </article>
</div>

<% if @partner_donation.payment_method_type == 'card' %>
  <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="payment_details">
    <%= modal_header "Payment details" + content_tag(:span, "", class: "pl2") + partner_donation_payment_method_mention(@partner_donation, class: "h3 font-sans slate regular") %>

    <article class="details-horiz">
      <div class="details">
        <p>
          <strong>Payment type</strong>
          <%= @partner_donation.payment_method_card_funding.humanize.capitalize %>
        </p>
        <p>
          <strong>Brand</strong>
          <%= @partner_donation.payment_method_card_brand.humanize.capitalize %>
        </p>
        <p>
          <strong>Expiration</strong>
          <% if organizer_signed_in? %>
            <%= @partner_donation.payment_method_card_exp_month.to_s.rjust(2, "0") %> / <%= @partner_donation.payment_method_card_exp_year %>
          <% else %>
            MM / YYYY (Sign in to view)
          <% end %>
        </p>
      </div>
      <div class="mt1 md-mt0">
        <p class="details__simulated">
          <%= partner_donation_card_country_mention %>
          <span>Payment country</span>
        </p>
        <p class="details__simulated">
          <%= partner_donation_card_check_badge "cvc" %>
          <span>CVC check</span>
        </p>
        <p class="details__simulated">
          <%= partner_donation_card_check_badge "address_postal_code" %>
          <span>Zip check</span>
        </p>
      </div>
    </article>
  </section>
<% end %>
