<% admin_tools('mt3') do %>
  <%= link_to 'View on Stripe', @hcb_code.partner_donation.stripe_dashboard_url, class: 'btn bg-accent' %>
<% end %>

<article class="card pb0 mt3 mb3">
  <h2 class="h2 mt0 border-none">
    <span class="regular">Donation of <%= render_money @hcb_code.donation.amount %></span>
  </h2>

  <section class="card__banner card__darker details-horiz border-top border-bottom">
    <p>
      <strong>Donated at</strong>
      <%= @hcb_code.partner_donation.paid_at %>
    </p>
  </section>
  <section class="pt2 pb2 details">
    <% if @hcb_code.partner_donation.paid? %>
      <p>
        <strong>Amount Received</strong>
        +<%= render_money @hcb_code.partner_donation.amount_received %>
      </p>

      <% if false %>
      <p>
        <strong><%= donation_fee_type(@hcb_code.donation) %></strong>
        -<%= donation_payment_processor_fee(true, @hcb_code.donation) %>
      </p>
      <p>
        <strong>Processing fee refund</strong>
        <span>
          +<%= donation_payment_processor_fee(true, @hcb_code.donation) %>
          <span class="muted">
            <% 'Pending ' unless @hcb_code.donation&.fee_reimbursement&.t_transaction %>
            (<%= link_to 'learn more', "https://changelog.bank.hackclub.com/we're-making-payment-processing-fees-disappear-101088" %>)
          </span>
        </span>
      </p>
      <% end %>
      
    <% else %>
      <p><strong>Donation has not been paid.</strong></p>
    <% end %>
  </section>

</article>

