<% if @hcb_code.canonical_pending_transactions.exists? %>
  <h2>Pending Transaction history</h2>

  <article class="table-container">
    <table>
      <thead>
        <tr>
          <th>DATE</th>
          <th>MEMO</th>
          <th style="text-align: right;">AMOUNT</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @hcb_code.canonical_pending_transactions.each do |ct| %>
          <tr>
            <td><%= format_date ct.date %></td>
            <td><%= ct.smart_memo %></td>
            <td style="text-align: right;"><%= number_to_currency(ct.amount) %></td>
            <td class="right tooltipped tooltipped--w" aria-label="<%= organizer_signed_in? ? "Rename pending transaction" : "Sign in to rename transaction" %>">
              <%= pop_icon_to "edit",
                  edit_canonical_pending_transaction_path(ct),
                  disabled: !organizer_signed_in? %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </article>
<% end %>
