<% title "#{render_money(@hcb_code.amount_cents.abs)} charge for #{@hcb_code.memo}" %>
<% instance = @hcb_code.hashid %>

<% admin_tools("mt1") do %>
  <%= link_to "View on Stripe", @hcb_code.stripe_auth_dashboard_url, class: "btn bg-accent" %>
<% end %>

<% @hcb_code.canonical_pending_transactions.each do |pt| %>
<%= render partial: "admin_viewer", locals: { record: pt } %>
<%= render partial: "admin_viewer", locals: { record: pt.raw_pending_stripe_transaction } %>
<% end %>
<% @hcb_code.canonical_transactions.each do |pt| %>
<%= render partial: "admin_viewer", locals: { record: pt } %>
<% end %>

<div class="mt2 mb3">
<article class="card pb0 mt3 mb1">

  <h2 class="h2 mt0 mx0 border-none flex items-center justify-between">
    <span class="flex-auto">
      <%= turbo_frame_tag @hcb_code do %>
        <%= pop_icon_to "edit",
            edit_hcb_code_path(@hcb_code),
            class: "mr2 align-middle", "aria-label": "Rename transaction",
            data: { turbo: true } %>

        <span class="align-middle"
              data-controller="navigation"
              data-action="dblclick->navigation#navigate"
              data-navigation-location-param="<%= edit_hcb_code_path(@hcb_code) %>"
              data-navigation-frame-param="<%= dom_id(@hcb_code) %>">
          <%= @hcb_code.memo %>
          <span class="regular muted"> <%= @hcb_code.stripe_refund? ? "refunded" : "for" %> </span>
          <%= number_to_currency(@hcb_code.amount.abs) %>
        </span>
      <% end %>
    </span>

      <% if @hcb_code.pt&.declined? %>
        <span class="badge h4 md-right bg-accent">
          Declined
          <%= inline_icon :info, size: 20 %>
        </span>
      <% end %>
      <% if @hcb_code.pt&.unsettled? %>
        <span class="badge h4 md-right bg-muted">
          Pending
          <%= inline_icon :info, size: 20 %>
        </span>
      <% end %>
    </h2>

    <section class="card__banner card__darker details-horiz border-top border-bottom">
      <p>
        <strong>Card</strong>
        <%= stripe_card_mention @hcb_code.stripe_card %>
      </p>
      <p>
        <strong><%= @hcb_code.stripe_refund? ? "Refunded to" : "Spender" %></strong>
        <%= link_to @hcb_code.stripe_card do %>
          <%= user_mention @hcb_code.stripe_card.user %>
        <% end %>
      </p>
      <p>
        <strong><%= @hcb_code.stripe_refund? ? "Refunded" : "Spent" %></strong>
        <%= local_time_ago @hcb_code.pt&.raw_pending_stripe_transaction&.created_at || Time.at(@hcb_code.ct.raw_stripe_transaction.stripe_transaction["created"]) %>
      </p>
      <% unless @hcb_code.ct.nil? || @hcb_code.pt.nil? %>
        <p>
          <strong>Settled after</strong>
          <span title="<%= Time.at(@hcb_code.ct.raw_stripe_transaction.stripe_transaction["created"]).strftime("%B %e, %Y %l:%M%P") %>">
          <%= distance_of_time_in_words @hcb_code.pt.raw_pending_stripe_transaction.created_at, @hcb_code.ct.created_at %>
          </span>
        </p>
      <% end %>
    </section>

    <section class="details details--wide pt2 pb2 details--tall">
      <% if @hcb_code.pt&.declined? %>
      <p>
      <strong>Declined</strong>
      <span><em>This transaction was declined.</em></span>
      </p>
      <% end %>
      <% if @hcb_code.pt&.unsettled? %>
      <p>
      <strong>Pending</strong>
      <span><em>This transaction is still pending, the amount may be more or less than shown here.</em></span>
      </p>
      <% end %>
      <div>
        <span style="height: 100%;">
          <strong>Merchant</strong>
        </span>
        <% if organizer_signed_in? %>
          <% if defined?(@frame) && @frame %>
            <details>
              <summary class="inline-flex no-select">
                <%= country_to_emoji @hcb_code.stripe_merchant["country"] %>
                <%= @hcb_code.stripe_merchant["name"] %>
                <%= inline_icon "down-caret", size: 24, class: "muted flip-when-open", 'aria-label': "Icon indicating click for more" %>
              </summary>

              <div class="details mb2 mt2">
                <p>
                  <strong>Name</strong>
                  <span>
                    <%= @hcb_code.stripe_merchant["name"].humanize.capitalize %>
                  </span>
                </p>
                <p>
                  <strong>Category</strong>
                  <span>
                    <%= @hcb_code.stripe_merchant["category"].humanize.capitalize %>
                  </span>
                </p>
                <p>
                  <strong>Currency</strong>
                  <span>
                  <%= @hcb_code.stripe_merchant_currency.upcase %>
                  </span>
                </p>
                <% if is_city_or_phone?(@hcb_code.stripe_merchant["city"]) == :phone %>
                  <p>
                    <strong>Phone</strong>
                    <span><%= @hcb_code.stripe_merchant["city"] %></span>
                  </p>
                <% elsif is_city_or_phone?(@hcb_code.stripe_merchant["city"]) == :city %>
                  <p>
                    <strong>City</strong>
                    <span><%= @hcb_code.stripe_merchant["city"].humanize %></span>
                  </p>
                <% end %>
                <p>
                  <strong>Zip</strong>
                  <span><%= (@hcb_code.stripe_merchant["postal_code"] or "Unknown") %></span>
                </p>
                <p>
                  <strong>State</strong>
                  <span><%= (@hcb_code.stripe_merchant["state"]&.upcase or "Unknown") %></span>
                </p>
                <p>
                  <strong>Country</strong>
                  <span><%= country_to_emoji @hcb_code.stripe_merchant["country"] %></span>
                </p>
              </div>
              <p class="my0 muted">
                Details are provided by the merchant and not guaranteed to be correct.
              </p>
            </details>
          <% else %>
            <action data-behavior="modal_trigger" data-modal="merchant_details_<%= instance %>" class="pointer" tabindex="0">
              <span class="inline-flex">
                <%= country_to_emoji @hcb_code.stripe_merchant["country"] %>
                <%= @hcb_code.stripe_merchant["name"] %>
                <%= inline_icon "external", size: 24, class: "muted", 'aria-label': "Icon indicating click for more" %>
              </span>
            </action>
          <% end %>
        <% else %>
          <span><strong>Sign in to view</strong></span>
        <% end %>
      </div>
      <% if @hcb_code.pt.present? %>
        <div>
          <span style="height: 100%;">
            <strong>Charge method</strong>
          </span>
          <% if organizer_signed_in? %>
            <% if defined?(@frame) && @frame %>
              <details>
                <summary class="inline-flex no-select">
                  <%= @hcb_code.pt.raw_pending_stripe_transaction.stripe_transaction["authorization_method"].humanize %>
                  <%= inline_icon "down-caret", size: 24, class: "muted flip-when-open", 'aria-label': "Icon indicating click for more" %>
                </summary>
                <% @verification_data = @hcb_code.pt.raw_pending_stripe_transaction.stripe_transaction["verification_data"] %>

                <article class="details-horiz mt2 mb1">

                  <div class="mt1 md-mt0" style="width: 100%;">
                    <p class="details__simulated">
                      <%= stripe_verification_check_badge "address_line1" %>
                      <span>Address check</span>
                    </p>
                    <p class="details__simulated">
                      <%= stripe_verification_check_badge "address_postal_code" %>
                      <span>Zip check</span>
                    </p>
                  </div>

                  <div class="mt1 md-mt0" style="width: 100%;">
                    <p class="details__simulated">
                      <%= stripe_verification_check_badge "expiry" %>
                      <span>Expiry check</span>
                    </p>
                    <p class="details__simulated">
                      <%= stripe_verification_check_badge "cvc" %>
                      <span>CVC check</span>
                    </p>
                  </div>
                </article>

                <% if @hcb_code.pt.raw_pending_stripe_transaction.stripe_transaction["authorization_method"] == "contactless" && !@hcb_code.pt.raw_pending_stripe_transaction.stripe_transaction["wallet"].nil? %>
                  <p class="details__simulated">
                    <strong>Wallet</strong>
                    <span class="pl1"><%= @hcb_code.pt.raw_pending_stripe_transaction.stripe_transaction["wallet"].titleize %></span>
                  </p>
                <% end %>
              </details>
            <% else %>
              <action data-behavior="modal_trigger" data-modal="verification_details_<%= instance %>" class="pointer" tabindex="0">
                <span>
                <%= @hcb_code.pt.raw_pending_stripe_transaction.stripe_transaction["authorization_method"].humanize %>
                <%= inline_icon "external", size: 24, class: "muted", 'aria-label': "Icon indicating click for more" %>
                </span>
              </action>
            <% end %>
          <% else %>
            <span><strong>Sign in to view</strong></span>
          <% end %>
        </div>
      <% end %>
      <%= render "hcb_codes/tags", hcb_code: @hcb_code, event: (@event || @hcb_code.event) %>
    </section>

    <% unless @hcb_code.stripe_refund? %>
      <% if @hcb_code.receipts.any? %>
        <p class="card__banner bg-success white bold flex items-center mt0 mb0">
          <%= inline_icon "checkmark", size: 24, class: "mr2" %>
          <%= pluralize @hcb_code.receipts.count, "receipt" %>
          added
        </p>
      <% elsif @hcb_code.no_or_lost_receipt? %>
        <p class="card__banner bg-muted white bold flex items-center mt0 mb0">
          <%= inline_icon "view-close", size: 24, class: "mr2" %>
          Marked no/lost receipt
        </p>
      <% elsif @hcb_code.pt&.declined? %>
        <p class="card__banner bg-muted white bold flex items-center mt0 mb0">
          <%= inline_icon "important", size: 24, class: "mr2" %>
          This transaction has no receipt
        </p>
      <% else %>
        <p class="card__banner bg-pending slate bold flex items-center mt0 mb0">
          <%= inline_icon "important", size: 24, class: "mr2" %>
          This transaction is missing a receipt
        </p>
      <% end %>
    <% end %>

  </article>
  <%= render partial: "hcb_codes/dispute", locals: { type: "card", hcb_code: @hcb_code } %>
</div>

<% unless defined?(@frame) && @frame %>
  <% if organizer_signed_in? %>
    <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="merchant_details_<%= instance %>">
      <%= modal_header "Merchant details" %>

      <div class="details mb2">
        <p>
          <strong>Name</strong>
          <span>
            <%= @hcb_code.stripe_merchant["name"].humanize.capitalize %>
          </span>
        </p>
        <p>
          <strong>Category</strong>
          <span>
            <%= @hcb_code.stripe_merchant["category"].humanize.capitalize %>
          </span>
        </p>
        <p>
          <strong>Currency</strong>
          <span>
          <%= @hcb_code.stripe_merchant_currency.upcase %>
          </span>
        </p>
        <% if is_city_or_phone?(@hcb_code.stripe_merchant["city"]) == :phone %>
          <p>
            <strong>Phone</strong>
            <span><%= @hcb_code.stripe_merchant["city"] %></span>
          </p>
        <% elsif is_city_or_phone?(@hcb_code.stripe_merchant["city"]) == :city %>
          <p>
            <strong>City</strong>
            <span><%= @hcb_code.stripe_merchant["city"].humanize %></span>
          </p>
        <% end %>
        <p>
          <strong>Zip</strong>
          <span><%= (@hcb_code.stripe_merchant["postal_code"] or "Unknown") %></span>
        </p>
        <p>
          <strong>State</strong>
          <span><%= (@hcb_code.stripe_merchant["state"]&.upcase or "Unknown") %></span>
        </p>
        <p>
          <strong>Country</strong>
          <span><%= country_to_emoji @hcb_code.stripe_merchant["country"] %></span>
        </p>
      </div>
      <article class="card__banner secondary border-top" style="margin: -2em; margin-top: 0;">
        <p class="my0 muted">
          Details are provided by the merchant and not guaranteed to be correct.
        </p>
      </article>
    </section>
  <% end %>

  <% if organizer_signed_in? && @hcb_code.pt.present? %>
    <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="verification_details_<%= instance %>">
      <%= modal_header "Charge details" %>
      <% @verification_data = @hcb_code.pt.raw_pending_stripe_transaction.stripe_transaction["verification_data"] %>

      <article class="details-horiz">
        <div class="mt1 md-mt0" style="width: 100%;">
          <p class="details__simulated">
            <strong>Type</strong>
            <span class="pl1">
            <%= @hcb_code.pt.raw_pending_stripe_transaction.stripe_transaction["authorization_method"].humanize.capitalize %>
            </span>
          </p>
          <% if @hcb_code.pt.raw_pending_stripe_transaction.stripe_transaction["authorization_method"] == "contactless" && !@hcb_code.pt.raw_pending_stripe_transaction.stripe_transaction["wallet"].nil? %>
            <p class="details__simulated">
              <strong>Wallet</strong>
              <span class="pl1"><%= @hcb_code.pt.raw_pending_stripe_transaction.stripe_transaction["wallet"].titleize %></span>
            </p>
          <% end %>
        </div>

        <div class="mt1 md-mt0" style="width: 100%;">
          <p class="details__simulated">
            <%= stripe_verification_check_badge "address_line1" %>
            <span>Address check</span>
          </p>
          <p class="details__simulated">
            <%= stripe_verification_check_badge "address_postal_code" %>
            <span>Zip check</span>
          </p>
        </div>

        <div class="mt1 md-mt0" style="width: 100%;">
          <p class="details__simulated">
            <%= stripe_verification_check_badge "expiry" %>
            <span>Expiry check</span>
          </p>
          <p class="details__simulated">
            <%= stripe_verification_check_badge "cvc" %>
            <span>CVC check</span>
          </p>
        </div>
      </article>

      <% @raw_pending_stripe_tranasction_decorator = RawPendingStripeTransactionDecorator.new @hcb_code.pt.raw_pending_stripe_transaction %>
      <% if @raw_pending_stripe_tranasction_decorator.currency != 'USD' %>
        <article class="card__banner secondary border-top" style="margin: -2em; margin-top: 0;">
          <p class="my0 muted">
            This transaction was initially charged as <%= @raw_pending_stripe_tranasction_decorator.original_amount_international %>.
          </p>
        </article>
      <% end %>
    </section>
  <% end %>
<% end %>
