<!-- transaction history -->
<h2>Transaction history</h2>

<article class="table-container">
  <table>
    <thead>
      <tr>
        <th>DATE</th>
        <th>MEMO</th>
        <th style="text-align: right;">AMOUNT</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @hcb_code.canonical_transactions.each do |ct| %>
        <% if current_user.admin? || ct.event.try(:users).try(:include?, current_user) %>
          <tr>
            <td><%= format_date ct.date %></td>
            <td><%= ct.smart_memo %></td>
            <td style="text-align: right;"><%= number_to_currency(ct.amount) %></td>
            <td>
              <%= pop_icon_to "edit",
                  edit_canonical_transaction_path(ct),
                  class: "right tooltipped tooltipped--w", "aria-label": "Rename transaction" if organizer_signed_in? %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <% if @hcb_code.canonical_transactions.empty? %>
    <%= blankslate "No settled transactions just yet" %>
  <% end %>
</article>
