<% if @hcb_code.wise_transfer.wise_url %>
  <% admin_tool("mt3") do %>
    <%= link_to @hcb_code.wise_transfer.wise_url, class: "btn bg-accent", target: "_blank" do %>
      <%= inline_icon "wise" %>
      View transfer on Wise
    <% end %>
  <% end %>
<% end %>

<article class="card pb0 mt3 mb1">
  <%= render "hcb_codes/heading", hcb_code: @hcb_code do %>
    <span style="flex-grow: 1">
      <% if @hcb_code.wise_transfer.failed? %>
        <span class="regular muted">Attempted to Wise transfer to</span>
        <%= @hcb_code.wise_transfer.recipient_name %>
        <span class="regular muted">for</span>
        <span class="regular"><%= Money.from_cents(@hcb_code.wise_transfer.amount_cents, @hcb_code.wise_transfer.currency).format %></span>
        <span class="regular muted">(charged <%= render_money(@hcb_code.amount_cents * -1) %>)</span>
      <% else %>
        <span class="regular muted">Wise transfer to</span>
        <%= @hcb_code.wise_transfer.recipient_name %>
        <span class="regular muted">for</span>
        <span class="regular"><%= Money.from_cents(@hcb_code.wise_transfer.amount_cents, @hcb_code.wise_transfer.currency).format %> <%= @hcb_code.wise_transfer.currency %></span>
      <% end %>
    </span>
    <span class="badge h4 md-right bg-<%= @hcb_code.wise_transfer.status_color %> nowrap">
      <%= @hcb_code.wise_transfer.state_text %>
    </span>
  <% end %>

  <section class="card__banner card__darker details-horiz border-top border-bottom">
    <p>
      <strong>Sent by</strong>
      <%= user_mention @hcb_code.wise_transfer.user %>
    </p>
    <p>
      <strong>Sent at</strong>
      <%= format_datetime @hcb_code.wise_transfer.created_at %>
    </p>
    <% if @hcb_code.wise_transfer.pending? || @hcb_code.wise_transfer.approved? %>
        <% admin_tool "w-fit" do %>
          <%= link_to "Process", wise_transfer_process_admin_path(@hcb_code.wise_transfer), class: "btn", target: "_blank" %>
        <% end %>
      <% end %>
  </section>
  <turbo-frame id="details">
    <section class="details pt2 pb2">
      <p>
        <strong>Recipient name</strong>
        <%= @hcb_code.wise_transfer.recipient_name %>
      </p>

      <p>
        <strong>Recipient email</strong>
        <%= @hcb_code.wise_transfer.recipient_email %>
      </p>

      <p>
        <strong>Recipient country</strong>
        <%= @hcb_code.wise_transfer.recipient_country %>
      </p>

      <p>
        <strong>Payment purpose</strong>
        <%= @hcb_code.wise_transfer.payment_for %>
      </p>

      <% if @hcb_code.wise_transfer.return_reason.present? %>
        <p>
          <strong>Return reason</strong>
          <%= @hcb_code.wise_transfer.return_reason %>
        </p>
      <% end %>

      <p>
        <strong>Amount (<%= @hcb_code.wise_transfer.currency %>)</strong>
        <%= Money.from_cents(@hcb_code.wise_transfer.amount_cents, @hcb_code.wise_transfer.currency).format %>
      </p>

      <p>
        <% if @hcb_code.ct.present? %>
          <strong>Settled amount (USD)</strong>
        <% else %>
          <strong>Pending amount (USD)</strong>
        <% end %>
        <%= render_money @hcb_code.amount_cents.abs %>
      </p>

      <%= render "hcb_codes/tags", hcb_code: @hcb_code, event: @event || @hcb_code.event %>
    </section>

    <% unless @hcb_code.pt.settled? %>
      <section class="card__banner relative bg-[#9FE870] dark:text-[#9FE870] text-[#163300] dark:bg-[#163300] flex flex-row items-center justify-start gap-4 mt-0 md:gap-2">
        <%= inline_icon "wise", size: 16 %>
        <div class="flex md:flex-row flex-col items-start justify-start gap-1 flex-grow">
          The amount you pay (<%= render_money @hcb_code.amount_cents.abs %> USD) might change.
          <span class="md:flex-grow"></span>
          <%= link_to "Learn more about Wise transfers on HCB →", "https://help.hcb.hackclub.com/article/65-wise", class: "dark:!text-[#9FE870] !text-[#163300] bold no-underline after:content-[''] after:top-0 after:left-0 after:bottom-0 after:right-0 after:z-index-1 after:absolute", target: "_blank" %>
        </div>
      </section>
    <% end %>
  </turbo-frame>

</article>
