<% title "Upload Receipt for #{@hcb_code.memo}" %>
<% page_md %>
<% no_transparency_header %>

<div class="container container--sm">
  <h1 class="center border-none h1 mt0 mb0 pt3 pb1 link-reset primary">Attach a receipt</h1>
  <p class="center mb3 mt1">
    <strong><%= render_money @hcb_code.amount_cents.abs %></strong> transaction for
    <span class="truncate break-none">"<%= @hcb_code.memo %>"</span>
  </p>

  <%= render partial: "receipts/form_v3", locals: {
        receiptable: @hcb_code,
        upload_method: "attach_receipt_page",
        include_spacing: true,
        show_banner: true,
        secret: @secret,
        global_paste: true,
        turbo: false
      } %>

  <% admin_tool("mt2") do %>
    <p>The secret url for this hcb code is <%= attach_receipt_url @hcb_code %></p>
  <% end %>

  <hr>

  <div class="center">
    <%= link_to hcb_code_path(@hcb_code, redirect_to_sign_in: true), class: "btn bg-accent center m1" do %>
      <%= inline_icon "view" %>
      See more details
    <% end %>
    <%= link_to my_inbox_path, class: "btn bg-muted center m1" do %>
      <%= inline_icon "payment-docs" %>
      All missing receipts
    <% end %>
  </div>
</div>
