<head>
  <meta charset="UTF-8">
  <title>HCB - <%= @event.name %> Donation Breakdown</title>
  <script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
  <script>
    window.onload = function () {
      twemoji.parse(document.body);
    }
  </script>
  <style>
    img.emoji {
      height: 1em;
      width: 1em;
      margin: 0 .05em 0 .1em;
      vertical-align: -0.1em;
    }

    .container {
      font-size: 13pt;
      line-height: 1.15;
      position: relative;
      padding-left: 40pt;
      padding-right: 40pt;
      display: block;
    }

    .centerImage {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    
    .bold {
      font-weight: bold;
    }

    body {
      margin: 8px;
      font-family: 'Arial';
    }

    a {
      color: #1155cc;
    }

    .auto-page-break { 
      page-break-before: auto;  
      page-break-inside: avoid;
    }
    
    table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      font-size: 9pt;
    }
    table, th, td {
      border: 1px solid gray;
    }
    td {
      padding: 4pt;
    }
    
  </style>
</head>
<body>
  <br />
  <div class="container">
    <br />
    <p style="font-size: 12.5pt;"><span class="bold"><%= @event.name %> Donation Breakdown</span></p>
    <br />
    <% if @spent_on.any? %>
      <div style="line-height: 1.5;">
        <p>
          Thank you for your kind donation towards <%= @event.name %>, your support is truly appreciated. This document serves as a breakdown of how your donation was spent.
        </p>
        <table style="line-height: 1.15">
          <thead>
            <tr>
              <th colspan="2">Transaction</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <% @spent_on.each do |transaction| %>
              <tr>
                <td class="bold" colspan="2">
                  <%= link_to transaction[:memo].strip, transaction[:url] %>
                </td>
                <td>
                  <%= render_money transaction[:amount] %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% if @available > 0 %>
          <p>
            At the moment, <%= render_money @amount %> of your donation is yet to be spent.
          </p>
        <% end %>
        <% if  @event.is_public?  %>
          <p>
            Additionally, <%= @event.name %> have made their entire finances transparent at <a href="https://hcb.hackclub.com/<%= @event.slug %>">hcb.hackclub.com/<%= @event.slug %></a>.
          </p>
        <% end %>
      </div>
    <% else %>
      <div style="line-height: 1.5;">
        <p>
          Thank you for your kind donation towards <%= @event.name %>, your support is truly appreciated. At the moment, your donation has yet to be spent.
        </p>
        <% if  @event.is_public?  %>
          <p>
            <%= @event.name %> have made their entire finances transparent at <a href="https://hcb.hackclub.com/<%= @event.slug %>">hcb.hackclub.com/<%= @event.slug %></a>.
          </p>
        <% end %>
      </div>
    <% end %>

    <br />
    <p style="font-size: 12pt; font-weight: bold; color: #434343; margin-top: 18px; width: 100%; white-space: nowrap;">
      <%= @event.name %>
    </p>
    <p style="font-size: 10pt; color: #999999; margin-top: 8px; width: 100%; white-space: nowrap;">
      Fiscally sponsored by The Hack Foundation (d.b.a. Hack Club), a 501(c)(3) nonprofit (EIN: 81-2908499).
    </p>
  </div>
</body>
