<%= form_with url: link_receipts_path, method: :post, data: {
      controller: "receipt-select"
} do |form| %>
  <% if @receipts.size == 0 %>
    <%= blankslate "Receipt Bin is empty." %>
  <% else %>
    <input placeholder="Search" style="max-width: none;" class="mb3" type="text" id="q">

    <span data-receipt-select-target="select" style="display: none;">
      <%= form.select :receipt_id, @receipts.map { |receipt| [receipt.id, receipt.id] }, include_blank: true %>
    </span>

    <%= form.hidden_field :receiptable_id, value: @hcb_code.id %>
    <%= form.hidden_field :receiptable_type, value: "HcbCode" %>

    <ul class="grid grid--narrow left-align w-100 mt0 grid--spacious">
      <% @receipts.each do |receipt| %>
        <li class="flex grid flex-col justify-between h-100 mx4">
          <%= render partial: "receipts/receipt", locals: { receipt: receipt, select_target: true } %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <footer class="modal__action-row flex justify-end">
    <%= link_to my_inbox_path, target: "_blank", class: "btn btn--primary mr2" do %>
      Manage receipts
    <% end %>
    <%= form.submit "Add to transaction", class: "btn bg-success", data: {
          "receipt-select-target" => "confirm"
    }, disabled: true %>
    
    <%# TODO: Replace dynamically with the right receiptable, since not just transactions are supported %>
  </footer>

<% end %>
