<% et = emburse_transaction %>
<tr
  class="transaction--<%= et.amount.positive? ? 'positive' : 'negative'  %><%= ' muted' if !et.completed? %>"
  data-behavior="filterbar_row"
  data-filter="<%= et.filter_data.to_json %>">
  <td class="transaction__icon tooltipped tooltipped--e" aria-label="Emburse card transaction">
    <%= inline_icon et.amount > 0 || et.merchant_name.nil? ? 'payment-transfer' : 'card' %>
  </td>
  <td>
    <%= et.transaction_time.nil? ? '–' : et.transaction_time.to_date %>
  </td>
  <td class="flex justify-between">
    <% if et.amount > 0 %>
      <i>Transfer from bank account</i>
    <% elsif et.merchant_name.nil? %>
      <i>Transfer back to bank account</i>
    <% elsif !et.completed? %>
      <i><%= et.merchant_name %></i>
    <% else %>
      <%= et.merchant_name %>
    <% end %>
  </td>
  <td>
    <%= list_badge_for et.comments.size, 'note', 'post', optional: true %>
  </td>
  <td class="nowrap">
    <%= render_money et.amount %>
  </td>
  <td>
    <%= link_to 'Details', et if organizer_signed_in? %>
  </td>
</tr>
  
