<% et = emburse_transaction %>
<tr class="transaction <%= " muted" if !et.completed? %>">
  <% if defined? authorless %>
  <% else %>
  <% if et.card %>
    <% if defined? @event %>
      <td
        class="transaction__icon tooltipped tooltipped--e"
        aria-label="Card transaction by <%= et.card.user.initial_name %>">
        <%= link_to et.card do %>
          <%= avatar_for et.card.user, 24 %>
        <% end %>
      </td>
    <% else %>
      <td>
        <%= emburse_card_mention et.card %>
      </td>
    <% end %>
  <% else %>
    <td class="transaction__icon tooltipped tooltipped--e" aria-label="Emburse card transaction">
      <%= inline_icon et.transfer? ? "payment-transfer" : "card" %>
    </td>
  <% end %>
  <% end %>
  <td>
    <%= et.transaction_time.nil? ? "–" : et.transaction_time.to_date %>
  </td>
  <td class="transaction__memo">
    <% unless et.completed? %>
      <%= badge_for "Pending", class: "ml0 mr1" %>
    <% end %>
    <span>
      <%= et.memo.humanize %>
    </span>
    <%= list_badge_for admin_signed_in? ? et.comments.size : et.comments.not_admin_only.size, "comment", "post", optional: true %>
    <%= list_badge_for et.receipts.size, "receipt", "payment-docs", required: true unless et.is_transfer? %>
  </td>
  <td class="nowrap">
    <%= render_transaction_amount et.amount %>
  </td>
  <% if organizer_signed_in? || !@event %>
    <td>
      <%= link_to "Details", et %>
    </td>
  <% end %>
</tr>
