<tr>
  <td><%= et.transaction_time.nil? ? "–" : et.transaction_time.to_date %></td>
  <td>
    <div class="flex items-center">
      <span class="tooltipped tooltipped--w mr1" aria-label="<%= et.state.capitalize %>">
        <%= status_badge et.status_badge_type %>
      </span>
      <% if et.transfer? %>
        <strong><%= et.memo %></strong>
      <% else %>
        <%= et.memo %>
      <% end %>

      <% if et.receipts.any? %>
        <% if organizer_signed_in? %>
          <span class="tooltipped tooltipped--e" aria-label="<%= et.category_name.presence || "Not categorized" %>">
            <%= link_to et, target: "_blank", class: "text-decoration-none" do %>
              <%= inline_icon "payment-docs", size: 16, class: "ml1" %>
            <% end %>
          </span>
        <% else %>
          <span class="tooltipped tooltipped--e" aria-label="Sign in to view receipts">
            <%= link_to root_path, target: "_blank", class: "text-decoration-none" do %>
              <%= inline_icon "payment-docs", size: 16, class: "ml1" %>
            <% end %>
          </span>
        <% end %>
      <% end %>
    </div>
  </td>
  <td class="nowrap"><%= render_money et.amount %></td>
  <% if show_running_sum %>
    <td class="nowrap"><%= render_money @sum %></td>
    <% @sum -= et.amount if et.undeclined? %>
  <% end %>
  <% if defined? show_card %>
  <td>
    <%= et.emburse_card.nil? ? "—" : emburse_card_mention(et.emburse_card) %>
    <%= "(#{et.emburse_card.full_name})" if et.emburse_card %>
  </td>
  <% end %>
  <td>
    <%= link_to "More", et, class: "secondary" %>
  </td>
</tr>
