<% title 'Emburse transactions' %>

<h1>Emburse transactions</h1>

<%= paginate @all_et %>
<table>
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Emburse ID</th>
      <th>Amount</th>
      <th>State</th>
      <th>Associated project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emburse_transactions.each do |emburse_transaction| %>
      <tr class="<%= 'shade-yellow' if emburse_transaction.under_review? %>">
        <td><%= format_datetime emburse_transaction.created_at %></td>
        <td><%= link_to emburse_transaction.emburse_id, emburse_transaction.emburse_path %></td>
        <td><%= render_money emburse_transaction.amount %></td>
        <td class="flex items-center">
          <%= status_badge emburse_transaction.status_badge_type %>
          <%= emburse_transaction.state.to_s.humanize %>
        </td>
        <% if emburse_transaction.event.nil? %>
          <td>Unset</td>
        <% else %>
          <td><%= link_to emburse_transaction.event.name, emburse_transaction.event %></td>
        <% end %>
        <td><%= link_to emburse_transaction.under_review? ? 'Process' : 'Edit', edit_emburse_transaction_path(emburse_transaction), class: 'h5 btn bg-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
