<% if @emburse_card %>
  <% title "#{render_money @emburse_transaction.amount.abs} #{@emburse_transaction.amount > 0 ? 'credited from' : 'spent at' } #{@emburse_transaction.merchant_name}" %>
<% else %>
  <% title "Transfer of #{render_money @emburse_transaction.amount}" %>
<% end %>
<% page_sm %>
<%= render 'events/nav' if @event %>

<% if @emburse_card %>
  <%= render @emburse_card %>
<% end %>

<% admin_tools('mt3 mb0') do %>
  <%= link_to 'Emburse transaction', @emburse_transaction.emburse_path, target: '_blank' %>
  <% if @event %>
    <%= link_to 'Emburse department', @event.emburse_department_path, target: '_blank' %>
  <% end %>
<% end %>

<article class="card max-width-2 mx-auto mt3">
  <section class="mb2">
    <h2 class="mt0 mb0 heading">
      <% if @emburse_card %>
        <span class="flex-auto mb1"><%= "#{render_money @emburse_transaction.amount.abs} #{@emburse_transaction.amount > 0 ? 'credited from' : 'spent at' } #{@emburse_transaction.merchant_name}" %></span>
      <% else %>
        <span class="flex-auto mb1">Transfer of <%= render_money @emburse_transaction.amount %></span>
      <% end %>
      <span class="badge h4 md-right ml0 mb1 bg-<%= @emburse_transaction.status_badge_type %>">
        <%= @emburse_transaction.status_text %>
      </span>
    </h2>

    <section class="details pt2">
      <p>
        <strong>Amount <%= @emburse_transaction.amount > 0 ? 'credited' : 'spent' %></strong>
        <%= render_money @emburse_transaction.amount.abs %>
      </p>

      <% if @emburse_card %>
        <p>
          <strong>Category</strong>
          <%= @emburse_transaction.category_name.nil? ? "Uncategorized" : @emburse_transaction.category_name %>
        </p>

        <p>
          <strong>Spent by</strong>
          <% if @emburse_transaction.emburse_card.nil? %>
            -
          <% else %>
            <%= "#{@emburse_transaction.emburse_card.full_name}"%>
          <% end %>
        </p>
      <% end %>
    </section>
  </section>
  <% unless @emburse_transaction.is_transfer? %>
    <% if @emburse_transaction.no_or_lost_receipt? %>
      <p class="card__banner card__banner--bottom bg-muted white bold flex items-center">
        <%= inline_icon 'view-close', size: 24, class: 'mr2' %>
        Marked no/lost receipt
      </p>
    <% elsif @emburse_transaction.missing_receipt? %>
      <p class="card__banner card__banner--bottom bg-pending slate bold flex items-center">
        <%= inline_icon 'important', size: 24, class: 'mr2' %>
        This transaction is missing a receipt
      </p>
    <% else %>
      <p class="card__banner card__banner--bottom bg-success white bold flex items-center">
        <%= inline_icon 'checkmark', size: 24, class: 'mr2' %>
        <%= pluralize @emburse_transaction.receipts.count, 'receipt' %>
        added
      </p>
    <% end %>
  <% end %>
</article>

<% if organizer_signed_in? %>
  <% if @emburse_transaction.receipts.any? %>
    <h2>Receipts</h2>
    <section class="grid grid--split mt2 mb3">
      <%= render @emburse_transaction.receipts %>
      <%= render 'receipts/upload', receiptable: @emburse_transaction %>
    </section>
  <% else %>
    <%= render 'receipts/upload', receiptable: @emburse_transaction %>
  <% end %>
<% end %>

<%= render 'comments/comments' %>

<% admin_tools do %>
  <pre>
    <%= json @emburse_transaction %>
  </pre>
<% end %>
