<p>
Heads up! You have <%= @hcb_ids.count %> <%= "receipt".pluralize(@hcb_ids.count) %> that <%= "hasn't".pluralize(@hcb_ids.count) %> been uploaded to HCB.
<%= @flavor_text %>
</p>

<p>
You can also find this list in <%= link_to "your inbox", my_inbox_url %>.
</p>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Merchant</th>
      <th>Time</th>
      <% if @show_org %>
        <th>Organization</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @hcb_codes.order(created_at: :desc).each do |hcb| %>
      <tr>
        <td><%= link_to render_money(hcb.amount_cents.abs.to_s), hcb_code_url(hcb) %></td>
        <td><%= hcb.stripe_merchant["name"] %></td>
        <td><%= time_ago_in_words(hcb.created_at) %> ago</td>
        <% if @show_org %>
          <td><%= hcb.event.name %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  From,<br>
  The HCB Team
</p>

<p>P.S. You can change how often you receive these in <%= link_to "your report settings page", my_settings_url(anchor: "receipt-reports") %>.</p>
