<% content_for(:nav) do %>
  <h1 class="flex items-center xs-hide border-none h1 mt0 mb0 pt2">
    <%= avatar_for current_user, 36, class: "mr1" %>
    <%= current_user.initial_name %>
  </h1>

  <nav class="dock">
    <%= dock_item "Home",
      root_path,
      tooltip: "See all your organizations.",
      icon: "home" %>
    <%= dock_item "Cards",
      my_cards_path,
      tooltip: "See all your cards.",
      icon: "card" %>
    <%= dock_item "Receipts",
      my_inbox_path,
      tooltip: "See transactions awaiting receipts.",
      icon: "payment-docs",
      async_badge: my_missing_receipts_icon_path %>
    <%= dock_item "Settings",
      my_settings_path,
      tooltip: "Edit account settings.",
      icon: "settings" %>
  </nav>

  <% if current_user.events.not_demo_mode.funded.exists? && Flipper.enabled?(:bank_wrapped, current_user) %>
    <div id="bank-wrapped-dialog" style="display: none;">
      <article role="alertdialog" class="flash flex items-center mt3 mb2 mx-auto shrink-none">
        <span class="flex-auto flex justify-between items-center">
          <span>Check out your <a href="/wrapped" target="_blank">Bank Wrapped</a> for 2022!</span>
        </span>
        <svg onclick="(localStorage.setItem('hide_bank_wrapped_2022', 'true'), document.getElementById('bank-wrapped-dialog').remove())" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414" aria-label="view-close" clip-rule="evenodd" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32" class="pointer" style=""><g><path d="M11.121,9.707c-0.39,-0.391 -1.024,-0.391 -1.414,0c-0.391,0.39 -0.391,1.024 0,1.414l4.95,4.95l-4.95,4.95c-0.391,0.39 -0.391,1.023 0,1.414c0.39,0.39 1.024,0.39 1.414,0l4.95,-4.95l4.95,4.95c0.39,0.39 1.023,0.39 1.414,0c0.39,-0.391 0.39,-1.024 0,-1.414l-4.95,-4.95l4.95,-4.95c0.39,-0.39 0.39,-1.024 0,-1.414c-0.391,-0.391 -1.024,-0.391 -1.414,0l-4.95,4.95l-4.95,-4.95Z"></path></g></svg>
      </article>
    </div>

    <script>
      if (localStorage.getItem('hide_bank_wrapped_2022') !== 'true') {
        document.getElementById('bank-wrapped-dialog').style.display = 'block';
      }
    </script>
  <% end %>
<% end %>
