<%= form_with model: user, html: {
      "x-data": "{ country: #{user.payout_method.instance_of?(User::PayoutMethod::Wire) ? "'#{user.payout_method.recipient_country}'" : "null"} }"
    } do |form| %>
  <fieldset>
    <legend class="heading h3 pb2 bold">How would you like to be reimbursed?</legend>
    <div class="field field--options" style="max-width: none;">
      <%= form.radio_button :payout_method_type, "User::PayoutMethod::AchTransfer" %>
      <%= form.label :payout_method_type, value: "User::PayoutMethod::AchTransfer" do %>
        <%= inline_icon "payment-transfer", size: 28 %>
        <strong>ACH Transfer</strong>
        <small>(1-3 biz. days)</small>
      <% end %>
      <%= form.radio_button :payout_method_type, "User::PayoutMethod::Check" %>
      <%= form.label :payout_method_type, value: "User::PayoutMethod::Check" do %>
        <%= inline_icon "email", size: 28 %>
        <strong>Mailed check</strong>
        <small>(10-12 biz. days)</small>
      <% end %>
      <% if Flipper.enabled?(:wire_reimbursements_2025_02_05, current_user) %>
        <%= form.radio_button :payout_method_type, "User::PayoutMethod::Wire" %>
        <%= form.label :payout_method_type, value: "User::PayoutMethod::Wire" do %>
          <%= inline_icon "web", size: 28 %>
          <strong>International wire</strong>
          <div class="badge badge--corner bg-info m1 mt0" style="width: fit-content;">$500 minimum</div>
          <small>(1-5 biz. days)</small>
        <% end %>
      <% end %>
    </div>
  </fieldset>
  <% if user.payout_method&.errors&.any? %>
    <p class="error">
      <%= user.payout_method.errors.full_messages.to_sentence %>.
    </p>
  <% end %>
  <section data-behavior="check_payout_method_inputs" class="<%= "display-none-not-important" unless user.payout_method.instance_of?(User::PayoutMethod::Check) %>">
    <%= form.fields_for :payout_method, user.payout_method.instance_of?(User::PayoutMethod::Check) ? user.payout_method : User::PayoutMethod::Check.new do |form| %>
      <div class="field">
        <%= form.label :address_line1, "Street address" %>
        <%= form.text_field :address_line1, placeholder: StripeCardholder::DEFAULT_BILLING_ADDRESS[:line1] %>
      </div>

      <div class="field">
        <%= form.text_field :address_line2, placeholder: "(Building / Apartment / Room)" %>
      </div>

      <div class="flex">
        <div class="field flex-auto mr1">
          <%= form.label :address_city, "City" %>
          <%= form.text_field :address_city, placeholder: StripeCardholder::DEFAULT_BILLING_ADDRESS[:city] %>
        </div>
        <div class="field flex-auto ml1">
          <%= form.label :address_state, "State / Province" %>
          <%= form.select :address_state, ISO3166::Country.new("US").subdivisions.values.map { |s| [s.translations["en"], s.code] }, { prompt: "Select a state" } %>
        </div>
      </div>

      <div class="flex">
        <div class="field flex-auto mr1">
          <%= form.label :postal_code %>
          <%= form.text_field :address_postal_code, placeholder: StripeCardholder::DEFAULT_BILLING_ADDRESS[:postal_code] %>
        </div>

        <div class="field flex-auto ml1">
          <%= form.label :address_country, "Country" %>
          <%= form.text_field :address_country, value: "United States", disabled: true %>
        </div>
      </div>

      <div class="actions inline-block mt1">
        <%= form.submit "Save" %>
      </div>
    <% end %>
  </section>

  <% if Flipper.enabled?(:wire_reimbursements_2025_02_05, current_user) %>
    <section data-behavior="wire_payout_method_inputs" class="<%= "display-none-not-important" unless user.payout_method.instance_of?(User::PayoutMethod::Wire) %>">
      <%= form.fields_for :payout_method_wire, user.payout_method.instance_of?(User::PayoutMethod::Wire) ? user.payout_method : User::PayoutMethod::Wire.new do |form| %>
        <%= render partial: "wires/recipient_details", locals: { form:, disabled: false } %>

        <%= render partial: "wires/account_details", locals: { form:, disabled: false, account_number_field_name: :account_number } %>

        <%= render partial: "wires/country_specific_details", locals: { form:, disabled: false, excluded_fields: ["remittance_info", "purpose_code"] } %>

        <div class="actions inline-block mt1">
          <%= form.submit "Save" %>
        </div>
      <% end %>
    </section>
  <% end %>

  <section data-behavior="paypal_transfer_payout_method_inputs" class="<%= "display-none-not-important" unless user.payout_method.instance_of?(User::PayoutMethod::PaypalTransfer) %>">
    <%= render "callout", type: "error", title: "Due to integration issues, transfers via PayPal are currently unavailable.", footer: :questions do %>
      Please update your payout method to either an ACH transfer or a mailed check.
    <% end %>

    <%= render "callout",
        type: "info",
        title: "Important info about PayPal reimbursements" do %>
        <p>PayPal will charge domestic recipients 3% on the money sent to them via a HCB reimbursement.</p>
        <p>Outside of the US, PayPal will charge recipients both a $5 flat fee as well as ~10% fee. Governments may tax these transfers and recipients may have to pay an additional withdrawal fee.</p>
    <% end %>
    <%= form.fields_for :payout_method, user.payout_method.instance_of?(User::PayoutMethod::PaypalTransfer) ? user.payout_method : User::PayoutMethod::PaypalTransfer.new do |form| %>
      <div class="field">
        <%= form.label :recipient_email, "PayPal email" %>
        <%= form.email_field :recipient_email, placeholder: "fionah@gmail.com" %>
      </div>

      <div class="actions inline-block mt1">
        <%= form.submit "Save" %>
      </div>
    <% end %>
  </section>
  <% if user.payout_method.instance_of?(User::PayoutMethod::AchTransfer) %>
    <% errored = !user.payout_method.valid? %>
    <% r_no = user.payout_method.routing_number %>
    <% obfuscated_routing_number = "•" * [r_no.length - 4, 0].max + r_no[[-4, -1 * r_no.length].max..] %>
    <% a_no = user.payout_method.account_number %>
    <% obfuscated_account_number = "•" * [a_no.length - 4, 0].max + a_no[[-4, -1 * a_no.length].max..] %>
  <% else %>
    <% errored = false %>
    <% r_no = "" %>
    <% obfuscated_routing_number = "" %>
    <% a_no = "" %>
    <% obfuscated_account_number = "" %>
  <% end %>
  <section
    data-behavior="ach_transfer_payout_method_inputs"
    class="<%= "display-none-not-important" unless user.payout_method.instance_of?(User::PayoutMethod::AchTransfer) %>"
    x-data="
    {
      routingNumber: '<%= errored ? r_no : obfuscated_routing_number %>',
      accountNumber: '<%= errored ? a_no : obfuscated_account_number %>',
      editing: <%= errored %>,
      toggle() {
        if(!this.editing) {
          this.routingNumber = '';
          this.accountNumber = '';
          this.editing = true;
        } else if (this.routingNumber == '' && this.accountNumber == '') {
          this.editing = false;
          this.routingNumber = '<%= errored ? "" : obfuscated_routing_number %>';
          this.accountNumber = '<%= errored ? "" : obfuscated_account_number %>';
        }
      }
    }">
    <%= form.fields_for :payout_method, user.payout_method.instance_of?(User::PayoutMethod::AchTransfer) ? user.payout_method : User::PayoutMethod::AchTransfer.new do |form| %>
      <div
        class="field"
        data-controller="external-validation"
        data-external-validation-url-value="<%= validate_routing_number_ach_transfers_path %>">
        <%= form.label :routing_number, "Bank routing number" %>
        <%= form.text_field :routing_number,
                            placeholder: "123456789",
                            class: "fs-mask",
                            "@focus": "toggle()",
                            "@blur": "toggle()",
                            "x-model": "routingNumber",
                            data: { action: "input->external-validation#validate" },
                            value: "" %>
        <span class="muted" data-external-validation-target="hint"></span>
      </div>

      <div class="field">
        <%= form.label :account_number, "Bank account number" %>
        <%= form.text_field :account_number,
                            placeholder: "0913338883",
                            class: "fs-mask",
                            "@focus": "toggle()",
                            "@blur": "toggle()",
                            "x-model": "accountNumber",
                            value: "" %>
      </div>

      <div class="actions inline-block mt1">
        <%= form.submit "Save", ':disabled': "!editing", 'x-transition.duration.500ms': "" %>
      </div>
    <% end %>
  </section>
  <% if defined?(report) %>
    <%= form.hidden_field :report_id, value: report.id %>
  <% end %>
<% end %>
