<ul class="tab-container">
  <li class="<%= 'active' if active == 'general' %>">
    <%= link_to 'General', my_settings_path, data: { turbo: true }, onclick: 'history.pushState(null, null, "' + my_settings_path + '");' %>
  </li>
  <li class="<%= 'active' if active == 'previews' %>">
    <%= link_to settings_previews_path, data: { turbo: true }, onclick: 'history.pushState(null, null, "' + settings_previews_path + '");' do %>
      <span class="xs-hide">Feature&nbsp;</span>Previews
    <% end %>
  </li>
  <li class="<%= 'active' if active == 'security' %>">
    <%= link_to 'Security', settings_security_path, data: { turbo: true }, onclick: 'history.pushState(null, null, "' + settings_security_path + '");' %>
  </li>
  <% admin_tools('p0 overflow-hidden', override_pretend: true) do %>
    <li class="<%= 'active' if active == 'admin' %>">
      <%= link_to 'Admin', settings_admin_path, data: { turbo: true }, onclick: 'history.pushState(null, null, "' + settings_security_path + '");' %>
    </li>
  <% end %>
</ul>
