<% title 'Sign in' %>
<% page_xs %>
<% @home_size = 128 %>
<% content_for(:page_class) { 'bg-snow pt4' } %>

<article class="center mt3">
  <h1 class="mt2">
    <span class="h3 caps secondary block">Sign in to</span>
    <span class="primary">Hack Club Bank</span>
  </h1>
  <%= form_tag login_code_users_path, 'data-behavior': 'login' do %>
    <%= label_tag :email, 'Enter your email…', class: 'left-align' %>
    <%= email_field_tag :email, @prefill_email, placeholder: 'Email address', autofocus: true, autocomplete: 'username', class: 'left-align mb2' %>
    <div class="flex justify-center">
      <%= submit_tag 'Get login code' %>
    </div>
  <% end %>
  <p class="h5 muted mt5">Need help? <%= help_message %></p>
  <p class="h5 mt2"><a href="https://hackclub.com/bank?ref=bank_auth">What’s Bank?</a></p>
</article>
