<% title "Sign in" %>
<% page_xs %>
<% @home_size = 128 %>
<% content_for(:page_class) { "bg-snow pt4" } %>

<% content_for :head do %>
  <% img = "/brand/hcb-icon-icon-original.png" %>
  <meta name="twitter:card" content="summary">
  <meta property="og:image" content="<%= img %>">
  <meta name="twitter:image" content="<%= img %>">
  <meta property="og:site_name" content="HCB">
  <meta property="og:url" content="https://hcb.hackclub.com">
  <meta property="og:title" content="Sign in">
  <meta name="twitter:title" content="Sign in">
  <meta property="og:description" content="Sign in to HCB.">
  <meta name="twitter:description" content="Sign in to HCB.">
  <meta name="description" content="Sign in to HCB.">
<% end %>

<article class="center mt3">
  <h1 class="mt2">
    <span class="h3 caps secondary block">Hack Club</span>
    <span class="primary">Sign in to HCB</span>
  </h1>

  <p>How would you like to sign in?</p>

  <%= form_with url: set_login_preference_users_path, method: :post, data: { "controller" => "webauthn-auth form-disable", "webauthn-auth-target" => "authForm", "action" => "webauthn-auth#submit" } do |form| %>
    <div data-webauthn-auth-target="error" class="mb2 display-none">
      <p class="flash error mb1">Security key authentication failed.</p>
    </div>

    <div class="field field--options">
      <%= form.radio_button :login_preference, "webauthn", required: true, data: { "webauthn-auth-target" => "loginPreferenceWebauthnInput", "action" => "form-disable#run", "form-disable-target" => "radioButton" } %>
      <%= form.label :login_preference, value: "webauthn", class: "cursor-pointer" do %>
        <%= inline_icon "fingerprint", size: 28, style: "padding: 3px" %>
        <strong>Security key</strong>
      <% end %>
      <%= form.radio_button :login_preference, "email", required: true, data: { "webauthn-auth-target" => "loginPreferenceWebauthnInput", "action" => "form-disable#run", "form-disable-target" => "radioButton" } %>
      <%= form.label :login_preference, value: "email", class: "cursor-pointer" do %>
        <%= inline_icon "email", size: 28 %>
        <strong>Login code</strong>
      <% end %>
    </div>
    <div class="field field--checkbox justify-center">
        <%= form.check_box :remember, checked: true, data: { "webauthn-auth-target" => "rememberInput" } %>
        <%= form.label :remember, "Remember my choice in this browser" %>
    </div>
    <%= form.hidden_field :email, value: @email, data: { "webauthn-auth-target" => "loginEmailInput" } %>
    <%= form.submit "Continue", data: { "webauthn-auth-target" => "continueButton", "form-disable-target" => "submitButton" } %>
  <% end %>

  <p class="h5 muted mt5">Need help? <%= help_email %></p>
  <p class="h5 mt2"><a href="https://hackclub.com/hcb?ref=hcb_auth">What’s HCB?</a></p>
</article>
