<% if @onboarding %>
  <% page_sm %>
<% else %>
  <% page_md %>
  <%= render 'users/nav' %>
<% end %>

<!--
<main class="<%= !@onboarding && 'grid grid--spacious grid--split' %>" style="grid-row-gap: 0;">

<h1 class="grid__fill">
-->
<h1>
  <%= @onboarding ? 'Welcome to Bank!' : 'Settings' %>
</h1>

<section>
<% if @onboarding %>
  <p>Complete your profile to get started.</p>
<% end %>

<%= form_with(model: @user, local: true) do |form| %>
  <%= form_errors @user, 'user information' %>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, required: true %>
  </div>

  <div class="field">
    <%= form.label :phone_number, 'Mobile phone number (so we can contact you on short notice)' %>
    <%= form.text_field :phone_number, required: true, placeholder: '555-555-5555' %>
  </div>

  <div class="field">
    <%= form.label :email, class: 'muted' %>
    <%= form.email_field :email, disabled: true %>
  </div>

  <%= form.label :profile_picture %>
  <p class="flex items-center mt1">
    <%= avatar_for @user, 48, class: 'mr2' %>
    <span>
      <% if @user.profile_picture.attached? %>
        You're currently using an uploaded profile picture.<br>If you'd like to switch back to your Gravatar, <%= link_to 'click here', user_delete_profile_picture_path(@user), method: :post %>.
      <% else %>
        If you have a <a href="https://gravatar.com" target="_blank">Gravatar</a>, we’ll pull it in here.<br> Or, you can upload a profile picture below.<br>
      <% end %>
    </span>
  </p>
  <div class="field">
    <%= form.file_field :profile_picture, accept: 'image/png, image/jpeg' %>
  </div>

  <% if @user.admin_override_pretend? %>
    <div class="field field--checkbox admin-tools">
      <%= form.check_box :pretend_is_not_admin %>
      <%= form.label :pretend_is_not_admin, 'Pretend not to be an admin on Bank' %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit @user.full_name.present? ? 'Save profile' : 'Start using Bank' %>
  </div>
<% end %>
</section>

<% if false %>
<!--
<% unless @onboarding %>
<section>
  <h2>Card billing settings</h2>

  <%= render 'stripe_cardholders/form',
      stripe_cardholder: @user.stripe_cardholder || StripeCardholder.new(user: @user) %>

</section>
<% end %>
</main>
-->
<% end %>
