<% title "Account Settings" %>
<% page_md %>
<%= render "users/nav", selected: :settings %>

<h1>
  Settings
</h1>
<turbo-frame id="settings">
<%= render "settings_nav", active: "security" %>
<h2>Login details</h2>
<fieldset>
  <% unless @user.phone_number.blank? %>
    <div class="session-header mt3 pb2">
      <legend class="heading flex flex-row justify-start items-center">
        <span class="h2">Login Codes</span>
        <%= badge_for @user.use_sms_auth ? "SMS" : "Email", class: "bg-muted" %>
      </legend>
    </div>
    <div class="card border b--info mt1 mb3">
      <% if @user.phone_number_verified %>
        <% if @user.use_sms_auth %>
          You are currently receiving login codes via SMS. Email codes can still be sent as a backup.
          <%= link_to "Turn off SMS login codes.", toggle_sms_auth_users_path, method: :post %>
        <% else %>
          You are currently receiving login codes via email.
          <%= link_to "Turn on SMS login codes.", toggle_sms_auth_users_path, method: :post %>
        <% end %>
      <% else %>
        <p>Your login codes are sent to <span class="bold"><%= @user.email %></span>.</p>
        <p>
          To send login codes to your phone, first
          <action data-behavior="modal_trigger" data-modal="verify_phone">
            <a>
              verify your phone number.
            </a>
          </action>
        </p>
        <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="verify_phone">
          <%= modal_header "Verify phone number" %>
          <%= react_component "settings/SmsVerification",
                  phoneNumber: @user.phone_number %>
        </section>
      <% end %>
    </div>
  <% end %>
  <div class="session-header mt3 pb2" id="security-keys">
    <legend class="heading flex flex-row justify-start items-center">
      <span class="h2">Security keys</span>
      <%= badge_for @user.webauthn_credentials.count, class: "bg-muted" %>
    </legend>
    <button class="btn px2 h4" data-behavior="modal_trigger" data-modal="webauthn_register">
      <%= inline_icon "plus", size: home_action_size %>
      Set up
    </button>
    <%= render "webauthn_credentials/modal" %>
  </div>
  <% if @user.webauthn_credentials.length > 0 %>
    <div class="grid grid--split mb3">
      <% @user.webauthn_credentials.order(created_at: :desc).each do |credential| %>
        <%= render credential %>
      <% end %>
    </div>
  <% else %>
    <div class="secondary center mb4">
      <%= inline_icon "fingerprint", width: "40px", class: "secondary block mx-auto mb1" %>
      Sign in to Bank using your fingerprint or a hardware security key.
    </div>
  <% end %>
  <div class="session-header pb2">
    <legend class="heading flex flex-row justify-start items-center">
      <span class="h2">Sessions</span>
      <%= badge_for @sessions.count, class: "bg-muted" %>
    </legend>
    <%= link_to logout_all_users_path, method: :delete,
            class: "btn bg-error mt1 py1 px2 h4", disabled: @sessions.count <= 1 do %>
      <%= inline_icon "door-leave", size: home_action_size %>
      Sign out everywhere else
    <% end %>
  </div>
  <div class="grid grid--split">
    <% @sessions.order(created_at: :desc).each do |session| %>
      <div class="card border<%= " b--warning" if session.impersonated? %><%= " b--success" if current_session.id == session.id %>">
        <% if session.impersonated? %>
          <span class="admin-tools">Impersonated by <%= user_mention session.impersonated_by %></span>
        <% end %>
        <span class="flex items-center justify-between">
          <span class="bold flex items-center">
            <% if session.device_info.present? %>
              <span><%= session.os_info %> <span class="regular italic muted"><%= local_time_ago session.created_at %></span></span>
            <% else %>
              <span>No device is available for this session.</span>
            <% end %>
            <% if current_session.id == session.id %>
              <span class="badge bg-success medium">current&nbsp;session</span>
            <% end %>
          </span>
          <%= link_to logout_session_users_path(user: @user, id: session.id), method: :delete, class: "muted tooltipped tooltipped--w z5", 'aria-label': "Sign out of this session" do %>
            <%= inline_icon "door-leave", size: home_action_size %>
          <% end %>
        </span>
        <% if session.device_info %>
          <span class="flex items-center">
            <%= inline_icon "web", size: 20 %>&nbsp;<code class="mr1 tooltipped tooltipped--n" aria-label="<%= session.timezone %>"><%= session.ip %></code>
            •
            <%= inline_icon "compass", size: 20, class: "ml1" %>&nbsp;<%= session.device_info %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
</fieldset>
</turbo-frame>
