<% if @onboarding %>
  <% title "Setup your account" %>
  <% page_sm %>
<% else %>
  <% title "Account Settings" %>
  <% page_md %>
  <%= render "users/nav", selected: :settings %>
<% end %>

<h1>
  <%= @onboarding ? "Welcome to HCB!" : "Settings" %>
</h1>
<turbo-frame id="settings" autoscroll data-autoscroll-behavior="smooth">
  <%= render "settings_nav", active: "general" unless @onboarding %>
  <section>
    <h2>Account details</h2>
    <% if @onboarding %>
      <p>Complete your profile to get started.</p>
    <% end %>
    <%= form_with(model: @user, local: true, html: { onsubmit: "onSubmit()" }, data: { turbo_frame: "_top" }) do |form| %>
      <%= form_errors @user, "profile", "We couldn't update your" %>
      <% if current_season(override_preference: true) %>
        <div class="field field--checkbox">
          <%= form.check_box :seasonal_themes_enabled %>
          <%= form.label :seasonal_themes_enabled, "#{by_season "✨", override_preference: true, fall: "🎃", winter: "🎄"} Enable #{current_season(override_preference: true)} theme", class: "h3 bold" %>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :legal_name %>
        <%= form.text_field :full_name, required: true, placeholder: "Fiona Hackworth III", pattern: '^\S+.+' %>
        <% @user.errors.full_messages_for(:legal_name).each do |message| %>
          <div class="primary"><%= message %></div>
        <% end %>
      </div>
      <div class="field">
        <%= form.label :preferred_name %>
        <p class="h5 muted mt0 mb1">If you go by a different name.</p>
        <%= form.text_field :preferred_name, placeholder: @user.full_name.presence || "FiFi Hacks", maxlength: 30 %>
      </div>

      <div class="field">
        <%= form.label :phone_number, "Mobile phone number" %>
        <% if @onboarding %>
          <p class="h5 muted mt0 mb1">
            To contact you on short notice.
          </p>
        <% end %>
        <% if @user.use_sms_auth %>
          <p class="h5 muted mt0 mb1">
            Changing your number will turn off SMS login codes.
          </p>
        <% end %>
        <%= form.hidden_field :phone_number, required: true, placeholder: "555-555-5555", id: "phone_number" %>
        <input type="tel" id="phone_raw" value="<%= @user.phone_number || nil %>" required="required">
      </div>
      <div class="field">
        <%= form.label :birthday %>
        <p class="h5 muted mt0 mb1">
          Used for card issuing.
        </p>
        <%= form.date_select :birthday,
                             start_year: Date.today.year - 100,
                             end_year: Date.today.year,
                             order: [:month, :day, :year],
                             prompt: @user.birthday.nil? %>
      </div>
      <div class="field">
        <%= form.label :email, class: "muted" %>
        <%= form.email_field :email, disabled: true %>
      </div>
      <%= form.label :profile_picture %>
      <p class="flex items-center mt1">
        <%= avatar_for @user, 48, class: "mr2" %>
        <span>
            <% if @user.profile_picture.attached? %>
            You're currently using an uploaded profile picture.<br>
            If you'd like to switch back to your Gravatar, <%= link_to "click here", user_delete_profile_picture_path(@user), method: :post %>.
            <% else %>
            If you have a <a href="https://gravatar.com" target="_blank">Gravatar</a>, we’ll pull it in here.<br>
            Or, you can upload a profile picture below.<br>
            <% end %>
        </span>
      </p>
      <div class="field field--fileupload">
        <%= form.label :profile_picture, "Choose File", class: "field--fileupload__label" %>
        <%= form.file_field :profile_picture, accept: "image/png, image/jpeg", class: "field--fileupload__field" %>
      </div>
      <div>
        <%= form.label :session_duration_seconds, "Stay signed in for" %>
        <%= form.select :session_duration_seconds, SessionsHelper::SESSION_DURATION_OPTIONS.to_a %>
      </div>
      <% unless @onboarding %>
        <fieldset>
          <legend class="heading h2 pt2 pb1" id="receipt-reports">Receipts</legend>
          <%= form.label :receipt_report_option, "Receipt reports" %>
          <p class="h5 muted mt0 mb1">
            Get a regular report via email of what receipts are awaiting upload on your account.
          </p>
          <%= form.select :receipt_report_option,
                          (User.receipt_report_options.map { |k, v| [k.humanize, k] }) %>

          <% if Flipper.enabled?(:receipt_bin_2023_04_07, current_user) %>
            <div class="mt2"></div>

            <%= form.label :receipt_identifier, "Email us your receipts" %>

            <p class="h5 muted mt0 mb1" style="max-width: 600px;">
              Using this address, you can forward email receipts to your <%= link_to "Receipt Bin", my_inbox_path %>. Perfect for when you have email receipts to forward or if you're at an in-person point-of-sale terminal.
            </p>

            <div class="flex flex-row items-center g2">
              <div class="flex flex-row items-center g1">
                <% if @mailbox_address %>
                  <%= turbo_frame_tag "mailbox_address" do %>
                    <div style="position: relative; display: inline-block;">
                      <input type="text" value="<%= @mailbox_address.address %>" readonly style="cursor: text; width: 384px; user-select:">
                      <%= pop_icon_to "view-reload",
                          mailbox_addresses_path,
                          class: "mr2 align-middle", "aria-label": "Generate a new address",
                          style: "position: absolute; top: 50%; right: -8px; transform: translateY(-50%) scale(0.9);",
                          data: { turbo: true, "turbo-method" => "post" } %>
                    </div>
                  <% end %>
                <% else %>
                  <%= turbo_frame_tag "mailbox_address" do %>
                    <%= link_to "Choose an email address",
                        mailbox_addresses_path,
                        class: "btn pl2 pr2",
                        data: { turbo: true, "turbo-method" => "post" } %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </fieldset>
      <% end %>
      <fieldset>
        <legend class="heading h2 pt2">Share usage data with us</legend>
        <p class="h5 muted mt1 mb2">
          Help us improve HCB by sending usage data.
          <% if @onboarding %>
            <br>
            You can turn this off in your settings anytime.
          <% else %>
            Off by default.
          <% end %>
        </p>
        <div class="field field--options">
          <%= form.radio_button :sessions_reported, false %>
          <%= form.label :sessions_reported, value: false do %>
            <%= inline_icon "thumbsdown", size: 28 %>
            <strong>No thanks</strong>
          <% end %>
          <%= form.radio_button :sessions_reported, true %>
          <%= form.label :sessions_reported, value: true do %>
            <%= inline_icon "support", size: 28 %>
            <strong>Sure thing!</strong>
          <% end %>
        </div>
      </fieldset>
      <div class="actions flex">
        <%= form.submit @onboarding ? "Start using HCB" : "Save profile" %>
      </div>
    <% end %>
    <% unless @onboarding %>

    <% end %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput.min.js" integrity="sha512-QMUqEPmhXq1f3DnAVdXvu40C8nbTgxvBGvNruP6RFacy3zWKbNTmx7rdQVVM2gkd2auCWhlPYtcW2tHwzso4SA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css" integrity="sha512-gxWow8Mo6q6pLa1XH/CcH8JyiSDEtiwJV78E+D+QP0EVasFs8wKXq16G8CLD4CJ2SnonHr4Lm/yY2fSI2+cbmw==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <%= javascript_include_tag "phone_input.js" %>
  </section>

</turbo-frame>
