<% title "Account settings" %>
<% page_md %>
<%= render "users/nav", selected: :settings %>

<h1>
  Settings
</h1>
<turbo-frame id="settings" autoscroll data-autoscroll-behavior="smooth">
<%= render "settings_nav", active: "security" %>
<fieldset>
  <% unless @user.phone_number.blank? %>
    <%= turbo_frame_tag :sms_auth_card do %>
      <legend class="flex flex-row justify-start items-center mt0 pb2">
        <span class="h2 bold">Login preferences</span>
      </legend>
      <div class="card border b--info mt0 mb3">
        <% if @user.phone_number_verified %>
          <%= form_with(model: @user, local: true, html: { onsubmit: "onSubmit()" }, data: { turbo_frame: "_top" }) do |form| %>
            <div class="field field--checkbox mt1">
              <span style="font-weight: 700">Prefer login codes via SMS</span>
              <div class="field--checkbox--switch ml-auto" style="flex-shrink:0">
                <%= form.label :use_sms_auth do %>
                  <%= form.check_box :use_sms_auth,
                    data: { action: "change->accordion#toggle", target: "accordion.checkbox" },
                    switch: true %>
                  <span class="slider"></span>
                <% end %>
              </div>
            </div>
            <div class="field field--checkbox">
              <span style="font-weight: 700">Enable two factor authentication</span>
              <div class="field--checkbox--switch ml-auto" style="flex-shrink:0">
                <%= form.label :use_two_factor_authentication do %>
                  <%= form.check_box :use_two_factor_authentication,
                    data: { action: "change->accordion#toggle", target: "accordion.checkbox" },
                    switch: true %>
                  <span class="slider"></span>
                <% end %>
              </div>
            </div>
            <%= form.submit "Update preferences" %>
          <% end %>
        <% else %>
          <p>
            To send login codes to your phone or enable two factor authentication, first
            <action data-behavior="modal_trigger" data-modal="verify_phone">
              <a>
                verify your phone number.
              </a>
            </action>
          </p>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div>
    <legend class="flex flex-row justify-start items-center mt3 pb2">
      <span class="h2 bold">Time-based one time passwords</span>
    </legend>
    <%= turbo_frame_tag :totp_auth_card do %>
      <div class="card border b--info mt0 mb3">
        <% if @user.totp.present? %>
          <p>
            You set up time-based one time passwords on <%= format_date @user.totp.created_at %>; if you'd like to reset your TOTP secret, <%= link_to "click here", user_generate_totp_path(@user), data: { turbo_method: :POST } %>. A new TOTP secret will invalidate your current TOTP secret. <%= link_to "Click here to disable TOTP.", user_disable_totp_path(@user), data: { turbo_method: :POST } %>
          </p>
        <% else %>
          <p>
            You currently don't have time-based one time passwords set up, <%= link_to "click here", user_generate_totp_path(@user), data: { turbo_method: :POST } %> to setup your TOTP.
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="flex items-center justify-between flex-wrap gap-x-5 gap-y-2 mt3 pb2" id="security-keys">
    <legend class="flex flex-row justify-start items-center">
      <span class="h2 bold">Security keys</span>
      <%= badge_for @user.webauthn_credentials.count, class: "bg-muted" %>
    </legend>
    <button class="btn px2 h4" data-behavior="modal_trigger" data-modal="webauthn_register">
      <%= inline_icon "plus", size: home_action_size %>
      Set up
    </button>
    <%= render "webauthn_credentials/modal" %>
  </div>
  <% if @user.webauthn_credentials.length > 0 %>
    <div class="grid grid--split mb3">
      <%= render @user.webauthn_credentials.order(created_at: :desc) %>
    </div>
  <% else %>
    <div class="secondary center mb4">
      <%= inline_icon "fingerprint", width: "40px", class: "secondary block mx-auto mb1" %>
      Sign in to HCB using your fingerprint or a hardware security key.
    </div>
  <% end %>
  <div class="flex items-center justify-between flex-wrap gap-x-5 gap-y-2 mt3 pb2">
    <legend class="flex flex-row justify-start items-center">
      <span class="h2 bold">Sessions</span>
      <%= badge_for @all_sessions.count, class: "bg-muted" %>
    </legend>
    <%= link_to logout_all_user_path(@user), method: :delete,
            class: "btn bg-error py1 px2 h4", disabled: @sessions.count <= (current_user == @user ? 1 : 0) do %>
      <%= inline_icon "door-leave", size: home_action_size %>
      Sign out everywhere else
    <% end %>
  </div>
  <div class="grid grid--split">
    <% @all_sessions.each do |session| %>
      <% if session.is_a? UserSession %>
        <%= render "user_session", session: %>
      <% elsif session.is_a? ApiToken %>
        <%= render "oauth_authorization", authorization: session %>
      <% end %>
    <% end %>
  </div>

  <% if @expired_sessions.any? %>
    <h3 class="inline-flex items-center">
      Recently logged out
      <%= badge_for @expired_sessions.count, class: "bg-muted" %>
    </h3>
    <div class="grid grid--split">
      <% @expired_sessions.each do |session| %>
        <% if session.is_a? UserSession %>
          <%= render "user_session", session: %>
        <% elsif session.is_a? ApiToken %>
          <%= render "oauth_authorization", authorization: session %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</fieldset>

<% if @user.phone_number.present? %>
  <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="verify_phone">
    <%= modal_header "Verify phone number" %>
    <%= react_component "settings/SmsVerification",
            phone_number: @user.phone_number,
            enroll_sms_auth: true %>
  </section>
<% end %>
</turbo-frame>
