<% title "Account settings" %>
<% page_md %>
<%= render "users/nav", selected: :settings %>
<h1>
  Settings
</h1>
<turbo-frame id="settings" autoscroll data-autoscroll-behavior="smooth">
  <%= render "settings_nav", active: "address" %>
  <section>
    <p class="muted mt0 mb2">
      Merchants use this address to verify your identity on card transactions.
      <b class="bold">Changing your address applies immediately to all of your cards</b>;
      recurring card charges like subscriptions might break.
    </p>

    <%= form_with model: @user, data: { turbo_frame: "_top" } do |form| %>
      <%= form.fields_for :stripe_cardholder, @user.stripe_cardholder do |form| %>
        <div class="field mb1">
          <%= form.label :stripe_billing_address_line1, "Street address" %>
          <%= form.text_field :stripe_billing_address_line1, placeholder: StripeCardholder::DEFAULT_BILLING_ADDRESS[:line1], required: true %>
        </div>

        <div class="field mt1">
          <%= form.text_field :stripe_billing_address_line2, placeholder: "(Building / Apartment / Room)" %>
        </div>

        <div class="grid grid--split">
          <div class="field flex-auto">
            <%= form.label :stripe_billing_address_city, "City" %>
            <%= form.text_field :stripe_billing_address_city, placeholder: StripeCardholder::DEFAULT_BILLING_ADDRESS[:city], required: true %>
          </div>
          <div class="field flex-auto">
            <%= form.label :address_state, "State / Province" %>
            <%= form.select :stripe_billing_address_state, @states %>
          </div>
        </div>

        <div class="grid grid--split">
          <div class="field flex-auto">
            <%= form.label :postal_code %>
            <%= form.text_field :stripe_billing_address_postal_code, placeholder: StripeCardholder::DEFAULT_BILLING_ADDRESS[:postal_code], required: true %>
          </div>

          <div class="field flex-auto">
            <%= form.label :country %>
            <%= form.country_select :stripe_billing_address_country, nil, { only: ["US"] }, { required: true } %>
          </div>
        </div>

        <div class="actions inline-block mt1">
          <%= form.submit "Save" %>
        </div>
      <% end %>
    <% end %>
  </section>
</turbo-frame>
