<% title "Account settings" %>
<% page_md %>
<%= render "users/nav", selected: :settings %>

<h1>Settings</h1>
<turbo-frame id="settings" autoscroll data-autoscroll-behavior="smooth">
  <%= render "settings_nav", active: "admin" %>
  <% admin_tool override_pretend: true do %>
    <section>
      Updating <%= user_mention @user %>'s profile that was created on <%= @user.created_at.strftime("%B %d, %Y at %I:%M %P") %>
      <h2 id="admin">Admin configurations</h2>

      <%= form_with(model: @user, local: true, html: { onsubmit: "onSubmit()" }, data: { turbo_frame: "_top" }) do |form| %>
        <%= form_errors @user %>

        <% if @user == current_user %>
          <div class="field field--checkbox">
            <%= form.check_box :pretend_is_not_admin %>
            <%= form.label :pretend_is_not_admin, "Pretend not to be an admin on HCB" %>
          </div>
        <% end %>

        <% if current_user.admin? %>
          <div class="field field--checkbox">
            <%= form.check_box :locked, checked: @user.locked? %>
            <%= form.label :locked, "Lock user from signing into HCB" %>
          </div>

          <div class="field field--checkbox">
            <%= form.check_box :running_balance_enabled, checked: @user.running_balance_enabled? %>
            <%= form.label :running_balance_enabled, "Show running balance?" %>
          </div>
        <% end %>

        <% if superadmin_signed_in? %>
          <div class="field">
            <%= form.label :access_level, "Access level" %>
            <%= form.select :access_level,
                            [
                              ["ðŸ‘¤ Regular user", "user"],
                              ["ðŸ“š Auditor", "auditor"],
                              ["ðŸ›¡ï¸ Admin", "admin"],
                              ["ðŸ‘‘ Superadmin (can manage other users' admin status)", "superadmin"],
                            ],
                            {},
                            disabled: current_user == @user %>
          </div>
        <% end %>

        <div class="actions flex">
          <%= form.submit "Save settings" %>
        </div>
      <% end %>
    </section>
    <% if admin_signed_in? %>
      <section>
        <% if @user.transactions_missing_receipt.any? %>
          <h2>Missing Receipts</h2>
          <table>
            <% @user.transactions_missing_receipt.each do |tx| %>
              <%= render "canonical_transactions/canonical_transaction", ct: tx %>
            <% end %>
          </table>
        <% end %>
        <% if @user.events.present? %>
          <h2>Organizations</h2>
          <ul>
            <% @user.events.each do |event| %>
              <li><%= link_to "#{event.name} (#{render_money(event.balance_v2_cents)})", event_path(event), data: { turbo_frame: "_top" } %></li>
            <% end %>
          </ul>
        <% end %>
        <% if @user.email_updates.any? %>
          <h2>Email Updates</h2>
          <ul>
            <% @user.email_updates.confirmed.order(created_at: :desc).each do | update | %>
              <li>
                <%= update.created_at %>:
                <%= render_audit_log_value("Email", update.original, color: "primary") %> â†’
                <%= render_audit_log_value("Email", update.replacement, color: "success") %></li>
              </li>
            <% end %>
          </ul>
        <% end %>
        <% if @user.stripe_cards.present? %>
          <h2>Stripe Cards</h2>
          <table>
            <tr>
              <th>Last 4</th>
              <th>Card Type</th>
              <th>Status</th>
              <th>Expires on</th>
              <th></th>
            </tr>
            <% @user.stripe_cards.each do |card| %>
              <tr>
                <td><%= card.last4 %></td>
                <td><%= card.card_type %></td>
                <td class="inline-flex items-center w-100">
                  <% if card.status_text  == "Active" %>
                    Active
                  <% elsif card.status_text == "Frozen" %>
                    <%= inline_icon "freeze", size: 25 %> Frozen
                  <% elsif card.status_text == "Canceled" %>
                    <%= inline_icon "forbidden", size: 25 %> Canceled
                  <% elsif card.status_text == "Inactive" %>
                    Inactive
                  <% end %>
                </td>
                <td class="<%= "primary bold" if card.expired? %>"><%= Date.parse("#{card.stripe_exp_month}/#{card.stripe_exp_year}").strftime("%m/%y") %></td>
                  <td><%= link_to "View", stripe_card_path(card), data: { turbo_frame: "_top" } %></td>
                </tr>
              <% end %>
            </table>
          <% end %>
          <% if @user.emburse_cards.present? %>
            <h2>Emburse Cards</h2>
            <table>
              <tr>
                <th>Last 4</th>
                <th>Status</th>
                <th>Expires on</th>
                <th></th>
              </tr>
              <% @user.emburse_cards.each do |card| %>
                <td><%= card.last_four %></td>
                <td class="inline-flex">
                  <% if card.status_text == "active" %>
                    Active
                  <% elsif card.status_text == "suspended" %>
                    <%= inline_icon "freeze", size: 25 %> Suspended
                  <% elsif card.status_text == "unactivated" %>
                    <%= inline_icon "forbidden", size: 25 %> Unactivated
                  <% elsif card.status_text == "terminated" %>
                    <%= inline_icon "forbidden", size: 25 %> Terminated
                  <% end %>
                </td>
                <td><% Date.parse("#{card.expiration_month}/#{card.expiration_year}").strftime("%m/%y") %></td>
                  <td><%= link_to "View", emburse_card_path(card), data: { turbo_frame: "_top" } %></td>
                </tr>
              <% end %>
            </table>
          <% end %>
          <% if @invoices.present? %>
            <h2>Invoices</h2>
            <table>
              <tr>
                <th>ID</th>
                <th>Amount</th>
                <th>Status</th>
                <th></th>
              </tr>
              <% @invoices.each do |invoice| %>
                <tr>
                  <td><%= invoice.id %></td>
                  <td><%= render_money invoice.total %></td>
                  <td><%= invoice.state_text %></td>
                  <td><%= link_to "View", hcb_code_path(invoice.hcb_code), data: { turbo_frame: "_top" } %></td>
                </tr>
              <% end %>
            </table>
          <% end %>
          <% if @user.reimbursement_reports.present? %>
            <h2>Reimbursement Reports</h2>
            <table>
              <thead>
              <tr>
                <th>Status</th>
                <th>Report</th>
                <th>Event</th>
                <th>Amount</th>
                <th>Created</th>
              </tr>
              </thead>
              <tbody>
                <% @user.reimbursement_reports.order(created_at: :desc).each do |report| %>
                  <tr>
                    <td>
                       <%= report.status_text %>
                    </td>
                    <td style="max-width: 250px; overflow: hidden; text-overflow: ellipsis;">
                      <%= link_to report.name, report, data: { turbo_frame: "_top" } %>
                    </td>
                    <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;">
                       <%= report.event&.name || "No event" %>
                    </td>
                    <td>
                       <%= render_money report.amount_cents %>
                    </td>
                    <td>
                       <%= format_date report.created_at %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
          <% if @checks_deposits.present? %>
            <h2>Deposited Checks</h2>
            <table>
              <tr>
                <th>Status</th>
                <th>Rejection reason</th>
                <th>Amount</th>
                <th>Date</th>
              </tr>
              <% @checks_deposits.each do |check| %>
                <tr>
                  <td><%= check.increase_status %></td>
                  <td><%= check.rejection_reason %></td>
                  <td><%= render_money check.amount_cents %></td>
                  <td><%= check.created_at %></td>
                </tr>
              <% end %>
            </table>
          <% end %>
          <% if @increase_checks.present? %>
            <h2>Increase Checks</h2>
            <table>
              <tr>
                <th>Payment for</th>
                <th>Memo</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Approved at</th>
                <th></th>
              </tr>
              <% @increase_checks.each do |check| %>
                <tr>
                  <td><%= check.payment_for %></td>
                  <td><%= check.memo %></td>
                  <td><%= render_money check.amount %></td>
                  <td><%= check.aasm_state %></td>
                  <td><%= check.approved_at %></td>
                  <td><%= link_to "View", hcb_code_path(check.hcb_code), data: { turbo_frame: "_top" } %></td>
                </tr>
              <% end %>
            </table>
          <% end %>
          <% if @lob_checks.present? %>
            <h2>Lob Checks</h2>
            <table>
              <tr>
                <th>Payment for</th>
                <th>Memo</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Approved at</th>
                <th></th>
              </tr>
              <% @lob_checks.each do |check| %>
                <tr>
                  <td><%= check.payment_for %></td>
                  <td><%= check.memo %></td>
                  <td><%= render_money check.amount %></td>
                  <td><%= check.aasm_state %></td>
                  <td><%= check.approved_at %></td>
                  <td><%= link_to "View", hcb_code_path(check.hcb_code), data: { turbo_frame: "_top" } %></td>
                </tr>
              <% end %>
            </table>
          <% end %>
          <% if @ach_transfers.present? %>
            <h2>ACH Transfers</h2>
            <table>
              <tr>
                <th>Recipient name</th>
                <th>Amount</th>
                <th>Payment for</th>
                <th>Scheduled on</th>
                <th></th>
              </tr>
              <% @ach_transfers.each do |ach| %>
                <tr>
                  <td><%= ach.recipient_name %></td>
                  <td><%= render_money ach.amount %></td>
                  <td><%= ach.payment_for %></td>
                  <td><%= ach.scheduled_on %></td>
                  <td><%= link_to "View", hcb_code_path(ach.hcb_code), data: { turbo_frame: "_top" } %></td>
                </tr>
              <% end %>
            </table>
          <% end %>
          <% if @disbursements.present? %>
            <h2>Disbursement</h2>
            <table>
              <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Status</th>
              </tr>
              <% @disbursements.each do |disbursement| %>
                <tr>
                  <td><%= link_to disbursement.name, hcb_code_path(disbursement.hcb_code), data: { turbo_frame: "_top" } %></td>
                  <td><%= render_money disbursement.amount %></td>
                  <td><%= disbursement.state_text %></td>
                </tr>
              <% end %>
            </table>
          <% end %>
        </section>
      <% end %>
    <% end %>
  </turbo-frame>
