<% page_sm %>

<h1>
  <%= @user.full_name.present? ? 'Update your profile' : 'Welcome to Bank!' %>
</h1>

<% if @user.full_name.blank? %>
  <p>Complete your profile to get started.</p>
<% end %>

<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Oops!</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, required: true %>
  </div>

  <div class="field">
    <%= form.label :phone_number, 'Mobile phone number (so we can contact you on short notice)' %>
    <%= form.text_field :phone_number, required: true, placeholder: '555-555-5555' %>
  </div>

  <div class="field">
    <%= form.label :email, class: 'muted' %>
    <%= form.email_field :email, disabled: true %>
  </div>

  <%= form.label :profile_picture %>
  <p class="flex items-center mt1">
    <%= avatar_for @user, 48, class: 'mr2' %>
    <span>If you have a <a href="https://gravatar.com">Gravatar</a>, we’ll pull it in here.<br> Or, you can upload a profile picture below.</span>
  </p>
  <div class="field">
    <%= form.file_field :profile_picture, accept: 'image/png, image/jpeg' %>
  </div>

  <div class="actions">
    <%= form.submit @user.full_name.present? ? 'Save profile' : 'Start using Bank' %>
  </div>
<% end %>
