<% title "Account settings" %>
<% page_md %>
<%= render "users/nav", selected: :settings %>
<h1>
  Settings
</h1>
<turbo-frame id="settings" autoscroll data-autoscroll-behavior="smooth">
  <%= render "settings_nav", active: "payouts" %>
  <section>
    <p class="muted mt0 mb2">
      When a <%= link_to "reimbursement report of yours", my_reimbursements_path %> is approved, HCB will use the information below to reimburse you. Without this information, you won't be able to submit reimbursement reports. You can update these settings at any time; <strong>we currently only support US bank accounts or PayPal</strong>.
      <% if @user.reimbursement_reports.pending.any? %>
        <p>
          Changes made here will apply to all non-reimbursed reports of yours, including your <%= @user.reimbursement_reports.pending.count %> pending reports.
        </p>
      <% end %>
    </p>
    <%= render "application/flash", klass: "max-w-full mb3" %>
    <%= render "payout_form", user: @user %>
  </section>
</turbo-frame>
