<% title "Account settings" %>
<% page_md %>
<%= render "users/nav", selected: :settings %>

<h1>Settings</h1>
<turbo-frame id="settings" autoscroll data-autoscroll-behavior="smooth" class="flex flex-col gap-4">
  <%= render "settings_nav", active: "admin" %>
  <% admin_tool do %>
    <h3 class="mb2 mt1">User info</h3>
    <section>
      Updating <%= user_mention @user %>'s profile that was created on <%= @user.created_at.strftime("%B %d, %Y at %I:%M %P") %>
      <p>
        <strong>User ID:</strong> <%= @user.id %> (<%= @user.public_id %>)
      </p>
      <p>
        <strong>Email:</strong> <%= mail_to @user.email %>
      </p>
    </section>
  <% end %>

  <% admin_tool override_pretend: true do %>
    <h3 id="admin" class="mb2 mt1">Admin configurations</h3>
      <%= form_with(model: @user, local: true, html: { onsubmit: "onSubmit()" }, data: { turbo_frame: "_top" }) do |form| %>
        <%= form_errors @user %>

        <% if @user == current_user %>
          <div class="field field--checkbox">
            <%= form.label :pretend_is_not_admin, "Pretend not to be an admin on HCB" %>
            <%= form.check_box :pretend_is_not_admin %>
          </div>
        <% end %>

        <% if admin_signed_in? %>
          <p>
            <%= link_to "Impersonate", impersonate_user_path(@user.id), data: { turbo_confirm: "Are you sure?", turbo_method: :post } unless current_session&.impersonated? %>
          </p>

          <div class="field field--checkbox">
            <%= form.label :locked, "Lock user from signing into HCB" %>
            <%= form.check_box :locked, checked: @user.locked?, disabled: !admin_signed_in? %>
          </div>

          <div class="field field--checkbox">
            <%= form.label :running_balance_enabled, "Show running balance?" %>
            <%= form.check_box :running_balance_enabled, checked: @user.running_balance_enabled? %>
          </div>
        <% end %>

        <% if superadmin_signed_in? %>
          <div class="field">
            <%= form.label :access_level, "Access level" %>
            <%= form.select :access_level,
                            [
                              ["ðŸ‘¤ Regular user", "user"],
                              ["ðŸ“š Auditor", "auditor"],
                              ["ðŸ›¡ï¸ Admin", "admin"],
                              ["ðŸ‘‘ Superadmin (can manage other users' admin status)", "superadmin"],
                            ],
                            {},
                            disabled: current_user == @user %>
          </div>
        <% end %>

        <div class="actions flex">
          <%= form.submit "Save settings" %>
        </div>
      <% end %>
    </h3>
  <% end %>

  <%= turbo_frame_tag :admin_details, src: admin_details_user_path(@user), loading: :lazy do %>
    <% admin_tool do %>
      <p>Loading user details</p>
    <% end %>
  <% end %>

  <% admin_tool do %>
    <%= render "comments/list", comments: @user.comments, show_blankslate: true %>
    <%= render "comments/form", commentable: @user, admin_only: true %>
  <% end %>
</turbo-frame>
