<%= turbo_frame_tag :totp_auth_card do %>
  <div class="card border b--info mt1 mb3">
    <p>
      Scan the QR code below with your authenticator app or enter the secret.
    </p>
    <qr-code
      contents="<%= @totp.provisioning_uri %>"
      id="qrCode--icon"
      class="bg-white rounded-lg w-fit h-fit cursor-pointer border border-muted my-1"
      style="height: 130px; width: 130px; padding-left: 2px; padding-top: 2px">
      <img
        src="https://icons.hackclub.com/api/icons/black/private-outline"
        class="h-8 -translate-x-[5px]"
        slot="icon">
    </qr-code>
    <pre><%= @totp.secret %></pre>
    <p>
      Then, enter an OTP to verify that it's been successfully configured.
    </p>
    <div>
      <%= form_tag user_enable_totp_path(@user), data: { turbo_frame: "_top" } do %>
        <%= telephone_field_tag :code, "", placeholder: "OTP code", autofocus: true, autocomplete: "off", class: "center-align mb2", required: true %>
        <%= hidden_field_tag :secret, @totp.secret %>
        <%= submit_tag "Submit" %>
      <% end %>
    </div>
    <p>
      FYI: you can only see this secret once! It'll only be saved after you verify your configuration.
    </p>
  </div>
<% end %>
