<% page_snow %>
<% page_xs %>
<% @home_size = 128 %>
<% content_for(:page_class) { 'bg-snow pt4' } %>

<article class="center mt3">
  <h1 class="mt2">
    <span class="h3 caps slate block">Sign in to Bank</span>
    <span class="black">Enter login code</span>
  </h1>
  <%= form_tag exchange_login_code_users_path do %>
    <%= label_tag :login_code, 'Login code', class: 'left-align' %>
    <%= telephone_field_tag :login_code, '', autofocus: true, autocomplete: 'one-time-code', class: 'left-align mb2' %>
    <%= hidden_field_tag :user_id, @user_id %>
    <%= submit_tag 'Continue' %>
  <% end %>
</article>
