<% page_snow %>
<% page_hide_home %>

<article class="container container--extranarrow center">
  <%= image_tag 'logo.svg', style: 'max-width: 128px;', class: 'mx-auto mt4 w-100' %>
  <h1 class="mt2">
    <span class="h3 caps slate block">Sign in to Bank</span>
    <span class="black">Enter login code</span>
  </h1>
  <%= form_tag exchange_login_code_users_path do %>
    <%= label_tag :login_code, 'Login code', class: 'left-align' %>
    <%= telephone_field_tag :login_code, '', autofocus: true, class: 'left-align mb2' %>
    <%= hidden_field_tag :user_id, @user_id %>
    <%= submit_tag 'Continue' %>
  <% end %>
</article>
