<%= form_with(model: fee_reimbursement, local: true) do |form| %>
  <% if fee_reimbursement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fee_reimbursement.errors.count, "error") %> prohibited this fee_reimbursement from being saved:</h2>

      <ul>
      <% fee_reimbursement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Reimbursement amount is calculated: <%= render_money fee_reimbursement.invoice.item_amount %> - <%= render_money fee_reimbursement.invoice.payout_creation_balance_net %> = <%= render_money fee_reimbursement.amount %></p>
  <%= link_to "Invoice", fee_reimbursement.invoice %>

  <div class="field">
    <%= form.label :amount, 'Amount to reimburse' %>
    <div class="flex items-center">
      <span class="bold muted" style="width: 1rem;">$</span>
      <%= form.number_field :amount, value: fee_reimbursement.amount / 100.0, step: 0.01, placeholder: fee_reimbursement.amount %>
    </div>
  </div>

  <div class="field">
    <%= form.label :transaction_memo %>
    <%= form.text_field :transaction_memo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
