<%= form_with(model: fee_reimbursement, local: true) do |form| %>
  <%= form_errors fee_reimbursement %>

  <% if fee_reimbursement.invoice.present? %>
    <p>Invoice fee refund amount is calculated: <%= render_money fee_reimbursement.invoice.item_amount %> - <%= render_money fee_reimbursement.invoice.payout_creation_balance_net %> = <strong><%= render_money fee_reimbursement.amount %></strong></p>
  <% elsif fee_reimbursement.donation.present? %>
    <p>Donation fee refund amount is calculated: <%= render_money fee_reimbursement.donation.amount%> - <%= render_money fee_reimbursement.donation.payout_creation_balance_net %> = <strong><%= render_money fee_reimbursement.amount %></strong></p>
  <% end %>

  <div class="field">
    <%= form.label :amount, 'Amount to reimburse' %>
    <div class="flex items-center">
      <span class="bold muted" style="width: 1rem;">$</span>
      <%= form.number_field :amount, value: fee_reimbursement.amount / 100.0, step: 0.01, placeholder: fee_reimbursement.amount %>
    </div>
  </div>

  <div class="field">
    <%= form.label :transaction_memo %>
    <%= form.text_field :transaction_memo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
