<% title 'Fee reimbursements' %>
<h1>
  Fee reimbursements
</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Amount</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fee_reimbursements.each do |reimbursement| %>
      <tr class="<%= 'shade-yellow' if reimbursement.under_review? %>">
        <td><%= "##{reimbursement.id}" %></td>
        <td><%= reimbursement.amount %></td>
        <td><%= reimbursement.status %></td>
        <td><%= link_to 'Edit', edit_fee_reimbursement_path(request, event_id: request.event.id) %></td>
        <td>
          <% if reimbursement.unprocessed? %>
            <%= link_to 'Process', fee_reimbursement_path(request, event_id: request.event.id), class: 'btn bg-info' %>
          <% else %>
            <%= link_to 'View', fee_reimbursement_path(request, event_id: request.event.id) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
