<% title 'Fee refund' %>
<h1 class="heading">
  Fee Refunds
  <%#= link_to 'Export Under Review FRs for Selenium', export_fee_reimbursements_path, class: 'btn bg-info' %>
</h1>

<%= paginate @fee_reimbursements %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Event</th>
      <th>Invoice/Donation</th>
      <th>Transaction Memo</th>
      <th>Amount</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fee_reimbursements.order(processed_at: :desc, created_at: :desc).each do |reimbursement| %>
      <tr class="<%= 'shade-yellow' if reimbursement.unprocessed? %>">
        <td><%= "##{reimbursement.id}" %></td>
        <td><%= link_to "#{reimbursement.event.name}", reimbursement.event, class: 'underline' %></td>
        <% if reimbursement.invoice %>
          <td><%= link_to "##{reimbursement.invoice.id}", reimbursement.invoice, class: 'underline' %></td>
        <% else %>
          <td><%= link_to "##{reimbursement.donation.id}", reimbursement.donation, class: 'underline' %></td>
        <% end %>
        <td><%= "#{reimbursement.transaction_memo}" %></td>
        <td><%= render_money reimbursement.amount %></td>
        <td class="flex items-center">
          <%= status_badge reimbursement.status_color %> 
          <%= reimbursement.status.capitalize %>
        </td>
        <td><%= link_to 'Edit', edit_fee_reimbursement_path(reimbursement) %></td>
        <td>
          <% if reimbursement.unprocessed? %>
            <%= link_to 'Process', fee_reimbursement_path(reimbursement), class: 'btn bg-info' %>
          <% else %>
            <%= link_to 'View', fee_reimbursement_path(reimbursement) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
