<% title "Reimbursement of #{render_money @fee_reimbursement.amount}" %>
<% page_sm %>
<%= render 'events/nav' %>

<h1 class="flex items-center">
  <%= render_money @fee_reimbursement.amount %> refund
  <span class="badge h3 bg-<%= @fee_reimbursement.status_color %>">
    <%= @fee_reimbursement.status.capitalize %>
  </span>
</h1>
<p class="muted">Hack Club Bank pays for all of Stripe’s transaction fees by refunding the amount removed from payouts.</p>

<article class="card mt3">
  <section class="details">
    <p>
      <strong>Transaction memo</strong>
      <%= @fee_reimbursement.transaction_memo %>
    </p>

    <p>
      <strong>Transfer amount</strong>
      <%= render_money @fee_reimbursement.transfer_amount %>
    </p>


    <% if @fee_reimbursement.invoice %>
    <p>
      <strong>Invoice</strong>
      <%= link_to render_money(@fee_reimbursement.invoice.item_amount), @fee_reimbursement.invoice %>
    </p>
    <% end %>

    <% if @fee_reimbursement.donation %>
      <p>
        <strong>Donation</strong>
        <%= link_to render_money(@fee_reimbursement.donation.amount), @fee_reimbursement.donation %>
      </p>
    <% end %>

    <p>
      <strong>Stripe fee</strong>
      <%= render_money @fee_reimbursement.amount %>
    </p>

    <p>
      <strong>Status</strong>
      <%= @fee_reimbursement.status %>
    </p>

    <% admin_tools('mt2') do %>
      <%= link_to 'Edit', edit_fee_reimbursement_path(@fee_reimbursement), class: 'btn bg-info' %>
      <% if @fee_reimbursement.unprocessed? %>
        <%= link_to 'Process on SVB', 'https://www.svbconnect.com/booktransfer/bookTransfer.do?cmdBookTransfer=1&mode=new', target: '_blank', class: 'btn bg-accent' %>
        <%= link_to 'Marked as processed', fee_reimbursement_mark_as_processed_path(@fee_reimbursement), method: :post, class: 'btn bg-warning' %>
      <% else %>
        <%= link_to 'Marked as unprocessed', fee_reimbursement_mark_as_unprocessed_path(@fee_reimbursement), method: :post, class: 'btn bg-accent' %>
      <% end %>
    <% end %>
  </section>
</article>

<%= render 'comments/comments' %>
