<%= form_with(model: emburse_transfer, local: true) do |form| %>
  <%= form_errors emburse_transfer, "transfer request" %>

  <%= form.hidden_field :creator_id,
    value: emburse_transfer.creator_id.nil? ? current_user&.id : emburse_transfer.creator_id %>

  <%= form.hidden_field :event_id, value: emburse_transfer.event.id %>

  <% if @event.available_balance == 0 %>
    <p class="card__banner card__banner--top flex items-center bg-error white">
      <%= inline_icon "payment", size: 32, class: "mr1" %>
      You need funds available in your account to make a transfer
    </p>
  <% end %>

  <div class="field">
    <%= form.label :load_amount, "Amount to transfer" %>
    <div class="flex items-center">
      <span class="bold muted" style="width: 1rem;">$</span>
      <%= form.text_field :load_amount,
        value: emburse_transfer.load_amount.nil? ? nil : (emburse_transfer.load_amount / 100.00),
        max: (admin_signed_in? ? nil : (@event.available_balance / 100.00)),
        step: 0.01, placeholder: "100.00",
        autofocus: true, disabled: @event.balance_available == 0, data: { 'behavior': "money" } %>
    </div>
  </div>

  <% admin_tool do %>
    <div class="field">
      <%= form.label :emburse_transaction_id, "Emburse transaction ID", class: emburse_transfer.emburse_transaction_id.blank? %>
      <%= form.text_field :emburse_transaction_id %>
    </div>
  <% end %>

  <div class="actions">
    <% if emburse_transfer.persisted? %>
      <%= form.submit "Update" %>
    <% else %>
      <%= form.submit "Request transfer", disabled: @event.available_balance == 0 || !organizer_signed_in? %>
    <% end %>
  </div>
<% end %>
