<% title "Request for transfer of #{render_money @emburse_transfer.load_amount}" %>
<% page_sm %>
<%= render 'events/nav' %>

<% admin_tools('mt3 mb0') do %>
  <%= link_to 'All transfers', emburse_transfers_path, class: 'breadcrumb' %>
<% end %>

<article class="card mt3">
  <h1 class="heading h2 mt0 mb0">
    Emburse transfer request
  </h1>

  <section class="details">
  <p>
    <strong>Project</strong>
    <%= link_to @emburse_transfer.event.name, @emburse_transfer.event %>
  </p>

  <p>
    <strong>Made by</strong>
    <%= user_mention @emburse_transfer.creator %>
  </p>

  <p>
    <strong>Fulfilled by</strong>
    <%= @emburse_transfer.fulfilled_by ? user_mention(@emburse_transfer.fulfilled_by) : 'unfulfilled' %>
  </p>

  <p>
    <strong>Load amount</strong>
    <%= render_money @emburse_transfer.load_amount %>
  </p>

  <p>
    <strong>Outstanding balance transfers</strong>
    <%= render_money @emburse_transfer.event.emburse_transfers.pending.sum(:load_amount) %>
  </p>

  <p>
    <strong>Project account balance</strong>
    <%= render_money @emburse_transfer.event.balance %>
  </p>

  <p>
    <strong>Project Emburse balance</strong>
    <%= render_money @emburse_transfer.event.emburse_balance %>
  </p>

  <p class="<%= 'shade-yellow ' unless @emburse_transfer.emburse_transaction_id.blank? %>">
    <strong>Project Emburse budget</strong>
    <%= render_money @emburse_transfer.event.emburse_budget_limit %>
  </p>

  <p class="<%= 'shade-yellow ' if @emburse_transfer.emburse_transaction_id.blank? %>">
    <strong>Emburse memo</strong>
    <%= "Transfer request ID##{@emburse_transfer.id}" %>
  </p>

  <p class="<%= 'shade-yellow ' if @emburse_transfer.emburse_transaction_id.blank? %>">
    <strong>Emburse transaction ID</strong>
    <%= @emburse_transfer.emburse_transaction_id.present? ? link_to(@emburse_transfer.emburse_transaction_id, "https://app.emburse.com/transactions/#{@emburse_transfer.emburse_transaction_id}") : 'unset' %>
  </p>

  </section>

  <% admin_tools do %>
    <%= link_to 'Edit', edit_emburse_transfer_path(@emburse_transfer, event_id: @event.slug), class: 'btn bg-info' %>
  <% end %>

  <% if @emburse_transfer.under_review? %>
  <p>Load in Emburse before accepting!</p>

  <p><%= link_to 'Reject', emburse_transfer_reject_path(@emburse_transfer, event_id: @emburse_transfer.event.slug), method: :post, data: { confirm: 'Are you sure?' }, class: 'btn bg-error' %></p>
  <p><%= link_to 'Accept request', emburse_transfer_accept_path(@emburse_transfer, event_id: @emburse_transfer.event.slug), method: :post, data: { confirm: 'Have you processed in Emburse?' }, class: 'btn bg-success' %></p>
  <% end %>
</article>

<%= render 'comments/comments' %>
