<% page_sm %>
<% no_app_shell %>

<%= render "events/landing/header" %>

<div class="card mb3 mt3 pt3 pb3">
  <%= inline_icon :checkmark, size: 48, class: "success block mx-auto mb1" %>
  <h2 class="border-none center mt1 ml0 mr0 regular">Your donation of <strong><%= render_money @recurring_donation.amount %> per month</strong> has been started.</h2>
  <p class="center secondary">
    We've just sent a receipt to <strong><%= @recurring_donation.email %></strong>. Questions? Reach out to <%= mail_to "hcb@hackclub.com" %>
  </p>
</div>

<%= render "events/landing/footer" %>
