<%= form_with(model: g_suite_account, local: true) do |form| %>
  <% if g_suite_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(g_suite_account.errors.count, "error") %> prohibited this g_suite_account from being saved:</h2>

      <ul>
      <% g_suite_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :accepted_at %>
    <%= form.datetime_select :accepted_at %>
  </div>

  <div class="field">
    <%= form.label :rejected_at %>
    <%= form.datetime_select :rejected_at %>
  </div>

  <div class="field">
    <%= form.label :g_suite_id %>
    <%= form.text_field :g_suite_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
