<%= form_with(model: [@g_suite, g_suite_account], local: true) do |form| %>
  <% if g_suite_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(g_suite_account.errors.size, 'error') %> prohibited this account from being saved:</h2>
      <ul>
      <% g_suite_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3 class="mb1">
    Add <%= @g_suite.accounts.any? ? 'another': 'your first' %> account
  </h3>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, value: current_user.full_name.split(' ').first %>
  </div>
  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, value: current_user.full_name.split(' ').last %>
  </div>
  <div class="field">
    <%= form.label :address %>
    <div class="flex items-center">
      <%= form.text_field :address, value: example_email_username, class: 'input--narrow right-align' %>
      <span style="margin-left: 2px;">@<%= g_suite_account.g_suite.domain %></span>
    </div>
  </div>
  <div class="field">
    <%= form.label :backup_email %>
    <%= form.email_field :backup_email, value: current_user.email %>
    <span class="block muted h5">(This address will receive an initial password, password reset emails, etc.)</span>
  </div>
  <div class="actions">
    <%= form.submit 'Create' %>
  </div>
<% end %>
