<%= form_with(model: [@g_suite, g_suite_account], local: true) do |form| %>
  <%= form_errors g_suite_account, 'account' %>

  <h3 class="mb1">
    Add <%= @g_suite.accounts.any? ? 'another': 'your first' %> account
  </h3>

  <div class="flex items-center">
  <div class="field mr2">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, value: current_user&.first_name %>
  </div>
  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, value: current_user&.last_name %>
  </div>
  </div>
  <div class="field">
    <%= form.label :address %>
    <div class="flex items-center">
      <%= form.text_field :address, value: example_email_username, class: 'input--narrow right-align' %>
      <span style="margin-left: 2px;">@<%= g_suite_account.g_suite.domain %></span>
    </div>
  </div>
  <div class="field">
    <%= form.label :backup_email %>
    <%= form.email_field :backup_email, value: current_user&.email %>
    <span class="block muted h5">(To sign into your account for the first time, you'll receive your initial password to this email.)</span>
  </div>
  <div class="actions">
    <%= form.submit 'Create', disabled: !organizer_signed_in? %>
  </div>
<% end %>
