<h2 class="mt0 mb0">Your accounts</h2>

<% if @g_suite.accounts.any? %>
  <ul class="list list--row list--unlinked mt0 mb2">
    <% @g_suite.accounts.order(:address).each do |account| %>
      <li class="flex items-center justify-between">
        <div class="description">
          <p class="m0">
            <strong><%= account.first_name %> <%= account.last_name %></strong>
            &middot;
            <span><%= account.username %></span><span class="muted"><%= account.at_domain %></span>
          </p>
          <p class="slate m0">
          <% if account.suspended? %>
            <%= status_badge :error %>
            <span>Suspended.</span>
          <% elsif account.initial_password.present? %>
            <%= status_badge :success %>
            <span>Active.</span>
          <% else %>
            <%= status_badge :pending %>
            <span><%= account.status %>.</span>
          <% end %>
          <% if admin_signed_in? || account.backup_email == current_user.email %>
            <span>Backup email: <%= content_tag :code, account.backup_email %></span>
          <% end %>
          </p>
          <% if account.accepted? %>
            <%= link_to 'Reset password', g_suite_account_reset_password_path(account.id), method: :put,
                data: { confirm: "Reset the account password for #{account.address}? We'll email a new password to the backup email." },
                class: 'h5 muted underline'
              %>
            &middot;
            <%= link_to (account.suspended? ? 'Re-activate' : 'Suspend'),
                g_suite_account_toggle_suspension_path(account.id),
                method: :put,
                data: { confirm: "Do you really want to #{account.suspended? ? 're-activate' : 'suspend'} #{account.address}?"},
                class: 'h5 muted underline'
              %>
          <% end %>
        </div>
        <div class="tools flex items-center">
          <% admin_tools('flex items-center') do %>
            <%= link_to 'Delete', account, method: :delete,
              data: { confirm: "Deleting #{account.address} is *permanent, irreversible, and does not back up any data*. Think carefully before you click ok." },
              class: 'h5 muted underline'
            %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>

  <% if one_has_password? @g_suite.accounts %>
    <div class="flex items-center info">
      <%= inline_icon 'important', size: 32, class: 'mr1' %>
      <p class="info mt0 mb0">
        Need to deactivate G Suite accounts? Talk to your point of contact,
        <%= @g_suite.event.point_of_contact.full_name %>.
      </p>
    </div>
  <% end %>
<% end %>

<%= render 'g_suite_accounts/new', g_suite_account: GSuiteAccount.new(g_suite: @g_suite) %>
