<h2 class="mt0 mb0">Your accounts</h2>

<% if @g_suite.g_suite_accounts.any? %>
  <ul class="list list--unlinked mt0 mb2">
    <% @g_suite.g_suite_accounts.each do |account| %>
      <li>
        <p>
          <strong><%= account.username %></strong><span><%= account.at_domain %></span>
          – <strong><%= account.status %></strong>
        </p>
        <p class="slate">
          <% if account.initial_password.present? %>
            <%= status_badge :success %>
            <span>sign in with one-time password:</span>
            <code class="bg-snow pl1 pr1"><%= account.initial_password %></code>
          <% else %>
            <%= status_badge :pending %>
            <span>account not yet set up</span>
          <% end %>
        </p>
        <% if admin_signed_in? || account.backup_email === current_user.email %>
          <p class="muted">for <%= account.backup_email %></p>
        <% end %>
      </li>
      <% end %>
  </ul>
<% else %>
  <%= blankslate 'You’ll need to create one or more accounts before continuing.' %>
<% end %>

<%= render 'g_suite_accounts/new', g_suite_account: GSuiteAccount.new(g_suite: @g_suite) %>
