<h2 class="mt0 mb0">Your accounts</h2>

<% if @g_suite.accounts.any? %>
<% if organizer_signed_in? %>
  <ul class="list list--row list--unlinked mt0 mb2">
    <% @g_suite.accounts.order(:address).each do |account| %>
      <li class="flex items-center justify-between">
        <div class="description">
          <p class="m0">
            <strong><%= account.first_name %> <%= account.last_name %></strong>
            &middot;
            <span><%= account.username %></span><span class="muted"><%= account.at_domain %></span>
          </p>
          <p class="slate m0">
          <% if account.suspended? %>
            <%= status_badge :error %>
            <span>Suspended.</span>
          <% elsif account.initial_password.present? %>
            <%= status_badge :success %>
            <span>Active.</span>
          <% else %>
            <%= status_badge :pending %>
            <span><%= account.status %>.</span>
          <% end %>
          <% if admin_signed_in? || account.backup_email == current_user&.email %>
            <span>Backup email: <%= content_tag :code, account.backup_email %></span>
          <% end %>
          </p>
        </div>
        <action type="button" class="pop menu__toggle" data-behavior="menu_toggle" aria-expanded="false" tabindex="0">
          <%= inline_icon 'more' %>
          <div class="menu__content" data-behavior="menu_content">
            <% if account.accepted? && organizer_signed_in? %>
            <%= link_to 'Reset password',
                g_suite_account_reset_password_path(account.id),
                method: :put,
                'data-confirm': "Reset the account password for #{account.address}? We’ll email a new password to the backup email."
            %>
            <%= link_to (account.suspended? ? 'Re-activate' : 'Suspend'),
                g_suite_account_toggle_suspension_path(account.id),
                method: :put,
                'data-confirm': "Do you really want to #{account.suspended? ? 're-activate' : 'suspend'} #{account.address}?"
            %>
            <% end %>
            <%= link_to 'Delete',
              account,
              method: :delete,
              'data-confirm': "Deleting #{account.address} is *permanent, irreversible, and does not back up any data*. Think carefully before you click ok.",
              class: 'admin-tools' if admin_signed_in?
            %>
          </div>
        </action>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="secondary">You can’t see or edit Google Workspace accounts in Transparency Mode.</p>
<% end %>
<% end %>

<%= render 'g_suite_accounts/new', g_suite_account: GSuiteAccount.new(g_suite: @g_suite) %>
