<% title 'Edit Google Workspace Account' %>
<%= link_to 'Google Workspace Accounts', g_suite_accounts_path, class: 'breadcrumb' %>
<h1>Editing Google Workspace Account</h1>
<p><strong>For #<%= @event.id %> <%= @event.name %> </strong></p>

<%= form_with(model: @g_suite_account, local: true) do |form| %>
  <%= form_errors @g_suite_account, 'account' %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.email_field :address %>
  </div>

  <div class="field">
    <%= form.label :backup_email %>
    <%= form.email_field :backup_email %>
  </div>

  <div class="field">
    <%= form.label :initial_password %>
    <%= form.text_field :initial_password, required: 'required' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
