<% if stripe_cards.blank? %>
  <%= blankslate "You don't have any #{status} cards yet." %>
<% else %>
  <article class="table-container">
    <table>
      <thead>
      <tr>
        <th>Cardholder</th>
        <th>Number</th>
        <th>Type</th>
        <th>Status</th>
        <th>Issued on</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% stripe_cards.each do |c| %>
        <tr>
          <%# Cardholder %>
          <td>
            <%= c.user.name || c.stripe_name || c.user.full_name %>
          </td>

          <%# Card number %>
          <td class="fs-mask">
            <%= c.hidden_card_number_with_last_four if organizer_signed_in? %>
            <%= c.hidden_card_number unless organizer_signed_in? %>
          </td>

          <%# Type %>
          <td>
            <%= c.virtual? ? "Virtual" : "Physical" %>
          </td>

          <%# Status %>
          <td>
            <span class="ml0 badge bg-<%= c.state %>"><%= c.state_text %></span>
          </td>

          <%# Date issued %>
          <td>
            <%= format_date c.created_at %>
          </td>

          <td>

            <%= link_to "Details", stripe_card_path(c), data: @show_card_popovers && { behavior: "modal_trigger", modal: "card_popover_#{c.id}" } if organizer_signed_in? && !@event.demo_mode %>
          </td>
        </tr>

        <% if @show_card_popovers %>
          <% popover_title = c.initially_activated ? "Card #{c.last_four}" : "Inactive card" %>
          <section
            class='modal modal--scroll modal--popover modal--popover--sm bg-snow'
            data-behavior='modal' role='dialog' id='card_popover_<%= c.id %>'
            data-state-url='<%= url_for(c) %>'
            data-state-title='<%= popover_title %>'>

            <%= modal_header(popover_title, external_link: url_for(c)) %>
            <%= turbo_frame_tag "stripe_card_#{c.public_id}", src: c.popover_path, loading: :lazy do %>
              <%= render partial: "application/loading_container" %>
            <% end %>
          </section>
        <% end %>

      <% end %>
      </tbody>
    </table>
  </article>
<% end %>
