<div class="container container--md card p3 mt2 overflow-visible">
  <h1 class="mt1">
    FAQ
    <span class="muted h3 regular font-sans block">
      Frequently asked questions about HCB
    </span>
  </h1>

  <ul class="list-reset">

    <li class="mb3 group/item" id="ein">
      <details open>
        <summary class="cursor-pointer relative group/summary">
          <%= anchor_link "ein" %>
          <h3 class="inline mb1 rounded-md px-1 group-target/item:dark:text-shadow group-target/item:bg-highlight">A supporter is asking for our tax ID or employer number (EIN). Where can I find it?</h3>
        </summary>
        <article>
          <p>
          HCB’s 501(c)(3) nonprofit status comes from <a
          href="https://hackclub.com">Hack Club</a>, which is legally
          registered as The Hack Foundation. Our EIN, which is the same as
          our tax ID, is <code>81-2908499</code>. It is also available at the
          bottom of <a href="https://hackclub.com">https://hackclub.com</a>.
          </p>
        </article>
      </details>
    </li>

    <li class="mb3 group/item" id="lost-stolen-card">
      <details open>
        <summary class="cursor-pointer relative group/summary">
          <%= anchor_link "lost-stolen-card" %>
          <h3 class="inline mb1 rounded-md px-1 group-target/item:dark:text-shadow group-target/item:bg-highlight">What do I do if I lost my HCB card, if it got stolen, or if it expires?</h3>
        </summary>
        <article>
          <p>
          If your card is lost or stolen, please get in touch with the HCB team
          <% if organizer_signed_in? %>
            (<%= help_email %>)
          <% else %>
            <span class="muted">(sign in to view)</span>
          <% end %>
          as soon as possible. In the meantime, please freeze your card within
          the HCB dashboard. If your card expires, you can issue
          yourself a new card through the HCB dashboard—
          HCB cards do not auto-renew when they pass their expiry date.
          </p>
        </article>
      </details>
    </li>

    <li class="mb3 group/item" id="uploading-receipts">
      <details open>
        <summary class="cursor-pointer relative group/summary">
          <%= anchor_link "uploading-receipts" %>
          <h3 class="inline mb1 rounded-md px-1 group-target/item:dark:text-shadow group-target/item:bg-highlight">I keep getting emails about uploading receipts when I make a purchase using a card. Do I have to upload receipts?</h3>
        </summary>
        <article>
          <p>
          Yes. The IRS requires all nonprofits to keep receipts for
          transactions on file. Additionally, nonprofits following best
          practices hire auditors to ensure their books are compliant.
          Missing receipts lead to failed audits.
          </p>
          <p>
          Continually not uploading receipts for purchases is grounds for
          termination of fiscal sponsorship, as it puts the 501(c)(3) status
          of Hack Club and everyone else partnering with HCB at
          risk.
          </p>
        </article>
      </details>
    </li>

    <li class="mb3 group/item" id="alternative-payment">
      <details open>
        <summary class="cursor-pointer relative group/summary">
          <%= anchor_link "alternative-payment" %>
          <h3 class="inline mb1 rounded-md px-1 group-target/item:dark:text-shadow group-target/item:bg-highlight">
            Our supporter wants to pay through Bill.com or something other than invoices through Stripe
            / Our supporter has an employee donation matching program, and they use their own system to give.
          </h3>
        </summary>
        <article>
          <p>
          We can accommodate whichever method the supporter would like to
          use, including proprietary "supplier systems" that larger companies
          may use to pay their bills. These methods usually require that they
          connect and pay directly to HCB’s underlying bank
          account (not Stripe’s invoicing system), so please contact the HCB
          team
          <% if organizer_signed_in? %>
            (<%= help_email %>)
          <% else %>
            <span class="muted">(sign in to view)</span>
          <% end %>
          to start this process.
          </p>
        </article>
      </details>
    </li>

    <li class="mb3 group/item" id="change-name">
      <details open>
        <summary class="cursor-pointer relative group/summary">
          <%= anchor_link "change-name" %>
          <h3 class="inline mb1 rounded-md px-1 group-target/item:dark:text-shadow group-target/item:bg-highlight">Can we change the name or Google Workspace domain of our organization?</h3>
        </summary>
        <article>
          <p>
          Yes, you’re not locked into the name or Google Workspace domain you
          used to set up your HCB account. However, currently,
          changing your organization name is a fairly involved process on our
          backend, so you’re only able to change your name up to twice every
          year. If you need to change your name or domain more frequently,
          please contact the HCB team.
          </p>
        </article>
      </details>
    </li>

    <li class="mb3 group/item" id="donor-990">
      <details open>
        <summary class="cursor-pointer relative group/summary">
          <%= anchor_link "donor-990" %>
          <h3 class="inline mb1 rounded-md px-1 group-target/item:dark:text-shadow group-target/item:bg-highlight">A donor is asking for a 990 form. Where can I find that?</h3>
        </summary>
        <article>
          <p>
          Hack Club's IRS Form 990 can be found on <%= link_to "https://the.hackfoundation.org", target: "_blank" do %>hackfoundation.org<% end %> in the Finances section.
          </p>
        </article>
      </details>
    </li>

    <li class="mb3 group/item" id="paper-check">
      <details open>
        <summary class="cursor-pointer relative group/summary">
          <%= anchor_link "paper-check" %>
          <h3 class="inline mb1 rounded-md px-1 group-target/item:dark:text-shadow group-target/item:bg-highlight">I need to deposit a check. What should I do?</h3>
        </summary>
        <article>
          <p>
            HCB has two ways to deposit checks! You can deposit a check virtually using HCB's Check Deposit tool. Alternatively, to have a check physically processed, please view the steps below.
          </p>

          <p>
            Please note: Checks must be made out to either <i>"The Hack Foundation"</i> or <i>"Hack Club"</i>. Our banking partners will, unfortunately, reject checks made out to any name besides those two.
          </p>

          <p>
            Please see <a href="https://cloud-82tb02emf-hack-club-bot.vercel.app/0img_0601.jpg" target="_blank">here</a> for an example of how to write a check to be deposited into your organization's fund with HCB.
          </p>

          <p>
            Depositing checks virtually is the best way to receive your funds! Simply go to the Check deposit tab, take a photo of the front and back of your check, write in the amount, and you're done!
          </p>

          <p>
            To deposit a physical check, yourself or a donor can mail it to our physical address. To be transparent, checks sent to our physical address involve a lot of time from our operations team and will take longer to process. Because of this, we strongly recommend you deposit checks virtually.
          </p>

          <p>
            For us to physically process a check, it has to be mailed to:
          </p>

               <code>
<pre>
The Hack Foundation
8605 Santa Monica Blvd #86294
West Hollywood, CA 90069
</pre>
              </code>
          <p>
            Be sure that your organization's name is included either on the check's memo or somewhere else in or on the envelope sent. Without it, we can't properly route received funds. After a check has been sent, please notify your operations contact or email us at <a href="mailto:hcb@hackclub.com">hcb@hackclub.com</a>.
          </p>
        </article>
      </details>
    </li>

    <li class="mb3 group/item" id="international-projects">
      <details open>
        <summary class="cursor-pointer relative group/summary">
          <%= anchor_link "international-projects" %>
          <h3 class="inline mb1 rounded-md px-1 group-target/item:dark:text-shadow group-target/item:bg-highlight">
            Are international projects, events, and clubs (outside of the US)
            eligible to use HCB?
          </h3>
        </summary>
        <article>
          <p>
          We are currently in the process of building out our support for
          international organizations. As a result, we do not have a definitive
          answer. If you are interested, we would love for you to
          <%= link_to "https://hackclub.com/fiscal-sponsorship/", target: "_blank" do %>apply<% end %>
          so we can hear what you're working on and whether we can
          possibly work together.
          </p>
        </article>
      </details>
    </li>

    <li class="mb3 group/item" id="security">
      <details open>
        <summary class="cursor-pointer relative group/summary">
          <%= anchor_link "security" %>
          <h3 class="inline mb1 rounded-md px-1 group-target/item:dark:text-shadow group-target/item:bg-highlight">I found a security vulnerability.</h3>
        </summary>
        <article>
          <p>
            Please email <%= mail_to "hcb-security@hackclub.com" %> to report the vulnerability. We currently don't have a bug bounty program
            but, as a token of appreciation, we'd love to mail you a t-shirt and give you a shoutout on our GitHub.
          </p>
        </article>
      </details>
    </li>

    <li class="mb3 group/item" id="contact">
      <details open>
        <summary class="cursor-pointer relative group/summary">
          <%= anchor_link "contact" %>
          <h3 class="inline mb1 rounded-md px-1 group-target/item:dark:text-shadow group-target/item:bg-highlight">I have a question that isn’t listed here.</h3>
        </summary>
        <article>
          <p>
          You can email <%= help_email %> with all your unanswered questions
          about HCB. If we get it often, we’ll also add your
          question to this FAQ page!
          </p>
        </article>
      </details>
    </li>
  </ul>
</div>
