<div class="
  <%= "flex items-center filter-menu" unless defined?(headless) %>">
  <div data-controller="menu" class="inline-flex items-center" data-menu-append-to-value="turbo-frame#ledger" data-menu-placement-value="bottom-start">
    <%= yield %>
    <div class="menu__content menu__content--2 menu__content--compact h5" style="width: 290px; padding: 0.5rem" data-menu-target="content">
      <div data-controller="tabs" data-tabs-default-tab-value="status">
        <button id="status" data-tabs-target="btn" data-action="tabs#select">Status</button>
        <button id="users" data-tabs-target="btn" data-action="tabs#select">Users</button>

        <div data-tabs-target="tab" id="status">
          <% unless show_mock_data? %>
            <div class="menu__divider"></div>
            <% %w[virtual physical active inactive].each do |status| %>
              <%= link_to status.humanize, upsert_query_params(status:), class: "flex-auto menu__action !border-t-0 #{"menu__action--active" if @status == status}" %>
            <% end %>
          <% end %>
        </div>
        <div data-tabs-target="tab" id="users">
          <div class="menu__divider"></div>
          <% @all_unique_cardholders.each do |cardholder| %>
            <%= link_to upsert_query_params(user: cardholder), class: "flex-auto menu__action !border-t-0 #{"menu__action--active" if @user_id.to_i == cardholder.user.id}" do %>
              <div class="avatar-grow line-height-0 mr1">
                <%= avatar_for cardholder.user, 18 %>
              </div>
              <%= cardholder.user.name %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% unless defined?(headless) %>
    <% if @status || @user_id %>
      <%= link_to nil, class: "-ml-2 pop muted tooltipped tooltipped--s", aria: { label: "Clear filters" } do %>
        <%= inline_icon "view-close", size: 28 %>
      <% end %>
    <% end %>

    <div class="filter-menu__chips">
      <% if @status %>
        <div class="badge badge-large bg-muted">
          Status: <%= @status.humanize %>
          <%= link_to upsert_query_params("status" => nil) do %>
            <%= inline_icon "view-close", size: 20 %>
          <% end %>
        </div>
      <% end %>

      <% if @user_id %>
        <div class="badge badge-large bg-muted">
          User: <%= User.find(@user_id).name %>
          <%= link_to upsert_query_params("user" => nil) do %>
            <%= inline_icon "view-close", size: 20 %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
