<div data-controller="menu" class="flex items-center" data-menu-append-to-value="turbo-frame#ledger" data-menu-placement-value="bottom-end">
  <button
    type="button"
    class="pop info cursor-pointer"
    data-menu-target="toggle" data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown">
    <%= inline_icon "filter", size: 28 %>
  </button>
  <div class="menu__content menu__content--2 menu__content--compact h5" style="width: 290px; padding: 0.5rem" data-menu-target="content">

    <div data-controller="tabs" data-tabs-default-tab-value="status">
      <button id="status" data-tabs-target="btn" data-action="tabs#select">Status</button>
      <button id="users" data-tabs-target="btn" data-action="tabs#select">Users</button>

      <div data-tabs-target="tab" id="status">
        <% unless show_mock_data? %>
          <div class="menu__divider"></div>
          <%= link_to "All", "#{event_cards_overview_path(event_id: @event.slug)}#{"?user=#{@user_id}" if @user_id}", class: "flex-auto menu__action" %>
          <% %w[virtual physical active inactive].each do |status| %>
            <%= link_to status.humanize, "?status=#{status}#{"&user=#{@user_id}" if @user_id}", class: "flex-auto menu__action !border-t-0 #{"menu__action--active" if @status == status}" %>
          <% end %>
        <% end %>
      </div>
      <div data-tabs-target="tab" id="users">
        <div class="menu__divider"></div>
        <% @all_unique_cardholders.each do |cardholder| %>
          <%= link_to "?user=#{cardholder.user_id}#{"&status=#{@status}" if @status}", class: "flex-auto menu__action !border-t-0 #{"menu__action--active" if @user_id.to_i == cardholder.user.id}" do %>
            <div class="avatar-grow line-height-0 mr1">
              <%= avatar_for cardholder.user, 18 %>
            </div>
            <%= cardholder.user.name %>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if @user_id || @status %>
      <div class="menu__divider"></div>
      <%= link_to do %>
        <%= inline_icon "view-close", size: 24 %>
        Clear filters
      <% end %>
    <% end %>

  </div>
</div>
