<div data-controller="menu" class="inline-flex items-center" data-menu-append-to-value="turbo-frame#ledger" data-menu-placement-value="bottom-start">
  <button
    type="button"
    class="pop my-2 cursor-pointer tooltipped tooltipped--s"
    aria-label="Add filter..."
    data-menu-target="toggle" data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown">
    <%= inline_icon "filter", size: 28 %>
  </button>
  <div class="menu__content menu__content--2 menu__content--compact h5" style="width: 290px; padding: 0.5rem" data-menu-target="content">
    <div data-controller="tabs" data-tabs-default-tab-value="type">
      <button id="type" data-tabs-target="btn" data-action="tabs#select">Type</button>
      <button id="status" data-tabs-target="btn" data-action="tabs#select">Status</button>
      <button id="users" data-tabs-target="btn" data-action="tabs#select">Users</button>

      <div data-tabs-target="tab" id="type">
        <% unless show_mock_data? %>
          <div class="menu__divider"></div>
          <% %w[virtual physical].each do |type| %>
            <%= link_to type.humanize, upsert_query_params(type:, page: 1), class: "flex-auto menu__action !border-t-0 #{"menu__action--active" if @type == type}", data: { turbo_prefetch: "false" } %>
          <% end %>
        <% end %>
      </div>

      <div data-tabs-target="tab" id="status">
        <% unless show_mock_data? %>
          <div class="menu__divider"></div>
          <% %w[active frozen canceled].each do |status| %>
            <%= link_to status.humanize, upsert_query_params(status:, page: 1), class: "flex-auto menu__action !border-t-0 #{"menu__action--active" if @status == status}", data: { turbo_prefetch: "false" } %>
          <% end %>
        <% end %>
      </div>

      <div data-tabs-target="tab" id="users">
        <div class="menu__divider"></div>
        <% @all_unique_cardholders.each do |cardholder| %>
          <%= link_to upsert_query_params(user: cardholder.user, page: 1), class: "flex-auto menu__action !border-t-0 #{"menu__action--active" if @user_id.to_i == cardholder.user.id}", data: { turbo_prefetch: "false" } do %>
            <div class="avatar-grow line-height-0 mr1">
              <%= avatar_for cardholder.user, size: 18 %>
            </div>
            <%= cardholder.user.name %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
