<% filter_applied = @user || @type || @start_date || @end_date || @minimum_amount || @maximum_amount || @tag || @missing_receipts %>

<div class="filterbar flex flex-row justify-between items-center width-100" style="gap: 16px">
  <%= form_with(model: nil, local: true, method: :get, class: "flex-auto") do |form| %>
    <div class="input input-group max-w-none" tabindex="0">
      <%= inline_icon "search" %>
      <%= form.text_field :q, placeholder: "Type / to search...", data: { behavior: "search" }, value: params[:q] %>
      <% if params[:q] && params[:q] != "" %>
        <button data-behavior="clear" type="submit" class="pop muted w-7 h-7 tooltipped tooltipped--s" aria-label="Clear filters">
          <%= inline_icon "view-close", size: 24 %>
        </button>
      <% end %>
    </div>
    <% if @tag %>
      <%= form.hidden_field :tag, value: @tag.label %>
    <% end %>
  <% end %>

  <%= render partial: "filter_menu" unless filter_applied %>

  <% if @event.canonical_transactions.any? %>
    <div data-controller="menu" data-menu-placement-value="bottom-end">
      <button
        type="button"
        class="tooltipped tooltipped--s pop menu__toggle menu__toggle--arrowless overflow-visible"
        aria-label="Export transactions"
        data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown"
        data-menu-target="toggle">
        <%= inline_icon "download", size: 28 %>
      </button>
      <div class="menu__content menu__content--2 menu__content--compact h5" data-menu-target="content">
        <%= link_to "All transactions (CSV)", transactions_exports_path(event: @event, format: :csv), target: :_blank %>
        <%= link_to "All transactions (JSON)", transactions_exports_path(event: @event, format: :json), target: :_blank %>
        <%= link_to "All transactions (Ledger)", transactions_exports_path(event: @event, format: :ledger), target: :_blank %>
        <%= link_to "Monthly statements", event_statements_path(@event) %>
      </div>
    </div>
  <% end %>

  <% if organizer_signed_in? && Flipper.enabled?(:transaction_tags_2022_07_29, @event) && @event.tags.size > 0 %>
    <div
      data-controller="menu"
      data-menu-append-to-value="turbo-frame#ledger"
      data-menu-placement-value="bottom-end"
      data-transactions-target="tagger"
      class="display-none">
      <button
        type="button"
        class="tooltipped tooltipped--s pop menu__toggle menu__toggle--arrowless overflow-visible z-10"
        aria-label="Toggle tags"
        data-menu-target="toggle" data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown">
        <%= inline_icon "sticker", size: 28 %>
      </button>
      <div class="menu__content menu__content--2 menu__content--compact h5" data-menu-target="content">
        <% @event.tags.each do |tag| %>
          <div class="flex items-center" data-tag="<%= tag.id %>">
            <button class="menu__action" title="Apply this tag" data-action="click->transactions#addTag menu#close" data-tag-id="<%= tag.id %>">
              <%= tag.label %>
            </button>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% admin_tool(@show_running_balance ? "" : "display-none") do %>
    <div data-controller="menu" data-menu-append-to-value="turbo-frame#ledger" data-menu-placement-value="bottom-end">
      <button
        type="button"
        class="btn btn-small bg-info menu__toggle menu__toggle--arrowless overflow-visible z-10"
        data-menu-target="toggle" data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown">
        <%= inline_icon "list", size: 16, style: "margin: 0" %>
        <span class="xs-hide sm-hide md-hide nowrap">Count</span>
      </button>
      <div class="menu__content menu__content--2 menu__content--compact h5" data-menu-target="content">
        <% [10, 25, 50, 100, 200].each do |amount| %>
          <div class="flex items-center">
            <%= link_to(upsert_query_params(per: amount), class: "flex-auto menu__action", data: { turbo_prefetch: "false" }) do %>
              <%= amount %> Transactions Per Page
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% if filter_applied %>
  <div class="flex items-center filter-menu">
    <%= render partial: "filter_menu" %>

    <%= link_to nil, class: "-ml-2 pop muted tooltipped tooltipped--s", aria: { label: "Clear filters" }, data: { turbo_prefetch: "false" } do %>
      <%= inline_icon "view-close", size: 28 %>
    <% end %>

    <div class="filter-menu__chips">
      <% if @tag %>
        <div class="badge badge-large bg-muted">
          <div class="tag__preview tag-<%= @tag.color || "muted" %>"></div>
          <%= @tag.label %>

          <%= link_to upsert_query_params("tag" => nil), class: "flex items-center", data: { turbo_prefetch: "false" } do %>
            <%= inline_icon "view-close", size: 20 %>
          <% end %>
        </div>
      <% end %>
      <% if @user %>
        <div class="badge badge-large bg-muted">
          <%= avatar_for @user, size: 18 %>
          <%= @user.name %>

          <%= link_to upsert_query_params("user" => nil), class: "flex items-center", data: { turbo_prefetch: "false" } do %>
            <%= inline_icon "view-close", size: 20 %>
          <% end %>
        </div>
      <% end %>
      <% if @type %>
        <div class="badge badge-large bg-muted">
          <%= @type.humanize.gsub("Ach", "ACH").gsub("Paypal", "PayPal").gsub("Hcb", "HCB") %>
          <%= link_to upsert_query_params("type" => nil), class: "flex items-center", data: { turbo_prefetch: "false" } do %>
            <%= inline_icon "view-close", size: 20 %>
          <% end %>
        </div>
      <% end %>
      <% if @start_date || @end_date %>
        <div class="badge badge-large bg-muted">
          <%= @start_date && @end_date ? "Between" : @end_date ? "Before" : "After" %>
          <%= @start_date&.to_datetime&.strftime("%m/%d/%Y") || "" %>
          <%= @end_date && @start_date ? " and " : "" %>
          <%= @end_date&.to_datetime&.strftime("%m/%d/%Y") || "" %>

          <%= link_to upsert_query_params("start" => nil, "end" => nil, "commit" => nil), class: "flex items-center", data: { turbo_prefetch: "false" } do %>
            <%= inline_icon "view-close", size: 20 %>
          <% end %>
        </div>
      <% end %>
      <% if @minimum_amount || @maximum_amount %>
        <div class="badge badge-large bg-muted">
          <%= @minimum_amount && @maximum_amount ? "Between" : @maximum_amount ? "Less than" : "More than" %>
          <%= render_money @minimum_amount if @minimum_amount %>
          <%= @minimum_amount && @maximum_amount ? " and " : "" %>
          <%= render_money @maximum_amount if @maximum_amount %>

          <%= link_to upsert_query_params("minimum_amount" => nil, "maximum_amount" => nil), class: "flex items-center", data: { turbo_prefetch: "false" } do %>
            <%= inline_icon "view-close", size: 20 %>
          <% end %>
        </div>
      <% end %>
      <% if @missing_receipts %>
        <div class="badge badge-large bg-muted">
          Missing Receipts
          <%= link_to upsert_query_params("missing_receipts" => nil), class: "flex items-center", data: { turbo_prefetch: "false" } do %>
            <%= inline_icon "view-close", size: 20 %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
