<%= form_with(model: invite, local: true, url: event_organizer_position_invites_path) do |form| %>
  <%= form_errors invite %>

  <div class="field" x-data="{ email: '' }">
    <%= form.label :email, class: "mb1" %>

    <div class="flex items-center">
      <%= form.email_field :email, class: "mr1", "x-model": "email" %>
    </div>
    <template x-if="/^(team|webmaster|marketing|admin|info|about|support|sales|hq|hello)@/.test(email)">
      <div class="warning mt1">⚠️ For security, we discourage team emails on HCB. We recommend individual emails such as <em>ben@hackclub.com</em>!</div>
    </template>
  </div>

  <% if Flipper.enabled?(:user_permissions_2024_03_09, @event) %>
    <div class="field">
      <%= form.label :role, class: "mb1" %>
      <%= form.select :role, OrganizerPosition.roles.keys.map { |role| [role.humanize, role] }, { include_blank: false  }, { class: "form-select", id: "inviteFormRolePicker" } %>

      <p class="muted mb1">
        Someone invited as a <span class="bold info">manager</span> can do everything in the organization.
      </p>

      <div class="muted mb1">
        <p class="m0">Someone invited as a <span class="bold info">member</span> can</p>
        <ul class="m0">
          <li>Create cards</li>
          <li>Spend money</li>
          <li>Not change the organization's settings</li>
        </ul>
      </div>
    </div>
  <% end %>

  <% admin_tool("mb2 flex g1 w-fit") do %>
    <div class="field field--checkbox mb0 line-height-0" data-controller="team-invite-form" data-action="click->team-invite-form#toggle">
      <%= form.check_box :is_signee, "data-team-invite-form-target": "realCheckbox", style: "display: none;" %>

      <div class="warning">
        <div data-team-invite-form-target="docsPos" style="translate: 1px -1px; display: none;"><%= inline_icon("docs-positive", size: 20) %></div>
        <div data-team-invite-form-target="docsNeg" style="translate: -1.5px 0; display: none;"><%= inline_icon("docs-negative", size: 20) %></div>
      </div>
    </div>

    <%= form.label :is_signee, "Is a contract signee?", class: "m0 no-select" %>
  <% end %>

  <%= form.submit "Submit" %>
<% end %>
