<%= form_with(model: event, local: true, class: "mb3") do |form| %>
  <%= form_errors event, "organization" %>

  <h3 class="mb1">Organization profile</h3>

  <div class="card">
    <div class="field">
      <%= form.label :logo %>
      <p class="h5 muted mt0 mb1">
        Displayed on your
        <%= link_to "donation page",
          @event.donation_page_enabled? ? start_donation_donations_path(@event) : { anchor: "donations" },
          target: @event.donation_page_enabled? ? "_blank" : nil %>.
      </p>
      <% if @event.logo.attached? %>
        <%= image_tag @event.logo, height: 72 %>
      <% end %>
      <div class="field--fileupload">
        <%= form.label :logo, "Choose File", class: "field--fileupload__label" %>
        <%= form.file_field :logo, accept: "image/*,image/heic", class: "field--fileupload__field" %>
      </div>

      <% if @event.logo.attached? %>
        <%= link_to "Remove logo", event_remove_logo_path(@event), class: "block mt1", method: :post %>
      <% end %>
    </div>

    <div class="field mt3">
      <%= form.label :background_image %>
      <p class="h5 muted mt0 mb1">
        Displayed as the background of your organization's card on the homepage.
      </p>
      <% if @event.background_image.attached? %>
        <%= image_tag @event.background_image, width: 256 %>
      <% end %>
      <div class="field--fileupload">
        <%= form.label :background_image, "Choose File", class: "field--fileupload__label" %>
        <%= form.file_field :background_image, accept: "image/*,image/heic", class: "field--fileupload__field" %>
      </div>

      <% if @event.background_image.attached? %>
        <%= link_to "Remove background", event_remove_background_image_path(@event), class: "block mt1", method: :post %>
      <% end %>
    </div>

    <div class="field mt3">
      <%= form.label :description, "Mission Statement" %>
      <p class="h5 muted mt0 mb1">
        A short description of your organization's goals and impacts.
      </p>
      <%= form.text_area :description, placeholder: "Focusing on...", class: "w-100 fit" %>
    </div>

    <div class="field mt2">
      <%= form.label :website, "Website URL" %>
      <%= form.text_field :website, type: :url, placeholder: "https://hackclub.com", class: "w-100 fit" %>
    </div>

    <%= form.submit "Update" %>
  </div>

  <% if @event.card_grant_setting.present? %>

    <h3 class="mb1" id="card-grants">Card Grants</h3>

    <div class="card">
      <%= form.fields_for :card_grant_setting, @event.card_grant_setting do |card_grant_setting_fields| %>
        <%= card_grant_setting_fields.hidden_field :id, value: @event.card_grant_setting.id %>
        <div class="field">
          <%= card_grant_setting_fields.label :merchant_lock, "Update Approved Merchants" %>
          <%= card_grant_setting_fields.text_field :merchant_lock, placeholder: "123456789", class: "w-100 fit", value: @event.card_grant_setting.merchant_lock.join(", ") %>
          <p class="h5 muted mt0 mb1">
            Provide a comma-separated list of merchant network IDs to lock all card grants issued from this event to.
          </p>
        </div>

        <div class="field">
          <%= card_grant_setting_fields.label :category_lock, "Update Category Lock" %>
          <%= card_grant_setting_fields.text_field :category_lock, placeholder: "fast_food_restaurants", value: @event.card_grant_setting.category_lock.join(", ") %>
          <p class="h5 muted mt0 mb1">Provide a comma-separated list of <a href="https://stripe.com/docs/issuing/categories">merchant categories</a> to lock all card grants issued from this event to.</p>
        </div>

        <div class="field">
          <%= card_grant_setting_fields.label :invite_message, "Update Invite Message" %>
          <%= card_grant_setting_fields.text_area :invite_message, placeholder: "It's pizza time!", value: @event.card_grant_setting.invite_message %>
          <p class="h5 muted mt0 mb1">
            <%= link_to "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#table-of-contents", target: "_blank" do %>
              <%= inline_icon "markdown", size: 32 %> Styling with Markdown is supported
            <% end %>
          </p>
        </div>
      <% end %>

      <%= form.submit "Update" %>
    </div>

  <% end %>

  <% if !@event.unapproved? %>
    <% if params[:jank].present? || DateTime.now <= Time.new(2022, 4, 2, 9, 30, 00, "-04:00") %>
      <h3 class="mb1 border-none flex flex-row items-center">
        <span>Custom CSS</span>
        <span class="badge nowrap bg-warning">Beta</span>
        <span class="badge nowrap ml1 bg-<%= @color %>"><%= @flavor %></span>
      </h3>

      <div class="card">
        <p class="mt0">To customize the styling on your dashboard, paste a <strong>link to a CSS file</strong> below. Here are a few of the class names you might find helpful to spice up your dashboard:</p>
        <ul class="mt0 pl2 mb2">
          <li><code>circle</code> is an avatar</li>
          <li><code>heading</code> is the main heading for the page (eg. <strong>Financials</strong>)</li>
          <li><code>badge</code> is a badge that shows a status or count</li>
          <li><code>stat</code> shows the amount of money raised in a given category</li>
          <li><code>primary</code> is the accent color of the text and icons on the dashboard, currently <span style="color: #ec3750; font-weight: bold;">#EC3750</span></li>
          <li><code>h1</code> styles your organization name</li>
          <li><code>transaction--negative</code> is a negative transaction on the ledger (eg. card transaction, money transfer, etc.)</li>
          <li><code>transaction--positive</code> is a positive transaction on the ledger (eg. donation, refund, etc.)</li>
        </ul>
        <div class="field">
          <%= form.label :custom_css_url, "Custom CSS URL" %>
          <%= form.text_field :custom_css_url, type: "url", placeholder: "https://hcb.hackclub.com/dinobbq.css", class: "w-100 fit" %>
        </div>
        <%= form.submit "Update" %>
      </div>
    <% end %>

    <% if @event.category == "hackathon" || @event.category == "event" %>
      <h3 class="mb1" id="event_date_heading">Event Date</h3>
      <div class="card mb3">
        <p class="mt0">
          The date of your next event.
        </p>
        <div class="field">
          <%= form.label :start %>
          <%= form.date_select :start %>
        </div>
        <div class="field">
          <%= form.label :end %>
          <%= form.date_select :end %>
        </div>
        <%= form.submit "Update" %>
      </div>
    <% end %>

    <h3 class="mb1" id="donations">Donations</h3>

    <div class="card">
      <div class="field field--checkbox">
        <%= form.check_box :donation_page_enabled %>
        <%= form.label :donation_page_enabled, "Enable donation page" %>
      </div>
      <div class="field">
        <%= form.label :donation_page_message, "Message to show on donation page" %>
        <%= form.text_area :donation_page_message, class: "w-100 fit" %>
        <%= inline_icon "markdown", size: 32, class: "muted right" %>
      </div>
      <%= form.submit "Update" %>
    </div>
  <% end %>

  <h3 class="mb1" id="transparency_mode_heading">Transparency Mode</h3>

  <div class="card mb3">
    <ul class="mt0 pl2 mb2">
      <li>Unauthenticated users will be able to access a <strong>read-only</strong> version of your account.</li>
      <li>None of HCB’s pages will change for signed in team members.</li>
      <li>We’ll do our best to redact contact info, but we can’t guarantee it doesn't show up in these
        fields:
        <ul>
          <li>Transaction display names</li>
          <li>Sponsor company names</li>
          <li>ACH transfer recipients</li>
          <li>Check recipients</li>
        </ul>
      </li>
    </ul>
    <div class="field field--checkbox">
      <%= form.check_box :is_public %>
      <%= form.label :is_public, "Enable Transparency Mode" %>
    </div>
    <div class="field field--checkbox" data-behavior="additional_transparency_settings <% if !event.is_public? %>autohide<% end %>">
      <%= form.check_box :is_indexable %>
      <%= form.label :is_indexable, "List #{@event.name} in HCB's public directory" %>
    </div>
    <% unless @hide_holiday_features || !winter? %>
      <div class="field field--checkbox" data-behavior="additional_transparency_settings <% if !event.is_public? %>autohide<% end %>">
        <%= form.check_box :holiday_features %>
        <%= form.label :holiday_features, "Enable Holiday Features ⛄ for Transparency Mode" %>
      </div>
    <% end %>
    <div class="field">
      <%= form.label :public_message, "Message to show visitors" %>
      <%= form.text_area :public_message, class: "w-100 fit" %>
      <%= inline_icon "markdown", size: 32, class: "muted right" %>
    </div>
    <%= form.submit "Update" %>
  </div>

  <h3 class="mb1">Danger Zone</h3>
  <div class="card border b--warning mb3">
    <div class="flex items-center warning">
      <%= inline_icon "important", size: 32, class: "mr1" %>
      <p class="bold mt0 mb0">If you change your URL, beware:</p>
    </div>
    <ul class="mt1 mb2">
      <li>
        We'll automatically redirect most pages to your organization's new URL, including:
        <ul>
          <li>Your donation page</li>
          <li>Transparency Mode pages</li>
          <li>Transaction bookmarks</li>
        </ul>
      </li>
      <li>However, another organization may claim your current URL and you could be
        <span class="bold">unable to get it back.</span>
      </li>
    </ul>
    <%= form.label :slug, "Organization URL", class: "bold" %>
    <div class="flex items-center">
      <span class="secondary">hcb.hackclub.com/</span>
      <%= form.text_field :slug, placeholder: event.persisted? ? event.name.parameterize : nil %>
    </div>
    <div class="actions">
      <%= form.submit "Update" %>
    </div>
  </div>
  <% admin_tools do %>
    <%= link_to (event.hidden? ? "Un-hide project" : "Hide project"),
                event_toggle_hidden_path(event),
                method: :put,
                "data-confirm": "Do you really want to #{event.hidden? ? "un-hide" : "hide"} #{event.name}?",
                class: "btn bg-success" if event.persisted? %>
  <% end %>

  <% admin_tools do %>
    <div class="field" id="admin_settings">
      <%= form.label :name, "Name (if changed, also change in G Suite)" %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :sponsorship_fee, "Sponsorship fee (as fraction of revenue)" %>
      <%= form.text_field :sponsorship_fee, value: event.sponsorship_fee || 0.07, placeholder: "0.07" %>
    </div>

    <div class="field">
      <%= form.label :emburse_department_id %>
      <%= form.text_field :emburse_department_id %>
    </div>

    <div class="field">
      <%= form.label :stripe_card_shipping_type, "Card shipping method" %>
      <%= form.collection_select :stripe_card_shipping_type, Event.stripe_card_shipping_types, :first, :first %>
    </div>

    <div class="field">
      <%= form.label :country %>
      <%= form.collection_select :country, Event.countries.map{ |c| [c.first, get_country_name_from_alpha2(c.first)] }, :first, :last, { include_blank: "Select a country" } %>
    </div>

    <div class="field">
      <%= form.label :category %>
      <%= form.collection_select :category, Event.categories, :first, :first, { include_blank: "Select a category" } %>
    </div>

    <div class="field">
      <%= form.label :point_of_contact_id, "Point of contact" %>
      <%= form.collection_select :point_of_contact_id, User.admin.all, :id, :email %>
    </div>

    <div class="field field--checkbox">
      <%= form.check_box :demo_mode %>
      <%= form.label :demo_mode, "Is in Playground Mode?" %>
    </div>

    <div class="field field--checkbox">
      <%= form.check_box :omit_stats %>
      <%= form.label :omit_stats, "Omit from public stats?" %>
    </div>

    <div class="field field--checkbox">
      <%= form.check_box :beta_features_enabled %>
      <%= form.label :beta_features_enabled, "Turn on beta (features in development) for this event?" %>
    </div>

    <div class="field field--checkbox">
      <%= form.check_box :can_front_balance %>
      <%= form.label :can_front_balance, "Front incoming transactions?" %>
    </div>

    <p class="mt3">To change an organization's status (Pending, Approved, Rejected, etc.),
      use the <%= link_to "admin Organizations process page", event_process_admin_path(@event) %>
    </p>

    <div class="action">
      <%= form.submit "Update" %>
    </div>
  <% end %>
<% end %>

<% admin_tools("mb3") do %>
  <h3 id="admin_organization_tags" class="mb2 mt1">Organization Tags</h3>
  <div class="mb1">
    <div class="flex items-center flex-wrap" style="gap: 0.25rem">
      <% @event.event_tags.each do |tag| %>
        <span class="badge bg-muted ml0 mr1">
          <% if tag.purpose.present? %>
            <span class="bold italic"><%= tag.purpose.titleize %>:</span>&nbsp;
          <% end %>
          <%= tag.name %>
          <%= button_to toggle_event_tag_event_path(id: @event.id, event_tag_id: tag.id), class: "p0 line-height-0 bg-transparent border-none cursor-pointer link-reset", form_class: "line-height-0", form: { "data-turbo" => "true" } do %>
            <%= inline_icon "view-close", size: 16 %>
          <% end %>
        </span>
      <% end %>

      <div class="overflow-visible relative line-height-0" data-controller="menu">
        <button class="list-badge add-tag-badge ml0 menu__toggle menu__toggle--arrowless" data-menu-target="toggle" data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown">+
          Add tag
        </button>
        <div class="menu__content menu__content--2 menu__content--compact menu__content--left h6" data-menu-target="content">
          <% EventTag.find_each do |tag| %>
            <div class="flex items-center">
              <%= button_to toggle_event_tag_event_path(id: @event.id, event_tag_id: tag.id), class: "menu__action", form_class: "flex-auto", form: { "data-turbo" => "true" } do %>
                <%= "✓" if @event.event_tags.include?(tag) %>

                <% if tag.purpose.present? %>
                  <span class="bold italic"><%= tag.purpose.titleize %>:</span>&nbsp;
                <% end %>
                <%= tag.name %>
              <% end %>
              <%= button_to event_event_tag_path(@event, tag), class: "menu__action", method: :delete, title: "Delete this tag", form: { "data-turbo" => "true", "data-turbo-confirm" => tag.removal_confirmation_message } do %>
                <%= inline_icon "delete", size: 16, style: "margin: 0" %>
              <% end %>
            </div>
          <% end %>
          <% if @event.event_tags.any? %>
            <div class="menu__divider"></div>
          <% end %>
          <%= form_with url: event_event_tags_path(@event), data: { turbo: true } do |form| %>
            <%= form.hidden_field :event_id, value: @event.id %>
            <%= form.text_field :name, data: { "behavior" => @event.event_tags.none? ? "autofocus" : "" }, class: "menu__input", placeholder: "+ Create tag", autocomplete: "off", required: true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% admin_tools do %>
  <%= button_to "Delete organization", event_path(@event), method: :delete, class: "btn bg-error", disabled: !@event.demo_mode?, data: { confirm: "⚠️ Are you sure you'd like to delete this organization?" } %>
  <% unless @event.demo_mode? %>
    <p class="h5 muted mt0 mb1">
      Only demo accounts can be deleted.
    </p>
  <% end %>
<% end %>
