<%= form_with(model: event, local: true, class: 'mb3') do |form| %>
  <%= form_errors event, 'account info' %>

  <div class="field">
    <p class="mb0 bold">Fee</p>
    <p>Bank is charging <%= event.sponsorship_fee.blank? ? "" : event.sponsorship_fee * 100 %>% of your revenue</p>
  </div>
  <div class="field">
    <%= form.label :address, class: 'bold' %>
    <%= form.text_area :address %>
  </div>

  <h3 class="mb1">Danger Zone</h3>
  <div class="card border b--warning mb3">
    <div class="flex items-center warning">
      <%= inline_icon 'important', size: 32, class: 'mr1' %>
      <p class="bold mt0 mb0">If you change your URL, beware:</p>
    </div>
    <ul class="mt1 mb2">
      <li>Another project may claim your current URL and you could be <span class="bold">unable to get it back</span></li>
      <li>All bookmarks to this event’s Bank will <span class="bold">break</span></li>
      <li>Your team members currently using Bank will be bumped to the home page</li>
    </ul>   
    <%= form.label :slug, 'Bank URL', class: 'bold' %> 
    <div class="flex items-center">
      <span class="slate">bank.hackclub.com/</span>
      <%= form.text_field :slug, placeholder: event.persisted? ? event.name.parameterize : nil %>
    </div>
  </div>

  <% admin_tools do %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_area :name %>
    </div>

    <div class="field">
      <%= form.label :start %>
      <%= form.date_select :start %>
    </div>

    <div class="field">
      <%= form.label :end %>
      <%= form.date_select :end %>
    </div>

    <div class="field">
      <%= form.label :sponsorship_fee, "Sponsorship fee (%)" %>
      <%= form.text_field :sponsorship_fee, placeholder: '0.07' %>
    </div>

    <div class="field">
      <%= form.label :expected_budget, 'Expected budget' %>
      <div class="flex items-center">
        <span class="bold muted" style="width: 1rem;">$</span>
        <%= form.number_field :expected_budget, value: number_with_precision(BigDecimal.new(event.expected_budget || 0) / 100, precision: 2), step: '0.01' %>
      </div>
    </div>

    <div class="field">
      <%= form.label :emburse_department_id %>
      <%= form.text_field :emburse_department_id %>
    </div>

    <div class="field">
      <%= form.label :point_of_contact_id %>
      <%= form.collection_select :point_of_contact_id, User.admin.all, :id, :email %>
    </div>

    <div class="field field--checkbox">
      <%= form.check_box :has_fiscal_sponsorship_document %>
      <%= form.label :has_fiscal_sponsorship_document, 'Display Fiscal Sponsorship Confirmation in Documents tab?' %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
