<p class="muted mb1">This person will have full access to your project finances.</p>

<%= form_with(model: invite, local: true, url: event_organizer_position_invites_path) do |form| %>
  <%= form_errors invite %>

  <div class="field">
    <%= form.label :email, class: "mb1" %>

    <div class="flex items-center">
      <%= form.email_field :email, class: "mr2" %>
      <%= form.submit 'Send', disabled: !organizer_signed_in? %>
    </div>
    <% admin_tools('mt1') do %>
      <div class="field field--checkbox mb0">
        <%= form.check_box :is_signee %>
        <%= form.label :is_signee, "Signed contract" %>
      </div>
    <% end %>
  </div>
<% end %>
