<%= form_with(model: event, local: true, class: "mb3") do |form| %>
  <%= form_errors event, "organization" %>

  <div class="field">
    <p class="mt0"><%= event.name %> is on the <strong><%= event.plan_name %></strong> plan and charging <strong><%= number_to_percentage(event.sponsorship_fee * 100, significant: true, strip_insignificant_zeros: true) %></strong> of your revenue.</p>
  </div>

  <h3 class="mb1">Organization profile</h3>

  <div class="card">
    <div class="field">
      <%= form.label :logo %>
      <p class="h5 muted mt0 mb1">
        Displayed on your
        <%= link_to "donation page",
          @event.donation_page_enabled? ? start_donation_donations_path(@event) : { anchor: "donations" },
          target: @event.donation_page_enabled? ? "_blank" : nil
        %>.
      </p>
      <% if @event.logo.attached? %>
        <%= image_tag @event.logo, height: 72 %>
      <% end %>
      <%= form.file_field :logo %>

      <% if @event.logo.attached? %>
        <%= link_to "Remove logo", event_remove_logo_path(@event), class: "block mt1", method: :post %>
      <% end %>
    </div>

    <%= form.submit "Update" %>
  </div>

  <% if !@event.unapproved? %>
    <% if params[:jank].present? || DateTime.now <= Time.new(2022, 4, 2, 9, 30, 00, "-04:00") %>
      <h3 class="mb1 border-none flex flex-row items-center">
        <span>Custom CSS</span>
        <span class="badge nowrap bg-warning">Beta</span>
        <span class="badge nowrap ml1 bg-<%= @color %>"><%= @flavor %></span>
      </h3>

      <div class="card">
        <p class="mt0">To customize the styling on your dashboard, paste a <strong>link to a CSS file</strong> below. Here are a few of the class names you might find helpful to spice up your dashboard:</p>
        <ul class="mt0 pl2 mb2">
          <li><code>circle</code> is an avatar</li>
          <li><code>heading</code> is the main heading for the page (eg. <strong>Financials</strong>)</li>
          <li><code>badge</code> is a badge that shows a status or count</li>
          <li><code>stat</code> shows the amount of money raised in a given category</li>
          <li><code>primary</code> is the accent color of the text and icons on the dashboard, currently <span style="color: #ec3750; font-weight: bold;">#EC3750</span></li>
          <li><code>h1</code> styles your organization name</li>
          <li><code>transaction--negative</code> is a negative transaction on the ledger (eg. card transaction, money transfer, etc.)</li>
          <li><code>transaction--positive</code> is a positive transaction on the ledger (eg. donation, refund, etc.)</li>
        </ul>
        <div class="field">
          <%= form.label :custom_css_url, "Custom CSS URL" %>
          <%= form.text_field :custom_css_url, type: 'url',  placeholder: "https://bank.hackclub.com/dinobbq.css", class: "w-100 fit" %>
        </div>
        <%= form.submit "Update" %>
      </div>
    <% end %>

    <% if @event.category == "hackathon" || @event.category == "event" %>
      <h3 class="mb1" id="event_date_heading">Event Date</h3>
      <div class="card mb3">
        <p class="mt0">
          The date of your next event.
        </p>
        <div class="field">
          <%= form.label :start %>
          <%= form.date_select :start %>
        </div>
        <div class="field">
          <%= form.label :end %>
          <%= form.date_select :end %>
        </div>
        <%= form.submit "Update" %>
      </div>
    <% end %>

    <h3 class="mb1" id="donations">Donations</h3>

    <div class="card">
      <div class="field field--checkbox">
        <%= form.check_box :donation_page_enabled %>
        <%= form.label :donation_page_enabled, "Enable donation page" %>
      </div>
      <div class="field">
        <%= form.label :donation_page_message, "Message to show on donation page" %>
        <%= form.text_area :donation_page_message, class: "w-100 fit" %>
        <%= inline_icon "markdown", size: 32, class: "muted right" %>
      </div>
      <%= form.submit "Update" %>
    </div>
  <% end %>

  <h3 class="mb1" id="transparency_mode_heading">Transparency Mode</h3>

  <div class="card mb3">
    <ul class="mt0 pl2 mb2">
      <li><strong>Only use this if you know what you’re doing.</strong></li>
      <li>Unauthenticated users will be able to access a <strong>read-only</strong> version of your account.</li>
      <li>None of Hack Club Bank’s pages will change for signed in team members.</li>
      <li>We’ll do our best effort to redact contact info, but we can’t guarantee it doesn't show up in these
        fields:
        <ul>
          <li>Transaction display names</li>
          <li>Sponsor company names</li>
          <li>ACH transfer recipients</li>
          <li>Check recipients</li>
        </ul>
      </li>
    </ul>
    <div class="field field--checkbox">
      <%= form.check_box :is_public %>
      <%= form.label :is_public, "Enable Transparency Mode" %>
    </div>
    <% if false %> <%# Holiday features disabled site-wide %>
      <div class="field field--checkbox" data-behavior="holiday_features_transparency <% if !event.is_public? %>autohide<% end %>">
        <%= form.check_box :holiday_features %>
        <%= form.label :holiday_features, "Enable Holiday Features ⛄ for Transparency Mode" %>
      </div>
    <% end %>
    <div class="field">
      <%= form.label :public_message, "Message to show visitors" %>
      <%= form.text_area :public_message, class: "w-100 fit" %>
      <%= inline_icon "markdown", size: 32, class: "muted right" %>
    </div>
    <%= form.submit "Update" %>
  </div>

  <h3 class="mb1">Danger Zone</h3>
  <div class="card border b--warning mb3">
    <div class="flex items-center warning">
      <%= inline_icon "important", size: 32, class: "mr1" %>
      <p class="bold mt0 mb0">If you change your URL, beware:</p>
    </div>
    <ul class="mt1 mb2">
      <li>
        We'll automatically redirect most pages to your organization's new URL, including:
        <ul>
          <li>Your donation page</li>
          <li>Transparency Mode pages</li>
          <li>Transaction bookmarks</li>
        </ul>
      </li>
      <li>However, another organization may claim your current URL and you could be
        <span class="bold">unable to get it back.</span>
      </li>
    </ul>
    <%= form.label :slug, "Bank URL", class: "bold" %>
    <div class="flex items-center">
      <span class="secondary">bank.hackclub.com/</span>
      <%= form.text_field :slug, placeholder: event.persisted? ? event.name.parameterize : nil %>
    </div>
    <div class="actions">
      <%= form.submit "Update" %>
    </div>
  </div>
  <% admin_tools do %>
    <%= link_to (event.hidden? ? "Un-hide project" : "Hide project"),
                event_toggle_hidden_path(event),
                method: :put,
                "data-confirm": "Do you really want to #{event.hidden? ? "un-hide" : "hide"} #{event.name}?",
                class: "btn bg-success" if event.persisted?
    %>
  <% end %>

  <% admin_tools do %>
    <div class="field">
      <%= form.label :name, "Name (if changed, also change in G Suite)" %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :sponsorship_fee, "Sponsorship fee (as fraction of revenue)" %>
      <%= form.text_field :sponsorship_fee, value: event.sponsorship_fee || 0.07, placeholder: "0.07" %>
    </div>

    <div class="field">
      <%= form.label :emburse_department_id %>
      <%= form.text_field :emburse_department_id %>
    </div>

    <div class="field">
      <%= form.label :country %>
      <%= form.collection_select :country, Event.countries.map{|c| [c.first, get_country_name_from_alpha2(c.first)]}, :first, :last, { include_blank: 'Select a country'} %>
    </div>

    <div class="field">
      <%= form.label :category %>
      <%= form.collection_select :category, Event.categories, :first, :first, { include_blank: 'Select a category'} %>
    </div>

    <div class="field">
      <%= form.label :point_of_contact_id, "Point of contact" %>
      <%= form.collection_select :point_of_contact_id, User.admin.all, :id, :email %>
    </div>

    <div class="field field--checkbox">
      <%= form.check_box :omit_stats %>
      <%= form.label :omit_stats, "Omit from public stats?" %>
    </div>

    <div class="field field--checkbox">
      <%= form.check_box :beta_features_enabled %>
      <%= form.label :beta_features_enabled, "Turn on beta (features in development) for this event?" %>
    </div>

    <div class="field field--checkbox">
      <%= form.check_box :organized_by_hack_clubbers %>
      <%= form.label :organized_by_hack_clubbers, "Organized by Hack Clubbers?" %>
    </div>

    <div class="field field--checkbox">
      <%= form.check_box :can_front_balance %>
      <%= form.label :can_front_balance, "Front incoming transactions?" %>
    </div>

    <p class="mt3">To change an organization's status (Pending, Approved, Rejected, etc.),
      use the <%= link_to "admin Organizations process page", event_process_admin_path(@event) %>
    </p>

    <div class="action">
      <%= form.submit "Update" %>
    </div>
  <% end %>
<% end %>
