<% content_for(:nav) do %>
  <%= link_to @event, class: 'text-decoration-none pt2' do %>
    <h1 class="border-none h1 mt0 mb0 primary">
      <%= @event.name %>
    </h1>
  <% end %>
  <div>
    <% admin_tools('m0 p0 badge mb2', 'span') do %>
      <span class="m0 badge bg-muted pointer" onClick="navigator.clipboard.writeText('<%= @event.name %>');">
        copy event name
      </span>
    <% end %>
  </div>
  <!-- add project switcher here -->
  <nav class="dock">
    <%= dock_item 'Invoices',
      'Collect sponsor payments',
      'briefcase',
      event_invoices_path(event_id: @event.slug) unless !@event.approved? %>
    <%= dock_item 'Cards',
      'Manage team debit cards',
      'card',
      event_cards_overview_path(event_id: @event.slug) unless !@event.approved? %>
    <%= dock_item 'Send',
      'Send checks & wires',
      'transactions',
      event_transfers_path(event_id: @event.slug) %>
    <%= dock_item 'Donations',
      'Receive donations online',
      'support',
      @event.partner.external? ? event_partner_donation_overview_path(event_id: @event.slug) :
      event_donation_overview_path(event_id: @event.slug) unless !@event.approved? %>
    <%= dock_item 'Perks',
      'Receive promos & discounts',
      'shirt',
       event_promotions_path(event_id: @event.slug), :lg unless !@event.approved? %>
    <%= dock_item "Google #{content_tag(:span, 'Workspace', class: 'sm-hide md-hide')}",
      'Set up domain Gmail',
      'google',
       event_g_suite_overview_path(event_id: @event.slug), :lg %>
    <%= dock_item 'Documentation',
      'Commonly asked questions and how-tos',
      'info',
      event_documentation_path(event_id: @event.slug), :lg %>
    <%= dock_item 'Settings',
      'Edit project settings',
      'project-settings',
      edit_event_path(@event) %>
    <div class="dock__overflow">
      <action type="button" class="pop primary menu__toggle" data-behavior="menu_toggle" aria-expanded="false" tabindex="0">
        <%= inline_icon 'more' %>
        <div class="menu__content" data-behavior="menu_content">
          <%= link_to 'Google Workspace', event_g_suite_overview_path(event_id: @event.slug) %>
          <%= link_to 'Promotions & perks', event_promotions_path(event_id: @event.slug) unless !@event.approved? %>
          <%= link_to 'Documentation', event_documentation_path(event_id: @event.slug) %>
          <%= link_to 'Settings', edit_event_path(@event) %>
        </div>
      </action>
    </div>
  </nav>
  <%= render 'events/public_message' %>
<% end %>
<% content_for(:container) do %>
<% end %>
