<% unless defined? hide_name %>
  <%= link_to @event do %>
    <h1 class="heading center flex-column h2 border-none mt3 mb0 pb0 underline info">
      <%= @event.name %>
    </h1>
  <% end %>
<% end %>
</main>

<nav class="dock">
  <%= dock_card 'Invoices', 'payment-docs', 'warning', event_invoices_path(event_id: @event.slug) %>
  <%= dock_card 'Cards', 'card', 'accent', event_cards_overview_path(event_id: @event.slug) %>
  <%= dock_card 'G Suite', 'google', 'info', event_g_suite_overview_path(event_id: @event.slug) %>
  <%= dock_card 'Documents', 'docs', 'primary', event_documents_path(event_id: @event.slug) %>
</nav>

<main class="container <%= content_for :container_class %>">
