<% unless defined? hide_name %>
  <%= link_to @event do %>
    <h1 class="center border-none h1 mt0 mb0 pt3 pb1 underline primary">
      <%= @event.name %>
    </h1>
  <% end %>
<% end %>
</main>

<%= render 'events/public_message' %>

<nav class="dock">
  <%= dock_card 'Invoices',
    'Collect payment from sponsors.',
    'briefcase', 'accent',
    event_invoices_path(event_id: @event.slug) unless @event.is_spend_only %>
  <%= dock_card 'Cards',
    'Request and manage cards for your team.',
    'card', 'purple', event_cards_overview_path(event_id: @event.slug) %>
  <%= dock_card 'Send',
    'Send money from Hack Club Bank.',
    'send', 'success',
    event_transfers_path(event_id: @event.slug) %>
  <%= dock_card 'Donations',
    'Receive donations online.',
    'support', 'warning',
    event_donation_overview_path(event_id: @event.slug) if @event.donation_page_enabled && !@event.is_spend_only %>
  <div class="md-pl1">
    <action type="button" class="pop menu__toggle" data-behavior="menu_toggle" aria-expanded="false" tabindex="0">
    <%= inline_icon 'more' %>
    <div class="menu__content" data-behavior="menu_content">
      <%= link_to 'Google Workspace', event_g_suite_overview_path(event_id: @event.slug) %>
      <%= link_to 'Promotions & perks', event_promotions_path(event_id: @event.slug) unless @event.is_spend_only %>
      <%= link_to 'Documents', event_documents_path(event_id: @event.slug) %>
      <%= link_to 'Settings', edit_event_path(@event) %>
    </div>
    </action>
  </div>
</nav>

<main class="container <%= content_for :container_class %>">
