<% content_for(:nav) do %>
  <%= link_to @event, class: "text-decoration-none pt2" do %>
    <h1 class="border-none h1 mt0 mb0 primary break-word">
      <%= @event.name %>
    </h1>
  <% end %>
  <div>
    <% admin_tools("m0 p0 badge mb2", "span") do %>
      <span class="m0 badge bg-muted pointer" onClick="navigator.clipboard.writeText(<%= @event.name.to_json %>);">
        copy event name
      </span>
    <% end %>
  </div>
  <nav class="dock dock--desktop mt2">
    <% if @event.outernet_guild? %>
      <%= dock_item "Home",
        event_path(id: @event.slug),
        tooltip: "View your transactions",
        icon: "home",
        selected: local_assigns[:selected] == :transactions %>
      <%= dock_item "Cards",
        event_cards_overview_path(event_id: @event.slug),
        tooltip: "Manage team debit cards",
        icon: "card",
        data: { tour_step: "cards" },
        selected: local_assigns[:selected] == :cards unless !@event.approved? %>
      <% admin_tools do %>
        <%= dock_item "Settings",
          edit_event_path(@event),
          icon: "project-settings",
          selected: local_assigns[:selected] == :settings %>
      <% end %>
    <% else %>
      <%= dock_item "Home",
        event_path(id: @event.slug),
        tooltip: "View your transactions",
        icon: "home",
        selected: local_assigns[:selected] == :transactions %>
      <h4 class="mb0 h5 muted">Receive</h4>
      <hr>
      <%= dock_item "Donations",
        @event&.partner&.external? ? event_partner_donation_overview_path(event_id: @event.slug) :
          event_donation_overview_path(event_id: @event.slug),
        tooltip: "Receive donations online",
        icon: "support",
        data: { tour_step: "donations" },
        selected: local_assigns[:selected] == :donations unless !@event.approved? %>
      <%= dock_item "Invoices",
        event_invoices_path(event_id: @event.slug),
        tooltip: "Collect sponsor payments",
        icon: "briefcase",
        selected: local_assigns[:selected] == :invoices unless !@event.approved? %>
      <%= dock_item "Account & routing number",
        account_number_event_path(@event),
        tooltip: "Receive payouts from GoFundMe, Shopify, Venmo, and more",
        icon: "bank-account",
        selected: local_assigns[:selected] == :account_number if Flipper.enabled?(:incoming_ach_payments_2023_02_17, @event) %>
      <%= dock_item "Check deposit",
        event_check_deposits_path(@event),
        tooltip: "Deposit checks",
        disabled: !organizer_signed_in?,
        icon: "cheque",
        selected: local_assigns[:selected] == :deposit_check if Flipper.enabled?(:check_deposits_2023_04_17, @event) %>
      <h4 class="mb0 h5 muted">Spend</h4>
      <hr>
      <%= dock_item "Cards",
        event_cards_overview_path(event_id: @event.slug),
        tooltip: "Manage team debit cards",
        icon: "card",
        data: { tour_step: "cards" },
        selected: local_assigns[:selected] == :cards unless !@event.approved? %>
      <%= dock_item "Transfers",
        event_transfers_path(event_id: @event.slug),
        tooltip: "Send & transfer money",
        icon: "transactions",
        selected: local_assigns[:selected] == :transfers %>
      <%= dock_item "Grants",
        event_grants_path(@event),
        tooltip: "Send & manage grants",
        icon: "idea",
        selected: local_assigns[:selected] == :grants if Flipper.enabled?(:grants_2023_06_21, @event) %>
      <hr>
      <%= dock_item "Team",
        event_team_path(event_id: @event.slug),
        tooltip: "Manage your team",
        icon: "leader",
        selected: local_assigns[:selected] == :team %>
      <%= dock_item "Perks",
        event_promotions_path(event_id: @event.slug),
        tooltip: (@event.hardware_grant? ? "Not available for Winter Hardware Wonderland accounts" : "Receive promos & discounts"),
        icon: "shirt",
        data: { tour_step: "perks" },
        disabled: @event.hardware_grant?,
        selected: local_assigns[:selected] == :promotions unless !@event.approved? %>
      <% if Flipper.enabled?(:google_workspace_2023_07_12, @event) || (!Flipper.enabled?(:google_workspace_2023_07_12, @event) && (@event.g_suites.exists? || Flipper.enabled?(:google_workspace, @event))) %>
        <%= dock_item "Google #{content_tag(:span, 'Workspace', class: 'sm-hide md-hide')}",
          event_g_suite_overview_path(event_id: @event.slug),
          tooltip: (@event.hardware_grant? ? "Not available for Winter Hardware Wonderland accounts" : @event.outernet_guild? ? "Not available for Outernet Guilds" : @event.demo_mode? ? "Not available for Demo Mode accounts" : @event.g_suites.exists? ? "Manage domain Google Workspace" : Flipper.enabled?(:google_workspace, @event) ? "Set up domain Google Workspace" : "Register for Google Workspace Waitlist"),
          icon: "google",
          disabled: @event.hardware_grant? || @event.demo_mode? || !organizer_signed_in?,
          selected: local_assigns[:selected] == :google_workspace %>
      <% end %>
      <%= dock_item "Documentation",
        event_documentation_path(event_id: @event.slug),
        tooltip: "Commonly asked questions and how-tos",
        icon: "info",
        selected: local_assigns[:selected] == :documentation %>
      <%= dock_item "Settings",
        edit_event_path(@event),
        tooltip: "Edit organization settings",
        icon: "project-settings",
        disabled: !organizer_signed_in?,
        selected: local_assigns[:selected] == :settings %>
    <% end %>
  </nav>
  <nav class="dock dock--mobile">
    <% if @event.outernet_guild? %>
      <%= dock_item "Home",
        event_path(id: @event.slug),
        icon: "home" %>
      <%= dock_item "Cards",
        event_cards_overview_path(@event),
        icon: "card",
        data: { tour_step: "spend" } %>
    <% else %>
      <%= dock_item "Home",
        event_path(id: @event.slug),
        icon: "home" %>
      <button class="dock__item bg-transparent border-none menu__toggle" data-behavior="menu_toggle" data-tour-step="receive">
        <div class="line-height-0 relative"><%= inline_icon "support", size: 32, class: "primary" %></div>
        <span class="line-height-3">Receive</span>

        <div class="menu__content" data-behavior="menu_content">
          <h4 class="mb0 h5 muted left-align pl1 mt1">Receive</h4>
          <div class="menu__divider"></div>
          <%= link_to "Donations", event_donation_overview_path(@event) %>
          <%= link_to "Invoices", event_invoices_path(@event) %>
          <%= link_to "Account & routing number", account_number_event_path(@event) if Flipper.enabled?(:incoming_ach_payments_2023_02_17, @event) %>
          <%= link_to "Deposit a check", event_check_deposits_path(@event) if Flipper.enabled?(:check_deposits_2023_04_17, @event) %>
        </div>
      </button>
      <button class="dock__item bg-transparent border-none menu__toggle" data-behavior="menu_toggle" data-tour-step="spend">
        <div class="line-height-0 relative"><%= inline_icon "card", size: 32, class: "primary" %></div>
        <span class="line-height-3">Spend</span>

        <div class="menu__content" data-behavior="menu_content">
          <h4 class="mb0 h5 muted left-align pl1 mt1">Spend</h4>
          <div class="menu__divider"></div>
          <%= link_to "Cards", event_cards_overview_path(@event) %>
          <%= link_to "Transfers", event_transfers_path(@event) %>
        </div>
      </button>
      <div class="dock__overflow">
        <action type="button" class="pop primary menu__toggle" data-behavior="menu_toggle" aria-expanded="false" tabindex="0">
          <%= inline_icon "more" %>
          <div class="menu__content" data-behavior="menu_content">
            <%= link_to "Promotions & perks", event_promotions_path(event_id: @event.slug) unless !@event.approved? || @event.hardware_grant? %>
            <%= link_to "Google Workspace", event_g_suite_overview_path(event_id: @event.slug) unless @event.hardware_grant? || @event.outernet_guild? %>
            <%= link_to "Documentation", event_documentation_path(event_id: @event.slug) %>
            <%= link_to "Settings", edit_event_path(@event) %>
          </div>
        </action>
      </div>
    <% end %>
  </nav>
<% end %>
<% content_for(:container) do %>
<% end %>

<%# 2022 April Fools :p %>
<% if params[:jank].present? || DateTime.now <= Time.new(2022, 4, 2, 9, 30, 00, "-04:00") %>
  <% if organizer_signed_in? and @event.custom_css_url.present? %>
    <%= stylesheet_link_tag "https://scrapbook.hackclub.com/api/css?url=#{@event.custom_css_url}" %>
  <% end %>
<% end %>

<%# Web component used for donation QR codes %>
<script src="https://unpkg.com/@bitjson/qr-code@1.0.2/dist/qr-code.js"></script>
