<% content_for(:nav) do %>
  <%= link_to @event, class: 'text-decoration-none pt2' do %>
    <h1 class="border-none h1 mt0 mb0 primary">
      <%= @event.name %>
    </h1>
  <% end %>
  <div>
    <% admin_tools('m0 p0 badge mb2', 'span') do %>
      <span class="m0 badge bg-muted pointer" onClick="navigator.clipboard.writeText(<%= @event.name.to_json %>);">
        copy event name
      </span>
    <% end %>
  </div>
  <!-- add project switcher here -->
  <nav class="dock">
    <%= dock_item 'Invoices',
      event_invoices_path(event_id: @event.slug),
      tooltip: 'Collect sponsor payments',
      icon: 'briefcase' unless !@event.approved? %>
    <%= dock_item 'Cards',
      event_cards_overview_path(event_id: @event.slug),
      tooltip: 'Manage team debit cards',
      icon: 'card',
      data: { tour_step: "cards" } unless !@event.approved? %>
    <%= dock_item 'Transfers',
      event_transfers_path(event_id: @event.slug),
      tooltip: 'Send & transfer money',
      icon: 'transactions' %>
    <%= dock_item 'Donations',
      @event.partner.external? ? event_partner_donation_overview_path(event_id: @event.slug) :
      event_donation_overview_path(event_id: @event.slug),
      tooltip: 'Receive donations online',
      icon: 'support',
      data: { tour_step: "donations" } unless !@event.approved? %>
    <%= dock_item 'Perks',
      event_promotions_path(event_id: @event.slug),
      tooltip: (@event.hardware_grant? ? 'Not available for Winter Hardware Wonderland accounts' : 'Receive promos & discounts'),
      icon: 'shirt',
      data: { tour_step: "perks" },
      disabled: @event.hardware_grant? unless !@event.approved? %>
    <%= dock_item "Google #{content_tag(:span, 'Workspace', class: 'sm-hide md-hide')}",
      event_g_suite_overview_path(event_id: @event.slug),
      tooltip: (@event.hardware_grant? ? 'Not available for Winter Hardware Wonderland accounts' : 'Set up domain Gmail'),
      icon: 'google',
      disabled: @event.hardware_grant? if @event.g_suites.exists? || Flipper.enabled?(:google_workspace, @event) %>
    <%= dock_item 'Documentation',
      event_documentation_path(event_id: @event.slug),
      tooltip: 'Commonly asked questions and how-tos',
      icon: 'info' %>
    <%= dock_item 'Settings',
      edit_event_path(@event),
      tooltip: 'Edit project settings',
      icon: 'project-settings' %>
    <div class="dock__overflow">
      <action type="button" class="pop primary menu__toggle" data-behavior="menu_toggle" aria-expanded="false" tabindex="0">
        <%= inline_icon 'more' %>
        <div class="menu__content" data-behavior="menu_content">
          <%= link_to 'Google Workspace', event_g_suite_overview_path(event_id: @event.slug) unless @event.hardware_grant? || (!@event.g_suites.exists? && !Flipper.enabled?(:google_workspace, @event)) %>
          <%= link_to 'Promotions & perks', event_promotions_path(event_id: @event.slug) unless !@event.approved? || @event.hardware_grant? %>
          <%= link_to 'Documentation', event_documentation_path(event_id: @event.slug) %>
          <%= link_to 'Settings', edit_event_path(@event) %>
        </div>
      </action>
    </div>
  </nav>
  <%= render 'events/public_message' %>
<% end %>
<% content_for(:container) do %>
<% end %>

<%# 2022 April Fools :p %>
<% if params[:jank].present? || DateTime.now <= Time.new(2022, 4, 2, 9, 30, 00, "-04:00") %>
  <% if organizer_signed_in? and @event.custom_css_url.present? %>
    <%= stylesheet_link_tag "https://scrapbook.hackclub.com/api/css?url=#{@event.custom_css_url}" %>
  <% end %>
<% end %>
