<% content_for(:nav) do %>
  <%= render "events/title" %>
  <% if Flipper.enabled?(:transaction_tags_2022_07_29, @event) && !@event&.demo_mode? %>
    <%= render partial: "hcb_codes/create_tag", locals: { button: false } %>
  <% end %>

  <div>
    <% admin_tool("m0 p0 badge mb2", "span") do %>
      <span class="m0 badge bg-muted pointer" data-controller="clipboard" data-clipboard-text-value="<%= @event.name %>" data-action="click->clipboard#copy">
        copy event name
      </span>
    <% end %>
  </div>
  <nav class="dock dock--desktop mt2 font-medium">
    <% if Flipper.enabled?(:event_home_page_redesign_2024_09_21, @event) %>
      <%= dock_item "Home",
                    event_path(id: @event.slug),
                    tooltip: "See everything at-a-glance",
                    icon: "home",
                    selected: local_assigns[:selected] == :home %>
    <% end %>
    <%= dock_item "Transactions",
      event_transactions_path(event_id: @event.slug),
      tooltip: "View your transactions",
      icon: "transactions",
      selected: local_assigns[:selected] == :transactions %>
    <% if policy(@event).activation_flow? %>
      <% admin_tool("m0 p0 overflow-visible w-fit") do %>
        <%= dock_item "Activate",
          event_activation_flow_path(event_id: @event.slug),
          tooltip: "Activate This Organization",
          icon: "checkmark",
          selected: local_assigns[:selected] == :activation_flow %>
        <% end %>
    <% end %>
    <% if policy(@event).donation_overview? || ( @event.approved? && @event.plan.invoices_enabled? ) || policy(@event).account_number? || policy(@event.check_deposits.build).index? %>
      <h4 class="mb0 h5 font-medium muted">Receive</h4>
      <hr>
    <% end %>
    <%= dock_item "Donations",
      event_donation_overview_path(event_id: @event.slug),
      tooltip: "Receive donations online",
      icon: "support",
      data: { tour_step: "donations" },
      selected: local_assigns[:selected] == :donations if policy(@event).donation_overview? %>
    <%= dock_item "Invoices",
      event_invoices_path(event_id: @event.slug),
      tooltip: "Collect sponsor payments",
      icon: "briefcase",
      selected: local_assigns[:selected] == :invoices if @event.approved? && @event.plan.invoices_enabled? %>
    <%= dock_item "Account numbers",
      account_number_event_path(@event),
      tooltip: "Receive payouts from GoFundMe, Shopify, Venmo, and more",
      icon: "bank-account",
      selected: local_assigns[:selected] == :account_number if policy(@event).account_number? %>
    <%= dock_item "Check deposits",
      event_check_deposits_path(@event),
      tooltip: "Deposit checks",
      icon: "cheque",
      selected: local_assigns[:selected] == :deposit_check if policy(@event.check_deposits.build).index? %>
    <% if policy(@event).transfers? || policy(@event).reimbursements? || policy(@event).card_overview? || Flipper.enabled?(:grants_2023_06_21, @event) %>
      <h4 class="mb0 h5 font-medium muted">Spend</h4>
      <hr>
    <% end %>
    <%= dock_item "Cards",
      event_cards_overview_path(event_id: @event.slug),
      tooltip: "Manage team debit cards",
      icon: "card",
      data: { tour_step: "cards" },
      selected: local_assigns[:selected] == :cards if policy(@event).card_overview? %>
    <%= dock_item "Transfers",
      event_transfers_path(event_id: @event.slug),
      tooltip: "Send & transfer money",
      icon: "payment-transfer",
      selected: local_assigns[:selected] == :transfers if policy(@event).transfers? %>
    <%= dock_item "Reimbursements",
      event_reimbursements_path(event_id: @event.slug),
      async_badge: event_reimbursements_pending_review_icon_path(@event),
      tooltip: "Reimburse team members & volunteers",
      icon: "attachment",
      selected: local_assigns[:selected] == :reimbursements if policy(@event).reimbursements? %>
    <%= dock_item "Grants",
      event_grants_path(@event),
      tooltip: "Send & manage grants",
      icon: "idea",
      selected: local_assigns[:selected] == :grants if Flipper.enabled?(:grants_2023_06_21, @event) %>
    <hr>
    <%= dock_item "Team",
      event_team_path(event_id: @event.slug),
      tooltip: "Manage your team",
      icon: "leader",
      selected: local_assigns[:selected] == :team %>
    <%= dock_item "Perks",
      event_promotions_path(event_id: @event.slug),
      tooltip: (!policy(@event).promotions? ? "Your account isn't eligble for receive promos & discounts" : "Receive promos & discounts"),
      icon: "shirt",
      data: { tour_step: "perks" },
      disabled: !policy(@event).promotions?,
      selected: local_assigns[:selected] == :promotions if @event.approved? %>
    <%= dock_item "Google #{content_tag(:span, 'Workspace', class: 'sm-hide md-hide')}",
      event_g_suite_overview_path(event_id: @event.slug),
      tooltip: (!policy(@event).g_suite_overview? ? "Your organization isn't eligble for Google Workspace." : @event.g_suites.any? ? "Manage domain Google Workspace" : Flipper.enabled?(:google_workspace, @event) ? "Set up domain Google Workspace" : "Register for Google Workspace Waitlist"),
      icon: "google",
      disabled: !policy(@event).g_suite_overview?,
      selected: local_assigns[:selected] == :google_workspace if organizer_signed_in? %>
    <%= dock_item "Documents",
      event_documents_path(event_id: @event.slug),
      tooltip: "View legal documents, financial statements, and FAQ",
      icon: "docs",
      selected: local_assigns[:selected] == :documentation if policy(@event).documentation? %>
    <%= dock_item "Settings",
      edit_event_path(@event),
      tooltip: "Edit organization settings",
      icon: "settings",
      disabled: !policy(@event).edit?,
      selected: local_assigns[:selected] == :settings if organizer_signed_in? %>
  </nav>
  <nav class="dock dock--mobile">
    <%= dock_item "Transactions",
      event_path(id: @event.slug),
      icon: "transactions",
      selected: local_assigns[:selected] == :transactions %>
    <% if policy(@event).donation_overview? || ( @event.approved? && @event.plan.invoices_enabled? ) || policy(@event).account_number? || policy(@event.check_deposits.build).index? %>
      <button class="dock__item <%= "dock__item--selected" if local_assigns[:selected].in? [:donations, :invoices, :account_number, :deposit_check] %> bg-transparent border-none menu__toggle" data-behavior="menu_toggle" data-tour-step="receive">
        <div class="line-height-0 relative"><%= inline_icon "support", size: 32, class: "primary" %></div>
        <span class="line-height-3">Receive</span>

        <div class="menu__content" data-behavior="menu_content">
          <h4 class="mb0 h5 muted left-align pl1 mt1">Receive</h4>
          <div class="menu__divider"></div>
          <%= link_to "Donations", event_donation_overview_path(@event) if policy(@event).donation_overview? %>
          <%= link_to "Invoices", event_invoices_path(@event) if @event.approved? && @event.plan.invoices_enabled? %>
          <%= link_to "Account numbers", account_number_event_path(@event) if policy(@event).account_number? %>
          <%= link_to "Check deposits", event_check_deposits_path(@event) if policy(@event.check_deposits.build).index? %>
        </div>
      </button>
    <% end %>
    <% if policy(@event).transfers? || policy(@event).reimbursements? || policy(@event).card_overview? %>
      <button class="dock__item <%= "dock__item--selected" if local_assigns[:selected].in? [:cards, :transfers] %> bg-transparent border-none menu__toggle" data-behavior="menu_toggle" data-tour-step="spend">
        <div class="line-height-0 relative"><%= inline_icon "card", size: 32, class: "primary" %></div>
        <span class="line-height-3">Spend</span>

        <div class="menu__content" data-behavior="menu_content">
          <h4 class="mb0 h5 muted left-align pl1 mt1">Spend</h4>
          <div class="menu__divider"></div>
          <%= link_to "Cards", event_cards_overview_path(@event) if policy(@event).card_overview? %>
          <%= link_to "Transfers", event_transfers_path(@event) if policy(@event).transfers? %>
          <%= link_to "Reimbursements", event_reimbursements_path(@event) if policy(@event).reimbursements? %>
        </div>
      </button>
    <% end %>
    <button class="dock__item bg-transparent border-none menu__toggle" data-behavior="menu_toggle">
      <div class="line-height-0 relative"><%= inline_icon "more", size: 32, class: "primary" %></div>
      <span class="line-height-3">More</span>

      <div class="menu__content" data-behavior="menu_content">
        <h4 class="mb0 h5 muted left-align pl1 mt1">More</h4>
        <div class="menu__divider"></div>
        <%= link_to "Team", event_team_path(event_id: @event.slug) %>
        <%= link_to "Promotions & perks", event_promotions_path(event_id: @event.slug) if policy(@event).promotions? %>
        <%= link_to "Google Workspace", event_g_suite_overview_path(event_id: @event.slug) if policy(@event).g_suite_overview? %>
        <%= link_to "Documents", event_documents_path(event_id: @event.slug) if policy(@event).documentation? %>
        <%= link_to "Settings", edit_event_path(@event) %>
      </div>
    </button>
  </nav>
<% end %>
<% content_for(:container) do %>
<% end %>
