<div class="card flex flex-column overflow-visible">
  <div class="flex justify-between">
    <div class="avatar-container">
      <%= inline_icon("admin-badge", size: 48, class: "pending") if position.user.admin? %>
      <%= avatar_for position.user, 64 %>
    </div>

    <div class="flex g1 h-fit-content">
      <% if current_user.admin? %>
        <div class="tooltipped tooltipped--s" aria-label="Edit user's global settings">
          <%= pop_icon_to "controls", edit_user_path(position.user.slug), data: { turbo_frame: "_top" }, class: "admin-tools circle" %>
        </div>
      <% end %>
      <% if current_user.admin? %>
        <div class="tooltipped tooltipped--s" aria-label="Impersonate user">
          <%= pop_icon_to "spy", impersonate_user_path(id: position.user.id, return_to: request.url), data: { turbo_frame: "_top" }, class: "admin-tools circle" %>
        </div>
      <% end %>
      <%# if current_user.position(@event)&.manager? || current_user.admin? %>
      <% if current_user.admin? %>
        <div class="tooltipped tooltipped--s" aria-label="Remove user from organization">
          <%= pop_icon_to "member-remove", new_organizer_remove_path(organizer_id: position.id), class: "error", data: { turbo_frame: "_top" } %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="inline-flex items-center g2">
    <p class="h2 bold"><%= position.user.name %></p>
    <div class="inline-flex g1 align-center">
      <div class="info tooltipped tooltipped--n copyable flex" aria-label="Copy <%= position.user.email %>" data-copy="<%= position.user.email %>">
        <%= inline_icon("email", size: 24, class: "muted") %>
      </div>
      <% if current_user.admin? %> <!-- or manager -->
        <div class="info tooltipped tooltipped--n copyable flex" aria-label="Copy <%= position.user.phone_number %>" data-copy="<%= position.user.phone_number %>">
          <%= inline_icon("message-simple", size: 24, class: "admin") %>
        </div>
      <% end %>
    </div>
  </div>

  <div data-controller="menu">
<!--    <div class="inline-flex items-center">-->
<!--      <p><%#= position.role.humanize %></p>-->
      <%# OrganizerPositionPolicy.new(current_user, position) %>
      <%# if OrganizerPositionPolicy.new(current_user, position).update? %>
<!--        <div class="role-chevron line-height-0" data-action="click->menu#toggle click@document->menu#close keydown@document->menu#keydown" data-menu-target="toggle">-->
          <%#= inline_icon("down-caret", size: 32, class: "info") %>
<!--        </div>-->
      <%# end %>
<!--    </div>-->

    <div data-menu-target="content" class="menu__content menu__content--2 menu__content--compact">
      <%# OrganizerPosition.roles.keys.each do |role| %>
        <%#= button_to(role.humanize, organizer_path(position), method: :patch, params: { organizer_position: { role: role } }, class: "menu__action") %>
      <%# end %>
      <div class="menu__divider"></div>
      <a href="/branding">What do these roles mean?</a>
    </div>
  </div>

  <div class="muted flex justify-between align-bottom relative w-100 h6 mt1">
    <p>Invited <%= relative_timestamp(position.organizer_position_invite.created_at) %> by <%= position.organizer_position_invite.sender.safe_name %></p>
    <div class="absolute right-0 bottom-0 line-height-0 tooltipped tooltipped--w" aria-label="<%= position.signee? ? "Contract signee" : "No contract signature" %>">
      <%= link_to toggle_signee_status_organizer_path(position.id), data: { turbo_method: "post", turbo_frame: "_top", turbo_confirm: "Are you sure you want to toggle #{position.user.name}'s contract signee status?" } do %>
        <% if position.signee? %>
          <%= inline_icon("docs-positive", size: 24) %>
        <% else %>
          <%= inline_icon("docs-negative", size: 24) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
    for (const field of document.getElementsByClassName("copyable")) {
        field.onclick = async () => await navigator.clipboard.writeText(field.dataset.copy);
    }
</script>

<style>
    .card {
        /*line-height: 1;*/

        & p {
            margin: 0;
        }

        .role-chevron {
            margin-bottom: -4px;
        }

        & .avatar-container {
            position: relative;

            & > svg {
                position: absolute;
                left: -14.5px;
                bottom: -2.5px;
            }
        }
    }
</style>
