<%= creator_bar position.organizer_position_invite, prefix: "invited " %>
<article class="card pt0 pb0 mb2">
  <section class='flex items-center'>
    <%= avatar_for position.user, 48, class: "mr2" %>
    <p class="flex-auto">
      <strong class="h3 block"><%= position.user.name || "Unnamed" %></strong>
      <%= organizer_signed_in? ? position.user.email : "Sign in to view email" %>
    </p>
    <% admin_tools("mr2 p0 circle") do %>
      <%= pop_icon_to "controls", edit_user_path(position.user.slug), data: { turbo_frame: "_top" } if position.user == current_user || admin_signed_in? %>
    <% end %>
    <%= pop_icon_to "member-remove", new_organizer_remove_path(organizer_id: position.id), class: "error", data: { turbo_frame: "_top" }, disabled: !organizer_signed_in? unless position.user == current_user %>
    <%= pop_icon_to "controls", edit_user_path(position.user.slug), class: "ml2", data: { turbo_frame: "_top" } if position.user == current_user && !admin_signed_in? %>
  </section>
  <% if current_user&.admin? %>
    <section class='card__banner card__darker b--warning h5' style='border-style: dashed; border-width: 1px; border-radius: 0 0 0.5rem 0.5rem;'>
      <div class='mb1'>
        <%= inline_icon "message-simple-new", size: 20, style: "vertical-align: middle; margin: -0.2rem 0.5rem 0 0;" %>
        <span><%= position.user.phone_number %></span>
      </div>
      <div class='mb1'>
        <% if position.signee? %>
          <%= inline_icon "docs-fill", size: 20, style: "vertical-align: middle; margin: -0.2rem 0.5rem 0 0;" %>
          <span>Contract signee</span>
        <% else %>
          <%= inline_icon "docs", size: 20, style: "vertical-align: middle; margin: -0.2rem 0.5rem 0 0;" %>
          <span>No contract signature</span>
        <% end %>
      </div>
      <div>
        <%= inline_icon "leader", size: 20, style: "vertical-align: middle; margin: -0.2rem 0.5rem 0 0;" %>
        <%= link_to "Impersonate this user", impersonate_users_path(user_id: position.user.id, return_to: request.url) %>
      </div>
    </section>
  <% end %>
</article>
