<%= form_with(local: true) do |form| %>
  <fieldset>
    <legend class="heading h2 pt2 pb2">What type of transfer?</legend>
    <div class="field field--options fit">

      <%= link_to new_event_ach_transfer_path(@event), class: "text-decoration-none btn--form-option", data: { turbo_frame: "_top" } do %>
        <%= inline_icon "payment-transfer", size: 28 %>
        <strong>ACH transfer</strong>
      <% end %>

      <%= link_to new_event_increase_check_path(@event), class: "text-decoration-none btn--form-option", data: { turbo_frame: "_top" } do %>
        <%= inline_icon "email", size: 28 %>
        <strong>Mailed check</strong>
      <% end %>

      <% if Flipper.enabled?(:international_wires_2024_09_22, @event) %>
        <%= link_to new_event_wire_path(@event), class: "text-decoration-none btn--form-option", data: { turbo_frame: "_top" } do %>
          <%= inline_icon "web", size: 28 %>
          <strong>International Wire</strong>
        <% end %>
      <% end %>

      <%= link_to new_disbursement_path(source_event_id: @event), class: "text-decoration-none btn--form-option", data: { turbo_frame: "_top" } do %>
        <%= inline_icon "bank-account", size: 28 %>
        <strong>HCB transfer</strong>
        <small>(between HCB accounts)</small>
      <% end %>

      <% if Flipper.enabled?(:card_grants_2023_05_25, @event) %>
        <%= link_to new_event_card_grant_path(@event), class: "text-decoration-none btn--form-option", data: { turbo: true } do %>
          <%= inline_icon "card", size: 28 %>
          <strong>Grant</strong>
          <small>A grant sent through an HCB card.</small>
        <% end %>
      <% end %>

      <%= tag.div class: "text-decoration-none btn--form-option opacity-75" do %>
        <%= inline_icon "paypal", size: 28 %>
        <strong>PayPal</strong>
        <div class="badge bg-warning m1 mt0" style="width: fit-content;">Unavailable</div>
        <small>Due to integration issues, transfers via PayPal are currently unavailable.</small>
      <% end %>
    </div>
  </fieldset>

<% end %>
