<%= form_with(local: true) do |form| %>
  <fieldset>
    <legend class="heading h2 pt2 pb2">What type of transfer?</legend>
    <div class="field field--options fit">

      <%= link_to new_event_ach_transfer_path(@event), class: "text-decoration-none btn--form-option", data: { turbo_frame: "_top" } do %>
        <%= inline_icon "payment-transfer", size: 28 %>
        <strong>ACH transfer</strong>
      <% end %>

      <%= link_to new_event_increase_check_path(@event), class: "text-decoration-none btn--form-option", data: { turbo_frame: "_top" } do %>
        <%= inline_icon "email", size: 28 %>
        <strong>Mailed check</strong>
      <% end %>

      <%= link_to new_event_paypal_transfer_path(@event), class: "text-decoration-none btn--form-option", data: { turbo_frame: "_top" } do %>
        <%= inline_icon "paypal", size: 28 %>
        <strong>PayPal</strong>
      <% end %>

      <%= link_to new_disbursement_path(source_event_id: @event), class: "text-decoration-none btn--form-option", data: { turbo_frame: "_top" } do %>
        <%= inline_icon "bank-account", size: 28 %>
        <strong>HCB transfer</strong>
        <small>(between HCB accounts)</small>
      <% end %>

      <% if Flipper.enabled?(:card_grants_2023_05_25, @event) %>
        <%= link_to new_event_card_grant_path(@event), class: "text-decoration-none btn--form-option", style: "border: 1px dashed #ff8c37", data: { turbo: true } do %>
          <%= inline_icon "card", size: 28 %>
          <strong>Grant <span class="warning regular">(beta)</span></strong>
          <small>A grant sent through an HCB card.</small>
        <% end %>
      <% end %>
    </div>
  </fieldset>

<% end %>
