<% title "Account number for #{@event.name}" %>
<% page_md %>
<%= render "events/nav", selected: :account_number %>

<h1 class="heading center justify-center border-none">Account/routing number</h1>

<h4 class="mt0 mb1 muted medium center mb3">Connect your Hack Club Bank account to GoFundMe, Shopify, Venmo, and more.</h4>

<hr>

<div class="card container--sm mx-auto center overflow-visible">
  <div class="badge bg-info mb1 ml0 tooltipped tooltipped--n pointer" aria-label="This account number can only receive funds. You can't use it to send money."><%= inline_icon "info", size: 20, style: "margin-left: 0; margin-right: 0.25rem" %> Deposit-only</div>

  <div class="flex items-start justify-around h2" style="gap: 1rem">
    <span class="flex flex-column" data-controller="clipboard" data-clipboard-text-value="<%= @event.account_number if organizer_signed_in? %>">
      <span class="mono pointer tooltipped tooltipped--n" aria-label="<%= organizer_signed_in? ? "Click to copy" : "Sign in to view" %>" data-action="click->clipboard#copy">
        <% if organizer_signed_in? %>
          <%= @event.account_number %>
        <% else %>
          <%= "•" * @event.account_number.length %>
        <% end %>
      </span>
      <span class="h4 muted">Account</span>
    </span>
    <span class="flex flex-column" data-controller="clipboard" data-clipboard-text-value="<%= @event.routing_number if organizer_signed_in? %>">
      <span class="mono pointer tooltipped tooltipped--n" aria-label="<%= organizer_signed_in? ? "Click to copy" : "Sign in to view" %>" data-action="click->clipboard#copy">
        <% if organizer_signed_in? %>
          <%= @event.routing_number %>
        <% else %>
          <%= "•" * @event.routing_number.length %>
        <% end %>
      </span>
      <span class="h4 muted">Routing</span>
    </span>
  </div>
</div>

<div class="flex items-start info container--sm mx-auto mt1 mb3">
  <%= inline_icon "info", class: "mr1" %>
  <p class="m0">You may need to tap "Verify bank manually" or similar when linking your account to apps like Venmo.</p>
</div>

<div class="center">
  <a href="#" data-behavior="modal_trigger" data-modal="ach_form">How to fill out an ACH form <%= inline_icon "external", size: 20 %></a>
</div>

<section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="ach_form">
  <%= modal_header "Fill out an ACH form" %>

  <p class="mb2">In addition to an account/routing number, you may need the following information to fill out an ACH form from a sponsor:</p>

  <section class="details">
    <p>
      <strong>Company Name</strong>
      <span><%= @event.name %> C/O Hack Club</span>
    </p>
    <p>
      <strong>Company Address</strong>
      <span>8605 Santa Monica Blvd #86294<br>West Hollywood, CA 90069</span>
    </p>
    <p>
      <strong>Bank Name</strong>
      <span>First Internet Bank Of Indiana</span>
    </p>
    <p>
      <strong>Bank Address</strong>
      <span>8701 E 116th<br>Fishers, IN 46038</span>
    </p>
  </section>
</section>
