<% title "Announcements for #{@event.name}" %>
<% page_md %>
<%= render "events/nav", selected: :announcements %>

<h1 class="heading">
  <span class="flex flex-grow items-center">Announcements</span>

  <%= render "events/follow_button" %>
  <% if organizer_signed_in?(as: :member) %>
    <%= link_to event_announcements_new_path(@event), class: "btn bg-success #{"disabled" if !policy(@announcement).new?}", data: { behavior: "modal_trigger", modal: "create_announcement" } do %>
      <%= inline_icon "plus" %>
      Create
    <% end %>
  <% end %>
</h1>

<% if @announcements.empty? %>
  <div class="flex flex-1 flex-col items-center justify-center">
    <div class="text-center">
      <h3 class="text-2xl font-bold mb-0">
        It's quiet here...
      </h3>
      <p class="text-gray-500 my-1 max-w-sm">
        Create a new announcement to keep your followers up to date!
      </p>
    </div>
  </div>
<% else %>
  <div class="flex flex-col gap-2">
    <% @announcements.each do |announcement| %>
      <%= render partial: "announcements/announcement_card", locals: { announcement: } %>
    <% end %>
  </div>
<% end %>

<%= paginate @announcements %>

<% if organizer_signed_in? %>
  <%= render "announcements/announcement_modal" %>
<% end %>
