<% title "Announcements for #{@event.name}" %>
<% page_md %>
<% auto_discover_feed(@event) %>
<%= render "events/nav", selected: :announcements %>
<%= render "followers_modal", event_follows: @event.event_follows %>

<h1 class="flex heading items-center">
  <span class="flex-grow flex items-center flex-1">
    Announcements
    <%= link_to event_feed_path(@event, format: :atom), class: "muted tooltipped tooltipped--e ml-2", "aria-label": "you found an Atom feed!", data: { turbo: false } do %>
      <%= inline_icon "rss", size: 30 %>
    <% end %>
    <% if organizer_signed_in?(as: :reader) && @event.followers.any? %>
      <%= link_to "#", class: "list-badge quick-action ml-4", data: { behavior: "modal_trigger", modal: "edit_followers" } do %>
        <%= inline_icon "person", size: 20 %>
        <%= pluralize(@event.followers.count, "follower") %>
      <% end %>
    <% end %>
  </span>

  <%= render "events/follow_button", event: @event, event_follow: @event_follow %>
  <% if organizer_signed_in?(as: :member) %>
    <%= link_to event_announcements_new_path(@event), class: "btn bg-success #{"disabled" if !policy(@announcement).new?}", data: { behavior: "modal_trigger", modal: "create_announcement" } do %>
      <%= inline_icon "plus" %>
      Create
    <% end %>
  <% end %>
</h1>

<% if @monthly_announcement.present? && organizer_signed_in?(as: :reader) %>
  <% scheduled_for = Date.today.next_month.beginning_of_month %>
  <% scheduled_for_string = scheduled_for.strftime("%B #{scheduled_for.day.ordinalize}") %>

  <% if @monthly_announcement.template_draft? && (DateTime.now > DateTime.now.end_of_month - 1.week) %>
    <%= render "callout", type: "error", title: "Your scheduled monthly announcement is canceled", footer: :questions do %>
      <ul>
        <li>Since blocks contained in this monthly announcement have no data, the scheduled monthly announcement for <%= Date.today.strftime("%B") %> has been canceled.</li>
        <li>If you would like to keep this monthly announcement, <%= link_to "edit it", announcement_path(@monthly_announcement) %> any time before <%= scheduled_for_string %>.</li>
        <li>You can also disable sending monthly announcements in your <%= link_to "organization settings", edit_event_path(@event) %>.</li>
      </ul>
    <% end %>
  <% elsif !@monthly_announcement.published? %>
    <%= render "callout", type: "warning", title: "You have a scheduled monthly announcement that will be delivered on #{scheduled_for_string}", footer: :questions do %>
      <ul>
        <li>You can <%= link_to "view and edit this announcement", announcement_path(@monthly_announcement) %> any time before <%= scheduled_for_string %>.</li>
        <li>If you would like to disable sending monthly announcements, you may do so in your <%= link_to "organization settings", edit_event_path(@event) %>.</li>
        <li>This announcement will be sent out to everyone following you on <%= scheduled_for_string %>.</li>
      </ul>
    <% end %>
  <% end %>
<% end %>

<% if @announcements.empty? %>
  <div class="flex flex-1 flex-col items-center justify-center">
    <div class="text-center">
      <h3 class="text-2xl font-bold mb-0">
        It's quiet here...
      </h3>
      <% if organizer_signed_in?(as: :manager) %>
        <p class="text-gray-500 my-1 max-w-sm">
          Create a new announcement to keep your followers up to date!
        </p>
        <% unless @event.is_public %>
          <p class="text-gray-500 my-1 max-w-sm">This page will not be publicly visible until you publish your first announcement.</p>
        <% end %>
      <% else %>
        <p class="text-gray-500 my-1 max-w-sm">
          No announcements are posted yet.
        </p>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="flex flex-col gap-2">
    <% @announcements.each do |announcement| %>
      <%= render partial: "announcements/announcement_card", locals: { announcement: } %>
    <% end %>
  </div>
<% end %>

<%= paginate @announcements %>

<% if organizer_signed_in? %>
  <%= render "announcements/announcement_modal" %>
<% end %>
