<% title "Bank Fees for #{@event.name.html_safe}" %>
<% page_md %>
<%= render "events/nav" %>

<h1 class="heading">
  <span class="flex items-center">
    Bank Fees
    <%= badge_for @bank_fees.count, class: "bg-muted" %>
  </span>
</h1>

<article class="table-container">

  <table>
    <thead>
      <tr>
        <th>STATUS</th>
        <th>DATE</th>
        <th style="text-align: right;">AMOUNT</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @bank_fees.each do |bf| %>
        <tr>
          <td>
            <span class="ml0 badge bg-<%= bf.state %>"><%= bf.state_text %></span>
          </td>
          <td>
            <%= format_date bf.created_at %>
          </td>
          <td style="text-align: right;">
            <%= bf.amount %>
          </td>
          <td>
            <%#= link_to "Details", hcb_code_url(d.local_hcb_code.hashid) if organizer_signed_in? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</article>
