<% title "Breakdown of #{@event.name}'s finances" %>
<%= page_md %>
<%= render "nav", selected: :breakdown %>

<% if @event&.is_public %>
  <% content_for :head do %>
    <% img = "https://hcb-og.hackclub.com/api/embeds/#{@event.slug}" %>
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="<%= img %>">
    <meta name="twitter:image" content="<%= img %>">
    <meta property="og:site_name" content="HCB">
    <meta property="og:url" content="<%= event_url(@event) %>">
    <meta property="og:title" content="<%= @event.name %>">
    <meta name="twitter:title" content="<%= @event.name %>">
    <% description = "#{@event.name}'s finances have been made public on HCB so you can see how their money is spent." %>
    <meta property="og:description" content="<%= description %>">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="description" content="<%= description %>">
  <% end %>
<% end %>

<h1>Breakdown</h1>

<% line_chart_config = {
     elements: { point: { radius: 0 } },
     scales: {
       y: {
         title: {
           color: "gray",
           font: {
             size: 14,
             weight: "900",
           },
         },
       },
       x: {
         border: {
           display: false
         },
         grid: {
           display: false,
         },
         title: {
           color: "gray",
           font: {
             size: 14,
             weight: "900",
           },
         },
       },
     }
   }

   def pie_chart_config(legend_position)
     {
       elements: {
         arc: {
           borderWidth: 0
         }
       },
       plugins: {
         legend: {
           position: legend_position,
           align: legend_position == "bottom" ? "center" : "start",
           labels: {
             boxWidth: 10,
             boxHeight: 10,
             usePointStyle: "circle"
           }
         }
       }
     }
   end %>

<div class="statset mt2 mb3">
  <div class="stat">
    <span class="stat__label">Account balance</span>
    <span class="stat__value"><%= render_money_amount(@event.balance) %></span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">Amount raised</span>
    <span class="stat__value"><%= render_money_amount @event.total_raised %></span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">Amount spent</span>
    <span class="stat__value"><%= render_money_amount @event.total_raised - @event.balance %></span>
  </div>
</div>

<h4 class="breakdown-eyebrow mt3" style="font-size: 16px">
  <%= @past_year_transactions_count %> <%= "transaction".pluralize(@past_year_transactions_count) %> in the past year
</h4>

<div class="grid-container mb2">
  <% 7.times do |x| %>
    <% 53.times do |y| %>
      <% entry = @heatmap.to_a[y * 7 + x][1] %>
      <% label = @heatmap.to_a[y * 7 + x][0] %>
      <% pos_bg = "rgba(57, 211, 83, #{Math.log(entry[:positive]) / Math.log(@maximum_positive_change)})" %>
      <% neg_bg = "rgba(248, 81, 73, #{Math.log(entry[:negative].abs) / Math.log(@maximum_negative_change.abs)})" %>

      <% if entry[:positive] > entry[:negative].abs %>
        <div class="grid-item tooltipped tooltipped--s border-muted dark:border-dark"
             aria-label="<%= "#{label}: #{render_money(entry[:positive])}" %>"
             style="background-color: <%= pos_bg %>">
        </div>
      <% elsif entry[:negative].abs > entry[:positive] %>
        <div class="grid-item tooltipped tooltipped--s border-muted dark:border-dark"
             aria-label="<%= "#{label}: #{render_money(entry[:negative])}" %>"
             style="background-color: <%= neg_bg %>">
        </div>
      <% else %>
        <div class="grid-item tooltipped tooltipped--s bg-snow dark:bg-darkless border-muted dark:border-dark"
            aria-label="<%= label %>"></div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="grid-container grid-container--preview mb3">
  <% 5.times do |x| %>
    <% pos_bg = "rgba(57, 211, 83, #{Math.log(x + 2) / Math.log(6)})" %>
    <div class="grid-item border-muted dark:border-dark" style="background-color: <%= pos_bg %>"></div>
  <% end %>
  <span style="height: 0px !important; grid-column: 6 / 20; font-size: 16px; transform: translate(4px, -5px);">MORE INCOME</span>
  <% 5.times do |x| %>
    <% neg_bg = "rgba(248, 81, 73, #{Math.log(x + 2) / Math.log(6)})" %>
    <div class="grid-item border-muted dark:border-dark" style="background-color: <%= neg_bg %>"></div>
  <% end %>
  <span style="height: 0px !important; grid-column: 25 / 40; font-size: 16px; transform: translate(4px, -5px);">MORE SPENDING</span>
</div>

<% if @tags.any? %>
  <div class="breakdown-row">
    <div class="card--breakdown" style="flex: 1">
      <h3>By Tag</h3>
      <%= pie_chart @tags, library: pie_chart_config("right"), download: true %>
    </div>
  </div>
<% end %>

<div class="breakdown-row">
  <div class="card--breakdown" style="flex: 1">
    <h3>By User</h3>
    <%= react_component "breakdown/Users", { data: @users }, { camelize_props: false } %>
  </div>
</div>

<div class="breakdown-row">
  <div class="card--breakdown" style="flex: 1">
    <h3>Top Merchants</h3>
    <%= react_component "breakdown/Merchants", { data: @merchants }, { camelize_props: false } %>
  </div>
  <div class="card--breakdown" style="flex: 1">
    <h3 class="mb2">Top Categories</h3>
    <%= react_component "breakdown/Categories", { data: @categories }, { camelize_props: false } %>
  </div>
</div>
