<% title "Cards for #{@event.name}" %>
<% page_md %>
<%= render "nav", selected: :cards %>
<% if current_user.try(:full_name).try(:blank?) %>

  <h1 class="heading">
    <span class="flex items-center">
      Cards
    </span>
  </h1>

  <%= render "cards/name_required" %>
<% else %>

  <h1 class="heading">
    <span class="flex items-center">
      Cards
      <%= badge_for @event.stripe_cards.count, class: "bg-muted" %>
    </span>

    <% if organizer_signed_in? %>
      <%= link_to event_cards_new_path(event_id: @event.slug), class: "btn bg-success", data: { behavior: "modal_trigger", modal: "order_card" } do %>
        <%= inline_icon "card-add" %>
        Order a card
      <% end %>
    <% end %>

    <%= link_to "?view=#{params[:view] == 'list' ? 'grid' : 'list'}", class: "btn" do %>
      <%= inline_icon params[:view] == "list" ? "grid" : "list", size: 16 %>
      <%= (params[:view] == "list" ? "grid" : "list").capitalize %> view
    <% end %>
  </h1>

  <% unless show_mock_data? %>
    <div style="text-align: center;" class="mb2">
      <%= link_to "All", event_cards_overview_path(event_id: @event.slug), class: "filterbar__item", "aria-selected": @status.nil?, role: "tab" %>
      <% %w[virtual physical active inactive].each do |status| %>
        <%= link_to status.humanize, "?status=#{status}#{"&q=#{@q}" if @q}", class: "filterbar__item", "aria-selected": @status == status, role: "tab" %>
      <% end %>
    </div>
  <% end %>

  <% if organizer_signed_in? %>

    <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="order_card">
      <%= modal_header "Order a card" %>
      <%= render "stripe_cards/form", stripe_card: StripeCard.new %>
    </section>

  <% end %>

  <%= form_with method: :get do |form| %>
    <% if @status %>
      <%= form.hidden_field :status, value: @status %>
    <% end %>
    <%= form.text_field :q, value: @q, placeholder: "Search by cardholder", class: "mb3 w-100", style: "max-width: 100%" %>
  <% end %>

  <% if params[:view] == "list" %>
    <%= render "event_cards_table", stripe_cards: @paginated_stripe_cards, status: @status %>
  <% else %>
    <article class="mixed-grid grid--spacious">
      <%= render partial: "stripe_cards/stripe_card", collection: @paginated_stripe_cards %>
    </article>

    <% if @paginated_stripe_cards.blank? %>
      <% if organizer_signed_in? %>
        <%= blankslate "You don't have any #{@status} cards yet." %>
      <% else %>
        <%= blankslate "This organization doesn't have any #{@status} cards" %>
      <% end %>
    <% end %>

  <% end %>

  <%= paginate @paginated_stripe_cards %>

  <% if organizer_signed_in? || @event.used_emburse? %>
    <div class="flex flex-col justify-center mt4">
      <section class="grid">
        <% if organizer_signed_in? %>
          <%= link_to my_cards_path,
                      class: "card card--hover block pt4 pb4 card--promo card--sunset cursor-pointer" do %>
            <h3 class="mt0 mb0">See all your cards →</h3>
          <% end %>
        <% end %>
        <% if @event.used_emburse? %>
          <%= link_to event_emburse_cards_overview_path(event_id: @event.slug),
                      class: "card card--hover block pt4 pb4 card--promo cursor-pointer",
                      style: "background-image: url(https://cloud-awvmmj0xe.vercel.app/grey_card.png);" do %>
            <h3 class="mt0 mb0">Previous Emburse cards →</h3>
          <% end %>
        <% end %>
      </section>
    </div>
  <% end %>

<% end %>
