<% title "Cards for #{@event.name}" %>
<% page_md %>
<% include_modals %>
<%= render "nav" %>
<% if current_user.try(:full_name).try(:blank?) %>

  <h1 class="heading">
    <span class="flex items-center">
      Cards
    </span>
  </h1>

  <%= render "cards/name_required" %>
<% else %>

  <h1 class="heading">
    <span class="flex items-center">
      Cards
      <%= badge_for @event.stripe_cards.count, class: "bg-muted" %>
    </span>

    <% if organizer_signed_in? %>
      <%= link_to event_cards_new_path(event_id: @event.slug), class: "btn bg-success", data: { behavior: "modal_trigger", modal: "order_card" } do %>
        <%= inline_icon "card-add" %>
        Order a card
      <% end %>
    <% end %>

    <button
      type="button"
      data-behavior="menu_toggle" aria-expanded="false" tabindex="0"
      class="btn menu__toggle overflow-visible z1">
      <%= inline_icon 'view', size: 16 %>
      View
      <div class="menu__content h5" data-behavior="menu_content">
        <%= link_to "List view  #{'✔' if params[:view] == 'list'}", '?view=list' %>
        <%= link_to "Grid view  #{'✔' if params[:view] != 'list'}", '?view=grid' %>
      </div>
    </button>
  </h1>

  <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="order_card">
    <%= modal_header "Order a card" %>
    <%= render "stripe_cards/form", stripe_card: StripeCard.new %>
  </section>

  <% if organizer_signed_in? %>
    <h4>Your Cards</h4>
    <% if @session_user_stripe_cards.blank? %>
      <%= blankslate "You haven’t requested any cards yet." %>
    <% else %>

      <% if params[:view] == "list" %>
        <%= render 'event_cards_table', stripe_cards: @session_user_stripe_cards %>
      <% else %>
        <article class="mixed-grid grid--spacious">
          <%= render @session_user_stripe_cards %>
        </article>
      <% end %>

    <% end %>
  <% end %>

  <% if organizer_signed_in? || @event.used_emburse? %>
    <section class="grid grid--split pt4 pb4">
      <% if organizer_signed_in? %>
        <%= link_to my_cards_path,
                    class: "card card--hover block pt4 pb4 card--promo card--sunset cursor-pointer" do %>
          <h3 class="mt0 mb0">See all your cards →</h3>
        <% end %>
      <% end %>
      <% if @event.used_emburse? %>
        <%= link_to event_emburse_cards_overview_path(event_id: @event.slug),
                    class: "card card--hover block pt4 pb4 card--promo cursor-pointer",
                    style: "background-image: url(https://cloud-awvmmj0xe.vercel.app/grey_card.png);" do %>
          <h3 class="mt0 mb0">Previous Emburse cards →</h3>
        <% end %>
      <% end %>
    </section>
  <% end %>

  <h4>Organization Cards</h4>

  <% if params[:view] == "list" %>
    <%= render 'event_cards_table', stripe_cards: @stripe_cards %>
  <% else %>
    <article class="mixed-grid grid--spacious">
      <%= render @stripe_cards %>
    </article>
  <% end %>

<% end %>
