<% title "Cards for #{@event.name}" %>
<% page_md %>
<%= render 'nav'%>

<h1>
  Cards
</h1>

<article class="card">
  <h2 class="mt0 mb2">Summary</h2>

  <div class="flex flex-wrap">
    <div class="stat md-w-50 mb2 tooltipped tooltipped--s" aria-label="The amount available to spend on your cards">
      <span class="stat__label flex items-center">
      Card balance
      <%= inline_icon 'info', size: 24, class: 'ml1', 'aria-label': 'Info icon' %>
      </span>
      <span class="stat__value"><%= render_money @event.emburse_balance, '' %></span>
    </div>
    <div class="stat md-w-50 muted mb2 tooltipped tooltipped--s" aria-label="The amount stored in your bank–you need to transfer it to your card balance before spending it">
      <span class="stat__label flex items-center">
      Bank balance
      <%= inline_icon 'info', size: 24, class: 'muted ml1', 'aria-label': 'Info icon' %>
      </span>
      <span class="stat__value"><%= render_money @event.balance, '' %></span>
    </div>
  </div>

  <div class="flex flex-wrap items-center">
    <%= link_to 'Transfer to card balance', new_event_load_card_request_path(event_id: @event.slug), class: 'btn bg-success mr2' %>
    <span class="h5 mt1 mb1">
    </span>
  </div>

  <% if @event.cards.any? %>
    <p class="bold mt2 mb1">Your billing address for purchases</p>
    <pre class="inline-block mt0 mb0">The Hack Foundation
8605 Santa Monica Blvd #86294
West Hollywood, CA 90069</pre>
  <% end %>

  <% admin_tools('flex items-center mt2') do %>
    <% if @event.emburse_department_path.nil? %>
      <%= link_to 'Set Emburse Department ID', edit_event_path(@event), class: 'btn bg-accent mr2' %>
    <% else %>
      <%= link_to 'Set Emburse Budget', @event.emburse_department_path, class: 'btn bg-accent mr2' %>
    <% end %>
    <span class="h5 mt1 mb1">
      (Current: <strong>$<%= render_money @event.emburse_budget_limit, '' %></strong>)
    </span>
  <% end %>
</article>

<h2 class="heading">
  Event Cards
  <%= link_to 'Request a Card',
    new_card_request_path(event_id: @event.id),
    class: 'btn bg-success' %>
</h2>
<% if @event.cards.any? %>
  <section class="emburse-cards grid--spacious mt2">
    <% @event.cards.each do |card| %>
      <%= link_to card do %>
        <%= creator_bar card, prefix: 'requested ' %>
        <div class="emburse-cards__card">
          <p class="emburse-cards__card__number">
            <span>XXXX-XXXX-XXXX-</span><strong><%= card.last_four %></strong>
          </p>
          <p class="emburse-cards__card__name"><%= card.full_name %></p>
        </div>
      <% end %>
    <% end %>
  </section>
<% elsif @card_requests.any? %>
  <%= blankslate 'No cards have been accepted yet.' %>
<% elsif @cards.blank? %>
  <%= blankslate 'You haven’t requested any physical cards yet.' %>
<% end %>

<% if @card_requests.outstanding.any? %>
<h2 class="mt3 mb1">Card Requests</h2>
  <% @card_requests.outstanding.each do |request| %>
    <%= link_to request, class: 'text-decoration-none mb2' do %>
      <%= creator_bar request %>
      <div class="card">
        <%= status_badge request.status_badge_type %>
        <strong class="h3"><%= request.full_name %></strong>
        <span class="muted">(<%= request.status %>)</span>
      </div>
    <% end %>
  <% end %>
<% end %>
<% if @card_requests.accepted.any? %>
  <% admin_tools('mt3') do %>
    <h2 class="mt0 mb1">Accepted Card Requests</h2>
    <% @card_requests.accepted.each do |request| %>
      <%= link_to request, class: 'text-decoration-none mb2' do %>
        <%= creator_bar request %>
        <div class="card">
          <%= status_badge request.status_badge_type %>
          <strong class="h3"><%= request.full_name %></strong>
          <span class="muted">(<%= request.status %>)</span>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if @emburse_transactions.any? %>
</main>
<main class="container">
  <h2 class="mt3 mb2">
    Card Transactions
  </h2>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Running total</th>
        <th>On</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% running_sum = @emburse_transactions.completed.sum(&:amount) %>
    <% @emburse_transactions.each do |t| %>
      <tr>
        <td><%= t.transaction_time.nil? ? '–' : t.transaction_time.to_date %></td>
        <td>
          <span class="tooltipped tooltipped--s" aria-label="<%= t.state.capitalize %>">
          <%= status_badge t.status_badge_type %>
          </span>
          <% if t.amount > 0 %>
            <strong>Transfer from bank account</strong>
          <% elsif t.merchant_name.nil? %>
            <strong>Transfer back to bank account</strong>
          <% else %>
            <%= t.merchant_name %>
          <% end %>
        </td>
        <td><%= render_money t.amount %></td>
        <td><%= render_money running_sum %></td>
        <% running_sum -= t.amount if t.completed? %>
        <td>
          <%= t.card.nil? ? '—' : card_mention(t.card) %>
          <%= "(#{t.card.full_name})" if t.card %>
        </td>
        <td>
          <a href="<%= t.emburse_path %>" target="_blank">More</a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
