<% title "Debit cards for #{@event.name}" %>
<% page_md %>
<%= render 'nav'%>

<h1>
  Debit Cards
</h1>

<article class="card">
  <h2 class="mt0 mb2">Summary</h2>

  <div class="flex flex-wrap">
    <div class="stat md-w-50 muted mb2">
      <span class="stat__label">Bank balance</span>
      <span class="stat__value"><%= render_money @event.balance, '' %></span>
    </div>
    <div class="stat md-w-50 mb2">
      <span class="stat__label">Emburse balance</span>
      <span class="stat__value"><%= render_money @event.emburse_balance, '' %></span>
    </div>
  </div>

  <div class="flex flex-wrap items-center">
    <%= link_to 'Increase Balance', new_event_load_card_request_path(event_id: @event.slug), class: 'btn bg-success mr2' %>
    <span class="h5 mt1 mb1">
      (The average time of the last five transfers to Emburse is <strong> <%= pluralize LoadCardRequest.processing_time, 'day' %></strong>)
    </span>
  </div>

  <p class="slate measure h5 mb0">
    Transfers may take longer than the current average. Sadly
    this is beyond our control, constrained by the US banking /
    ACH transfer system. Please plan accordingly.
  </p>

  <% if @event.cards.any? %>
    <p class="stat__label mt2">Your billing address for purchases</p>
    <pre class="inline-block mt0 mb0">The Hack Foundation
8605 Santa Monica Blvd #86294
West Hollywood, CA 90069</pre>
  <% end %>

  <% admin_tools('flex items-center mt2') do %>
    <% if @event.emburse_department_path.nil? %>
      <%= link_to 'Set Emburse Department ID', edit_event_path(@event), class: 'btn bg-accent mr2' %>
    <% else %>
      <%= link_to 'Set Emburse Budget', @event.emburse_department_path, class: 'btn bg-accent mr2' %>
    <% end %>
    <span class="h5 mt1 mb1">
      (Current: <strong>$<%= render_money @event.emburse_budget_limit, '' %></strong>)
    </span>
  <% end %>
</article>

<h2 class="heading">
  Event Cards
  <%= link_to 'Request a Card',
    new_card_request_path(event_id: @event.id),
    class: 'btn bg-success' %>
</h2>
<% if @event.cards.any? %>
  <section class="emburse-cards">
    <% @event.cards.each do |card| %>
      <%= link_to card do %>
        <%= creator_bar card %>
        <div class="emburse-cards__card">
          <p class="emburse-cards__card__number">
            <span>XXXX-XXXX-XXXX-</span><strong><%= card.last_four %></strong>
          </p>
          <p class="emburse-cards__card__name"><%= card.full_name %></p>
        </div>
      <% end %>
    <% end %>
  </section>
<% elsif @card_requests.any? %>
  <%= blankslate 'No cards have been accepted yet.' %>
<% elsif @cards.blank? %>
  <%= blankslate 'You haven’t requested any physical debit cards yet.' %>
<% end %>

<% if @load_card_requests.any? %>
  <h2 class="heading">
    Emburse Balance Requests
    <%= link_to 'Request to Add Money',
      new_event_load_card_request_path(event_id: @event.id),
      class: 'btn bg-success' %>
  </h2>
  <% @load_card_requests.each do |request| %>
    <%= creator_bar request %>
    <div class="card flex items-center pt0 pb0 mb2">
      <p class="line-height-3 flex-auto">
        <%= status_badge request.status_badge_type %>
        <strong class="h3"><%= render_money request.load_amount %></strong>
        <span class="muted">(<%= request.status %>)</span>
      </p>
      <%= pop_icon_to 'view-close',
        load_card_request_cancel_path(request, event_id: request.event.id),
        method: :post,
        title: 'Cancel this request',
        'data-confirm': 'Are you sure you want to cancel this balance request?',
        class: 'error' if request.under_review? && (request.creator == current_user || admin_signed_in?) %>
    </div>
  <% end %>
<% end %>

<% admin_tools('mt3') do %>
  <h2 class="mt0 mb1">Card Requests</h2>
  <% @card_requests.each do |request| %>
    <%= link_to request, class: 'text-decoration-none mb2' do %>
      <%= creator_bar request %>
      <div class="card">
        <%= status_badge request.status_badge_type %>
        <strong class="h3"><%= request.full_name %></strong>
        <span class="muted">(<%= request.status %>)</span>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if @emburse_transactions.any? %>
  <h2 class="mt3 mb2">
    Emburse Transactions
  </h2>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Amount</th>
        <th>By</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
    <% @emburse_transactions.each do |t| %>
      <tr>
        <td><%= t.transaction_time.to_date %></td>
        <td>
          <%= status_badge t.status_badge_type %>
          <%= t.merchant_name %>
        </td>
        <td><%= render_money t.amount %></td>
        <td>
          <%= t.state unless t.completed? %>
          <%= t.card.full_name if t.card %>
        </td>
        <td>
          <a href="<%= t.emburse_path %>" target="_blank">More</a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
