<% page_md %>
<% page_snow %>
<%= render 'nav'%>

<h1>
  Debit Cards
</h1>

<article class="card">
  <h2 class="mt0 mb2">Summary</h2>
  <div class="stat inline-block mr2 mb2">
    <span class="stat__label">Available balance</span>
    <span class="stat__value"><%= render_money @event.emburse_balance, '' %></span>
  </div>
  <% if admin_signed_in? %>
    <div class="stat inline-block">
      <span class="stat__label">Emburse budget limit</span>
      <span class="stat__value"><%= render_money @event.emburse_budget_limit, '' %></span>
    </div>
  <% end %>

  <div class="flex flex-wrap items-center">
    <%= link_to 'Increase Balance', new_event_load_card_request_path(event_id: @event.slug), class: 'btn bg-success mr2' %>
    <span class="h5 mt1 mb1">
      (Average transfer time: <%= pluralize LoadCardRequest.processing_time, 'day' %>)
    </span>
  </div>

  <p class="slate measure h5 mb0">
    Transfers may take longer than the current average. Sadly
    this is beyond our control, constrained by the US banking /
    ACH transfer system. Please plan accordingly.
  </p>

  <% if @event.cards.any? %>
    <p class="stat__label mt2">Your billing address for purchases</p>
    <pre class="inline-block mt0 mb0">The Hack Foundation
8605 Santa Monica Blvd #86294
West Hollywood, CA 90069</pre>
  <% end %>
</article>

<h2 class="heading">
  Event Cards
  <%= link_to 'Request a Card',
    new_card_request_path(event_id: @event.id),
    class: 'btn bg-success' %>
</h2>
<% if @event.cards.any? %>
  <section class="emburse-cards mt2 md-mt3">
    <% @event.cards.each do |card| %>
      <%= link_to card do %>
        <div class="emburse-cards__card">
          <p class="emburse-cards__card__number">
            <span>XXXX-XXXX-XXXX-</span><strong><%= card.last_four %></strong>
          </p>
          <p class="emburse-cards__card__name"><%= card.full_name %></p>
        </div>
        <p class="emburse-cards__caption">(sent <span title="<%= card.created_at %>"><%= time_ago_in_words card.created_at %> ago</span>)</p>
      <% end %>
    <% end %>
  </section>
<% end %>

<% if @card_requests.any? %>
  <h3 class="mb1">Card Requests</h3>
  <ul class="list list--unlinked list--row">
    <% @card_requests.each do |request| %>
      <li>
        <p>
          <%= status_if :pending, request.under_review? %>
          <strong><%= request.full_name %> – <%= request.status %></strong>
          <span class="muted">(added <span title="<%= request.created_at %>"><%= time_ago_in_words request.created_at %> ago</span>)</span>
        </p>
        <% if request.creator == current_user %>
          <%= link_to 'Cancel',
            card_request_cancel_path(request),
            method: :post,
            'data-confirm': 'Are you sure you want to cancel this card request?',
            class: 'btn btn--destroy' if request.under_review? && !admin_signed_in? %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <%= blankslate 'You haven’t requested any physical debit cards yet.' %>
<% end %>

<% if @emburse_transactions.any? and admin_signed_in? %>
  <h3 class="heading">
    Emburse Transactions
  </h3>
  <ul class="list list--row">
    <% @emburse_transactions.order(transaction_time: :desc).where.not(transaction_time: nil).each do |transaction| %>
      <a href="<%= transaction.emburse_path %>" target="_blank">
        <li>
            <p class="flex-auto">
              <%= status_badge transaction.status_badge_type %>
              <strong><%= render_money transaction.amount %> <%= transaction.merchant_name %> <%= '– ' + transaction.card.full_name if transaction.card %> – <%= transaction.state %></strong>
              <span class="muted">(created on <%= transaction.transaction_time.to_date %>)</span>
            </p>
        </li>
      </a>
    <% end %>
  </ul>
<% end %>

<% if @load_card_requests.any? %>
  <h3 class="heading">
    Emburse Balance Requests
    <%# link_to 'Request to Add Money',
      new_event_load_card_request_path(event_id: @event.id),
      class: 'btn bg-success' %>
  </h3>
  <ul class="list list--unlinked list--row">
    <% @load_card_requests.each do |request| %>
      <li>
        <p class="flex-auto">
          <%= status_badge request.status_badge_type %>
          <strong><%= render_money request.load_amount %> – <%= request.status %></strong>
          <span class="muted">(created by <%= request.creator.name %> on <span title="<%= request.created_at %>"><%= request.created_at.to_date %></span>)</span>
        </p>
        <% if request.under_review? && request.creator == current_user %>
          <%= link_to 'Cancel',
            load_card_request_cancel_path(request, event_id: request.event.id),
            method: :post,
            'data-confirm': 'Are you sure you want to cancel this balance request?',
            class: 'btn btn--destroy' unless admin_signed_in? %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
