<% title "Cards for #{@event.name.html_safe}" %>
<% page_md %>
<% include_modals %>
<%= render "nav" %>
<% if current_user.try(:full_name).try(:blank?) %>

  <h1 class="heading">
    <span class="flex items-center">
      Cards
    </span>
  </h1>

  <%= render "cards/name_required" %>
<% else %>

  <h1 class="heading">
    <span class="flex items-center">
      Cards
      <%= badge_for @stripe_cards.count, class: "bg-muted" %>
    </span>

    <% if organizer_signed_in? %>
      <%= link_to event_cards_new_path(event_id: @event.slug), class: "btn bg-success", data: { behavior: "modal_trigger", modal: "order_card" } do %>
        <%= inline_icon "card-add" %>
        Order a card
      <% end %>
    <% end %>
  </h1>

  <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="order_card">
    <%= modal_header "Order a card" %>
    <%= render "stripe_cards/form", stripe_card: StripeCard.new %>
  </section>

  <% if @session_user_stripe_cards.blank? and @stripe_cards.blank? %>
    <%= blankslate "You haven’t requested any cards yet." %>
  <% end %>

  <% if signed_in? %>
    <%=render 'event_cards_table', title: "Your Cards", stripe_cards: @session_user_stripe_cards %>
  <% end %>
  <%=render 'event_cards_table', title: "Organization Cards", stripe_cards: @stripe_cards %>

  <section class="grid grid--split pt4 pb4">
    <% if signed_in? %>
      <%= link_to my_cards_path,
                  class: "card card--hover block pt4 pb4 card--promo",
                  style: "background-image: url(https://cloud-awvmmj0xe.vercel.app/sunset_card.png);" do %>
        <h3 class="mt0 mb0">See all your cards →</h3>
      <% end %>
    <% end %>
    <% if @event.used_emburse? %>
      <%= link_to event_emburse_cards_overview_path(event_id: @event.slug),
                  class: "card card--hover block pt4 pb4 card--promo",
                  style: "background-image: url(https://cloud-awvmmj0xe.vercel.app/grey_card.png);" do %>
        <h3 class="mt0 mb0">Previous Emburse cards →</h3>
      <% end %>
    <% end %>

    <style>
        .card--promo {
            background-size: cover;
            background-position: center center;
            color: white !important;
        }
    </style>
  </section>

  <h4>Cardholders</h4>

  <article class="table-container">

    <table>
      <thead>
      <tr>
        <th>TYPE</th>
        <th>STATUS</th>
        <th>DATE</th>
        <th>NAME</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @stripe_cardholders.each do |d| %>
        <tr>
          <td>
            <%= d.cardholder_type.upcase %>
          </td>
          <td>
            <span class="ml0 badge bg-<%= d.state %>"><%= d.state_text %></span>
          </td>
          <td>
            <%= format_date d.created_at %>
          </td>
          <td>
            <%= d.user.full_name if organizer_signed_in? %>
            <%= "(redacted)" unless organizer_signed_in? %>
          </td>
          <td>
            <% if d.remote_status == "disabled" %>
              Please <%= link_to "contact us", "mailto:bank@hackclub.com" %> to fix this.
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </article>

<% end %>