<% title "Cards for #{@event.name}" %>
<% page_md %>
<%= render "nav", selected: :cards %>
<% @show_card_popovers = Flipper.enabled?(:hcb_code_popovers_2023_06_16, current_user) && organizer_signed_in? && !@event.demo_mode %>
<% if current_user.try(:full_name).try(:blank?) %>

  <h1 class="heading">
    <span class="flex items-center">
      Cards
    </span>
  </h1>

  <%= render "cards/name_required" %>
<% else %>

  <h1 class="flex heading items-center">
    <span class="flex-grow flex items-center flex-1">
      Cards
      <%= badge_for @event.stripe_cards.active.on_main_ledger.count, class: "bg-muted" %>
    </span>

    <%= render "filter_cards_menu" unless @has_filter %>
    <%= pop_icon_to @view == "list" ? "grid" : "list",
                    "?view=#{@view == 'list' ? 'grid' : 'list'}#{"&q=#{@q}" if @q}#{"&status=#{@status}" if @status}" %>
    <% if organizer_signed_in?(as: :member) %>
      <%= link_to event_cards_new_path(event_id: @event.slug), class: "btn bg-success", data: { behavior: "modal_trigger", modal: "order_card" } do %>
        <%= inline_icon "card-add" %>
        Order a card
      <% end %>
    <% end %>
  </h1>

  <%= render "filter_cards" if @has_filter %>

  <% if control = @organizer_position&.active_spending_control %>
    <% title = control.balance_cents.zero? ? "You are not authorized to spend any money at the moment." : "You currently have a spending limit of #{render_money control.balance_cents}" %>
    <%= render "callout", type: control.balance_cents.zero? ? "warning" : "info", title: do %>
      <ul class="m0">
        <li>Spending controls are enabled for this organization.</li>
        <li>Since you're a <%= @organizer_position.role %>, you must request allowances to spend money.</li>
        <li>Managers can issue allowances
          from <%= link_to "your spending controls page", event_organizer_position_spending_controls_path(organizer_position_id: @organizer_position) %>
          , which can be accessed from the <%= link_to "team page", event_team_path(@event) %>.
        </li>
      </ul>
    <% end %>
  <% end %>

  <% if organizer_signed_in? %>
    <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="order_card">
      <%= modal_header "Order a card" %>
      <%= render "stripe_cards/form", stripe_card: StripeCard.new %>
    </section>
  <% end %>

  <% if @view == "list" %>
    <%= render "event_cards_table", stripe_cards: @paginated_stripe_cards, status: @status %>
  <% else %>
    <article class="mixed-grid grid--spacious">
      <%= render partial: "stripe_cards/stripe_card", collection: @paginated_stripe_cards %>
    </article>

    <% if @paginated_stripe_cards.blank? %>
      <% if organizer_signed_in? %>
        <%= blankslate "You don't have any #{@status} cards yet." %>
      <% else %>
        <%= blankslate "This organization doesn't have any #{@status} cards" %>
      <% end %>
    <% end %>

  <% end %>

  <%= paginate @paginated_stripe_cards %>

  <% if organizer_signed_in? || @event.used_emburse? %>
    <div class="flex flex-col justify-center mt4">
      <section class="grid">
        <% if organizer_signed_in? %>
          <div class="text-center">
            <div class="menu__divider mb3"></div>
            <%= link_to my_cards_path, class: "btn bg-accent" do %>
              All your cards →
            <% end %>
            <% if @event.used_emburse? %>
              <%= link_to event_emburse_cards_overview_path(event_id: @event.slug), class: "mt-3 block no-underline" do %>
                See previous Emburse cards
              <% end %>
            <% end %>
          </div>
        <% end %>
      </section>
    </div>
  <% end %>

<% end %>
