<% title "Cards for #{@event.name.html_safe}" %>
<% page_md %>
<% include_modals %>
<%= render 'nav' %>

<%= render 'cards/ordering_suspended' if current_user && !using_transaction_engine_v2? %>

<h1 class="heading">
  Cards
  <%= link_to event_cards_new_path(event_id: @event.slug),
      class: 'btn bg-success',
      data: { behavior: 'modal_trigger', modal: 'order_card' } do %>
    <%= inline_icon 'card-add' %>
    Order a card
  <% end if organizer_signed_in? %>
</h1>

<section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="order_card">
  <%= modal_header 'Order a card' %>
  <%= render 'stripe_cards/form', stripe_card: StripeCard.new %>
</section>

<% if @cards.any? %>
  <%= async_frame_to event_stripe_cards_shipping_path(@event) if organizer_signed_in? %>
  <section class="mixed-grid grid--spacious mt2">
    <%= render @active %>
  </section>
  <% if @deactivated.size > 0 %>
    <details class="w-100 left-align">
      <summary><h3 class="inline-block w-auto pb0 border-none">Deactivated cards</h3></summary>
      <section class="mixed-grid grid--spacious mt2">
      <%= render @deactivated %>
      </section>
    </details>
  <% end %>
<% elsif @cards.blank? %>
  <%= blankslate 'You haven’t requested any cards yet.' %>
<% end %>

<% if @event.used_emburse? %>
<section class="grid grid--split pt4 pb4">
  <%= link_to event_emburse_cards_overview_path(event_id: @event.slug),
    class: 'card card--hover block pt4 pb4 card--promo',
    style: 'background-image: url(https://cloud-awvmmj0xe.vercel.app/grey_card.png);' do %>
    <h3 class="mt0 mb0">Previous Emburse data →</h3>
  <% end %>
  <%= link_to my_cards_path,
    class: 'card card--hover block pt4 pb4 card--promo',
    style: 'background-image: url(https://cloud-awvmmj0xe.vercel.app/sunset_card.png);' do %>
    <h3 class="mt0 mb0">See all your cards →</h3>
  <% end if signed_in? %>
<style>
.card--promo {
  background-size: cover;
  background-position: center center;
  color: white !important;
}
</style>
</section>
<% end %>

<% if @stripe_authorizations.any? %>
  <section class="card p0 mb3">
    <h2 class="heading h2 line-height-4 mt0 ml0 pt1 pb1 pl2 pr2">
      Card transactions 
    </h2>
    <%= render 'stripe_authorizations/list', stripe_authorizations: @authorizations, headless: true %>
  </section>
<% end %>
