<% title "Connect GoFundMe" %>
<% page_md %>
<%= render 'events/nav' %>

<div style="padding-top: 2rem;">
  <div class="container container--md">
  <h1 class="mb0" style="border:none"><%= @document_title %></h1>
  <h3 class="mt0 mb2" style="color: gray; font-weight: 500;"><%= @document_subtitle %></h3>
  <%= image_tag @document_image, class: 'w-100' if @document_image %>

<p>Hack Club Bank supports fundraiser payouts to your organization’s account on Bank! Here are the different ways to get your donations from your fundraiser into Hack Club Bank.</p>
<ul>
  <li><strong>Personal accounts.</strong> You can use your personal account to cash out donations. Once you've received the funds, donate them directly to your organization on Hack Club Bank through your donation page or an invoice.</li>
  <li><strong>Payout through PayPal.</strong> To have your payouts sent directly to Hack Club Bank, your fundraising platform of choice must allow for payouts through PayPal. Due to security reasons, we are unable to share our account or routing numbers. To get started, reach out to the Bank team at <%= help_email %>.
  <li><strong>Using the PayPal Giving Fund.</strong> If you are creating a fundraiser on GoFundMe, you can select that you work for a charity since your nonprofit is fiscally sponsored by Hack Club Bank. Just enter in our EIN or tax ID, 81-2908499. PayPal charges a lower fee for a charity fundraiser. Contact the Bank team once your fundraiser has been created.</li>
</li>
</ul>

<%# info card%>
  <div class="card container--sm border b--warning pb0 mt3 mb3 mx-auto">
  <div class="flex items-center warning">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 32 32" class="mr1" style="--darkreader-inline-fill: currentColor;" data-darkreader-inline-fill=""><path fill-rule="evenodd" d="M26 16c0 5.523-4.477 10-10 10S6 21.523 6 16 10.477 6 16 6s10 4.477 10 10zm2 0c0 6.627-5.373 12-12 12S4 22.627 4 16 9.373 4 16 4s12 5.373 12 12z" clip-rule="evenodd"></path><path d="M16 12.75a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM16 22.25c-.552 0-1-.392-1-.875v-6.25c0-.483.448-.875 1-.875s1 .392 1 .875v6.25c0 .483-.448.875-1 .875z"></path></svg>
    <p class="bold mt0 mb0">Important info about PayPal and Giving Fund:</p>
  </div>
  <ul class="mt1 mb2">
    <li><strong>Notify us when you deposit with PayPal</strong>—we can't fund your account without you reaching out.</li>
    <li>PayPal will charge an additional variable fee of around 4% or more, on top of the 7% Bank fee.</li>
  </ul>
  <div class="border-top card__banner card__darker secondary">
    <strong class="warning">Questions?</strong> 
      <span>Contact the Bank team at <a href="mailto:bank@hackclub.com">bank@hackclub.com</a></span>
  </div>
</div>
  </div>
</div>
