<% title "Connect GoFundMe" %>
<% page_md %>
<%= render 'events/nav', selected: :documentation %>

<% content_for :head do %>
  <% img = "https://workshop-cards.hackclub.com/#{url_encode(@document_title)}.png?theme=light&fontSize=200px&caption=Documentation&brand=Bank" %>
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:image" content="<%= img %>">
  <meta name="twitter:image" content="<%= img %>">
  <meta property="og:site_name" content="Hack Club Bank">
  <meta property="og:url" content="https://bank.hackclub.com">
  <meta property="og:title" content="<%= @document_title %>">
  <meta name="twitter:title" content="<%= @document_title %>">
  <meta property="og:description" content="<%= @document_subtitle %>">
  <meta name="twitter:description" content="<%= @document_subtitle %>">
  <meta name="description" content="<%= @document_subtitle %>">
<% end %>

<div style="padding-top: 2rem;">
  <div class="container container--md">
  <h1 class="mb0" style="border:none"><%= @document_title %></h1>
  <h3 class="mt0 mb2" style="color: gray; font-weight: 500;"><%= @document_subtitle %></h3>
  <%= image_tag @document_image, class: 'w-100' if @document_image %>

<p>Hack Club Bank supports fundraiser payouts to your organization’s account on Bank! Here are the different ways to get your donations from your GoFundMe fundraiser into Hack Club Bank.</p>
<ul>
  <li><strong>(Recommended) Create a fundraiser for The Hack Foundation.</strong> To have your payouts sent directly to you on Hack Club Bank, create a fundraiser that will automatically pay out to The Hack Foundation <a href="https://www.gofundme.com/start/charity-fundraising" target="_blank">here</a>. Make sure that the recipient is "The Hack Foundation" with EIN 81-2908499. Feel free to personalize the location, logo, and other details to your specific fundraiser. If you have additional questions, reach out to the Bank team at <%= help_email %>.</li>
  <li><strong>Personal accounts.</strong> To cash out donations from an individual fundraiser, you'll need to connect a personal bank account. Once you've received the funds, donate them directly to your organization on Hack Club Bank through your donations page or an invoice. This method may incur fees on GoFundMe's end, and to avoid paying them, the first option is recommended.</li>
</ul>

<%# info card %>
  <div class="card container--sm border b--warning pb0 mt3 mb3 mx-auto">
  <div class="flex items-center warning">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 32 32" class="mr1" style="--darkreader-inline-fill: currentColor;" data-darkreader-inline-fill=""><path fill-rule="evenodd" d="M26 16c0 5.523-4.477 10-10 10S6 21.523 6 16 10.477 6 16 6s10 4.477 10 10zm2 0c0 6.627-5.373 12-12 12S4 22.627 4 16 9.373 4 16 4s12 5.373 12 12z" clip-rule="evenodd"></path><path d="M16 12.75a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM16 22.25c-.552 0-1-.392-1-.875v-6.25c0-.483.448-.875 1-.875s1 .392 1 .875v6.25c0 .483-.448.875-1 .875z"></path></svg>
    <p class="bold mt0 mb0">Important information</p>
  </div>
  <ul class="mt1 mb2">
    <li><strong>Notify us when the fundraiser ends and the money is transferred to The Hack Foundation</strong>—we can't fund your account without you reaching out.</li>
  </ul>
  <div class="border-top card__banner card__darker secondary">
    <strong class="warning">Questions?</strong>
      <%= help_message %>
  </div>
</div>
  </div>
</div>
