<action class="stat stat--small tooltipped tooltipped--s" aria-label="The amount that will be automatically deducted from your account balance" data-behavior="modal_trigger" data-modal="pending_withdrawals" tabindex="0">
  <span class="stat__label flex items-center">
    Pending fees
    <%= inline_icon 'external', size: 24, class: 'muted ml1', 'aria-label': 'Icon indicating click for more' %>
  </span>
  <span class="stat__value"><%= render_money_amount [@event.fee_balance_v2_cents, 0].max %></span>
  <% if @event.fee_balance_v2_cents < 0 %>
    <span class="" style="font-size: 10px;"><%= render_money_amount @event.fee_balance_v2_cents.abs %> credit</span>
  <% end %>
</action>
<div class="stat stat--small">
  <span class="stat__label flex items-center">Incoming deposits</span>
  <span class="stat__value"><%= render_money_amount @event.canonical_pending_transactions.incoming.sum(:amount_cents) %></span>
</div>

<div class="modal" data-behavior="modal" role="dialog" id="pending_withdrawals">
  <% if using_transaction_engine_v2? %>
    <%= modal_header "Pending fees #{"(#{render_money @event.fee_balance_v2_cents})" if @event.fee_balance_v2_cents > 0}" %>
    <p class="center mt0 mb0 pt2 pb2 slate bold h3 mx-auto max-width-2">
      <%= link_to fees_report_path(@event, format: :csv) do %>
        Download Fee Schedule (fees.csv)
      <% end %>
    </p>
    <% if organizer_signed_in? %>
      <span class="h5 muted block mt2 center">
        Questions? <%= help_message %>
      </span>
    <% end %>

  <% else %>
    <%= modal_header "Pending fees #{"(#{render_money @event.fee_balance})" if @event.fee_balance > 0}" %>
    <% if @event.fee_balance != 0 %>
      <h3 class="mb1 mt0">Bank fee</h3>
      <div class="breakdown">
        <div class="stat stat--small flex items-center">
          <span class="stat__value"><%= render_money_amount @event.fee_balance_without_fee_reimbursement_reconcilliation %></span>
        </div>
        <span class="breakdown__equals">&#61;</span>
        <div>
          <span class="breakdown__amount">
            <%= render_money @event.balance_not_feed %>
          </span>
          <span class="breakdown__sub">revenue without fee withdrawn</span>
        </div>
        <span class="breakdown__equals">&times;</span>
        <div>
          <span class="breakdown__amount"><%= @event.sponsorship_fee * 100 %>%</span>
          <span class="breakdown__sub">our fee</span>
        </div>
      </div>
      <% if (@event.fee_balance - @event.fee_balance_without_fee_reimbursement_reconcilliation) != 0 %>
        <hr class="mt2 mb2">

        <h3 class="mb1">Micro-fee refunds</h3>
        <div class="breakdown stat stat--small">
          <span class="stat__value"><%= render_money_amount (@event.fee_balance - @event.fee_balance_without_fee_reimbursement_reconcilliation) %></span>
        </div>
        <span class="breakdown__sub mb1 line-height-3">
          One of your recent invoices had a payment processing fee of less than a dollar. We cover all payment processing fees, however due to a quirk with our underlying bank, we can't easily credit under a dollar to your account. Instead, we gave you a dollar and are taking out the remainder so that you get refunded the exact amount of the processing fee.
        </span>
      <% end %>
    <% else %>
      <%= blankslate 'You have no pending withdrawals.' %>
    <% end %>
    <% if organizer_signed_in? %>
      <span class="h5 muted block mt2">
        Questions? <%= help_message %>
      </span>
    <% end %>
  <% end %>
</div>
