<% title "Documentation for #{@event.name}" %>
<% page_md %>
<%= render "events/nav", selected: :documentation %>

<h1>
  Documents
</h1>

  <ul class="grid">
    <%= link_to(v3_path) do %>
      <li class="card card--hover">
        <h3 class="mt1 mb0">API Docs</h3>
        <p class="mb1 mt1">The HCB API.</p>
      </li>
    <% end %>

    <%= link_to(branding_path) do %>
    <li class="card card--hover">
      <h3 class="mt1 mb0">Branding</h3>
      <p class="mb1 mt1">How and when to use our logo.</p>
    </li>
    <% end %>

    <%= link_to(event_statements_path(@event)) do %>
      <li class="card card--hover">
        <h3 class="mt1 mb0">Statements</h3>
        <p class="mb1 mt1">A.K.A where'd all my money go?</p>
      </li>
    <% end %>

    <% if organizer_signed_in? %>
      <%= link_to(event_documents_path) do %>
        <li class="card card--hover">
          <h3 class="mt1 mb0">Legal documents</h3>
          <p class="mb1 mt1">EINs, W-9s, and paperwork&nbsp;oh&nbsp;my!</p>
        </li>
      <% end %>
    <% end %>
  </ul>

<hr class="my3">
<h3>How do I...</h3>
<ul class="grid mb3">
 <%= link_to("https://changelog.hcb.hackclub.com/reimbursements-289630") do %>
  <li class="card">
    <div
      class="card__banner card__banner--top"
      style="background-color: #e5e5e5;
      background-image: url('https://cloud-9sk4no7es-hack-club-bot.vercel.app/0slaps-jpg-this-image-can-hold-so-many-pixels.avi.onion.gif.7zip.msw.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 120px;
      background-position: center top;
      ">
    </div>
    <h3 class="mt1 mb0">
    Send a reimbursement
    </h3>
    <p class="mb1 mt1">HCB can reimburse volunteers and team members for any charitable expenses.</p>
  </li>
  <% end %>

  <%= link_to(event_sell_merch_path) do %>
  <li class="card">
    <div
      class="card__banner card__banner--top"
      style="background-color: #e5e5e5;
      background-image: url('https://cloud-fodxc88eu-hack-club-bot.vercel.app/0placeholder.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 120px;
      background-position: center;
      ">
    </div>
    <h3 class="mb0 mt1">
    Sell merchandise
    </h3>
    <p class="mb1 mt1">Connect your online merch shop (eg. Redbubble, Shopify, or Wix) to HCB.</p>
  </li>
  <% end %>
</ul>

<%= render partial: "faq" %>
