<% title "Documentation for #{@event.name}" %>
<% page_md %>
<%= render 'events/nav' %>

<h1>
  Documentation
</h1>

  <ul class="grid">
  <%= link_to(branding_path) do %>
    <li class="card card--hover">
      <h3 class="mt1 mb0">Branding</h3>
      <p class="mb1 mt1">How and when to use our logo.</p>
    </li>
    <% end %>

  <%= link_to(event_documents_path) do %>
    <li class="card card--hover">
      <h3 class="mt1 mb0">Legal Documents</h3>
      <p class="mb1 mt1">EINs, W-9s, and paperwork&nbsp;oh&nbsp;my!</p>
    </li>
  <% end %>
  </ul>

<hr class="my3" />
<h3>How do I...</h3>
<ul class="grid mb3">
<%= link_to(event_connect_gofundme_path) do %>
  <li class="card">
    <div
      class="card__banner card__banner--top"
      style="background-color: #e5e5e5; 
      background-image: url('https://cloud-jl944nr65-hack-club-bot.vercel.app/004e072bbe1.png'); 
      background-repeat: no-repeat;
      background-size: cover; 
      height: 120px; 
      background-position: center;">
    </div>
    <h3 class="mt1 mb0">
    Connect GoFundMe
    </h3>
    <p class="mb1 mt1">Start a fundraiser and connect it to Hack Club Bank</p>
  </li>
  <% end %>

  <%= link_to( event_receive_check_path ) do %>
  <li class="card">
    <div
      class="card__banner card__banner--top"
      style="background-color: #e5e5e5;
      background-image: url('https://cloud-9sk4no7es-hack-club-bot.vercel.app/0slaps-jpg-this-image-can-hold-so-many-pixels.avi.onion.gif.7zip.msw.jpg');
      background-repeat: no-repeat;
      background-size: cover; 
      height: 120px; 
      background-position: center;
      ">
    </div>
    <h3 class="mt1 mb0">
    Receive Checks
    </h3>
    <p class="mb1 mt1">Do's and don'ts of receiving donations via check</p>
  </li>
  <% end %>

  <%= link_to(event_sell_merch_path) do %>
  <li class="card">
    <div
      class="card__banner card__banner--top"
      style="background-color: #e5e5e5;
      background-image: url('https://cloud-fodxc88eu-hack-club-bot.vercel.app/0placeholder.png');
      background-repeat: no-repeat;
      background-size: cover; 
      height: 120px; 
      background-position: center;
      ">
    </div>
    <h3 class="mb0 mt1">
    Sell Merchandise
    </h3>
    <p class="mb1 mt1">Set up a swag shop and pay out to Hack Club Bank</p>
  </li>
  <% end %>
</ul>

<%= render partial: "faq" %>