<% title "Donations to #{@event.name}" %>
<% page_md %>
<%= render "events/nav", selected: :donations %>

<h1 class="heading">
  <span class="flex items-center flex-grow">
    Donations
    <%= badge_for @donations.count, class: "bg-muted" %>
  </span>
  <% if organizer_signed_in? && !show_mock_data? %>
    <div class="tooltipped tooltipped--s" style="line-height: 0;" aria-label="<%= @all_donations.not_pending.any? ? "Email all donors" : "You can't email donors when you don't have any donations!" %>">
      <%= pop_icon_to "email",
        "mailto:?bcc=#{@all_donations.pluck(:email).uniq.compact.join(',')}",
        target: "_blank",
        disabled: @all_donations.not_pending.none? %>
    </div>
  <% end %>
  <% if @event.donation_page_available? %>
    <action type="button" class="pop menu__toggle" data-behavior="menu_toggle" aria-expanded="false" tabindex="0">
      <%= inline_icon "share" %>
      <div class="menu__content" data-behavior="menu_content">
        <%= link_to qr_code_donations_path(@event.slug),
          data: { behavior: "modal_trigger", modal: "qr_code" } do %>
          QR code
        <% end %>
        <%= link_to start_donation_donations_url(@event),
          data: { behavior: "modal_trigger", modal: "embed_code" } do %>
          Embed code
        <% end %>
        <%= link_to "#",
          data: { behavior: "modal_trigger", modal: "prefilled_link" } do %>
          Prefilled amount
        <% end %>
      </div>
    </action>
  <% end %>
  <%= pop_icon_to "settings",
      edit_event_path(@event, tab: "donations"),
      data: { turbo_frame: "_top", behavior: "modal_trigger", modal: "donation_settings" },
      class: "tooltipped tooltipped--s", "aria-label": "Donations settings" %>
  <% if @event.donation_page_available? %>
    <%= link_to start_donation_donations_path(@event), target: "_blank", class: "btn" do %>
      <%= inline_icon "external" %>
      Donate page
    <% end %>
  <% end %>
</h1>

<% if @event.donation_page_available? %>
  <section class="modal" data-behavior="modal" role="dialog" id="qr_code">
    <%= modal_header "Donations QR code" %>
    <div class="flex flex-wrap gap-4">
      <div class="flex-1">
        <div class="bg-white rounded-2xl w-fit h-fit cursor-pointer border border-muted *:w-52 *:h-52 *:hidden" onclick="saveActiveQRCodeAsImage()" style="padding-top: 4.5px; padding-left: 4.5px;">
          <qr-code
            contents='<%= start_donation_donations_url @event %>'
            id="qrCode--icon">
            <img
              src="https://icons.hackclub.com/api/icons/black/bank-account"
              class="h-12 -translate-x-[5.5px]"
              slot="icon">
          </qr-code>
          <qr-code
            contents='<%= start_donation_donations_url @event %>'
            id="qrCode--support">
            <img
              src="https://icons.hackclub.com/api/icons/black/support"
              class="h-12 -translate-x-[5.5px]"
              slot="icon">
          </qr-code>
          <% if @event.logo.attached? %>
            <qr-code
              contents='<%= start_donation_donations_url @event %>'
              id="qrCode--logo">
              <%= image_tag "data:#{@event.logo.blob.content_type};base64," + @event.logo.open { |file| Base64.encode64(file.read) }, slot: "icon", class: "rounded", style: "height: 36px;" %>
            </qr-code>
          <% end %>
          <qr-code
            contents='<%= start_donation_donations_url @event %>'
            id="qrCode--bank">
            <%= image_tag "logo-production.svg", slot: "icon", class: "rounded", style: "height: 36px;" %>
          </qr-code>
          <qr-code
            contents='<%= start_donation_donations_url @event %>'
            id="qrCode--bank-dark">
            <%= image_tag "logo-production-dark.svg", slot: "icon", class: "rounded", style: "height: 36px;" %>
          </qr-code>
          <qr-code
            contents='<%= start_donation_donations_url @event %>'
            class="!block"
            id="qrCode--blank" />
        </div>
      </div>
      <div class="flex-1">
        <div class="iconsGrid grid grid-cols-3 gap-2 w-fit *:h-14 *:bg-snow *:rounded-xl *:cursor-pointer">
          <%= inline_icon "view-close", size: 56, class: "btn bg-muted p-2", onclick: "changeCode('blank')" %>
          <%= inline_icon "bank-account", size: 56, class: "btn bg-muted p-2", onclick: "changeCode('icon')" %>
          <%= inline_icon "support", size: 56, class: "btn bg-muted p-2", onclick: "changeCode('support')" %>
          <% if @event.logo.attached? %>
            <%= image_tag @event.logo, slot: "icon", class: "btn bg-muted p-2", onclick: "changeCode('logo')" %>
          <% end %>
          <%= image_tag "logo-production.svg", slot: "icon", class: "btn bg-muted p-2", onclick: "changeCode('bank')" %>
          <%= image_tag "logo-production-dark.svg", slot: "icon", class: "btn bg-muted p-2", onclick: "changeCode('bank-dark')" %>
        </div>
        <button class="btn mt2" onclick="saveActiveQRCodeAsImage()" id="downloadButton">Download</button>
      </div>
    </div>
  </section>

  <section class="modal" data-behavior="modal" role="dialog" id="embed_code">
    <%= modal_header "Donations embed" %>
    <p class="mt0">Paste this HTML code into your website to embed your donation page. Feel free to change the styling.</p>
    <pre><%= html_escape "<iframe src='#{start_donation_donations_url @event}' style='border:none;' name='donateFrame' scrolling='yes' frameborder='0' marginheight='0px' marginwidth='0px' height='512px' width='512px' allowfullscreen></iframe>".gsub("'", '"') %></pre>
    <h3 class="mb0">Preview</h3>
    <iframe src='<%= start_donation_donations_url @event %>' style='border:none;' name='donateFrame' scrolling='yes' frameborder='0' marginheight='0px' marginwidth='0px' height='256px' width='512px' allowfullscreen style="width: 100%; max-width: 100%; max-height: 40vh;"></iframe>
  </section>

  <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="prefilled_link">
    <%= modal_header "Prefilled link" %>
    <%= react_component "donation_overview/PreviewLink", path: start_donation_donations_url(@event) %>
  </section>
<% else %>
  <p>You can start accepting donations once you enable it in your organization’s <%= link_to "settings", edit_event_path(@event, anchor: "donations") %>.</p>
<% end %>

<div class="mt3 mb2 statset">
  <div class="stat">
    <span class="stat__label">Total</span>
    <span class="stat__value"><%= render_money_amount @stats[:deposited] %></span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">Per month</span>
    <span class="stat__value"><%= render_money_amount @recurring_donations_monthly_sum %></span>
  </div>
</div>

<% if @recurring_donations.size > 0 %>
  <h2 class="heading mt4 pb1" style="margin-bottom: 16px;">
    Recurring donations
  </h2>
  <div class="table-container mb3">
    <table>
      <thead>
        <tr>
          <th>Status</th>
          <th>Name</th>
          <th>Started on</th>
          <th class="text-right">Amount</th>
          <th class="text-right">Total donated</th>
        </tr>
      </thead>
      <tbody>
        <% @recurring_donations.each do |recurring_donation| %>
          <tr>
            <td style="width: 1%"><span class="ml0 mr1 badge bg-success"><%= recurring_donation.stripe_status.humanize %></span></td>
            <td class="line-height-3">
              <% if recurring_donation.is_a? RecurringDonation %>
                <%= recurring_donation.name(show_anonymous: organizer_signed_in?) %><br>
              <% else %>
                <%= recurring_donation.name %>
              <% end %>
              <% if organizer_signed_in? %>
                <%= mail_to recurring_donation.email, class: "muted h5" %>
              <% end %>
            </td>
            <td><%= format_date recurring_donation.created_at %></td>
            <td class="text-right">
              <strong><%= render_money recurring_donation.amount %></strong><span class="muted">/mo</span>
            </td>
            <td class="text-right">
              <%= render_money recurring_donation.total_donated %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<h2 class="heading mt3 pb1 w-full inline-flex justify-between" style="margin-bottom: 16px;">
  Past donations

    <div data-controller="menu" data-menu-placement-value="bottom-end">
      <button
        type="button"
        class="btn bg-info menu__toggle menu__toggle--arrowless overflow-visible z1"
        data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown"
        data-menu-target="toggle">
          <%= inline_icon "download", size: 16 %>
          Export
      </button>
      <div class="menu__content menu__content--2 h5" data-menu-target="content">
        <%= link_to "Export donations (CSV)", export_donations_path(event: @event, format: :csv), target: :_blank %>
        <%= link_to "Export donations (JSON)", export_donations_path(event: @event, format: :json), target: :_blank %>
        <%= link_to "Export donors (CSV)", export_donors_donations_path(event: @event, format: :csv), target: :_blank %>
      </div>
    </div>

</h2>

<div class="flex items-center gap-4 flex-col-reverse sm:flex-row mb2">
  <%= form_with(model: nil, local: true, method: :get, class: "flex-1 w-full sm:w-auto") do |form| %>
    <div class="input input-group max-w-none" tabindex="0">
      <%= inline_icon "search" %>
      <%= form.text_field :q, placeholder: "Type / to search...", data: { behavior: "search" }, value: params[:q] %>
      <% if params[:q] && params[:q] != "" %>
        <button data-behavior="clear" type="submit" class="pop muted w-7 h-7">
          <%= inline_icon "view-close", size: 24 %>
        </button>
      <% end %>
    </div>
  <% end %>
  <div>
    <%= link_to "Deposited", "?filter=deposited", class: "filterbar__item", "aria-selected": !["refunded"].include?(params[:filter]), role: "tab" %>
    <%= link_to "Refunded", "?filter=refunded", class: "filterbar__item", "aria-selected": params[:filter] == "refunded", role: "tab" %>
  </div>
</div>

<% if @donations.size > 0 %>
<article class="table-container">

  <table>
    <thead>
      <tr>
        <th>Status</th>
        <th>Date</th>
        <th>From</th>
        <th class="text-right">Amount</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @donations.each do |d| %>
        <tr>
          <td>
            <span class="ml0 badge bg-<%= d.state %>"><%= d.state_text %></span>
          </td>
          <td>
            <%= format_date d.created_at %>
          </td>
          <td class="flex items-center">
            <% if d.is_a? Donation %>
              <%= d.name(show_anonymous: organizer_signed_in?) %>
            <% else %>
              <%= d.name %>
            <% end %>
            <% if d.recurring? %>
              <div class="line-height-0 ml1 tooltipped tooltipped--n" aria-label="Monthly donor"><%= inline_icon "support-recurring", size: 24, class: "muted" %></div>
            <% end %>
            <% if d.in_person? %>
              <div class="line-height-0 ml1 tooltipped tooltipped--n" aria-label="In-person donor"><%= inline_icon "card", size: 24, class: "muted" %></div>
            <% end %>
            <% if d.anonymous? %>
              <div class="line-height-0 ml1 tooltipped tooltipped--n" aria-label="Anonymous donor"><%= inline_icon "private-fill", size: 24, class: "muted" %></div>
            <% end %>
          </td>
          <td style="text-align: right;">
            <%= render_money(d.amount) %>
          </td>
          <td>
            <%# the link below can be changed back to `d.local_hcb_code.hashid` after hcb_codes are converted into proper associations and are preloaded in the controller %>
            <%= link_to "Details", hcb_code_url(d.hcb_code) if organizer_signed_in? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</article>

<% else %>
  <%= blankslate "No donations yet" %>
<% end %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<%= javascript_include_tag "donation_qr_codes.js" %>

<section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="donation_settings">
  <%= modal_header("Settings", external_link: edit_event_path(@event, tab: "donations")) %>
  <%= async_frame_to edit_event_path(@event, tab: "donations", params: { frame: true }), lazy: true, as: :div do %>
    <strong>Loading...</strong>
  <% end %>
</section>
