<% title "Donations to #{@event.name.html_safe}" %>
<% page_md %>
<%= render "events/nav" %>

<h1 class="heading">
  <span class="flex items-center">
    Donations
    <%= badge_for @donations.count, class: "bg-muted" %>
  </span>

  <% if @event.donation_page_enabled %>
    <%= link_to start_donation_donations_path(@event), target: "_blank", class: "btn" do %>
      <%= inline_icon "external" %>
      Donate page
    <% end %>

    <div class="md-pl1">
      <action type="button" class="pop menu__toggle" data-behavior="menu_toggle" aria-expanded="false" tabindex="0">
        <%= inline_icon "share" %>
        <div class="menu__content" data-behavior="menu_content">
          <%= link_to qr_code_donations_path(@event.slug),
            data: { behavior: "modal_trigger", modal: "qr_code" } do %>
            QR code
          <% end %>
          <%= link_to start_donation_donations_url(@event),
            data: { behavior: "modal_trigger", modal: "embed_code" } do %>
            Embed code
          <% end %>
        </div>
      </action>
    </div>
  <% end %>
</h1>

<% if @event.donation_page_enabled %>
  <section class="modal" data-behavior="modal" role="dialog" id="qr_code">
    <%= modal_header "Donations QR code" %>
    <img alt="QR code" src="<%= qr_code_donations_path @event %>" />
  </section>

  <section class="modal" data-behavior="modal" role="dialog" id="embed_code">
    <%= modal_header "Donations embed" %>
    <p class="mt0">Paste this HTML code into your website to embed your donation page. Feel free to change the styling.</p>
    <pre><%= html_escape "<iframe src='#{start_donation_donations_url @event}' style='border:none;' name='donateFrame' scrolling='yes' frameborder='0' marginheight='0px' marginwidth='0px' height='512px' width='512px' allowfullscreen></iframe>".gsub("'", '"') %></pre>
    <h3 class="mb0">Preview</h3>
    <iframe src='<%= start_donation_donations_url @event %>' style='border:none;' name='donateFrame' scrolling='yes' frameborder='0' marginheight='0px' marginwidth='0px' height='256px' width='512px' allowfullscreen style="width: 100%; max-width: 100%; max-height: 40vh;"></iframe>
  </section>
<% else %>
  <p>You can start accepting donations once you enable it in your project's <%= link_to "settings", edit_event_path(@event, anchor: "donation-section") %>.</p>
<% end %>

<div class="statset mt3 mb2">
  <div class="stat stat--small">
    <span class="stat__label">Total</span>
    <span class="stat__value"><%= render_money_amount @stats[:deposited] %></span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">On the way</span>
    <span class="stat__value"><%= render_money_amount @stats[:in_transit] %></span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">Refunded</span>
    <span class="stat__value"><%= render_money_amount @stats[:refunded] %></span>
  </div>
</div>

<hr/>

<div style="text-align: center;">
  <%= link_to "All", "?filter=all", class: "filterbar__item", "aria-selected": !["deposited", "in_transit", "refunded"].include?(params[:filter]), role: "tab" %>
  <%= link_to "Deposited", "?filter=deposited", class: "filterbar__item", "aria-selected": params[:filter] == "deposited", role: "tab" %>
  <%= link_to "In Transit", "?filter=in_transit", class: "filterbar__item", "aria-selected": params[:filter] == "in_transit", role: "tab" %>
  <%= link_to "Refunded", "?filter=refunded", class: "filterbar__item", "aria-selected": params[:filter] == "refunded", role: "tab" %>
</div>

<article class="table-container">

  <table>
    <thead>
      <tr>
        <th>STATUS</th>
        <th>DATE</th>
        <th>FROM</th>
        <th style="text-align: right;">AMOUNT</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @donations.each do |d| %>
        <tr>
          <td>
            <span class="ml0 badge bg-<%= d.state %>"><%= d.state_text %></span>
          </td>
          <td>
            <%= format_date d.created_at %>
          </td>
          <td>
            <%= d.name if organizer_signed_in? %>
            <%= "(redacted)" unless organizer_signed_in? %>
          </td>
          <td style="text-align: right;">
            <%= render_money(d.amount) %>
          </td>
          <td>
            <%= link_to "Details", hcb_code_url(d.local_hcb_code.hashid) if organizer_signed_in? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</article>
