<% title "Donations to #{@event.name.html_safe}" %>
<% page_md %>
<%= render 'events/nav'%>

<h1 class="heading">
  <span class="flex items-center">
    Donations
    <%= badge_for @donations.size, class: 'bg-muted' %>
  </span>

  <% if @event.donation_page_enabled %>
    <%= link_to start_donation_donations_path(@event), target: '_blank', class: 'btn' do %>
      <%= inline_icon 'external' %>
      Donate page
    <% end %>

    <div class="md-pl1">
      <action type="button" class="pop menu__toggle" data-behavior="menu_toggle" aria-expanded="false" tabindex="0">
        <%= inline_icon 'share' %>
        <div class="menu__content" data-behavior="menu_content">
          <%= link_to qr_code_donations_path(@event.slug),
            data: { behavior: 'modal_trigger', modal: 'qr_code' } do %>
            QR code
          <% end %>
          <%= link_to start_donation_donations_url(@event),
            data: { behavior: 'modal_trigger', modal: 'embed_code' } do %>
            Embed code
          <% end %>
        </div>
      </action>
    </div>
  <% end %>
</h1>

<% if @event.donation_page_enabled %>
  <section class="modal" data-behavior="modal" role="dialog" id="qr_code">
    <%= modal_header 'Donations QR code' %>
    <img alt="QR code" src="<%= qr_code_donations_path @event %>" />
  </section>

  <section class="modal" data-behavior="modal" role="dialog" id="embed_code">
    <%= modal_header 'Donations embed' %>
    <p class="mt0">Paste this HTML code into your website to embed your donation page. Feel free to change the styling.</p>
    <pre><%= html_escape "<iframe src='#{start_donation_donations_url @event}' style='border:none;' name='donateFrame' scrolling='yes' frameborder='0' marginheight='0px' marginwidth='0px' height='512px' width='512px' allowfullscreen></iframe>".gsub("'", '"') %></pre>
    <h3 class="mb0">Preview</h3>
    <iframe src='<%= start_donation_donations_url @event %>' style='border:none;' name='donateFrame' scrolling='yes' frameborder='0' marginheight='0px' marginwidth='0px' height='256px' width='512px' allowfullscreen style="width: 100%; max-width: 100%; max-height: 40vh;"></iframe>
  </section>
<% else %>
  <p>You can start accepting donations once you enable it in your project's <%= link_to "settings", edit_event_path(@event, anchor: "donation-section") %>.</p>
<% end %>

<% if @donations.none? %>
  <%= blankslate 'No donations received yet.' %>
<% else %>
<article class="table-container">
<table>
  <thead>
    <tr>
      <th>STATUS</th>
      <th>DATE</th>
      <th>DONOR</th>
      <% if organizer_signed_in? %>
        <th>MESSAGE</th>
      <% end %>

      <th style="text-align: right;">AMOUNT</th>

      <% if organizer_signed_in? %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <div class="filterbar flex flex-wrap items-center width-100">
    <input
      type="search"
      data-behavior="filterbar_search"
      placeholder="Search…"
      aria-label="Filter donations"
      class="flex-auto md-mr2"
      style="width: auto; max-width: none;">
    <div data-behavior="filterbar" role="tablist" class="filterbar__filters flex mt1 lg-mt0">
      <%= filterbar_item 'All', :exists, true %>
      <%= filterbar_item 'Deposited', :deposited %>
      <%= filterbar_item 'In transit', :in_transit %>
    </div>
  </div>
  <% @donations.each do |d| %>
    <tr data-behavior="filterbar_row" data-filter="<%= d.filter_data.to_json %>">
      <td>
        <span class="ml0 badge bg-<%= d.status_color %>"><%= d.status_text %></span>
      </td>
      <td>
        <%= format_date d.created_at %>
        <% unless d.deposited? %>
          <span class="muted block">expected <%= format_date d.arrival_date %></span>
        <% end %>
      </td>

      <td>
        <% if organizer_signed_in? %>
          <%= d.name %>
          <span><%= " 💬#{d.comments.size}" if organizer_signed_in? && d.comments.size > 0 %></span>
          <%#= link_to d.email, "mailto:#{d.name} <#{d.email}>", class: 'muted h6 block' %>
        <% else %>
          <span class="muted">(redacted)</span>
        <% end %>
      </td>
      <% if organizer_signed_in? %>
        <td>
          <%= d.message.present? ? d.message : '–' %>
        </td>
      <% end %>
      <td style="text-align: right;">
                <%= render_money d.amount %>
      </td>
      <% if organizer_signed_in? %>
      <td>
        <%= link_to 'Details', donation_path(d) %>
      </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
</article>
<% end %>
