<% title "Donations to #{@event.name.html_safe}" %>
<%= render 'nav'%>

<h1>
  Donations
</h1>

<div class="table-container">
<table>
	<thead>
	  <tr>
	    <th>Donor</th>
	    <th>Date</th>
      <th>Status</th>
	    <th>Expected arrival</th>
	    <th>Amount</th>
	    <th>Message</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
  <div class="filterbar flex flex-wrap items-center width-100">
    <input
      type="search"
      data-behavior="filterbar_search"
      placeholder="Search…"
      aria-label="Filter invoices"
      class="flex-auto md-mr2"
      style="width: auto; max-width: none;">
    <div data-behavior="filterbar" role="tablist" class="filterbar__filters flex mt1 lg-mt0">
      <%= filterbar_item 'All', :exists, true %>
      <%= filterbar_item 'Deposited', :deposited %>
      <%= filterbar_item 'In transit', :in_transit %>
    </div>
  </div>
	<% @donations.each do |d| %>
	  <tr data-behavior="filterbar_row" data-filter="<%= d.filter_data.to_json %>">
	    <td><%= d.name %></td>
	    <td><%= format_date d.created_at %></td>
      <td><%= d.status_text %></td>
	    <td><%= format_date d.arrival_date %></td>
	    <td><%= render_money d.amount %></td>
	    <td><%= d.message.present? ? d.message : 'No message' %></td>
	    <td>
	      <a href="mailto:<%= d.email %>">Contact donor</a>
	    </td>
	  </tr>
	<% end %>
	</tbody>
</table>
</div>
