<% title "Donations to #{@event.name.html_safe}" %>
<%= render 'nav'%>

<h1 class="heading">
  Donations
  <% if @event.donation_page_enabled %>
    <%= link_to 'Open donation page',
      start_donation_donations_path(@event),
      class: 'btn' %>
    <%= link_to 'QR code',
      qr_code_donations_path(@event.slug),
      target: '_blank',
      class: 'btn bg-accent' %>
  <% end %>
</h1>

<article class="table-container">

<% if @event.donation_page_enabled %>
  <img src="<%= qr_code_donations_path @event %>" />
<% else %>
  <p>You can start accepting donations once you enable it in your project's <%= link_to "settings", edit_event_path(@event, anchor: "donation-section") %>.</p>
<% end %>
<table>
  <thead>
    <tr>
      <th>Donor</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Message</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <div class="filterbar flex flex-wrap items-center width-100">
    <input
      type="search"
      data-behavior="filterbar_search"
      placeholder="Search…"
      aria-label="Filter invoices"
      class="flex-auto md-mr2"
      style="width: auto; max-width: none;">
    <div data-behavior="filterbar" role="tablist" class="filterbar__filters flex mt1 lg-mt0">
      <%= filterbar_item 'All', :exists, true %>
      <%= filterbar_item 'Deposited', :deposited %>
      <%= filterbar_item 'In transit', :in_transit %>
    </div>
  </div>
  <% @donations.each do |d| %>
    <tr data-behavior="filterbar_row" data-filter="<%= d.filter_data.to_json %>">
      <td>
        <% if organizer_signed_in? %>
          <%= d.name %>
          <span class="muted h6 block">
          &lt;<%= link_to d.email, "mailto:#{d.name} <#{d.email}>", class: 'inline' %>&gt;
          </span>
        <% else %>
          <span class="muted">Sign in to view contact info</span>
        <% end %>
      </td>
      <td>
        <%= format_date d.created_at %>
        <% unless d.deposited? %>
          <span class="muted block">expected on <%= format_date d.arrival_date %></span>
        <% end %>
      </td>
      <td>
        <span class="mr1 tooltipped tooltipped--e" aria-label="<%= d.status_text %>">
          <%= status_badge d.status_color %>
        </span>
        <%= render_money d.amount %>
      </td>
      <td>
        <% if organizer_signed_in? %>
          <%= d.message.present? ? d.message : '–' %>
        <% else %>
          <span class="muted">Sign in to view</span>
        <% end %>
      </td>
      <td>
        <%= link_to 'Details', donation_path(d) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</article>
