<% title "#{@event.name} Settings" %>
<% page_sm %>
<%= render "nav", selected: :settings %>

<h1>Settings</h1>

<% admin_tool do %>
  <strong>Event slug history:</strong> <%= @event.slugs.pluck(:slug).join ", " %>
<% end %>

<%= render partial: "admin_viewer", locals: { record: @event } %>

<% admin_tool do %>
  <details>
    <summary>Audit log</summary>

    <%= turbo_frame_tag :audit_log, src: audit_log_event_path(@event), loading: :lazy do %>
      <p class="center muted mt3 h3">One moment...</p>
    <% end %>
  </details>
<% end %>

<h3 class="mb1 flex items-center">
  Account information
</h3>

<div class="card mb3">
  <section class="details">
    <p>
      <strong>Current plan</strong>
      <span><%= @event.plan_name.titleize %></span>
    </p>

    <% unless @event.demo_mode? %>
      <p>
        <strong>Fee on revenue</strong>
        <span><%= number_to_percentage(@event.sponsorship_fee_in_database * 100, significant: true, strip_insignificant_zeros: true) %></span>
      </p>
      <% if @event.high_school_hackathon? && @event.sponsorship_fee == 0 %>
        <p>
          <strong>
            <a
              href="https://changelog.hcb.hackclub.com/bank-now-provides-free-durian-241524">Fee waiver</a> expiration
          </strong>
          <span>December 31st, 2024</span>
        </p>
      <% end %>
    <% end %>
  </section>
</div>

<h3 class="mb1">Feature previews</h3>

<%= render partial: "features/preview", locals: {
      id: "transaction-tags",
      classes: ["feature-transaction-tags"],
      feature_flag: :transaction_tags_2022_07_29,
      name: "Transaction Tags",
      description: "Categorize and filter transactions using tags!",
      event: @event
    } %>

<% non_manager_count = @event.organizer_positions.where.not(role: :manager).count %>
<% non_manager_invite_count = @event.organizer_position_invites.pending.where.not(role: :manager).count %>

<%= render partial: "features/preview", locals: {
      id: "user-permissions",
      classes: ["feature-user-permissions"],
      feature_flag: :user_permissions_2024_03_09,
      name: "User Roles",
      description: content_tag(:span) do
        concat "Disallow certain users from performing critical financial actions! "
        concat link_to("Read more about user roles here.", roles_path)
      end,
      event: @event,
      disable_warning: non_manager_count > 0 || non_manager_invite_count > 0 ? "⚠️ You have #{non_manager_count} non-manager user#{"s" unless non_manager_count == 1} #{"and #{non_manager_invite_count} non-manager pending user invite#{"s" unless non_manager_invite_count == 1} " if non_manager_invite_count > 0}in your org ⚠️\n\nDisabling the user permissions feature will turn them into #{non_manager_count + non_manager_invite_count > 1 ? "managers" : "a manager"}. Are you sure you want to disable this feature?" : nil
    } %>

<%= render partial: "features/preview", locals: {
      id: "anonymous-donations",
      classes: ["feature-anonymous-donations"],
      feature_flag: :anonymous_donations_2024_01_29,
      name: "Anonymous Donations",
      description: "Allow donors to appear anonymously in Transparency Mode!",
      event: @event
    } %>

<%= render "form", event: @event %>
