<% title "#{@event.name} Settings" %>
<% page_sm %>
<%= render "nav", selected: :settings %>

<h1>Settings</h1>

<% admin_tools do %>
  <strong>Event slug history:</strong> <%= @event.slugs.pluck(:slug).join ", " %>
<% end %>

<%= render partial: "admin_viewer", locals: { record: @event } %>

<% if Flipper.enabled?(:incoming_ach_payments_2023_02_17, @event) %>
  <h3 class="mb1 flex items-center">
    Account information
    <% unless Flipper.enabled?(:incoming_ach_payments_2023_02_17) %>
      <div class="badge bg-info">Beta</div>
    <% end %>
  </h3>

  <div class="card mb3">
    <section class="details">
      <p>
        <strong>Account number</strong>
        <span><%= @event.account_number %></span>
      </p>
      <p>
        <strong>Routing number</strong>
        <span><%= @event.routing_number %></span>
      </p>
      <% unless @event.demo_mode? %>
        <p>
          <strong>Current plan</strong>
          <span><%= @event.plan_name.titleize %></span>
        </p>
        <p>
          <strong>Fee on revenue</strong>
          <span><%= number_to_percentage(@event.sponsorship_fee * 100, significant: true, strip_insignificant_zeros: true) %></span>
        </p>
        <% if @event.high_school_hackathon? && @event.sponsorship_fee == 0 %>
          <p>
            <strong>
              <a
                href="https://changelog.hcb.hackclub.com/bank-now-provides-free-durian-241524">Fee waiver</a> expiration
            </strong>
            <span>December 31st, 2024</span>
          </p>
        <% end %>
      <% end %>
      <% admin_tools "", "p" do %>
        <strong>ID</strong>
        <span><%= @event.increase_account_number&.increase_account_number_id %></span>
      <% end %>
    </section>
  </div>
<% end %>

<h3 class="mb1">Feature previews</h3>

<div class="card pb0 mb3" id="check-deposits">
  <div class="card__banner card__banner--top flex justify-between items-center feature-check-deposits <%= "b--info" if Flipper.enabled?(:check_deposits_2023_04_17, @event) %> ">
    <h3 class="h1 p2 my0 color-black">Check deposits</h3>
    <% if Flipper.enabled?(:check_deposits_2023_04_17) %>
      <%# Feature is enabled for all users, don't include a choice %>
      <div class="actions tooltipped tooltipped--w inline-block mt1" aria-label="This feature is now generally available!">
        <span class="btn bg-accent disabled">Shipped!</span>
      </div>
      <%# link_to "Shipped!", enable_feature_path(feature: :transfers_2022_04_21), method: :post, class: 'btn bg-accent' %>
    <% elsif Flipper.enabled?(:check_deposits_2023_04_17, @event) %>
      <%# Feature is enabled, let the user opt-out %>
      <%= link_to "Disable", disable_feature_event_path(feature: :check_deposits_2023_04_17), method: :post, class: "btn bg-accent" %>
    <% else %>
      <%# Feature is disabled, let the user opt-in %>
      <%= link_to "Enable", enable_feature_event_path(feature: :check_deposits_2023_04_17), method: :post, class: "btn bg-info" %>
    <% end %>
  </div>
  <p>
    Deposit checks right from your dashboard.
  </p>
</div>

<div class="card pb0 mb3" id="transaction-tags">
  <div class="card__banner card__banner--top flex justify-between items-center feature-transaction-tags <%= "b--info" if Flipper.enabled?(:transaction_tags_2022_07_29, @event) %> ">
    <h3 class="h1 p2 my0 color-black">Transaction Tags</h3>
    <% if Flipper.enabled?(:transaction_tags_2022_07_29) %>
      <%# Feature is enabled for all users, don't include a choice %>
      <div class="actions tooltipped tooltipped--w inline-block mt1" aria-label="This feature is now generally available!">
        <span class="btn bg-accent disabled">Shipped!</span>
      </div>
      <%# link_to "Shipped!", enable_feature_path(feature: :transfers_2022_04_21), method: :post, class: 'btn bg-accent' %>
    <% elsif Flipper.enabled?(:transaction_tags_2022_07_29, @event) %>
      <%# Feature is enabled, let the user opt-out %>
      <%= link_to "Disable", disable_feature_event_path(feature: :transaction_tags_2022_07_29), method: :post, class: "btn bg-accent" %>
    <% else %>
      <%# Feature is disabled, let the user opt-in %>
      <%= link_to "Enable", enable_feature_event_path(feature: :transaction_tags_2022_07_29), method: :post, class: "btn bg-info" %>
    <% end %>
  </div>
  <p>
    Categorize and filter transactions using tags!
  </p>
</div>

<%= render "form", event: @event %>
