<% title "Google Workspace for #{@event.name}" %>
<% page_md %>
<%= render "nav", selected: :google_workspace %>
<% if !@event.g_suites.exists? && !Flipper.enabled?(:google_workspace, @event) %>
  <div class="card center container--sm mx-auto mt5">
    <img src="https://cloud-6mntkouo5-hack-club-bot.vercel.app/0screenshot_2024-06-25_at_9.11.41___am.png" alt="A hackathon organizer's Gmail account." class="w-80">
    <h2 class="mt2 pb1">Join the Google Workspace waitlist</h2>
    <p>
      We're excited to offer Google Workspace to organizations running on HCB. Due to limited space, we're currently operating a waitlist.
    </p>
    <%= link_to (@waitlist_form_submitted ? "You're on the waitlist!" : "Join the waitlist"),
    (@waitlist_form_submitted ? "#" : fillout_form("52bVNmqdeQus", { "OrgName" => @event.name, "OrgURL" => event_url(@event), "UserEmail" => current_user.email, "OrgID" => @event.id, "OrgBal" => @event.balance_available_v2_cents / 100 })),
    class: "btn mr1 #{'disabled' if @waitlist_form_submitted || !policy(@event).g_suite_create?}",
    tooltip: (@waitlist_form_submitted ? "You're already on the waitlist." : !policy(@event).g_suite_create? ? "Only managers can sign up for this." : "Join the waitlist.") %>
  </div>
<% else %>
  <h1 class="heading">
    <span class="flex-auto pr2">
      Google Workspace
    </span>
    <% if @g_suite %>
      <% admin_tool("mr1 p1 badge", "span") do %>
        <%= link_to "Process", google_workspace_process_admin_path(@g_suite) %>
      <% end %>
    <% end %>
    <%= content_tag :span, @g_suite.domain, class: "badge info h3 ml0" if @g_suite %>
  </h1>
  <%= render partial: "admin_viewer", locals: { record: @g_suite } %>
  <% if @g_suite.present? %>
    <% if @g_suite.revocation.present? %>
      <%= render "g_suite_revocations/notice" %>
    <% end %>
    <% if @g_suite.verification_error? && @g_suite.previously_verified? && !(@g_suite.revocation.present? && @g_suite.revocation.revoked?) %>
      <%= render "callout", type: "error", title: "We've detected that you're missing some DNS records required by Google Workspace." do %>
        You can still access, configure, and manage accounts, but you may be unable to send or receive emails until after you've fixed <%= @g_suite.domain %>'s DNS records.
      <% end %>
    <% end %>
    <% if !@g_suite.revocation&.revoked? %>
      <%= render "g_suites/panel" %>
    <% end %>
  <% else %>
    <%= render "g_suites/form" %>
  <% end %>
<% end %>
