<% title "Google Workspace for #{@event.name}" %>
<% page_md %>
<%= render "nav", selected: :google_workspace %>
<% if !@event.g_suites.exists? && !Flipper.enabled?(:google_workspace, @event) %>
  <div class="card center container--sm mx-auto mt5">
    <img src="https://cloud-6mntkouo5-hack-club-bot.vercel.app/0screenshot_2024-06-25_at_9.11.41___am.png" alt="A hackathon organizer's Gmail account." class="w-80">
    <h2 class="mt2 pb1">Join the Google Workspace waitlist</h2>
    <p>
      We're excited to offer Google Workspace to organizations running on HCB. Due to limited space, we're currently operating a waitlist.
    </p>
    <%= link_to (@waitlist_form_submitted ? "You're on the waitlist!" : "Join the waitlist"),
    (@waitlist_form_submitted ? "#" : fillout_form("52bVNmqdeQus", { "OrgName" => @event.name, "OrgURL" => event_url(@event), "UserEmail" => current_user.email, "OrgID" => @event.id, "OrgBal" => @event.balance_available_v2_cents / 100 })),
    class: "btn mr1 #{'disabled' if @waitlist_form_submitted || !policy(@event).g_suite_create?}",
    tooltip: (@waitlist_form_submitted ? "You're already on the waitlist." : !policy(@event).g_suite_create? ? "Only managers can sign up for this." : "Join the waitlist.") %>
  </div>
<% else %>
  <h1 class="heading">
    <span class="flex-auto pr2">
      Google Workspace
    </span>
    <% if @g_suite %>
      <% admin_tool("mr1 p1 badge", "span") do %>
        <%= link_to "Process", google_workspace_process_admin_path(@g_suite) %>
      <% end %>
    <% end %>
    <%= content_tag :span, @g_suite.domain, class: "badge info h3 ml0" if @g_suite %>
  </h1>
  <%= render partial: "admin_viewer", locals: { record: @g_suite } %>
  <% if @g_suite.present? %>
    <% if @g_suite.verification_error? && @g_suite.previously_verified? %>
      <%= render "callout", type: "error", title: "We've detected that you're missing some DNS records required by Google Workspace." do %>
        You can still access, configure, and manage accounts, but you may be unable to send or receive emails until after you've fixed <%= @g_suite.domain %>'s DNS records.
      <% end %>
    <% end %>
    <% if @g_suite.verified? %>
      <article class="card mb3">
        <%= render "g_suite_accounts/panel" %>
      </article>
    <% end %>
    <% if @g_suite.creating? %>
      <section class="card center mt3 mb3 bg-pending pt3">
        <%= inline_icon "email", size: 32 %>
        <h3 class="mt0 mb0">We’re compiling next steps for <%= @g_suite.domain %>.</h3>
        <p class="mt0">We’ll email you as soon as it’s ready.</p>
      </section>
    <% end %>
    <% unless @g_suite.creating? %>
      <% unless @g_suite.verified? || @g_suite.previously_verified? %>
        <section class="card center mt3 mb3 bg-success white pt3">
          <%= inline_icon "rep", size: 32 %>
          <h3 class="mt0 mb0">Your registration was approved!</h3>
          <p class="mt0">It’s time to set up your servers.</p>
        </section>
      <% end %>
      <details <%= @g_suite.verified? ? nil : "open" %> class="my-4">
        <summary>
          <h2 class="inline-block pb0 border-none mt0">Setup instructions</h2>
        </summary>
        <article class="card overflow-visible md-pl3 mt-2">
          <style>
              table {
                  max-width: 100%;
                  display: block;
                  overflow-x: auto;
                  white-space: nowrap;
              }
          </style>
          <ol class="steps">
            <li>Sign in to your account at your domain host (ex. GoDaddy, Namecheap, Google Domains).</li>
            <li>
              Go to the settings section where you can update your domain’s DNS and MX records.
              <p class="secondary mt1 mb0">It might be called something like "Manage DNS," "Email Settings," or "Advanced Settings."</p>
            </li>
            <% unless @g_suite.verification_error? || @g_suite.previously_verified? %>
              <li>
                Delete any existing MX records.<br>
                <p class="secondary mt1 mb0">If you can’t delete the existing records, change their priority number to 20 or higher.</p>
              </li>
            <% end %>
            <li>
              <% if @g_suite.verification_error? %>
                Make sure your domain has the following records.
              <% else %>
                <strong>Add new DNS records</strong> for Google Workspace.
              <% end %>
              <p>If your domain host limits the number of MX records, just add the first 2 MX records in this table.</p>
              <table class="strikeable" summary="Server addresses for use in DNS records configured for Google Workspace">
                <thead>
                <tr class="bold">
                  <% if @g_suite.verification_error? %>
                    <th></th>
                  <% end %>
                  <th>Name/Host/Alias</th>
                  <th>TTL</th>
                  <th>Record Type</th>
                  <th>Priority</th>
                  <th>Value/Answer/Destination</th>
                </tr>
                </thead>
                <tbody>
                <tr class="shade-neutral <%= "muted strikethrough" if @results[:verification_key] %>">
                  <% if @g_suite.verification_error? %>
                    <td><input type="checkbox" disabled <%= "checked" if @results[:verification_key] %>></td>
                  <% end %>
                  <td>
                    <% if @g_suite.subdomain %>
                      <%= @g_suite.subdomain %>
                    <% else %>
                      @ <span class="muted">or leave blank</span>
                    <% end %>
                  </td>
                  <td>3600</td>
                  <td>TXT</td>
                  <td>1</td>
                  <td><%= organizer_signed_in? ? copy_to_clipboard("google-site-verification=#{@g_suite.verification_key}", tooltip_direction: "w") : "REDACTED – SIGN IN TO VIEW" %></td>
                </tr>
                <tr class="<%= "muted strikethrough" if @results[:spf] %>">
                  <% if @g_suite.verification_error? %>
                    <td><input type="checkbox" disabled <%= "checked" if @results[:spf] %>></td>
                  <% end %>
                  <td>
                    <% if @g_suite.subdomain %>
                      <%= @g_suite.subdomain %>
                    <% else %>
                      @ <span class="muted">or leave blank</span>
                    <% end %>
                  </td>
                  <td>3600</td>
                  <td>TXT</td>
                  <td>1</td>
                  <td><%= copy_to_clipboard("v=spf1 include:_spf.google.com ~all", tooltip_direction: "w") %></td>
                </tr>
                <% if @g_suite.dkim_key.present? %>
                  <tr class="shade-neutral <%= "muted strikethrough" if @results[:dkim] %>">
                    <% if @g_suite.verification_error? %>
                      <td><input type="checkbox" disabled <%= "checked" if @results[:dkim] %>></td>
                    <% end %>
                    <td>google._domainkey.<%= @g_suite.domain %></td>
                    <td>3600</td>
                    <td>TXT</td>
                    <td>1</td>
                    <td><%= copy_to_clipboard(@g_suite.dkim_key, tooltip_direction: "w") %></td>
                  </tr>
                  <tr class="<%= "muted strikethrough" if @results[:dmarc] %>">
                    <% if @g_suite.verification_error? %>
                      <td><input type="checkbox" disabled <%= "checked" if @results[:dmarc] %>></td>
                    <% end %>
                    <td>_DMARC.<%= @g_suite.domain %></td>
                    <td>3600</td>
                    <td>TXT</td>
                    <td>1</td>
                    <td><%= copy_to_clipboard("v=DMARC1; p=none; rua=mailto:dmarc_report@hackclub.com; ruf=mailto:dmarc_report@hackclub.com;fo=1", tooltip_direction: "w") %></td>
                  </tr>
                <% end %>
                <tr class="shade-neutral <%= "muted strikethrough" if @results[:mx_primary] %>">
                  <% if @g_suite.verification_error? %>
                    <td><input type="checkbox" disabled <%= "checked" if @results[:mx_primary] %>></td>
                  <% end %>
                  <td>
                    <% if @g_suite.subdomain %>
                      <%= @g_suite.subdomain %>
                    <% else %>
                      @ <span class="muted">or leave blank</span>
                    <% end %>
                  </td>
                  <td>3600</td>
                  <td>MX</td>
                  <td>1</td>
                  <td><%= copy_to_clipboard("ASPMX.L.GOOGLE.COM.", tooltip_direction: "w") %></td>
                </tr>
                <tr class="<%= "muted strikethrough" if @results[:mx_alt1] %>">
                  <% if @g_suite.verification_error? %>
                    <td><input type="checkbox" disabled <%= "checked" if @results[:mx_alt1] %>></td>
                  <% end %>
                  <td>
                    <% if @g_suite.subdomain %>
                      <%= @g_suite.subdomain %>
                    <% else %>
                      @ <span class="muted">or leave blank</span>
                    <% end %>
                  </td>
                  <td>3600</td>
                  <td>MX</td>
                  <td>5</td>
                  <td><%= copy_to_clipboard("ALT1.ASPMX.L.GOOGLE.COM.", tooltip_direction: "w") %></td>
                </tr>
                <tr class="shade-neutral <%= "muted strikethrough" if @results[:mx_alt2] %>">
                  <% if @g_suite.verification_error? %>
                    <td><input type="checkbox" disabled <%= "checked" if @results[:mx_alt2] %>></td>
                  <% end %>
                  <td>
                    <% if @g_suite.subdomain %>
                      <%= @g_suite.subdomain %>
                    <% else %>
                      @ <span class="muted">or leave blank</span>
                    <% end %>
                  </td>
                  <td>3600</td>
                  <td>MX</td>
                  <td>5</td>
                  <td><%= copy_to_clipboard("ALT2.ASPMX.L.GOOGLE.COM.", tooltip_direction: "w") %></td>
                </tr>
                <tr class="<%= "muted strikethrough" if @results[:mx_alt3] %>">
                  <% if @g_suite.verification_error? %>
                    <td><input type="checkbox" disabled <%= "checked" if @results[:mx_alt3] %>></td>
                  <% end %>
                  <td>
                    <% if @g_suite.subdomain %>
                      <%= @g_suite.subdomain %>
                    <% else %>
                      @ <span class="muted">or leave blank</span>
                    <% end %>
                  </td>
                  <td>3600</td>
                  <td>MX</td>
                  <td>10</td>
                  <td><%= copy_to_clipboard("ALT3.ASPMX.L.GOOGLE.COM.", tooltip_direction: "w") %></td>
                </tr>
                <tr class="shade-neutral <%= "muted strikethrough" if @results[:mx_alt4] %>">
                  <% if @g_suite.verification_error? %>
                    <td><input type="checkbox" disabled <%= "checked" if @results[:mx_alt4] %>></td>
                  <% end %>
                  <td>
                    <% if @g_suite.subdomain %>
                      <%= @g_suite.subdomain %>
                    <% else %>
                      @ <span class="muted">or leave blank</span>
                    <% end %>
                  </td>
                  <td>3600</td>
                  <td>MX</td>
                  <td>10</td>
                  <td><%= copy_to_clipboard("ALT4.ASPMX.L.GOOGLE.COM.", tooltip_direction: "w") %></td>
                </tr>
                </tbody>
              </table>
              <p><strong>Note:</strong> Some domain hosts use different labels for the name and value fields, and some
                hosts also require a trailing period at the end of the server name.</p>
            </li>
            <li>
              <% if @g_suite.verification_error? %>
                <%= render "callout", type: "error", title: "There was an error verifying your domain." do %>
                  Please check above to see which records may be missing or incorrectly entered. <br>Click "Retry Verification" below once you've confirmed all DNS records are entered correctly.
                <% end %>
              <% end %>
              <% if @g_suite.configuring? || @g_suite.verification_error? %>
                <%= link_to @g_suite.verification_error? ? "Retry Verification" : "Verify", event_g_suite_verify_path(event_id: @event.slug), method: :put, class: "btn" %>
              <% end %>
              <% if @g_suite.verifying? %>
                <span class="h4 ml0 pending badge">Verifying…</span>
              <% end %>
              <% if @g_suite.verified? %>
              <span class="h4 ml0 badge success">
                <%= inline_icon "checkmark", size: 20, class: "mr1" %>
                Verified
              </span>
              <% end %>
              <% if @g_suite.verification_error? && @g_suite.previously_verified? %>
                <p class="secondary mt1 mb0">
                  Once your DNS records are reverified, you can typically resume
                  sending and receiving emails within 6 hours. However,
                  depending on your DNS provider, it may take up to 72 hours.
                  Unfortunately, we are unable to expedite this process.
                </p>
              <% else %>
                <p class="secondary mt1 mb0">
                  After your domain and DNS records are verified by Google, you
                  can begin to create your Google Workspace accounts.
                  Verification typically takes 6 hours, but it may take up to
                  72 hours depending on your DNS provider.
                </p>
              <% end %>
            </li>
          </ol>
        </article>
      </details>
      <% if !@g_suite.verified? && (@g_suite.previously_verified? || @g_suite.accounts.any?) %>
        <article class="card mb3">
          <%= render "g_suite_accounts/panel" %>
        </article>
      <% end %>
    <% end %>
  <% else %>
    <p>
      Your organization gets complimentary Google Workspace (formerly G Suite) through HCB! Google Workspace gives you
      Gmail, Google Drive, Calendar, and more, all for free, including custom email addresses like
      <strong>team@yourdomain.com</strong>.
    </p>
    <p>
      Don’t own a domain yet? If you’re a high school organization, HCB will purchase a custom domain for <strong><%= @event.name %></strong> and set up Google Workspace for you.
      Check out the <%= link_to "Domains promotion in the Perks tab", event_promotions_path %>
      to get started!
    </p>
    <p>
      If you <strong>already own</strong> a domain you would like to use, you can connect it to Google Workspace below.
    </p>
    <hr>
    <%= form_with(local: true, url: event_g_suite_create_path(@event), method: :post) do %>
      <%= hidden_field_tag :event_id, @event.id %>
      <%= hidden_field_tag :creator_id, current_user.id %>
      <div class="field">
        <%= label_tag :domain, "Your domain" %>
        <%= text_field_tag :domain, nil, placeholder: "yourdomain.com", 'data-behavior': "prevent_whitespace", required: true, disabled: !policy(@event).g_suite_create? %>
      </div>
      <div class="actions">
        <%= submit_tag "Configure", disabled: !policy(@event).g_suite_create? %>
      </div>
    <% end %>
  <% end %>
<% end %>
