<h1 class="heading">
  Events
  <%= link_to 'New Event', new_event_path, class: 'btn bg-success' %>
</h1>

<ul class="list">
  <% @events.each do |event| %>
    <%= link_to event do %>
      <li>
        <strong><%= event.name %></strong>
        <span class="muted"><%= render_percentage event.sponsorship_fee %> fee, <%= event.start %>–<%= event.end %></span>
      </li>
    <% end %>
  <% end %>
</ul>
