<% page_sm %>

<h1 class="heading">
  Events
  <%= link_to 'New Event', new_event_path, class: 'btn bg-success' %>
</h1>

<ul class="list">
  <% @events.each do |event| %>
    <%= link_to event do %>
      <li>
        <strong>#<%= event.id %> <%= event.name %></strong>
        <span class="muted">
          <%= event.start.to_date %> – <%= event.end.to_date %>,
          <%= render_percentage event.sponsorship_fee %> fee
          <% if current_user.admin? %>
            - <%= event.point_of_contact.name %>
          <% end %>
        </span>
      </li>
    <% end %>
  <% end %>
</ul>
