<% title "Donations to #{@event.name}" %>
<% page_md %>
<%= render "events/nav" %>

<h1 class="heading">
  <span class="flex items-center">
    Donations
    <%= badge_for @partner_donations.count, class: "bg-muted" %>
  </span>
</h1>

<div class="statset mt3 mb2">
  <div class="stat stat--small">
    <span class="stat__label">Total</span>
    <span class="stat__value"><%= render_money_amount @stats[:deposited] %></span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">On the way</span>
    <span class="stat__value"><%= render_money_amount @stats[:in_transit] %></span>
  </div>

  <div>
  <% if @partner_donations.any? %>
    <button
      type="button"
      <%= organizer_signed_in? ? "data-behavior=menu_toggle aria-expanded=false tabindex=0" : "disabled=disabled" %>
      class="btn bg-info menu__toggle overflow-visible right h5 z1" style="padding: 0.25rem 1rem;">
        <%= inline_icon "download", size: 16 %>
        Export
          <div class="menu__content h5" data-behavior="menu_content">
          <%= link_to "Export donations (CSV)", organizer_signed_in? ? export_partner_donations_path(event: @event, format: :csv) : root_path, target: :_blank %>
          <%= link_to "Export donations (JSON)", organizer_signed_in? ? export_partner_donations_path(event: @event, format: :json) : root_path, target: :_blank %>
          </div>
    </button>
  <% end %>
  </div>
</div>

<hr>

<div style="text-align: center;">
  <%= link_to "All", "?filter=all", class: "filterbar__item", "aria-selected": !["pending", "deposited", "in_transit", "refunded"].include?(params[:filter]), role: "tab" %>
  <%= link_to "Pending", "?filter=pending", class: "filterbar__item", "aria-selected": params[:filter] == "pending", role: "tab" %>
  <%= link_to "Deposited", "?filter=deposited", class: "filterbar__item", "aria-selected": params[:filter] == "deposited", role: "tab" %>
  <%= link_to "In Transit", "?filter=in_transit", class: "filterbar__item", "aria-selected": params[:filter] == "in_transit", role: "tab" %>
</div>

<article class="table-container">

  <table>
    <thead>
      <tr>
        <th>Status</th>
        <th>Date</th>
        <th class="text-right">Amount</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @partner_donations.each do |d| %>
        <tr>
          <td>
            <span class="ml0 badge bg-<%= d.state_color %>"><%= d.state_text %></span>
          </td>
          <td>
            <%= format_date d.created_at %>
          </td>
          <td style="text-align: right;">
            <%= render_money(d.amount) %>
          </td>
          <td>
            <%= link_to "Details", hcb_code_url(d.local_hcb_code.hashid) if organizer_signed_in? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</article>
