<% title "Perks for #{@event.name}" %>
<% page_md %>
<%= render "events/nav", selected: :promotions %>

<% @perks_available = organizer_signed_in? && !@event.demo_mode? %>

<h1>
  Promotions &amp; perks
</h1>

<% if (@event.hackathon? || @event.high_school_hackathon?) && (@event.country_US? || @event.country_CA?) || Flipper.enabled?(:hackathon_grant, @event) %>
  <div class="card pb0 mb3 promo-hackathon-grant" id="hackathon-grant" style="border: 2px solid #ec3750">
    <div class="card__banner card__banner--top flex justify-between items-center">
      <h3 class="h1 p2 my0 flex flex-col items-start smoke">
        <span class="badge bg-success m0 mb1">New!</span>
        💵 Hackathon Grant
      </h3>
      <%= link_to "Apply",
        @perks_available ? "https://hackclub.com/hackathons/grant/" : root_path,
        class: "btn mr1 #{'disabled' unless @perks_available} tooltipped tooltipped--w",
        "aria-label" => "Get notified when grant applications are open.",
        target: :_blank %>
    </div>

    <p>
      Hack Club is offering <strong>$500</strong> grants to in-person high school hackathons until December 31st, 2024. <strong>Applications are now open.</strong>
    </p>
  </div>
<% end %>

<% if @event.robotics_team? %>
  <div class="card pb0 mb3 promo-bin" id="bin">
    <div class="card__banner card__banner--top flex justify-between items-center">
      <h3 class="h1 p2 my0 flex flex-col items-start smoke">
        🗑️ The Bin: Electronics Starter Kits
      </h3>
      <%= link_to "Join",
        @perks_available ? "https://hackclub.com/bin/" : root_path,
        class: "btn bg-success mr1 #{'disabled' unless @perks_available} tooltipped tooltipped--w",
        target: :_blank %>
    </div>
    <p>
      Now that build season is over, get your club members learning electronics early for next year. The Bin is a free beginner hardware kit program ideal for FIRST teams!
    </p>
    <p>
      Rummage for parts, design your project in the online editor, and get the parts shipped to you for free paid for by donation. All FIRST club members in high school are eligible.
    </p>
  </div>

  <div class="card pb0 mb3 promo-onboard" id="bin">
    <div class="card__banner card__banner--top flex justify-between items-center">
      <h3 class="h1 p2 my0 flex items-start smoke justify-center">
        <img src="https://cloud-iuly89sfb-hack-club-bot.vercel.app/0surfin_orpheus.png" height="36px" class="mr2">
        OnBoard Grant for PCB Fabrication
      </h3>
      <%= link_to "Jump Onboard",
        @perks_available ? "https://hackclub.com/onboard/" : root_path,
        class: "btn bg-success mr1 #{'disabled' unless @perks_available} tooltipped tooltipped--w",
        target: :_blank %>
    </div>
    <p>
      Use the OnBoard grant to master PCB design with free  resources, community support, and manufacturing grants.
    </p>
    <p>
      Get up to $100 to cover the  costs of creating your custom circuit boards. Enhance your off-season R&D with hands-on experience and collaborate with fellow high schoolers in the Hack Club Slack community.
    </p>
  </div>
<% end %>

<div class="card mb3" id="1password">
  <div class="card__banner card__banner--top flex justify-between items-center promo-1password">
    <%= image_tag "1password.svg", width: 210, class: "p2" %>
    <%= link_to "Temporarily closed",
      @perks_available ? fillout_form("1EVMTc9d1Zus", { "Project Name" => @event.name, "Bank URL" => event_url(@event), "Your Name" => current_user.name, "Email" => current_user.email }, prefix: "prefill_") : root_path,
      class: "btn bg-success mr1 disabled",
      target: :_blank %>
  </div>

  <p class="mb0">
    <%= link_to "1Password", "https://1password.com" %> is providing $100 USD
    credit to all organizations on HCB that can be claimed once per
    organization. 1Password is a password manager that allows you to securely
    keep and share account logins and credentials with your teammates; we use it
    ourselves at Hack Club HQ!
  </p>
</div>

<div class="card pb0 mb3 <%= "muted" unless @event.country_US? && @perks_available %>" id="event-helper">
  <div class="card__banner card__banner--top flex justify-between items-center promo-event-helper">
    <%= image_tag "https://cloud-fz66hmje0-hack-club-bot.vercel.app/0theeventhelperbutbetter.png", width: 60 %>
    <%= link_to @perks_available ? (@event.country_US? ? "Purchase" : "Ineligible") : "Purchase",
      @perks_available ? fillout_form("hDJYyLd7qNus", { "Event Name" => @event.name, "Bank URL" => event_url(@event), "Submitter Name" => current_user.name, "Submitter Email" => current_user.email }, prefix: "prefill_") : root_path,
      class: "btn mr1 #{'disabled' unless @perks_available && @event.country_US?}",
      target: :_blank %>
  </div>

  <p>
    <%= link_to "The Event Helper", "https://www.theeventhelper.com/", target: :_blank %>
    is partnering with HCB to create a simplified way for your team to
    purchase event insurance. Just apply with your event details to receive a quote from the HCB team.
    All costs are directly from The Event Helper, we don't charge a fee on top.
  </p>

<h3 class="mb0 mt0">Approximate Insurance Estimates</h3>
  <p class="italic muted mt0 mb0">All costs are from The Event Helper directly—we don't charge you a fee on top. Estimates are for a two-day event.</p>
<table class="mb2">
    <tr>
      <td>100 people</td>
      <td>around $125</td>
    </tr>
    <tr>
      <td>250 people</td>
      <td>around $140</td>
    </tr>
    <tr>
      <td>500 people</td>
      <td>around $200</td>
    </tr>
    <tr>
      <td>1,000 people</td>
      <td>around $250</td>
    </tr>
  </table>

  <section class="card__banner card__darker secondary border-top">
  <p class="my0">
    The Event Helper can only provide policies for 🇺🇸 US events.
  </p>
  </section>
</div>

<div class="card pb0 mb3 <%= "muted" unless @event.country_US? && @perks_available %>" id="pvsa">
  <div class="card__banner card__banner--top flex justify-between items-center promo-pvsa">
    <%= image_tag "https://cloud-q7i8htyv7-hack-club-bot.vercel.app/0pvsa-logo-2x.png", width: 60 %>
    <%= link_to @perks_available ? (@event.country_US? ? "Purchase" : "Ineligible") : "Purchase",
      @perks_available ? fillout_form("dyHShKvTL1us", { "Event Name" => @event.name, "Bank URL" => event_url(@event), "Submitter Email" => current_user.email }, prefix: "prefill_") : root_path,
      class: "btn mr1 #{'disabled' unless @perks_available && @event.country_US?}",
      target: :_blank %>
  </div>

  <p>
    Since you run on HCB, you can issue <a href="https://presidentialserviceawards.gov" target="_blank">Presidential Volunteer Service Awards</a> to volunteers (including to yourself and team members).
    While applying you'll be asked to provide evidence for the submitted volunteer hours (instructions and examples are provided on the application form).
  </p>

  <p>
    While HCB is registered with PVSA as a certifying organization and will submit rewards on your behalf, the costs charged by PVSA for certificates and medals will come from your own budget.
    Certificates and medals are shipped to one address and you'll distribute them from there.
  </p>

  <h3 class="mb0 mt0">PVSA Cost Summary</h3>
  <p class="italic muted mt0 mb0">All costs are from PVSA directly—we don't charge you a fee on top.</p>
  <table class="mb2">
    <tr>
      <td>Certificate only</td>
      <td>$6.25</td>
    </tr>
    <tr>
      <td>Certificate + Pin</td>
      <td>$10.00</td>
    </tr>
    <tr>
      <td>Certificate + Coin</td>
      <td>$11.75</td>
    </tr>
    <tr>
      <td>Certificate + Medallion</td>
      <td>$12.25</td>
    </tr>
    <tr>
      <td>Shipping (per order)</td>
      <td>Varies (up to $23.00)</td>
    </tr>
  </table>

  <section class="card__banner card__darker secondary border-top">
  <p class="my0">
    Only 🇺🇸 US citizens and LPRs who currently reside within the US are eligible to recieve the award. You can see all the <a href="https://presidentialserviceawards.gov/eligibility#volunteers" target="_blank">volunteer eligibility details</a> if you have any questions.
  </p>
  </section>
</div>

<div class="card mb3" id="domains">
  <div
    class="card__banner card__banner--top flex justify-between items-center promo-domains">
    <h3 class="h1 p2 my0 color-black">Domains</h3>
      <% if !@event.g_suites.none? || !@perks_available %>
        <div class="actions tooltipped tooltipped--w inline-block mt1" aria-label="You do not have access to this perk.">
          <span class="btn bg-success disabled">Apply</span>
        </div>
      <% else %>
        <%= link_to "Apply",
          @perks_available ? fillout_form("pUUaNHEiT1us", { "hcbprojname" => @event.name, "hcburl" => event_url(@event), "name" => current_user.name, "email" => current_user.email }) : root_path,
          class: "btn bg-success mr1 #{"disabled" unless @perks_available}",
          target: :_blank %>
      <% end %>
  </div>

  <p class="mb0">
    Running a high school student-led hackathon, nonprofit, or club? HCB
    will purchase your domain for under $20 and cover the cost for the
    first year. After the first year, you'll be responsible for paying to
    renew. This can only be claimed once per organization.
    <% if Flipper.enabled?(:google_workspace, @event) %>
      You'll also have the option of setting
      up <%= link_to "Google Workspace", event_g_suite_overview_path %> once
      we've purchased your domain.
    <% end %>
  </p>
</div>

<div class="card mb3" id="stickerninja">
  <div
    class="card__banner card__banner--top flex justify-between items-center promo-stickerninja">
    <%= link_to image_tag("stickerninja.png", width: 120), "https://stickerninja.com/", target: :_blank %>
      <% if !@perks_available %>
        <div class="actions tooltipped tooltipped--w inline-block mt0" aria-label="You are not eligible to access this perk.">
          <span class="btn bg-success disabled">Ineligible</span>
        </div>
      <% else %>
        <div class="actions inline-block mt0 items-center">
          <%= copy_to_clipboard("hackclub15", class: "badge p2 h5", style: "border: 2px dashed #888; background-color: #17171d;") do %>
            hackclub15
          <% end %>
        </div>
      <% end %>
  </div>

  <p class="mb0">
    Want to give away stickers at your next event or rep your organization year round? We've got you covered. HCB has partnered with StickerNinja to offer fiscally sponsored organizations 15% off on all orders. Visit their website <%= link_to "here", "https://stickerninja.com/", target: :_blank %> to place an order.
    <% if @perks_available %>
      <br><br><strong>This discount code is reusable and exclusively for HCB users. Sharing it outside of your organization may result in everyone using HCB losing the perk.</strong>
    <% end %>
  </p>
</div>

<div class="card mb3 pb0" id="stickers">
  <div class="card__banner card__banner--top flex justify-between items-center promo-stickers">
      <span class="flex flex-row items-center">
        <h3 class="h1 white p2 my0 card-title z1">
          <%= content_tag(:span, "HCB") %>
          Stickers
        </h3>
      </span>
    <%= link_to "Request",
      @perks_available ? fillout_form("umhwJ5s1fNus", { "Recipient Name" => current_user.name, "Login Email" => current_user.email, "Organization" => @event.name }, prefix: "prefill_") : root_path,
      class: "btn bg-success mr1 #{'disabled' unless @perks_available}",
      target: :_blank %>
  </div>

  <div class="mb0">
    <p><strong>Want some HCB stickers?</strong> You can request an envelope full of them for yourself or your teammates! Every shipment request is manually sent out by the HCB team, and every envelope is personally prepared, packed, and mailed, with the address handwritten.</p>
    <p><em><strong>With great power comes great responsibility...</strong></em></p>
    <p>Please enjoy responsibly. HCB operates at a loss that donors pay for, and stickers are not cheap—every package costs real donor money.</p>
  </div>

  <section class="card__banner card__darker secondary border-top">
  <p class="my0">
    📦 If you need a full box of stickers for an event, please email the HCB team at <%= help_email %> with your attendance count and address. We’d be happy to check out your request.
  </p>
  </section>
</div>

<div class="card mb3" id="sendy">
  <div class="card__banner card__banner--top flex justify-between items-center promo-sendy">
    <h3 class="h1 white p2 my0">Sendy</h3>
    <%= link_to "Temporarily closed",
      @perks_available ? fillout_form("4cJ69MSzKhus", { "Project Name" => @event.name, "Bank URL" => event_url(@event), "Your name" => current_user.name, "Login email" => current_user.email, "Domain URL" => @event.g_suites.first&.domain }, prefix: "prefill_") : root_path,
      class: "btn bg-success mr1 disabled",
      target: :_blank %>
  </div>

  <p class="mb0">
    <%= link_to "Sendy", "https://sendy.co" %> is straightforward, reliable mass-emailing software for sending newsletters. We use it at Hack Club HQ & provide it to all HCB organizations.
  </p>
</div>

<details class="w-100 left-align">
  <summary><h3 class="inline-block pb0 border-none">Expired promotions</h3></summary>
  <div class="card mb3" id="wallets">
    <div class="card__banner card__banner--top flex justify-between items-center promo-wallets">
      <h3 class="h1 p2 my0 color-black">Wallets</h3>
      <%= link_to @wallets_available ? "Request" : "Expired",
                  @perks_available && @wallets_available ? "https://hack.af/hcb-wallets?prefill_Organization%20Name=#{@event.name}&prefill_Recipient%20Name=#{current_user.name}&prefill_Login%20Email=#{current_user.email}" : root_path,
                  class: "btn bg-success mr1 #{'disabled' unless @perks_available && @wallets_available}",
                  target: :_blank, disabled: !(@perks_available && @wallets_available) %>
    </div>

    <p class="mb0">
      The days of needing thick leather wallets are coming to an end. Have physical HCB cards, but not sure how
      to keep them?
      We'll ship you a <a href="https://hack.af/minimalist-wallet" target="_blank">minimalist wallet</a>—durable with a
      slim form factor designed to carry the basic necessities. Each wallet is individually printed and personally shipped
      out by the HCB team.
    </p>
  </div>
  <div class="card mb3" id="stickermule">
    <div class="card__banner card__banner--top flex justify-between items-center" style="background-color:#4E2817">
      <%= image_tag "stickermule.svg", width: 240 %>
      <%= link_to "Expired",
                  @perks_available ? "https://hack.af/stickermule?prefill_Event%20Name=#{@event.name}&prefill_First%20Name=#{current_user.first_name}&prefill_Email=#{current_user.email}" : root_path,
                  class: "btn bg-success mr1 #{'disabled' unless @perks_available}",
                  target: :_blank,
                  disabled: true %>
    </div>

    <p class="muted">
      HCB is working with Sticker Mule to make up to $400 of Sticker Mule credits
      available to hackathons and clubs on HCB, growing with attendance for hackathons.
    </p>

    <div class="grid grid-spacious muted">
      <div class="mr1">
        <h3 class="mb0">Hack Clubs</h3>
        <table>
          <tr>
            <th>Tier</th>
            <th>Credit</th>
          </tr>
          <tr>
            <td>Base</td>
            <td>$20</td>
          </tr>
          <tr>
            <td>With logo on website*</td>
            <td>$200</td>
          </tr>
        </table>
      </div>
      <div>
        <h3 class="mb0">Hackathons</h3>
        <table>
          <tr>
            <th>Attendees</th>
            <th>Credit</th>
          </tr>
          <tr>
            <td>Base</td>
            <td>$50</td>
          </tr>
          <tr>
            <td>Over 100*</td>
            <td>$100</td>
          </tr>
          <tr>
            <td>Over 200*</td>
            <td>$200</td>
          </tr>
          <tr>
            <td>Over 400*</td>
            <td>$400</td>
          </tr>
        </table>
      </div>
    </div>

    <p class="muted">
      *To qualify for these tiers, add the <a href="https://www.stickermule.com/press" target="_blank">Sticker Mule logo</a> to your website
      that links back to <a href="https://www.stickermule.com" target="_blank">stickermule.com</a>,
      and to any other materials like hackathon T-shirts.
    </p>
  </div>

  <div class="card mb3" id="github">
    <div class="card__banner card__banner--top flex justify-between items-center" style="background-color:#eee">
      <%= image_tag "github.png", width: 170 %>
      <%= link_to "Expired",
        @perks_available ? "https://hack.af/grant?prefill_Event%20Name=#{@event.name}" : root_path,
        class: "btn bg-accent mr1 #{'disabled' unless @perks_available}",
        disabled: true %>
    </div>

    <p class="muted">
      GitHub is supporting high school hackathons on HCB with up to $500 in grants, growing with attendance.
    Be sure to include GitHub in your list of sponsors or sponsor logos for your event!
    </p>

    <h3 class="mb0 muted">High school hackathons</h3>
    <table class="muted">
      <tr>
        <th>Attendees</th>
        <th>Credit</th>
      </tr>
      <tr>
        <td>Up to 50</td>
        <td>$100</td>
      </tr>
      <tr>
        <td>Up to 200</td>
        <td>$250</td>
      </tr>
      <tr>
        <td>Above 200</td>
        <td>$500</td>
      </tr>
    </table>
  </div>

  <div class="card mb3 muted" id="replit">
    <div
      class="card__banner card__banner--top flex justify-between items-center"
      style="background-color: #0d101e; border: 1px solid #0068ad;">
      <%= image_tag "replit.png", width: 170 %>
      <%= link_to "Expired", "#", class: "btn bg-success mr1 disabled" %>
    </div>

    <p class="mb0">
      Replit is giving <strong>free Hacker Plans</strong> to organizers of all HCB projects,
      for 1 year. Replit is an amazing web IDE, where you can get basically any programming language
      running in your web browser in just a few seconds—regardless of what kind of computer you have.
      The Hacker plan, normally $84, gives you private projects, unlimited collaborators, & unlimited storage.
    </p>
  </div>

</details>
