<% title "Receive Checks" %>
<% page_md %>
<%= render 'events/nav' %>

<div style="padding-top: 2rem;">
  <div class="container container--md">
  <h1 class="mb0" style="border:none"><%= @document_title %></h1>
  <h3 class="mt0 mb2" style="color: gray; font-weight: 500;"><%= @document_subtitle %></h3>
  <%= image_tag @document_image, class: 'w-100' if @document_image %>
    <p>
    In order for your organization to deposit a check, your donor needs to make
    the check out to either "Hack Club" or "The Hack Foundation." <strong>Do not let the donor put "<%= @event.name %>"</strong> on the check—it will be rejected by our check processor.
    </p>

    <p>Once you know your donor is paying by check, please follow these steps:</p>

    <ol>
      <li>
        <strong>Notify your donor.</strong> Have them make the check out to "The Hack Foundation" or "Hack Club" with your organization in the memo section of the check.
      </li>
      <li>
        <strong>Mail the check.</strong> Make sure your donor mails the check to our mailing address.<br/>
        <blockquote>
          The Hack Foundation<br/>
          8605 Santa Monica Blvd #86294<br/>
          West Hollywood, CA 90069<br/>
        </blockquote>
      </li>
      <li>
        <strong>Notify the Bank team</strong> (<%= help_email %>). Let us know the name of the donor, donation amount, and the name of your organization.
      </li>
    </ol>
    <h4>Below is an example of a properly filled out check:</h4>
    <%= image_tag 'https://cloud-1j9yaxrga-hack-club-bot.vercel.app/00img_0601.jpg', width: '100%' %>

  </div>
</div>
