<% title "Receive Checks" %>
<% page_md %>
<%= render 'events/nav' %>

<div style="padding-top: 4rem;">
  <div class="container container--md">
  <h1 class="mb0" style="border:none"><%= @document_title %></h1>
  <h3 class="mt0 mb2" style="color: gray; font-weight: 500;"><%= @document_subtitle %></h3>
  <%= image_tag @document_image, class: 'w-100' if @document_image %>
  <p>
  In order for your organization to deposit a check, your donor needs to make
  the check out to either "Hack Club" or "The Hack Foundation." <strong>Do not let the donor put "<%= @event.name %>"</strong> on the check– it will be rejected by our check processor.
  </p>
  <%== MarkdownService.instance.renderer.render @document_content %>
  </div>
</div>
