<% title "Reimbursements for #{@event.name}" %>
<% page_md %>
<%= render "events/nav", selected: :reimbursements %>

<h1 class="heading flex gap-2 md:gap-4 text-3xl md:text-5xl border-0 md:border">
  <span class="flex-grow">Reimbursements</span>
  <%= pop_icon_to "download",
                  reimbursements_exports_path(@event, format: :csv),
                  class: "tooltipped tooltipped--s", "aria-label": "Download CSV export" %>
  <%= pop_icon_to "settings",
      edit_event_path(@event, tab: "reimbursements"),
      data: { turbo_frame: "_top", behavior: "modal_trigger", modal: "reimbursement_settings" },
      class: "tooltipped tooltipped--s", "aria-label": "Reimbursements settings" if organizer_signed_in?(as: :member) %>
  <% if @event.public_reimbursement_page_available? %>
    <%= pop_icon_to "external",
        reimbursement_start_reimbursement_report_url(@event),
        target: "_blank",
        class: "tooltipped tooltipped--s", "aria-label": "Public form" %>
  <% end %>
  <%= pop_icon_to "plus",
        "#",
        class: "tooltipped tooltipped--s success sm-hide md-hide lg-hide",
        "aria-label": "New report",
        data: { behavior: "modal_trigger", modal: "create_reimbursement_report" } %>
  <%= link_to "#", class: "btn bg-success xs-hide", data: { behavior: "modal_trigger", modal: "create_reimbursement_report" } do %>
      <%= inline_icon "plus" %> New
  <% end %>
</h1>

<%= render partial: "reimbursement/reports/create_form" %>

<div class="statset mt3 mb3 xs-hide">
  <div class="stat">
    <span class="stat__label">Total</span>
    <span class="stat__value" style="text-wrap: nowrap"><%= render_money_amount(@event.reimbursement_reports.to_calculate_total.sum(&:amount_cents)) %></span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">Reimbursed</span>
    <span class="stat__value"><%= render_money_amount(@event.reimbursement_reports.reimbursed.sum(&:amount_cents)) %></span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">Pending</span>
    <span class="stat__value"><%= render_money_amount(@event.reimbursement_reports.pending.reimbursed.sum(&:amount_cents)) %></span>
  </div>
</div>

<div class="flex items-center gap-6 sm:gap-4 flex-col-reverse sm:flex-row mb2">
  <%= form_with(model: nil, local: true, method: :get, class: "flex-1 w-full sm:w-auto") do |form| %>
    <div class="input input-group max-w-none" tabindex="0">
      <%= inline_icon "search" %>
      <%= form.text_field :q, placeholder: "Type / to search...", data: { behavior: "search" }, value: params[:q] %>
      <% if params[:q] && params[:q] != "" %>
        <button data-behavior="clear" type="submit" class="pop muted w-7 h-7">
          <%= inline_icon "view-close", size: 24 %>
        </button>
      <% end %>
    </div>
  <% end %>
  <div style="text-align: center;">
    <%= link_to "All", "?filter=all", class: "filterbar__item", "aria-selected": !["reimbursed", "pending", "rejected"].include?(params[:filter]), role: "tab" %>
    <%= link_to "Pending", "?filter=pending", class: "filterbar__item", "aria-selected": params[:filter] == "pending", role: "tab" %>
    <%= link_to "Reimbursed", "?filter=reimbursed", class: "filterbar__item", "aria-selected": params[:filter] == "reimbursed", role: "tab" %>
    <%= link_to "Rejected", "?filter=rejected", class: "filterbar__item", "aria-selected": params[:filter] == "rejected", role: "tab" %>
  </div>
</div>

<% if @reports.blank? %>
  <%= blankslate "No reports found!" %>
<% else %>
  <article class="table-container">
    <table>
      <thead>
      <tr>
        <th>Status</th>
        <th>Report</th>
        <th>From</th>
        <th class="right-align">Amount</th>
      </tr>
      </thead>
      <tbody>
        <% @reports.order(created_at: :desc).each do |report| %>
          <tr>
            <td>
              <% if report.status_description %>
                <span class="ml0 badge bg-<%= report.status_color %> tooltipped tooltipped--e tooltipped--xl" aria-label="<%= report.status_description %>">
                  <%= report.status_text %>
                </span>
              <% else %>
                <span class="ml0 badge bg-<%= report.status_color %>"><%= report.status_text %></span>
              <% end %>
            </td>
            <td style="max-width: 500px; overflow: hidden; text-overflow: ellipsis;">
              <%= link_to report.name, report %>
              <span class="muted">(<%= report.created_at.strftime("%m/%d/%Y") %>)</span>
            </td>
            <td>
               <%= user_mention report.user %>
            </td>
            <td class="right-align">
               <%= render_money report.amount_cents %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </article>

  <%= paginate @reports %>

  <p class="italic muted text-center">
    <%= page_entries_info @reports, entry_name: "reports" %>.
  </p>
<% end %>

<%= form_with(model: Reimbursement::Report, class: "display-none", method: :post, url: quick_expense_reimbursement_reports_path, data: { controller: "file-drop form", "file-drop-title-value": "Drop to start a report." }) do |form| %>
  <%= form.hidden_field :event_id, value: @event.id %>
  <%= form.label :file, "Choose file", class: "field--fileupload__label", data: {
        action: "
        dragover@window->file-drop#dragover
        drop@window->file-drop#drop
        dragenter@window->file-drop#dragenter
        dragleave@window->file-drop#dragleave
      "
      } %>
  <%= form.file_field :file,
      multiple: true,
      include_hidden: false,
      required: false,
      accept: "image/*,image/heic,.pdf",
      data: {
        "file-drop-target" => "fileInput",
        "action"           => "change->form#submit"
      } %>
  </div>
<% end %>

<section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="reimbursement_settings">
  <%= modal_header("Settings", external_link: edit_event_path(@event, tab: "reimbursements")) %>
  <%= turbo_frame_tag :reimbursements_settings, src: edit_event_path(@event, tab: "reimbursements", params: { frame: true }), loading: "lazy" do %>
    <strong>Loading...</strong>
  <% end %>
</section>
