<% content_for(:page_class) { 'bg-snow pt2' } %>
<% @home_size = 72 %>

<h1 class="heading center flex-column mt2">
  <span class="flex items-center">
    <% if admin_signed_in? %>
      <span
        class="badge bg-info ml0 mr2"
        onclick="alert(`Date: <%= @event.start.to_date %>–<%= @event.end.to_date %>
Address: <%= @event.address %>
Sponsorship fee: <%= render_percentage @event.sponsorship_fee %>`)">
        #<%= @event.id %>
      </span>
    <% end %>
    <span style="font-size: 3rem;">
      <%= @event.name %>
    </span>
    <%= pop_icon_to 'controls', edit_event_path(@event), class: 'ml2' %>
  </span>
</h1>

<div class="flex flex-wrap items-center justify-center mb3">
  <% @organizers.each do |position| %>
    <div class="tooltipped tooltipped--s mr1" aria-label="<%= position.user.full_name %>">
      <%= avatar_for position.user, 48 %>
    </div>
  <% end %>
  <%= pop_icon_to 'view-forward', event_team_path(@event) %>
</div>

<%= render 'nav', hide_name: true %>

<p class="muted mt3">
  Your point of contact is <%= user_mention @event.point_of_contact %>– please
  don’t hesitate to text/call at
  <%= @event.point_of_contact.pretty_phone_number %> or email at
  <%= mail_to @event.point_of_contact.email %>.
</p>

<section class="event-summary mt2 mb2 md-mt3 md-mb3">
  <div class="event-summary__panel bg-primary white">
    <h2 class="heading">
      Financials
    </h2>
    <div class="stat inline-block">
      <span class="stat__label">Account balance</span>
      <span class="stat__value"><%= render_money @event.balance, '' %></span>
    </div>
    <div class="stat stat--small inline-block ml2">
      <span class="stat__label">Pending fees</span>
      <span class="stat__value"><%= render_money @event.fee_balance, '' %></span>
    </div>
  </div>
  <a href="<%= event_cards_overview_path(@event) %>" class="event-summary__panel bg-accent white">
    <h2 class="heading">
      <span class="flex items-center">
        Debit Cards
        <%= badge_for @event.cards.count %>
      </span>
    </h2>
    <div class="stat">
      <span class="stat__label">Available balance</span>
      <span class="stat__value"><%= render_money @event.emburse_balance, '' %></span>
    </div>
  </a>
</section>

<h2 class="heading">
  Transactions
  <%= link_to 'Export CSV',
    transactions_path(event: @event),
    class: 'btn bg-info',
    target: :_blank %>
</h2>

<div class="filterbar flex flex-wrap items-center width-100">
  <input
    type="search"
    data-behavior="transactions_search"
    placeholder="Search…"
    aria-label="Filter transactions"
    class="flex-auto md-mr2"
    style="width: auto; max-width: none;">
  <div data-behavior="transactions_filter" role="tablist" class="filterbar__filters flex mt1 lg-mt0">
    <%= transactions_filter_item 'All', :exists, true %>
    <%= transactions_filter_item 'Incurring fees', :fee_applies %>
    <%= transactions_filter_item 'Fees', :fee_payment %>
    <%= transactions_filter_item 'Invoices', :for_invoice %>
    <%= transactions_filter_item 'Emburse', :emburse %>
    <%= transactions_filter_item 'Expensify', :expensify %>
  </div>
</div>

<% if @transactions.any? %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
        <th>More</th>
      </tr>
    </thead>
    <tbody data-behavior="transactions">
    <% @transactions.each do |t| %>
      <tr
        class="transaction--<%= t.amount.negative? ? 'negative' : 'positive' %>"
        data-behavior="transactions_item"
        data-filter="<%= t.filter_data.to_json %>">
        <td>
          <%= t.date %>
        </td>
        <td>
          <%= t.display_name %>
        </td>
        <td>
          <%= render_money t.amount %>
        </td>
        <td>
          <%= link_to 'Details', t %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <%= blankslate 'No transactions yet' %>
<% end %>
