<h1 class="heading center flex-column">
  <span class="flex flex-wrap items-center" style="font-size: 3rem;">
    <% if admin_signed_in? %>
      <span class="badge mr2">#<%= @event.id %></span>
    <% end %>
    <%= @event.name %>
  </span>
  <% if admin_signed_in? %>
    <div>
      <%= link_to 'Edit',
        edit_event_path(@event),
        class: 'btn bg-info' %>
      <%= link_to 'Delete',
        @event,
        method: :delete,
        data: { confirm: 'Are you sure?' },
        class: 'btn btn--destroy primary' %>
    </div>
  <% end %>
</h1>

<p class="muted mt3">
  Your point of contact is <%= @event.point_of_contact.name %>. Please don't
  hesitate to text / call at <%= @event.point_of_contact.pretty_phone_number
  %> or email at <%= mail_to @event.point_of_contact.email %>.
</p>

<section class="event-summary mt2 mb2 md-mt3 md-mb3">
  <div class="event-summary__panel bg-primary white">
    <h2 class="heading">
      Financials
    </h2>
    <div class="stat">
      <span class="stat__label">Account balance</span>
      <span class="stat__value"><%= render_money @event.balance, '' %></span>
    </div>
    <div class="stat stat--small">
      <span class="stat__label">Pending fees</span>
      <span class="stat__value"><%= render_money @event.fee_balance, '' %></span>
    </div>
  </div>
  <div class="event-summary__panel bg-accent white">
    <h2 class="heading">
      <span class="flex items-center">
        Debit Cards
        <%= badge_for @event.cards.count %>
      </span>
    </h2>
    <div class="stat">
      <span class="stat__label">Available balance</span>
      <span class="stat__value"><%= render_money @event.emburse_balance, '' %></span>
    </div>
    <%= link_to 'Manage Cards',
      event_cards_overview_path(event_id: @event.slug),
      class: "btn bg-white accent mt2" %>
  </div>
  <% @g_color = g_suite_summary_color(@g_suite_status) %>
  <div class="event-summary__panel white bg-<%= @g_color %>">
    <h2 class="heading mt0 mb0">G Suite</h2>
    <% @g_suite_text = 'Manage G Suite' %>
    <% case @g_suite_status
    when :start %>
      <p>Your event gets free G Suite through Bank! Apply to set it up.</p>
    <% when :under_review %>
      <p>Your application is under review. Check back soon!</p>
    <% when :app_accepted %>
      <p>Your application was accepted! It’s time to set up your servers.</p>
      <% @g_suite_text = 'Manage G Suite' %>
    <% when :app_rejected %>
      <p>Your application was rejected.</p>
    <% when :verify_setup %>
      <p>Time to verify your G Suite setup.</p>
      <% @g_suite_text = 'Verify G Suite' %>
    <% when :done %>
      <p>Your G Suite is set up!</p>
    <% end %>
    <%= link_to @g_suite_text,
      event_g_suite_overview_path(event_id: @event.slug),
      class: "btn bg-white #{@g_color} mt2" %>
  </div>
  <div class="event-summary__panel bg-warning white">
    <h2 class="heading">
      Event Details
    </h2>
    <p>
      <strong>Date:</strong> <%= @event.start.to_date %> – <%= @event.end.to_date %><br />
      <strong>Address:</strong> <br />
      <%= @event.address %><br />
      <strong>Sponsorship fee:</strong> <%= render_percentage @event.sponsorship_fee %>
    </p>
  </div>
  <div class="event-summary__panel pl0 pr0 pb0 pt2">
    <h2 class="heading" style="margin: 0;">
      <span class="flex items-center">
        Team Members
        <%= badge_for @event.organizer_positions.count %>
      </span>
      <%= link_to 'Invite More',
        new_event_organizer_position_invite_path(@event),
        class: 'btn bg-success' %>
    </h2>
    <ul class="list list--unlinked list--row mb0">
      <% if @event.organizer_positions.any? %>
        <% @event.organizer_positions.each do |position| %>
          <li class="<%= 'bg-snow' unless position.user == current_user %>">
            <p>
              <strong><%= position.user.full_name || 'Unnamed' %></strong>
              <br />
              <%= position.user.email %>
              <span class="muted">(added <span title="<%= position.created_at %>"><%= time_ago_in_words position.created_at %> ago</span>)</span>
            </p>
            <%= link_to 'Edit', edit_user_path(current_user.id), class: 'btn bg-info' if position.user == current_user %>
          </li>
        <% end %>
      <% else %>
        <%= blankslate 'No others on your team yet' %>
      <% end %>
    </ul>
  </div>
  <div class="event-summary__panel pl0 pr0 pb0 pt2">
    <h2 class="heading" style="margin: 0;">
      <span class="flex items-center">
        Sponsors
        <%= badge_for @event.sponsors.count %>
      </span>
      <%= link_to 'New Sponsor',
        new_sponsor_path(event_id: @event.id),
        class: 'btn bg-success' %>
    </h2>
    <% if @event.sponsors.any? %>
      <ul class="list">
        <% @event.sponsors.each do |s| %>
          <%= link_to s do %>
            <li class="transaction--<%= s.status %>">
              <strong><%= s.name %></strong>
              <span class="muted"><%= s.status_description %></span>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <%= blankslate 'No sponsors yet' %>
    <% end %>
  </div>
</section>

<% if @event.organizer_position_invites.pending.any? %>
  <h3 class="mb1">Pending Invitations</h3>
  <ul class="list list--unlinked mt0 mb0">
    <% @event.organizer_position_invites.pending.each do |invite| %>
      <li>
        <p>
          <strong><%= invite.email %></strong>
          <span class="muted">(added <span title="<%= invite.created_at %>"><%= time_ago_in_words invite.created_at %> ago</span>)</span>
        </p>
      </li>
    <% end %>
  </ul>
<% end %>

<h2 class="heading">
  Transactions
  <%= link_to 'Export CSV',
    transactions_path(event: @event),
    class: 'btn bg-info',
    target: :_blank %>
</h2>

<% if @event.transactions.any? %>
  <table class="mt2">
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>More</th>
  </tr>
  <% @event.transactions.each do |t| %>
    <tr class="transaction--<%= t.amount.negative? ? 'negative' : 'positive' %>">
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= t.name %>
      </td>
      <td>
        <%= render_money t.amount %>
      </td>
      <td>
        <%= link_to 'Details', t %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <%= blankslate 'No transactions yet' %>
<% end %>

<h3>
  Transactions Incurring Fees
  <span class="regular slate sans h3">(total outstanding fees: <%= render_money @event.fee_balance %>)</span>
</h3>

<% if @event.billed_transactions.any? %>
  <table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Fee</th>
    <th>More</th>
  </tr>
  <% @event.billed_transactions.each do |t| %>
    <tr class="transaction--positive">
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= t.name %>
      </td>
      <td>
        <%= render_money t.amount %>
      </td>
      <td>
        <% if t.fee_relationship.fee_applies %>
          <%= render_money t.fee_relationship.fee_amount %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td>
        <%= link_to 'Details', t %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <%= blankslate 'No transactions have incurred fees' %>
<% end %>

<h2 class="heading mb0">
  Documents
  <%= link_to 'New Document',
    new_document_path(event_id: @event.id),
    class: 'btn bg-success' if admin_signed_in? %>
</h2>

<% if @event.documents.any? %>
  <ul class="grid">
    <% @event.documents.each do |d| %>
      <%= link_to document_download_path(d) do %>
        <li class="card">
          <strong class="h3 block"><%= d.name %></strong>
          <%= user_mention d.user %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <%= blankslate 'No documents yet' %>
<% end %>

<p class="muted mt3">
  Looking for expense reimbursements?
  <%= mail_to 'zach@hackclub.com', 'Ask Zach' %> for an invitation to Expensify.
</p>
