<h1 class="heading">
  <%= @event.name %>
  <% if admin_signed_in? %>
    <%= link_to 'Edit', edit_event_path(@event), class: 'btn bg-info' %>
    <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn bg-white primary' %>
  <% end %>
</h1>

<section class="event-summary my2">
  <div class="event-summary__panel bg-accent white">
    <div class="stat">
      <span class="stat__label">Account balance</span>
      <span class="stat__value"><%= render_money @event.balance, '' %></span>
    </div>
    <div class="stat stat--small">
      <span class="stat__label">Fees to pay</span>
      <span class="stat__value"><%= render_money @event.fee_balance, '' %></span>
    </div>
  </div>
  <div class="event-summary__panel bg-smoke">
    <p>
      <strong>Date:</strong> <%= @event.start.to_date %> – <%= @event.end.to_date %><br />
      <strong>Address:</strong> <br />
      <%= @event.address %><br />
      <strong>Sponsorship fee:</strong> <%= render_percentage @event.sponsorship_fee %>
    </p>
  </div>
</section>

<h2 class="heading">
  Team Members
  <%= link_to 'Invite More', new_event_organizer_position_invite_path(@event), class: 'btn bg-success' %>
</h2>

<ul class="list list--unlinked mb0">
  <% @event.organizer_positions.each do |position| %>
    <li>
      <p>
        <strong><%= position.user.email %></strong>
        <span class="muted">(added <span title="<%= position.created_at %>"><%= time_ago_in_words position.created_at %> ago</span>)</span>
      </p>
    </li>
  <% end %>
</ul>

<% if @event.organizer_position_invites.pending.any? %>
  <h3 class="mb1">Pending invitations</h3>
  <ul class="list list--unlinked my0">
    <% @event.organizer_position_invites.pending.each do |invite| %>
      <li>
        <p>
          <strong><%= invite.email %></strong>
          <span class="muted">(added <span title="<%= invite.created_at %>"><%= time_ago_in_words invite.created_at %> ago</span>)</span>
        </p>
      </li>
    <% end %>
  </ul>
<% end %>

<h2 class="heading">
  Credit Cards
  <%= link_to 'Request Cards', new_card_request_path(event_id: @event.id), class: 'btn bg-success' %>
</h2>
<% if @event.cards.any? %>
  <ul class="list list--unlinked">
    <% @event.cards.each do |card| %>
      <%= link_to card do %>
        <li>
          <p>
            <strong><%= card.full_name %></strong>
            <span class="muted">(added <span title="<%= card.created_at %>"><%= time_ago_in_words card.created_at %> ago</span>)</span>
          </p>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <%= blankslate 'No cards yet' %>
<% end %>

<% if @event.card_requests.any? %>
  <h3 class="mb1">Card requests</h3>
  <ul class="list">
    <% @event.card_requests.each do |request| %>
      <%= link_to request do %>
        <li>
          <p>
            <strong><%= request.full_name %> – <%= request.status %></strong>
            <span class="muted">(added <span title="<%= request.created_at %>"><%= time_ago_in_words request.created_at %> ago</span>)</span>
          </p>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<h2 class="heading mb0">
  Transactions
  <%= link_to 'Export CSV', transactions_path(event: @event), class: 'btn bg-info', target: :_blank %>
</h2>

<% if @event.transactions.size.zero? %>
  <p>No transactions yet!</p>
<% else %>
  <table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Full Info</th>
  </tr>
  <% @event.transactions.each do |t| %>
    <tr class="transaction--<%= t.amount.negative? ? 'negative' : 'positive' %>">
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= t.name %>
      </td>
      <td>
        <%= render_money t.amount %>
      </td>
      <td>
        <%= link_to 'Click', t %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<h2 class="heading mb0">
  Sponsors
  <%= link_to 'New Sponsor', new_sponsor_path(event_id: @event.id), class: 'btn bg-success' %>
</h2>

<% unless @event.sponsors.size.zero? %>
  <ul class="list">
    <% @event.sponsors.each do |s| %>
      <%= link_to s do %>
        <li class="transaction--<%= s.status %>">
          <strong><%= s.name %></strong>
          <span class="muted"><%= s.status_description %></span>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<h2>Fiscal Sponsorship Fee Breakdown</h2>

<h3>Fee Payments <span class="regular slate h3">(total fees paid: <%= render_money @event.fee_paid %>)</span></h3>

<% if @event.fee_payments.any? %>
  <table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Full Info</th>
  </tr>
  <% @event.fee_payments.each do |t| %>
    <tr class="transaction--negative">
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= t.name %>
      </td>
      <td>
        <%= render_money t.amount %>
      </td>
      <td>
        <%= link_to 'Click', t %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <%= blankslate 'No payments yet' %>
<% end %>

<h3>Transactions Incurring Fees <span class="regular slate h3">(total outstanding fees: <%= render_money @event.fee_balance %>)</span></h3>

<% if @event.billed_transactions.size.zero? %>
  <p>No transactions yet!</p>
<% else %>
  <table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Fee Amount</th>
    <th>Full Info</th>
  </tr>
  <% @event.billed_transactions.each do |t| %>
    <tr class="transaction--positive">
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= t.name %>
      </td>
      <td>
        <%= render_money t.amount %>
      </td>
      <td>
        <% if t.fee_relationship.fee_applies %>
          <%= render_money t.fee_relationship.fee_amount %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td>
        <%= link_to 'Click', t %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<p>Looking for expense reimbursements? <%= mail_to 'zach@hackclub.com', 'Ask Zach' %> for an invitation to Expensify.</p>
