<% title @event.name %>
<% include_modals %>

<% if @event&.is_public %>
  <% content_for :head do %>
    <% img = "https://workshop-cards.hackclub.com/#{url_encode(@event.name)}.png?theme=light&fontSize=225px&caption=Transparent%2520Finances&brand=Bank" %>
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="<%= img %>"/>
    <meta name="twitter:image" content="<%= img %>">
    <meta property="og:site_name" content="Hack Club Bank" />
    <meta property="og:url" content="<%= event_path(@event) %>">
    <meta property="og:title" content="<%= @event.name %>">
    <meta name="twitter:title" content="<%= @event.name %>">
    <% description = "#{@event.name}'s finances have been made public on Hack Club Bank so you can see how their money is spent." %>
    <meta property="og:description" content="<%= description %>">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="description" content="<%= description %>">
  <% end %>
<% end %>

<%= render 'nav' %>

<h1 class="flex items-center">
  Financials
  <% if admin_signed_in? %>
    <% admin_tools('p0 badge', 'span') do %>
      <span class="m0 badge bg-muted">
      #<%= @event.id %>
      </span>
    <% end %>

    <% admin_tools('p0 badge', 'span') do %>
      <span class="m0 badge bg-muted">
        <%= @event.partner.slug.capitalize %>
      </span>
    <% end %>
  <% end %>
</h1>

<div class="flex flex-wrap items-center mb1 md-mb2">
  <% if @organizers.any? %>
    <%= pop_icon_to 'email',
      "mailto:#{@organizers.map(&:user).map(&:email).join(',')}",
      class: 'info mb1 mr2' if admin_signed_in? %>
    <% @organizers.each do |position| %>
      <div class="avatar-grow line-height-0 tooltipped tooltipped--s mb1 mr1" aria-label="<%= position.user.full_name %>">
        <%= avatar_for position.user, 36 %>
      </div>
    <% end %>
    <%= pop_icon_to 'member-add', event_team_path(@event), class: 'mb1' %>
  <% else %>
    <p class="slate bold h3 mr2">No organizers invited yet</p>
    <%= pop_icon_to 'member-add', event_team_path(@event) %>
  <% end %>
</div>

<% if organizer_signed_in? %>
  <p class="muted mt2">
    <strong>We’re standing by to help.</strong> <%= help_message %>
  </p>
<% end %>

<div class="statset">
  <div class="stat statset__wide">
    <span class="stat__label">Account balance</span>
    <span class="stat__value"><%= render_money_amount @event.balance_v2_cents %></span>
  </div>
  <%= async_frame_to event_dashboard_stats_path(@event), as: :div, class: 'grid grid--split', style: 'grid-column: span 2' do %>
    <action class="stat stat--small tooltipped tooltipped--s" aria-label="The amount that will be automatically deducted from your account balance">
      <span class="stat__label flex items-center">
        Pending fees
        <%= inline_icon 'external', size: 24, class: 'muted ml1', 'aria-label': 'Icon indicating click for more' %>
      </span>
      <span class="stat__value">—</span>
    </action>
  <% end %>
</div>

<h2 class="heading">
  Transactions

  <% if organizer_signed_in? && @event.canonical_transactions.exists? %>
    <button
      type="button"
      <%= organizer_signed_in? ? 'data-behavior=menu_toggle aria-expanded=false tabindex=0' : 'disabled=disabled' %>
      class="btn bg-info menu__toggle overflow-visible z1">
        <%= inline_icon 'download', size: 16 %>
        Export
        <% if organizer_signed_in? %>
          <div class="menu__content h5" data-behavior="menu_content">
            <%= link_to 'All transactions (CSV)', export_transactions_path(event: @event, format: :csv), target: :_blank %>
            <%= link_to 'All transactions (JSON)', export_transactions_path(event: @event, format: :json), target: :_blank %>
          </div>
        <% end %>
    </button>
  <% end %>
</h2>

<%= form_with(model: nil, local: true, method: :get) do |form| %>
  <div class="filterbar flex flex-row items-center width-100">

    <button
      type="button"
      data-behavior="menu_toggle" aria-expanded="false" tabindex="0"
      class="btn bg-info menu__toggle overflow-visible z1 mr1">
      <%= inline_icon 'filter', size: 16 %>
      <span class="sm-hide md-hide">Filter</span>
        <div class="menu__content h5" data-behavior="menu_content">
          <% @event.tags.each do |tag| %>
            <%= link_to tag.label, "?tag=#{tag.label}" %>
          <% end %>
        </div>
    </button>

    <%= form.text_field :q, placeholder: "Search", class: "flex-auto md-mr2", style: "width auto; max-width: none;", value: params[:q] %>
  </div>
<% end %>

<% if @pending_transactions.any? || @transactions.any? %>
  <div class="table-container">
    <%= turbo_frame_tag :ledger do %>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Date</th>
            <th>Description</th>
            <th class="right-align">Amount</th>
            <th></th>
          </tr>
        </thead>
        <tbody data-behavior="transactions">
          <%= render partial: "canonical_pending_transactions/canonical_pending_transaction", collection: @pending_transactions, as: :pt, locals: { event: @event } %>

          <%= render partial: "canonical_transactions/canonical_transaction", collection: @transactions, as: :ct, locals: { event: @event } %>
        </tbody>
      </table>
    <% end %>
  </div>
  <%= paginate @transactions %>
<% else %>
  <%= blankslate 'No transactions yet' %>
<% end %>
