<h1 class="heading">
  <%= @event.name %>
  <%= link_to 'Edit', edit_event_path(@event), class: 'btn bg-info' %>
</h1>

<p>
  <strong>Date:</strong> <%= @event.start.to_date %> - <%= @event.end.to_date %><br />
  <strong>Address:</strong> <br />
  <%= @event.address %><br />
  <strong>Sponsorship fee:</strong> <%= render_percentage @event.sponsorship_fee %>
</p>

<h2>Account Transactions</h2>

<p>Account Balance: <%= render_money @event.balance %></p>

<h3>Transactions</h3>

<% if @event.transactions.size.zero? %>
  <p>No transactions yet!</p>
<% else %>
  <table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Full Info</th>
  </tr>
  <% @event.transactions.each do |t| %>
    <tr class="transaction--<%= t.amount.negative? ? 'negative' : 'positive' %>">
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= t.name %>
      </td>
      <td>
        <%= render_money t.amount %>
      </td>
      <td>
        <%= link_to 'Click', t %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<h2 class="heading mb0">
  Sponsors
  <%= link_to 'New Sponsor', new_sponsor_path(event_id: @event.id), class: 'btn bg-success' %>
</h2>

<% unless @event.sponsors.size.zero? %>
  <ul class="list">
    <% @event.sponsors.each do |s| %>
      <%= link_to s do %>
        <li class="transaction--<%= s.status %>">
          <strong><%= s.name %></strong>
          <span class="muted"><%= s.status_description %></span>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<h2>Fiscal Sponsorship Fee Breakdown</h2>

<p>
  Total Owed: <%= render_money @event.fee_balance %><br/>
  Total Paid: <%= render_money @event.fee_paid %>
</p>

<h3>Fee Payments</h3>

<% if @event.fee_payments.size.zero? %>
  <p>No payments made yet!</p>
<% else %>
  <table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Full Info</th>
  </tr>
  <% @event.fee_payments.each do |t| %>
    <tr class="transaction--negative">
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= t.name %>
      </td>
      <td>
        <%= render_money t.amount %>
      </td>
      <td>
        <%= link_to 'Click', t %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<h3>Billed Transactions</h3>

<% if @event.billed_transactions.size.zero? %>
  <p>No transactions yet!</p>
<% else %>
  <table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Fee Amount</th>
    <th>Full Info</th>
  </tr>
  <% @event.billed_transactions.each do |t| %>
    <tr class="transaction--positive">
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= t.name %>
      </td>
      <td>
        <%= render_money t.amount %>
      </td>
      <td>
        <% if t.fee_relationship.fee_applies %>
          <%= render_money t.fee_relationship.fee_amount %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td>
        <%= link_to 'Click', t %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<p>Looking for expense reimbursements? <%= mail_to 'zach@hackclub.com', 'Ask Zach' %> for an invitation to Expensify.</p>
