<h1><%= @event.name %></h1>

<p>
  <strong>Date:</strong> <%= @event.start.to_date %> - <%= @event.end.to_date %><br />
  <strong>Address:</strong> <br />
  <%= @event.address %><br />
  <strong>Sponsorship fee:</strong> <%= render_percentage @event.sponsorship_fee %> <br />
  <strong>Edit:</strong> <%= link_to 'click here', edit_event_path(@event) %>
</p>

<h2>Account Transactions</h2>

<p>Account Balance: <%= render_money @event.balance %></p>

<h3>Transactions</h3>

<% if @event.transactions.size.zero? %>
  <p>No transactions yet!</p>
<% else %>
  <table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Full Info</th>
  </tr>
  <% @event.transactions.each do |t| %>
    <tr>
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= t.name %>
      </td>
      <td>
        <%= render_money t.amount %>
      </td>
      <td>
        <%= link_to 'Click', t %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<h2>Sponsors</h2>

<p><%= link_to 'New Sponsor', new_sponsor_path %></p>

<% unless @event.sponsors.size.zero? %>
  <table>
    <tr>
      <th>Created</th>
      <th>Name</th>
      <th>Contact Email</th>
      <th>Full Info</th>
    </tr>
    <% @event.sponsors.each do |s| %>
      <tr>
        <td><%= s.created_at.to_date %></td>
        <td><%= s.name %></td>
        <td><%= mail_to s.contact_email %></td>
        <td><%= link_to 'Click', s %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<h2>Fiscal Sponsorship Fee Breakdown</h2>

<p>
  Total Owed: <%= render_money @event.fee_balance %><br/>
  Total Paid: <%= render_money @event.fee_paid %>
</p>

<h3>Fee Payments</h3>

<% if @event.fee_payments.size.zero? %>
  <p>No payments made yet!</p>
<% else %>
  <table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Full Info</th>
  </tr>
  <% @event.fee_payments.each do |t| %>
    <tr>
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= t.name %>
      </td>
      <td>
        <%= render_money t.amount %>
      </td>
      <td>
        <%= link_to 'Click', t %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<h3>Billed Transactions</h3>

<% if @event.billed_transactions.size.zero? %>
  <p>No transactions yet!</p>
<% else %>
  <table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Fee Amount</th>
    <th>Full Info</th>
  </tr>
  <% @event.billed_transactions.each do |t| %>
    <tr>
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= t.name %>
      </td>
      <td>
        <%= render_money t.amount %>
      </td>
      <td>
        <% if t.fee_relationship.fee_applies %>
          <%= render_money t.fee_relationship.fee_amount %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td>
        <%= link_to 'Click', t %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>
