<% content_for(:page_class) { 'bg-snow pt2' } %>
<% @home_size = 72 %>

<h1 class="heading center flex-column mt2">
  <span class="flex items-center">
    <% if admin_signed_in? %>
      <span
        class="badge bg-info ml0 mr2"
        onclick="alert(`Date: <%= @event.start.to_date %>–<%= @event.end.to_date %>
Address: <%= @event.address %>
Sponsorship fee: <%= render_percentage @event.sponsorship_fee %>`)">
        #<%= @event.id %>
      </span>
    <% end %>
    <span style="font-size: 3rem;">
      <%= @event.name %>
    </span>
    <%= pop_icon_to 'controls', edit_event_path(@event), class: 'ml2' %>
  </span>
</h1>

<div class="flex flex-wrap items-center justify-center mb3">
  <% @event.organizer_positions.each do |position| %>
    <%= avatar_for position.user, 48, class: 'mr1' %>
  <% end %>
  <%= pop_icon_to 'view-forward', event_team_path(@event) %>
</div>

<%= render 'nav', hide_name: true %>

<p class="muted mt3">
  Your point of contact is <%= user_mention @event.point_of_contact %>– please
  don’t hesitate to text/call at
  <%= @event.point_of_contact.pretty_phone_number %> or email at
  <%= mail_to @event.point_of_contact.email %>.
</p>

<section class="event-summary mt2 mb2 md-mt3 md-mb3">
  <div class="event-summary__panel bg-primary white">
    <h2 class="heading">
      Financials
    </h2>
    <div class="stat inline-block">
      <span class="stat__label">Account balance</span>
      <span class="stat__value"><%= render_money @event.balance, '' %></span>
    </div>
    <div class="stat stat--small inline-block ml2">
      <span class="stat__label">Pending fees</span>
      <span class="stat__value"><%= render_money @event.fee_balance, '' %></span>
    </div>
  </div>
  <div class="event-summary__panel bg-accent white">
    <h2 class="heading">
      <span class="flex items-center">
        Debit Cards
        <%= badge_for @event.cards.count %>
      </span>
    </h2>
    <div class="stat">
      <span class="stat__label">Available balance</span>
      <span class="stat__value"><%= render_money @event.emburse_balance, '' %></span>
    </div>
  </div>
</section>

<h2 class="heading">
  Transactions
  <%= link_to 'Export CSV',
    transactions_path(event: @event),
    class: 'btn bg-info',
    target: :_blank %>
</h2>

<% if @event.transactions.any? %>
  <table class="mt2">
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>More</th>
  </tr>
  <% @event.transactions.each do |t| %>
    <tr class="transaction--<%= t.amount.negative? ? 'negative' : 'positive' %>">
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= t.name %>
      </td>
      <td>
        <%= render_money t.amount %>
      </td>
      <td>
        <%= link_to 'Details', t %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <%= blankslate 'No transactions yet' %>
<% end %>

<h3>
  Transactions Incurring Fees
  <span class="regular slate sans h3">(total outstanding fees: <%= render_money @event.fee_balance %>)</span>
</h3>

<% if @event.billed_transactions.any? %>
  <table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Fee</th>
    <th>More</th>
  </tr>
  <% @event.billed_transactions.each do |t| %>
    <tr class="transaction--positive">
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= t.name %>
      </td>
      <td>
        <%= render_money t.amount %>
      </td>
      <td>
        <% if t.fee_relationship.fee_applies %>
          <%= render_money t.fee_relationship.fee_amount %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td>
        <%= link_to 'Details', t %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <%= blankslate 'No transactions have incurred fees' %>
<% end %>
