<% title @event.name.html_safe %>
<% include_modals %>

<%= render 'nav' %>

<h1 class="flex items-center">
  Financials
  <% if admin_signed_in? %>
    <span class="badge bg-muted">
      #<%= @event.id %>
    </span>
  <% end %>
</h1>

<div class="flex flex-wrap items-center mb1 md-mb2">
  <% if @organizers.any? %>
    <%= pop_icon_to 'email',
      "mailto:#{@organizers.map(&:user).map(&:email).join(',')}",
      class: 'info mb1 mr2' if admin_signed_in? %>
    <% @organizers.each do |position| %>
      <div class="avatar-grow line-height-0 tooltipped tooltipped--s mb1 mr1" aria-label="<%= position.user.full_name %>">
        <%= avatar_for position.user, 36 %>
      </div>
    <% end %>
    <%= pop_icon_to 'member-add', event_team_path(@event), class: 'mb1' %>
  <% else %>
    <p class="slate bold h3 mr2">No organizers invited yet</p>
    <%= pop_icon_to 'member-add', event_team_path(@event) %>
  <% end %>
</div>

<% if organizer_signed_in? %>
  <p class="muted mt2">
    <strong>We’re standing by to help.</strong> <%= help_message %>
  </p>
<% end %>

<div class="statset">
  <div class="stat statset__wide">
    <span class="stat__label">Account balance</span>
    <% if using_transaction_engine_v2? %>
    <span class="stat__value"><%= render_money_amount @event.balance_v2_cents %></span>
    <% else %>
    <span class="stat__value"><%= render_money_amount @event.balance %></span>
    <% end %>
  </div>
  <%= async_frame_to event_dashboard_stats_path(@event), as: :div, class: 'grid grid--split', style: 'grid-column: span 2' do %>
    <action class="stat stat--small tooltipped tooltipped--s" aria-label="The amount that will be automatically deducted from your account balance">
      <span class="stat__label flex items-center">
        Pending fees
        <%= inline_icon 'external', size: 24, class: 'muted ml1', 'aria-label': 'Icon indicating click for more' %>
      </span>
      <span class="stat__value">—</span>
    </action>
    <action class="stat stat--small" area="deposits">
      <span class="stat__label flex items-center">
        Incoming deposits
        <%= inline_icon 'external', size: 24, class: 'muted ml1', 'aria-label': 'Icon indicating click for more' %>
      </span>
      <span class="stat__value">—</span>
    </action>
  <% end %>

  <% unless using_transaction_engine_v2? %>
    <% admin_tools do %>
    <div class="stat stat--small statset__wide">
      <span class="stat__label flex items-center">
        Emburse balance
      </span>
      <span class="stat__value"><%= render_money_amount @event.emburse_balance %></span>
    </div>
    <% end %>
  <% end %>
</div>

<% if @pending_transactions.any? %>
  <h2 class="heading">
    Transactions Pending
  </h2>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Date</th>
          <th>Description</th>
          <th class="right-align">Amount</th>
          <th></th>
        </tr>
      </thead>
      <tbody data-behavior="transactions">
        <%= render partial: 'transactions/event_list', collection: @pending_transactions, as: :t %>
      </tbody>
    </table>
  </div>
  <%= paginate @transactions %>
<% end %>

<h2 class="heading">
  Transactions

  <% unless using_transaction_engine_v2? %>
  <button
    type="button"
    <%= organizer_signed_in? ? 'data-behavior=menu_toggle aria-expanded=false tabindex=0' : 'disabled=disabled' %>
    class="btn bg-info menu__toggle overflow-visible tooltipped tooltipped--n"
    aria-label="Export currently only processes bank transactions—let the Bank team know if you want card transactions.">
      <%= inline_icon 'download', size: 16 %>
      Export
      <% if organizer_signed_in? %>
        <div class="menu__content h5" data-behavior="menu_content">
          <%= link_to 'CSV', export_transactions_path(event: @event, format: :csv), target: :_blank %>
          <%= link_to 'JSON', export_transactions_path(event: @event, format: :json), target: :_blank %>
        </div>
      <% end %>
  </button>
  <% end %>
</h2>

<!--
<div class="filterbar flex flex-wrap items-center width-100">
  <input
    type="search"
    data-behavior="filterbar_search"
    placeholder="Search…"
    aria-label="Filter transactions"
    class="flex-auto md-mr2"
    style="width: auto; max-width: none;">
  <div data-behavior="filterbar" role="tablist" class="filterbar__filters flex mt1 lg-mt0">
    <%= filterbar_item 'All', :exists, true %>
    <%= filterbar_item 'Revenue', :fee_applies %>
    <%= filterbar_item 'Fees', :fee_payment %>
    <%= filterbar_item 'Card', :card %>
  </div>
</div>
-->

<% if @transactions.any? %>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Date</th>
          <th>Description</th>
          <th class="right-align">Amount</th>
          <th></th>
        </tr>
      </thead>
      <tbody data-behavior="transactions">
        <%= render partial: 'transactions/event_list', collection: @transactions, as: :t %>
      </tbody>
    </table>
  </div>
  <%# filterbar_blankslate 'No transactions match this filter' %>
  <%= paginate @transactions %>
<% else %>
  <%= blankslate 'No transactions yet' %>
<% end %>
