<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>

<p>
  <strong>Date:</strong> <%= @event.start %> - <%= @event.end %><br />
  <strong>Address:</strong> <%= @event.address %><br />
  <strong>Sponsorship fee:</strong> <%= @event.sponsorship_fee %> <br />
  <strong>Edit:</strong> <%= link_to 'click here', edit_event_path(@event) %>
</p>

<h2>Money Breakdown</h2>

<p>
  <strong>Current balance:</strong> <%= render_money @event.balance %><br />
  <strong>Fee balance:</strong> <%= render_money @event.fee_balance %>
</p>

<h3>Transactions</h3>

<table>
<tr>
  <th>Date</th>
  <th>Description</th>
  <th>Amount</th>
  <th>Fee applies?</th>
  <th>Fee amount</th>
  <th>Full Info</th>
</tr>
<% @event.transactions.each do |t| %>
  <tr>
    <td>
      <%= t.date %>
    </td>
    <td>
      <%= t.name %>
    </td>
    <td>
      <%= render_money t.amount %>
    </td>
    <td>
      <%= t.fee_relationship.fee_applies %>
    </td>
    <td>
      <% if t.fee_relationship.fee_applies %>
        <%= render_money t.fee_relationship.fee_amount %>
      <% else %>
        N/A
      <% end %>
    </td>
    <td>
      <%= link_to 'Click', t %>
    </td>
  </tr>
<% end %>
</table>
