<% if organizer_signed_in? %>
  <%= turbo_stream_from @event, :transactions %>
  <%= turbo_stream_from @event, :tags %>
  <% turbo_refreshes_with method: :morph, scroll: :preserve %>
<% end %>

<% title @event.name %>
<% page_md %>
<%= render "nav", selected: :home %>

<% if @event&.is_public %>
  <% content_for :head do %>
    <% img = "https://hcb-og.hackclub.com/api/embeds/#{@event.slug}" %>
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="<%= img %>">
    <meta name="twitter:image" content="<%= img %>">
    <meta property="og:site_name" content="HCB">
    <meta property="og:url" content="<%= event_url(@event) %>">
    <meta property="og:title" content="<%= @event.name %>">
    <meta name="twitter:title" content="<%= @event.name %>">
    <% description = "#{@event.name}'s finances have been made public on HCB so you can see how their money is spent." %>
    <meta property="og:description" content="<%= description %>">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="description" content="<%= description %>">
  <% end %>
<% end %>

<h1 class="flex items-center">
  <span class="flex-grow">Home</span>
  <% admin_tool("p0 badge", "span") do %>
    <span class="m0 badge bg-muted">
      #<%= @event.id %>
    </span>
    <span class="m0 badge bg-muted ml1">
      SL<%= @event.service_level %>
    </span>
  <% end %>

  <% if @event.increase_account_id != IncreaseService::AccountIds::FS_MAIN %>
    <% admin_tool("p0 badge", "span") do %>
      <%= link_to "https://dashboard.increase.com/accounts/#{@event.increase_account_id}" do %>
        <span class="m0 badge bg-muted">
          <%= @event.increase_account_id %>
        </span>
      <% end %>
    <% end %>
  <% end %>
</h1>

<% if organizer_signed_in? && @event.demo_mode %>
  <div class="card border b--info pb0 mt3" style="text-wrap: pretty;" id="playground-callout" data-tour-step="playground_mode">
    <p class="mt0">
      <strong>Welcome to Playground Mode</strong>
      <br>
      While in Playground mode, explore the dashboard with mock data, and invite your team.
    </p>
  </div>
<% end %>

<% if organizer_signed_in? %>
  <div class="flex mb2 max-w-full overflow-auto whitespace-nowrap scrollbar-hidden">
    <%= link_to "#", class: "list-badge quick-action ml-0", data: { behavior: "modal_trigger", modal: "new_invoice" } do %>
      <%= inline_icon "briefcase", size: 16 %>
      Send an invoice
    <% end %>
    <%= link_to "#", class: "list-badge quick-action", data: { behavior: "modal_trigger", modal: "send_transfer" } do %>
      <%= inline_icon "payment-transfer", size: 16 %>
      Transfer money
    <% end %>
    <%= link_to "#", class: "list-badge quick-action", data: { behavior: "modal_trigger", modal: "create_reimbursement" } do %>
      <%= inline_icon "attachment", size: 16 %>
      Get reimbursed
    <% end %>
    <%= link_to event_check_deposits_path(@event), class: "list-badge quick-action" do %>
      <%= inline_icon "cheque", size: 16 %>
      Deposit a check
    <% end %>
  </div>
  <%= render "reimbursement/reports/create_form", modal_id: "create_reimbursement" %>
  <%= render "transfer_modal" %>
  <%= render "invoices/modal" %>
<% end %>

<%= render "events/public_message" %>

<div class="flex gap-4 flex-col sm:flex-row">
  <%= render partial: "events/home/balance", event: @event %>
  <%= render partial: "events/home/transactions", event: @event %>
</div>

<div class="flex gap-4 flex-col sm:flex-row my-4">
  <%= render partial: "events/home/money_movement", event: @event %>
</div>

<div class="flex gap-4 flex-col sm:flex-row my-4" style="max-width:100%">
  <%= render partial: "events/home/recent_activity", event: @event %>
  <div class="flex gap-4 flex-col sm:max-w-[50%]" style="flex: 1">
    <%= render partial: "events/home/team", event: @event %>
    <%= render partial: "events/home/number_stats", event: @event %>
  </div>
</div>

<div class="homepage-row mt-4">
  <%= turbo_frame_tag "top_merchants", class: "flex-1", src: event_top_merchants_path(@event), loading: "lazy" do %>
    <div class="card card--breakdown shadow-none p-0 min-h-96 text-center flex-1 flex flex-col items-center justify-center" style="flex: 1">
      Loading top merchants...
    </div>
  <% end %>
  <%= turbo_frame_tag "top_categories", class: "flex-1", src: event_top_categories_path(@event), loading: "lazy" do %>
    <div class="card card--breakdown shadow-none p-0 min-h-96 text-center flex-1 flex flex-col items-center justify-center" style="flex: 1">
      Loading top categories...
    </div>
  <% end %>
</div>

<%= turbo_frame_tag "tags_users", src: event_tags_users_path(@event), loading: "lazy" do %>
  <div class="homepage-row mt-4">
    <div class="card card--breakdown shadow-none p-0 min-h-96 text-center flex-1 flex flex-col items-center justify-center" style="flex: 1">
        Loading...
    </div>
    <div class="card card--breakdown shadow-none p-0 min-h-96 text-center flex-1 flex flex-col items-center justify-center" style="flex: 1">
        Loading...
    </div>
  </div>
<% end %>

<%= turbo_frame_tag "transaction_heatmap", src: event_transaction_heatmap_path(@event), loading: "lazy" do %>
  <div class="homepage-row mt-4">
    <div class="card card--breakdown shadow-none p-0 text-center flex-1 flex flex-col items-center justify-center" style="flex: 1;height:223px">
        Hang tight - this could take a while if you have a lot of transactions.
    </div>
  </div>
<% end %>
