<h1 class="heading">
  <%= @event.name %>
  <% if admin_signed_in? %>
    <%= link_to 'Edit', edit_event_path(@event), class: 'btn bg-info' %>
    <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn bg-white primary' %>
  <% end %>
</h1>

<section class="event-summary my2">
  <div class="event-summary__panel bg-accent white">
    <div class="stat">
      <span class="stat__label">Account balance</span>
      <span class="stat__value"><%= render_money @event.balance, '' %></span>
    </div>
    <div class="stat stat--small">
      <span class="stat__label">Fees to pay</span>
      <span class="stat__value"><%= render_money @event.fee_balance, '' %></span>
    </div>
  </div>
  <div class="event-summary__panel bg-snow">
    <h2 class="h3 my0">Info</h2>
    <p>
      <strong>Date:</strong> <%= @event.start.to_date %> – <%= @event.end.to_date %><br />
      <strong>Address:</strong> <br />
      <%= @event.address %><br />
      <strong>Sponsorship fee:</strong> <%= render_percentage @event.sponsorship_fee %>
    </p>
  </div>
  <% @g_color = g_suite_summary_color(@g_suite_status) %>
  <div class="event-summary__panel white bg-<%= @g_color %>">
    <h2 class="h3 my0">G Suite</h2>
    <% case @g_suite_status
    when :start %>
      <p>Your event gets free G Suite through Bank! Apply to set it up.</p>
      <%= link_to 'Get started', new_event_g_suite_application_path(event_id: @event.id), class: "btn bg-white #{@g_color} mt1" %>
    <% when :under_review %>
      <p>Your application is under review. Check back soon!</p>
    <% when :app_accepted %>
      <p>Your application was accepted! It’s time to set up your servers.</p>
      <%= link_to 'Set up G Suite', event_g_suite_status_path(event_id: @event.id), class: "btn bg-white #{@g_color} mt1" %>
    <% when :app_rejected %>
      <p>Your application was rejected.</p>
    <% when :verify_setup %>
      <p>Time to verify your G Suite setup.</p>
      <%= link_to 'Get instructions', event_g_suite_status_path(event_id: @event.id), class: "btn bg-white #{@g_color} mt1" %>
    <% when :done %>
      <p>Your G Suite is set up!</p>
      <%= link_to 'Manage G Suite', event_g_suite_status_path(event_id: @event.id), class: "btn bg-white #{@g_color} mt1" %>
    <% end %>
  </div>
</section>

<h2 class="heading">
  Team Members
  <%= link_to 'Invite More', new_event_organizer_position_invite_path(@event), class: 'btn bg-success' %>
</h2>

<ul class="list mb0">
  <% @event.organizer_positions.each do |position| %>
    <li style="background: white;">
      <p class="my0">
        <strong><%= position.user.email %></strong>
        <span class="muted">(added <span title="<%= position.created_at %>"><%= time_ago_in_words position.created_at %> ago</span>)</span>
      </p>
    </li>
  <% end %>
</ul>

<% if @event.organizer_position_invites.pending.any? %>
  <h3 class="mb1">Pending invitations</h3>
  <ul class="m0">
    <% @event.organizer_position_invites.pending.each do |invite| %>
      <li><%= invite.email %></li>
    <% end %>
  </ul>
<% end %>

<h2>Transactions</h2>

<% if @event.transactions.size.zero? %>
  <p>No transactions yet!</p>
<% else %>
  <table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Full Info</th>
  </tr>
  <% @event.transactions.each do |t| %>
    <tr class="transaction--<%= t.amount.negative? ? 'negative' : 'positive' %>">
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= t.name %>
      </td>
      <td>
        <%= render_money t.amount %>
      </td>
      <td>
        <%= link_to 'Click', t %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<h2 class="heading mb0">
  Sponsors
  <%= link_to 'New Sponsor', new_sponsor_path(event_id: @event.id), class: 'btn bg-success' %>
</h2>

<% unless @event.sponsors.size.zero? %>
  <ul class="list">
    <% @event.sponsors.each do |s| %>
      <%= link_to s do %>
        <li class="transaction--<%= s.status %>">
          <strong><%= s.name %></strong>
          <span class="muted"><%= s.status_description %></span>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<h2>Fiscal Sponsorship Fee Breakdown</h2>

<h3>Fee Payments <span class="regular slate h3">(total fees paid: <%= render_money @event.fee_paid %>)</span></h3>

<% if @event.fee_payments.size.zero? %>
  <p>No payments made yet!</p>
<% else %>
  <table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Full Info</th>
  </tr>
  <% @event.fee_payments.each do |t| %>
    <tr class="transaction--negative">
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= t.name %>
      </td>
      <td>
        <%= render_money t.amount %>
      </td>
      <td>
        <%= link_to 'Click', t %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<h3>Transactions Incurring Fees <span class="regular slate h3">(total outstanding fees: <%= render_money @event.fee_balance %>)</span></h3>

<% if @event.billed_transactions.size.zero? %>
  <p>No transactions yet!</p>
<% else %>
  <table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Fee Amount</th>
    <th>Full Info</th>
  </tr>
  <% @event.billed_transactions.each do |t| %>
    <tr class="transaction--positive">
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= t.name %>
      </td>
      <td>
        <%= render_money t.amount %>
      </td>
      <td>
        <% if t.fee_relationship.fee_applies %>
          <%= render_money t.fee_relationship.fee_amount %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td>
        <%= link_to 'Click', t %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<p>Looking for expense reimbursements? <%= mail_to 'zach@hackclub.com', 'Ask Zach' %> for an invitation to Expensify.</p>
