<% title @event.name %>
<% content_for(:page_class) { 'bg-snow pt2' } %>
<% @home_size = 72 %>

<h1 class="heading center flex-column mt2">
  <span class="flex items-center">
    <% if admin_signed_in? %>
      <span
        class="badge bg-warning ml0 mr2"
        onclick="alert(`Date: <%= @event.start.to_date %>–<%= @event.end.to_date %>
Address: <%= @event.address %>
Sponsorship fee: <%= render_percentage @event.sponsorship_fee %>`)">
        #<%= @event.id %>
      </span>
    <% end %>
    <span class="line-height-1" style="font-size: 3rem;">
      <%= @event.name %>
    </span>
    <%= pop_icon_to 'controls', edit_event_path(@event), class: 'ml2' %>
  </span>
</h1>

<div class="flex flex-wrap items-center justify-center mb2 md-mb3">
  <% if @organizers.any? %>
    <% @organizers.each do |position| %>
      <div class="tooltipped tooltipped--s mr1" aria-label="<%= position.user.full_name %>">
        <%= avatar_for position.user, 48 %>
      </div>
    <% end %>
    <%= pop_icon_to 'view-forward', event_team_path(@event) %>
  <% else %>
    <p class="slate bold h3 mr2">No organizers invited yet</p>
    <%= pop_icon_to 'member-add', event_team_path(@event) %>
  <% end %>
</div>
<%= render 'nav', hide_name: true %>

<p class="muted flex flex-wrap items-center justify-center center mt2">
  Your point of contact is <%= user_mention @event.point_of_contact, class: 'ml1 mr0' %>
  <span class="xs-hide mr1">.</span>
  Text / call at 
  <span class="flex items-center medium ml1">
    <%= inline_icon 'message', size: 24, class: 'muted', style: 'margin-right: 0.125rem;' %>
    <%= @event.point_of_contact.pretty_phone_number %>
  </span>
  <span class="ml1 mr1">or email at</span>
  <%= mail_to @event.point_of_contact.email, class: 'flex items-center medium' do %>
    <%= inline_icon 'email', size: 24, class: 'muted', style: 'margin-right: 0.125rem;' %>
    <%= @event.point_of_contact.email %>
  <% end %>
  <span class="xs-hide">.</span>
</p>

<h2 class="mb2">
  Financials
</h2>
<div class="statset">
  <div class="stat statset__wide">
    <span class="stat__label">Account balance</span>
    <span class="stat__value"><%= render_money @event.balance, '' %></span>
  </div>
  <action class="stat stat--small tooltipped tooltipped--s" aria-label="The amount that will be automatically deducted from your account balance" data-behavior="modal_trigger" data-modal="pending_withdrawals">
    <span class="stat__label flex items-center">
      Pending withdrawals
      <%= inline_icon 'external', size: 24, class: 'muted ml1', 'aria-label': 'Icon indicating click for more' %>
    </span>
    <span class="stat__value"><%= render_money @event.balance_being_withdrawn, '' %></span>
  </action>
  <action class="stat stat--small" area="deposits" data-behavior="modal_trigger" data-modal="incoming_deposits">
    <span class="stat__label flex items-center">
      Incoming deposits
      <%= inline_icon 'external', size: 24, class: 'muted ml1', 'aria-label': 'Icon indicating click for more' %>
    </span>
    <span class="stat__value"><%= render_money @event.pending_deposits, '' %></span>
  </action>
  <%= link_to new_event_load_card_request_path(event_id: @event.slug), class: 'stat statset__wide link-reset' do %>
    <span class="stat__label flex items-center">
      Card balance
      <%= inline_icon 'plus', size: 24, class: 'muted ml1', 'aria-label': 'Info icon' %>
    </span>
    <span class="stat__value"><%= render_money @event.emburse_balance, '' %></span>
  <% end %>
</div>

<h2 class="heading">
  Transactions
  <%= link_to 'Export CSV',
    transactions_path(event: @event),
    class: 'btn bg-info',
    target: :_blank %>
</h2>

<div class="filterbar flex flex-wrap items-center width-100">
  <input
    type="search"
    data-behavior="filterbar_search"
    placeholder="Search…"
    aria-label="Filter transactions"
    class="flex-auto md-mr2"
    style="width: auto; max-width: none;">
  <div data-behavior="filterbar" role="tablist" class="filterbar__filters flex mt1 lg-mt0">
    <%= filterbar_item 'All', :exists, true %>
    <%= filterbar_item 'Revenue', :fee_applies %>
    <%= filterbar_item 'Fees', :fee_payment %>
    <%= filterbar_item 'Card transfers', :emburse %>
    <%= filterbar_item 'Expensify', :expensify if transactions_have_expensify? %>
  </div>
</div>

<% if @transactions.any? %>
  <div class="transaction__table_container">
  <table class="transaction__table">
    <thead>
      <tr>
        <th>Date</th>
        <th colspan="2">Description</th>
        <th colspan="2">Amount</th>
      </tr>
    </thead>
    <tbody data-behavior="transactions">
    <% @transactions.each do |t| %>
      <% if t.name.include? 'Hack Club Bank Gift' %>
        <%= render 'transactions/fancy_transaction', transaction: t %>
        <% next %>
      <% end %>
      <% if t&.invoice_payout&.invoice %>
        <%= render t&.invoice_payout&.invoice %>
      <% elsif !t&.fee_reimbursement %>
        <%= render t %>
      <% end %>
    <% end %>
    </tbody>
  </table>
  </div>
  <%= filterbar_blankslate 'No transactions match this filter' %>
<% else %>
  <%= blankslate 'No transactions yet' %>
<% end %>

<div class="modal" data-behavior="modal" role="dialog" id="pending_withdrawals">
  <%= modal_header 'Pending Withdrawals' %>

  <h3 class="mb1">Fees</h3>
  <div class="breakdown">
    <div class="stat--small">
      <span class="stat__value"><%= render_money @event.fee_balance, '' %></span>
    </div>
    <span class="breakdown__equals">&#61;</span>
    <div>
      <span class="breakdown__amount">
        <%= render_money @event.balance_transacted_since_last_fee_payment %>
      </span>
      <span class="breakdown__sub">Transacted since last fee&nbsp;payment</span>
    </div>
    <span class="breakdown__equals">&times;</span>
    <div>
      <span class="breakdown__amount"><%= @event.sponsorship_fee * 100 %>%</span>
      <span class="breakdown__sub">Bank fee</span>
    </div>
  </div>

  <hr class="mt2 mb2">

  <h3 class="mb1">Load Card Requests</h3>
  <div class="breakdown stat--small">
    <span class="stat__value"><%= render_money @event.lcr_pending, '' %></span>
  </div>
</div>

<%= render 'promo_modal' %>

<div class="modal modal--wide modal--scroll bg-snow" data-behavior="modal" role="dialog" id="incoming_deposits">
  <%= modal_header 'Incoming Deposits' %>
  <% if @invoices_being_deposited.any?  %>
    <div class="incoming_deposits flex-auto">
      <% [@invoices_being_deposited, @event.invoices.where.not(payout_creation_queued_for: nil)].flatten.each do |invoice| %>
        <%= link_to invoice, class: 'card' do %>
          <div class="card__banner card__banner--top bg-<%= invoice.arriving_late? ? :success : :error %> flex items-center">
            <span class="white mr1 incoming_deposits__sponsor">
              Invoice to
              <strong class="block"><%= invoice.sponsor.name %></strong>
            </span>
            <span class="badge ml-auto center incoming_deposits__badge bg-<%= invoice.arriving_late? ? :success : :error %>">
              <%= DateTime.now < invoice.arrival_date ? 'On Time' : 'Late' %>
            </span>
          </div>
          <div class="flex">
            <div>
              <span class="h1 black line-height-1 mb1 block">
                <%= render_money invoice.amount_paid %>
              </span>
              <span class="breakdown__sub">
                arrives in approx.
                <%= distance_of_time_in_words DateTime.now, invoice.arrival_date %>
              </span>
            </div>
            <span datetime="<%= invoice.arrival_date.strftime('%m-%d-%y') %>" class="ml-auto mini-calendar black">
              <strong><%= invoice.arrival_date.strftime('%b') %></strong>
              <span><%= invoice.arrival_date.strftime('%d') %></span>
            </span>
          </div>
          <% end %>
        <% end %>
        <div class="incoming_deposits__spacer"></div>
    </div>
  <% else %>
    <%= blankslate 'You don’t have any money incoming. Go get some!' %>
  <% end %>
</div> 
