<% page_snow %>
<h1 class="heading center flex-column">
  <span class="flex items-center">
    <span style="font-size: 3rem;">
      <%= @event.name %>
    </span>
    <%= link_to '✏️',
      edit_event_path(@event),
      class: 'pop ml2' %>
  </span>

  <% if admin_signed_in? %>
    <div class="flex justify-center items-center w-100">
      <span class="badge bg-muted ml0 mr2">#<%= @event.id %></span>
      <details class="regular h4 left-align mr2">
        <summary>Details</summary>
        <p>
          <strong>Date:</strong> <%= @event.start.to_date %>–<%= @event.end.to_date %><br />
          <strong>Address:</strong> <br />
          <%= @event.address %><br />
          <strong>Sponsorship fee:</strong> <%= render_percentage @event.sponsorship_fee %>
        </p>
      </details>
      <%= link_to '❌',
        @event,
        method: :delete,
        data: { confirm: '⚠️ Are you sure you want to DELETE THIS EVENT OMG?' },
        class: 'pop error' %>
    </div>
  <% end %>
</h1>

<div class="flex flex-wrap items-center justify-center mb3">
  <% @event.organizer_positions.each do |position| %>
    <%= avatar_for position.user, 48, class: 'mr1' %>
  <% end %>
  <% if @event.organizer_position_invites.pending.any? %>
    <span class="pop muted mr1" title="Team member invitations sent">+<%= @event.organizer_position_invites.pending.count %></span>
  <% end %>
  <%= link_to '›', event_team_path(@event), class: 'pop' %>
</div>

<%= render 'nav', hide_name: true %>

<p class="muted mt3">
  Your point of contact is <%= user_mention @event.point_of_contact %>– please
  don’t hesitate to text/call at
  <%= @event.point_of_contact.pretty_phone_number %> or email at
  <%= mail_to @event.point_of_contact.email %>.
</p>

<section class="event-summary mt2 mb2 md-mt3 md-mb3">
  <div class="event-summary__panel bg-primary white">
    <h2 class="heading">
      Financials
    </h2>
    <div class="stat inline-block">
      <span class="stat__label">Account balance</span>
      <span class="stat__value"><%= render_money @event.balance, '' %></span>
    </div>
    <div class="stat stat--small inline-block ml2">
      <span class="stat__label">Pending fees</span>
      <span class="stat__value"><%= render_money @event.fee_balance, '' %></span>
    </div>
  </div>
  <div class="event-summary__panel bg-accent white">
    <h2 class="heading">
      <span class="flex items-center">
        Debit Cards
        <%= badge_for @event.cards.count %>
      </span>
    </h2>
    <div class="stat">
      <span class="stat__label">Available balance</span>
      <span class="stat__value"><%= render_money @event.emburse_balance, '' %></span>
    </div>
  </div>
</section>

<h2 class="heading">
  Transactions
  <%= link_to 'Export CSV',
    transactions_path(event: @event),
    class: 'btn bg-info',
    target: :_blank %>
</h2>

<% if @event.transactions.any? %>
  <table class="mt2">
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>More</th>
  </tr>
  <% @event.transactions.each do |t| %>
    <tr class="transaction--<%= t.amount.negative? ? 'negative' : 'positive' %>">
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= t.name %>
      </td>
      <td>
        <%= render_money t.amount %>
      </td>
      <td>
        <%= link_to 'Details', t %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <%= blankslate 'No transactions yet' %>
<% end %>

<h3>
  Transactions Incurring Fees
  <span class="regular slate sans h3">(total outstanding fees: <%= render_money @event.fee_balance %>)</span>
</h3>

<% if @event.billed_transactions.any? %>
  <table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Fee</th>
    <th>More</th>
  </tr>
  <% @event.billed_transactions.each do |t| %>
    <tr class="transaction--positive">
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= t.name %>
      </td>
      <td>
        <%= render_money t.amount %>
      </td>
      <td>
        <% if t.fee_relationship.fee_applies %>
          <%= render_money t.fee_relationship.fee_amount %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td>
        <%= link_to 'Details', t %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <%= blankslate 'No transactions have incurred fees' %>
<% end %>
