<% title @event.name %>

<% if @event&.is_public %>
  <% content_for :head do %>
    <% img = "https://bank-og.hackclub.com/api/embeds/#{@event.slug}" %>
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="<%= img %>">
    <meta name="twitter:image" content="<%= img %>">
    <meta property="og:site_name" content="Hack Club Bank">
    <meta property="og:url" content="<%= event_path(@event) %>">
    <meta property="og:title" content="<%= @event.name %>">
    <meta name="twitter:title" content="<%= @event.name %>">
    <% description = "#{@event.name}'s finances have been made public on Hack Club Bank so you can see how their money is spent." %>
    <meta property="og:description" content="<%= description %>">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="description" content="<%= description %>">
  <% end %>
<% end %>

<%= render "nav", selected: :transactions %>

<h1 class="flex items-center">
  Financials
  <% if admin_signed_in? %>
    <% admin_tools("p0 badge", "span") do %>
      <span class="m0 badge bg-muted">
      #<%= @event.id %>
      </span>
    <% end %>

    <% if @event.increase_account_id != IncreaseService::AccountIds::FS_MAIN %>
      <% admin_tools("p0 badge", "span") do %>
        <%= link_to "https://dashboard.increase.com/accounts/#{@event.increase_account_id}" do %>
          <span class="m0 badge bg-muted">
            <%= @event.increase_account_id %>
          </span>
        <% end %>
      <% end %>
    <% end %>

    <% admin_tools("p0 badge", "span") do %>
      <span class="m0 badge bg-muted">
        <%= @event&.partner&.slug&.capitalize || "Not partnered" %>
      </span>
    <% end %>
  <% end %>
</h1>

<div class="flex items-center details-horiz details-horiz--lg" style="gap: 8px">
  <div class="stat statset__wide" data-tour-step="balance">
    <span class="stat__label">Account balance</span>
    <% if @event.fee_balance_v2_cents < 0 || @mock_total < 0 # this event has a fee credit (owes negative fees) %>
      <span class="stat__value">
        <%= render_money_amount(show_mock_data? ?
          @mock_total : @event.balance_v2_cents) %>
      </span>
      <span class="self-end" style="font-size: 10px;">
        +$<%= render_money_amount(show_mock_data? ?
          @mock_total : @event.fee_balance_v2_cents.abs) %> fee credit
      </span>
    <% else %>
      <span class="stat__value">
        <%= render_money_amount(show_mock_data? ? @mock_total : @event.balance_available_v2_cents) %>
      </span>
    <% end %>
  </div>

  <div>
    <div class="flex items-center">
      <% if @organizers.any? %>
        <%= pop_icon_to "email",
          "mailto:#{@organizers.map(&:user).map(&:email).join(',')}",
          class: "info mr2" if admin_signed_in? %>
        <div class="flex items-center">
          <% @organizers.each do |position| %>
            <div class="avatar-grow line-height-0 tooltipped tooltipped--s mr1" aria-label="<%= position.user == current_user ? current_user_flavor_text.sample : position.user.name %>">
              <%= avatar_for position.user, 36 %>
            </div>
          <% end %>
        </div>
        <% if @event.organizer_positions.count > 5 %>
          <%= link_to event_team_path(@event), class: "pop" do %>
            +<%= @event.organizer_positions.count - 5 %>
          <% end %>
        <% end %>
        <%= pop_icon_to "member-add", event_team_path(@event), class: "ml1", data: { "tour-step" => "invite" } %>
      <% else %>
        <p class="slate bold h3 mr2">No organizers invited yet</p>
        <%= pop_icon_to "member-add", event_team_path(@event) %>
      <% end %>
    </div>
  </div>
</div>

<h2 class="heading">
  Transactions
  <% if organizer_signed_in? && @event.canonical_transactions.exists? %>
    <button
      type="button"
      <%= organizer_signed_in? ? "data-behavior=menu_toggle aria-expanded=false tabindex=0" : "disabled=disabled" %>
      class="btn bg-info menu__toggle overflow-visible z1">
        <%= inline_icon "download", size: 16 %>
        Export
        <% if organizer_signed_in? %>
          <div class="menu__content h5" data-behavior="menu_content">
            <%= link_to "All transactions (CSV)", export_transactions_path(event: @event, format: :csv), target: :_blank %>
            <%= link_to "All transactions (JSON)", export_transactions_path(event: @event, format: :json), target: :_blank %>
          </div>
        <% end %>
    </button>
  <% end %>
</h2>

<%= turbo_frame_tag :ledger do %>
  <div class="filterbar flex flex-row justify-between items-center width-100" style="gap: 16px">

    <%= form_with(model: nil, local: true, method: :get, class: "flex-auto md-mr2") do |form| %>
      <%= form.text_field :q, placeholder: "Search", style: "width auto; max-width: none;", value: params[:q] %>
      <% if @tag %>
        <%= form.hidden_field :tag, value: @tag.label %>
      <% end %>
    <% end %>

    <% if Flipper.enabled?(:transaction_tags_2022_07_29, @event) && @event.tags.size > 0 %>
      <div data-controller="menu" data-menu-append-to-value="turbo-frame#ledger" data-menu-placement-value="bottom-end">
        <button
          type="button"
          class="btn btn-small bg-info menu__toggle menu__toggle--arrowless overflow-visible z1 mr1"
          data-menu-target="toggle" data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown">
          <%= inline_icon "filter", size: 16, style: "margin: 0" %>
          <% if @tag %>
            <span class="xs-hide sm-hide md-hide flex items-center">
              <span class="nowrap">Filtered by</span>
              <span style="background-color: rgba(0, 0, 0, 0.3); color: #f9fafc" class="nowrap badge regular ml1"><%= @tag.label %></span>
            </span>
          <% else %>
            <span class="xs-hide sm-hide md-hide nowrap">Filter</span>
          <% end %>
        </button>
        <div class="menu__content menu__content--2 menu__content--compact h5" data-menu-target="content">
          <% if @tag %>
            <%= link_to do %>
              <%= inline_icon "view-close", size: 24 %>
              Clear filters
            <% end %>

            <div class="menu__divider"></div>
          <% end %>

          <% @event.tags.each do |tag| %>
            <div class="flex items-center">
              <%= link_to tag.label, { tag: tag.label, q: params[:q] }.compact, class: "flex-auto menu__action" %>
              <% if organizer_signed_in? %>
                <%= button_to event_tag_path(@event, tag), class: "menu__action", method: :delete, title: "Delete this tag", form: { "data-turbo" => "true", "data-turbo-confirm" => tag.removal_confirmation_message } do %>
                  <%= inline_icon "delete", size: 20, style: "margin: 0" %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <% if @pending_transactions.any? || @transactions.any? || @event.demo_mode? %>
    <div class="table-container" data-tour-step="transactions">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Date</th>
              <th>Description</th>
              <th class="right-align">Amount</th>
              <% if @show_running_balance %>
                <th>Running Balance</th>
              <% end %>
              <th></th>
            </tr>
          </thead>
          <tbody data-behavior="transactions">
            <%= render "pending_fee_transaction" if @event.fronted_fee_balance_v2_cents > 0 %>

            <%= render partial: "canonical_pending_transactions/canonical_pending_transaction", collection: @pending_transactions, as: :pt, locals: { event: @event, show_amount: true } %>

            <%= render partial: "canonical_transactions/canonical_transaction", collection: @transactions, as: :ct, locals: { event: @event, show_amount: true } %>
        </tbody>
        </table>
    </div>
    <%= paginate @transactions %>
  <% else %>
    <%= blankslate "No transactions yet" %>
  <% end %>
<% end %>
