<% title @event.name %>
<% content_for(:page_class) { 'bg-snow pt2' } %>
<% @home_size = 72 %>

<h1 class="heading center flex-column mt2">
  <span class="flex items-center">
    <% if admin_signed_in? %>
      <span
        class="badge bg-warning ml0 mr2"
        onclick="alert(`Date: <%= @event.start.to_date %>–<%= @event.end.to_date %>
Address: <%= @event.address %>
Sponsorship fee: <%= render_percentage @event.sponsorship_fee %>`)">
        #<%= @event.id %>
      </span>
    <% end %>
    <span style="font-size: 3rem;">
      <%= @event.name %>
    </span>
    <%= pop_icon_to 'controls', edit_event_path(@event), class: 'ml2 warning' if admin_signed_in? %>
  </span>
</h1>

<div class="flex flex-wrap items-center justify-center mb3">
  <% if @organizers.any? %>
    <% @organizers.each do |position| %>
      <div class="tooltipped tooltipped--s mr1" aria-label="<%= position.user.full_name %>">
        <%= avatar_for position.user, 48 %>
      </div>
    <% end %>
    <%= pop_icon_to 'view-forward', event_team_path(@event) %>
  <% else %>
    <p class="slate bold h3 mr2">No organizers invited yet</p>
    <%= pop_icon_to 'member-add', event_team_path(@event) %>
  <% end %>
</div>

<%= render 'nav', hide_name: true %>

<p class="muted flex flex-wrap items-center justify-center center mt2">
  Your point of contact is <%= user_mention @event.point_of_contact, class: 'ml1 mr0' %>.
  Text / call at 
  <span class="flex items-center medium ml1">
    <%= inline_icon 'message', size: 24, class: 'muted', style: 'margin-right: 0.125rem;' %>
    <%= @event.point_of_contact.pretty_phone_number %>
  </span>
  <span class="ml1 mr1">or email at</span>
  <%= mail_to @event.point_of_contact.email, class: 'flex items-center medium' do %>
    <%= inline_icon 'email', size: 24, class: 'muted', style: 'margin-right: 0.125rem;' %>
    <%= @event.point_of_contact.email %>
  <% end %>.
</p>

<h2 class="mb2">
  Financials
</h2>
<div class="event-summary">
  <div class="stat" area="balance">
    <span class="stat__label">Account balance</span>
    <span class="stat__value"><%= render_money @event.balance, '' %></span>
  </div>
  <div class="stat stat--small tooltipped tooltipped--s" aria-label="The amount that will be automatically deducted from your account balance" area="fees">
    <span class="stat__label flex items-center">
      Pending fees
      <%= inline_icon 'info', size: 24, class: 'muted ml1', 'aria-label': 'Info icon' %>
    </span>
    <span class="stat__value"><%= render_money @event.fee_balance, '' %></span>
  </div>
  <div class="stat stat--small tooltipped tooltipped--s" aria-label="The amount on the way to your account" area="incoming">
    <span class="stat__label flex items-center">
      Incoming deposits
      <%= inline_icon 'info', size: 24, class: 'muted ml1', 'aria-label': 'Info icon' %>
    </span>
    <span class="stat__value"><%= render_money @event.pending_deposits, '' %></span>
  </div>
  <div class="stat" area="spendable">
    <span class="stat__label">Card balance</span>
    <span class="stat__value"><%= render_money @event.emburse_balance, '' %></span>
  </div>
</div>

<h2 class="heading">
  Transactions
  <%= link_to 'Export CSV',
    transactions_path(event: @event),
    class: 'btn bg-info',
    target: :_blank %>
</h2>

<div class="filterbar flex flex-wrap items-center width-100">
  <input
    type="search"
    data-behavior="filterbar_search"
    placeholder="Search…"
    aria-label="Filter transactions"
    class="flex-auto md-mr2"
    style="width: auto; max-width: none;">
  <div data-behavior="filterbar" role="tablist" class="filterbar__filters flex mt1 lg-mt0">
    <%= filterbar_item 'All', :exists, true %>
    <%= filterbar_item 'Revenue', :fee_applies %>
    <%= filterbar_item 'Fees', :fee_payment %>
    <%= filterbar_item 'Card transfers', :emburse %>
    <%= filterbar_item 'Expensify', :expensify if transactions_have_expensify? %>
  </div>
</div>

<% if @transactions.any? %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th colspan="2">Description</th>
        <th colspan="2">Amount</th>
      </tr>
    </thead>
    <tbody data-behavior="transactions">
    <% @transactions.each do |t| %>
      <% if t&.invoice_payout&.invoice %>
        <%= render t&.invoice_payout&.invoice %>
      <% elsif !t&.fee_reimbursement %>
        <%= render t %>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <%= filterbar_blankslate 'No transactions match this filter' %>
<% else %>
  <%= blankslate 'No transactions yet' %>
<% end %>
