<% title "Statements" %>
<% page_md %>
<%= render "events/nav", selected: :documentation %>

<h1>Documents</h1>

<ul class="tab-container">
  <%= settings_tab do %>
    <%= link_to "Legal documents", event_documents_path(@event), data: { turbo: true, turbo_action: "advance" } %>
  <% end %>
  <%= settings_tab active: true do %>
      <%= link_to "Financial statements", event_statements_path(@event), data: { turbo: true, turbo_action: "advance" } %>
  <% end %>
</ul>

<% months = (@start_date..@end_date).select { |date| date.day == 1 }.reverse %>

<% if months.none? %>
  <%= blankslate "No financial statements yet" %>
<% else %>
  <div class="grid">
    <% months.each do |day| %>
      <%= link_to transactions_exports_path(event: @event, start_date: day, format: :pdf), target: "_blank", class: "card card--hover flex items-center" do %>
          <span style="flex-grow: 1">
            <%= day.strftime("%B %Y") %>
          </span>
          <%= inline_icon "download", size: 24, class: "ml1", 'aria-label': "Download" %>
      <% end %>
    <% end %>
  </div>
<% end %>
