<% title "Statements" %>
<% page_md %>
<%= render "events/nav", selected: :documentation %>

<h1>Documents</h1>

<ul class="tab-container">
  <%= settings_tab do %>
    <%= link_to "Legal documents", event_documents_path(@event), data: { turbo: true, turbo_action: "advance" } %>
  <% end %>
  <%= settings_tab active: true do %>
    <%= link_to "Financial statements", event_statements_path(@event), data: { turbo: true, turbo_action: "advance" } %>
  <% end %>
</ul>

<% months = (@start_date..@end_date).select { |date| date.day == 1 }.reverse %>

<% if months.none? %>
  <%= blankslate "No financial statements yet" %>
<% else %>
  <div class="grid">
    <% months.group_by(&:year).each do |year, months| %>
      <div style="grid-column: 1 / span 3">
        <h3 class="mb0" id="<%= year %>">
          Statements from <%= year %>
        </h3>
        <hr class="mb1 mt1">
      </div>
      <% months.each do |day| %>
        <div data-controller="menu" class="card flex items-center">
          <span class="grow"><%= day.strftime("%B %Y") %></span>
          <%= pop_icon_to "download",
                          "#",
                          class: "align-middle", "aria-label": "Download",
                          data: { turbo: true, "menu-target": "toggle", action: "menu#toggle click@document->menu#close keydown@document->menu#keydown" } %>

          <div data-menu-target="content" class="menu__content menu__content--2 menu__content--compact">
            <%= link_to transactions_exports_path(event: @event, start_date: day, format: :pdf), target: "_blank" do %>
              Download as PDF
            <% end %>
            <%= link_to transactions_exports_path(event: @event, start_date: day, format: :csv), target: "_blank" do %>
              Download as CSV
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
