<% title "Subsidiaries of #{@event.name}" %>
<% page_md %>
<%= render "events/nav", selected: :sub_organizations %>

<h1 class="heading flex">
  <span class="flex-grow">Sub-organizations</span>
  <%= link_to "#", class: "btn bg-success", data: { behavior: "modal_trigger", modal: "create" }, disabled: !policy(@event).create_sub_organization? do %>
    <%= inline_icon "plus" %>
    Create a subsidiary
  <% end %>
</h1>

<div class="flex items-center details-horiz details-horiz--lg mb-2" style="gap: 8px; pointer-events: none;">
    <div class="flex items-center details-horiz details-horiz--lg" style="gap: 8px; pointer-events: none;">
      <div class="stat statset__wide" data-tour-step="balance">
        <span class="stat__label">Sub-organization balance</span>
        <span class="stat__value">
          <%= render_money_amount(@event.descendant_total_balance_cents) %>
        </span>
      </div>
    </div>
</div>

<div class="flex items-center gap-6 sm:gap-4 flex-col-reverse sm:flex-row mb2">
  <%= form_with(model: false, local: true, method: :get, class: "flex-1 w-full sm:w-auto") do |form| %>
    <%= render "search", form: %>
  <% end %>
</div>

<ul class="grid grid--medium-narrow left-align w-100 mt0">
  <%= render partial: "events/event_card", collection: @sub_organizations, as: :event %>
</ul>

<section data-behavior="modal" role="dialog" id="create" class="modal modal--scroll bg-snow">
  <%= form_with(url: event_create_sub_organization_path(@event.slug), method: :post, html: { class: "[&_input]:max-w-full [&_textarea]:!max-w-full" }) do |form| %>
    <%= modal_header "Create a sub-organization" %>
    <div class="card border b--info mt2 mb2 container--sm mx-auto">
      <p class="mt0 mb0">
        Sub-organizations are subsidiaries of your organization. All members of <%= @event.name %> can access and view sub-organizations, but only managers can create and edit them.
      </p>
    </div>

    <div class="field">
      <%= form.label :name, "Project name", class: "bold" %>
      <%= form.text_field :name, placeholder: "#{possessive(@event.name)} latest project" %>
    </div>

    <div class="field">
      <%= form.label :email, "Organizer email", class: "bold" %>
      <%= form.email_field :email, placeholder: "Running this project yourself? Use #{current_user.email}" %>
    </div>

    <div class="field">
      <%= form.label :cosigner_email, "Co-signer email", class: "bold" %>
      <%= form.email_field :cosigner_email, placeholder: "Include this if the organizer is under 18" %>
    </div>

    <small class="muted mt-0 mb-4">This project will be created on the <strong><%= @event.plan.label %></strong> plan</small>

    <div class="inline-block">
      <%= form.submit "Create sub-organization", class: "mt1", disabled: @event&.demo_mode? %>
    </div>
  <% end %>
</section>
