<% title "Team overview" %>
<% page_md %>
<%= render "nav", selected: :team %>

<h1 class="heading">
  <span class="flex flex-grow items-center">
    Team
    <%= badge_for @all_positions.size, class: "bg-muted" %>
    <% admin_tool("p0 badge", "span") do %>
      <%= badge_for "#{@all_positions.count { |op| op.user.teenager? }} teenagers", class: "bg-muted ml0" %>
    <% end %>
  </span>

  <%= pop_icon_to @view == "list" ? "grid" : "list",
   "?view=#{@view == 'list' ? 'grid' : 'list'}#{"&q=#{params[:q]}" if params[:q]}#{"&filter=#{params[:filter]}" if params[:filter]}" %>

  <% if auditor_signed_in? && @event.config.contact_email.present? %>
    <% admin_tool "w-fit p0", style: "border-radius: 999px; height: 36px; width: 36px;" do %>
      <%= link_to "mailto:#{@event.config.contact_email}", class: "flex items-center justify-center", style: "transform: translateY(1px) scale(0.8)" do %>
        <%= inline_icon "email", color: "#ff8c37" %>
      <% end %>
    <% end %>
  <% elsif organizer_signed_in? %>
    <%= pop_icon_to "email", "mailto:#{@all_positions.map { |op| op.user.email_address_with_name }.join(",")}" %>
  <% end %>

  <% if policy(@event).can_invite_user? %>
    <%= link_to new_event_organizer_position_invite_path(event_id: @event.slug), class: "btn bg-success", data: { behavior: "modal_trigger", modal: "invite_member" }, disabled: !organizer_signed_in?(as: :manager) do %>
      <%= inline_icon "member-add" %>
      Invite
    <% end %>
  <% end %>
</h1>

<div class="filterbar flex flex-row justify-between items-center width-100" style="gap: 16px">
  <%= form_with(model: nil, local: true, method: :get, class: "flex-auto md-mr2") do |form| %>
    <div class="input input-group max-w-none" tabindex="0">
    <%= inline_icon "search" %>
      <%= form.text_field :q, placeholder: "Type / to search...", data: { behavior: "search" }, value: params[:q] %>
    <% if params[:q] && params[:q] != "" %>
      <button data-behavior="clear" type="submit" class="pop muted w-7 h-7">
        <%= inline_icon "view-close", size: 24 %>
      </button>
    <% end %>
  </div>
    <%= form.hidden_field :filter, value: params[:filter] if params[:filter] %>
    <%= form.hidden_field :view, value: @view if @view %>
  <% end %>
  <div style="text-align: center;">
    <% ["all", "readers", "members", "managers"].each do |filter| %>
      <%= link_to filter.capitalize, "?filter=#{filter}#{'&view=list' if @view == 'list'}#{"&q=#{params[:q]}" if params[:q]}", class: "filterbar__item", "aria-selected": params[:filter] == filter || !params[:filter] && filter == "all", role: "tab" %>
    <% end %>
  </div>
</div>
<% if @view == "list" %>
  <% if @all_positions.any? %>
  <table>
    <thead>
      <tr>
        <th>Date invited</th>
        <th>Name</th>
        <th>Role</th>
        <th>Contact</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% if @all_positions.any? %>
      <%= turbo_frame_tag "team_position" do %>
        <%= render partial: "organizer_positions/organizer_position_row", collection: @positions, as: :organizer_position %>
      <% end %>
    <% end %>
  </table>
  <%= paginate @positions %>
  <% else %>
    <%= blankslate @event.organizer_positions.none? ? "No team members" : "No team members found" %>
  <% end %>
<% else %>

  <% if @all_positions.any? %>
    <%= turbo_frame_tag "team_position" do %>
      <div class="grid grid-cols-1 lg:grid-cols-2">
        <%= render partial: "organizer_positions/organizer_position", collection: @positions %>
      </div>
      <%= paginate @positions %>
    <% end %>
  <% else %>
    <%= blankslate @event.organizer_positions.none? ? "No team members" : "No team members found" %>
  <% end %>
<% end %>

<% if @pending.any? %>
  <h2 class="flex items-center mt3 mb2">
    Pending invitations
    <%= badge_for @pending.size, class: "bg-muted" %>
  </h2>

  <div class="flex flex-col" style="gap: 0.5rem">
    <%= render partial: "organizer_position_invites/organizer_position_invite", collection: @pending %>
  </div>
<% end %>

<% admin_tool("mt2") do %>
  <h2 class="flex items-center mt3 mb2">
    Previous members
    <%= badge_for @event.organizer_positions.with_deleted.where.not(deleted_at: nil).count, class: "bg-muted" %>
  </h2>
  <ul>
    <% @event.organizer_positions.with_deleted.where.not(deleted_at: nil).order(deleted_at: :desc).each do |op| %>
      <li>
        <%= link_to op.user.name, admin_user_path(op.user) %> was removed <%= time_ago_in_words op.deleted_at %> ago
        <%= error_boundary fallback_text: "; the context failed to load." do %>
          <% if opdr = op.organizer_position_deletion_requests.last %>
            by <%= opdr.closed_by.name %> at the request of <%= opdr.submitted_by.name %> <%= link_to "(context)", opdr %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if policy(@event).can_invite_user? %>
  <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="invite_member">
    <%= modal_header "Invite a team member" %>
    <%= render "organizer_position_invites/form", invite: OrganizerPositionInviteService::Create.new(event: @event).model %>
  </section>
<% end %>
