<% page_sm %>
<% page_snow %>
<%= render 'nav' %>

<h1 class="flex items-center">
  Team Members
  <%= badge_for @positions.count, class: 'bg-muted' %>
</h1>

<% if @positions.any? %>
  <% @positions.each do |position| %>
    <div class="card flex items-center py1 mb2">
      <%= avatar_for position.user, 48, class: 'mr2' %>
      <p class="flex-auto">
        <strong class="h3"><%= position.user.full_name || 'Unnamed' %></strong>
        <br />
        <%= position.user.email %>
        <br />
        <span class="muted h5">(added <span title="<%= position.created_at %>"><%= time_ago_in_words position.created_at %> ago</span>)</span>
      </p>
      <%= pop_icon_to 'member-remove', new_organizer_remove_path(organizer_id: position.id), class: 'error' unless position.user == current_user %>
      <%= pop_icon_to 'controls', edit_user_path(position.user.id), class: 'ml2' if position.user == current_user || admin_signed_in? %>
    </div>
  <% end %>
<% else %>
  <%= blankslate 'No others on your team yet' %>
<% end %>

<h2 class="mt3">Invite a team member</h2>
<%= render 'form_invite', invite: OrganizerPositionInvite.new %>

<% if @pending.any? %>
  <h2 class="flex items-center mt3 mb0">
    Pending invitations
    <%= badge_for @pending.count, class: 'bg-muted' %>
  </h2>
  <ul class="list list--unlinked list--row my0">
    <% @pending.each do |invite| %>
      <% unless invite.cancelled? %>
        <li class="list--row">
          <%= avatar_for OpenStruct.new(email: invite.email, name: invite.email), 24, class:
          'mr1' %>
          <p class="line-height-3">
            <strong><%= invite.email %></strong><br>
            <span class="muted h5">(sent <span title="<%= invite.created_at %>"><%= time_ago_in_words invite.created_at %> ago</span>)</span>
          </p>
          <%= pop_icon_to 'view-close', organizer_position_invite_cancel_path(invite.id), method: :post, class: 'error' %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
