<% title "Team overview" %>
<% page_sm %>
<%= render "nav", selected: :team %>

<h1 class="heading flex items-center">
  Team
  <%= badge_for @all_positions.size, class: "bg-muted" %>

  <% if organizer_signed_in? %>
    <a
      href="mailto:<%= @all_positions.map(&:user).map(&:email).join(',') %>"
      class="btn btn--icon bg-info"
    >
      <%= inline_icon "email" %>
      Email everyone
    </a>
  <% end %>
</h1>

<% if @all_positions.any? %>
  <%= turbo_frame_tag "team_position" do %>
    <%= render partial: "organization_position_invite", collection: @positions, as: :position %>
    <%= paginate @positions %>
  <% end %>
<% else %>
  <%= blankslate "No others on your team yet" %>
<% end %>

<h2 class="mt3">Invite a team member</h2>
<% if organizer_signed_in? %>
  <%= render "form_invite", invite: OrganizerPositionInviteService::Create.new(event: @event).model %>
<% else %>
  <p>Disabled in transparency mode</p>
<% end %>

<% if @pending.any? %>
  <h2 class="flex items-center mt3 mb2">
    Pending invitations
    <%= badge_for @pending.size, class: "bg-muted" %>
  </h2>

  <div class="flex flex-column" style="gap: 0.5rem">
    <% @pending.order(created_at: :desc).each do |invite| %>
      <div class="pending-invite-card card pt1 pb1">
        <div class='flex flex-col items-center'>
          <div class="invite-info flex flex-auto items-center" style="gap: 1rem">
            <p class="line-height-3">
              <strong><%= organizer_signed_in? ? invite.user.email : "Sign in to view" %></strong>
            </p>

            <% if invite.signee? %>
              <%= inline_icon("docs-positive", size: 16) %>
            <% else %>
              <%= inline_icon("docs-negative", size: 16) %>
            <% end %>
          </div>

        </div>

          <div class="invite-cancel">
            <% if invite.sender == current_user || admin_signed_in? %>
              <%= pop_icon_to "view-close",
                organizer_position_invite_cancel_path(invite.id),
                size: 24,
                method: :post,
                class: "error tooltipped tooltipped--w",
                'aria-label': "Cancel this invitation" %>
            <% end %>
          </div>

        <p class="invited-date muted h6">Invited <%= relative_timestamp(invite.created_at) %> by <%= invite.sender.safe_name %></p>
      </div>
    <% end %>
  </div>
<% end %>

<style>
    .pending-invite-card {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr 1fr;
        gap: 0.5rem;
        grid-auto-flow: row;
        grid-template-areas:
      "invite-info invite-cancel"
      "invited-date invite-cancel";
    }

    .pending-invite-card .invite-cancel {
        grid-area: invite-cancel;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .pending-invite-card .invite-info {
        grid-area: invite-info;
        justify-self: start;
    }

    .pending-invite-card .invited-date {
        grid-area: invited-date;
        justify-self: start;
    }
</style>
