<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8" />
  <title>
  </title>
  <style>
      body {
          font-family: Calibri;
          font-size: 12pt
      }

      p {
          margin: 0pt
      }

      li {
          margin-top: 0pt;
          margin-bottom: 0pt
      }
  </style>
</head>
<body>
<p style="widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;</span>
</p>
<p style="text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">TERMINATION OF FISCAL SPONSORSHIP AGREEMENT</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;</span>
</p>
<ol style="margin:0pt; padding-left:0pt">
  <li style="margin-left:36pt; text-indent:-36pt; text-align:justify; widows:0; orphans:0; font-family:TimesNewRomanPSMT; font-size:11.5pt; list-style-position:inside">
    <span style="width:4.38pt; font:7pt 'Times New Roman'; display:inline-block">&#xa0;&#xa0; </span>Pursuant
    to Section 6 of the <%= @start.strftime('%B %d, %Y') %> fiscal sponsorship
    agreement (“Agreement”) between The Hack Foundation (“Hack Club”)
    and <%= @event.name %> (the “Team”), the Team has provided Hack Club with
    the required 30 days’ written notice to terminate as
    of <%= @end.strftime('%B %d, %Y') %> such that the date of termination of
    the Agreement shall be _________________(“Termination Date”). As such the
    parties wish to enter into this termination of fiscal sponsorship agreement
    (“Termination Agreement”) for the purpose of properly terminating their
    relationship.
  </li>
</ol>
<p style="margin-left:36pt; text-indent:-36pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;</span>
</p>
<ol start="2" style="margin:0pt; padding-left:0pt">
  <li style="margin-left:36pt; text-indent:-36pt; text-align:justify; widows:0; orphans:0; font-family:TimesNewRomanPSMT; font-size:11.5pt; list-style-position:inside">
    <span style="width:4.38pt; font:7pt 'Times New Roman'; display:inline-block">&#xa0;&#xa0; </span>In
    conjunction with said termination notice, the Team has
    identified <%= @successor %> as a Successor (as defined in the Agreement)
    who is willing and able to support the Event/Project and confirmation of
    said Successor’s tax exemption under Internal Revenue Code section 501(c)(3)
    is attached hereto and incorporated herein by this reference as
    <strong><u><span style="font-family:TimesNewRomanPS-BoldMT; ">Exhibit A</span></u></strong>.
  </li>
</ol>
<p style="text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;</span>
</p>
<ol start="3" style="margin:0pt; padding-left:0pt">
  <li style="margin-left:36pt; text-indent:-36pt; text-align:justify; widows:0; orphans:0; font-family:TimesNewRomanPSMT; font-size:11.5pt; list-style-position:inside">
    <span style="width:4.38pt; font:7pt 'Times New Roman'; display:inline-block">&#xa0;&#xa0; </span>On
    or before the Termination Date, each party shall sign and return the
    Termination Agreement to the other party.
  </li>
</ol>
<p style="text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;</span>
</p>
<ol start="4" style="margin:0pt; padding-left:0pt">
  <li style="margin-left:36pt; text-indent:-36pt; text-align:justify; widows:0; orphans:0; font-family:TimesNewRomanPSMT; font-size:11.5pt; list-style-position:inside">
    <span style="width:4.38pt; font:7pt 'Times New Roman'; display:inline-block">&#xa0;&#xa0; </span>Upon
    execution of this Termination Agreement by each party, on or before the
    Termination Date, Hack Club shall take the steps necessary to effectuate the
    transfer of <%= render_money @event.balance %>  to the Successor, which is
    the balance of assets in Hack Club’s restricted Fund for the Event/Project
    in accordance with the Successor’s transfer instructions (e.g. banking
    information).
  </li>
</ol>
<p style="text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;</span>
</p>
<ol start="5" style="margin:0pt; padding-left:0pt">
  <li style="margin-left:36pt; text-indent:-36pt; text-align:justify; widows:0; orphans:0; font-family:TimesNewRomanPSMT; font-size:11.5pt; list-style-position:inside">
    <span style="width:4.38pt; font:7pt 'Times New Roman'; display:inline-block">&#xa0;&#xa0; </span>Upon
    execution of this Termination Agreement by each party, as of the Termination
    Date, Hack Club hereby transfers to the Successor, all right, title and
    interest in and to the Event/Project intellectual property. Notwithstanding
    the foregoing however, as of the Termination Date, neither the Team nor the
    Successor shall be permitted to use Hack Club’s name, logo or any other
    intellectual property of Hack Club, as such right shall terminate along with
    the termination of the Agreement.
  </li>
</ol>
<p style="text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;</span>
</p>
<ol start="6" style="margin:0pt; padding-left:0pt">
  <li style="margin-left:36pt; text-indent:-36pt; text-align:justify; widows:0; orphans:0; font-family:TimesNewRomanPSMT; font-size:11.5pt; list-style-position:inside">
    <span style="width:4.38pt; font:7pt 'Times New Roman'; display:inline-block">&#xa0;&#xa0; </span>In
    addition, upon the completion of the obligations set forth in the Agreement
    regarding termination of the same, Hack Club on the one hand and the Team on
    the other hand shall each hereby irrevocably and unconditionally forever
    release each other, and each other’s officers, directors, managers, members,
    employees and agents (“Released Parties”) from and against any and all
    debts, obligations (both legal and moral), losses, costs, promises,
    covenants, agreements, contracts, endorsements, bonds, controversies, suits,
    actions, causes of action, rights, liabilities, judgments, damages,
    expenses, claims, counterclaims, cross-claims, or demands, in law, equity
    and/or morality, asserted or unasserted, express or implied, foreseen or
    unforeseen, real or imaginary, suspected or unsuspected, known or unknown,
    liquidated or non-liquidated, of any kind or nature or description
    whatsoever that, each party ever had, presently has, may have, or claims or
    asserts to have, or hereinafter has, may have, or claims or asserts to have,
    against each other or their respective Released Parties (except for those
    obligations, warranties and representations as set forth in the Agreement).
    Further, each party understands and acknowledges that there are laws which
    may invalidate the release of claims which are unknown to the releasing
    party. Each party hereby knowingly and voluntarily waives any protection to
    which it otherwise would be entitled against the other party or its Released
    Parties by virtue of any such law. Each party also hereby waives any
    protection to which it otherwise would be entitled against the other party
    or its Released Parties and by virtue of any such law. In particular, each
    party shall hereby release and waive any and all of its respective rights
    under Section 1542 of the California Civil Code, which provides as follows:
  </li>
</ol>
<p style="text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;</span>
</p>
<p style="margin-left:54pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">"1542. (General release; extent) A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which if known by him must have materially affected his settlement with the debtor.”</span>
</p>
<p style="text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;</span>
</p>
<p style="text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">IN WITNESS WHEREOF, the parties execute this Termination Agreement as of the respective dates set forth in the signature lines below. </span>
</p>
<p style="text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;</span>
</p>
<p style="margin-bottom:6pt; margin-top: 24pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">Hack Club:</span></strong>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; font-size:11.5pt; ">&#xa0;</span></strong><span style="font-family:TimesNewRomanPSMT; font-size:11.5pt">The Hack Foundation</span><span style="width:4.84pt; font-family:TimesNewRomanPSMT; display:inline-block">&#xa0;</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">By:</span><span style="font-family:TimesNewRomanPSMT">&#xa0;&#xa0;&#xa0; </span><span style="font-family:TimesNewRomanPSMT">___________________</span><span style="font-family:TimesNewRomanPSMT">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span><span style="font-family:TimesNewRomanPSMT">Zach Latta, Executive Director</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">Team:</span></strong><strong><span style="width:4.07pt; font-family:TimesNewRomanPS-BoldMT; display:inline-block">&#xa0;</span></strong><strong><span style="width:36pt; font-family:TimesNewRomanPS-BoldMT; display:inline-block">&#xa0;</span></strong><strong><span style="width:36pt; font-family:TimesNewRomanPS-BoldMT; display:inline-block">&#xa0;</span></strong><strong><span style="width:36pt; font-family:TimesNewRomanPS-BoldMT; display:inline-block">&#xa0;</span></strong><strong><span style="width:36pt; font-family:TimesNewRomanPS-BoldMT; display:inline-block">&#xa0;</span></strong><strong><span style="width:36pt; font-family:TimesNewRomanPS-BoldMT; display:inline-block">&#xa0;</span></strong><strong><span style="width:36pt; font-family:TimesNewRomanPS-BoldMT; display:inline-block">&#xa0;</span></strong>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">By:</span><span style="font-family:TimesNewRomanPSMT">&#xa0;&#xa0;&#xa0; </span><span style="font-family:TimesNewRomanPSMT">___________________________</span><span style="font-family:TimesNewRomanPSMT">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span><span style="font-family:TimesNewRomanPSMT">Dated:</span><span style="width:30.86pt; font-family:TimesNewRomanPSMT; display:inline-block">&#xa0;</span><span style="font-family:TimesNewRomanPSMT">_________________</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">Printed Name:_____________________</span>
</p>
<p style="margin-top:6pt; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;</span>
</p>
<p style="margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">By:</span><span style="font-family:TimesNewRomanPSMT">&#xa0;&#xa0;&#xa0; </span><span style="font-family:TimesNewRomanPSMT">___________________________</span><span style="font-family:TimesNewRomanPSMT">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span><span style="font-family:TimesNewRomanPSMT">Dated:</span><span style="width:30.86pt; font-family:TimesNewRomanPSMT; display:inline-block">&#xa0;</span><span style="font-family:TimesNewRomanPSMT">_________________</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">Printed Name:_____________________</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">By:</span><span style="font-family:TimesNewRomanPSMT">&#xa0;&#xa0;&#xa0; </span><span style="font-family:TimesNewRomanPSMT">___________________________</span><span style="font-family:TimesNewRomanPSMT">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span><span style="font-family:TimesNewRomanPSMT">Dated:</span><span style="width:30.86pt; font-family:TimesNewRomanPSMT; display:inline-block">&#xa0;</span><span style="font-family:TimesNewRomanPSMT">_________________</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">Printed Name:_____________________</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">By:</span><span style="font-family:TimesNewRomanPSMT">&#xa0;&#xa0;&#xa0; </span><span style="font-family:TimesNewRomanPSMT">____________________</span><span style="font-family:TimesNewRomanPSMT">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span><span style="font-family:TimesNewRomanPSMT">Dated:</span><span style="width:30.86pt; font-family:TimesNewRomanPSMT; display:inline-block">&#xa0;</span><span style="font-family:TimesNewRomanPSMT">_________________</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">Printed Name:_____________________</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;</span>
</p>
<p style="margin-top:6pt; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">For Team members who are minors under the age of 18 years, parent or guardian must sign:</span></strong>
</p>
<p style="margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">By:</span><span style="font-family:TimesNewRomanPSMT">&#xa0;&#xa0;&#xa0; </span><span style="font-family:TimesNewRomanPSMT">___________________________</span><span style="font-family:TimesNewRomanPSMT">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span><span style="font-family:TimesNewRomanPSMT">Dated:</span><span style="width:27.98pt; font-family:TimesNewRomanPSMT; display:inline-block">&#xa0;</span><span style="font-family:TimesNewRomanPSMT">_________________</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">Printed Name:_____________________</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">Name of Minor Team Member: ___________________________</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">By:</span><span style="font-family:TimesNewRomanPSMT">&#xa0;&#xa0;&#xa0; </span><span style="font-family:TimesNewRomanPSMT">___________________________</span><span style="font-family:TimesNewRomanPSMT">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span><span style="font-family:TimesNewRomanPSMT">Dated:</span><span style="width:25.11pt; font-family:TimesNewRomanPSMT; display:inline-block">&#xa0;</span><span style="font-family:TimesNewRomanPSMT">_________________</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">Printed Name:_____________________</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">Name of Minor Team Member: ___________________________</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">By:</span><span style="font-family:TimesNewRomanPSMT">&#xa0;&#xa0;&#xa0; </span><span style="font-family:TimesNewRomanPSMT">___________________________</span><span style="font-family:TimesNewRomanPSMT">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span><span style="font-family:TimesNewRomanPSMT">Dated:</span><span style="width:19.36pt; font-family:TimesNewRomanPSMT; display:inline-block">&#xa0;</span><span style="font-family:TimesNewRomanPSMT">_________________</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">Printed Name:_____________________</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">Name of Minor Team Member: ___________________________</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">By:</span><span style="font-family:TimesNewRomanPSMT">&#xa0;&#xa0;&#xa0; </span><span style="font-family:TimesNewRomanPSMT">___________________________</span><span style="font-family:TimesNewRomanPSMT">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span><span style="font-family:TimesNewRomanPSMT">Dated:</span><span style="width:19.36pt; font-family:TimesNewRomanPSMT; display:inline-block">&#xa0;</span><span style="font-family:TimesNewRomanPSMT">_________________</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">Printed Name:_____________________</span>
</p>
<p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">Name of Minor Team Member: ___________________________</span>
</p>
<p style="margin-top:6pt; text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">&#xa0;</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">Exhibit A</span></strong>
</p>
<p style="text-align:center; widows:0; orphans:0; font-size:11.5pt">
  <strong><span style="font-family:TimesNewRomanPS-BoldMT; ">Successor’s IRS Determination Letter </span></strong>
</p>
<p style="text-align:justify; widows:0; orphans:0; font-size:11.5pt">
  <span style="font-family:TimesNewRomanPSMT">&#xa0;</span>
</p>
</html>
