<% title "Transfers for #{@event.name}" %>
<% page_md %>
<%= render 'events/nav' %>

<h1 class="heading">
  Transfers
</h1>

<section class="flex items-center justify-center flex-wrap pb2 md-pt2 md-pb3">
  <strong class="h3 muted md-pr2">Send a</strong>
  <div class="btn-group center">
    <% if using_transaction_engine_v2? %>
      <%= link_to 'Check', new_event_check_path(@event),
          class: 'btn bg-accent' %>
    <% else %>
      <%= link_to 'Check', 
          nil, #new_event_check_path(@event) 
          class: 'btn bg-accent', 
          disabled: true %>
    <% end %>
    <%= link_to 'Direct deposit', new_event_ach_transfer_path(@event), class: 'btn bg-accent' %>
    <%= link_to 'Reimbursement', event_reimbursements_path(@event), class: 'btn' %>
  </div>
</section>

<ul class="grid grid--spacious">
  <% @transfers.each do |transfer| %>
    <%= link_to transfer do %>
      <li>
        <%= creator_bar transfer %>
        <% if transfer.is_a? Check %>
          <div class="transfer-preview transfer-preview--check">
            <p class="mt0 mb1 flex items-start">
              <span class="h5 caps secondary bold">Check #<%= transfer.check_number %></span>
              <span class="ml-auto badge bg-<%= transfer.state %>"><%= transfer.status_text %></span>
            </p>
            <div class="flex items-start mt2 mb1">
              <strong class="flex-auto h3 line-height-3">
                <%= transfer.lob_address.name %>
              </strong>
              <span class="block h1 line-height-1"><%= render_money_short transfer.amount %></span>
            </div>
            <p class="h5 secondary mt0 mb0"><%= organizer_signed_in? ? transfer.memo : 'Sign in full details' %></p>
          </div>
        <% elsif transfer.is_a? AchTransfer %>
          <div class="card transfer-preview">
            <p class="mt0 mb1 flex items-start">
              <span class="h5 caps secondary bold">ACH Transfer</span>
              <span class="ml-auto badge bg-<%= transfer.state %>"><%= transfer.status_text %></span>
            </p>
            <div class="flex items-start mt2 mb1">
              <strong class="flex-auto h3 line-height-3">
                <%= transfer.recipient_name %>
              </strong>
              <span class="block h1 line-height-1"><%= render_money_short transfer.amount %></span>
            </div>
            <p class="h5 secondary mt0 mb0"><%= organizer_signed_in? ? transfer.bank_name : 'Sign in to full details' %></p>
          </div>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
