<% title "Transfers for #{@event.name.html_safe}" %>
<% page_md %>
<%= render "events/nav" %>

<h1 class="heading">
  <span class="flex items-center">
    Transfers
    <%= badge_for @transfers.count, class: "bg-muted" %>
  </span>

  <% if organizer_signed_in? %>
    <%= link_to "Send Check", new_event_check_path(@event), class: "btn bg-accent" %>
    <%= link_to "Send ACH Transfer", new_event_ach_transfer_path(@event), class: "btn bg-accent" %>
    <%= link_to "Reimbursement", event_reimbursements_path(@event), class: "btn" %>
  <% end %>
</h1>

<div class="statset mt3 mb2">
  <div class="stat stat--small">
    <span class="stat__label">Total</span>
    <span class="stat__value"><%= render_money_amount @stats[:deposited] %></span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">On the way</span>
    <span class="stat__value"><%= render_money_amount @stats[:in_transit] %></span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">Canceled</span>
    <span class="stat__value"><%= render_money_amount @stats[:canceled] %></span>
  </div>
</div>

<hr/>

<div style="text-align: center;">
  <%= link_to "All", "?filter=all", class: "filterbar__item", "aria-selected": !["deposited", "in_transit", "canceled"].include?(params[:filter]), role: "tab" %>
  <%= link_to "Deposited", "?filter=deposited", class: "filterbar__item", "aria-selected": params[:filter] == "deposited", role: "tab" %>
  <%= link_to "In Transit", "?filter=in_transit", class: "filterbar__item", "aria-selected": params[:filter] == "in_transit", role: "tab" %>
  <%= link_to "Canceled", "?filter=canceled", class: "filterbar__item", "aria-selected": params[:filter] == "canceled", role: "tab" %>
</div>

<%= form_with(model: nil, local: true, method: :get) do |form| %>
  <div class="filterbar flex flex-wrap items-center width-100">

    <%= form.text_field :search, placeholder: "Search…", class: "flex-auto md-mr2", style: "width auto; max-width: none;", value: params[:search] %>

  </div>
<% end %>

<article class="table-container">

  <table>
    <thead>
      <tr>
        <th>TYPE</th>
        <th>STATUS</th>
        <th>DATE</th>
        <th>TO</th>
        <th style="text-align: right;">AMOUNT</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @transfers.each do |d| %>
        <tr>
          <td>
            <%= d.is_a?(Check) ? "CHECK" : "ACH" %>
          </td>
          <td>
            <span class="ml0 badge bg-<%= d.state %>"><%= d.state_text %></span>
          </td>
          <td>
            <%= format_date d.created_at %>
          </td>
          <td>
            <%= d.name if organizer_signed_in? %>
            <%= "(redacted)" unless organizer_signed_in? %>
          </td>
          <td style="text-align: right;">
            <%= render_money(d.amount) %>
          </td>
          <td>
            <%= link_to "Details", hcb_code_url(d.local_hcb_code.hashid) if organizer_signed_in? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</article>

