<% title "Transfers for #{@event.name}" %>
<% page_md %>
<%= render "events/nav", selected: :transfers %>

<h1 class="heading">
  <span class="flex items-center">
    Transfers
    <%= badge_for @transfers.total_count, class: "bg-muted" %>
  </span>

  <% if organizer_signed_in? %>
    <%= link_to event_transfers_new_path(event_id: @event.slug), class: "btn bg-success", data: { behavior: "modal_trigger", modal: "send_transfer" } do %>
      <%= inline_icon "payment-transfer" %>
      Send
    <% end %>
  <% end %>
</h1>

<div class="statset mt3 mb3">
  <div class="stat">
    <span class="stat__label">Total</span>
    <span class="stat__value"><%= render_money_amount @stats[:deposited] %></span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">On the way</span>
    <span class="stat__value"><%= render_money_amount @stats[:in_transit] %></span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">Canceled</span>
    <span class="stat__value"><%= render_money_amount @stats[:canceled] %></span>
  </div>
</div>

<div class="flex items-center gap-4 flex-col-reverse sm:flex-row mb2">
  <%= form_with(model: nil, local: true, method: :get, class: "flex-1 w-full sm:w-auto") do |form| %>
    <div class="input input-group max-w-none" tabindex="0">
      <%= inline_icon "search" %>
      <%= form.text_field :q, placeholder: "Type / to search...", data: { behavior: "search" }, value: params[:q] %>
      <% if params[:q] && params[:q] != "" %>
        <button data-behavior="clear" type="submit" class="pop muted w-7 h-7">
          <%= inline_icon "view-close", size: 24 %>
        </button>
      <% end %>
    </div>
  <% end %>
  <div>
    <%= link_to "All", "?filter=all", class: "filterbar__item", "aria-selected": !["deposited", "in_transit", "canceled"].include?(params[:filter]), role: "tab" %>
    <%= link_to "Deposited", "?filter=deposited", class: "filterbar__item", "aria-selected": params[:filter] == "deposited", role: "tab" %>
    <%= link_to "In transit", "?filter=in_transit", class: "filterbar__item", "aria-selected": params[:filter] == "in_transit", role: "tab" %>
    <%= link_to "Canceled", "?filter=canceled", class: "filterbar__item", "aria-selected": params[:filter] == "canceled", role: "tab" %>
  </div>
</div>

<% if @transfers.size > 0 %>
<article class="table-container">

  <table>
    <thead>
      <tr>
        <th></th>
        <th>Status</th>
        <th>Date</th>
        <th>To</th>
        <th class="text-right">Amount</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @transfers.each do |d| %>
        <% if (Flipper.enabled?(:hcb_code_popovers_2023_06_16, current_user) || !organizer_signed_in?) && !d.is_a?(CardGrant) %>
          <section class="modal modal--scroll modal--popover bg-snow" data-behavior="modal" role="dialog" id="transfer_modal_<%= d.hcb_code %>">
            <%= modal_header("Transfer of #{render_money(d.amount)}", external_link: hcb_code_url(d.hcb_code)) %>
            <%= async_frame_to hcb_code_url(d.hcb_code, params: { frame: true }), lazy: true, as: :div do %>
              <strong>Loading...</strong>
            <% end %>
          </section>
        <% end %>
        <tr>
          <td class="transaction__icon">
            <% if d.is_a?(Check) || d.is_a?(IncreaseCheck) %>
              <span class="tooltipped tooltipped--e inline-block" aria-label="Mailed check">
                <%= inline_icon "email" %>
              </span>
            <% elsif d.is_a?(AchTransfer) %>
              <span class="tooltipped tooltipped--e inline-block" aria-label="ACH transfer">
                <%= inline_icon "bank-account" %>
              </span>
            <% elsif d.is_a?(CardGrant) %>
              <span class="tooltipped tooltipped--e inline-block" aria-label="Card Grant">
                <%= inline_icon "bag" %>
              </span>
            <% elsif d.is_a?(PaypalTransfer) %>
              <span class="tooltipped tooltipped--e inline-block" aria-label="PayPal Transfer">
                <%= inline_icon "paypal" %>
              </span>
            <% elsif d.is_a?(Wire) %>
              <span class="tooltipped tooltipped--e inline-block" aria-label="Wire">
                <%= inline_icon "bolt" %>
              </span>
            <% else %>
              <span class="tooltipped tooltipped--e inline-block" aria-label="HCB transfer">
                <%= inline_icon "door-leave" %>
              </span>
            <% end %>
          </td>
          <td>
            <span class="ml0 badge bg-<%= d.state %>"><%= d.state_text&.capitalize %></span>
          </td>
          <td>
            <%= format_date d.created_at %>
          </td>
          <td style="max-width: 40ch;" class="overflow-hidden truncate" title="<%= d.name %>">
            <% if d.is_a?(Disbursement) %>
              <strong>
                <% if d.destination_event.is_public? || organizer_signed_in?(d.destination_event) %>
                  <%= link_to d.destination_event.name, d.destination_event %>
                <% else %>
                  <%= d.destination_event.name %>
                <% end %>
              </strong>
              for
              <%= d.name %>
            <% elsif d.is_a? CardGrant %>
              <strong>
                <%= link_to d.user.name, organizer_signed_in? ? d : spending_card_grant_path(d) %>
              </strong>
            <% else %>
              <%= d.name %>
            <% end %>
          </td>
          <td style="text-align: right;">
            <% if d.is_a? CardGrant %>
              <span class="<%= "muted line-through" if d.balance.zero? %>"><%= d.balance.format %></span>
            <% elsif d.is_a? Wire %>
              <%= render_money(d.local_hcb_code.amount_cents.abs) %>
            <% else %>
              <%= render_money(d.amount) %>
            <% end %>
          </td>
          <td>
            <% if organizer_signed_in? %>
              <% if d.is_a? CardGrant %>
                <%= render "card_grant_actions", card_grant: d %>
              <% else %>
                <%# the link below can be changed back to `d.local_hcb_code.hashid` after hcb_codes are converted into proper associations and are preloaded in the controller %>
                <%= link_to "Details", hcb_code_url(d.hcb_code), data: Flipper.enabled?(:hcb_code_popovers_2023_06_16, current_user) ? { behavior: "modal_trigger", modal: "transfer_modal_#{d.hcb_code}" } : nil %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @transfers %>

</article>
<% else %>
  <%= blankslate "No transfers yet" %>
<% end %>

<% if organizer_signed_in? %>
  <%= render "transfer_modal" %>
<% end %>
