<% title "Sending money for #{@event.name}" %>
<% page_md %>
<%= render 'events/nav' %>

<h1 class="heading">
  Send money

  <div class="flex items-center justify-center ml0 md-ml-auto mt1 md-mt0">
    <div class="flex items-center justify-center">
      <%= link_to 'Send a check', new_event_check_path(@event), class: 'btn bg-success mr1' %>
      <%= link_to 'Send direct deposit', new_event_ach_transfer_path(@event), class: 'btn bg-info' %>
    </div>
  </div>
</h1>

<div class="flex items-center info mb2">
  <%= inline_icon 'important', size: 32, class: 'mr1' %>
  <div class="info">
    Making a reimbursement to someone? Checks aren't for reimbursements, but visit the
    <%= link_to 'reimbursements page', event_reimbursements_path(@event), class: 'info' %>
    to learn how.
  </div>
</div>

<ul class="grid grid--spacious">
  <% if @transfers.size == 0 %>
    <%= blankslate 'You haven’t sent any money yet—get started with the buttons above.' %>
  <% end %>
  <% @transfers.each do |transfer| %>
    <%= link_to transfer do %>
      <li>
        <%= creator_bar transfer %>
        <% if transfer.is_a? Check %>
          <div class="transfer-preview transfer-preview--check">
            <p class="mt0 mb1 flex items-start">
              <span class="h5 caps slate bold">Check</span>
              <span class="ml-auto badge bg-<%= transfer.state %>"><%= transfer.status_text %></span>
            </p>
            <div class="flex items-start mt2 mb1">
              <strong class="flex-auto h3 line-height-3">
                <%= transfer.lob_address.name %>
              </strong>
              <span class="block h1 line-height-1"><%= render_money_short transfer.amount %></span>
            </div>
            <p class="h5 slate mt0 mb0"><%= transfer.memo %></p>
          </div>
        <% elsif transfer.is_a? AchTransfer %>
          <div class="card transfer-preview">
            <p class="mt0 mb1 flex items-start">
              <span class="h5 caps slate bold">ACH Transfer</span>
              <span class="ml-auto badge bg-<%= transfer.state %>"><%= transfer.status_text %></span>
            </p>
            <div class="flex items-start mt2 mb1">
              <strong class="flex-auto h3 line-height-3">
                <%= transfer.recipient_name %>
              </strong>
              <span class="block h1 line-height-1"><%= render_money_short transfer.amount %></span>
            </div>
            <p class="h5 slate mt0 mb0"><%= transfer.bank_name %> <%= transfer.routing_number %></p>
          </div>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
