<% title "Transfers for #{@event.name}" %>
<% page_md %>
<%= render "events/nav", selected: :transfers %>

<h1 class="heading">
  <span class="flex items-center">
    Transfers
    <%= badge_for @transfers.total_count, class: "bg-muted" %>
  </span>

  <% if organizer_signed_in? %>
    <%= link_to "Reimbursement", event_reimbursements_path(@event), class: "btn" %>

    <%= link_to event_transfers_new_path(event_id: @event.slug), class: "btn bg-success", data: { behavior: "modal_trigger", modal: "send_transfer" } do %>
      <%= inline_icon "payment-transfer" %>
      Send
    <% end %>
  <% end %>
</h1>

<div class="statset mt3 mb2">
  <div class="stat stat--small">
    <span class="stat__label">Total</span>
    <span class="stat__value"><%= render_money_amount @stats[:deposited] %></span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">On the way</span>
    <span class="stat__value"><%= render_money_amount @stats[:in_transit] %></span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">Canceled</span>
    <span class="stat__value"><%= render_money_amount @stats[:canceled] %></span>
  </div>
</div>

<hr>

<div style="text-align: center;">
  <%= link_to "All", "?filter=all", class: "filterbar__item", "aria-selected": !["deposited", "in_transit", "canceled"].include?(params[:filter]), role: "tab" %>
  <%= link_to "Deposited", "?filter=deposited", class: "filterbar__item", "aria-selected": params[:filter] == "deposited", role: "tab" %>
  <%= link_to "In Transit", "?filter=in_transit", class: "filterbar__item", "aria-selected": params[:filter] == "in_transit", role: "tab" %>
  <%= link_to "Canceled", "?filter=canceled", class: "filterbar__item", "aria-selected": params[:filter] == "canceled", role: "tab" %>
</div>

<%= form_with(model: nil, local: true, method: :get) do |form| %>
  <div class="filterbar flex flex-wrap items-center width-100">

    <%= form.text_field :q, placeholder: "Search…", class: "flex-auto md-mr2", style: "width auto; max-width: none;", value: params[:q] %>

  </div>
<% end %>

<% if @transfers.size > 0 %>
<article class="table-container">

  <table>
    <thead>
      <tr>
        <th></th>
        <th>STATUS</th>
        <th>DATE</th>
        <th>TO</th>
        <th style="text-align: right;">AMOUNT</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @transfers.each do |d| %>
        <tr>
          <td class="transaction__icon">
            <% if d.is_a?(Check) %>
              <span class="tooltipped tooltipped--e" aria-label="Mailed check">
                <%= inline_icon 'email' %>
              </span>
            <% elsif d.is_a?(AchTransfer) %>
              <span class="tooltipped tooltipped--e" aria-label="ACH transfer">
                <%= inline_icon 'bank-account' %>
              </span>
            <% else %>
              <span class="tooltipped tooltipped--e" aria-label="Hack Club Bank transfer">
                <%= inline_icon 'door-leave' %>
              </span>
            <% end %>
          </td>
          <td>
            <span class="ml0 badge bg-<%= d.state %>"><%= d.state_text.capitalize %></span>
          </td>
          <td>
            <%= format_date d.created_at %>
          </td>
          <td style="max-width: 40ch;" class="overflow-hidden truncate" title="<%= d.name %>">
            <% if d.is_a?(Disbursement) %>
              <strong>
                <% if d.destination_event.is_public? || organizer_signed_in?(d.destination_event) %>
                  <%= link_to d.destination_event.name, d.destination_event %>
                <% else %>
                  <%= d.destination_event.name %>
                <% end %>
              </strong>
              for
            <% end %>
            <%= d.name %>
          </td>
          <td style="text-align: right;">
            <%= render_money(d.amount) %>
          </td>
          <td>
            <%# the link below can be changed back to `d.local_hcb_code.hashid` after hcb_codes are converted into proper associations and are preloaded in the controller %>
            <%= link_to "Details", hcb_code_url(d.hcb_code) if organizer_signed_in? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @transfers %>

</article>
<% else %>
  <%= blankslate 'No transfers yet' %>
<% end %>

<section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="send_transfer">
  <%= modal_header "Transfer money" %>
  <%= render "transfer_form" %>
</section>
