<% if organizer_signed_in? %>
  <%= turbo_stream_from @event, :transactions %>
  <%= turbo_stream_from @event, :tags %>
  <% turbo_refreshes_with method: :morph, scroll: :preserve %>
<% end %>

<% if @event&.is_public %>
  <% content_for :head do %>
    <% img = "https://hcb-og.hackclub.com/api/embeds/#{@event.slug}" %>
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="<%= img %>">
    <meta name="twitter:image" content="<%= img %>">
    <meta property="og:site_name" content="HCB">
    <meta property="og:url" content="<%= event_url(@event) %>">
    <meta property="og:title" content="<%= @event.name %>">
    <meta name="twitter:title" content="<%= @event.name %>">
    <% description = "#{@event.name}'s finances have been made public on HCB so you can see how their money is spent." %>
    <meta property="og:description" content="<%= description %>">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="description" content="<%= description %>">
  <% end %>
<% end %>

<% title "Transactions for #{@event.name}" %>

<%= render "nav", selected: :transactions %>

<%# Demo mode callout thing %>
<% if organizer_signed_in? && @event.demo_mode %>
  <div class="card border b--info pb0 mt3" style="text-wrap: pretty;" id="playground-callout" data-tour-step="playground_mode">
    <p class="mt0">
      <strong>Welcome to Playground Mode</strong>
      <br>
      While in Playground mode, explore the dashboard with mock data, and invite your team.
    </p>
  </div>
<% end %>

<h1 class="items-center hidden md:flex">
  Financials
  <% if admin_signed_in? %>
    <% admin_tool("p0 badge", "span") do %>
      <span class="m0 badge bg-muted">
        #<%= @event.id %>
      </span>
      <span class="m0 badge bg-muted ml1">
        SL<%= @event.service_level %>
      </span>
    <% end %>
  <% end %>
</h1>

<div class="flex items-center details-horiz details-horiz--lg" style="gap: 8px; pointer-events: none;">
  <% if Flipper.enabled?(:event_home_page_redesign_2024_09_21, @event) %>
    <div class="flex items-center details-horiz details-horiz--lg" style="gap: 8px; pointer-events: none;">
      <div class="stat statset__wide" data-tour-step="balance">
        <span class="stat__label">Account balance</span>
        <% if @event.fee_balance_v2_cents < 0
             # this event has a fee credit (owes negative fees) %>
          <span class="stat__value"><%= render_money_amount @event.balance_v2_cents %></span>
          <span class="self-end" style="font-size: 10px;">+$<%= render_money_amount @event.fee_balance_v2_cents.abs %>
            fee credit</span>
        <% else %>
        <span class="stat__value">
          <%= render_money_amount(show_mock_data? ? @mock_total : @event.balance_available_v2_cents) %>
        </span>
        <% end %>
      </div>
    </div>
  <% else %>
    <div
      class="flex"
      style="flex-direction: row; gap: 8px; position: relative;"
      data-controller="balance-graph"
      data-balance-graph-available-value="<%= @event.balance_available_v2_cents %>">
      <div class="stat statset__wide" data-tour-step="balance" data-balance-graph-target="stat">
        <span class="stat__label" data-balance-graph-target="label">Account balance</span>
        <% if @event.fee_balance_v2_cents < 0
             # this event has a fee credit (owes negative fees) %>
          <span class="stat__value" data-balance-graph-target="balance"><%= render_money_amount @event.balance_v2_cents %></span>
          <span class="self-end" style="font-size: 10px;">+$<%= render_money_amount @event.fee_balance_v2_cents.abs %>
            fee credit</span>
        <% else %>
        <span class="stat__value" data-balance-graph-target="balance">
          <%= render_money_amount(show_mock_data? ? @mock_total : @event.balance_available_v2_cents) %>
        </span>
        <% end %>
      </div>

      <div data-nosnippet style="position: absolute; top: 0px; left: 0px; visibility: hidden;" aria-hidden="true" class="stat statset__wide" data-tour-step="balance" data-balance-graph-target="size">
        <span class="stat__label">Account balance</span>
        <% if @event.fee_balance_v2_cents < 0
             # this event has a fee credit (owes negative fees) %>
          <span class="stat__value" data-balance-graph-target="sizing"><%= render_money_amount @event.balance_v2_cents %></span>
          <span class="self-end" style="font-size: 10px;">+$<%= render_money_amount @event.fee_balance_v2_cents.abs %>
            fee credit</span>
        <% else %>
        <span class="stat__value" data-balance-graph-target="sizing">
          <%= render_money_amount(show_mock_data? ? @mock_total : @event.balance_available_v2_cents) %>
        </span>
        <% end %>
      </div>

      <svg data-balance-graph-target="graph" id="balance-chart" class="sparkline sparkline--filled" height="66" stroke-width="2"></svg>
    </div>

    <div style="pointer-events: all; z-index: 10;">
      <div class="flex items-center">
        <% if @organizers.any? %>
          <div class="flex items-center">
            <% @organizers.limit(5).each do |position| %>
              <div class="avatar-grow line-height-0 tooltipped tooltipped--s mr1" aria-label="<%= position.user == current_user ? current_user_flavor_text.sample : position.user.name %>">
                <%= avatar_for position.user, 36 %>
              </div>
            <% end %>
          </div>
          <% if @event.organizer_positions.count > 5 %>
            <%= link_to event_team_path(@event), class: "pop" do %>
              +<%= @event.organizer_positions.count - 5 %>
            <% end %>
          <% end %>
          <%= pop_icon_to "member-add", event_team_path(@event), class: "ml1", data: { "tour-step" => "invite" } %>
        <% else %>
          <p class="slate bold h3 mr2">No organizers invited yet</p>
          <%= pop_icon_to "member-add", event_team_path(@event) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= render "events/public_message" %>

<main data-controller="transactions">
  <h2 class="heading pb-0 border-b-0">
    <span style="flex-grow: 1">Transactions</span>
    <% if organizer_signed_in? && Flipper.enabled?(:transaction_tags_2022_07_29, @event) && @event.tags.size > 0 %>
      <div
        data-controller="menu"
        data-menu-append-to-value="turbo-frame#ledger"
        data-menu-placement-value="bottom-end"
        data-transactions-target="tagger"
        class="display-none">
        <button
          type="button"
          class="btn btn-small bg-info menu__toggle menu__toggle--arrowless overflow-visible z1"
          data-menu-target="toggle" data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown">
          <%= inline_icon "sticker", size: 16 %>
          <span class="nowrap">Toggle Tags</span>
        </button>
        <div class="menu__content menu__content--2 menu__content--compact menu__content--left h6" data-menu-target="content">
          <% @event.tags.each do |tag| %>
            <div class="flex items-center" data-tag="<%= tag.id %>">
              <button class="menu__action" title="Apply this tag" data-action="click->transactions#addTag menu#close" data-tag-id="<%= tag.id %>">
                <%= tag.label %>
              </button>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @event.canonical_transactions.any? %>
      <div data-controller="menu" data-menu-placement-value="bottom-end">
        <button
          type="button"
          class="btn bg-info menu__toggle menu__toggle--arrowless overflow-visible z1"
          data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown"
          data-menu-target="toggle">
          <%= inline_icon "download", size: 16 %>
          Export
        </button>
        <div class="menu__content menu__content--2 h5" data-menu-target="content">
          <%= link_to "All transactions (CSV)", transactions_exports_path(event: @event, format: :csv), target: :_blank %>
          <%= link_to "All transactions (JSON)", transactions_exports_path(event: @event, format: :json), target: :_blank %>
          <%= link_to "All transactions (Ledger)", transactions_exports_path(event: @event, format: :ledger), target: :_blank %>
          <%= link_to "Monthly statements", event_statements_path(@event) %>
        </div>
      </div>
    <% end %>
  </h2>

  <%= render "pinned_transactions" %>

  <%= turbo_frame_tag :ledger, data: { turbo_action: "advance" } do %>

    <%= render partial: "filter" %>

    <% if @pending_transactions.any? || @transactions.any? || show_mock_data? %>
      <div class="table-container" data-tour-step="transactions">
        <table>
          <thead>
          <tr>
            <th><%# icon %></th>
            <th>Date</th>
            <th>Description</th>
            <th class="right-align">Amount</th>
            <% if @show_running_balance %>
              <th>Running Balance</th>
            <% end %>
            <th><%# user avatar %></th>
          </tr>
          </thead>
          <tbody data-behavior="transactions">
          <%= render "pending_fee_transaction" if @event.fronted_fee_balance_v2_cents > 0 %>

          <%= render partial: "canonical_pending_transactions/canonical_pending_transaction", collection: @pending_transactions, as: :pt, locals: { event: @event, show_amount: true, selectable: Flipper.enabled?(:transaction_tags_2022_07_29, @event) && @event.tags.size > 0, show_author_column: true } %>

          <%= render partial: "canonical_transactions/canonical_transaction", collection: @transactions, as: :ct, locals: { event: @event, show_amount: true, selectable: Flipper.enabled?(:transaction_tags_2022_07_29, @event) && @event.tags.size > 0, show_author_column: true } %>
          </tbody>
        </table>
      </div>
      <%= paginate @transactions %>
    <% else %>
      <%= blankslate "No transactions yet" %>
    <% end %>
  <% end %>
</main>
