<%# locals: (goal: nil, percentage: 0, is_email: false, block: nil) %>

<%= render "announcements/blocks/block_shell", block:, type: "donationGoal", is_email:, title: "#{block.event.name}'s donation goal" do %>
  <% if goal.nil? %>
    <p>This organization doesn't have a donation goal yet! Organizers can configure one in the organization settings.</p>
  <% else %>
    <% if is_email %>
      <p><strong><%= render_money goal.progress_amount_cents %></span> raised of <span class="font-bold"><%= render_money goal.amount_cents %></span> goal</strong></p>
    <% else %>
      <p class="text-center italic mt-0">
        <span class="font-bold"><%= render_money goal.progress_amount_cents %></span> raised of <span class="font-bold"><%= render_money goal.amount_cents %></span> goal
      </p>
      <div class="bg-gray-200 dark:bg-neutral-700 rounded-full w-full">
        <div class="h-full bg-primary rounded flex items-center justify-center" style="width: <%= percentage * 100 %>%">
          <p class="text-sm text-black p-[1px] my-0"><%= number_with_precision(percentage * 100, precision: 1) %>%</p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
