<%= form_with(model: sponsor, local: true) do |form| %>
  <% if sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sponsor.errors.size, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
      <% sponsor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% admin_tools do %>
    <div class="field">
      <%= form.label :event_id %>
      <%= form.collection_select(:event_id, Event.all, :id, :name, prompt: 'Select event…') %>
    </div>
  <% end %>
  <%= form.hidden_field :event_id, value: params[:event_id] unless admin_signed_in? %>

  <div class="field">
    <%= form.label :name, "Name (use company name if applicable)" %>
    <%= form.text_field :name, placeholder: 'Raviga Capital' %>
  </div>

  <div class="field">
    <%= form.label :contact_email, 'Contact email (email to send invoice to)' %>
    <%= form.email_field :contact_email, placeholder: 'peter.gregory@ravigacapital.com' %>
  </div>

  <div class="field">
    <%= form.label :address_line1, 'Street address' %>
    <%= form.text_field :address_line1, placeholder: '1 Letterman Drive' %>
  </div>

  <div class="field">
    <%= form.text_field :address_line2, placeholder: 'Suite 500' %>
  </div>

  <div class="field">
    <%= form.label :address_city, 'City' %>
    <%= form.text_field :address_city, placeholder: 'San Francisco' %>
  </div>

  <div class="field">
    <%= form.label :address_state, 'State' %>
    <%= form.text_field :address_state, placeholder: 'CA' %>
  </div>

  <div class="field">
    <%= form.label :address_postal_code, 'ZIP' %>
    <%= form.text_field :address_postal_code, placeholder: '94129' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
