<h1 class="heading">
  Sponsors
  <%= link_to 'New Sponsor', new_sponsor_path, class: 'btn bg-success' %>
</h1>

<ul class="list">
  <% @sponsors.each do |s| %>
    <%= link_to s do %>
      <li class="transaction--<%= s.status %>">
        <strong><%= "#{s.event.name}: " if s.event %><%= s.name %></strong>
        <span class="muted"><%= s.status_description %></span>
      </li>
    <% end %>
  <% end %>
</ul>
