<%= link_to @sponsor.event.name, @sponsor.event, class: 'breadcrumb' %>

<h1 class="heading">
  <%= @sponsor.name %>
  <%= link_to 'Edit', edit_sponsor_path(@sponsor), class: 'btn bg-info' %>
</h1>

<p>
  <strong>Contact email:</strong>
  <%= mail_to @sponsor.contact_email %>
</p>

<p>
  <strong>Address:</strong><br />
  <%= @sponsor.address_line1 %><br />
  <% if @sponsor.address_line2.present? %>
    <%= @sponsor.address_line2 %><br />
  <% end %>
  <%= @sponsor.address_city %>, <%= @sponsor.address_state %> <%= @sponsor.address_postal_code %>
</p>

<% if admin_signed_in? %>
<p>
  <%= link_to 'Open in Stripe dashboard', @sponsor.stripe_dashboard_url %>
</p>
<% end %>

<h2 class="heading">
  Invoices
  <%= link_to 'New Invoice', new_sponsor_invoice_path(@sponsor), class: 'btn bg-success' %>
</h2>

<% if @sponsor.invoices.any? %>
  <ul class="list">
    <% @sponsor.invoices.each do |invoice| %>
      <%= link_to invoice do %>
        <li class="transaction--<%= invoice.paid ? 'positive' : 'negative' %>">
          <strong>
            <%= render_money invoice.total %> – <span class="<%= invoice.paid ? 'success' : 'error' %>">
              <%= invoice.paid ? 'PAID' : 'UNPAID' %>
            </span>
          </strong>
          <span class="muted">Due <%= invoice.due_date.to_date %></span>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <%= blankslate 'No invoices yet' %>
<% end %>
