<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= link_to @sponsor.event.name, @sponsor.event %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sponsor.name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @sponsor.contact_email %>
</p>

<p>
  <strong>Address:</strong><br />
  <%= @sponsor.address_line1 %><br />
  <% if @sponsor.address_line2.present? %>
    <%= @sponsor.address_line2 %><br />
  <% end %>
  <%= @sponsor.address_city %>, <%= @sponsor.address_state %> <%= @sponsor.address_postal_code %>
</p>

<p>
  <strong>Stripe customer:</strong>
  <%= @sponsor.stripe_customer_id %>
</p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
