<p>
  <strong>Event:</strong>
  <%= link_to @sponsor.event.name, @sponsor.event %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sponsor.name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @sponsor.contact_email %>
</p>

<p>
  <strong>Address:</strong><br />
  <%= @sponsor.address_line1 %><br />
  <% if @sponsor.address_line2.present? %>
    <%= @sponsor.address_line2 %><br />
  <% end %>
  <%= @sponsor.address_city %>, <%= @sponsor.address_state %> <%= @sponsor.address_postal_code %>
</p>

<p>
  <strong>Stripe dashboard link:</strong>
  <%= link_to 'click here', @sponsor.stripe_dashboard_url %>
</p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>

<h2>Invoices</h2>

<p><%= link_to 'New Invoice', new_sponsor_invoice_path(@sponsor) %></p>

<% unless @sponsor.invoices.size.zero? %>
<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Paid</th>
    <th>View in Stripe</th>
    <th>Full Info</th>
  </tr>
  <% @sponsor.invoices.each do |invoice| %>
    <tr>
      <td><%= invoice.created_at.to_date %></td>
      <td><%= render_money invoice.total %></td>
      <td><%= invoice.paid %></td>
      <td><%= link_to 'Click', invoice.stripe_dashboard_url %></td>
      <td><%= link_to 'Click', invoice %></td>
    </tr>
  <% end %>
  </table>
<% end %>
