<% page_sm %>
<%= render "events/nav" %>

<h1 class="heading">
  <%= @sponsor.name %>
  <%= link_to "Edit", edit_sponsor_path(@sponsor), class: "btn bg-info" %>
</h1>

<section class="details">
  <p>
    <strong>Contact email</strong>
    <%= mail_to @sponsor.contact_email %>
  </p>

  <p>
    <strong>Address</strong>
    <%= @sponsor.address_line1 %><br>
    <% if @sponsor.address_line2.present? %>
      <%= @sponsor.address_line2 %><br>
    <% end %>
    <%= @sponsor.address_city %>, <%= @sponsor.address_state %> <%= @sponsor.address_postal_code %><br>
    <%= @sponsor.address_country %>
  </p>
</section>

<% admin_tool do %>
<p>
  <%= link_to "Open in Stripe dashboard", @sponsor.stripe_dashboard_url, target: "_blank" %>
</p>
<% end %>

<h2 class="heading">
  Invoices
  <%= link_to "New Invoice", new_event_invoice_path(@event), class: "btn bg-success" %>
</h2>

<% if @sponsor.invoices.any? %>
  <ul class="list">
    <% @sponsor.invoices.each do |invoice| %>
      <%= link_to invoice_path(invoice) do %>
        <li>
          <strong>
            <%= render_money invoice.total %> – <span class="<%= invoice.paid_v2? ? "success" : "error" %>">
              <%= invoice.paid_v2? ? "PAID" : "UNPAID" %>
            </span>
          </strong>
          <span class="muted">Due <%= invoice.due_date.to_date %></span>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <%= blankslate "No invoices yet" %>
<% end %>
