<div class="flex flex-col gap-4">
  <% admin_tool do %>
    <strong>Org’s slug history:</strong> <%= @event.slugs.pluck(:slug).join ", " %>
  <% end %>

  <%= render partial: "admin_viewer", locals: { record: @event } %>

  <% admin_tool do %>
    <details>
      <summary>Audit log</summary>

      <%= turbo_frame_tag :audit_log, src: audit_log_event_path(@event), loading: :lazy do %>
        <p class="center muted mt3 h3">One moment...</p>
      <% end %>
    </details>
  <% end %>

  <% admin_tool do %>
    <details>
      <summary>Available plans</summary>

      <% Event::Plan.available_plans.each do | plan | %>
        <p><strong><%= plan.new.label %></strong>: <%= plan.new.description %></p>
      <% end %>
    </details>
  <% end %>

  <%= form_with(model: event, local: true, class: "mb3") do |form| %>
    <%= form_errors event, "organization" %>
    <% admin_tool do %>
      <%= link_to (event.hidden? ? "Un-hide project" : "Hide project"),
                  event_toggle_hidden_path(event),
                  method: :put,
                  "data-confirm": "Do you really want to #{event.hidden? ? "un-hide" : "hide"} #{event.name}?",
                  class: "btn bg-success mb2" if event.persisted? %>

      <div class="field" id="admin_settings">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :plan, capture { %>
          <% if @event.plan.present? %>
            Current plan
            <% if !@event.plan.was_backfilled? %>
              (started on <%= format_date @event.plan.created_at %>)
            <% else %>
              (backfilled)
            <% end %>
          <% else %>
            Assign a plan
          <% end %>
        <% } %>
        <%= form.select :plan, Event::Plan.available_plans.map { |p| [p.new.label, p.name] }, selected: @event.plan&.type %>
      </div>

      <div class="field">
        <%= form.label :stripe_card_shipping_type, "Card shipping method" %>
        <%= form.collection_select :stripe_card_shipping_type, Event.stripe_card_shipping_types, :first, :first %>
      </div>

      <div class="field">
        <%= form.label :postal_code %>
        <%= form.text_field :postal_code, placeholder: "90069" %>
      </div>

      <div class="field">
        <%= form.label :country %>
        <%= form.collection_select :country, Event.countries_for_select, :first, :last, { include_blank: "Select a country" } %>
      </div>

      <div class="field">
        <%= form.label :risk_level %>
        <%= form.collection_select :risk_level, Event.risk_levels.map { |k, _v| [k.humanize.capitalize, k] }, :last, :first, { include_blank: "Select a risk level" } %>
      </div>

      <div class="field">
        <%= form.label :point_of_contact_id, capture { %>
          Point of Contact <%= link_to "(Me!)", event_claim_point_of_contact_path(@event), method: :post %>
        <% } %>
        <%= form.collection_select :point_of_contact_id, User.admin.or(User.where(id: @event.point_of_contact_id)).order(:email), :id, :email %>
      </div>

      <div class="field field--checkbox">
        <%= form.check_box :demo_mode, switch: true %>
        <%= form.label :demo_mode, "Is in Playground Mode?" %>
      </div>

      <div class="field field--checkbox">
        <%= form.check_box :can_front_balance, switch: true %>
        <%= form.label :can_front_balance, "Front incoming transactions?" %>
      </div>

      <div class="action">
        <%= form.submit "Update", class: ("disabled" unless policy(@event).update?) %>
      </div>
    <% end %>
  <% end %>

  <% admin_tool do %>
    <h3 id="admin_fees" class="mb2 mt1">Custom fees</h3>
    <%= form_with(model: [@event, Fee], local: true, class: "mb3", data: { turbo_frame: "_top" }) do |form| %>
      <div class="field">
        <%= form.label :memo %>
        <%= form.text_field :memo, placeholder: "Fee for inbound wire.", required: true %>
      </div>
      <div class="field">
        <%= form.label :amount, "Amount" %>
        <%= form.number_field :amount, placeholder: 100, min: 1, step: 0.01, required: true %>
      </div>
      <div class="action">
        <%= form.submit "Charge fee", class: ("disabled" unless policy(@event.fees.build).create?) %>
      </div>
    <% end %>
    <details>
      <summary>Fee history</summary>
      <ul>
          <% @event.fees.where(reason: :manual).find_each do | fee | %>
            <li><p><strong><%= render_money fee.amount_cents_as_decimal %> on <%= format_date fee.created_at %></strong>: <%= fee.memo %></p></li>
          <% end %>
      </ul>
    </details>
  <% end %>

  <% unless @event.plan.exempt_from_wire_minimum? %>
    <% admin_tool do %>
      <h3 id="admin_fees" class="mb2 mt1">Wire minimum exemption</h3>
      <% if Flipper.enabled?(:exempt_from_wire_minimum, @event) %>
        <%= link_to "Disable", disable_feature_path(feature: :exempt_from_wire_minimum, event_id: @event.id), method: :post, class: "btn bg-accent", data: { turbo_method: "post" } %>
      <% else %>
        <%= link_to "Enable", enable_feature_path(feature: :exempt_from_wire_minimum, event_id: @event.id), method: :post, class: "btn bg-info" %>
      <% end %>
    <% end %>
  <% end %>

  <% admin_tool do %>
    <%= render "events/settings/admin/tags" %>
  <% end %>

  <% admin_tool do %>
    <%= button_to "Delete organization", event_path(@event), method: :delete, class: "btn bg-error", disabled: !@event.demo_mode?, data: { confirm: "⚠️ Are you sure you'd like to delete this organization?" } %>
    <% unless @event.demo_mode? %>
      <p class="h5 muted mt0 mb1">
        Only demo accounts can be deleted.
      </p>
    <% end %>
  <% end %>

  <% admin_tool do %>
    <%= render "comments/list", comments: @event.comments %>
    <%= render "comments/form", commentable: @event, admin_only: true %>
  <% end %>

</div>
