<% if @show_tiers %>
  <% if params[:tier_id] || params[:custom_amount] %>
    <div class="max-w-sm mx-auto">
      <%= link_to upsert_query_params(tier_id: nil, custom_amount: nil), class: "mt-10 inline-flex -ml-2 items-center no-underline gap-2" do %>
        <%= inline_icon "view-back" %>
        Back
      <% end %>
    </div>
    <div class="card max-w-sm w-full mx-auto border border-2 border-blue relative shadow-none mt-3 mb-5">
      <div class="flex items-center justify-center absolute top-0 right-0 m-3 bg-blue rounded-full p-1 text-white">
        <%= inline_icon "check-thin", size: 24 %>
      </div>
      <h2 class="mt-3 mb-4">
        <%= @tier&.name || "Custom" %>
      </h2>
      <p class="text opacity-60 mb-3 flex-1 max-w-full break-words whitespace-normal">
        <%= @tier&.description || "Pay a custom amount, one-time or recurring, to support #{@event.name}" %>
      </p>
      <% if @tier %>
        <div class="flex items-end gap-1">
          <span class="text-xl font-bold">
            <%= render_money_short @tier.amount_cents %>
          </span>
          <span class="opacity-60">per month</span>
        </div>

        <%= link_to start_donation_tier_donations_path(@event, @tier), class: "btn btn-primary mt-4 w-full", onclick: "event.preventDefault();try {navigator.share({ text: 'Donate to ' + #{@event.name.to_json}, url: window.location.href })} catch (e) { navigator.clipboard.writeText(window.location.href); alert('Copied URL to clipboard!'); }" do %>
          <%= inline_icon "share" %>
          Share link
        <% end %>
      <% end %>
    </div>
  <% else %>
    <h2 class="mt-8 px-5 sm:px-2">Make a contribution</h2>
    <div class="mt-4 px-2 -mx-2 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 pb-2 mx-auto">
      <div class="card w-full flex-1 flex flex-col">
        <h3 class="mb-0 mt-0">
          Custom
        </h3>
        <p class="text opacity-60 mb-2 flex-1 max-w-full break-words whitespace-normal">
          Pay a custom amount, one-time or recurring, to support <%= @event.name %>
        </p>
        <div class="flex-1"></div>
        <%= link_to upsert_query_params(custom_amount: true), class: "w-full btn btn-primary mt-auto" do %>
          Continue
        <% end %>
      </div>
      <% @event.donation_tiers.each do |donation_tier| %>
        <div class="card w-full flex-1 shrink-0 flex flex-col">
          <h3 class="mb-0 mt-0">
            <%= donation_tier.name %>
          </h3>
          <p class="text opacity-60 mb-3 flex-1 max-w-full break-words whitespace-normal">
            <%= donation_tier.description %>
          </p>
          <div class="flex-1"></div>
          <%= link_to start_donation_tier_donations_path(@event, donation_tier), class: "w-full btn btn-primary mt-auto" do %>
            <%= render_money_short donation_tier.amount_cents %><span class="font-bold text-base opacity-60">/month</span>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
