<% transaction = donation.payout.t_transaction %>
<% @donation = donation %>
<% refund = donation&.fee_reimbursement %>
<% refund_t = refund&.t_transaction %>
<tr
  class="transaction--positive invoice--expanded-parent"
  data-filter="<%= transaction.filter_data.to_json %>"
  data-id="<%= transaction.id %>"
>
  <td class="transaction__icon tooltipped tooltipped--e" aria-label="Donation payment">
    <%= inline_icon 'support' %>
  </td>
  <td>
    <%= transaction.date %>
  </td>
  <td>
    <%= link_to "Donation from #{donation.name}", donation %> for <%= render_money donation.amount %>
  </td>
  <td>
    <%= list_badge_for donation.comments.size, 'note', 'post', optional: true %>
  </td>
  <td>
    <% if refund_t %>
      <%= render_money donation.payout.amount + refund_t&.amount %>
    <% else %>
    <i><%= render_money donation.payout.amount %></i>
    <span class="muted">+<%= render_money refund.amount %> in transit</span>
    <% end %>
  </td>
  <td>
    <%= link_to 'Details', donation, class: 'underline' if organizer_signed_in? %>
  </td>
</tr>
