<% transaction = donation.payout.t_transaction %>
<% @donation = donation %>
<tr
  class="transaction--positive invoice--expanded-parent"
  data-behavior="filterbar_row parent_expandable_row"
  data-filter="<%= transaction.filter_data.to_json %>"
  data-id="<%= transaction.id %>"
>
  <td class="transaction__icon tooltipped tooltipped--e" aria-label="Donation payment">
    <%= inline_icon 'support' %>
  </td>
  <td>
    <%= transaction.date %>
  </td>
  <td>
    <%= link_to "Donation from #{donation.name}", donation %> for <%= render_money donation.amount %>
  </td>
  <td>
    <%= list_badge_for donation.comments.size, 'note', 'post', optional: true %>
  </td>
  <td>
    <%= render_money donation.amount %>
  </td>
  <td>
    <%= link_to 'Details', transaction, class: 'underline' if organizer_signed_in? %>
  </td>
</tr>
