<% title "Give to " + @event.name %>
<% page_sm %>
<% no_app_shell %>

<%= render "header" %>

<%= turbo_frame_tag :donation do %>
  <div class="card mb3 mt3">
    <p class="mt1">
      Hi <strong><%= @donation.name(show_anonymous: true) %></strong>,
    </p>

    <p class="mb2">
      Please enter your payment information for your contribution of
      <strong><%= render_money @donation.amount %></strong>.
    </p>

    <div
      data-controller="stripe"
      data-stripe-api-key-value="<%= StripeService.publishable_key %>"
      data-stripe-client-secret-value="<%= @donation.stripe_client_secret %>"
      data-stripe-return-url-value="<%= finished_donation_donations_url(@event, @donation.url_hash, { background: @background }.compact_blank) %>"
      data-action="theme-toggle@window->stripe#themeToggle">

      <div data-stripe-target="errors"></div>

      <%= form_with data: { action: "stripe#submit:prevent" } do |form| %>
        <div data-stripe-target="element"></div>

        <div class="actions center">
          <button type="submit" class="btn btn-success w-100">
            Donate <%= render_money @donation.amount %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= render "footer" %>
