<% title "Give to " + @event.name %>
<% page_sm %>
<% no_app_shell %>

<%= render "header" if signed_in? %>

<div class="card mb3 <%= signed_in? ? "mt3" : "mt6" %> pt3 pb3">
  <%= inline_icon :checkmark, size: 48, class: "success block mx-auto mb1" %>
  <h2 class="border-none center mt1 ml0 mr0 regular">Thanks for donating!</h2>
  <p class="center secondary">
    Your generous donation of <%= render_money @donation.amount %> to <%= @event.name %> is on its way. We'll send a receipt to <%= mail_to @donation.email %> shortly.
  </p>
</div>

<% if @background.present? %>
  <%# @background is defined in the donations controller's check_background_param method %>
  <%# it's used for organisations to set a custom background colour when embedding the form %>
  <style>
    body {
      background-color: #<%= @background %>!important;
    }
  </style>
<% end %>

<%= render "footer" %>
