<% title 'Give to ' + @event.name %>
<% page_sm %>
<% no_app_shell %>

<a href="<%= start_donation_donations_path(@event.slug) %>" class="black text-decoration-none">
  <h1 class="border-none center mt3 mb2">
    <div class="h2">Give to</div>
    <div class="h1"><%= @event.name %></div>
  </h1>
</a>

<blockquote class="medium">
  <%= @event.donation_page_message %>
</blockquote>

<%= render 'donation_form', donation: @donation %>

<%= render 'footer' %>
