<% title "Give to " + @event.name %>
<% page_sm %>
<% no_app_shell %>

<% content_for :head do %>
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:site_name" content="HCB">
  <meta property="og:url" content="<%= start_donation_donations_url @event %>">
  <meta property="og:title" content="Donate to <%= @event.name %>">
  <meta name="twitter:title" content="Donate to <%= @event.name %>">
  <% description = "Donate to #{@event.name}. Your contribution will be tax-deductible." %>
  <meta property="og:description" content="<%= description %>">
  <meta name="twitter:description" content="<%= description %>">
  <meta name="description" content="<%= description %>">
<% end %>

<%= render "events/landing/header" %>

<% if @event.donation_page_message.present? %>
  <div class="container container--sm">
    <div class="card border b--info mt3 mb3 pb0 pt0 public-message">
      <%== MarkdownService.instance.renderer.render @event.donation_page_message %>
    </div>
  </div>
<% end %>

<%= render "donations/donation_goal", donation: @donation %>
<%= render "donations/donation_form", donation: @donation %>

<% if @event.demo_mode? %>
  <div class="container container--sm">
    <div class="card border b--info mt3 mb3 pb0 pt0 public-message">
      <p>
        Your account is in Playground Mode. If you want to try out a live donation page, you can see <%= link_to "our own donation page", "https://hcb.hackclub.com/donations/start/hq" %>.
      </p>
    </div>
  </div>
<% end %>

<%= render "events/landing/footer" %>
