<% title 'Give to ' + @event.name %>
<% page_sm %>
<% no_app_shell %>

<% content_for :head do %>
  <% img = "https://workshop-cards.hackclub.com/Donate%20to%20#{CGI.escape(@event.name)}.png?theme=light&fontSize=225px&brand=Bank" %>
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:image" content="<%= img %>"/>
  <meta name="twitter:image" content="<%= img %>">
  <meta property="og:site_name" content="Hack Club Bank" />
  <meta property="og:url" content="<%= start_donation_donations_url @event %>">
  <meta property="og:title" content="Donate to <%= @event.name %>">
  <meta name="twitter:title" content="Donate to <%= @event.name %>">
  <% description = "Donate to #{@event.name}. Your contribution will be tax-deductible." %>
  <meta property="og:description" content="<%= description %>">
  <meta name="twitter:description" content="<%= description %>">
  <meta name="description" content="<%= description %>">
<% end %>

<action
  role="button"
  data-behavior="toggle_theme"
  class="muted absolute top-0 right-0 m2 pointer no-select tooltipped tooltipped--l"
  aria-label="Toggle dark mode" tabindex="0">
  <%= inline_icon 'moon', size: home_action_size %>
  <%= inline_icon 'moon-fill', size: home_action_size, style: 'display: none;' %>
</action>

<a href="<%= start_donation_donations_path(@event.slug) %>" class="black text-decoration-none">
  <h1 class="mt4 mb2 border-none center">
    <span class="h3 caps secondary block">Donate to</span>
    <span class=""><%= @event.name %></span>
  </h1>
</a>

<% if @event.donation_page_message.present? %>
  <div class="container container--sm">
    <div class="card border b--info mt3 mb3 pb0 pt0 public-message">
      <%== MarkdownService.instance.renderer.render @event.donation_page_message %>
    </div>
  </div>
<% end %>

<%= render 'donation_form', donation: @donation %>

<%= render 'footer' %>
