<%= link_to admin_signed_in? ? document : document_download_path(document) do %>
  <li class="card card--hover h-100">
  <div class="overflow-hidden mb-" style="max-height: 270px;">
    <% if document.preview_url %>
      <%= image_tag(document.preview_url, width: 330, style: 'max-width: 100%;') %>
    <% else %>
      <span class="bold h0 absolute" style="opacity: 0.8; color: #8492a6;"><%= document.file.filename.extension %></span>
      <%= image_tag("placeholder-document.svg", width: 300, style: 'max-width: 100%; opacity: 0.5;') %>
    <% end %>
  </div>
    <strong class="brand-sans h3 block mt1 line-height-2"><%= document.name %></strong>
    <%= user_mention document.user %>

  </li>
<% end %>
