<%= link_to auditor_signed_in? ? document : document_download_path(document) do %>
  <li class="card card--hover h-100">
    <div class="overflow-hidden" style="max-height: 270px;">
      <%= render "documents/preview", document: %>
    </div>
    <strong class="font-brand h3 block mt1 line-height-2"><%= document.name %>
      <% if document.archived? %>
        <span class="font-brand h4 mt1 line-height-1" style="color: gray">(Archived)</span>
      <% end %>
    </strong>
    <% unless document.common? %>
      <span class="inline-flex w-100 mt1 items-center muted">
        <%= user_mention document.user %>
        <span class="column right-align">
          <%= document.updated_at.strftime("%b %d, %Y") %>
        </span>
      </span>
    <% end %>
  </li>
<% end %>
