<%= form_with(model: document, local: true) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(document.errors.size, "error") %> prohibited this document from being saved:</h2>

    <ul>
    <% document.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <%= form.hidden_field :event_id, value: document.event_id || params[:event_id] %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label :file %>
    <%= form.file_field :file, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
