<div data-controller="new-document">
  <%= form_with(model: document, local: true) do |form| %>
    <%= form_errors document %>

    <%= form.hidden_field :event_id, value: document.event_id || params[:event_id] %>

    <div class="field">
      <%= form.label :file %>
      <%= form.file_field :file, data: { target: "new-document.file", action: "change->new-document#fileChanged" } %>
    </div>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, required: true, data: { target: "new-document.name" } %>
    </div>

    <div class="field">
      <%= form.label :category %>
      <%= form.select :category, options_for_select(Document.categories.keys.map { |k| [k.humanize, k] }, form.object.category), { include_blank: "Select a category" }, required: false %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
