<head>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700' %>
  <title>Hack Club Fiscal Sponsorship Letter</title>
  <style>
    .container {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 14pt;
      line-height: 1.25;
      position: relative;
    }
    
    a {
      color: #07c;
    }
  </style>
</head>
<body>
  <div class="container">
    <br />
    <div>
      <div style="float: right;">
        <p>
          <b>Hack Club</b><br />
          8605 Santa Monica Boulevard #86294<br />
          West Hollywood, CA 90069<br />
          team@hackclub.com
        </p>
      </div>
      <%= image_tag wicked_pdf_asset_base64('hackclublogo.png') %>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <p style="margin-top: 2rem;"><%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></p>
    <br />
    <p><b><%= @event.name %> Subsidiary Confirmation</b></p>

    <div style="line-height: 1.5;">
      <p>To whom it may concern,</p>
      <p>
        This letter is to verify that The Hack Foundation (d.b.a. Hack Club) is
        acting as the nonprofit fiscal sponsor for <%= @event.name %> through our platform <a href="https://bank.hackclub.com">Hack Club Bank</a>.
      </p>
      <p>
        We have established a restricted fund within our foundation to support their venture and are receiving funds on their behalf. The Hack Foundation is a 501(c)(3) public charity. Our EIN is 81-2908499.
      </p>
      <p>
        Please don't hesitate to contact me with any additional questions. I can
        be reached at <a href="mailto:michael@hackclub.com">michael@hackclub.com</a>.
      </p>
    </div>

    <br />
    <p>
      Best,
    </p>
    <%= image_tag wicked_pdf_asset_base64('michaeldestefanissignature.png') %>
    <p>
      Michael Destefanis<br />
      Director of Hack Club Bank<br />
      Hack Club
    </p>
    <br />
    <br />
    <p style="font-size: 14pt; font-weight: bold; color: #434343; position: fixed; bottom: 24px;">
      By the students, for the students.
    </p>
    <p style="font-size: 12pt; color: #666666; position: fixed; bottom: 0px;">
      Hack Club is a 501(c)(3) public charity. Our nonprofit EIN is 81-2908499.
    </p>
  </div>
</body>
