<% title "Legal documents for #{@event.name}" %>
<% page_md %>
<%= render "events/nav", selected: :documentation %>

<h1>Documents</h1>

<ul class="tab-container">
  <%= settings_tab active: true do %>
    <%= link_to "Legal documents", event_documents_path(@event), data: { turbo: true, turbo_action: "advance" } %>
  <% end %>
  <%= settings_tab do %>
      <%= link_to "Financial statements", event_statements_path(@event), data: { turbo: true, turbo_action: "advance" } %>
  <% end %>
</ul>

<% admin_tool "w-fit mx-auto" do %>
  <%= link_to "Upload a document",
  new_document_path(event_id: @event.slug),
  class: "btn bg-success",
  disabled: !admin_signed_in? %>
<% end %>

<ul class="grid">
  <div class="grid-row text">
    <h3>General documents</h3>
    <div class="grid grid-cols-3 gap-4">
      <% if @event.approved? && !@event.demo_mode? %>
        <%= link_to event_verification_letter_path(event_id: @event.slug, format: "pdf") do %>
          <li class="card card--hover h-100">
            <div class="overflow-hidden" style="max-height: 250px;">
              <%= image_tag event_verification_letter_url(event_id: @event.slug, format: "png"), width: 330, style: "max-width: 100%;" %>
            </div>

            <strong class="h3 block mt1 line-height-2">Verification Letter</strong>
            <%= user_mention @event.point_of_contact %>
          </li>
        <% end if @event.account_number %>
        <%= link_to event_fiscal_sponsorship_letter_path(event_id: @event.slug, format: "pdf") do %>
            <li class="card card--hover h-100 w-fit">
              <div class="overflow-hidden" style="max-height: 250px;">
                <%= image_tag event_fiscal_sponsorship_letter_url(event_id: @event.slug, format: "png"), width: 330, style: "max-width: 100%;" %>
              </div>
              <strong class="h3 block mt1 line-height-2">Fiscal Sponsorship Confirmation</strong>
              <%= user_mention @event.point_of_contact %>
            </li>
          <% end %>
      <% end %>
      <%= render partial: "document", collection: @active_documents&.general %>
      <%= render partial: "document", collection: @active_common_documents.general %>
    </div>

    <h3>Nonprofit status</h3>
    <div class="grid grid-cols-3 gap-4">
      <%= render partial: "document", collection: @active_documents&.nonprofit_status %>
      <%= render partial: "document", collection: @active_common_documents.nonprofit_status %>
    </div>

    <h3>Tax-exemption documents</h3>
    <div class="grid grid-cols-3 gap-4">
      <%= render partial: "document", collection: @active_documents&.tax_exemption %>
      <%= render partial: "document", collection: @active_common_documents.tax_exemption %>
    </div>

    <h3>Forms</h3>
    <div class="grid grid-cols-3 gap-4">
      <%= render partial: "document", collection: @active_documents&.forms %>
      <%= render partial: "document", collection: @active_common_documents.forms %>
    </div>
  </div>
</ul>

<% if @archived_documents.any? || @archived_common_documents.any? %>
  <ul class="list-reset">
    <li class="mb3">
      <details>
        <summary class="cursor-pointer relative mb2">
          <h3 class="inline mb1">Archived Documents</h3>
        </summary>
        <article>
          <ul class="grid">
            <%= render partial: "document", collection: @archived_documents %>
            <%= render partial: "document", collection: @archived_common_documents %>
          </ul>
        </article>
      </details>
    </li>
  </ul>
<% end %>
