<% title "Documents for #{@event.name}" %>
<% page_md %>
<%= render 'events/nav' %>

<h1 class="heading">
  <span class="flex items-center flex-auto">
    Documents
  </span>
  <% admin_tools do %>
    <%= link_to 'Upload a document',
    new_document_path(event_id: @event.slug),
    class: 'btn bg-success my0 block' %>
  <% end %>
</h1>

<ul class="grid">
  <% @documents.each do |d| %>
    <%= link_to admin_signed_in? ? d : document_download_path(d) do %>
      <li class="card">
        <%= image_tag(d.preview_url, width: 330) if d.preview_url %>

        <strong class="brand-sans h3 block line-height-2"><%= d.name %></strong>
        <%= user_mention d.user %>
      </li>
    <% end %>
  <% end %>
  <% Document.common.each do |d| %>
    <%= link_to admin_signed_in? ? d : document_download_path(d) do %>
      <li class="card">
        <%= image_tag(d.preview_url, width: 330) if d.preview_url %>

        <strong class="brand-sans h3 block line-height-2"><%= d.name %></strong>
        <%= user_mention d.user %>
      </li>
    <% end %>
  <% end %>

  <% if @event.has_fiscal_sponsorship_document %>
    <%= link_to event_fiscal_sponsorship_letter_path(event_id: @event.slug, format: 'pdf') do %>
      <li class="card">
        <%= image_tag event_fiscal_sponsorship_letter_url(event_id: @event.slug, format: 'png'), width: 330 %>

        <strong class="brand-sans h3 block line-height-2">Fiscal Sponsorship Confirmation</strong>
        <%= user_mention @event.point_of_contact %>
      </li>
    <% end %>
  <% end %>
</ul>
