<% title "Legal documents for #{@event.name}" %>
<% page_md %>
<%= render "events/nav", selected: :documentation %>

<h1 class="heading">
  <span class="flex items-center flex-auto">
    Legal documents
  </span>
  <% admin_tool do %>
    <%= link_to "Upload a document",
    new_document_path(event_id: @event.slug),
    class: "btn bg-success my0 block" %>
  <% end %>
</h1>

<ul class="grid">
  <%= render @active_documents %>
  <%= render @active_common_documents %>

  <% if @event.approved? && !@event.demo_mode? %>
    <%= link_to event_fiscal_sponsorship_letter_path(event_id: @event.slug, format: "pdf") do %>
      <li class="card card--hover h-100">
        <div class="overflow-hidden" style="max-height: 250px;">
          <%= image_tag event_fiscal_sponsorship_letter_url(event_id: @event.slug, format: "png"), width: 330, style: "max-width: 100%;" %>
        </div>

        <strong class="h3 block mt1 line-height-2">Fiscal Sponsorship Confirmation</strong>
        <%= user_mention @event.point_of_contact %>
      </li>
    <% end %>
  <% end %>
</ul>

<% if @archived_documents.any? || @archived_common_documents.any? %>
  <ul class="list-reset">
    <li class="mb3">
      <details>
        <summary class="cursor-pointer relative mb2">
          <h3 class="inline mb1">Archived Documents</h3>
        </summary>
        <article>
          <ul class="grid">
            <%= render @archived_documents %>
            <%= render @archived_common_documents %>
          </ul>
        </article>
      </details>
    </li>
  </ul>
<% end %>
