<%= link_to @document.event.name, @document.event, class: 'breadcrumb '%>

<h1 class="heading">
  <%= @document.name %>
  <% if (@document.user == current_user) || current_user.admin? %>
    <%= link_to 'Edit', edit_document_path(@document), class: 'btn bg-info' %>
    <%= link_to 'Destroy', @document, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn--destroy' %>
  <% end %>
</h1>

<section class="details">
<p>
  <strong>Download file</strong>
  <%= link_to 'Click here', document_download_path(@document) %>
</p>

<p>
  <strong>Added by:</strong> <%= @document.user.full_name %>
</p>

<% if @document.downloads.any? %>
<ul>
  <% @document.downloads.each do |download| %>
    <li><%= download.user.full_name %> downloaded at <%= download.created_at %></li>
  <% end %>
</ul>
<% end %>
</section>
