<%= link_to @document.event.name, @document.event, class: 'breadcrumb '%>

<h1 class="heading">
  <%= @document.name %>
  <% if (@document.user == current_user) || current_user.admin? %>
    <%= link_to 'Edit', edit_document_path(@document), class: 'btn bg-info' %>
    <%= link_to 'Destroy', @document, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn bg-white primary' %>
  <% end %>
</h1>

<section class="details">
<p>
  <strong>Download file</strong>
  <%= link_to 'Click here', url_for(@document.file), download: true %>
</p>

<p>
  <strong>Added by:</strong> <%= @document.user.full_name %>
</p>
</section>
