<% title @document.name %>
<% page_sm %>

<%= render 'events/nav' %>

<h1 class="heading">
  <%= @document.name %>
  <% if (@document.user == current_user) || current_user.admin? %>
    <%= link_to 'Edit', edit_document_path(@document), class: 'btn bg-info' %>
    <%= link_to 'Destroy', @document, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn--destroy' %>
  <% end %>
</h1>

<section class="details mb3">
<p>
  <strong>Download file</strong>
  <%= link_to 'Click here', document_download_path(@document), target: :_blank %>
</p>

<p>
  <strong>Added by</strong> <%= user_mention @document.user %>
</p>
</section>

<% admin_tools do %>
<% if @document.downloads.any? %>
<h2 class="my0">Download history</h2>
<ul class="list list--unlinked">
  <% @document.downloads.each do |download| %>
    <li>
      <%= user_mention download.user %>
      <%= content_tag :span, download.created_at %>
    </li>
  <% end %>
</ul>
<% end %>
<% end %>
