<% title @document.name %>
<% page_sm %>

<%= render "events/nav" if !@event.nil? %>

<% if @document.archived? %>
  <div class="banner banner--archived mt3">
    <span class="bold block mb1">This document was archived by <%= user_mention @document.archived_by %> on <%= format_date @document.archived_at %>.</span>
    <span class="block">It will display under the Archived section<span class="xs-hide"> on the Documents page</span>.</span>
    <span>You can <%= link_to "unarchive it", document_toggle_path(@document), method: :post %>.</span>
  </div>
<% end %>

<h1 class="heading pb2">
  <%= @document.name %>
  <% if (@document.user == current_user) || current_user.admin? %>
    <div class="flex items-center mt2" style="gap: 6px">
      <%= link_to document_download_path(@document), target: :_blank, class: "btn" do %>
        <%= inline_icon "download" %>
        Download
      <% end %>
      <%= link_to "Edit", edit_document_path(@document), class: "btn bg-info" %>
      <% if @document.archived? %>
        <%= link_to "Unarchive", document_toggle_path(@document), method: :post, data: { confirm: "This will unarchive the document. Are you sure?" }, class: "btn bg-muted" %>
      <% else %>
        <%= link_to "Archive", document_toggle_path(@document), method: :post, data: { confirm: "This will archive the document. Are you sure?" }, class: "btn bg-muted" %>
      <% end %>
      <%= link_to "Destroy", @document, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn--destroy" %>
    </div>
  <% end %>
</h1>

<div class="card flex items-center justify-center mb2 mt2" style="width: fit-content">
  <%= render "documents/preview", document: @document %>
</div>

<section class="details mb3 pt2">

  <p>
    <strong>Added by</strong> <%= user_mention @document.user %>
  </p>

</section>

<% admin_tool do %>
  <%= turbo_frame_tag :downloads do %>
    <% if @downloads.any? %>
      <h2 class="my0">Download history</h2>
      <ul class="list list--unlinked">
        <% @downloads.each do |download| %>
          <li>
            <%= user_mention download.user %>
            <%= content_tag :span, download.created_at %>
          </li>
        <% end %>
        <%= paginate @downloads %>
      </ul>
    <% end %>
  <% end %>
<% end %>
