<p>
  Hey <%= @employee.user.name %>!
</p>

<p>
  The <%= @employee.event.name %> team has approved your payment for
  <em><%= @payment.title %></em>.
</p>

<p>
  <% if @employee.user&.payout_method&.kind == "check" %>
    You'll receive a check for <%= render_money @payment.amount_cents %> from us in approximately 10-12 business days.
  <% elsif @employee.user&.payout_method&.kind == "ach_transfer" %>
    You'll receive an ACH transfer of <%= render_money @payment.amount_cents %> from us in approximately 2-3 business days.
  <% elsif @employee.user&.payout_method&.kind == "paypal_transfer" %>
    You'll receive an PayPal transfer of <%= render_money @payment.amount_cents %> from us in approximately 2-3 business days.
  <% elsif @employee.user&.payout_method&.kind == "international_wire" %>
    You'll receive an international wire transfer of <%= render_money @report.amount_to_reimburse %> USD from us in approximately 2-3 business days.
  <% else %>
    We don't have a payout method on file for you, <%= link_to "please configure one here", settings_payouts_url %>
    to receive the  <%= render_money @payment.amount_cents %> reimbursement.
  <% end %>
</p>

<% if @payment.review_message.present? %>
  <p>
    They included this message:
  </p>

  <blockquote>
    <%= MarkdownService.instance.renderer.render @payment.review_message %>
  </blockquote>
<% end %>

<p>
  If you have any questions, please contact <%= @employee.event.name %>.
</p>

<p>
  Sincerely,
  <br><br>
  The HCB Team
</p>

<p><i class="muted"><%= @employee.event.name %> is fiscally sponsored by The Hack Foundation (d.b.a. HCB), a 501(c)(3) nonprofit (EIN: 81-2908499).</i></p>
