<% disabled = @source_event.present? && !policy(@source_event).create_transfer? %>

<%= form_with(model: disbursement, local: true, url: disbursements_path, html: { "x-data" => "{fee: null}", "data-turbo" => "false" }) do |form| %>
  <%= form_errors(disbursement, "Disbursements") %>

  <div class="field" data-controller="organization-select">
    <%= form.label :source_event_id, "From" %>
    <select name="disbursement[source_event_id]" id="disbursement_source_event_id" <%= "disabled" if disabled %> class="bg-[transparent] dark:bg-darkless input input--select flex items-center select-none cursor-pointer disabled:cursor-default" data-organization-select-target="dropdown">
      <option value>Select one...</option>
      <option <%= "default" if @source_event.present? %> value="<%= @source_event.id if @source_event.present? %>"><%= @source_event.name if @source_event.present? %></option>
    </select>

    <div data-organization-select-target="wrapper" style="max-width: 384px;">
      <input data-organization-select-target="search" style="display: none; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;" type="text" placeholder="Search">

      <div data-organization-select-target="menu" style="display: none; border-width: 1px; border-style: solid; border-top: none; max-width: 384px; border-top-left-radius: 0px; border-top-right-radius: 0px;" class="border-smoke rounded-md dark:border-black overflow-hidden h-40">
        <div class="w-full h-full rounded-md overflow-y-scroll" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">
            <% @allowed_source_events.map do |event, i| %>
              <% disabled_message = nil %>
              <% disabled_message = "Insufficient balance" if !current_user.admin? && event.balance_available <= 0 %>
              <% disabled_message = "HCB transfers disabled" if event != @source_event && !policy(event).create_transfer? %>
              <div data-id="<%= event.id %>" data-name="<%= event.name %>" data-organization-select-target="organization">
                <button <%= "disabled" if disabled_message %> aria-label="<%= disabled_message %>" class="<%= "tooltipped tooltipped--i" if disabled_message %> text-[length:inherit] border-none bg-[transparent] w-full flex justify-between p-2 cursor-pointer disabled:cursor-default hover:bg-smoke hover:dark:bg-darkless transition-colors duration-150">
                  <div class="text-left"><%= event.name %></div>
                  <div class="text-muted"><%= current_user.admin? ? event.id : render_money(event.balance_available) %></div>
                </button>
                <hr class="my-0">
              </div>
            <% end %>

        </div>
      </div>
    </div>

  </div>

  <div class="field" data-controller="organization-select">
    <%= form.label :event_id, "To" %>
    <select name="disbursement[event_id]" id="disbursement_event_id" <%= "disabled" if disabled %> class="bg-[transparent] dark:bg-darkless input input--select flex items-center select-none cursor-pointer" data-organization-select-target="dropdown" x-on:feechange="fee = $event.target.options[$event.target.selectedIndex].dataset.fee;">
      <option value>Select one...</option>
      <option value="">Organization</option>
    </select>

    <div data-organization-select-target="wrapper" style="max-width: 384px;">
      <input data-organization-select-target="search" style="display: none; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;" type="text" placeholder="Search">

      <div data-organization-select-target="menu" style="display: none; border-width: 1px; border-style: solid; border-top: none; max-width: 384px; border-top-left-radius: 0px; border-top-right-radius: 0px;" class="border-smoke rounded-md dark:border-black overflow-hidden h-40">
        <div class="w-full h-full rounded-md overflow-y-scroll" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">

            <% @allowed_destination_events.map do |event, i| %>
              <div data-id="<%= event.id %>" data-name="<%= event.name %>" data-fee="<%= event.revenue_fee.to_s %>" data-organization-select-target="organization">
                <button class="text-[length:inherit] border-none bg-[transparent] w-full flex justify-between p-2 cursor-pointer hover:bg-smoke hover:dark:bg-darkless transition-colors duration-150">
                  <div class="text-left"><%= event.name %></div>
                  <div class="text-muted"><%= current_user.admin? ? event.id : render_money(event.balance_available) %></div>
                </button>
                <hr class="my-0">
              </div>
            <% end %>

        </div>
      </div>
    </div>

    <% unless admin_signed_in? %>
      <span class="muted">You can transfer to any organization you're a part of.</span>
    <% end %>

  </div>

  <% if admin_signed_in? %>
    <div class="admin-tools field field--checkbox" x-show="fee > 0" x-cloak x-transition.duration.500ms>
      <%= form.check_box :should_charge_fee %>
      <%= form.label :should_charge_fee do %>
        Charge <span x-text="Math.round(fee * 100) || '0'"></span>% fiscal sponsorship fee?
      <% end %>
    </div>
  <% end %>

  <%= form.label :amount, "Amount" %>
  <div class="field">
    <div class="flex items-center">
      <span class="bold muted" style="width: 1rem;">$</span>
      <%= form.number_field :amount, value: (@disbursement&.amount.nil? ? nil : (@disbursement.amount.to_f / 100)),
                                     placeholder: "500.00",
                                     step: 0.01,
                                     min: 0.01,
                                     required: true,
                                     disabled:,
                                     data: { controller: "truncate-decimal", action: "truncate-decimal#truncate blur->truncate-decimal#pad" } %>
    </div>
  </div>

  <div class="field">
    <%= form.label :name, "What is the transfer for?" %>
    <%= form.text_field :name, placeholder: "Donating extra funds to another organization", maxlength: 60, required: true, disabled: %>
    <span class="muted">This is to help HCB keep record of our transactions.</span>
  </div>

  <%= form.label :file, "Attach a receipt / invoice (optional)", class: "mt2" %>
  <div class="field field--fileupload mb1 mt1" data-controller="file-drop form" data-file-drop-title-value="Drop to add a receipt.">
    <%= form.label :file, "Choose file", class: "field--fileupload__label", data: {
          action: "
        dragover@window->file-drop#dragover
        drop@window->file-drop#drop
        dragenter@window->file-drop#dragenter
        dragleave@window->file-drop#dragleave
      "
        } %>
    <%= form.file_field :file,
        multiple: true,
        include_hidden: false,
        required: false,
        accept: "image/*,image/heic,.pdf",
        style: "margin: 8px 0px",
        class: "field--fileupload__field",
        data: {
          "file-drop-target" => "fileInput"
        },
        disabled: %>
    <%= inline_icon "view-close", size: 24, class: "muted", "data-behavior": "clear_input" %>
  </div>

  <% admin_tool do %>
    <div class="field">
      <%= form.label :scheduled_on, "Schedule for" %>
      <%= form.date_select :scheduled_on, prompt: true, order: [:month, :day, :year], start_year: Date.today.year %>
      <p class="h5 muted mt0 mb1">Leave blank to send instantly</p>
    </div>
  <% end %>

  <div
      class="<%= "actions inline-block #{"tooltipped tooltipped--e" if disabled}" %>"
      aria-label="<%= @event&.demo_mode? ? "Transfers are disabled in Playground mode" : disabled ? "Only managers can make transfers!" : nil %>">
    <%= form.submit "Make transfer", class: "btn", disabled: %>
  </div>
<% end %>
