<%= form_with(model: disbursement, local: true, url: disbursements_path(@event)) do |form| %>
  <%= form_errors(disbursement, 'Disbursements') %>

  <div class="field event-select-target">
    <%= form.label :source_event_id, 'Source event' %>
    <%= form.collection_select(:source_event_id, Event.reorder(Event::CUSTOM_SORT), :id, :admin_dropdown_description, include_blank: 'Select one…') %>
  </div>

  <div class="field event-select-target">
    <%= form.label :event_id, 'Destination event' %>
    <%= form.collection_select(:event_id, Event.reorder(Event::CUSTOM_SORT), :id, :admin_dropdown_description, include_blank: 'Select one…') %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: 'ex. GitHub Grant', required: true %>
  </div>

  <%= form.label :amount, 'Amount' %>
  <div class="field">
    <div class="flex items-center">
      <span class="bold muted" style="width: 1rem;">$</span>
      <%= form.number_field :amount, value: (@disbursement.nil? ? nil : (@disbursement.amount.to_f / 100)),
        placeholder: '500.00',
        step: 0.01,
        required: true %>
    </div>
  </div>

  <div class="actions tooltipped tooltipped--n inline-block" aria-label="The Hack Club Bank staff will make the disbursement">
    <%= form.submit 'Schedule disbursement', class: 'btn' %>
  </div>
<% end %>

