<% disabled = @source_event.present? && !policy(@source_event).create_transfer? %>

<%= form_with(model: disbursement, local: true, url: disbursements_path, html: { "x-data" => "{ fee: null, event_id: null }" }) do |form| %>
  <%= form_errors(disbursement, "Disbursements") %>

  <div class="field event-select-target">
    <%= form.label :source_event_id, "From" %>
    <%= form.collection_select(:source_event_id,
                                @allowed_source_events,
                                :id,
                                current_user.admin? ? :admin_dropdown_description : :disbursement_dropdown_description,
                                { prompt: "Select one…", disabled: ->(e) { e != @source_event && !policy(e).create_transfer? || (!current_user.admin? && e.balance_available <= 0) } },
                                required: true,
                                disabled: ) %>
  </div>

  <div class="field event-select-target">
    <%= form.label :destination_event_id_select, "To" %>
    <%= form.select(:event_id,
                  (@allowed_destination_events.map do |event|
                    [
                      current_user.admin? ? event.admin_dropdown_description : event.disbursement_dropdown_description,
                      event.id,
                      {
                        "data-fee": event.revenue_fee.to_s,
                        "data-event_id": event.id
                      },
                    ]
                  end) +
                  (@source_event&.plan&.unrestricted_disbursements_allowed? && !admin_signed_in? ? [[
                    "Other",
                    "other",
                    {
                      "data-fee": "null",
                      "data-event_id": "other"
                    },
                  ]] : []),
                  { prompt: "Select one…" },
                  required: true,
                  disabled:,
                  "x-on:input" => "fee = $event.target.options[$event.target.selectedIndex].dataset.fee; event_id = $event.target.options[$event.target.selectedIndex].dataset.event_id; console.log(event_id)") %>
    <% unless admin_signed_in? %>
      <% if @source_event&.plan&.unrestricted_disbursements_allowed? %>
        <template x-if="event_id == 'other'">
          <div class="mt2">
            <%= form.label :destination_event_id_select, "Destination event's slug" %>
            <%= form.text_field :event_id, placeholder: "hack_the_seas", required: true, disabled: %>
          </div>
        </template>
      <% else %>
        <span class="muted">You can transfer to any organization you're a part of.</span>
      <% end %>
    <% end %>
  </div>

  <% if admin_signed_in? %>
    <div class="admin-tools field field--checkbox" x-show="fee > 0" x-cloak x-transition.duration.500ms>
      <%= form.check_box :should_charge_fee %>
      <%= form.label :should_charge_fee do %>
        Charge <span x-text="Math.round(fee * 100) || '0'"></span>% fiscal sponsorship fee?
      <% end %>
    </div>
  <% end %>

  <%= form.label :amount, "Amount" %>
  <div class="field">
    <div class="flex items-center">
      <span class="bold muted" style="width: 1rem;">$</span>
      <%= form.number_field :amount, value: (@disbursement&.amount.nil? ? nil : (@disbursement.amount.to_f / 100)),
                                     placeholder: "500.00",
                                     step: 0.01,
                                     min: 0.01,
                                     required: true,
                                     disabled:,
                                     data: { controller: "truncate-decimal", action: "truncate-decimal#truncate blur->truncate-decimal#pad" } %>
    </div>
  </div>

  <div class="field">
    <%= form.label :name, "What is the transfer for?" %>
    <%= form.text_field :name, placeholder: "Donating extra funds to another organization", maxlength: 60, required: true, disabled: %>
    <span class="muted">This is to help HCB keep record of our transactions.</span>
  </div>

  <%= form.label :file, "Attach a receipt / invoice (optional)", class: "mt2" %>
  <div class="field field--fileupload mb1 mt1" data-controller="file-drop form" data-file-drop-title-value="Drop to add a receipt.">
    <%= form.label :file, "Choose file", class: "field--fileupload__label", data: {
          action: "
        dragover@window->file-drop#dragover
        drop@window->file-drop#drop
        dragenter@window->file-drop#dragenter
        dragleave@window->file-drop#dragleave
      "
        } %>
    <%= form.file_field :file,
        multiple: true,
        include_hidden: false,
        required: false,
        accept: "image/*,image/heic,.pdf",
        style: "margin: 8px 0px",
        class: "field--fileupload__field",
        data: {
          "file-drop-target" => "fileInput"
        },
        disabled: %>
    <%= inline_icon "view-close", size: 24, class: "muted", "data-behavior": "clear_input" %>
  </div>

  <% admin_tool do %>
    <div class="field">
      <%= form.label :scheduled_on, "Schedule for" %>
      <%= form.date_select :scheduled_on, prompt: true, order: [:month, :day, :year], start_year: Date.today.year %>
      <p class="h5 muted mt0 mb1">Leave blank to send instantly</p>
    </div>
  <% end %>

  <div
      class="<%= "actions inline-block #{"tooltipped tooltipped--e" if disabled}" %>"
      aria-label="<%= @event&.demo_mode? ? "Transfers are disabled in Playground mode" : disabled ? "Only managers can make transfers!" : nil %>">
    <%= form.submit "Make transfer", class: "btn", disabled: %>
  </div>
<% end %>
