<% page_md %>

<h1 class="heading">
  <div class="flex flex-row items-center">
    Disbursements
    <%= badge_for @disbursements.size, class: 'bg-muted' %>
  </div>
  <%= link_to 'New disbursement', new_disbursement_path, class: 'btn bg-success' %>
</h1>

<% if @disbursements.any? %>
  <div class="filterbar flex flex-wrap items-center width-100">
    <input class="flex-auto md-mr2"
           type="search"
           data-behavior="filterbar_search"
           placeholder="Search..."
           aria-label="Filter disbursements"
           style="width: auto; max-width: none;">
    <div class="filterbar__filters flex mt1 lg-mt0" data-behavior="filterbar" role="tablist">
      <%= filterbar_item 'All', :exists, true %>
      <%= filterbar_item 'Pending', :pending %>
      <%= filterbar_item 'Processing', :processing %>
      <%= filterbar_item 'Fulfilled', :fulfilled %>
      <%= filterbar_item 'Rejected', :rejected %>
    </div>
  </div>

  <ul class="grid grid--spacious">
    <% @disbursements.each do |dsb| %>
      <%= link_to dsb, data: { behavior: 'filterbar_row', filter: dsb.filter_data.to_json } do %>
        <li class="card">
          <div class="flex">
            <strong class="flex-auto h3 line-height-3 mb1">
              <%= dsb.name %>
            </strong>
            <span class="block h1 black line-height-1 <%= dsb.state %>"><%= render_money_short dsb.amount %></span>
          </div>
          <div class="muted mb1"><%= dsb.source_event.name %> &rarr; <%= dsb.event.name %></div>
          <div class="ml0 badge bg-<%= dsb.state %>">
            <%= dsb.state_text %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
