<% title "Initiate a disbursement" %>
<% page_sm %>
<%= render "events/nav", selected: :transfers if @event %>

<h1>Send a HCB transfer</h1>

<%= render "callout", type: "warning", title: "Important info about transfers", footer: :questions do %>
  <p>Transfers are reviewed by the HCB team and process within 24 hours on weekdays.</p>
<% end %>

<% if @allowed_destination_events.empty? %>
  <p class="h5 muted">It looks like you don't have any organizations to transfer to. You can transfer funds between any organizations you're a part of.</p>
<% end %>

<% if @source_event && @destination_event %>
  <% admin_tool("mb2") do %>
    Looking to make a transfer from <%= @destination_event.name %> to <%= @source_event.name %>? <%= link_to "Click here", new_disbursement_path(event_id: @source_event.id, source_event_id: @destination_event.id) %>.
  <% end %>
<% elsif @source_event %>
  <% admin_tool("mb2") do %>
    Looking to make a transfer to <%= @source_event.name %>? <%= link_to "Click here", new_disbursement_path(event_id: @source_event.id) %>.
  <% end %>
<% elsif @destination_event %>
  <% admin_tool("mb2")  do %>
    Looking to make a transfer from <%= @destination_event.name %>? <%= link_to "Click here", new_disbursement_path(source_event_id: @destination_event.id) %>.
  <% end %>
<% end %>

<%= render "form", disbursement: @disbursement, event: @event, source_event: @source_event, destination_event: @destination_event, allowed_source_events: @allowed_source_events, allowed_destination_events: @allowed_destination_events %>
