<% title "Disbursement to #{@disbursement.event.name}" %>
<% page_sm %>
<% render "events/nav" %>

<% admin_tool("mt3 mb0") do %>
  <%= link_to "All disbursements", disbursements_admin_index_path, class: "breadcrumb" %>
<% end %>

<% admin_tool do %>
  <ul>
    <li>
      v2

      <ul>
        <% @disbursement.canonical_pending_transactions.each do |ct| %>
          <li>
            <%= ct.hcb_code %>: <%= link_to ct.amount, "/canonical_pending_transactions/#{ct.id}" %>
          </li>
        <% end %>

        <% @disbursement.canonical_transactions.each do |ct| %>
          <li>
            <%= ct.hcb_code %>: <%= link_to ct.amount, "/transactions/#{ct.id}" %>
          </li>
        <% end %>
      </ul>
    </li>
    <li>
      v1

      <ul>
        <% @disbursement.t_transactions.each do |tx| %>
          <li><%= link_to "#{render_money tx.amount} on #{tx.event.name}", tx %></li>
        <% end %>
      </ul>
    </li>
  </ul>
<% end %>

<article class="card max-width-2 mx-auto mt3">
  <section class="mb2">
    <h2 class="mt0 mb0 heading">
      <span class="flex-auto mb1">Disbursement to <%= @disbursement.event.name %></span>
      <span class="badge h4 md-right ml0 mb1 bg-<%= @disbursement.state %>">
        <%= @disbursement.state_text %>
      </span>
    </h2>

    <section class="details">
      <p>
        <strong>Source event</strong>
        <%= link_to @disbursement.source_event.name, @disbursement.source_event %>
      </p>

      <p>
        <strong>Destination event</strong>
        <%= link_to @disbursement.event.name, @disbursement.event %>
      </p>

      <p>
        <strong>Amount</strong>
        <%= render_money @disbursement.amount %>
      </p>

      <p>
        <strong>Name (reason)</strong>
        <%= @disbursement.name %>
      </p>

      <p>
        <strong>Created at</strong>
        <%= format_datetime @disbursement.created_at %>
      </p>

      <% if @hcb_code.disbursement.scheduled_on.present? %>
        <% admin_tool("", "p") do %>
          <strong>Scheduled for</strong>
          <%= @disbursement.scheduled_on.strftime("%B %e, %Y") %>
        <% end %>
      <% end %>

      <% if @disbursement.fulfilled? %>
        <p>
          <strong>Confirmation letter</strong>
            <span class="muted">
              <a href="/disbursements/<%= @disbursement.id %>/confirmation.pdf" target="_blank">
              <%= organizer_signed_in? ? "View confirmation letter" : "Sign in to view" %>
              </a>
            </span>
        </p>
      <% end %>

    </section>

    <% if @disbursement.scheduled? %>
      <% admin_tool("mt2") do %>
        <%= button_to "Cancel transfer", disbursement_cancel_path(@disbursement), class: "btn bg-error" %>
      <% end %>
    <% end %>

    <% if @disbursement.pending? %>
      <% admin_tool("mt2") do %>
        <%= link_to "Mark fulfilled", disbursement_mark_fulfilled_path(@disbursement), method: :post, class: "btn bg-success", data: { confirm: "WOAH THERE! This will prevent HCB from auto-fulfilling this disbursement. I hope you know what you're doing!" } %>
        <%= link_to "Reject", disbursement_reject_path(@disbursement), method: :post, class: "btn bg-error" %>
      <% end %>
    <% end %>
  </section>
</article>

<% if @hcb_code %>
  <h2>Receipts</h2>
  <%= render "receipts/list_v2" %>
  <%= render partial: "receipts/form_v3", locals: {
        receiptable: @hcb_code,
        enable_linking: true,
        upload_method: "transaction_page",
        include_spacing: true,
        turbo: false
      } %>

  <h2>Comments</h2>
  <%= render "comments/list", comments: @hcb_code.comments %>
  <%= render "comments/form", commentable: @hcb_code %>
<% end %>
