<% title "Disbursement to #{@disbursement.event.name}" %>
<% page_sm %>
<% render 'events/nav' %>

<% admin_tools('mt3 mb0') do %>
  <%= link_to 'All disbursements', disbursements_path, class: 'breadcrumb' %>
<% end %>

<article class="card max-width-2 mx-auto mt3">
  <section class="mb2">
    <h2 class="mt0 mb0 heading">
      <span class="flex-auto mb1">Disbursement to <%= @disbursement.event.name %></span>
      <span class="badge h4 md-right ml0 mb1 bg-<%= @disbursement.state %>">
        <%= @disbursement.state_text %>
      </span>
    </h2>

    <section class="details">
      <p>
        <strong>Source event</strong>
        <%= link_to @disbursement.source_event.name, @disbursement.source_event %>
      </p>

      <p>
        <strong>Destination event</strong>
        <%= link_to @disbursement.event.name, @disbursement.event %>
      </p>

      <p>
        <strong>Amount</strong>
        <%= render_money @disbursement.amount %>
      </p>

      <p>
        <strong>Name (reason)</strong>
        <%= @disbursement.name %>
      </p>

      <p>
        <strong>Created at</strong>
        <%= @disbursement.created_at %>
      </p>
    </section>

    <% if @disbursement.pending? %>
      <% admin_tools do %>
        <%= link_to 'Mark fulfilled', disbursement_mark_fulfilled_path(@disbursement), method: :post, class: 'btn bg-success' %>
        <%= link_to 'Reject', disbursement_reject_path(@disbursement), method: :post, class: 'btn bg-error' %>
      <% end %>
    <% end %>
  </section>
</article>

<% if @disbursement.fulfilled? %>
<article class="card max-width-2 mx-auto mt3">
  <h3 class="mt0 mb0 heading">Linked Transactions</h3>
  <ul>
  <% @disbursement.t_transactions.each do |tx| %>
    <li><%= link_to "#{render_money tx.amount} on #{tx.event.name}", tx %></li>
  <% end %>
  </ul>
</article>
<% end %>