<p>
  Hey <%= @report.user.name %>!
</p>

<p>
  The <%= @report.event.name %> team has approved your reimbursement for
  <em><%= link_to @report.name, @report %></em>.
</p>

<p>
  <% if @report.user&.payout_method&.kind == "check" %>
    You'll receive a check for <%= render_money @report.amount_to_reimburse %> from us in approximately 10-12 business days.
  <% elsif @report.user&.payout_method&.kind == "ach_transfer" %>
    You'll receive an ACH transfer of <%= render_money @report.amount_to_reimburse %> from us in approximately 2-3 business days.
  <% elsif @report.user&.payout_method&.kind == "paypal_transfer" %>
    You'll receive an PayPal transfer of <%= render_money @report.amount_to_reimburse %> from us in approximately 2-3 business days.
  <% elsif @report.user&.payout_method&.kind == "international_wire" %>
    You'll receive an international wire transfer of <%= render_money @report.amount_to_reimburse %> USD from us in approximately 2-3 business days.
  <% else %>
    We don't have a payout method on file for you, <%= link_to "please configure one here", settings_payouts_url %>
    to receive the <%= render_money @report.amount_to_reimburse %> reimbursement.
  <% end %>
</p>

<p>
  If you have any questions, please contact <%= @report.event.name %>.
</p>

<p>
  Sincerely,
  <br><br>
  The HCB Team
</p>

<p><i class="muted"><%= @report.event.name %> is fiscally sponsored by The Hack Foundation (d.b.a. HCB), a 501(c)(3) nonprofit (EIN: 81-2908499).</i></p>
