<%# locals: (stripe_card:) %>

<article class="card max-width-2 mx-auto">
  <h2 class="mt0 heading">
    <span class="flex-auto">
      <%= user_mention stripe_card.user, { class: "align-bottom tooltipped--s" } %><span class="medium muted">'s</span>
      <%= stripe_card.name %> <span class="medium muted">Card</span>
    </span>
  </h2>
  <section class="details mt2">
    <% if stripe_card.replacement_for %>
      <p>
        <strong>Replacement for</strong>
        <span class="flex items-baseline">
          <%= stripe_card_mention stripe_card.replacement_for %>
        </span>
      </p>
    <% end %>

    <% eta = stripe_card.stripe_obj.to_hash&.dig(:shipping, :eta) %>
    <% if eta && Time.now.before?(Time.at(eta) + 3.days) %>
      <p>
        <strong>Expected arrival</strong>
        <%= format_date Time.at(eta).to_date %>
      </p>
    <% else %>
      <p>
        <strong>Activation status</strong>
        <span class="flex items-baseline g-1">
          <%= status_badge stripe_card.status_badge_type %>
          <%= stripe_card.status_text.capitalize %>
        </span>
      </p>
    <% end %>

    <% if stripe_card.cash_withdrawal_enabled? %>
      <p>
        <strong>Cash withdrawals</strong>
        <span class="flex items-baseline g-1">
          <%= status_badge :success %>
          Enabled
        </span>
      </p>
    <% end %>

    <div class="fs-mask">
      <strong>Card number</strong>
      <div class="flex justify-between font-mono items-center">
        <% if stripe_card.user == current_user && stripe_card.virtual? %>
          <% if @show_card_details %>
            <%= copy_to_clipboard(stripe_card.full_card_number, class: "w-fit", tooltip_direction: "e") do %>
              <%= stripe_card.formatted_card_number %>
            <% end %>
          <% else %>
            <%= stripe_card.hidden_card_number_with_last_four %>
          <% end %>
          <%= link_to stripe_card_path(stripe_card, show_details: (!@show_card_details).to_s, frame: @frame), data: { turbo: true } do %>
            <%= inline_icon @show_card_details ? "view-fill" : "view", class: "align-middle" %>
          <% end %>
        <% else %>
          <%= stripe_card.hidden_card_number_with_last_four %>
          <div class="right tooltipped tooltipped--w" aria-label="Hidden to protect security">
            <%= inline_icon "private", size: 32, class: "muted" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="fs-mask">
      <strong>CVC</strong>
      <div class="flex justify-between font-mono items-center">
        <% if stripe_card.user == current_user && stripe_card.virtual? %>
          <% if @show_card_details %>
            <%= copy_to_clipboard(stripe_card.cvc, class: "w-fit", tooltip_direction: "e") do %>
              <%= stripe_card.cvc %>
            <% end %>
          <% else %>
            <%= stripe_card.hidden_cvc %>
          <% end %>
        <% else %>
          <%= stripe_card.hidden_cvc %>
          <div class="right tooltipped tooltipped--w" aria-label="Hidden to protect security">
            <%= inline_icon "private", size: 32, class: "muted" %>
          </div>
        <% end %>
      </div>
    </div>

    <% if stripe_card.cash_withdrawal_enabled? %>
      <div class="fs-mask" data-controller="pin" data-pin-card-id-value="<%= stripe_card.id %>" data-pin-stripe-id-value="<%= stripe_card.stripe_id %>" data-pin-stripe-api-key-value="<%= StripeService.publishable_key %>">
        <strong>PIN</strong>
        <div class="flex justify-between font-mono items-center">
          <span id="card-pin">••••</span>
          <%= inline_icon @show_card_details ? "view-fill" : "view", class: "align-middle", "data-action": "click->pin#view" %>
        </div>
      </div>
    <% end %>

    <div class="fs-mask">
      <strong>Expiration date</strong>
      <%= render_exp_date stripe_card %>
    </div>

    <div class="fs-mask">
      <strong>ZIP/Postal code</strong>
      <%= stripe_card.stripe_cardholder.address_postal_code %>
    </div>

    <div>
      <strong class="inline-flex items-center" style="gap: 4px">
        Billing address
        <% if stripe_card.user == current_user && stripe_card.cardholder.default_billing_address? %>
          <%= link_to settings_address_path, class: "info tooltipped tooltipped--e", "aria-label": "You're using HCB's default billing address, not your home address. You can change it in your user settings if you'd like.", style: "display: flex;", data: { turbo: false } do %>
            <%= inline_icon "info", size: 18, style: "position: unset;" %>
          <% end %>
        <% end %>
      </strong>
      <div class="flex justify-between">
        <%= render_address stripe_card.cardholder %>
      </div>
    </div>

    <div>
      <strong>Type</strong>
      <%= stripe_card.virtual? ? "Virtual" : "Physical" %>
    </div>

    <div>
      <strong>Network</strong>
      Visa
    </div>
  </section>

  <% admin_tool "details" do %>
    <div>
      <strong>Ordered at</strong>
      <%= format_datetime Time.at(stripe_card.stripe_obj[:created]) %>
    </div>
  <% end %>

  <section class="grid grid--split items-end pt2">
    <div class="stat tooltipped tooltipped--s" aria-label="This is your account balance">
      <strong class="stat__label">Spending limit</strong>
      <span class="stat__value"><%= render_money_amount stripe_card.balance_available %></span>
    </div>
    <div class="stat stat--small">
      <strong class="stat__label">Lifetime spent</strong>
      <span class="stat__value"><%= render_money_amount stripe_card.total_spent %> </span>
    </div>
  </section>

  <section class="card__banner card__banner--bottom card__darker pt2 pb2">
    <p class="muted mt0 mb0">
      Alert us if there are fraudulent or incorrect charges on your card. <%= help_message %>
    </p>
  </section>
</article>
