<%= form_with(model: StripeCard.new, local: true) do |form| %>
  <% if @event || params[:event_id] %>
    <%= form.hidden_field :event_id, value: @event&.id || params[:event_id] %>
  <% else %>
    <fieldset>
      <legend class="heading h2 pt2 pb2">Which organization?</legend>
      <%= form.select :event_id, current_user.events.not_demo_mode.pluck(:name, :id) %>
    </fieldset>
  <% end %>
  <fieldset>
    <legend class="heading h2 pt2 pb2">What type of card?</legend>
    <div class="field field--options">
      <%= form.radio_button :card_type, "virtual" %>
      <%= form.label :card_type, value: "virtual" do %>
        <%= inline_icon "rep", size: 28 %>
        <strong>Virtual</strong>
        <small>(online-only, instant)</small>
      <% end %>
      <%= form.radio_button :card_type, "physical" %>
      <%= form.label :card_type, value: "physical" do %>
        <%= inline_icon "card", size: 28 %>
        <strong>Plastic</strong>
        <small>(mailed, 10-12 biz. days)</small>
      <% end %>
    </div>
  </fieldset>
  <p class="h5 muted mt0">Plastic cards can only be shipped within the US.</p>

  <% if current_user.birthday.nil? %>
    <section class="grid grid--split">
    <h2 class="grid__fill">Account details</h2>
      <div class="field">
        <%= form.label :birthday %>
        <p class="h5 muted mt0 mb1">
          Used for card issuing.
        </p>
        <%= form.date_select :birthday,
                              { start_year: Date.today.year,
                                end_year: Date.today.year - 100,
                                order: [:month, :day, :year],
                                prompt: true
},
                              { required: true } %>
      </div>
    </section>
  <% end %>

  <section class="grid grid--split" data-behavior="shipping_address_inputs autohide">
    <h2 class="grid__fill">Shipping info</h2>
    <div class="field">
      <%= form.label :stripe_shipping_name, "Shipping name" %>
      <%= form.text_field :stripe_shipping_name, value: current_user&.full_name, disabled: @event&.demo_mode? %>
    </div>
    <div class="field">
      <%= form.label :stripe_shipping_address_line1, "Address (line 1)" %>
      <%= form.text_field :stripe_shipping_address_line1, value: prefill(:line1), placeholder: suggested(:line1), disabled: @event&.demo_mode? %>
    </div>
    <div class="field">
      <%= form.label :stripe_shipping_address_line2, "Address (line 2)" %>
      <%= form.text_field :stripe_shipping_address_line2, value: prefill(:line2), placeholder: suggested(:line2), disabled: @event&.demo_mode? %>
    </div>
    <div class="field grid__half">
      <%= form.label :stripe_shipping_address_city, "City" %>
      <%= form.text_field :stripe_shipping_address_city, value: prefill(:city), placeholder: suggested(:city), disabled: @event&.demo_mode? %>
    </div>
    <div class="field grid__half">
      <%= form.label :stripe_shipping_address_state, "State / province" %>
      <%= form.text_field :stripe_shipping_address_state, value: prefill(:state), placeholder: suggested(:state), disabled: @event&.demo_mode? %>
    </div>
    <div class="field grid__half">
      <%= form.label :stripe_shipping_address_postal_code, "ZIP code" %>
      <%= form.text_field :stripe_shipping_address_postal_code, value: prefill(:postal_code), placeholder: suggested(:postal_code), disabled: @event&.demo_mode? %>
    </div>
    <div class="field grid__half">
      <%= form.label :stripe_shipping_address_country, "Country" %>
      <%= form.country_select :stripe_shipping_address_country, only: ["US"], sort_provided: false, selected: "US", disabled: @event&.demo_mode? %>
    </div>

    <% designs = [@event&.stripe_card_personalization_designs&.available, StripeCard::PersonalizationDesign.common.available].flatten.compact %>
    <% designs += StripeCard::PersonalizationDesign.unlisted.available if current_user.admin? %>
    <% if designs.any? %>
      <% if Flipper.enabled?(:stripe_card_personalization_designs_2024_08_19, current_user) %>
        <h2 class="grid__fill">Card design</h2>
        <div class="field field--options" style="max-width: unset;">
          <% designs.each do |design| %>
            <%= form.radio_button :stripe_card_personalization_design_id, design.id %>
              <%= form.label :stripe_card_personalization_design_id, value: design.id, style: "align-items: center; justify-content: start; padding: 0px; gap: 1rem; #{"background: rgba(241, 196, 15, 0.125)!important;" if design.unlisted?}", class: ("admin-tools" if design.unlisted?).to_s do %>
              <span style="padding-top: 1rem; text-wrap: balance" class="bold">
                <%= design.name_without_id %>
              </span>
              <div style="display: flex; flex-direction: row; justify-content: start; width: 100%;">
                <div class="stripe-card--<%= design.color %>" style="display: flex; justify-content: end; align-items: center; width: 80%; border-radius: 0px 12px; padding: 1.5rem; padding-top: 1.5rem; padding-left: 0.5rem;">
                  <%= image_tag design.logo, alt: design.name_without_id, style: "max-width: 100%; object-fit: contain; width: 100%; height: auto; aspect-ratio: 5 / 1; object-position: right;" %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </section>

  <%= form.hidden_field :stripe_cardholder_id, value: current_user&.stripe_cardholder&.id %>

  <p class="h5 muted mt2">
    By submitting, you agree to Stripe's
    <a href="https://stripe.com/legal/issuing/celtic-authorized-user-terms" target="_blank">cardholder terms</a>.
    Your name, birthday, and contact information is shared with them and their banking partners.
  </p>
  <div class="actions">
    <%= form.submit "Issue my card", disabled: @event&.demo_mode? %>
  </div>
<% end %>
