<%= form_with(model: stripe_card, local: true, class: 'grid grid--split') do |form| %>
  <%= form_errors stripe_card%>

  <fieldset>
    <legend>Card type</legend>
    <div class="field field--radiobox">
      <%= form.radio_button :card_type, 'virtual' %>
      <%= form.label :card_type, 'Virtual', value: 'virtual' %>
      <%= form.radio_button :card_type, 'physical' %>
      <%= form.label :card_type, 'Plastic', value: 'physical' %>
    </div>
  </fieldset>

  <div class="field">
    <%= form.label :stripe_shipping_name, 'Shipping name' %>
    <%= form.text_field :stripe_shipping_name, placeholder: current_user&.full_name %>
  </div>
  <div class="field">
    <%= form.label :stripe_shipping_address_line1, 'Address (line 1)' %>
    <%= form.text_field :stripe_shipping_address_line1, value: suggested(:line1) %>
  </div>
  <div class="field">
    <%= form.label :stripe_shipping_address_line2, 'Address (line 2)' %>
    <%= form.text_field :stripe_shipping_address_line2, value: suggested(:line2) %>
  </div>
  <div class="field grid__half">
    <%= form.label :stripe_shipping_address_city, 'City' %>
    <%= form.text_field :stripe_shipping_address_city, value: suggested(:city) %>
  </div>
  <div class="field grid__half">
    <%= form.label :stripe_shipping_address_state, 'State' %>
    <%= form.text_field :stripe_shipping_address_state, value: suggested(:state) %>
  </div>
  <div class="field grid__half">
    <%= form.label :stripe_shipping_address_postal_code, 'ZIP code' %>
    <%= form.text_field :stripe_shipping_address_postal_code, value: suggested(:postal_code) %>
  </div>
  <div class="field grid__half">
    <%= form.label :stripe_shipping_address_country, 'Country' %>
    <%= form.text_field :stripe_shipping_address_country, value: suggested(:country) %>
  </div>

  <%= form.hidden_field :stripe_cardholder_id, value: current_user&.stripe_cardholder&.id %>
  <%= form.hidden_field :event_id, value: params[:event_id] %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
