<% style = card_shipping_map_url(stripe_card) ?
            "background: linear-gradient(to bottom, rgba(20, 20, 20, 0.75), rgba(0, 0, 9, 0.5)), url(#{card_shipping_map_url(stripe_card)}); height: 250px"
            : nil %>

<div class="card p0 flex flex-col justify-between <%= "smoke" if style %>" style="<%= style %>">
  <h3 class="m0 p2 inline-flex items-baseline g1" style="flex-wrap: wrap;">
    Card for
    <% if @event %>
      <%= user_mention stripe_card.user, class: style ? "smoke" : "", disable_tooltip: true %>
    <% else %>
      <%= link_to stripe_card.event.name, stripe_card.event, class: style ? "smoke" : "" %>
    <% end %>
    is on the way!
  </h3>
  <section class="pl2 mb2 drop-shadow-lg flex flex-col" style="gap: 8px;">
    <%= render_address OpenStruct.new(stripe_card.attributes.transform_keys { |key| key.gsub(/^stripe_shipping_/, "") }) %>
    <span>
      <% if stripe_card.shipping_eta.present? %>
        Estimated to arrive <%= format_date stripe_card.shipping_eta %>.
      <% else %>
        No estimated arrival date at this time.
      <% end %>
    </span>
    <% if stripe_card.shipping_has_tracking? %>
      <span>Tracking: <%= link_to stripe_card.stripe_obj&.shipping&.tracking_number, stripe_card.stripe_obj&.shipping&.tracking_url %></span>
    <% end %>
  </section>
</div>
