<a class="text-decoration-none" <% if @show_card_popovers && !show_mock_data? %> data-behavior="modal_trigger" data-modal="card_popover_<%= stripe_card.id %>" <% end %> data-turbo-frame="_top" href="<%= !show_mock_data? && ((stripe_card.is_a?(StripeCard) && policy(stripe_card).show?) || (stripe_card.card_grant.present? && policy(stripe_card.card_grant).show?)) ? (local_assigns[:href] || stripe_card_path(stripe_card)) : "javascript:;" %>">

  <%= creator_bar stripe_card, prefix: "issued ", show_title: true unless defined? headless %>
  <div
    class="stripe-card
          <%= stripe_card.status_text.downcase %>
          <%= stripe_card.virtual? ? "virtual" : "" %>
          <%= "platinum" if stripe_card.platinum? %>
          <%= "stripe-card--white" if stripe_card.personalization_design&.white? %>
          <%= "stripe-card--black" if stripe_card.personalization_design&.black? %>
          mt1
    "
    data-behavior="hover_tilt"
    style="background-image: <%= GeoPattern.generate(stripe_card.public_id).to_data_uri unless stripe_card.platinum? || stripe_card.personalization_design.present? %>">
    <% if stripe_card.platinum? %>
      <span class="bold caps h6 absolute flex items-center" style="opacity: 50%; right: 10px; top: 10px;">
        <%= inline_icon "bank-account" %>
        Platinum
      </span>
    <% end %>
    <% if stripe_card.personalization_design.present? %>
      <div class="stripe-card__personalization absolute" style="right: 16px; top: 16px;">
        <div class="stripe-card__personalization_image_wrapper">
          <div class="stripe-card__personalization_inner_image_wrapper">
            <%= image_tag Rails.application.routes.url_helpers.rails_blob_url(stripe_card.personalization_design.logo), class: "stripe-card__personalization-image" %>
          </div>
        </div>
      </div>
    <% end %>
    <p class="stripe-card__number fs-mask">
      <% if stripe_card.user != current_user %>
        <%= stripe_card.hidden_card_number_with_last_four %>
      <% elsif local_assigns[:show_card_number] %>
        <%= stripe_card.formatted_card_number %>
      <% elsif @show_card_details %>
          <%= stripe_card.formatted_card_number %>
      <% else %>
        <%= stripe_card.hidden_card_number_with_last_four %>
      <% end %>
    </p>
    <p class="stripe-card__name flex justify-between items-center">
      <span style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
        <%= defined?(@event) ? stripe_card.user.name : stripe_card.event.name %>
      </span>
      <span class="ml2 badge h6 stripe-card__status">
        <%= stripe_card.status_text %>
      </span>
    </p>
    <div class="stripe-card__overlay"></div>
  </div>
  <div class="mt2 muted center">
    <% if defined? card_label %>
      <%= card_label %>
    <% elsif defined? show_purpose %>
      <%= stripe_card.card_grant&.purpose %>
    <% else %>
      <%= stripe_card.name %>
    <% end %>
  </div>
</a>

<% if @show_card_popovers && !show_mock_data? %>
  <section class="modal modal--scroll modal--popover modal--popover--sm bg-snow" data-behavior="modal" role="dialog" id="card_popover_<%= stripe_card.id %>" data-state-url="<%= stripe_card_path(stripe_card) %>" data-state-title="<%= stripe_card.initially_activated ? "Card #{stripe_card.last_four}" : "Inactive card" %>">
    <%= modal_header(stripe_card.initially_activated ? "Card #{stripe_card.last_four}" : "Inactive card", external_link: url_for(stripe_card)) %>
    <%= turbo_frame_tag "stripe_card_#{stripe_card.public_id}", src: stripe_card.popover_path, loading: :lazy do %>
      <%= render partial: "application/loading_container" %>
    <% end %>
  </section>
<% end %>
