<a class="text-decoration-none" href="<%= stripe_card_path(stripe_card) %>">

  <%= creator_bar stripe_card, prefix: 'issued ' unless defined? headless %>
  <div class="stripe-card <%= stripe_card.status_text.downcase %> <%= stripe_card.virtual? ? 'virtual' : '' %>" data-behavior="hover_tilt" style="background-image: <%= GeoPattern.generate(stripe_card.id).to_data_uri %>">
    <p class="absolute m0" style="right: 0; margin-right: 1.5rem; margin-left: 3.5rem;">
      <%= stripe_card.name %>
    </p>
    <p class="stripe-card__number">
      <%= stripe_card.user == current_user ? stripe_card.formatted_card_number : stripe_card.hidden_card_number %>
    </p>
    <p class="stripe-card__name flex justify-between items-center">
      <span>
        <%= defined?(@event) ? (stripe_card.stripe_name || stripe_card.user.full_name) : stripe_card.event.name %>
      </span>
      <span class="ml2 badge h6 stripe-card__status">
        <%= stripe_card.status_text %>
      </span>
    </p>
  </div>

</a>
