<a class="text-decoration-none" <% if @show_card_popovers && !show_mock_data? %> data-behavior="modal_trigger" data-modal="card_popover_<%= stripe_card.id %>" <% end %> data-turbo-frame="_top" href="<%= !show_mock_data? && ((stripe_card.is_a?(StripeCard) && policy(stripe_card).show?) || (stripe_card.card_grant.present? && policy(stripe_card.card_grant).show?)) ? (local_assigns[:href] || stripe_card_path(stripe_card)) : "javascript:;" %>">

  <%= creator_bar stripe_card, prefix: "issued ", show_title: true unless defined? headless %>
  <% if stripe_card.canceled? %>
    <div class="canceled-card-wrapper">
      <%= render "stripe_cards/card", event: @event, stripe_card:, show_card_details: @show_card_details, side: "left" %>
      <%= render "stripe_cards/card", event: @event, stripe_card:, show_card_details: @show_card_details, side: "right" %>
    </div>

  <% else %>
    <%= render "stripe_cards/card", event: @event, stripe_card:, show_card_details: @show_card_details %>
  <% end %>

  <div class="mt2 muted center">
    <% if defined? card_label %>
      <%= card_label %>
    <% elsif defined? show_purpose %>
      <%= stripe_card.card_grant&.purpose %>
    <% else %>
      <%= stripe_card.name %>
    <% end %>
  </div>
</a>

<% if @show_card_popovers && !show_mock_data? %>
  <section class="modal modal--scroll modal--popover modal--popover--sm bg-snow" data-behavior="modal" role="dialog" id="card_popover_<%= stripe_card.id %>" data-state-url="<%= stripe_card_path(stripe_card) %>" data-state-title="<%= stripe_card.initially_activated ? "Card #{stripe_card.last_four}" : "Inactive card" %>">
    <%= modal_header(stripe_card.initially_activated ? "Card #{stripe_card.last_four}" : "Inactive card", external_link: url_for(stripe_card)) %>
    <%= turbo_frame_tag "stripe_card_#{stripe_card.public_id}", src: stripe_card.popover_path, loading: :lazy do %>
      <%= render partial: "application/loading_container" %>
    <% end %>
  </section>
<% end %>
