<% title "Card #{@card.last_four}" %>
<%= render 'events/nav' %>

<article class="check--form flex align-start justify-center mt2">
  <section class="center mt0 mx-auto" style="width: 400px; max-width: 100%;">
    <%= render @card %>
    <%= link_to @card, class: 'btn bg-info mt2 md-mt3' do %>
      <%= inline_icon 'view' %>
      Reveal card number
    <% end if false && @card.virtual? %>

  </section>

  <article class="card max-width-2 mx-auto mt3">
    <section class="mb2">
      <h2 class="mt0 heading">
        <span class="flex-auto">
          <%= @card.virtual? ? 'Virtual card' : 'Card' %>
          for <%= user_mention @card.user %>
        </span>
      </h2>

      <section class="details mt2">
        <% if @card.virtual? %>
          <div>
            <strong>CVC</strong>
            <%= @card.cvc %>
          </div>

          <div>
            <strong>Expiration date</strong>
            <%= render_exp_date %>
          </div>

          <div>
            <strong>ZIP/Postal code</strong>
            <%= @card.stripe_cardholder.address_postal_code %>
          </div>
        <% end %>

        <p>
          <strong>Billing address</strong>
          <%= render_address @card.cardholder %>
        </p>

        <div>
          <strong>Lifetime total spent</strong>
          <%= render_money @card.total_spent %>
        </div>

        <div class="tooltipped tooltipped--s" aria-label="This is your account balance">
          <strong>Spending limit</strong>
          <%= render_money @event.available_balance %>
        </div>

        <% eta = @card.stripe_obj.to_hash.dig(:shipping, :eta) %>
        <% if eta && Time.at(eta) < 3.days.ago %>
          <p>
            <strong>Expected on</strong>
            <%= format_datetime Time.at(@card.stripe_obj.to_hash.dig(:shipping, :eta)) %>
          </p>
        <% else %>
          <p>
            <strong>Activation status</strong>
            <span class="flex items-baseline">
              <%= status_badge @card.status_badge_type %>
              <%= @card.status_text %>
            </span>
          </p>
        <% end %>

        <% admin_tools do %>
          <strong>Ordered at</strong>
          <%= format_datetime Time.at(@card.stripe_obj[:created]) %>
        <% end %>
      </section>
    </section>

    <section class="card__banner card__banner--bottom card__darker pt2 pb2">
      <p class="muted mt0 mb0">
      Alert us if there are fradulent or incorrect charges on your card. <%= help_message %>
      </p>
    </section>
  </article>
</article>

<% @authorizations = @card.stripe_authorizations.awaiting_receipt %>
<% if @authorizations.any? %>
  <section class="card p0 mt3 mb3">
    <h2 class="heading h2 line-height-3 mt0 pt1 pb1 pl2 pr2">
      Transactions missing receipts
    </h2>
    <%= render 'stripe_authorizations/list', stripe_authorizations: @authorizations, headless: true %>
  </section>
<% end %>

<% admin_tools do %>
  <pre>
    <%= json card: @card, stripe_obj: @card.stripe_obj %>
  </pre>
<% end %>
