<% title "Card #{@card.last_four}" %>
<%= render 'events/nav' %>

<% admin_tools('mt3') do %>
  <%= link_to 'View on Stripe', @card.stripe_dashboard_url, class: 'btn bg-accent' %>
<% end %>

<article class="check--form flex align-start justify-center mt2 mb3">
  <section class="center mt0 mx-auto" style="width: 400px; max-width: 100%;">
    <%= render @card %>
    <% if @card.stripe_status == 'inactive' %>
      <%= link_to 'Defrost card',
                  stripe_card_defrost_path(@card),
                  method: :post,
                  class: 'btn bg-accent mt3' %>
    <% elsif @card.stripe_status == 'active' %>
      <%= link_to 'Freeze card',
                  stripe_card_freeze_path(@card),
                  method: :post,
                  class: 'btn bg-accent mt3' %>
      <p class="muted">You can instantly defrost your card at anytime</p>
    <% end %>
  </section>

  <article class="card max-width-2 mx-auto mt3">
    <h2 class="mt0 heading">
      <span class="flex-auto">
        <%= @card.virtual? ? 'Virtual card' : 'Card' %>
        for <%= user_mention @card.user %>
      </span>
    </h2>

    <section class="details mt2">
      <% eta = @card.stripe_obj.to_hash.dig(:shipping, :eta) %>
      <% if eta && Time.now.before?(Time.at(eta) + 3.days) %>
        <p>
          <strong>Expected arrival</strong>
          <%= format_date Time.at(eta).to_date %>
        </p>
      <% else %>
        <p>
          <strong>Activation status</strong>
          <span class="flex items-baseline">
            <%= status_badge @card.status_badge_type %>
            <%= @card.status_text %>
          </span>
        </p>
      <% end %>

      <% if @card.virtual? %>
        <% if @card.user == current_user %>
          <div>
            <strong>
              Card number
            </strong>
            <%= @card.formatted_card_number %>
          </div>
        <% end %>

        <div>
          <strong>CVC</strong>
          <%= @card.cvc %>
        </div>

        <div>
          <strong>Expiration date</strong>
          <%= render_exp_date %>
        </div>

        <div>
          <strong>ZIP/Postal code</strong>
          <%= @card.stripe_cardholder.address_postal_code %>
        </div>
      <% else %>
        <div>
          <strong>
            Card number
          </strong>
          <%= @card.formatted_card_number %>
          <div class="right tooltipped tooltipped--w" aria-label="Full number hidden to protect security">
            <%= inline_icon 'private', size: 32, class: 'smoke' %>
          </div>
        </div>
      <% end %>

      <p>
        <strong>Billing address</strong>
        <%= render_address @card.cardholder %>
      </p>
    </section>
    <% admin_tools 'details' do %>
      <div>
        <strong>Ordered at</strong>
        <%= format_datetime Time.at(@card.stripe_obj[:created]) %>
      </div>
    <% end %>

    <section class="grid grid--split items-end pt2">
      <div class="stat tooltipped tooltipped--s" aria-label="This is your account balance">
        <strong class="stat__label">Spending limit</strong>
        <span class="stat__value">
          <%= render_money_amount @event.available_balance %>
        </span>
      </div>
      <div class="stat stat--small">
        <strong class="stat__label">Lifetime spent</strong>
        <span class="stat__value">
          <%= render_money_amount @card.total_spent %>
        </span>
      </div>
    </section>

    <section class="card__banner card__banner--bottom card__darker pt2 pb2">
      <p class="muted mt0 mb0">
      Alert us if there are fradulent or incorrect charges on your card. <%= help_message %>
      </p>
    </section>
  </article>
</article>

<% @authorizations = @card.stripe_authorizations %>
<% if @authorizations.any? %>
  <section class="card p0 mt3 mb3">
    <h2 class="heading h2 line-height-4 mt0 ml0 pt1 pb1 pl2 pr2">
      Transactions on this card
    </h2>
    <%= render 'stripe_authorizations/list', stripe_authorizations: @authorizations, headless: true, authorless: true %>
  </section>
<% else %>
  <%= blankslate 'No transactions made on this card yet.' %>
<% end %>

<% admin_tools do %>
  <pre>
    <%= json card: @card, stripe_obj: @card.stripe_obj %>
  </pre>
<% end %>
