<% title "Card #{@card.last_four}" %>
<%= render "events/nav", selected: :cards %>

<% admin_tools("mt3") do %>
  <%= link_to "View card on Stripe", @card.stripe_dashboard_url, class: "btn bg-accent" %>
  <%= link_to "View cardholder on Stripe", @card.cardholder.stripe_dashboard_url, class: "btn bg-accent" %>
<% end %>

<%= render partial: "canceled_warning", locals: { stripe_card: @card } %>

<turbo-frame id="details">
  <article class="check--form flex items-start justify-center mt2 mb3" style="gap: 16px;">
    <section class="center mt0 mx-auto" style="width: 400px; max-width: 100%;">
      <% if @card.card_grant.present? %>
        <% admin_tools do %>
          This card is linked to a <%= link_to "#{@card.card_grant.amount.format} grant", @card.card_grant, data: { turbo_frame: "_top" } %> to <%= mail_to @card.card_grant.user.email %>.
        <% end %>
      <% end %>

      <%= render @card %>

      <%= render partial: "actions", locals: { stripe_card: @card } %>
    </section>

    <%= render partial: "details", locals: { stripe_card: @card } if @card.activated? %>
    <% if @card.physical? && !@card.activated? %>
      <div class="mt2 max-width-2 w-100 mx-auto">
        <div class="banner bg-pending black flex items-center mt2 mb2">
          <%= inline_icon "card-pin", size: 32 %>
          <strong class="ml2">
            Your card is on the way!
          </strong>
        </div>
        <div class="grid mb3" style="max-width: 36rem; margin: 0px auto; width: 100%;">
          <%= render partial: "stripe_cards/shipping", locals: { stripe_card: @card } %>
        </div>
      </div>
    <% end %>
  </article>
</turbo-frame>

<%= render partial: "transactions", locals: { stripe_card: @card, hcb_codes: @hcb_codes } %>
