<% title "Card #{@card.last_four}" %>
<%= render 'events/nav' %>

<article class="check--form flex align-start justify-center mt2">
  <section class="center mt0 mx-auto" style="width: 400px; max-width: 100%;">
    <%= render @card %>
    <%= link_to @card, class: 'btn bg-info mt2 md-mt3' do %>
      <%= inline_icon 'view' %>
      Reveal card number
    <% end if false && @card.virtual? %>


      <p class="bold mt2 mb1">Your billing address for purchases</p>
      <pre class="inline-block mt0 mb0">
<%= render_address @card.cardholder %>
      </pre>
  </section>

  <article class="card max-width-2 mx-auto mt3">
    <section class="mb2">
      <h2 class="mt0 heading">
        <span class="flex-auto">Card for <%= user_mention @card.user %></span>
      </h2>

      <section class="details mt2">
        <% if @card.virtual? %>
          <div>
            <strong>CVC</strong>
            <%= @card.cvc %>
          </div>

          <div>
            <strong>Expiration date</strong>
            <%= render_exp_date %>
          </div>

          <div>
            <strong>ZIP/Postal code</strong>
            <%= @card.stripe_cardholder.address_postal_code %>
          </div>
        <% else %>
          <div>
            <strong>Shipping address</strong>
            <%= render_address @card %>
          </div>
        <% end %>

        <div>
          <strong>Spending limit</strong>
          <%= render_money @event.available_balance %>
        </div>

        <p>
          <strong>Ordered by</strong>
          <%= user_mention @card.user %>
        </p>

        <p>
          <strong>Ordered at</strong>
          <%= format_datetime Time.at(@card.stripe_obj[:created]) %>
        </p>

        <% if @card.stripe_obj.to_hash.dig(:shipping, :eta) %>
          <p>
            <strong>Expected on</strong>
            <%= format_datetime Time.at(@card.stripe_obj.to_hash.dig(:shipping, :eta)) %>
          </p>
        <% end %>

        <p>
          <strong>Activation status</strong>
          <span class="flex items-baseline">
            <%= status_badge @card.status_badge_type %>
            <%= @card.status_text %>
          </span>
        </p>
      </section>
    </section>

    <section class="card__banner card__banner--bottom card__darker pt2 pb2">
      <p class="muted mt0 mb0">
        If there are fradulent or incorrect charges on your card,
        please let your point of contact,
        <%= user_mention @card.event&.point_of_contact %> know.
      </p>
    </section>
  </article>
</article>

<ul>
<% @card.stripe_authorizations.awaiting_receipt.each do |auth| %>
  <li>
  <%= link_to "Upload receipt for #{render_money auth.amount} at \"#{auth.merchant_name}\"", stripe_authorization_url(id: auth.id, stripe_id: auth.stripe_id) %>
  </li>
<% end %>
</ul>

<% admin_tools do %>
  <pre>
    <%= json card: @card, stripe_obj: @card.stripe_obj %>
  </pre>
<% end %>
