<% disabled = !policy(@event).create_transfer? %>

<% title "Edit a wire" %>
<%= render "events/nav", selected: :transfers %>
<% page_sm %>

 <% if @event.present? && !policy(@event).create_transfer? %>
  <%= render "events/transfers/unauthorized_callout" %>
<% end %>

<h2 class="mt5">Edit wire to <%= @wire.recipient_name %> (#<%= @wire.id %>)</h2>

<hr class="mt1 mb1">

<%= form_with(model: @wire, local: true, html: {
                "x-data": "{ country: #{@wire.recipient_country ? "'#{@wire.recipient_country}'" : "null"} }"
              }) do |form| %>

  <%= form_errors(@wire, "wire", "We couldn't send this") %>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_field :memo,
        placeholder: "For venue payment...",
        required: true,
        disabled: %>
  </div>

  <h2 class="mb2 mt3">Recipient details</h2>

  <div class="field mt2">
  <%= form.label :recipient_name, "Name (use company name if applicable)" %>
  <%= form.text_field :recipient_name, placeholder: "Raviga Capital", required: true, maxlength: 250 %>
  </div>

  <div class="field">
  <%= form.label :recipient_email, "Email" %>
  <%= form.email_field :recipient_email, placeholder: "fionah@gmail.com", required: true, disabled: %>
  </div>

  <%= render partial: "recipient_details", locals: { form:, disabled: } %>

  <h2 class="mb2 mt3">Payment information</h2>

  <div class="field">
    <%= form.label :payment_for, "What are you paying for with this wire?" %>
    <%= form.text_field :payment_for, placeholder: "Event venue", required: true, disabled: %>
    <span class="muted">This is to help HCB keep record of our transactions.</span>
  </div>

  <%= render partial: "account_details", locals: { form:, disabled: } %>

  <%= render partial: "country_specific_details", locals: { form:, disabled: } %>

  <div class="actions inline-block mt1">
    <%= form.submit "Update wire", disabled: %>
  </div>
<% end %>
