<% disabled = !policy(@event).create_transfer? %>

<% title "Send a wire" %>
<%= render "events/nav", selected: :transfers %>
<% page_sm %>

 <% if @event.present? && !policy(@event).create_transfer? %>
  <%= render "events/transfers/unauthorized_callout" %>
<% end %>

<h1>Send a wire</h1>

<%= render partial: "requirements", locals: { event: @event } %>

<%= form_with(model: [@event, @wire], local: true, html: {
                "x-data": "{ country: #{@wire.recipient_country ? "'#{@wire.recipient_country}'" : "null"} }"
              }) do |form| %>

  <%= form_errors(@wire, "wire", "We couldn't send this") %>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_field :memo,
        placeholder: "For venue payment...",
        required: true,
        disabled: %>
  </div>

  <h2 class="mb2 mt3">Recipient details</h2>

  <div class="field mt2">
  <%= form.label :recipient_name, "Name (use company name if applicable)" %>
  <%= form.text_field :recipient_name, placeholder: "Raviga Capital", required: true, maxlength: 250 %>
  </div>

  <div class="field">
  <%= form.label :recipient_email, "Email" %>
  <%= form.email_field :recipient_email, placeholder: "fionah@gmail.com", required: true, disabled: %>
  </div>

  <%= render partial: "recipient_details", locals: { form:, disabled: } %>

  <h2 class="mb2 mt3">Payment information</h2>

  <%= form.label :amount, "Currency & amount" %>

  <div class="field">
    <div class="flex items-center g1">
      <div style="width: 72px">
        <%= form.select :currency, ::EuCentralBank::CURRENCIES + ["EUR"], required: true, disabled:, default: "USD" %>
      </div>
      <div class="flex flex-col flex-grow">
        <%= form.number_field :amount,
          placeholder: "500.00",
          disabled: disabled || @event.balance <= 0,
          step: 0.01,
          required: true,
          data: { controller: "truncate-decimal", action: "truncate-decimal#truncate blur->truncate-decimal#pad" } %>
      </div>
    </div>
    <% @wire.errors.messages_for(:amount).each do |message| %>
      <div class="primary"><%= message %></div>
    <% end %>
    <% if @event.balance <= 0 %>
      <span class="error">There are no funds to transfer.<br>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :payment_for, "What are you paying for with this wire?" %>
    <%= form.text_field :payment_for, placeholder: "Event venue", required: true, disabled: %>
    <span class="muted">This is to help HCB keep record of our transactions.</span>
  </div>

  <%= render partial: "account_details", locals: { form:, disabled: } %>

  <%= render partial: "country_specific_details", locals: { form:, disabled: } %>

  <%= form.label :file, "Attach a receipt / invoice", class: "mt2 semibold" %>
  <div class="field field--fileupload mb1 mt1" data-controller="file-drop form" data-file-drop-title-value="Drop to add a receipt.">
    <%= form.label :file, "Choose file", class: "field--fileupload__label", data: {
          action: "
        dragover@window->file-drop#dragover
        drop@window->file-drop#drop
        dragenter@window->file-drop#dragenter
        dragleave@window->file-drop#dragleave
      "
        } %>
    <%= form.file_field :file,
        multiple: true,
        include_hidden: false,
        required: false,
        accept: "image/*,image/heic,.pdf",
        style: "margin: 8px 0px",
        class: "field--fileupload__field",
        data: {
          "file-drop-target" => "fileInput"
        },
        disabled: %>
    <%= inline_icon "view-close", size: 24, class: "muted", "data-behavior": "clear_input" %>
  </div>

  <p class="muted mt0 mb2">Required for reimbursements / goods & services payments.</p>

  <div class="actions tooltipped tooltipped--n inline-block mt1" aria-label="Your wire will be sent out on the next business day.">
    <%= form.submit "Send wire", disabled: %>
  </div>
<% end %>
