<div class="overflow-visible relative" style="margin-left: 0.5rem;">
  <button class="list-badge add-tag-badge ml0 menu__toggle menu__toggle--arrowless" data-behavior="menu_toggle">+ Add tag</button>
  <div class="menu__content menu__content--compact menu__content--left h6" data-behavior="menu_content">
    <% event.tags.each do |tag| %>
      <%= button_to toggle_tag_hcb_code_path(id: hcb_code.hashid, tag_id: tag.id), class: "menu__action", form: { "data-turbo" => "true" } do %>
        <%= "✓" if hcb_code.tags.include?(tag) %>

        <%= tag.label %>
      <% end %>
    <% end %>
    <% if event.tags.count > 0 %>
      <div class="menu__divider"></div>
    <% end %>
    <%= form_with url: event_tags_path(event), data: { turbo: true } do |form| %>
      <%= form.hidden_field :hcb_code_id, value: hcb_code.hashid %>
      <%= form.text_field :label, data: { behavior: "menu_input #{"menu_input--autofocus" if event.tags.count == 0}" }, class: "menu__input", placeholder: "+ Create tag", autocomplete: "off", required: true %>
    <% end %>
  </div>
</div>
