<%= form_with(model: organizer_position_deletion_request, local: true) do |form| %>
  <%= form_errors organizer_position_deletion_request, 'request' %>

  <%= form.hidden_field :organizer_position_id %>

  <div class="field">
    <%= form.label :reason, "Give a short description of why you’re removing their account." %>
    <%= form.text_area :reason, 'data-behavior': 'autosize' %>
    <span class="muted h5">(So we have context when we contact you.)</span>
  </div>

  <p>
    Does <%= user_mention @target %> have outstanding expenses on Expensify?
  </p>
  <div class="field field--radiobox">
    <%= form.radio_button :subject_has_outstanding_expenses_expensify, false, value: false %>
    <%= form.label :subject_has_outstanding_expenses_expensify, 'No', value: false %>
    <%= form.radio_button :subject_has_outstanding_expenses_expensify, true, value: true %>
    <%= form.label :subject_has_outstanding_expenses_expensify, 'Yes', value: true %>
  </div>

  <p>
    Does <%= user_mention @target %> have transactions without receipts on Stripe?
  </p>
  <div class="field field--radiobox">
    <%= form.radio_button :subject_has_outstanding_transactions_emburse, false, value: false %>
    <%= form.label :subject_has_outstanding_transactions_emburse, 'No', value: false %>
    <%= form.radio_button :subject_has_outstanding_transactions_emburse, true, value: true %>
    <%= form.label :subject_has_outstanding_transactions_emburse, 'Yes', value: true %>
  </div>

  <p>
    Does <%= user_mention @target %> have important emails in their G Suite account?
  </p>
  <div class="field field--radiobox">
    <%= form.radio_button :subject_emails_should_be_forwarded, false, value: false %>
    <%= form.label :subject_emails_should_be_forwarded, 'No', value: false %>
    <%= form.radio_button :subject_emails_should_be_forwarded, true, value: true %>
    <%= form.label :subject_emails_should_be_forwarded, 'Yes', value: true %>
  </div>

  <div class="actions">
    <%= form.submit 'Request removal' %>
  </div>
<% end %>
