<%= form_with(model: organizer_position_deletion_request, local: true) do |form| %>
  <% if organizer_position_deletion_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organizer_position_deletion_request.errors.count, "error") %> prevent this from submitting:</h2>

      <ul>
      <% organizer_position_deletion_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :organizer_position_id %>

  <div class="field">
    <%= form.label :reason, "Give a short description of why you’re removing their account." %>
    <%= form.text_area :reason %>
    <span class="muted h5">(So we have context when we contact you.)</span>
  </div>

  <div class="field field--checkbox">
    <%= form.check_box :subject_has_outstanding_expenses_expensify %>
    <%= form.label :subject_has_outstanding_expenses_expensify, "Does #{user_mention @target} have outstanding expenses on Expensify?".html_safe %>
  </div>

  <div class="field field--checkbox">
    <%= form.check_box :subject_has_outstanding_transactions_emburse %>
    <%= form.label :subject_has_outstanding_transactions_emburse, "Does #{user_mention @target} have transactions without receipts on Emburse?".html_safe %>
  </div>

  <div class="field field--checkbox">
    <%= form.check_box :subject_emails_should_be_forwarded %>
    <%= form.label :subject_emails_should_be_forwarded, "Does #{user_mention @target} have important emails in their G Suite account?".html_safe %>
  </div>

  <div class="actions">
    <%= form.submit 'Request removal' %>
  </div>
<% end %>
