<%= form_with(model: organizer_position_deletion_request, local: true) do |form| %>
  <%= form_errors organizer_position_deletion_request, "request" %>

  <%= form.hidden_field :organizer_position_id %>

  <div class="field">
    <%= form.label :reason, "Give a short description of why you’re removing their account." %>
    <%= form.text_area :reason %>
    <span class="muted h5">(So we have context when we contact you.)</span>
  </div>

  <div class="actions">
    <%= form.submit "Request removal" %>
  </div>
<% end %>
