<%= form_with(model: organizer_position_deletion_request, local: true) do |form| %>
  <%= form_errors organizer_position_deletion_request, "request" %>

  <%= form.hidden_field :organizer_position_id %>

  <div class="field">
    <%= form.label :reason, "Give a short description of why you’re removing their account." %>
    <%= form.text_area :reason %>
    <span class="muted h5">(So we have context when we contact you.)</span>
  </div>

  <% cards_num = @opdr.organizer_active_cards.count %>
  <% if cards_num > 0 %>
    <p class="warning">
      <%= inline_icon "important", size: 24, style: "vertical-align: middle; margin: -0.2rem 0 0 -0.2rem;" %>
      Removing this user will also permanently cancel their <%= cards_num %> <%= pluralize(cards_num, "card") %>. Recurring charges like subscriptions will be declined after cards are canceled.
    </p>
  <% end %>

  <div class="actions">
    <%= form.submit "Request removal" %>
  </div>
<% end %>
