<% title 'Organizer position deletion requests' %>
<h1>Organizer Position Deletion Requests</h1>

<% if @opdrs.any? %>
<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Submitted by</th>
      <th>Target Organizer</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opdrs.each do |opdr| %>
      <tr class="<%= 'shade-yellow' if opdr.under_review? %>">
        <td><%= opdr.organizer_position.event.name %></td>
        <td><%= opdr.submitted_by.name %></td>
        <td><%= opdr.organizer_position.user.name %></td>
        <td><%= opdr.status.to_s.humanize %></td>
        <td><%= link_to (opdr.under_review? ? 'Process' : 'View'), opdr, class: 'btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<h3>Everything is well in the land of Bank</h3>
<p>There are no account deletion requests</p>
<% end %>
