<% 'Team member removals' %>
<% page_sm %>
<%= render 'events/nav' %>

<article class="card mt3">
  <h1 class="h2 mt0">Organizer position deletion request</h1>

  <div class="details">
    <p>
      <strong>Submitted by</strong>
      <%= user_mention @opdr.submitted_by %>
    </p>

    <p>
      <strong>Submitter email</strong>
      <%= @opdr.submitted_by.email %>
    </p>

    <p>
      <strong>Organizer position for deletion</strong>
      #<%= @opdr.organizer_position.id %> <%= @opdr.organizer_position.user.full_name %>
    </p>

    <p>
      <strong>Reason for deletion</strong>
      <%= @opdr.reason %>
    </p>
  </div>

  <p>
    <%= @opdr.subject_has_outstanding_expenses_expensify ? '✅' : '❌' %>
    <strong>Outstanding Expensify expenses?</strong>
  </p>

  <p>
    <%= @opdr.subject_has_outstanding_transactions_emburse ? '✅' : '❌' %>
    <strong>Outstanding Stripe transactions?</strong>
  </p>

  <p>
    <%= @opdr.subject_emails_should_be_forwarded ? '✅' : '❌' %>
    <strong>Forward emails?</strong>
  </p>

  <% if @opdr.organizer_position.deleted_at.nil? %>
    <%= link_to 'Delete organizer ⚠️☣☠',
      organizer_path(@opdr.organizer_position.id),
      method: :delete,
      data: { confirm: "This will remove this user from #{@opdr.organizer_position.event.name} from the database. Are you sure you want to do this?" },
      class: 'btn bg-error ml1' %>
  <% else %>
    <p><strong>Organizer is marked as deleted</strong></p>
  <% end %>
</div>

<% if @opdr.under_review? %>
  <%= link_to 'Close Request',
    organizer_position_deletion_request_close_path(@opdr.id),
    method: :post,
    data: { confirm: 'This will mark the request as processed. Only continue if no follow-up is needed for this request.' },
    class: 'btn bg-accent' %>
<% else %>
  <%= link_to 'Open Request',
    organizer_position_deletion_request_open_path(@opdr.id),
    method: :post,
    data: { confirm: 'This will re-open the request.' },
    class: 'btn bg-info' %>
<% end %>
</article>

<%= render 'comments/comments' %>
