<%= form_with(model: @emburse_card, local: true) do |form| %>
  <p>For <strong>#<%= @emburse_card.event.id %> <%= @emburse_card.event.name %></strong></p>

  <%= form_errors @emburse_card %>

  <% if @emburse_card_request %>
    <%= form.hidden_field :emburse_card_request_id, value: @emburse_card_request.id %>
  <% end %>

  <div class="field">
    <%= form.label :user_id, 'User' %>
    <%= form.collection_select(:user_id, User.reorder(:email), :id, :email, prompt: 'Select user…') %>
  </div>

  <div class="field">
    <%= form.label :event_id, 'Event' %>
    <%= form.collection_select(:event_id, Event.all, :id, :name, prompt: 'Select event…') %>
  </div>

  <% if @emburse_card.persisted? %>
    <div class="field">
      <%= form.label :full_name, 'Full name on card' %>
      <%= form.text_field :full_name %>
    </div>
  <% end %>

  <%= form.hidden_field :address %>

  <p class="mt0">User email <input type="text" disabled="disabled" value="<%= @emburse_card&.user&.email %>"></p>
  <p class="mt0">Full name <input type="text" disabled="disabled" value="<%= @emburse_card&.user&.full_name || @emburse_card_request.full_name %>"></p>
  <% if @emburse_card_request&.is_virtual  %>
    <div class="field field--checkbox">
      <%= form.check_box :is_virtual, checked: @emburse_card_request&.is_virtual, disabled: true %>
      <%= form.label :is_virtual, 'Is virtual', readonly: true %>
    </div>
  <% else %>
    <div class="mb1">
      Address fields
      <input type="text" disabled="disabled" value="<%= @emburse_card_request&.shipping_address_street_one %>">
      <input type="text" disabled="disabled" value="<%= @emburse_card_request&.shipping_address_street_two %>">
      <input type="text" disabled="disabled" value="<%= @emburse_card_request&.shipping_address_city %>">
      <div class="flex mt0">
        <input type="text" disabled="disabled" value="<%= @emburse_card_request&.shipping_address_state %>">
        <input type="text" disabled="disabled" value="<%= @emburse_card_request&.shipping_address_zip %>">
      </div>
    </div>
  <% end %>

  <% if @emburse_card.persisted? %>

    <div class="field">
      <%= form.label :last_four, 'Last four digits of card number' %>
      <%= form.number_field :last_four, disabled: true %>
    </div>

    <div class="field">
      <%= form.label :expiration_month, 'Expiration month (MM)' %>
      <%= form.number_field :expiration_month, disabled: true %>
    </div>

    <div class="field">
      <%= form.label :expiration_year, 'Expiration year (YYYY)' %>
      <%= form.number_field :expiration_year, disabled: true %>
    </div>

  <% end %>

  <div class="field">
    <%= form.label :emburse_id, 'Emburse ID' %>
    <%= form.text_field :emburse_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
