<% title "Activate your card" %>
<% page_md %>
<%= render "users/nav", selected: :cards %>
<div>
<h1 class="heading">
  <span class="flex items-center">
    Card activation
  </span>
</h1>
<p>Enter the last four digits of your card number to activate it.</p>

<%= form_with url: stripe_cards_activation_path, method: :post do |form| %>
  <a class="text-decoration-none flex justify-start">
    <div class="stripe-card inactive ml0 mr0" data-behavior="hover_tilt" style="background-image: <%= GeoPattern.generate(@pattern || rand(1..1000000000)).to_data_uri %>">
      <p class="stripe-card__number fs-mask">
        <span>••••</span>
        <span>••••</span>
        <span>••••</span>
        <%= form.number_field :last4, placeholder: "XXXX", required: true, pattern: "\d*", autofocus: true, oninput: "this.value = this.value.replace(/[^0-9]/g, '').substring(0, 4)", class: "placeholder:text-white placeholder:opacity-50 !min-h-8 backdrop-blur-sm font-semibold !text-xl !inline-block font-mono center mb1 !w-20 !bg-white/30" %>
      </p>
      <p class="stripe-card__name flex justify-between items-center">
        <span class="truncate">
          <%= current_user.name %>
        </span>
        <span class="ml2 badge h6 stripe-card__status">
          INACTIVE
        </span>
      </p>
    </div>

  </a>
  <%= form.submit "Activate", class: "btn btn-primary mt2" %>

<% end %>
