<p>
  Hey <%= @user.first_name %>,
</p>

<p>Welcome to HCB! We're glad you've joined us.</p>
<p>From serving your local community to running global events and more, we're here to help you on your nonprofit journey.</p>

<p>Here's just a few things you can do on HCB:</p>
<ul>
  <li><%= link_to "Apply to start an organization", "https://hackclub.com/fiscal-sponsorship/apply/" %></li>
  <li><%= link_to "Follow other nonprofit organizations", "https://hackclub.com/fiscal-sponsorship/directory/?utm_source=hcb&utm_medium=email&utm_campaign=welcome" %>
  <li><%= link_to "Check out what's new", "https://blog.hcb.hackclub.com/" %>
</ul>

<p>Feel free to reach out to <%= link_to "hcb@hackclub.com", "mailto:hcb@hackclub.com" %> if you have any questions!</p>

<p>
  Best,<br>
  The HCB Team
</p>
