<h1>Bank Accounts</h1>
<section class="event-summary mt3 mb3">
  <div class="stat">
    <span class="stat__label">Net Balance</span>
    <span class="stat__value"><%= render_money_amount BankAccount.all.map(&:balance).sum %></span>
  </div>
</section>
<table>
<tr>
  <th>Name</th>
  <th>Balance</th>
  <th>Syncing</th>
  <th colspan="2">Full Info</th>
</tr>
<% BankAccount.find_each do |ba| %>
  <tr>
    <td>
      <%= ba.name %>
    </td>
    <td>
      <%= render_money ba.balance %>
    </td>
    <td>
      <% if ba.should_sync? %>
        <%= status_badge 'success' %> Enabled
      <% else %>
        <%= status_badge 'muted' %> Paused
      <% end %>
    </td>
    <td>
      <%= link_to 'View', ba %>
    </td>
    <td>
      <%= link_to 'Reauthenticate', bank_account_reauthenticate_path(ba) %>
    </td>
  </tr>
<% end %>
</table>
