<h1>Reauthenticate bank account</h1>
<button id="linkButton">Reauthenticate</button>

<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script>
var linkHandler = Plaid.create({
  env: <%= @link_env.to_json.html_safe %>,
  clientName: <%= @client_name.to_json.html_safe %>,
  key: <%= @public_key.to_json.html_safe %>,
  product: <%= @product.to_json.html_safe %>,
  token: <%= @public_token.to_json.html_safe %>,
  onSuccess: function(public_token, metadata) {
    // Don't need to do anything, access token remains the same
    alert('Done! Feel free to continue using Bank.')
  },
  onExit: function(err, metadata) {
    if (err != null) {
      console.log('error metadata:', metadata)

      alert('Ran into an error while authenticating! Please try again. Check console for metadata like request_id or link_session_id and report to Plaid.')
    }
  },
});

// Trigger the standard Institution Select view
document.getElementById('linkButton').onclick = function() {
  linkHandler.open();
};
</script>

<ul>
  <li>env: <%= @link_env %></li>
  <li>clientName: <%= @client_name %></li>
  <li>product: <%= @product %></li>
  <li>token: <%= @public_token %></li>
</ul>
