<h1><%= @account.name %></h1>
<div class="mt2 mb2">
<% if @account.should_sync? %>
  <%= status_badge 'success' %>Enabled.
  <%= link_to 'Pause syncing.', bank_account_path(@account, bank_account: { should_sync: false }), remote: true, method: :patch %>
<% else %>
  <%= status_badge 'muted' %>Paused.
  <%= link_to 'Enable syncing.', bank_account_path(@account, bank_account: { should_sync: true }), remote: true, method: :patch %>
<% end %>
</div>
<section class="event-summary mt2 mb2">
  <div class="event-summary__panel rounded bg-accent white p1">
    <div class="stat">
      <span class="stat__label">Account balance</span>
      <span class="stat__value"><%= render_money @account.balance, '' %></span>
    </div>
  </div>
</section>

<table>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Amount</th>
    <th>Event</th>
    <th>Details</th>
  </tr>
  <% @transactions.each do |t| %>
    <tr class="<%= 'shade-yellow' if !t.event && t.is_event_related %>">
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= t.name %>
      </td>
      <td>
        <%= render_money t.amount %>
      </td>
      <td>
        <% if t.event %>
          <%= link_to t.event.name, t.event %>
        <% elsif t.is_event_related %>
          <%= link_to 'Set Event', edit_transaction_path(t), class: 'btn bg-info' %>
        <% else %>
          n/a
        <% end %>
      </td>
      <td>
        <%= link_to 'View', t %>
      </td>
    </tr>
  <% end %>
</table>
