<h1><%= @account.name %></h1>
<p>
<% if @account.should_sync? %>
  <%= status_badge 'success' %>Enabled.
  <%= link_to 'Pause syncing.', bank_account_path(@account, bank_account: { should_sync: false }), remote: true, method: :patch %>
<% else %>
  <%= status_badge 'muted' %>Paused.
  <%= link_to 'Enable syncing.', bank_account_path(@account, bank_account: { should_sync: true }), remote: true, method: :patch %>
<% end %>
</p>
<div class="statset mt2 mb2">
  <section class="statset mb2">
    <div class="stat stat--wide">
      <span class="stat__label">Account balance</span>
      <span class="stat__value"><%= render_money_amount @account.balance %></span>
    </div>
    <div class="stat stat--plain stat--small">
      <span class="stat__label">Transactions</span>
      <span class="stat__value"><%= @transactions.size %></span>
    </div>
  </section>
</div>

<table>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Amount</th>
    <th>Event</th>
    <th>Details</th>
  </tr>
  <% @transactions.each do |t| %>
    <tr class="<%= 'shade-yellow' if !t.event && t.is_event_related %>">
      <td>
        <%= t.date %>
      </td>
      <td>
        <%= t.name %>
        <span class="muted h6 tooltipped tooltipped--s" aria-label="<%= t.plaid_id %>%" style="display: inherit;">
        <%= t.short_plaid_id %>
        </span>
      </td>
      <td>
        <%= render_money t.amount %>
      </td>
      <td>
        <% if t.event %>
          <%= link_to t.event.name, t.event %>
        <% elsif t.is_event_related %>
          <%= link_to 'Set Event', edit_transaction_path(t), class: 'btn bg-info' %>
        <% else %>
          n/a
        <% end %>
      </td>
      <td>
        <%= link_to 'View', t %>
      </td>
    </tr>
  <% end %>
</table>
