<% title "Grant to #{@card_grant.user.name}" %>
<%= render "events/nav", selected: :transfers if organizer_signed_in? %>

<%= turbo_stream_from @pre_authorization %>

<% shimmer = @pre_authorization.submitted? %>

<div class="card mt4 mb3 pb0">
  <div class="card__banner card__banner--top flex justify-between items-center border-bottom divide-secondary <%= "card--background-image" if @event.background_image.attached? %>" style="<%= "--bg-image: url(#{url_for(@event.background_image).dump})" if @event.background_image.attached? %>">
    <h3 class="h1 pt2 pb2 my0 color-black">
      <%= @event.name %>
      has granted you
      <%= render_money @card_grant.amount %>
      <% if @card_grant.purpose.present? %>
        for <%= @card_grant.purpose %>
      <% end %>
    </h3>
  </div>
  <div class="flex flex-row items-center justify-start gap-2 mb2 lg:items-end">
    <div class="flex items-start flex-col lg:flex-row lg:items-end justify-start gap-2">
      <div class="flex flex-row items-end justify-start gap-2 w-min-content min-w-0 flex-shrink-0">
        <h3 class="m-0 p-0">Pre-authorization</h3>
        <%= inline_icon "view-forward", class: "m-0 lg:self-center", size: 20 %>
      </div>
      <p class="m-0">Before you can get spending, we need to know what you're planning&nbsp;to&nbsp;buy.</p>
    </div>
    <div class="flex-grow"></div>
    <div class="flex flex-row items-center w-min-content flex-shrink-0">
      <%= render partial: "card_grant/pre_authorizations/status_badge", locals: { pre_authorization: @pre_authorization, organizer: false } %>
    </div>
  </div>
</div>

<% if @pre_authorization.approved? || @pre_authorization.fraudulent? %>
  <div class="card flex flex-row gap-2 justify-between align-center mb3">
    <h3 class="flex flex-row items-center m-0">
      <%= inline_icon "checkmark", size: 24, class: "mr2 text-green" %>
      Your card grant has been approved!
    </h3>
    <%= link_to "View card details", card_grant_path(@card_grant), class: "btn bg-success" %>
  </div>
<% end %>

<% if @card_grant.instructions.present? %>
  <%= render "callout", title: "Instructions from #{@card_grant.event.name}", type: "info", class: "mb-4" do %>
    <p class="m-0">
      <%= @card_grant.instructions %>
    </p>
  <% end %>
<% end %>

<%= render partial: "card_grant/pre_authorizations/organizer_info", locals: { pre_authorization: @pre_authorization, link_to_pre_authorization: false } %>

<%= form_with model: @pre_authorization, id: "pre_authorization_form", url: card_grant_pre_authorizations_path(@card_grant), method: :patch, class: "flex flex-col", data: { turbo: true } do |form| %>

  <h3>1. Provide a link to the product page</h3>
  <p>Submit a link to the product you're looking to purchase. We'll use this to verify that the item is in line with the purpose of the grant.</p>

  <div class="field mb2">
    <%= form.label :product_url, "Product page URL" %>
    <%= form.text_field :product_url, required: true, placeholder: "https://example.com/product", disabled: !@pre_authorization.draft? %>
  </div>

<% end %>

<h3>2. Upload a screenshot of your cart</h3>
<p>Upload a screenshot of your cart showing the item you want to purchase. Make sure it includes the total cost, as well as any taxes, fees, and shipping costs. This helps us verify the total amount you need to spend.</p>

<div class="flex justify-start flex-row gap-4">
  <% if @pre_authorization.draft? %>
    <%= render partial: "screenshot_form", locals: {
          upload_method: "attach_receipt_page",
          turbo: true
        } %>
  <% end %>

  <%= render partial: "screenshot_list", locals: {
        screenshots: @pre_authorization.screenshots.attachments,
        shimmer:
      } %>
</div>

<%= render partial: "screenshot_count", locals: {
      count: @pre_authorization.screenshots.count,
      card_grant: @card_grant,
      disabled: !@pre_authorization.draft?
    } %>

<h3>3. Submit for review</h3>
<p>Once you've provided the product link and uploaded the screenshot, our review process will screen your submission and activate your grant.</p>

<% if @pre_authorization.draft? %>
  <input type="submit" class="btn" value="Submit for review" form="pre_authorization_form">
<% elsif @pre_authorization.submitted? %>
  <input type="submit" class="btn bg-warning" value="Submitted..." form="pre_authorization_form" disabled>
<% end %>
