<% page_sm %>
<%= render "events/nav" %>

<h1 class="heading">
  <%= @emburse_card_request.full_name %>’s card request
</h1>

<section class="details">
<p>
  <strong>Status</strong>
  <%= @emburse_card_request.status %>
</p>

<p>
  <strong>Name on card</strong>
  <%= @emburse_card_request.full_name %>
</p>
</section>

<%= render "comments/comments" %>
