<% disabled = !policy(card_grant).create? %>

<% if @event.card_grant_setting.present? %>
  <p class="muted">See your <%= link_to "card grant settings", edit_event_path(@event, tab: "card_grants"), data: { turbo_frame: "_top" } %>.</p>
<% end %>

<%= form_with model: [@event, card_grant], data: { turbo_frame: "_top" } do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, value: card_grant.email, placeholder: "fiona@hackclub.com", autofocus: true, required: true, disabled: %>
  </div>

  <div class="field">
    <%= form.label :amount_cents, "Amount" %>
    <div class="flex items-center">
      <span class="bold muted shrink-none" style="width: 1rem;">$</span>
      <%= form.number_field :amount_cents, value: (card_grant.amount_cents.nil? ? nil : ("%.2f" % (card_grant.amount_cents.to_f / 100))), placeholder: "10.00", required: true, min: 0.01, step: 0.01, data: { controller: "truncate-decimal", action: "truncate-decimal#truncate blur->truncate-decimal#pad" }, disabled: %>
    </div>
  </div>

  <div class="field">
    <%= form.label :purpose, "Purpose (optional, shown to recipient)" %>
    <%= form.text_field :purpose, placeholder: "Pizza for a club meeting", disabled:, maxlength: CardGrant::MAXIMUM_PURPOSE_LENGTH %>
  </div>

  <div class="field">
    <%= form.label :instructions, "Instructions (optional)", class: "bold" %>
    <%= form.text_area :instructions, placeholder: "Please only purchase a soldering iron…" %>
  </div>

  <div class="field">
    <%= form.label :one_time_use do %>
      <%= form.check_box :one_time_use, disabled: %>
      One time use? (freezes after first charge)
    <% end %>
  </div>

  <div class="field">
    <%= form.label :pre_authorization_required do %>
      <%= form.check_box :pre_authorization_required, disabled: %>
      Require pre-authorization? (documentation before activation compared with purpose)
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit "Send grant", disabled: %>
  </div>
<% end %>
