<%# locals: (card_grant:) %>
<% hcb_code = card_grant.disbursement.local_hcb_code %>

<div class="card mt2">
  <%= render "hcb_codes/heading", hcb_code: do %>
    <span class="flex-auto">
      <span class="regular muted">
        Grant to
      </span>
      <%= card_grant.user.initial_name %>
      <span class="regular muted">
        for
      </span>
      <span class="regular"><%= render_money hcb_code.amount_cents_by_event(card_grant.event).abs %></span>
    </span>
  <% end %>
  </h2>
  <section class="card__banner card__darker details-horiz border-top border-bottom">
    <p>
      <strong>Sent by</strong>
      <%= user_mention card_grant.sent_by %>
    </p>
    <p>
      <strong>Funded by</strong>
      <%= link_to card_grant.event.name, card_grant.event %>
    </p>
    <p>
      <strong>Sent</strong>
      <span class="tooltipped" aria-label="<%= card_grant.created_at.to_formatted_s(:long) %>">
        <%= time_ago_in_words card_grant.created_at %> ago
      </span>
    </p>
  </section>
  <section class="details details--wide pt2 pb2 details--tall">
    <p>
      <strong>Grant status</strong>
      <span><%= card_grant.state_text %></span>
    </p>
    <p>
      <strong>One time use</strong>
      <span><%= card_grant.one_time_use ? "Yes" : "No" %></span>
    </p>
    <p>
      <strong>Grant amount</strong>
      <span><%= render_money card_grant.amount %></span>
    </p>
    <p>
      <strong>Expires on</strong>
      <span><%= format_date card_grant.expires_on %></span>
    </p>

    <p>
      <strong>Email</strong>
      <span><%= mail_to card_grant.email %></span>
    </p>
    <p>
      <strong>Allowed merchants</strong>
      <% if card_grant.allowed_merchants.any? %>
        <span class="font-mono h5"><%= card_grant.allowed_merchant_names.join(", ") %><br>
          (IDs: <%= card_grant.allowed_merchants.join(", ") %>)</span>
    <% else %>
        <span>All merchants allowed</span>
      <% end %>
    </p>

    <p>
      <strong>Allowed categories</strong>
      <% if (allowed_categories = card_grant.allowed_category_names.join(", ").presence) %>
        <span class="font-mono h5"><%= allowed_categories %></span>
      <% else %>
        <span>All categories allowed</span>
      <% end %>
    </p>
    <% if card_grant.purpose.present? %>
      <p>
        <strong>Purpose</strong>
        <span><%= card_grant.purpose %></span>
      </p>
    <% end %>
    <% if card_grant.keyword_lock.present? %>
      <p>
        <strong>Merchant keyword lock</strong>
        <span class="font-mono h5"><%= card_grant.keyword_lock %></span>
      </p>
    <% end %>
  </section>
</div>
