<%# locals: (card_grant:) %>

<% if (stripe_card = card_grant.stripe_card).present? %>
  <div>
    <div class="card container--md pt-0">
      <p>This is information about your grant:</p>

      <section class="details">
        <p>
          <strong class="inline-flex items-center" style="gap: 4px">
            Expiration date
            <span class="text-yellow tooltipped tooltipped--e h-[18px]" aria-label="This is when your grant will be returned to <%= card_grant.event.name %>. Please check the above section if you are looking for your billing information.">
              <%= inline_icon "important", size: 18, style: "position: unset;" %>
            </span>
          </strong>
          <span><%= format_date card_grant.expires_on %></span>
        </p>

        <% if card_grant.one_time_use %>
          <p>
            <strong class="inline-flex items-center" style="gap: 4px">
              One time use
              <span class="info tooltipped tooltipped--e h-[18px]" aria-label="This card will automatically freeze after you make a purchase">
                <%= inline_icon "info", size: 18, style: "position: unset;" %>
              </span>
            </strong>
            <span><%= card_grant.one_time_use ? "Yes" : "No" %></span>
          </p>
        <% end %>

        <p>
          <strong>Allowed merchants</strong>
          <% if card_grant.allowed_merchants.any? %>
            <span><%= card_grant.allowed_merchant_names.join(", ") %><br>
              (IDs: <%= card_grant.allowed_merchants.join(", ") %>)</span>
          <% else %>
            <span>All merchants allowed</span>
          <% end %>
        </p>

        <p>
          <strong>Allowed categories</strong>
          <% if (allowed_categories = card_grant.allowed_category_names.join(", ").presence) %>
            <span><%= allowed_categories %></span>
          <% else %>
            <span>All categories allowed</span>
          <% end %>
        </p>

        <% if card_grant.keyword_lock.present? %>
          <p>
            <strong>Merchant keyword lock</strong>
            <span><%= card_grant.keyword_lock %></span>
          </p>
        <% end %>
      </section>
    </div>
  </div>
<% end %>
