<%# locals: (card_grant:, footer: nil) %>

<section class="card mt-8 min-h-[300px] flex flex-col justify-between card--background-image" style="<%= card_grant.event.background_image.attached? ? "--bg-image: url(#{url_for(card_grant.event.background_image).dump})" : "--bg-image: #{GeoPattern.generate(card_grant.stripe_card&.public_id || card_grant.public_id).to_data_uri}" %>">
  <div class="flex flex-row justify-end items-start">
    <% if organizer_signed_in?(as: :member) %>
      <%= render "card_grants/actions/edit", card_grant: card_grant %>
    <% end %>
  </div>
  <div class="flex-grow"></div>
  <div class="flex flex-col gap-8 lg:flex-row justify-between items-start lg:items-center">
    <div class="flex flex-col justify-center items-start mt-5">
      <h2 class="border-none !mx-0 !px-0 !mt-0 inline-flex items-center flex-wrap">
        Grant to &nbsp; <%= user_mention(card_grant.user, class: "mr-2") %> for <%= render_money card_grant.amount %>
      </h2>
      <p class="my-0 flex items-baseline g-1">
        <%= status_badge card_grant.status_badge_type %>
        <%= card_grant.state_text %>
        <% if card_grant.purpose.present? %>
          • <%= card_grant.purpose %>
        <% end %>
      </p>
    </div>

    <section class="details-horiz">
    <p>
      <strong>Sent by</strong>
      <%= user_mention card_grant.sent_by %>
    </p>
    <p>
      <strong>Funded by</strong>
      <%= link_to card_grant.event.name, card_grant.event %>
    </p>
    <p>
      <strong>Sent</strong>
      <span class="tooltipped" aria-label="<%= card_grant.created_at.to_formatted_s(:long) %>">
        <%= time_ago_in_words card_grant.created_at %> ago
      </span>
    </p>
  </section>
  </div>
  <% if defined?(footer) && footer.present? %>
    <div class="card !shadow-none m-[-16px] mt-4 rounded-tl-none rounded-tr-none border-top divide-secondary">
        <%= footer %>
    </div>
  <% end %>
</section>
