<% title "Grant to #{@card_grant.user.name}" %>
<%= render "events/nav", selected: :transfers if organizer_signed_in? %>

<% footer = nil %>
<% if @card_grant.user == current_user && @card_grant.pending_invite? %>
  <% footer = capture do %>
    <div class="flex flex-row items-center justify-start gap-2 lg:items-end">
      <div class="flex items-start flex-col lg:flex-row lg:items-end justify-start gap-2">
        <div class="flex flex-row items-end justify-start gap-2 w-min-content min-w-0 flex-shrink-0">
          <h3 class="m-0 p-0">Card activation</h3>
          <%= inline_icon "view-forward", class: "m-0 lg:self-center", size: 20 %>
        </div>
        <p class="m-0">We just need one more thing before you can start spending&nbsp;your&nbsp;grant.</p>
      </div>
    </div>
  <% end %>
<% end %>

<%= render partial: "card_grants/header_banner", locals: { card_grant: @card_grant, footer: } %>

<% if @card_grant.instructions.present? %>
  <%= render "callout", title: "Instructions from #{@card_grant.event.name}", type: "info", class: "mb-4" do %>
    <p class="m-0">
      <%= @card_grant.instructions %>
    </p>
  <% end %>
<% end %>

<div class="mt4 mb4 check--form flex justify-center <%= "flex-wrap" if @frame %>" style="gap: 3rem">
  <%# Grantee has pending invite %>
  <% if @card_grant.user == current_user && @card_grant.pending_invite? %>
    <% if @card_grant.canceled? %>
      <%= blankslate "Sorry, this grant was canceled!", class: "flex-grow" %>
    <% else %>
      <%= render partial: "invitation", locals: { card_grant: @card_grant } %>
    <% end %>
  <%# Grantee has accepted invite %>
  <% elsif @card_grant.user.admin? || organizer_signed_in? || @card_grant.user == current_user %>
    <div class="justify-center grid grid-cols-1 <%= "md:grid-cols-2" if @card_grant.stripe_card.present? %>">
      <% if @card_grant.stripe_card %>
        <div>
          <%= render @card_grant.stripe_card, headless: true %>
          <%= render partial: "balance", locals: { card_grant: @card_grant } %>
          <%= render partial: "canceled_warning", locals: { card_grant: @card_grant } %>
          <%= render partial: "actions", locals: { card_grant: @card_grant } %>
        </div>
      <% end %>
      <div class="flex flex-col g2">
        <% if @card_grant.stripe_card %>
          <% admin_tool_if @card_grant.user != current_user do %>
            <%= render partial: "card_details", locals: { card_grant: @card_grant } %>
          <% end %>
        <% end %>
        <%= render partial: "grant_details", locals: { card_grant: @card_grant } %>

        <%= render partial: "card_grant/pre_authorizations/organizer_info", locals: { pre_authorization: @card_grant.pre_authorization, link_to_pre_authorization: true } if @card_grant.pre_authorization.present? && organizer_signed_in? %>

      </div>
      <div class="flex flex-col g2">
        <%= render partial: "canceled_warning", locals: { card_grant: @card_grant } unless @card_grant.stripe_card %>
      </div>
    </div>
  <% end %>
</div>

<hr>

<% unless @card_grant.user == current_user && @card_grant.pending_invite? %>
  <%= render partial: "transactions", locals: { hcb_codes: @hcb_codes } %>
<% end %>

<% if policy(@card_grant.comments.build).create? %>
  <h2>Comments</h2>
  <%= render "comments/list", comments: @card_grant.comments %>
  <%= render "comments/form", commentable: @card_grant %>
<% end %>
