<%# locals: (form:, disabled:, excluded_fields: []) %>

<% (WiseTransfer::AVAILABLE_CURRENCIES + [nil]).each do |currency| %>
  <template x-if="currency == '<%= currency.nil? ? "null" : currency %>'">
    <div>
      <% WiseTransfer.information_required_for(currency.nil? ? nil : currency).each do |field| %>
        <% unless (field[:key]).in?(excluded_fields) %>
        <div class="field <%= "flex flex-row-reverse items-center justify-end gap-2" if field[:type] == :check_box %>" x-on:change="<%= field[:key] %> = <%= field[:type] == :check_box ? "$event.target.checked" : "$event.target.value" %>" <% if field[:conditional] %> x-show="<%= field[:conditional] %>" <% end %>>
          <%= form.label field[:key], field[:label], (field[:label_options] || {}) %>
          <% if field[:type] == :select %>
            <%= form.select field[:key], options_for_select(field[:options].to_a), disabled: "", selected: "", prompt: "Select one...", "x-bind:required": "#{field[:conditional] || "true"} && #{field[:required].nil? || field[:required]}" %>
          <% else %>
            <%= form.send(field[:type], field[:key], placeholder: field[:placeholder], "x-bind:required": "#{field[:conditional] || "true"} && #{field[:required].nil? || field[:required]}") %>
          <% end %>
          <% if field[:description].present? || field[:refer_to].present? %>
            <div class=" muted mt1 ">
              <%= field[:description] %>
              <% if field[:refer_to] %>
                <%= link_to "Refer to this document", field[:refer_to], target: "_blank" %>
              <% end %>
            </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
  </template>
<% end %>
