<%# locals: (form:, disabled:, excluded_fields: []) %>

<% (WiseTransfer::AVAILABLE_CURRENCIES + [nil]).each do |currency| %>
  <template x-if="currency == '<%= currency.nil? ? "null" : currency %>'">
    <div>
      <% WiseTransfer.information_required_for(currency.nil? ? nil : currency).each do |field| %>
        <% unless (field[:key]).in?(excluded_fields) %>
        <div class="field" <%= field[:key] %> <% if field[:conditional] %> x-show="<%= field[:conditional] %>" <% end %>>
          <%= form.label field[:key], field[:label] %>
          <% if field[:type] == :select %>
            <%= form.select field[:key], options_for_select(field[:options].to_a), required: true, disabled: "", selected: "", prompt: "Select one..." %>
          <% else %>
            <%= form.send(field[:type], field[:key], required: true, placeholder: field[:placeholder]) %>
          <% end %>
          <div class="muted mt1">
            <%= field[:description] %>
            <% if field[:refer_to] %>
              <%= link_to "Refer to this document", field[:refer_to], target: "_blank" %>
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </template>
<% end %>
