<% disabled = !policy(@event).create_transfer? %>

<% title "Send a Wise transfer" %>
<%= render "events/nav", selected: :transfers %>
<% page_sm %>

<% if @event.present? && !policy(@event).create_transfer? %>
  <%= render partial: "events/unauthorized_callout", locals: { action: "send a Wise transfer" } %>
<% end %>

<h1>Send a Wise transfer</h1>

<%= render "callout",
    type: "info",
    icon: "wise",
    title: "Important information about Wise transfers",
    class: "!border-[#9FE870] [&>div.flex]:text-[#163300] dark:[&>div.flex]:text-[#9FE870]",
    footer: link_to("Learn more about Wise on HCB →", "https://help.hcb.hackclub.com/article/65-wise") do %>
  We've integrated Wise into HCB to offer international transfers to over 100 countries. HCB never charges fees to send transfers, however Wise will charge processing fees to your organization.
  <br>
  Sending over $500? Avoid all fees by sending an international wire.
<% end %>

<%= form_with(model: [@event, @wise_transfer], local: true, html: {
                "x-data": "{ currency: #{@wise_transfer.currency ? "'#{@wise_transfer.currency}'" : "null"}, amount: null, account_type: null, usd_quote: null, use_same_email_for_interac: false, email: null }"
              }) do |form| %>

  <%= form_errors(@wise_transfer, "wise transfer", "We couldn't send this") %>

  <h2 class="mb2 mt3">Recipient details</h2>

  <div class="field mt2">
    <%= form.label :recipient_name, "Legal name (use company name if applicable)" %>
    <%= form.text_field :recipient_name, placeholder: "Raviga Capital", required: true, maxlength: 250, disabled: %>
    <span class="muted">This may be used for tax purposes; it should match the name on the recipient's bank account.</span>
  </div>

  <div class="field">
    <%= form.label :recipient_email, "Email" %>
    <%= form.email_field :recipient_email, placeholder: "fionah@gmail.com", required: true, disabled:, "@keyup": "email = $event.target.value" %>
  </div>

  <%= render partial: "recipient_details", locals: { form:, disabled: } %>

  <h2 class="mb2 mt3">Payment information</h2>

  <%= form.label :amount, "Currency & amount" %>

  <div class="field">
    <div class="flex items-center g1">
      <div style="width: 72px">
        <%= form.select :currency, WiseTransfer::AVAILABLE_CURRENCIES, { required: true, disabled: true }, { "@change" => "currency = $event.target.value; usd_quote = NaN; if(amount != null && amount != '' && currency != null && currency != ''){ fetch('/wise_transfers/generate_quote?amount=' + amount + '&currency=' + currency).then(response => response.text()).then(text => { usd_quote = text })}" } %>
      </div>
      <div class="flex flex-col flex-grow">
        <%= form.number_field :amount,
          placeholder: "500.00",
          disabled: disabled || @event.balance <= 0,
          step: 0.01,
          required: true,
          "@change": "amount = $event.target.value; usd_quote = NaN; if(amount != null && amount != '' && currency != null && currency != ''){ fetch('/wise_transfers/generate_quote?amount=' + amount + '&currency=' + currency).then(response => response.text()).then(text => { usd_quote = text })}",
          data: { controller: "truncate-decimal", action: "truncate-decimal#truncate blur->truncate-decimal#pad" } %>
      </div>
    </div>
    <% @wise_transfer.errors.messages_for(:amount).each do |message| %>
      <div class="primary"><%= message %></div>
    <% end %>
    <% if @event.balance <= 0 %>
      <span class="error">There are no funds to transfer.<br>
    <% end %>

    <p x-text="(usd_quote == null || currency == null || currency == '' || amount == null || amount == '') ? 'Enter an amount & currency to get an estimate in USD' : Number.isNaN(usd_quote) ? 'Loading quote from Wise...' : `Approximately ${usd_quote} USD`" class="muted mt-0"></p>

  </div>

  <div class="field">
    <%= form.label :payment_for, "What are you paying for with this transfer?" %>
    <%= form.text_field :payment_for, placeholder: "Event venue", required: true, disabled: %>
    <span class="muted">This is to help HCB keep record of our transactions.</span>
  </div>

  <%= render partial: "currency_specific_details", locals: { form:, disabled: } %>

  <%= form.label :file, "Attach a receipt / invoice", class: "mt2 semibold" %>
  <div class="field field--fileupload mb1 mt1" data-controller="file-drop form" data-file-drop-title-value="Drop to add a receipt.">
    <%= form.label :file, "Choose file", class: "field--fileupload__label", data: {
          action: "
        dragover@window->file-drop#dragover
        drop@window->file-drop#drop
        dragenter@window->file-drop#dragenter
        dragleave@window->file-drop#dragleave
      "
        } %>
    <%= form.file_field :file,
        multiple: true,
        include_hidden: false,
        required: false,
        accept: "image/*,image/heic,.pdf",
        style: "margin: 8px 0px",
        class: "field--fileupload__field",
        data: {
          "file-drop-target" => "fileInput"
        },
        disabled: %>
    <%= inline_icon "view-close", size: 24, class: "muted", "data-behavior": "clear_input" %>
  </div>

  <p class="muted mt0 mb2">Required for reimbursements / goods & services payments.</p>

  <div class="actions tooltipped tooltipped--n inline-block mt1" aria-label="Your transfer will be sent out on the next business day.">
    <button type="submit" <%= "disabled" if disabled %> class="btn">
      <%= inline_icon "wise", size: 16, class: "inline-block" %> Send transfer with Wise
    </button>
  </div>
<% end %>
