<div class="card card--breakdown shadow-none p-4 flex flex-col gap-4 flex-1">
  <div class="flex flex-col gap-4 sm:gap-0 sm:flex-row">
    <div class="flex-1 -ml-4 -mr-4 sm:mr-4 sm:w-[50%] min-h-[90px] sm:max-h-[180px] flex flex-col">
      <h3 class="my-0 mb-1 pl-8 sm:pl-4">Money in</h3>

      <% if @money_in.empty? %>
        <div class="text-gray-500 text-center bg-zinc-100 dark:bg-zinc-700 rounded-xl mx-4 flex-1 flex items-center text-center justify-center">
          You haven't received any money yet.
        </div>
      <% end %>

      <% @money_in.each do |transaction| %>

        <a href="<%= transaction.local_hcb_code.url %>" class="homepage-transaction <%= Flipper.enabled?(:hcb_code_popovers_2023_06_16, current_user) && (@event || transaction.local_hcb_code.event).present? ? "cursor-pointer hover:bg-gray-50 active:bg-gray-100 transition-colors dark:hover:bg-neutral-700 dark:active:bg-neutral-600" : "" %>" data-behavior="modal_trigger" data-modal="money_movement_tx_details_<%= transaction.local_hcb_code.__id__ %>">
          <div style="min-width:0;flex:1">
            <span class="truncate block"><%= transaction_memo(transaction) %></span>
            <div class="text-sm text-gray-500">
              <% if transaction.is_a?(CanonicalPendingTransaction) %>
                Pending &bull;
              <% end %>
              <% subtitle = "#{time_ago_in_words(transaction.date)} ago" %>
              <% if transaction.try(:raw_stripe_transaction) || transaction.try(:raw_pending_stripe_transaction_id) %>
                <% subtitle += ", #{transaction.stripe_cardholder.user.name}" %>
              <% end %>
              <%= subtitle %>
            </div>
          </div>
          <span class="badge <%= transaction.amount_cents > 0 ? "success" : "error" %>"><%= render_transaction_amount transaction.amount_cents %></span>
        </a>

        <% if Flipper.enabled?(:hcb_code_popovers_2023_06_16, current_user) && (@event || transaction.local_hcb_code.event).present? %>
          <section class="modal modal--scroll modal--popover bg-snow" data-behavior="modal" role="dialog" id="money_movement_tx_details_<%= transaction.local_hcb_code.__id__ %>">
            <%= modal_header(transaction.local_hcb_code.pretty_title(show_event_name: defined?(show_event_name), show_amount: defined?(show_amount), event_name: @event.name, amount_cents: transaction.amount), external_link: transaction.local_hcb_code.url) %>
            <%= async_frame_to transaction.local_hcb_code.popover_url, as: :span, lazy: true do %>
              Loading...
            <% end %>
          </section>
        <% end %>
      <% end %>
    </div>
    <div class="flex-1 -ml-4 -mr-4 sm:w-[50%] min-h-[90px] sm:max-h-[180px] flex flex-col">
      <h3 class="my-0 mb-1 pl-8 sm:pl-4">Money out</h3>
      <% if @money_out.empty? %>
        <div class="text-gray-500 text-center bg-zinc-100 dark:bg-zinc-700 rounded-xl mx-4 flex-1 flex items-center text-center justify-center">
          You haven't spent any money yet.
        </div>
      <% end %>
      <% @money_out.each do |transaction| %>

        <a href="<%= transaction.local_hcb_code.url %>" class="homepage-transaction <%= Flipper.enabled?(:hcb_code_popovers_2023_06_16, current_user) && (@event || transaction.local_hcb_code.event).present? ? "cursor-pointer hover:bg-gray-50 active:bg-gray-100 transition-colors dark:hover:bg-neutral-700 dark:active:bg-neutral-600" : "" %>" data-behavior="modal_trigger" data-modal="money_movement_tx_details_<%= transaction.local_hcb_code.__id__ %>">
          <div style="min-width:0;flex:1">
            <span class="truncate block"><%= transaction_memo(transaction) %></span>
            <div class="text-sm text-gray-500">
              <% if transaction.is_a?(CanonicalPendingTransaction) %>
                Pending &bull;
              <% end %>
              <% subtitle = "#{time_ago_in_words(transaction.date)} ago" %>
              <% if transaction.try(:raw_stripe_transaction) || transaction.try(:raw_pending_stripe_transaction_id) %>
                <% subtitle += ", #{transaction.stripe_cardholder.user.name}" %>
              <% end %>
              <%= subtitle %>
            </div>
          </div>
          <span class="badge <%= transaction.amount_cents > 0 ? "success" : "error" %>"><%= render_transaction_amount transaction.amount_cents %></span>
        </a>

        <% if Flipper.enabled?(:hcb_code_popovers_2023_06_16, current_user) && (@event || transaction.local_hcb_code.event).present? %>
          <section class="modal modal--scroll modal--popover bg-snow" data-behavior="modal" role="dialog" id="money_movement_tx_details_<%= transaction.local_hcb_code.__id__ %>">
            <%= modal_header(transaction.local_hcb_code.pretty_title(show_event_name: defined?(show_event_name), show_amount: defined?(show_amount), event_name: @event.name, amount_cents: transaction.amount), external_link: transaction.local_hcb_code.url) %>
            <%= async_frame_to transaction.local_hcb_code.popover_url, as: :span, lazy: true do %>
              Loading...
            <% end %>
          </section>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
