<%= turbo_frame_tag "tags_users" do %>
  <div class="homepage-row mt-4">
    <div class="card card--breakdown shadow-none p-4 min-h-96 flex-1 flex items-center justify-center" style="height: <%= "384px" if @empty_tags %>">
      <% if @empty_tags %>
        <div class="flex flex-col items-center justify-center">
          <div class="text-center">
            <h3 class="text-2xl font-bold mb-0">
              <%= Flipper.enabled?(:transaction_tags_2022_07_29, event) ? "It's quiet here..." : "Tags aren't enabled for this event" %>
            </h3>
            <p class="text-gray-500 my-1">
              <%= Flipper.enabled?(:transaction_tags_2022_07_29, event) ? "Either you don't have any tags, or you haven't categorized any transactions yet." : "With tags, you can neatly categorize your transactions." %>
            </p>

            <% unless Flipper.enabled?(:transaction_tags_2022_07_29, event) %>
              <%= link_to "Take me to the settings!", edit_event_path(event, tab: "features"), data: { turbo_frame: :_top }, class: "btn btn-primary mt-4" %>
            <% end %>
          </div>
        </div>
      <% else %>
        <%= pie_chart tags,
                      library: pie_chart_config,
                      download: true,
                      colors: (20..70).step(5).to_a.reverse.map { |percent| "hsl(352, 83%, #{percent}%)" } %>
      <% end %>
    </div>
    <div class="card card--breakdown shadow-none p-4 min-h-96 flex-1 flex items-center justify-center" style="height: <%= "384px" if @empty_tags %>">
      <% if @empty_users %>
        <div class="flex flex-col items-center justify-center">
          <div class="text-center">
            <h3 class="text-2xl font-bold mb-0">
              Not enough data
            </h3>
            <p class="text-gray-500 my-1">
              For users to show up here, they need to have at least one transaction. If you haven't already, invite some
              team members to help you out!
            </p>

            <%= link_to "Invite", event_team_path(event), class: "btn mt-4", data: { "tour-step" => "invite", behavior: "modal_trigger", "modal": "invite_member" } %>
          </div>
        </div>
      <% else %>
        <%= pie_chart users.map { |u| [u[:name], u[:value]] }.to_h,
                      library: pie_chart_config,
                      download: true,
                      colors: (20..70).step(5).to_a.reverse.map { |percent| "hsl(352, 83%, #{percent}%)" } %>
      <% end %>
    </div>
  </div>
<% end %>
