<%= form.fields_for :ach_transfer do |ach_transfer_form| %>
  <div class="field">
    <%= ach_transfer_form.label :routing_number, "Bank routing number" %>
    <%= ach_transfer_form.text_field :routing_number, placeholder: "123456789", ":required" => "recipient_org_type == '501c3' && receipt_method == 'ach_transfer'", class: "fs-mask" %>
  </div>

  <div class="field">
    <%= ach_transfer_form.label :account_number, "Bank account number" %>
    <%= ach_transfer_form.text_field :account_number, placeholder: "0913338883", ":required" => "recipient_org_type == '501c3' && receipt_method == 'ach_transfer'", class: "fs-mask" %>
  </div>
<% end %>
