<h1 class="regular center h1">Receive your <strong><%= @grant.amount.format %></strong> grant from<br /><strong><%= @grant.event.name %></strong>:</h1>

<%= form_with model: @grant, url: activate_grant_path(@grant), method: :post do |form| %>
  <ul class="steps" x-data="{ recipient_org_type: null, receipt_method: '<%= @grant.receipt_method || "ach_transfer" %>' }">
    <li>
      <div class="field field--options mx-auto fit">
        <%= form.radio_button :recipient_org_type, "fiscally_sponsored", required: true, "x-model" => "recipient_org_type" %>
        <%= form.label :recipient_org_type, class: "pointer", value: "fiscally_sponsored", style: "grid-area: 1 / 1 / 2 / 3" do %>
          <span class="badge m0 bg-info mb1">
            <%= inline_icon "rep", size: 24, style: "margin: -2px 0px -3px -2px" %>
            Recommended
          </span>
          <strong>Start a new <span class="nowrap">501(c)(3)</span> with us</strong>
          <small>Get set up with a nonprofit bank account in minutes.<br />No fees, and no strings attached.</small>
        <% end %>

        <%= form.radio_button :recipient_org_type, "501c3", required: true, "x-model" => "recipient_org_type" %>
        <%= form.label :recipient_org_type, class: "pointer justify-center", value: "501c3" do %>
          <%= inline_icon "briefcase", size: 28 %>
          <strong>Deposit into an existing <span class="nowrap">501(c)(3)</span> organization</strong>
          <small>Available only in the US.</small>
        <% end %>

        <%= form.radio_button :recipient_org_type, "existing_hcb_account", required: true, "x-model" => "recipient_org_type" %>
        <%= form.label :recipient_org_type, class: "pointer justify-center", value: "existing_hcb_account" do %>
          <%= inline_icon "bank-account", size: 28 %>
          <strong>Deposit into an existing HCB account</strong>
        <% end %>

        <%= form.radio_button :recipient_org_type, "international", required: true, "x-model" => "recipient_org_type" %>
        <%= form.label :recipient_org_type, class: "pointer justify-center", value: "international" do %>
          <%= inline_icon "web", size: 28 %>
          <strong>Deposit into a nonprofit outside the US</strong>
        <% end %>
      </div>
      <div x-cloak x-show="recipient_org_type == 'international'" class="card">
        We'll reach out to <strong><%= @grant.recipient.email %></strong> to coordinate receiving the grant internationally.
      </div>
    </li>
    <li x-cloak x-show="recipient_org_type && recipient_org_type != 'international'">
      <h3>Organization details</h3>

      <div class="field" x-cloak x-show="recipient_org_type && recipient_org_type != 'international' && recipient_org_type != 'existing_hcb_account'">
        <%= form.label :recipient_organization, "Organization name", "x-text" => "recipient_org_type == '501c3' ? '501(c)(3) organization name' : 'Organization name'" %>
        <%= form.text_field :recipient_organization, ":required": "recipient_org_type && recipient_org_type != 'international'" %>
      </div>

      <div class="field" x-cloak x-show="recipient_org_type && recipient_org_type == 'existing_hcb_account'">
        <%= form.label :event_id, "HCB organization" %>
        <%= form.collection_select :event_id, current_user.events.not_hidden.not_demo_mode, :id, :name, ":required": "recipient_org_type && recipient_org_type == 'existing_hcb_account'" %>
      </div>

      <div class="field field--fileupload" x-cloak x-show="recipient_org_type == '501c3'">
        <%= form.label :determination_letter, "Upload IRS determination letter", class: "field--fileupload__label" %>
        <%= form.file_field :determination_letter, ":required": "recipient_org_type == '501c3'", class: "field--fileupload__field" %>
      </div>
    </li>
    <li x-cloak x-show="recipient_org_type == '501c3'">
      <h3>Payment method</h3>

      <ul class="tab-container mb2">
        <li :class="{ pointer: true, active: receipt_method == 'ach_transfer' }"><a href="#" @click.prevent="receipt_method = 'ach_transfer'">ACH</a></li>
        <li :class="{ pointer: true, active: receipt_method == 'check' }"><a href="#" @click.prevent="receipt_method = 'check'">Mailed check</a></li>
        <li :class="{ pointer: true, active: receipt_method == 'manual' }"><a href="#" @click.prevent="receipt_method = 'manual'">Other</a></li>
      </ul>

      <%= form.hidden_field :receipt_method, "x-model" => "receipt_method" %>

      <div x-show="receipt_method == 'ach_transfer'">
        <%= render "ach_transfer_form", form: %>
      </div>

      <div x-show="receipt_method == 'check'">
        <%= render "check_form", form: %>
      </div>

      <div x-show="receipt_method == 'manual'" class="card">
        We'll reach out to <strong><%= @grant.recipient.email %></strong> to coordinate a custom payment method.
      </div>
    </li>
    <%# <li x-cloak x-show="recipient_org_type">
      <h3>Sign the contract</h3>
      <p x-cloak x-show="!!recipient_org_type">TODO actually sign contract</p>
    </li> %>
    <li x-cloak x-show="recipient_org_type">
      <button class="btn" x-text="recipient_org_type == 'fiscally_sponsored' || recipient_org_type == 'existing_hcb_account' ? 'Receive grant' : 'Submit'">Submit</button>
    </li>
  </ul>
<% end %>
