<% page_md %>
<%= render "events/nav", selected: :grants %>

<h1 class="heading">
  <span>Grants</span> <span class="badge bg-info"><marquee scrolldelay="200">Beta!</marquee></span>

  <%= link_to new_event_grant_path(@event), class: "btn bg-success" do %>
    <%= inline_icon "payment-transfer" %>
    Send grant
  <% end %>
</h1>

<% if @grants.any? %>
  <table>
    <tr>
      <th>Status</th>
      <th>Amount</th>
      <th>To</th>
      <th class="muted h6">Reference ID</th>
    </tr>

    <% @grants.each do |grant| %>
      <tr>
        <td><span class="m0 badge bg-<%= grant.status_badge_color %>"><%= grant.state_text %></span></td>
        <td><%= grant.amount.format %></td>
        <td><strong><%= grant.recipient_name %></strong> (<%= mail_to grant.recipient.email %>)</td>
        <td>
          <span class="font-mono h6 pointer muted tooltipped tooltipped--n" data-controller="clipboard" data-clipboard-text-value="<%= grant.hashid %>" data-action="click->clipboard#copy" aria-label="Click to copy">
            <%= grant.hashid %>
          </span>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <%= blankslate "You haven't sent any grants yet.", class: "mt5 mb5" %>
<% end %>
