<% page_sm %>
<% render "events/nav", selected: :grants %>

<h1>Send a grant</h1>

<%= form_with model: [@event, @grant] do |form| %>
  <div class="field">
    <%= form.label :recipient_organization, "Recipient organization name" %>
    <%= form.text_field :recipient_organization, placeholder: "The Hackworth Foundation", autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= form.label :recipient_name, "Recipient full name" %>
    <%= form.text_field :recipient_name, placeholder: "Fiona Hackworth", required: true %>
  </div>

  <div class="field">
    <%= form.label :email, "Recipient email" %>
    <%= form.email_field :email, placeholder: "fiona@hackclub.com", required: true %>
    <span class="muted">We'll send an invitation to this email to receive the grant.</span>
  </div>

  <div class="field">
    <%= form.label :amount, "Amount" %>
    <div class="flex items-center">
      <span class="bold muted shrink-none" style="width: 1rem;">$</span>
      <%= form.number_field :amount, value: (@grant.amount_cents.nil? ? nil : ("%.2f" % (@grant.amount_cents.to_f / 100))), placeholder: "10,000.00", required: true, min: 0.01, step: 0.01, data: { controller: "truncate-decimal", action: "truncate-decimal#truncate blur->truncate-decimal#pad" } %>
    </div>
  </div>

  <div class="field">
    <%= form.label :ends_at, "Grant period" %>
    <%= form.select :ends_at,
      [
        ["3 months (until #{3.months.from_now.strftime("%B %-d, %Y")})", 3.months.from_now],
        ["6 months (until #{6.months.from_now.strftime("%B %-d, %Y")})", 6.months.from_now],
        ["1 year (until #{1.year.from_now.strftime("%B %-d, %Y")})", 1.year.from_now],
      ] %>
  </div>

  <div class="field">
    <%= form.label :reason, "Grant description" %>
    <%= form.text_area :reason, placeholder: "Describe the purpose of this grant", required: true %>
    <span class="muted">The HCB team will see this.</span>
  </div>

  <div class="actions">
    <%= form.submit "Submit grant" %>
  </div>

  <p class="muted">
    Your grant will be submitted to the HCB team for review.
  </p>
<% end %>
