<% page_sm %>

<% if @grant.waiting_on_recipient? %>
  <%= render "activate_form" %>
<% elsif @grant.verifying? %>
  <div class="card mb3 pt3 pb3 mt3">
    <%= inline_icon :clock, size: 48, class: "warning block mx-auto mb1" %>
    <h2 class="border-none center mt1 ml0 mr0 regular">We're processing your grant.</h2>
    <p class="center secondary">
      We're verifying your information. We'll reach out to you at <%= mail_to @grant.recipient.email %> once we're done.
    </p>
  </div>
<% elsif @grant.fulfilled? %>
  <div class="card mb3 pt3 pb3 mt3">
    <%= inline_icon :checkmark, size: 48, class: "success block mx-auto mb1" %>
    <h2 class="border-none center mt1 ml0 mr0 regular">Your grant has been sent.</h2>
    <p class="center secondary">
      Congrats! Your <%= @grant.amount.format %> grant from <%= @grant.event.name %> has been sent and is now ready to use.
    </p>

    <% if @grant.receipt_method_new_organization? %>
      <div class="center">
        <%= link_to @grant.disbursement.destination_event, class: "btn" do %>
          <%= inline_icon "bank-account" %>
          Go to your HCB account
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
