<% instance = ct.__id__ %>
<% tagged_with = ct.local_hcb_code.tags.filter { |tag| !@event || tag.event == @event } %>
<% subscription = local_assigns[:subscription] || nil %>
<tr
  class="transaction <%= unless current_user && Flipper.enabled?(:transactions_background_2024_06_05, current_user)
                           ct.amount.negative? ? "transaction--negative" : ct.amount.positive? ? "transaction--positive" : "transaction--zero"
                         end %> <%= ct.local_hcb_code.disbursement.special_appearance[:css_class] if !ct.amount.negative? && ct.local_hcb_code.disbursement&.special_appearance? %>"
  id="<%= ct.local_hcb_code.hashid %>"
  <% if defined?(selectable) && selectable %>
    data-transactions-target="transaction"
  <% end %>
  <% if local_assigns[:receipt_upload_button] %>
    data-controller="file-drop"
    data-file-drop-target="dropzone"
    data-file-drop-linking-value="true"
    data-file-drop-modal-value="<%= link_receipts_path %>"
    data-file-drop-receiptable-value="HcbCode:<%= ct.local_hcb_code.id %>"
    data-action="
      dragover->file-drop#dragover
      drop->file-drop#drop
      dragenter->file-drop#dragenter
      dragleave->file-drop#dragleave
      <% if defined?(selectable) && selectable %>
        click->transactions#select
      <% end %>
    "
  <% end %>>
  <% if defined?(selectable) && selectable %>
    <td class="transaction__icon transaction__icon--selected">
      <%= inline_icon "checkmark" %>
    </td>
  <% end %>

  <%= render "hcb_codes/icon", tx: ct, authorless: local_assigns[:authorless], selects: defined?(selectable) && selectable && ct.local_hcb_code.hashid %>

  <td>
    <% if subscription %>
      <% label = "" %>
      <% if subscription[:average_date_difference] > 29 && subscription[:average_date_difference] < 31 %>
        <% label += "Monthly" %>
      <% elsif subscription[:average_date_difference] > 360 && subscription[:average_date_difference] < 370 %>
        <% label += "Annually" %>
      <% else %>
        <% label += "Every #{subscription[:average_date_difference].ceil} days" %>
      <% end %>
      <% if (ct.date + subscription[:average_date_difference].days) < Time.now + 2.days %>
        <% label += ", expected soon" %>
      <% else %>
        <% label += ", in #{distance_of_time_in_words(Time.now, ct.date + subscription[:average_date_difference].days, only: :days)}" %>
      <% end %>
      <%= label %>
    <% else %>
      <%= (ct.date.is_a?(String) ? Date.parse(ct.date) : ct.date).strftime("%b %e, %Y") %>
    <% end %>
  </td>

  <td class="transaction__memo">
    <div>
      <div class="flex-auto">
        <div class="flex items-center justify-start" style="gap: 1ch;">
          <%= turbo_frame_tag "#{ct.local_hcb_code.hashid}:memo_frame", class: "memo-frame flex", style: "width:100%; overflow:hidden; text-overflow:ellipsis; flex-grow: 1" do %>
            <span class="inline-flex g-2 items-center" title="<%= transaction_memo(ct) %>" style="flex-grow: 1;">
              <%= ct.local_hcb_code.card_grant? && !organizer_signed_in? ? link_to(transaction_memo(ct), spending_card_grant_path(ct.local_hcb_code.disbursement.card_grant), data: { turbo_frame: "_top", behavior: "modal_trigger", modal: "card_grant_details_#{instance}" }) : content_tag(:span, class: "inline-flex gap-2 items-center") do %>
                <%= render "hcb_codes/memo", hcb_code: ct.local_hcb_code, location: "ledger", ledger_instance: instance, force_display_details: defined?(force_display_details) %>
              <% end %>
            </span>
          <% end %>
        </div>

        <% if Flipper.enabled?(:transaction_tags_2022_07_29, @event) && !@event&.demo_mode? %>
          <div class="flex flex-wrap tags" style="gap: 0.25rem" id="hcb_code_<%= ct.local_hcb_code.hashid %>_tags">
            <%= render partial: "canonical_transactions/tag", collection: tagged_with, locals: { hcb_code: ct.local_hcb_code } %>
          </div>
        <% end %>
      </div>

      <% if !defined?(receipt_upload_button) && !defined?(hide_tags) && organizer_signed_in? && !ct.instance_of?(OpenStruct) && Flipper.enabled?(:transaction_tags_2022_07_29, @event || ct.local_hcb_code.event) %>
        <div class="overflow-visible relative" style="margin-left: 0.5rem;" data-controller="menu" data-menu-append-to-value="turbo-frame#ledger">
          <button class="list-badge add-tag-badge ml0 menu__toggle menu__toggle--arrowless" data-menu-target="toggle" data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown">+ Add tag</button>
          <div class="menu__content menu__content--2 menu__content--compact menu__content--left h6" data-menu-target="content">
            <% (@event || ct.local_hcb_code.event).tags.each do |tag| %>
              <div class="flex items-center" data-tag="<%= tag.id %>">
                <%= button_to toggle_tag_hcb_code_path(id: ct.local_hcb_code.hashid, tag_id: tag.id), class: "menu__action #{tag_dom_id(ct.local_hcb_code, tag, "_toggle")}", form_class: "flex-auto", form: { "data-turbo" => "true" } do %>
                  <div class="tag__preview tag-<%= tag.color || "muted" %>"></div>
                  <%= tag.label %>
                  <%= "✓" if tagged_with.include?(tag) %>
                <% end %>
                <%= button_to event_tag_path(@event || ct.local_hcb_code.event, tag), class: "menu__action", method: :delete, title: "Delete this tag", form: { "data-turbo" => "true", "data-turbo-confirm" => tag.removal_confirmation_message } do %>
                  <%= inline_icon "delete", size: 16, style: "margin: 0" %>
                <% end %>
              </div>
            <% end %>
            <% if (@event || ct.local_hcb_code.event).tags.any? %>
              <div class="menu__divider tags__divider"></div>
            <% end %>
            <%= render partial: "hcb_codes/create_tag", locals: { button: ct.local_hcb_code.hashid } %>
          </div>
        </div>
      <% end %>
      <% if ct.local_hcb_code %>
        <%= list_badge_for admin_signed_in? ? ct.local_hcb_code.comments.size : ct.local_hcb_code.not_admin_only_comments_count, "comment", "post", optional: true %>
        <%= list_badge_for ct.local_hcb_code.receipts.size, "receipt", "payment-docs", optional: ct.local_hcb_code.receipt_optional?, required: ct.local_hcb_code.missing_receipt? %>
      <% end %>
    </div>
  </td>

  <td class="nowrap">
    <span class="flex items-center justify-end">
      <% if ct.likely_account_verification_related? && !organizer_signed_in? %>
        <%= redacted_amount %>
      <% else %>
        <span><%= render_transaction_amount ct.amount %></span>
      <% end %>
    </span>
  </td>

  <% if @show_running_balance %>
    <td><%= number_to_currency ct.running_balance %></td>
  <% end %>

  <% if local_assigns[:show_author_column] %>
    <% author = ct.local_hcb_code.author %>
    <td class="<%= "tooltipped tooltipped--w" if author&.name %>" aria-label="<%= author&.name %>">
      <div class="flex items-center justify-center">
        <% if author.present? %>
          <%= avatar_for author, 24, { class: "align-middle author" } %>
        <% elsif ct.local_hcb_code.fallback_avatar %>
          <%= image_tag(ct.local_hcb_code.fallback_avatar, loading: "lazy", width: 24, height: 24, class: "rounded-full shrink-none") %>
        <% end %>
      </div>
    </td>
  <% end %>

  <% if local_assigns[:receipt_upload_button] %>
    <td style="width: 1%">
      <% if ct.local_hcb_code.missing_receipt? || !local_assigns[:updated_via_turbo_stream] %>
        <%= form_with url: receipts_path, data: { controller: "form", "file-drop-target" => "form", "turbo" => true } do |form| %>
          <%= form.file_field :file, id: "file_#{ct.local_hcb_code.hashid}", multiple: true, include_hidden: false, required: true, class: "display-none", data: { action: "change->form#submit", "file-drop-target" => "fileInput" } %>
          <%= form.hidden_field :redirect_url, value: @card_grant ? card_grant_path(@card_grant) : my_inbox_path %>
          <% unless @card_grant.present? %>
            <%= form.hidden_field :show_link, value: true %>
          <% end %>
          <%= form.hidden_field :receiptable_type, value: ct.local_hcb_code.class %>
          <%= form.hidden_field :receiptable_id, value: ct.local_hcb_code.id %>
          <%= form.hidden_field :upload_method, value: "receipts_page", data: { "file-drop-target" => "uploadMethod" } %>
          <div class="<%= "btn-group btn-group--no-wrap" if Flipper.enabled?(:receipt_bin_2023_04_07, current_user) %>">
            <%= form.label "file_#{ct.local_hcb_code.hashid}", class: "btn", style: "font-size: 0.875rem; font-weight: 600; padding: 0.25rem 1rem;" do %>
              <%= inline_icon "cloud-upload" %>
              Upload receipt
            <% end %>

            <% if Flipper.enabled?(:receipt_bin_2023_04_07, current_user) %>
              <%= link_to my_receipts_upload_path, class: "btn bg-primary", style: "font-size: 0.875rem; font-weight: 600; padding: 0.25rem 1rem;", data: { behavior: "modal_trigger", modal: "link_receipt_#{instance}" } do %>
                <%= inline_icon "payment-docs" %>
                <span>Select</span>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="btn bg-success disabled" style="font-size: 0.875rem; font-weight: 600; padding: 0.25rem 1rem; width: 100%">
          <%= inline_icon "attachment", size: 14 %>
          <span>Uploaded!</span>
        </div>
      <% end %>
    </td>

    <% if Flipper.enabled?(:receipt_bin_2023_04_07, current_user) %>
      <section class="modal modal--huge modal--scroll bg-snow" data-behavior="modal" role="dialog" id="link_receipt_<%= instance %>">
        <%= modal_header "Select receipt" %>
        <%= turbo_frame_tag "link_modal_#{ct.local_hcb_code.id}", src: link_modal_receipts_path(receiptable_type: "HcbCode", receiptable_id: ct.local_hcb_code.id), turbo_frame: "_top" do %>
          <strong>Loading...</strong>
        <% end %>
      </section>
    <% end %>
  <% end %>
</tr>

<% event = @event || ct.local_hcb_code.event %>
<% if Flipper.enabled?(:hcb_code_popovers_2023_06_16, current_user) && event.present? && !show_mock_data?(event) %>
  <section class="modal modal--scroll modal--popover bg-snow" data-behavior="modal" role="dialog" id="transaction_details_<%= instance %>">
    <%= modal_header(ct.local_hcb_code.pretty_title(show_event_name: defined?(show_event_name), show_amount: defined?(show_amount), event_name: @event&.name, amount_cents: ct.amount), external_link: ct.local_hcb_code.url) %>
    <%= async_frame_to ct.local_hcb_code.popover_url, as: :span, lazy: true do %>
      <div class="shimmer mb1 mt3">
        <div class="shimmer__border"></div>
        <div class="shimmer__main">
          <article class="card pb0 h-100">
            <h2 class="h2 mt0 mx0 border-none flex items-center justify-between">
              <span class="flex-auto">
                <%= pop_icon_to "edit",
                    my_inbox_path,
                    class: "mr2 align-middle", "aria-label": "Rename transaction",
                    data: { turbo: true } if organizer_signed_in? %>
                <span class="align-middle"
                      data-controller="navigation"
                      data-action="dblclick->navigation#navigate"
                      data-navigation-location-param="<%= my_inbox_path %>"
                      data-navigation-frame-param="2">
                  <%= ct.local_hcb_code.humanized_type %>
                  <span class="regular muted">for $-</span>
                </span>
              </span>
            </h2>

            <section class="card__banner card__darker details-horiz border-top border-bottom">
              <p>
                <strong>Card</strong> -
              </p>
              <p>
                <strong>Spender</strong> -
              </p>
              <p>
                <strong>Spent</strong> -
              </p>
              <p>
                <strong>Settled after</strong> -
              </p>
            </section>

            <section class="details details--wide pt2 pb2 details--tall">
              <p>
                <strong>Merchant</strong>
                <action data-behavior="modal_trigger" data-modal="merchant_details" class="pointer" tabindex="0">
                  <span class="inline-flex">
                    -
                    <%= inline_icon "external", size: 24, class: "muted", 'aria-label': "Icon indicating click for more" %>
                  </span>
                </action>
              </p>
              <p>
                <strong>Charge method</strong>
                <action data-behavior="modal_trigger" data-modal="verification_details" class="pointer" tabindex="0">
                  <span>
                    -
                    <%= inline_icon "external", size: 24, class: "muted", 'aria-label': "Icon indicating click for more" %>
                  </span>
                </action>
              </p>
            </section>
          </article>
        </div>
      </div>
    <% end %>
  </section>
<% end %>

<% if (Flipper.enabled?(:hcb_code_popovers_2023_06_16, current_user) || !organizer_signed_in?) && ct.local_hcb_code.card_grant? %>
  <section class="modal modal--scroll modal--popover bg-snow" data-behavior="modal" role="dialog" id="card_grant_details_<%= instance %>">
    <%= modal_header(transaction_memo(ct), external_link: spending_card_grant_path(ct.local_hcb_code.disbursement.card_grant)) %>
    <%= async_frame_to spending_card_grant_path(ct.local_hcb_code.disbursement.card_grant, params: { frame: true }), lazy: true, as: :div do %>
      <strong>Loading...</strong>
    <% end %>
  </section>
<% end %>
