<tr class="transaction--<%= ct.amount.negative? ? "negative" : "positive" %>">
    <% if ct.fee_payment? %>
      <td class="transaction__icon tooltipped tooltipped--e" aria-label="Hack Club Bank Fee payment">
        <%= inline_icon "minue" %>
      </td>
    <% elsif ct.check? %>
      <td class="transaction__icon tooltipped tooltipped--e" aria-label="Outgoing check">
        <%= inline_icon "payment-transfer" %>
      </td>
    <% elsif ct.ach_transfer? %>
      <td class="transaction__icon tooltipped tooltipped--e" aria-label="Outgoing ACH">
        <%= inline_icon "payment-transfer" %>
      </td>
    <% elsif ct.raw_stripe_transaction %>
      <td class="transaction__icon tooltipped tooltipped--e" aria-label="Card transaction">
        <% if ct.stripe_cardholder %>
          <%= avatar_for ct.stripe_cardholder.user, 24 %>
        <% else %>
          <%= inline_icon "card" %>
        <% end %>
      </td>
    <% elsif ct.invoice? %>
      <td class="transaction__icon tooltipped tooltipped--e" aria-label="Invoice">
        <%= inline_icon "briefcase" %>
      </td>
    <% elsif ct.donation? %>
      <td class="transaction__icon tooltipped tooltipped--e" aria-label="Donation">
        <%= inline_icon "support" %>
      </td>
    <% elsif ct.disbursement? %>
      <td class="transaction__icon tooltipped tooltipped--e" aria-label="Disbursement">
        <% if ct.amount.negative? %>
          <%= inline_icon "door-leave" %>
        <% else %>
          <%= inline_icon "door-enter" %>
        <% end %>
      </td>
    <% else %>
      <td class="transaction__icon tooltipped tooltipped--e" aria-label="Bank account transaction">
        <%= inline_icon "bank-account" %>
      </td>
    <% end %>
  </td>
  <td>
    <%= ct.date %>
  </td>
  <td class="transaction__memo">
    <span title="<%= ct.hcb_code %>">
      <%= ct.memo %>
    </span>

    <% if ct.local_hcb_code %>
      <%= list_badge_for ct.local_hcb_code.receipts.size, "receipt", "payment-docs", optional: true %>
      <%= list_badge_for ct.local_hcb_code.comments.size, "note", "post", optional: true %>
    <% end %>
  </td>
  <td class="nowrap">
    <span><%= number_to_currency ct.amount %></span>
  </td>
  <td>
    <%= link_to "Details", ct.url if organizer_signed_in? || defined?(force_display_details) %>
  </td>
</tr>

