<tr
  class="transaction--<%= ct.amount.negative? ? "negative" : "positive" %> <%= "transaction--fancy" if ct.local_hcb_code.hackathon_grant? %>"
  id="<%= ct.local_hcb_code.hashid %>"
  <% if defined?(receipt_upload_button) %>
    data-controller="file-drop"
    data-file-drop-target="dropzone"
    data-action="
      dragover->file-drop#dragover
      drop->file-drop#drop
      dragenter->file-drop#dragenter
      dragleave->file-drop#dragleave
    "
  <% end %>
>
    <% if ct.fee_payment? %>
      <td class="transaction__icon tooltipped tooltipped--e" aria-label="Hack Club Bank Fee payment">
        <%= inline_icon "minus-fill" %>
      </td>
    <% elsif ct.check? %>
      <td class="transaction__icon tooltipped tooltipped--e" aria-label="Outgoing check">
        <%= inline_icon "payment-transfer" %>
      </td>
    <% elsif ct.ach_transfer? %>
      <td class="transaction__icon tooltipped tooltipped--e" aria-label="Outgoing ACH">
        <%= inline_icon "payment-transfer" %>
      </td>
    <% elsif ct.raw_stripe_transaction %>
      <td class="transaction__icon tooltipped tooltipped--e" aria-label="Card transaction<%= !defined?(authorless) && ct.stripe_cardholder ? ' by ' + ct.stripe_cardholder.user.initial_name : ''%>">
        <% unless defined?(authorless) || !ct.stripe_cardholder %>
          <%= avatar_for ct.stripe_cardholder.user, 24 %>
        <% else %>
          <%= inline_icon "card" %>
        <% end %>
      </td>
    <% elsif ct.invoice? %>
      <td class="transaction__icon tooltipped tooltipped--e" aria-label="Invoice">
        <%= inline_icon "briefcase" %>
      </td>
    <% elsif ct.donation? %>
      <td class="transaction__icon tooltipped tooltipped--e" aria-label="Donation">
        <%= inline_icon "support" %>
      </td>
    <% elsif ct.local_hcb_code.hackathon_grant? %>
      <td class="transaction__icon tooltipped tooltipped--e" aria-label="Hackathon grant">
        <%= inline_icon "purse" %>
      </td>
    <% elsif ct.disbursement? %>
      <td class="transaction__icon tooltipped tooltipped--e" aria-label="Disbursement">
        <% if ct.amount.negative? %>
          <%= inline_icon "door-leave" %>
        <% else %>
          <%= inline_icon "door-enter" %>
        <% end %>
      </td>
    <% else %>
      <td class="transaction__icon tooltipped tooltipped--e" aria-label="Bank account transaction">
        <%= inline_icon "bank-account" %>
      </td>
    <% end %>
  </td>
  <td>
    <%= ct.date %>
  </td>
  <td class="transaction__memo">
    <div>
      <span title="<%= ct.local_hcb_code.memo %>">
        <%= ct.local_hcb_code.memo %>
      </span>

      <% if ct.local_hcb_code %>
        <%= list_badge_for ct.local_hcb_code.receipts.size, "receipt", "payment-docs", optional: !ct.raw_stripe_transaction, required: ct.raw_stripe_transaction && !ct.local_hcb_code.no_or_lost_receipt? %>
        <%= list_badge_for admin_signed_in? ? ct.local_hcb_code.comments.size : ct.local_hcb_code.not_admin_only_comments_count, "note", "post", optional: true %>
      <% end %>
    </div>
  </td>
  <td class="nowrap">
    <span><%= number_to_currency ct.amount %></span>
  </td>
  <td>
    <%= link_to "Details", ct.url if organizer_signed_in? || defined?(force_display_details) %>
  </td>
  <% if defined?(receipt_upload_button) %>
    <td style="width: 1%">
      <%= form_with url: receipt_hcb_code_path(ct.local_hcb_code), data: { controller: "submit-form", "file-drop-target" => "form" } do |form| %>
        <%= form.file_field :file, id: "file_#{ct.local_hcb_code.hashid}", multiple: true, required: true, class: "display-none", data: { action: "change->submit-form#submit", "file-drop-target" => "fileInput" } %>
        <%= form.hidden_field :redirect_url, value: my_inbox_path %>
        <%= form.hidden_field :show_link, value: true %>
        <%= form.hidden_field :upload_method, value: "receipts_page", data: { "file-drop-target" => "uploadMethod" } %>
        <%= form.label "file_#{ct.local_hcb_code.hashid}", class: "btn", style: "font-size: 0.875rem; font-weight: 600; padding: 0.25rem 1rem;" do %>
          <%= inline_icon 'plus' %>
          Add a receipt
        <% end %>
      <% end %>
    </td>
  <% end %>
</tr>
