<% title "Rename transaction for #{@canonical_transaction.amount}" %>
<% page_sm %>

<%= render 'events/nav' if @event %>

<h1 class="h1">
  Rename <%= @canonical_transaction.amount %> <%= @canonical_transaction.fee_payment? ? 'fee payment' : 'transaction' %>
</h1>

<strong>Original transaction memo</strong>
<pre class="bg-smoke mt0"><%= organizer_signed_in? ? @canonical_transaction.memo : 'REDACTED– SIGN IN TO REVEAL' %></pre>

<strong>Friendlier transaction memo</strong>
<pre class="bg-smoke mt0"><%= organizer_signed_in? ? @canonical_transaction.less_smart_memo : 'REDACTED– SIGN IN TO REVEAL' %></pre>

<%= form_with(model: @canonical_transaction, url: set_custom_memo_canonical_transaction_path(@canonical_transaction), method: :post, local: true) do |form| %>
  <div class="field">
    <%= form.label :custom_memo, 'Custom Memo' %>
    <%= form.text_field :custom_memo, placeholder: @canonical_transaction.smart_memo, autofocus: true, style: 'max-width: none;' %>
    <span class="muted block h5">
      Give this transaction a more descriptive memo to improve your records.
    </span>
  </div>

  <div class="actions">
    <%= form.submit 'Rename', disabled: !current_user %>
  </div>
<% end %>
