<%= link_to organizer_signed_in? ? card : root_path, class: 'text-decoration-none' do %>
  <%= creator_bar card, prefix: 'issued ' %>
  <div class="emburse-card <%= card.is_virtual ? 'virtual' : '' %> <%= card.suspended? || card.canceled? ? 'deactivated' : '' %>" data-behavior="hover_tilt">
    <span class="emburse-card__status"><%= card.status_text %></span>
    <p class="emburse-card__number">
      <span><%= organizer_signed_in? ? card.formatted_card_number : 'XXXX XXXX XXXX XXXX' %></span>
    </p>
    <p class="emburse-card__name"><%= card.full_name %></p>
  </div>
<% end %>
