<%= form_with(model: card, local: true) do |form| %>
  <p>For <strong>#<%= card.event.id %> <%= card.event.name %></strong></p>

  <%= form_errors card %>

  <% if @card_request %>
    <%= form.hidden_field :card_request_id, value: @card_request.id %>
  <% end %>

  <div class="field">
    <%= form.label :user_id, 'User' %>
    <%= form.collection_select(:user_id, User.reorder(:email), :id, :email, prompt: 'Select user…') %>
  </div>

  <div class="field">
    <%= form.label :event_id, 'Event' %>
    <%= form.collection_select(:event_id, Event.all, :id, :name, prompt: 'Select event…') %>
  </div>

  <div class="field">
    <%= form.label :full_name, 'Full name on card' %>
    <%= form.text_field :full_name %>
  </div>

  <%= form.hidden_field :address %>

  <% admin_tools('mb1') do %>
    <p class="mt0">User email <input type="text" disabled="disabled" value="<%= card.user.email %>"></p>
    <% if !@card_request&.is_virtual  %>
      <div class="mb1">
        Address fields
        <input type="text" disabled="disabled" value="<%= @card_request.shipping_address_street_one %>">
        <input type="text" disabled="disabled" value="<%= @card_request.shipping_address_street_two %>">
        <input type="text" disabled="disabled" value="<%= @card_request.shipping_address_city %>">
        <div class="flex mt0">
          <input type="text" disabled="disabled" value="<%= @card_request.shipping_address_state %>">
          <input type="text" disabled="disabled" value="<%= @card_request.shipping_address_zip %>">
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :emburse_id, 'Emburse ID' %>
    <%= form.text_field :emburse_id %>
  </div>

  <div class="field field--checkbox">
    <%= form.check_box :is_virtual, checked: @card_request&.is_virtual  %>
    <%= form.label :is_virtual, 'This is a virtual card', :readonly => true %>
  </div>

  <% if @card_request && !@card_request.is_virtual || @card_request.nil? %>
    <h3>Physical card</h3>

    <div class="field">
      <%= form.label :last_four, 'Last four digits of card number' %>
      <%= form.number_field :last_four %>
    </div>
  <% end %>

  <% if @card_request && @card_request.is_virtual || @card_request.nil? %>
    <h3>Virtual card</h3>

    <div class="field">
      <%= form.label :card_number, 'Card number' %>
      <%= form.text_field :card_number %>
    </div>

    <div class="field">
      <%= form.label :cvv, 'CVV' %>
      <%= form.text_field :cvv %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :expiration_month, 'Expiration month (MM)' %>
    <%= form.number_field :expiration_month %>
  </div>

  <div class="field">
    <%= form.label :expiration_year, 'Expiration year (YYYY)' %>
    <%= form.number_field :expiration_year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
