<% title "Card #{@card.last_four}" %>
<% page_md %>
<%= render 'events/nav' %>

<% if card.created_at > Time.now - 1.hour %>
  <%# if the card was created in the last hour, let's give a link back to the card requests list %>
  <% admin_tools('mt3 mb0') do %>
    <%= link_to 'All card requests', card_requests_path, class: 'breadcrumb' %>
  <% end %>
<% end %>
<% admin_tools('mt3 mb0') do %>
  <%= link_to 'All cards', cards_path, class: 'breadcrumb' %>
<% end %>

<% if @card %>
  <%# if we don't limit width of the card, it looks weird
    on larger screens %>
  <div style="max-width: 400px; margin: 0 auto">
    <%= render 'cards/card', card: @card %>
  </div>
<% end %>

<% if @card.is_virtual %>
  <div style="text-align: center;">
    <%= link_to "Reveal card info", @card.emburse_path, target: '_blank',
      class: "btn bg-info mt3" %>
  </div>
<% end %>
<article class="card max-width-2 mx-auto mt3">
  <section class="mb2">
    <h2 class="mt0 mb0 heading">
      <span class="flex-auto">Card for <%= @card.full_name %></span>
      <span class="h3"><%= card_mention @card %></span>
    </h2>

    <section class="details">
      <div>
        <strong>Card number</strong>
        <% unless @card.is_virtual %>
          <%= @card.formatted_card_number %>
            <div class="right tooltipped tooltipped--w" aria-label="Full number hidden to protect security">
              <%= inline_icon 'private', size: 32, class: 'smoke' %>
            </div>
        <% else %>
          <% if @card.user == current_user || current_user.admin? %>
            <%= link_to 'View on Emburse', @card.emburse_path, target: '_blank' %>
          <% else %>
            <%= @card.formatted_card_number %>
            <div class="right tooltipped tooltipped--w" aria-label="Full number hidden to protect security">
              <%= inline_icon 'private', size: 32, class: 'smoke' %>
            </div>
          <% end %>
        <% end %>
      </div>

      <p>
        <strong>Ordered by</strong>
        <%= user_mention @card.user %>
      </p>

      <p>
        <strong>Email address</strong>
        <%= @card.user.email %>
      </p>

      <p>
        <strong>Activation status</strong>
        <%= @card.status_text %>
      </p>
    </section>

    <% if !@card.requires_activation? %>
      <%= link_to "#{@card.active? ? "Deactivate" : "Activate"}", card_toggle_active_path(@card.id),
        method: :post,
        class: "btn #{@card.active? ? "bg-error" : "bg-success"} mt1" %>
    <% end %>

    <% admin_tools do %>
      <strong>Emburse ID</strong>
      <%= link_to @card.emburse_id, @card.emburse_path %>
    <% end %>
  </section>

  <% admin_tools do %>
    <%= link_to 'Edit', edit_card_path(@card), class: 'btn bg-info' %>
  <% end %>

    <div class="flex items-center info">
      <%= inline_icon 'important', size: 32, class: 'mr1' %>
      <p class="info mt0 mb0">
        If there are fradulent or incorrect charges on your card,
        please let your point of contact,
        <%= @card.event.point_of_contact.full_name %>
        know.
      </p>
    </div>

</article>

<% if @emburse_transactions.any? %>
  <h2 class="mt3">
    Transactions made on this card
  </h2>
  <table class="mb5">
    <thead>
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% running_sum = @emburse_transactions.completed.sum(&:amount) %>
    <% @emburse_transactions.each do |et| %>
      <%= render 'emburse_transactions/transaction', et: et, show_running_sum: false %>
    <% end %>
    </tbody>
  </table>
<% end %>
