<% page_sm %>
<% page_snow %>
<%= render 'events/nav' %>

<article class="card mt3">
  <section class="details mb3">
    <h2 class="mt0 mb0">Card</h2>

    <p>
      <strong>Belongs to</strong>
      <%= user_mention @card.user %>
    </p>

    <p>
      <strong>Email address</strong>
      <%= @card.user.email %>
    </p>

    <p>
      <strong>Card number</strong>
      XXXX-XXXX-XXXX-<%= @card.last_four %>
      <%= inline_icon 'private', size: 32, class: 'smoke', 'aria-label': 'Lock icon', title: 'Hidden to protect security' %>
    </p>

    <% admin_tools do %>
      <strong>Emburse ID</strong>
      <%= link_to @card.emburse_id, @card.emburse_path %>
    <% end %>
  </section>

  <% admin_tools do %>
    <%= link_to 'Edit', edit_card_path(@card), class: 'btn bg-info' %>
  <% end %>
</article>
