<% page_md %>
<% page_snow %>
<%= render 'events/nav' %>

<article class="card max-width-2 mx-auto mt3">
  <section class="details mb3">
    <h2 class="mt0 mb0">Card</h2>

    <p>
      <strong>Belongs to</strong>
      <%= user_mention @card.user %>
    </p>

    <p>
      <strong>Email address</strong>
      <%= @card.user.email %>
    </p>

    <div>
      <strong>Card number</strong>
      XXXX-XXXX-XXXX-<%= @card.last_four %>
      <div class="right tooltipped tooltipped--w" aria-label="Full number hidden to protect security">
        <%= inline_icon 'private', size: 32, class: 'smoke' %>
      </div>
    </div>

    <% admin_tools do %>
      <strong>Emburse ID</strong>
      <%= link_to @card.emburse_id, @card.emburse_path %>
    <% end %>
  </section>

  <% admin_tools do %>
    <%= link_to 'Edit', edit_card_path(@card), class: 'btn bg-info' %>
  <% end %>
</article>

<% if @emburse_transactions.any? %>
  <% show_status = one_isnt_completed? @emburse_transactions %>
  <h2 class="mt3">
    Recent Transactions
  </h2>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Amount</th>
        <% if show_status %>
          <th>Status</th>
        <% end %>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
    <% @emburse_transactions.each do |t| %>
      <tr>
        <td><%= t.transaction_time.to_date %></td>
        <td>
          <%= status_badge t.status_badge_type %>
          <%= t.merchant_name %>
        </td>
        <td><%= render_money t.amount %></td>
        <% if show_status %>
          <td>
            <%= t.state %>
          </td>
        <% end %>
        <td>
          <a href="<%= t.emburse_path %>" target="_blank">More</a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
