<%= link_to 'Cards', cards_path, class: 'breadcrumb' %>
<h1 class="heading">
  Card for <%= @card.user.email %>
  <%= link_to 'Edit', edit_card_path(@card), class: 'btn bg-info' %>
</h1>

<p>
  <strong>User email:</strong>
  <%= @card.user.email %>
</p>

<p>
  <strong>Event:</strong>
  <%= link_to @card.event.name, @card.event %>
</p>

<p>
  <strong>Daily spending limit:</strong>
  <%= @card.daily_limit ? render_money(@card.daily_limit) : 'no limit' %>
</p>

<p>
  <%= link_to 'See balance', @card.emburse_path, class: 'btn bg-info' %>
</p>

<p>
  <%= link_to 'Reload balance', new_load_card_request_path(card_id: @card.id), class: 'btn bg-info' %>
</p>
