<%= link_to @card.event.name, event_path(@card.event), class: 'breadcrumb' %>
<h1 class="heading">
  Card for <%= @card.user.email %>
  <%= link_to 'Edit', edit_card_path(@card), class: 'btn bg-info' if admin_signed_in? %>
</h1>

<section class="details">
<p>
  <strong>Email address</strong>
  <%= @card.user.email %>
</p>

<p>
  <strong>Daily spending limit</strong>
  <%= @card.daily_limit ? render_money(@card.daily_limit) : 'no limit' %>
</p>
</section>

<p>
  <%= link_to 'See balance', @card.emburse_path, target: '_blank', class: 'btn bg-info' %>
</p>

<p>
  <%= link_to 'Reload balance', new_load_card_request_path(card_id: @card.id), class: 'btn bg-success' %>
</p>

<h3 class="mb1">Load requests</h3>
<ul class="list list--unlinked my0">
  <% @load_card_requests.each do |request| %>
    <li>
      <p>
        <strong><%= render_money request.load_amount %></strong>
        <span class="muted">(added <span title="<%= request.created_at %>"><%= time_ago_in_words request.created_at %> ago</span>)</span>
      </p>
    </li>
  <% end %>
</ul>
