<%= link_to @card.event.name, event_path(@card.event), class: 'breadcrumb' %>
<h1 class="heading">
  Card for <%= @card.user.email %>
  <%= link_to 'Edit', edit_card_path(@card), class: 'btn bg-info' if admin_signed_in? %>
</h1>

<section class="details">
<p>
  <strong>Email address</strong>
  <%= @card.user.email %>
</p>

<p>
  <strong>Card number</strong>
  XXXX-XXXX-XXXX-<%= @card.last_four %>
</p>

<% if admin_signed_in? %>
<p>
  <strong>Emburse ID</strong>
  <%= link_to @card.emburse_id, @card.emburse_path %>
</p>
<% end %>
</section>
