<%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>

<h3>Transactions Flagged During Ledger Audits (<%= @tasks.count %> unresolved)</h3>

<div>
  <table>
    <thead>
      <tr>
        <th class="w-40">Date</th>
        <th>Flagged By</th>
        <th>Event Point of Contact</th>
        <th>Memo</th>
        <th>Amount</th>
        <th>Receipts</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <% hcb_code = task.hcb_code %>
        <tr class="<%= hcb_code.event.plan.is_a?(Event::Plan::HackClubAffiliate) ? "admin-bg-red" : "" %>">
          <td><%= hcb_code.created_at.strftime("%Y-%m-%d") %></td>
          <td>
            <span style="display: flex; align-items: center; gap: 8px;">
              <%= avatar_for task.reviewer, 24, { class: "avatar" } %>
              <%= task.reviewer&.name %>
            </span>
          </td>
          <td>
            <span style="display: flex; align-items: center; gap: 8px;">
              <%= avatar_for hcb_code.event.point_of_contact, 24, { class: "avatar" } %>
              <%= hcb_code.event.point_of_contact&.name %>
            </span>
          </td>
          <td>
            <%= link_to hcb_code.memo, "#", data: { turbo_frame: "_top", behavior: "modal_trigger", modal: "hcb_code_details_#{hcb_code.id}" } %>
          </td>
          <td>
            <%= render_money hcb_code.amount_cents %>
          </td>
          <td>
            <%= hcb_code.receipts.count %>
          </td>
          <td>
            <%= link_to "Review", admin_ledger_audits_task_path(task), class: "btn" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% @tasks.each do |task| %>
    <% hcb_code = task.hcb_code %>
    <section class="modal modal--scroll modal--popover bg-snow" data-behavior="modal" role="dialog" id="hcb_code_details_<%= hcb_code.id %>" data-state-url="<%= hcb_code_path(hcb_code) %>" data-state-title="<%= hcb_code.pretty_title(show_event_name: defined?(show_event_name), show_amount: defined?(show_amount)) %>">
      <%= modal_header(hcb_code.pretty_title(show_event_name: defined?(show_event_name), show_amount: defined?(show_amount)), external_link: url_for(hcb_code)) %>
      <%= turbo_frame_tag hcb_code.public_id, src: hcb_code.popover_path, loading: :lazy do %>
        <div class="shimmer mb1 mt3">
          <div class="shimmer__border"></div>
          <div class="shimmer__main">
            <article class="card pb0 h-100">
              <h2 class="h2 mt0 mx0 border-none flex items-center justify-between">
                <span class="flex-auto">
                  <span class="align-middle"
                        data-controller="navigation"
                        data-action="dblclick->navigation#navigate"
                        data-navigation-location-param="<%= my_inbox_path %>"
                        data-navigation-frame-param="2">
                    <%= hcb_code.humanized_type %>
                    <span class="regular muted">for $-</span>
                  </span>
                </span>
              </h2>

              <section class="card__banner card__darker details-horiz border-top border-bottom">
                <p>
                  <strong>Card</strong> -
                </p>
                <p>
                  <strong>Spender</strong> -
                </p>
                <p>
                  <strong>Spent</strong> -
                </p>
                <p>
                  <strong>Settled after</strong> -
                </p>
              </section>

              <section class="details details--wide pt2 pb2 details--tall">
                <p>
                  <strong>Merchant</strong>
                  <action data-behavior="modal_trigger" data-modal="merchant_details" class="pointer" tabindex="0">
                    <span class="inline-flex">
                      -
                      <%= inline_icon "external", size: 24, class: "muted", 'aria-label': "Icon indicating click for more" %>
                    </span>
                  </action>
                </p>
                <p>
                  <strong>Charge method</strong>
                  <action data-behavior="modal_trigger" data-modal="verification_details" class="pointer" tabindex="0">
                    <span>
                      -
                      <%= inline_icon "external", size: 24, class: "muted", 'aria-label': "Icon indicating click for more" %>
                    </span>
                  </action>
                </p>
              </section>
            </article>
          </div>
        </div>
      <% end %>
    </section>
  <% end %>

  <style>
    form, input {
      margin-bottom: 0px!important;
    }

    h3 {
      margin-top: 0px;
      margin-bottom: 16px;
    }

    hr {
      display: none;
    }

    .avatar {
      margin-bottom: 0px;
    }
  </style>
</div>
