<p><%= @emails.length > 1 ? "Hi all," : "Hi there," %></p>

<% if @correction %>
  <p>
    Earlier today, we sent out an inaccurate donation summary email.
    We’d like to apologize for any confusion this email may have caused.
    The list of donations in the original email accidentally included donors who began the donation process, but never completed their donation.
    This issue has been fixed, and we can confirm that your current balance and list of donations on HCB is correct. For a corrected donation list, please see below:
  </p>
<% else %>
  <p>
    Here's your monthly donation summary for <%= @event.name %>:
  </p>
<% end %>

<ul>
  <% @donations.each do |donation| %>
    <li>
      <%= donation.name(show_anonymous: true) %> <%= "anonymously" if donation.anonymous %> donated <%= render_money donation.amount %>
      <% if donation.recurring? %>
        <% recurring_times = (donation.recurring_donation.donations.find_index(donation) + 1) %>
        - this is their <%= "#{recurring_times}#{recurring_times.ordinal}" %> monthly donation
      <% end %>
    </li>
  <% end %>
</ul>

<p>In total, you raised <strong><%= render_money @total %></strong> last month - great job!</p>

<p>
  From,<br>
  The HCB Team
</p>
