<%= form_with(model: check, local: true) do |form| %>
  <%= form_errors(check, 'check') %>

  <div class="field">
    <%= form.label :check_id %>
    <%= form.text_field :check_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo %>
  </div>

  <div class="field">
    <%= form.label :check_number %>
    <%= form.text_field :check_number %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :sent_to_id %>
    <%= form.text_field :sent_to_id %>
  </div>

  <div class="field">
    <%= form.label :from_id %>
    <%= form.text_field :from_id %>
  </div>

  <div class="field">
    <%= form.label :expected_delivery_date %>
    <%= form.datetime_select :expected_delivery_date %>
  </div>

  <div class="field">
    <%= form.label :send_date %>
    <%= form.datetime_select :send_date %>
  </div>

  <div class="field">
    <%= form.label :bank_account_id %>
    <%= form.text_field :bank_account_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
