<% page_md %>

<h1>Check - <%= @check.description %></h1>

<p>Make this transfer from the fiscal sponsorship account into Hack Club’s</p>
<p>
  <strong>Amount</strong>
  <%= render_money @check.amount %>
</p>

<p>
  <strong>Transaction Memo</strong>
  <%= @check.transaction_memo %>
</p>

<p>Make this transfer from Hack Club's account at FRB into the positive pay FRB account</p>
<p>
  <strong>Amount</strong>
  <%= render_money @check.amount %>
</p>

<%= link_to 'Back', checks_path %>
