<% page_md %>

<h1>Approved check</h1>

<p>Approved a check for <%= @check.description %></p>

<h2>At our primary Fiscal Sponsorship bank (Silicon Valley Bank)</h2>

<p>Make this transfer:</p>

<p>
  <strong>From account:</strong> FS Main (x7027)
</p>
<p>
  <strong>To account:</strong> FS Operating (x0703)
</p>
<p>
  <strong>Amount:</strong> <%= render_money @check.amount %>
</p>
<p>
  <strong>Transaction Memo:</strong> <%= @check.transaction_memo %>
</p>

<h2>At the Positive Pay account (First Republic Bank)</h2>

<p>Make this transfer:</p>

<p>
  <strong>From account:</strong> FS Operating (x9524)
</p>
<p>
  <strong>To account:</strong> FS Check Escrow (x5667)
</p>
<p>
  <strong>Amount:</strong> <%= render_money @check.amount %>
</p>
<p>
  <strong>Transaction Memo:</strong> <%= @check.transaction_memo %>
</p>

<%= link_to 'Mark as processed', checks_path, class: 'btn', data: {confirm: 'Mark check as processed?'} %>

<p>After you're done approving checks:</p>
<ol>
  <li>Export the CSV from above.</li>
  <li>Go to <strong>FRB &gt; Positive Pay &gt; Imports &gt; Run imports</strong> and upload the CSV under <strong>"Hack Club Positive Pay Import"</strong> format.</li>
</ol>


