<h1 class="heading">
  Checks
</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Number</th>
      <th>Event</th>
      <th>Amount</th>
      <th>Status</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @checks.each do |check| %>
      <tr>
        <td><%= link_to check.id, check %></td>
        <td><%= check.check_number %></td>
        <td>
          <%= link_to check.event.name, check.event %>

          <% check.t_transactions.each do |t| %>
            <br/>
            <%= link_to "#{t.amount.positive? ? '📈' : '📉'} #{t.name}", t, class: 'h6 muted' %>
          <% end %>
        </td>
        <td><%= render_money check.amount %></td>
        <td>
          <%= check.aasm_state %>
        </td>
        <td>
          <%= link_to "Process", check unless check.deposited? %>
        </td>

        <!--
        <td>
          <% if check.rejected? %>
          <% elsif check.approved_at.nil? && !check.voided? %>
            <%#= link_to 'Process', check_start_approval_path(check)%>
          <% elsif check.unfinished_void? %>
            <%= link_to 'Refund Check', check_refund_path(check) %>
          <% end %>   
        </td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>


