<% title "Check for #{@check.memo.html_safe}" %>
<% page_md %>
<%= render 'events/nav' %>

<link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">

<% admin_tools do %>
  <ul>
    <li>
      v2

      <ul>
        <% @check.canonical_pending_transactions.each do |ct| %>
          <li>
            <%= ct.hcb_code %>: <%= link_to ct.amount, "/canonical_pending_transactions/#{ct.id}" %>
          </li>
        <% end %>

        <% @check.canonical_transactions.each do |ct| %>
          <li>
            <%= ct.hcb_code %>: <%= link_to ct.amount, "/transactions/#{ct.id}" %>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
<% end %>

<div class="check xs-hide w-100 mt3 mb3" data-behavior="hover_tilt">
  <div class="check__number"><%= @check.check_number %></div>

  <div class="flex w-100 justify-end mb1">
    <div class="check__field check__field--date" data-label="Date"><%= (@check.send_date || @check.created_at).strftime('%b %d, %Y') %></div>
  </div>

  <div class="check__row">
    <div class="check__field check__field--orderof" data-label="Pay to the order of"><%= @check.lob_address.name %></div>
    <div class="check__field check__field--num" data-label="$">
      <%= render_money_amount @check.amount %>
    </div>
  </div>

  <div class="check__field check__field--dollars" data-label="Dollars" data-check-amount="<%= render_money_amount @check.amount %>" data-behavior="fill_check_words"></div>

  <div class="check__row items-start">
    <div class="check__field check__field--memo" data-label="Memo"><%= organizer_signed_in? ? @check.memo : 'Sign in to view' %></div>
    <div class="check__sig"></div>

  </div>

  <p class="check__meta">
      &#9286;
      00000<%= @check.check_number %>
      &#9286;
      123[HIDDEN]
      &#9286;
  </p>
</div>

<article class="card pb0 mt3 mb3">
  <h2 class="h2 mt0 border-none">
    <div class="flex items-start">
      <span class="flex-auto mr1">
        <span class="regular muted"><%= @check.deposited? ? 'Sent' : 'Sending' %> </span>
        <%= @check.lob_address.name %>
        <span class="regular muted"> a&nbsp;check for </span>
        <span class="regular"><%= render_money @check.amount %></span>
      </span>
      <span class="badge h4 ml2 nowrap bg-<%= @check.state %>">
        <%= @check.status_text %>
        <%#= inline_icon @check.state_icon, size: 20 if @check.state_icon %>
      </span>
    </div>
  </h2>
  <section class="card__banner card__darker details-horiz border-top border-bottom">
    <p>
      <strong>Sent by</strong>
      <%= user_mention @check.creator %>
    </p>
    <p>
      <strong><%= @check.sent? ? "Scheduled at" : "Sent at" %></strong>
      <%= format_datetime @check.send_date %>
    </p>

    <% if @check.in_transit? || @check.in_transit_and_processed? %>
      <div>
        <strong>Delivery expected between</strong>
        <div>
          <%= format_date @check.expected_delivery_date %>–<%= format_date 7.business_days.after(@check.expected_delivery_date) %>
        </div>
      </div>
    <% end %>
  </section>

  <section class="details pt2 pb2">
    <p>
      <strong>Sent to</strong>
      <%= @check.lob_address.name %>
    </p>

    <p>
      <strong>Addressed to</strong>
      <%= organizer_signed_in? ? @check.lob_address.address_text : 'Sign in to view' %>
    </p>

    <p>
      <strong>Memo</strong>
      <%= organizer_signed_in? ? @check.memo : 'Sign in to view' %>
    </p>

    <p>
      <strong>Payment purpose</strong>
      <%= @check.payment_for %>
    </p>

    <p>
      <strong>Amount</strong>
      <%= render_money @check.amount %>
    </p>
  </section>

  <section class="card__banner card__darker border-top overflow-hidden">
    <%= link_to 'Cancel',
      organizer_signed_in? ? check_cancel_path(@check) : root_path,
      disabled: !organizer_signed_in?,
      class: 'btn bg-error mr1 right',
      method: :post,
      data: { confirm: "Cancel this check?" } if @check.can_cancel? %>

    <%= link_to 'View scan',
        organizer_signed_in? ? check_view_scan_path(@check) : root_path,
        disabled: !organizer_signed_in?,
        target: :_blank,
        class: 'btn bg-info' if @check.lob_url.present? %>
  </section>
</article>

<% if @hcb_code %>
  <%= render "comments/list_v2" %>
  <%= render "comments/form_v2" %>
<% end %>
