<% return unless policy(stripe_card).activate? %>

<% if stripe_card.replacement_for %>
  <div class="card border b--warning pb0 mx-auto" data-controller="form-disable">
    <div class="flex items-center warning">
      <%= inline_icon "info", size: 32, class: "mr1" %>
      <p class="bold mt0 mb0">Heads up:</p>
    </div>
    <p class="mt1 left-align">
      Since this card is a replacement, activating it will permanently deactivate <%= stripe_card_mention stripe_card.replacement_for %>.
    </p>
    <p class="mt1 left-align">
      You'll need to update billing information for any subscriptions that use <%= stripe_card_mention stripe_card.replacement_for %>.
    </p>
    <div class="field field--checkbox">
      <input type="checkbox" id="confirm" data-action="form-disable#run" data-form-disable-target="radioButton">
      <label for="confirm">Click here to confirm.</label>
    </div>
    <%= button_to new_stripe_cards_activation_path,
                  method: :get,
                  class: "btn bg-success mt1 mb2",
                  data: { "form-disable-target" => "submitButton", "turbo" => "false" } do %>
      <%= inline_icon "rep", size: home_action_size %>
      Activate card
    <% end %>
  </div>
<% else %>
  <%= link_to new_stripe_cards_activation_path, data: { turbo_frame: "_top" }, class: "btn bg-success" do %>
    <%= inline_icon "rep", size: home_action_size %>
    Activate card
  <% end %>
<% end %>
