<%# locals: (stripe_card:) %>

<% if stripe_card&.stripe_status == 'inactive' %>
  <% defrost_tooltip = "You can instantly re-freeze #{stripe_card.user == current_user ? "your" : stripe_card.user.possessive_name} card anytime" %>
  <div class="tooltipped tooltipped--n" aria-label="<%= policy(stripe_card).defrost? ? defrost_tooltip : "You don't have permission to perform this action" %>">
    <%= link_to defrost_stripe_card_path(stripe_card),
                method: :post,
                class: "btn bg-accent",
                disabled: !policy(stripe_card).defrost? do %>
      <%= inline_icon "freeze" %> Defrost card
    <% end %>
  </div>
<% elsif stripe_card&.stripe_status == 'active' %>
  <% freeze_tooltip = "You can instantly defrost #{stripe_card.user == current_user ? "your" : stripe_card.user.possessive_name} card anytime" %>
  <div class="tooltipped tooltipped--n" aria-label="<%= policy(stripe_card).freeze? ? freeze_tooltip : "You don't have permission to perform this action" %>">
    <%= link_to freeze_stripe_card_path(stripe_card),
                method: :post,
                class: "btn bg-accent",
                disabled: !policy(stripe_card).freeze? do %>
      <%= inline_icon "freeze" %> Freeze card
    <% end %>
  </div>
<% else %>
  <div class="tooltipped tooltipped--n" aria-label="This card cannot be frozen because it has not been activated">
    <%= link_to "#",
                method: :post,
                class: "btn bg-accent",
                disabled: true do %>
      <%= inline_icon "freeze" %> Freeze card
    <% end %>
  </div>
<% end %>
