<%# locals: (stripe_card:) %>

<% if stripe_card.stripe_status == "active" %>
  <div class="tooltipped tooltipped--n" aria-label="<%= policy(stripe_card).update? ? "Rename your card" : "You don't have permission to rename this card" %>">
    <%= link_to edit_stripe_card_path(stripe_card),
                class: "btn bg-success",
                disabled: !policy(stripe_card).update?,
                data: { behavior: "modal_trigger", modal: "name_card" } do %>
      <%= inline_icon "edit" %>
      Name
    <% end %>
  </div>

  <%# Modal for naming card %>
  <% if policy(stripe_card).update? %>
    <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="name_card">
      <%= modal_header "Name your card" %>
      <%= render "stripe_cards/name_form", stripe_card: StripeCard.new %>
    </section>
  <% end %>
<% end %>
