<% if @reason == "card_inactive" %>
A <%= render_money @auth.amount %> <%= @authorization_method %> charge to your card ending in <%= @card.last4 %> at '<i><%= @merchant %></i>' was <%= @auth.status_text.downcase %> because this card has been frozen.

You can defrost your card at any time <%= link_to "here", stripe_card_url(@card) %>.
<% elsif @reason == "suspected_fraud" || @reason == "verification_failed" %>
A <%= render_money @auth.amount %> <%= @authorization_method %> charge to your card ending in <%= @card.last4 %> at '<i><%= @merchant %></i>' was <%= @auth.status_text.downcase %> due to suspected fraud.

If this was a mistake, please make sure you've entered the right CVC code.
<% elsif @reason == "webhook_declined" %>
A <%= render_money @auth.amount %> <%= @authorization_method %> charge to your card ending in <%= @card.last4 %> at '<i><%= @merchant %></i>' was <%= @auth.status_text.downcase %> due to insufficient funds in your HCB account.

The account balance for <%= @event.name %> is <%= render_money @event.balance %>.
<% else %>
A <%= render_money @auth.amount %> <%= @authorization_method %> charge to your card ending in <%= @card.last4 %> at '<i><%= @merchant %></i>' was <%= @auth.status_text.downcase %>.
<% end %>

<% if Rails.env.development? %>
  <hr>
  <p>Development mode metadata:</p>
  <pre>
    <%= json auth: @auth.stripe_obj %>
  </pre>
<% end %>
