<style>
th, td {
  padding: 0.1rem;
}
</style>

<h1>Central > Ledger</h1>

<%= form_tag("", method: :get) do %>
  <%= collection_select nil, :event_id, Event.order(:id), :id, :admin_formatted_name, include_blank: true, selected: params[:event_id] %>
  <%= submit_tag "Filter", name: nil %>
<% end %>

<hr/>

<p style="text-align: right;">Balance: <%= Money.new(@account_balance_cents).format %></p>
<p style="text-align: right;">Absolute Sum: <%= Money.new(@account_absolute_balance_cents).format %></p>

<table style="width: 100%;font-size:12px;">
  <thead>
    <tr>
      <th>EVENTID</th>
      <th>ID</th>
      <th>DATE</th>
      <th>MEMO</th>
      <th>FRIENDLY MEMO</th>
      <th style="text-align: right;">AMOUNT</th>
    </tr>
  </thead>

  <tbody>
  <% @canonical_transactions.each do |ct| %>
    <tr>
      <td><%= ct.id %></td>
      <td><%= ct.event ? link_to(ct.event.id, event_id: ct.event.id) : nil %></td>
      <td><%= ct.date %></td>
      <td style="max-width: 0;overflow:hidden;text-overflow:ellipsis;white-space:no-wrap; width:300px;"><%= ct.memo %></td>
      <td style="max-width: 0;overflow:hidden;text-overflow:ellipsis;white-space:no-wrap; width:300px;"><%= ct.friendly_memo %></td>
      <td style="text-align: right;"><%= ct.amount %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @canonical_transactions %>
