<div class="card border">
  <span class="flex items-center justify-between">
    <span class="bold flex items-center">
      <% if webauthn_credential.platform? %>
        <%= inline_icon "fingerprint", size: home_action_size, class: "mr1", style: "padding: 3px" %>
      <% else %>
        <%= inline_icon "private-outline", size: home_action_size, class: "mr1" %>
      <% end %>

      <% if webauthn_credential.name.present? %>
        <span><%= webauthn_credential.name %></span>
      <% else %>
        <span class="secondary">No name</span>
      <% end %>
    </span>
    <%= link_to user_webauthn_credential_path(webauthn_credential.user, webauthn_credential), method: :delete, class: "muted tooltipped tooltipped--w z5", 'aria-label': "Delete this security key" do %>
      <%= inline_icon "delete", size: home_action_size %>
    <% end %>
  </span>
</div>
