<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :fee_relationship do |fr_form| %>
    <% if admin_signed_in? %>
    <div class="field">
      <%= fr_form.label :event %>
      <%= fr_form.collection_select(:event_id, Event.all, :id, :name, include_blank: 'select one...') %>
    </div>
    <% end %>
    <div class="field">
      Is event related? <%= form.check_box :is_event_related %>
    </div>
    <div class="field">
      Is fee payment? <%= fr_form.check_box :is_fee_payment %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
