<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :fee_relationship do |fr_form| %>
    <% if admin_signed_in? %>
    <div class="field">
      <%= fr_form.label :event %>
      <%= fr_form.collection_select(:event_id, Event.all, :id, :name, include_blank: 'Select one…') %>
    </div>
    <% end %>
    <%= form.label :is_event_related, class: 'field mb1' do %>
      <%= form.check_box :is_event_related %>
      Is event-related?
    <% end %>
    <%= fr_form.label :is_fee_payment, class: 'field mb2' do %>
      <%= form.check_box :is_fee_payment %>
      Is fee payment?
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
