<tr
  class="transaction--<%= transaction.amount.negative? ? 'negative' : 'positive' %>"
  data-behavior="filterbar_row"
  data-filter="<%= transaction.filter_data.to_json %>">
  <td>
    <%= transaction.date %>
  </td>
  <td>
    <%= transaction.display_name %>
  </td>
  <td>
    <%= link_to 'See Transaction', transaction, class: 'underline' %>
  </td>
  <td colspan="2" class="bold">
    <%= render_money transaction.amount %>
  </td>
</tr>
