<tr class="transaction">
  <td class="transaction__icon tooltipped tooltipped--e" aria-label="Bank account transaction">
    <%= inline_icon "bank-account" %>
  </td>
  <td>
    <%= format_date transaction.date %>
  </td>
  <td class="transaction__memo" title="<%= transaction.display_name %>">
    <span>
      <%= transaction.display_name %>
    </span>
  </td>
  <td class="nowrap">
    <%= render_transaction_amount transaction.amount %>
  </td>
  <% if organizer_signed_in? %>
  <td>
    <%= link_to "Details", transaction %>
  </td>
  <% end %>
</tr>
