<% is_nested = false if local_assigns[:is_nested].nil? %>

<tr
  class="transaction--<%= transaction.amount.negative? ? 'negative' : 'positive' %> <%= 'muted' if is_nested %>"
  data-behavior="filterbar_row"
  data-filter="<%= transaction.filter_data.to_json %>">
  <td>
    <%= link_to transaction do %>
      <% unless is_nested %>
        <%= transaction.date %>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= link_to transaction do %>
      <% if is_nested %>
        <span class="flip-horizontal"> ↵</span>
      <% end %>
      <%= transaction.display_name %>
    <% end %>
  </td>
  <td>
    <%= link_to transaction do %>
      <%= render_money transaction.amount %>
    <% end %>
  </td>
  <td>
    <%= link_to '➜', transaction, class: 'center' %>
  </td>
</tr>