<% title "Rename transaction for #{render_money @transaction.amount}" %>
<% page_sm %>

<%= render 'events/nav' if @event %>

<h1 class="h1">
  Rename <%= render_money @transaction.amount %> <%= @fee && @fee.fee_amount.nil? ? 'fee payment' : 'transaction' %>
</h1>

<strong>Original transaction name</strong>
<pre class="bg-smoke mt0"><%= organizer_signed_in? ? @transaction.name : 'REDACTED– SIGN IN TO REVEAL' %></pre>

<%= render 'form', transaction: @transaction %>
