<% page_xl %>
<h1>Transactions</h1>

<h3 style="color: red;">DEPRECATED. We aren't ready to remove this page yet, but please avoid using it. Instead map transactions from <%= link_to "the new ledger administration page", ledger_admin_index_path %>. Contact Scott at engineering with questions or if you run into issues.</h3>

<h2><%= pluralize(@needs_action.size, 'uncategorized transaction') %></h2>

<table>
<tr>
  <th>Date</th>
  <th>Name</th>
  <th>Amount</th>
  <th>Account</th>
  <th colspan="4">Event</th>
  <th colspan="2"></th>
</tr>
<% @needs_action.each do |t| %>
  <tr class="shade-yellow">
    <td>
      <%= t.date %>
    </td>
    <td>
      <%= t.name %>
    </td>
    <td>
      <%= render_money t.amount %>
    </td>
    <td>
      <%= link_to t.bank_account.name, t.bank_account %>
    </td>
    <td>
      <%= link_to 'Set', edit_transaction_path(t), class: 'btn bg-info' %>
    </td>
    <td>
      <%= link_to 'View', t %>
    </td>
  </tr>
<% end %>
</table>

<h2>All transactions</h2>

<%= paginate @transactions %>

<table>
<tr>
  <th>Date</th>
  <th>Name</th>
  <th>Amount</th>
  <th>Account</th>
  <th>Event</th>
  <th colspan="2"></th>
</tr>
<% @transactions.each do |t| %>
  <tr class="<%= 'shade-yellow' if !t.event && t.is_event_related %>">
    <td>
      <%= t.date %>
    </td>
    <td>
      <%= t.name %>
    </td>
    <td>
      <%= render_money t.amount %>
    </td>
    <td>
      <%= link_to t.bank_account.name, t.bank_account %>
    </td>
    <td>
      <% if t.event %>
        <%= link_to t.event.name, t.event %>
      <% elsif t.is_event_related %>
        <%= link_to 'Set Event', edit_transaction_path(t), class: 'btn bg-info' %>
      <% else %>
        N/A
      <% end %>
    </td>
    <td>
      <%= link_to 'View', t %>
    </td>
  </tr>
<% end %>
</table>
