<% title "Transaction for #{render_money @transaction.amount}" %>
<% page_sm %>

<%= render 'events/nav' if @event %>

<% admin_tools('mt3 mb0') do %>
  <%= link_to 'All transactions', transactions_path, class: 'breadcrumb' %>
<% end %>

<article class="card mt2">
  <h1 class="heading h1 mt0 mb0">
    <span class="flex-auto">
      <%= @transaction.fee_payment? ? 'Fee payment' : 'Transaction' %>
    </span>
    <span class="h2 regular">
      <%= render_money @transaction.amount %>
    </span>
  </h1>

  <div class="flex items-center mb2">
    <p class="flex-auto mr1 mb0">
      <strong class="block">Display name</strong>
      <span>
        <%= @transaction.display_name %>
      </span>
    </p>
    <%= pop_icon_to 'edit', edit_transaction_path(@transaction), class: 'right tooltipped tooltipped--w', 'aria-label': 'Rename transaction' %>
  </div>

  <strong>Imported transaction name</strong>
  <pre class="bg-snow mt0"><%= @transaction.name %></pre>

  <section class="details">
    <p>
      <strong>Date</strong>
      <%= format_date @transaction.date.to_date %>
    </p>

    <% if @transaction.invoice_payout&.invoice %>
      <p>
        <strong>For</strong>
        <%= link_to "Invoice of #{render_money @transaction.invoice_payout.invoice.item_amount}", invoice_path(@transaction.invoice_payout.invoice) %>
      </p>
    <% end %>

    <% if @transaction.fee_reimbursement&.invoice %>
    <p>
      <strong>For</strong>
      <span>
      <%= link_to "Fees from an invoice of #{render_money @transaction.fee_reimbursement.invoice.item_amount}", @transaction.fee_reimbursement.invoice %>
      </span>
    </p>
    <% end %>

    <% if @transaction&.check %>
    <p>
      <strong>For</strong>
      <span>
      <%= link_to "A check of #{render_money @transaction.check.amount}", @transaction.check %>
      </span>
    </p>
    <% end %>


    <% if @transaction.fee_applies? %>
      <p>
        <strong>Fee</strong>
        <%= render_money @transaction.fee_relationship.fee_amount %> (<%= render_percentage @transaction.fee_relationship.fee_percent %>)
      </p>
    <% elsif @transaction.fee_payment? %>
      <p>
        <strong>Note: this is a fee payment</strong>
      </p>
    <% end %>

    <% if @transaction.load_card_request %>
      <p>
        <strong>Transfer Request</strong>
        <%= link_to 'View', load_card_request_path(@transaction.load_card_request) %>
      </p>
    <% end %>
  </section>
</article>

<h2>Notes</h2>
<%= render 'comments/form' %>
<%= render 'comments/comments' %>
