<%= link_to @transaction.event.name, @transaction.event, class: 'breadcrumb' if @transaction.event %>

<h1 class="heading">
  <%= render_money @transaction.amount %> transaction
  <%= link_to 'Edit', edit_transaction_path(@transaction), class: 'btn bg-info' %>
</h1>

<p>Name: <%= @transaction.name %></p>
<p>Amount: <%= render_money @transaction.amount %></p>
<p class="<%= 'slate' unless @fee %>">
  <%= @fee.present? ?
    "Fee applies: #{render_money @fee.fee_amount}" :
    "Not event related; no fee applies." %>
</p>
