<%= link_to @transaction.event.name, @transaction.event, class: 'breadcrumb' if @transaction.event %>

<h1 class="heading">
  <%= render_money @transaction.amount %>
  <%= @fee && @fee.fee_amount.nil? ? 'fee payment' : 'transaction' %>
  <%= link_to 'Edit', edit_transaction_path(@transaction), class: 'btn bg-info' %>
</h1>

<section class="details">
<p>
  <strong>Name</strong>
  <%= @transaction.name %>
</p>

<p>
  <strong>Amount</strong>
  <%= render_money @transaction.amount %>
</p>

<p>
  <strong>Fee</strong>
  <% if @fee %>
    <% if @fee.fee_amount.nil? %>
    n/a <span class="slate">(this is a fee payment)</span>
    <% else %>
    <%= render_money @fee.fee_amount %>
    <% end %>
  <% else %>
    <span>n/a <span class="slate">(this transaction isn’t event-related)</span></span>
  <% end %>
</p>

<% if @transaction.load_card_request %>
<p>
  <strong>Load card request</strong>
  <%= link_to 'View', card_load_card_request_path(@transaction.load_card_request, card_id: @transaction.load_card_request.card.id) %>
</p>
<% end %>
</section>

<h2>Comments</h2>
<%= render "comments/form" %>
<%= render "comments/comments" %>
