<% admin_tool("mt1") do %>
  <details>
    <summary>
      Inspect "<%= record.class.name.underscore %>" record
    </summary>

    <% unless record.nil? %>

      <%== ap admin_inspectable_attributes(record) %>

      <div class="border-left ml1">

        <!-- JSON -->
        <details class="ml2">
          <summary>
            View JSON
          </summary>
          <div class="overflow-x-auto">
            <pre class="w-max">
              <%= json admin_inspectable_attributes(record) %>
            </pre>
          </div>
        </details>

        <!-- TABLE -->
        <details class="ml2 mt2">
          <summary>
            View Table
          </summary>

          <div class="overflow-x-auto">
            <table>
              <thead>
                <tr>
                  <% record.attributes.each do |attr| %>
                    <th><%= attr[0] %></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <% record.attributes.each do |attr| %>
                    <td>
                      <% unless attr[1].nil? %>
                        <%= attr[1] %>
                      <% else %>
                        <em>nil</em>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              </tbody>
            </table>
          </div>

        </details>
      </div>

    <% else %>

      <p>
        <code>nil</code> (does not exist)
      </p>

    <% end %>
  </details>
<% end %>
