
<% if defined?(link) %>
  <%= link_to link do %>
    <div class="callout callout--<%= type %>">
      <span class="callout__emoji"><%= emoji %></span>
      <%= inline_icon "external", size: 28, class: "callout--external" %>
      <%= title %>
    </div>
  <% end %>
<% else %>
  <div class="callout callout--<%= type %>">
    <span class="callout__emoji"><%= emoji %></span>
    <%= title %>
  </div>
<% end %>
