<% icon ||= type == "error" ? "important" : (type == "success" ? "emoji" : "info") %> <%# (success | info | warning | error) %>
<% color ||= type == "error" ? "primary" : type %>

<div class="<%= "card border b--#{color} #{"pb0" if local_assigns[:footer].present? } mt3 mb3 #{local_assigns[:class]}" %>">
  <div class="<%= "flex items-center #{color}" %>">
    <%= inline_icon icon, size: 32, class: "mr1" %>
    <p class="bold mt0 mb0">
      <%= local_assigns[:title] %>
      <%= local_assigns[:badge] if local_assigns[:badge].present? %>
    </p>
  </div>

  <% unless (block = yield).empty? %>
    <div class="m0 mt1">
      <%= block %>
    </div>
  <% end %>

  <% if local_assigns[:footer].present? %>
    <div class="border-top card__banner card__darker secondary mt2">
      <% if local_assigns[:footer] == :questions %>
        <strong>Questions?</strong>
        <%= help_message %>
      <% else %>
        <%= local_assigns[:footer] %>
      <% end %>
    </div>
  <% end %>
</div>
