<%= form_with url: feedback_path, class: "feedback-form #{"feedback-form--with-dock" if content_for?(:nav)}", data: { "turbo" => true, "controller" => "class form focus confetti", "class-class-value" => "visible", "focus-delay-value" => 50, "action" => "turbo:submit-end->form#reset turbo:submit-end->class#remove turbo:submit-end->confetti#party" } do |form| %>
  <div class="feedback-form__support_redirect">Looking for support? <%= link_to "Email us", "mailto:hcb@hackclub.com", target: :_blank %>.</div>
  <%= form.text_area :message, placeholder: "I wish HCB had...", required: true, class: "feedback-form__message", data: { "behavior" => "no_autosize ctrl_enter_submit", "focus-target" => "element" } %>

  <%= form.hidden_field :page_path, value: request.original_fullpath %>

  <div class="flex items-center">
    <div class="feedback-form__options items-center flex">
      <div class="field field--checkbox mb0 mr2">
        <%= form.check_box :share_email, checked: true %>
        <%= form.label :share_email, "Share your email with us?" %>
      </div>
      <button class="feedback-form__btn tooltipped tooltipped--w pop success mr1" aria-label="Send">
        <%= inline_icon "send", size: 28 %>
      </button>
    </div>
    <button type="button" class="feedback-form__btn feedback-form__btn--open pop tooltipped tooltipped--w embedded-display-none" aria-label="Share feedback" data-action="class#toggle focus#focus">
      <%= inline_icon "message-new", size: 28 %>
    </button>
    <button type="button" class="feedback-form__btn feedback-form__btn--close pop" data-action="class#toggle form#reset">
      <%= inline_icon "view-close", size: 28 %>
    </button>
  </div>
<% end %>
