<%# locals: (klass: "") -%>

<div id="flash-container">
  <% flash.to_h.except("confetti", "confetti_emojis", "popover").each do |key, value| %>
    <article
      role="alertdialog"
      class="flash flex items-center mt3 mb2 mx-auto shrink-none <%= key %> <%= klass %>"
      data-behavior="flash"
      data-turbo-temporary>
      <span style="flex-grow: 1">
        <% if value.is_a? Hash %>
          <%= value["text"] %>
          <%= link_to value["link_text"], value["link"] if value["link"] %>
        <% else %>
          <%= value %>
        <% end %>
      </span>
      <%= inline_icon "view-close", size: 32, class: "pointer" %>
    </article>
  <% end %>
</div>
