<footer class="footer">
  <p class="center mt4">
    <%= help_message if current_user %>
  </p>

  <p class="center">
    <%= link_to current_user ? "Bank FAQs" : "Hack Club Bank FAQs", faq_path %>
    <span class="inline-block pl1 pr1">&middot;</span>
    <%= link_to "Brand Guidelines", branding_path %>
    <span class="inline-block pl1 pr1">&middot;</span>
    <%= link_to current_user ? "Bank APIs" : "Hack Club Bank APIs", v3_path %>
    <% if current_user %>
      <span class="inline-block pl1 pr1">&middot;</span>
      <%= link_to "Share Feedback", "https://hack.af/bank-userfeedback?prefill_Name=#{current_user&.name}&prefill_Email=#{current_user&.email}&prefill_Organization=#{current_user&.events&.first&.name}", target: :_blank %>
    <% end %>
  </p>

  <p class="center h6">
    <% if commit_hash.present? %>
      <% if commit_duration.present? %>
        Build <em aria-label="<%= commit_hash %>" class="tooltipped tooltipped--n tooltipped--lg"><%= commit_name %></em>
        from <%= commit_duration %> ago.
      <% else %>
        Build <em aria-label="<%= commit_hash %>" class="tooltipped tooltipped--n tooltipped--lg"><%= commit_name %></em>.
      <% end %>
    <% end %>
    <% unless Rails.env.production? %>
      <% @sql_count = QueryCount::Counter.counter %>
      <% @sql_cached_count = QueryCount::Counter.counter_cache %>
      Loaded using <%= @sql_count %> unique SQL <%= "query".pluralize @sql_count %> (+ <%= @sql_cached_count %> cached).
    <% end %>
  </p>
</footer>
