<header class="header <%= "mt3" unless content_for?(:nav) %>">
  <div class="header-left line-height-0 flex items-center justify-end">
    <button
      data-behavior="toggle_theme"
      class="muted pointer no-select tooltipped tooltipped--s"
      aria-label="Toggle dark mode"
      tabindex="0">
      <%= inline_icon "moon", size: home_action_size %>
      <%= inline_icon "moon-fill", size: home_action_size, style: "display: none;" %>
    </button>
    <% if signed_in? %>
      <a
        href="https://changelog.hcb.hackclub.com"
        target="_blank"
        class="ml2 relative muted pointer tooltipped tooltipped--s"
        aria-label="See what’s new with HCB"
        id="changelog-icon">
        <%= inline_icon "rep", size: home_action_size %>
      </a>
    <% end %>
  </div>

  <%= render partial: "logo" %>

  <div class="header-right line-height-0 flex items-center">
    <% if signed_in? %>
      <%= link_to my_inbox_path,
          class: "muted tooltipped tooltipped--s mr2",
          'aria-label': "View transactions awaiting receipts" do %>
            <%= inline_icon "payment-docs", size: home_action_size %>
      <% end %>
      <%= button_to logout_users_path,
          method: :delete,
          class: "muted tooltipped tooltipped--s",
          'aria-label': "Sign out" do %>
            <%= inline_icon "door-leave", size: home_action_size %>
      <% end %>
    <% else %>
      <%= link_to auth_users_path,
          class: "muted tooltipped tooltipped--s",
          'aria-label': "Sign in" do %>
            <%= inline_icon "door-enter", size: home_action_size %>
      <% end %>
    <% end %>
  </div>

  <%= render "application/command_bar" %>

</header>
