<div data-controller="menu" data-menu-placement-value="<%= defined?(top) ? "bottom-end" : "bottom-center" %>">
  <button
    data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown"
    data-menu-target="toggle"
    class="muted <%= "bg-transparent border-0 p-0" if defined?(top) %>"
    type="button"
    data-action="class#toggle focus#focus">
    <%= inline_icon "moon", size: home_action_size, class: "hidden dark:block" %>
    <%= inline_icon "sun", size: home_action_size, class: "dark:hidden" %>
  </button>

  <div data-menu-target="content" class="menu__content menu__content--compact menu__content--2 min-w-32 w-32" data-controller="dark-mode-toggle">
    <a data-dark-mode-toggle-target="toggle" data-value="system">
      System
      <%= inline_icon "check", class: "hidden ml-auto", size: 24, style: "margin-right: -5px" %>
    </a>
    <a data-dark-mode-toggle-target="toggle" data-value="dark">
      Dark
      <%= inline_icon "check", class: "hidden ml-auto", size: 24, style: "margin-right: -5px" %>
    </a>
    <a data-dark-mode-toggle-target="toggle" data-value="light">
      Light
      <%= inline_icon "check", class: "hidden ml-auto", size: 24, style: "margin-right: -5px" %>
    </a>
  </div>
</div>
