<% expense = @hcb_code.reimbursement_expense_payout.expense %>

<div class="mt4 mb2">
  <article class="card pb0 mb1">

    <h2 class="h2 mt0 mx0 border-none flex items-center justify-between">
      <div class="flex-auto">
        <%= turbo_frame_tag @hcb_code do %>
          <%= pop_icon_to "edit",
              edit_hcb_code_path(@hcb_code),
              class: "mr2 align-middle tooltipped tooltipped--e", "aria-label": "Rename transaction",
              data: { turbo: true } %>

          <span class="align-middle"
                data-controller="navigation"
                data-action="dblclick->navigation#navigate"
                data-navigation-location-param="<%= edit_hcb_code_path(@hcb_code) %>"
                data-navigation-frame-param="<%= dom_id(@hcb_code) %>">
            <span data-memo-for="<%= dom_id(@hcb_code) %>"><%= @hcb_code.memo %></span>
            <span class="regular muted"> for </span>
            <%= number_to_currency(@hcb_code.amount) %>
          </span>

          <%= render "hcb_codes/memo_stream", hcb_code: @hcb_code %>
        <% end %>
      </div>
    </h2>

    <section class="card__banner card__darker details-horiz border-top">
      <p>
        <strong>Date</strong>
        <%= format_date @hcb_code.date %>
      </p>
      <p>
        <strong>Type</strong>
        Reimbursed Expense
      </p>
    </section>
    <section class='details pt2 pb2'>
      <% if Flipper.enabled?(:transaction_tags_2022_07_29, (@event || @hcb_code.event)) %>
        <%= render "hcb_codes/tags", hcb_code: @hcb_code, event: @event || @hcb_code.event %>
      <% end %>
      <p>
        <strong>Associated Report</strong>
        <%= link_to expense.report.name, expense.report %>
      </p>
      <% if expense.description.present? %>
        <p>
          <strong>Description</strong>
          <%= expense.description %>
        </p>
      <% end %>
    </section>

  </article>
  <div class="flex justify-end align-middle flex-wrap hcb_code_actions" style="gap: 12px">
    <%= render partial: "hcb_codes/pin", locals: { hcb_code: @hcb_code } %>
  </div>
</div>

<div class="mb4">
  <%= render partial: "receipts/receipt", collection: expense.receipts.order(created_at: :asc), as: :receipt, locals: { link_to_file: true, popover: @frame ? "HcbCode:#{@hcb_code.hashid}" : nil } %>
</div>
