<div class="mb3">
  <div class="card mt2 flex flex-column">
    <div class="container container--sm">
      <%= form_with model: nil, url: receipt_hcb_code_path(@hcb_code), class: "flex flex-column justify-center mt2", data: {
            controller: "file-drop submit-form",
        action: "
          dragover@window->file-drop#dragover
          drop@window->file-drop#drop
          dragenter@window->file-drop#dragenter
          dragleave@window->file-drop#dragleave
        ",
        "file-drop-title-value" => "Drop to instantly add a receipt."
          } do |form| %>

        <%= form.hidden_field :redirect_url, value: url_for(only_path: false) %>
        <%= form.hidden_field :upload_method, value: "transaction_page", data: { "file-drop-target" => "uploadMethod" } %>

        <%= form.file_field :file,
                            multiple: true,
                            required: true,
                            class: "display-none",
                            accept: "image/*,image/heic,.pdf",
                            data: {
                              "file-drop-target" => "fileInput",
                              "action"           => "change->submit-form#submit"
                            } %>
        <%= form.label :file, class: "btn" do %>
          <%= inline_icon "share" %>
          <span>Upload receipt</span>
        <% end %>

        <p class="center muted">Or drag & drop your receipt here.</p>
      <% end %>
    </div>
  </div>

  <% if @hcb_code.missing_receipt? %>
    <div class="flex muted justify-end items-center mt1">
      <%= inline_icon 'forbidden', size: 20 %>
      <%= link_to receiptable_mark_no_or_lost_path(receiptable_type: @hcb_code.class, receiptable_id: @hcb_code.id), method: :post do %>
        <small class="mt0 mb0">
          No/lost receipt?
        </small>
      <% end %>
    </div>
  <% end %>
</div>

<hr>
