<% @hcb_code.receipts.order(created_at: :asc).each do |receipt| %>

  <% file_path = Rails.application.routes.url_helpers.rails_blob_path(receipt.file, only_path: true) %>

  <div>
    <%= creator_bar receipt, prefix: "added " %>

    <%= link_to file_path, target: "_blank" do %>
      <%= image_tag receipt.preview, width: 256, height: 256, class: "card p0", style: "object-fit: contain; width: auto; height: auto; max-width: 100%; max-height: 256px;" if receipt.preview %>
    <% end %>

    <footer class="flex items-center mt1">
      <%= link_to file_path, class: "link-reset flex-auto", target: "_blank" do %>
        <span class="muted">
          <strong>
            <%= receipt.file.blob.filename %>
          </strong>
          (<%= number_to_human_size receipt.file.blob.byte_size %>)
        </span>
      <% end %>
      <%= pop_icon_to "view-close",
          { controller: :receipts, action: :destroy, id: receipt.id },
          method: :delete,
          size: 24,
          class: "error tooltipped tooltipped--s",
          "aria-label": "Delete this receipt" %>
    </footer>
  </div>

<% end %>
