<% receipt ||= @receipt %>
<% receipt ||= Receipt.new %>
<%= form_with(model: receipt,
              url: receipts_upload_path,
              method: :post,
              class: 'card center flex flex-column justify-center items-center',
              local: true) do |form| %>
  <h3 class="center h3">Add a receipt</h3>
  <%= form_errors receipt %>
  <%= form.hidden_field :receiptable_type, value: receiptable.class.name %>
  <%= form.hidden_field :receiptable_id, value: receiptable.id %>
  <%= form.hidden_field :uploader_id, value: current_user&.id %>
  <%= form.file_field :file, class: 'mx-auto' %>
  <%= form.submit 'Upload' %>
<% end %>
