<div class="organizer-position card flex flex-col overflow-visible mx-auto w-100">
  <div class="organizer-position__main-info flex">
    <div class="flex g2 items-start grow">
      <div class="flex justify-between">
        <div class="relative">
          <%= inline_icon("admin-badge", size: 48, class: "avatar-container__admin-bolt stroke-white dark:stroke-darkless") if organizer_position.user.auditor? %>
          <%= avatar_for organizer_position.user, 64 %>
        </div>
      </div>
      <div class="flex flex-col justify-center">
        <p class="h2 bold m0"><%= organizer_position.user.name %></p>
        <% if Flipper.enabled?(:user_permissions_2024_03_09, @event) && organizer_signed_in? %>
          <div class="g0 line-height-0">
            <% if policy(organizer_position).change_position_role? %>
              <div data-controller="menu" data-menu-placement-value="bottom-start">
                <div class="flex items-center cursor-pointer" data-menu-target="toggle" data-action="click->menu#toggle click@document->menu#close keydown@document->menu#keydown">
                  <p class="h4 medium info"><%= organizer_position.role.capitalize %></p>
                  <%= inline_icon "down-caret", class: "info menu__toggle" %>
                </div>
                <div data-menu-target="content" class="menu__content menu__content--2 menu__content--compact">
                  <% OrganizerPosition.roles.keys.each do |role| %>
                    <%= link_to change_position_role_organizer_path(id: organizer_position.id, to: role), data: { turbo_method: "post", turbo_frame: "_top" }, aria: { current: organizer_position.role == role } do %>
                      <%= role.humanize %><%= " ✔" if organizer_position.role == role %>
                    <% end %>
                  <% end %>
                  <div class="menu__divider"></div>
                  <%= link_to "What do these mean?", roles_path %>
                </div>
              </div>
            <% else %>
              <p class="h4 medium info"><%= organizer_position.role.capitalize %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <% if organizer_signed_in? %>
      <div class="flex g1 h-fit-content">
        <% if admin_signed_in? %>
          <div class="tooltipped tooltipped--s" aria-label="Edit user's settings">
            <%= pop_icon_to "controls", edit_user_path(organizer_position.user.slug), data: { turbo_frame: "_top" }, class: "admin-tools rounded-full overflow-hidden" %>
          </div>
          <% unless organizer_position.user == current_user || current_session&.impersonated? %>
            <div class="tooltipped tooltipped--s" aria-label="Impersonate user">
              <%= pop_icon_to "spy", impersonate_user_path(id: organizer_position.user.id, return_to: request.url), data: { turbo_method: "post", turbo_frame: "_top" }, class: "admin-tools rounded-full overflow-hidden" %>
            </div>
          <% end %>
        <% end %>
        <% if policy(organizer_position).view_allowances? && Flipper.enabled?(:spending_controls_2024_06_03, @event) %>
          <%= pop_icon_to "payment", event_organizer_position_spending_controls_path(organizer_position_id: organizer_position), data: { turbo: false } %>
        <% end %>
        <% if organizer_position.organizer_position_deletion_requests.under_review.exists? %>
          <div class="tooltipped tooltipped--w" aria-label="Pending removal request">
            <%= pop_icon_to "clock", "#", class: "muted", disabled: true %>
          </div>
        <% else %>
          <div class="tooltipped tooltipped--w" aria-label="<%= policy(organizer_position).can_request_removal? ? "Remove user from organization" : "You don't have permission to remove users" %>">
          <%= pop_icon_to "member-remove",
                          policy(organizer_position).destroy? ? organizer_path(organizer_position) : new_event_organizer_position_remove_path(organizer_position_id: organizer_position.user.slug),
                          class: "error",
                          data: {
                            turbo_frame: "_top",
                            turbo_method: policy(organizer_position).destroy? ? :DELETE : :GET,
                            turbo_confirm: policy(organizer_position).destroy? ? "This will revoke their access to this organization. Their cards will be permanently canceled." : nil,
                          },
                          disabled: !policy(organizer_position).can_request_removal? %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if organizer_signed_in? %>
    <div class="organizer-position__contact-block g1 flex muted">
      <p class="m0">
        <%= copy_to_clipboard(organizer_position.user.email, class: "inline-flex items-center g1 line-height-0", tooltip_direction: "e") do %>
          <%= inline_icon("email", size: 20) %>
          <%= organizer_position.user.email %>
        <% end %>
      </p>
      <% if auditor_signed_in? %>
        <p class="organizer-position__contact-block-separator h3 m0 line-height-1">•</p>
        <p class="warning m0">
          <%= copy_to_clipboard(organizer_position.user.phone_number, class: "inline-flex items-center g1 line-height-0") do %>
            <%= inline_icon("message-simple", size: 20) %>
            <%= organizer_position.user.phone_number %>
          <% end %>
        </p>
      <% end %>
    </div>
  <% end %>
  <div class="muted flex justify-between align-bottom relative w-100 h6 mt1">
    <p class="m0">
      Invited
      <%= relative_timestamp(organizer_position.organizer_position_invite.created_at) %>
      <%= "as a contract signee" if organizer_position.signee? || organizer_position.organizer_position_invite&.organizer_position_contract.present? %>
      by <%= organizer_position.organizer_position_invite.sender.name %>
    </p>
    <% user_mention organizer_position.organizer_position_invite.sender %>
    <% if admin_signed_in? %>
      <div class="line-height-0 tooltipped tooltipped--w" aria-label="<%= (organizer_position.organizer_position_invite.organizer_position_contract.present? ? organizer_position.organizer_position_invite.organizer_position_contract.signed? ? "Contract signee" : "Pending signature, click to void this contract" : "No contract signature") %>">
        <div class="warning">
          <% if organizer_position.organizer_position_invite.organizer_position_contract&.signed? %>
            <%= link_to organizer_position.organizer_position_invite.organizer_position_contract.document || event_documents_path(event: organizer_position.event), class: "success", data: { turbo_frame: "_top" } do %>
              <%= inline_icon("docs-positive", size: 24) %>
            <% end %>
          <% elsif organizer_position.organizer_position_invite.organizer_position_contract&.present? %>
            <%= link_to void_organizer_position_contract_path(organizer_position.organizer_position_invite.organizer_position_contract), class: "primary", data: { turbo_confirm: "Are you sure you want to void this contract?", turbo_method: :POST } do %>
              <%= inline_icon("clock", size: 24) %>
            <% end %>
          <% else %>
            <%= link_to "#", class: "warning", data: { behavior: "modal_trigger", modal: "send_contract_#{organizer_position.organizer_position_invite.id}" } do %>
              <%= inline_icon("docs-negative", size: 24) %>
            <% end %>
            <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="send_contract_<%= organizer_position.organizer_position_invite.id %>">
              <%= modal_header "Send a contract" %>
              <%= render "organizer_position_contract/form", organizer_position_contract: OrganizerPosition::Contract.new(organizer_position_invite_id: organizer_position.organizer_position_invite.id) %>
            </section>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
