<% hcb_code = @commentable %>

<% if @comment.content? %>

  <%= @comment.user.name %> has left a comment on <%= "and attached a file to" if @comment.has_attached_file? %> <%= "#{hcb_code.author.possessive_name} transaction for" if hcb_code.author %> <i><%= hcb_code.memo %></i> in <i><%= hcb_code.event&.name || "unmapped ledger" %></i>:

  <blockquote><%== MarkdownService.instance.renderer(record: @comment, location: :email).render @comment.content %></blockquote>

<% else %>

 <%= @comment.user.name %> has attached a file to <i><%= hcb_code.memo %></i> in <i><%= hcb_code.event&.name || "unmapped ledger" %></i>.

<% end %>

<%= link_to "Click here to view and reply to the comment on HCB.", "#{hcb_code_url(hcb_code)}#comment-#{@comment.hashid}", class: "info" %> Alternatively, send a reply to this email.

<p>
  <small>
    <%= link_to "Manage the comments you get notified for.", my_settings_url %>
  </small>
</p>
