<p>Hi there ðŸ‘‹</p>

<p>
  <strong>ACTION:</strong> Please reach out to <strong><%= @event.name %></strong>, a Demo Mode account, to setup a meeting.
  <% if @event.category %>
    They are a <%= @event.category.downcase %>.
  <% end %>
</p>

<p>
  <%= link_to "View #{@event.name} on the dashboard.", event_url(@event), target: :_blank %>
<p>

<p>
Their emails are:
</p>
<ul>
  <% @event.users.each do |user| %>
    <li><%= user.email %></li>
  <% end %>
</ul>

<p>
  Best,<br>
  <%= [
    'The hivemind known as Bank ðŸ¦',
    'A cloud full of money â˜ï¸',
    "Hack Club's pot of gold ðŸŒˆ",
    'A sentient stack of dollars ðŸ’µ',
    'The Hack Club Federal Reserve ðŸ›ï¸',
    'Hack Club Bank ðŸ’°',
    'A cloud raining money â›ˆï¸',
    'Wack Club Jank',
    'Wack Club Bank'
  ].sample %>
</p>
