<p>
  Hi <%= @check.recipient_name %>,
</p>

<p>
  <%= @check.event.name %> has just sent you a
  <%= render_money(@check.amount) %> check for
  <i>"<%= @check.payment_for %>"</i>.
</p>

<p>You must deposit this check within <%= IncreaseCheck::VALID_DURATION.inspect %>. It will expire on <%= (@check.approved_at + IncreaseCheck::VALID_DURATION).strftime("%b %e, %Y") %>.

<p>
  If you have any questions about this transfer, please contact <%= @check.event.name %>.
</p>

<p>
  Sincerely,
  <br><br>
  The HCB Team
</p>

<p><i class="muted"><%= @check.event.name %> is fiscally sponsored by The Hack Foundation (d.b.a. HCB), a 501(c)(3) nonprofit (EIN: 81-2908499).</i></p>
