<% title "My cards" %>
<% page_md %>
<%= render "users/nav", selected: :cards %>
<% @show_card_popovers = Flipper.enabled?(:hcb_code_popovers_2023_06_16, current_user) && organizer_signed_in? %>
<h1 class="heading flex items-center">
  <span class="flex items-center">
    Cards
    <%= badge_for @stripe_cards.count + @emburse_cards.count, class: "bg-muted" %>
  </span>
  <div class="flex ml-auto gap-3 items-center -mt-3">
    <%= render partial: "cards_filter_menu" unless @filter_applied %>
    <button class="btn bg-success -mb-3" data-behavior="modal_trigger" data-modal="order_card" <%= "disabled" if current_user.events.not_demo_mode.none? %>>
      <%= inline_icon "card-add" %>
      Order a card
    </button>
    </div>
  </h1>
  <% if @filter_applied %>
    <div class="flex items-center filter-menu">
      <%= render partial: "cards_filter_menu" %>
      <%= link_to nil, class: "-ml-2 pop muted tooltipped tooltipped--s", aria: { label: "Clear filters" }, data: { turbo_prefetch: "false" } do %>
        <%= inline_icon "view-close", size: 28 %>
      <% end %>
      <div class="filter-menu__chips">
        <% if @status %>
          <div class="badge badge-large bg-muted">
            <%= @status.gsub("inactive", "frozen").humanize %> cards
            <%= link_to upsert_query_params("status" => nil), class: "flex items-center", data: { turbo_prefetch: "false" } do %>
              <%= inline_icon "view-close", size: 20 %>
            <% end %>
          </div>
        <% end %>
        <% if @type %>
          <div class="badge badge-large bg-muted">
            <%= @type.humanize %> cards
            <%= link_to upsert_query_params("type" => nil), class: "flex items-center", data: { turbo_prefetch: "false" } do %>
              <%= inline_icon "view-close", size: 20 %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="order_card">
    <%= modal_header "Order a card" %>
    <%= render "stripe_cards/form", stripe_card: StripeCard.new %>
  </section>
  <%= turbo_frame_tag :my_cards_shipping, src: my_cards_shipping_path, target: "_top" %>
  <% if @stripe_cards.any? %>
    <article class="grid grid--wide">
      <%= render @stripe_cards, headless: true, show_purpose: true %>
    </article>
  <% else %>
    <%= blankslate "No cards found!" %>
  <% end %>
  <%= turbo_frame_tag :my_missing_receipts_list, src: my_missing_receipts_list_path, target: "_top" %>
  <% if @emburse_cards.any? %>
    <details class="mt3">
      <summary>
        <h2 class="inline-block mt0">Emburse cards</h2>
      </summary>
      <article class="grid">
        <%= render @emburse_cards, headless: true %>
      </article>
    </details>
  <% end %>
