<% title "My cards" %>
<% page_md %>
<%= render "users/nav", selected: :cards %>
<% @show_card_popovers = Flipper.enabled?(:hcb_code_popovers_2023_06_16, current_user) && organizer_signed_in? %>

<h1 class="heading">
  <span class="flex items-center">
    Cards
    <%= badge_for @stripe_cards.count + @emburse_cards.count, class: "bg-muted" %>
  </span>

  <button class="btn bg-success" data-behavior="modal_trigger" data-modal="order_card" <%= "disabled" if current_user.events.not_demo_mode.none? %>>
    <%= inline_icon "card-add" %>
    Order a card
  </button>
</h1>

<section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="order_card">
  <%= modal_header "Order a card" %>
  <%= render "stripe_cards/form", stripe_card: StripeCard.new %>
</section>

<%= turbo_frame_tag :my_cards_shipping, src: my_cards_shipping_path, target: "_top" %>

<% if @stripe_cards.any? %>
  <article class="grid grid--wide">
    <%= render @stripe_cards, headless: true %>
  </article>
<% else %>
  <%= blankslate "No cards found!" %>
<% end %>

<%= turbo_frame_tag :my_missing_receipts_list, src: my_missing_receipts_list_path, target: "_top" %>

<% if @emburse_cards.any? %>
  <details class="mt3">
    <summary><h2 class="inline-block mt0">Emburse cards</h2></summary>
    <article class="grid">
      <%= render @emburse_cards, headless: true %>
    </article>
  </details>
<% end %>
