<% title "My receipts" %>
<% page_md %>
<%= render "users/nav", selected: :receipts %>

<h1 class="heading">
  Receipt Center
  <%= badge_for @count %>
</h1>
<p class="muted h3">Manage your receipts and transactions awaiting receipts.</p>

<% if Flipper.enabled?(:receipt_bin_2023_04_07, current_user) %>

  <p class="muted h3">
    Alternatively, text your receipts to <%= sms_to "+1-864-548-4225", class: "break-none" %>
    <% if @mailbox_address %>
      or email them to <%= mail_to @mailbox_address.address, class: "break-none" %>.
    <% else %>
      or configure an email for receipt uploads in <%= link_to "your settings", my_settings_path %>.
    <% end %>
  </p>

  <%= turbo_stream_from current_user, :receipt_bin %>
  <%= turbo_frame_tag "suggested_pairings", src: suggested_pairings_path %>

  <h2>
    Receipt Bin
  </h2>

  <%= render partial: "receipts/form_v3", locals: {
        upload_method: "receipt_center",
        restricted_dropzone: true,
        turbo: true,
        global_paste: true
      } %>

  <%= render partial: "receipts/blankslate", locals: { count: @receipts.size } %>

  <ul class="grid grid--medium-narrow left-align w-100 mt0" id="receipts_list">
    <% @receipts.each do |receipt| %>
      <li class="flex grid flex-col justify-between h-100 mx-auto" id="receipt_<%= receipt.id %>">
        <%= render partial: "receipts/receipt", locals: { receipt:, show_delete_button: true, show_reimbursements_button: true, link_to_file: true, turbo_for_deletion: true } %>
      </li>
    <% end %>
  </ul>

<% end %>

<h2>
  Transactions
</h2>

<% @cards.each do |card| %>
  <section class="mb3 card p0 receipt-card">
    <h2 class="heading line-height-4 p1 pl2 mt0 ml0 flex justify-between items-center">
      <%= card.event.name %>

      <%= link_to card, class: "regular h3 mention flex items-center" do %>
        <%= inline_icon "card", class: "mr1", size: 25 %>
        <%= card.last_four %>
      <% end %>
    </h2>

    <div class="table-container">
      <table>
        <tbody data-behavior="transactions">
          <% @card_hcb_codes[card.to_global_id.to_s].each do |hcb_code| %>
            <% if hcb_code.canonical_transactions.any? %>
              <% hcb_code.canonical_transactions.each do |ct| %>
                <%= render partial: "canonical_transactions/canonical_transaction", locals: { ct:, force_display_details: true, receipt_upload_button: true, show_event_name: true } %>
              <% end %>
            <% else %>
              <% hcb_code.canonical_pending_transactions.each do |pt| %>
                <%= render partial: "canonical_pending_transactions/canonical_pending_transaction", locals: { pt:, force_display_details: true, receipt_upload_button: true, show_event_name: true } %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
<% end %>

<% if @count == 0 %>
  <%= blankslate "No missing receipts!" %>
<% end %>

<style>
  @media (min-width: 72em) {
    .receipt-card {
      max-width: calc(100vw - 20rem);
    }
  }
</style>

<%= paginate @hcb_codes %>
