<%= turbo_frame_tag :my_missing_receipts_list do %>
  <% if @missing %>
    <section class="card p0 mt3 mb3">
      <h2 class="heading h2 line-height-3 mt0 ml0 pt1 pb1 pl2 pr2">
        Charges missing receipts
        <%= link_to my_inbox_path, class: "btn" do %>
          <%= inline_icon "view" %>
          See all
        <% end %>
      </h2>

      <div class="table-container">
        <table class="table-container">
          <% unless defined? headless %>
            <thead>
              <tr>
                <% unless defined? authorless %>
                  <th></th>
                <% end %>
                <th>Date</th>
                <th>Description</th>
                <th class="text-right">Amount</th>
                <th></th>
              </tr>
            </thead>
          <% end %>
          <tbody data-behavior="transactions">
            <% @missing.each do |hcb_code| %>
              <% if hcb_code.canonical_transactions.any? %>
                <% hcb_code.canonical_transactions.each do |ct| %>
                  <%= render partial: "canonical_transactions/canonical_transaction", locals: { ct:, force_display_details: true, authorless: true, receipt_upload_button: true } %>
                <% end %>
              <% else %>
                <% hcb_code.canonical_pending_transactions.each do |pt| %>
                  <% next if pt.declined? %>
                  <%= render partial: "canonical_pending_transactions/canonical_pending_transaction", locals: { pt:, force_display_details: true, authorless: true, receipt_upload_button: true } %>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </section>
  <% end %>
<% end %>
