<% title "My reimbursements" %>
<% page_md %>
<%= render "users/nav", selected: :reimbursements %>

<h1 class="heading">
  <span>
    My reimbursements
  </span>

  <% if @payout_method.present? %>
    <%= link_to settings_payouts_path, class: "btn bg-info" do %>
      <%= inline_icon @payout_method.icon %>
      Payout settings
    <% end %>
  <% else %>
    <%= link_to settings_payouts_path, class: "btn bg-warning" do %>
      <%= inline_icon "payment-docs" %>
      Configure payouts
    <% end %>
  <% end %>

  <% if current_user.events.not_demo_mode.any? %>
    <%= link_to "#", class: "btn bg-success", data: { behavior: "modal_trigger", modal: "create_reimbursement_report" } do %>
      <%= inline_icon "plus" %>
      New
    <% end %>
  <% end %>
</h1>

<%= render partial: "reimbursement/reports/create_form" %>

<% if current_user.events.not_demo_mode.any? %>
  <section class="grid grid--split grid--spacious mb2">
    <div>
      <label for="sms_number">Start a report via SMS</label>
      <p class="h5 muted mt0 mb1">
        Message photos from your phone.
      </p>
      <div class="relative block" data-controller="clipboard" data-clipboard-text-value="+1-864-548-4225">
        <input id="sms_number" type="tel" value="+1-864-548-4225" readonly style="cursor: text;" class="fit">
        <button
          type="button"
          class="pointer pop mr2 align-middle tooltipped tooltipped--n"
          style="position: absolute; top: 50%; right: -8px; transform: translateY(-50%) scale(0.9);"
          aria-label="Copy number"
          data-action="clipboard#copy:prevent">
          <%= inline_icon "copy", size: 28 %>
        </button>
      </div>
    </div>

    <div>
      <label for="email_address">Start a report via email</label>
      <p class="h5 muted mt0 mb1">
        Send or forward from your email address.
      </p>
      <div class="relative block" data-controller="clipboard" data-clipboard-text-value="reimburse@hcb.gg">
        <input id="email_address" type="email" value="reimburse@hcb.gg" readonly style="cursor: text;" class="fit">
        <button
          type="button"
          class="pointer pop mr2 align-middle tooltipped tooltipped--n"
          style="position: absolute; top: 50%; right: -8px; transform: translateY(-50%) scale(0.9);"
          aria-label="Copy email address"
          data-action="clipboard#copy:prevent">
          <%= inline_icon "copy", size: 28 %>
        </button>
      </div>
    </div>
  </section>
<% end %>

<h3 class="mb0">Reports</h3>

<div class="flex items-center gap-4 flex-col-reverse sm:flex-row mb2 mt1">
  <%= form_with(model: false, local: true, method: :get, class: "flex-1 w-full sm:w-auto") do |form| %>
    <%= render "events/search", form: %>
  <% end %>
  <div>
    <%= link_to "All", "?filter=all", class: "filterbar__item", "aria-selected": !["mine", "review"].include?(params[:filter]), role: "tab" %>
    <%= link_to "Mine", "?filter=mine", class: "filterbar__item", "aria-selected": params[:filter] == "mine", role: "tab" %>
    <%= link_to "To review", "?filter=review", class: "filterbar__item", "aria-selected": params[:filter] == "review", role: "tab" %>
  </div>
</div>

<% if @reports.blank? %>
  <%= blankslate "No reports found!" %>
<% else %>
  <article class="table-container">
    <table>
      <thead>
      <tr>
        <th></th>
        <th>Status</th>
        <th>Report</th>
        <th>Organization</th>
        <th>Amount</th>
        <th>Created</th>
      </tr>
      </thead>
      <tbody>
        <% @reports.order(created_at: :desc).each do |report| %>
          <tr>
            <td class="!pl-0 flex items-center justify-center" style="margin-top: 1px;">
              <%= avatar_for report.user, size: 24 %>
            </td>
            <td>
              <% if report.status_description %>
                <span class="ml0 badge bg-<%= report.status_color %> tooltipped tooltipped--e tooltipped--xl" aria-label="<%= report.status_description %>">
                  <%= report.status_text %>
                </span>
              <% else %>
                <span class="ml0 badge bg-<%= report.status_color %>"><%= report.status_text %></span>
              <% end %>
            </td>
            <td style="max-width: 350px; overflow: hidden; text-overflow: ellipsis;">
              <%= link_to report.name, report %>
            </td>
            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;">
               <%= report.event&.name || "None" %>
            </td>
            <td>
               <%= report.amount.format %>
            </td>
            <td>
               <%= format_date report.created_at %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </article>
<% end %>
