<div class="flex items-center filter-menu">
  <%= render "events/filters/menu", filters: %>
  <%= link_to nil,
              class: "-ml-2 pop muted tooltipped tooltipped--s",
              aria: { label: "Clear filters" },
              data: { turbo_prefetch: "false" } do %>
    <%= inline_icon "view-close", size: 28 %>
  <% end %>

  <div class="filter-menu__chips">
    <% filters.each do |filter| %>
      <% if params[filter[:key]] %>
        <div class="badge badge-large bg-muted">
          <%= params[filter[:key]].humanize %>
          <%= link_to upsert_query_params(filter[:key] => nil),
                      class: "flex items-center",
                      data: { turbo_prefetch: "false" } do %>
            <%= inline_icon "view-close", size: 20 %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% filters.select { |f| f[:type] == "amount_range" }.each do |filter| %>
      <% ["less_than", "greater_than"].each do |suffix| %>
        <% param_key = "#{filter[:key_base]}_#{suffix}" %>
        <% if params[param_key].present? %>
          <div class="badge badge-large bg-muted">
            <%= suffix.humanize %>
            <%= Money.new(params[param_key].to_i * 100, "USD").format %>
            <%= link_to upsert_query_params(param_key => nil),
              class: "flex items-center",
              data: { turbo_prefetch: "false" } do %>
              <%= inline_icon "view-close", size: 20 %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% filters.select { |f| f[:type] == "date_range" }.each do |filter| %>
      <% ["after", "before"].each do |suffix| %>
        <% param_key = "#{filter[:key_base]}_#{suffix}" %>
        <% if params[param_key].present? %>
          <div class="badge badge-large bg-muted">
            <%= "#{filter[:label].gsub('Date ', '').humanize} #{suffix}" %>
            <%= Date.parse(params[param_key]).strftime("%B %-d, %Y") %>
            <%= link_to upsert_query_params(param_key => nil),
              class: "flex items-center",
              data: { turbo_prefetch: "false" } do %>
              <%= inline_icon "view-close", size: 20 %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
