<!DOCTYPE html>
<html data-dark="<%= !!@dark %>" <%= "data-ignore-theme" unless @dark.nil? %>>
  <head>
    <title>
      <%= yield(:title).concat(" –") if content_for?(:title) %>
      Bank
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="theme-color" content="#f9fafc">

    <%= javascript_include_tag 'dark', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'bundle', 'data-turbo-track': 'reload', defer: true %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>

    <% if signed_in? %>
      <script>document.addEventListener("turbo:load", () => { Headway.init({ selector: "#changelog-icon", account:  "7z8ovy", trigger: "#changelog-icon" }) })</script>
      <script async src="https://cdn.headwayapp.co/widget.js"></script>
    <% end %>

    <meta name="format-detection" content="telephone=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <% if user_birthday? %>
      <link rel="icon" type="image/png" href="/favicon-party.gif">
    <% else %>
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-<%= Rails.env %>-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-<%= Rails.env %>-16x16.png">
    <% end %>
    <link rel="manifest" href="/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ec3750">
    <meta name="msapplication-TileColor" content="#ec3750">
    <%= yield(:head) if content_for?(:head) %>
  </head>
  <body <%= yield(:body_attributes) if content_for?(:body_attributes) %> class="bg-snow <%= content_for :page_class %> <%= "season-#{current_season}" if current_season %>" data-turbo="<%= Flipper.enabled?(:turbo_2023_01_23, current_user) %>">
    <%= react_component 'tour/TourOverlay',
                        tour: @tour&.name,
                        id: @tour&.id,
                        step: @tour&.step || 0,
                        options: @tour&.tourable&.try(:tourable_options) || {},
                        back_to_tour: @back_to_tour %>

    <% if @event&.is_public && !organizer_signed_in? && !@no_app_shell && !@no_transparency_header %>
      <div class="w-100 px3 bg-white transparency-banner" data-behavior="hide_iframe">
        <p class="h5 medium center mt1 mb1">
          This Hack Club Bank project has been made public so you can see all its finances.
          Hey, <%= link_to 'what’s Bank?', 'https://hackclub.com/bank/', target: '_blank', class: 'primary' %>
        </p>
      </div>
    <% end %>

    <% if @event&.demo_mode? %>
      <div class="w-100 px3 transparency-banner bg-transparent center">
        <hr class="m0 p0 b--warning">
        <span class="m0 badge rounded-bottom bg-warning pointer" data-behavior="modal_trigger" data-modal="demo_mode">
          Demo Mode
          <%= inline_icon 'info', size: 18 %>
        </span>
      </div>
      <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="demo_mode">
        <%= modal_header "Demo Mode" %>
        <% if organizer_signed_in? %>
          <p>
            Your account is in <strong>demo mode</strong>. You can sign in and poke around, but many features are disabled. Once you're ready to activate your account, you can schedule a call with the Hack Club Bank team.
          </p>
          <% if @event.demo_mode_request_meeting_at.blank? %>
            <%= link_to event_demo_mode_request_meeting_path(@event), method: :post, class: 'btn btn-success' do %>
              Request activation
            <% end %>
            <p class="muted">After requesting, we'll be in touch within 24 hours on business days.</p>
          <% else %>
            <p class="muted">You requested to activate your account around <%= local_time_ago @event.demo_mode_request_meeting_at %>.</p>
          <% end %>
        <% else %>
          <p>This is a <strong>demo account</strong>. Someone created this account about <%= local_time_ago @event.created_at %> to take it for a test drive, but hasn't fully activated their account yet.</p>
        <% end %>
      </section>
    <% end %>

    <%# LET THERE BE SNOW %>
    <% unless @hide_holiday_features || !winter? %>
      <%= react_component 'holiday/SnowToggl', {}, { style: "position:fixed;left:1rem;bottom:1rem;z-index:99" } %>
      <%= react_component 'holiday/Snow', {}, { style: "height:100%" } %>
    <% end %>

    <%# ghosts and ghouls %>
    <% if fall? %>
      <img src="https://cloud-iuqyduosh-hack-club-bot.vercel.app/0image.png" alt="oOoOoOoOo" class="flying-spook ghost">
      <img src="https://cloud-fy14iajlp-hack-club-bot.vercel.app/0image__50_-removebg-preview.png" alt="witch orpheus" class="flying-spook">
    <% end %>

    <% if content_for?(:nav) %>
      <main class="container app">
        <% if @event && @first_time %>
          <div class="welcome" data-controller="welcome" data-welcome-organizer-position-value="<%= @organizer_position&.id %>">
            <div class="welcome__image mb3">
              <div class="welcome__shine"></div>
              <%= image_tag "logo-production-dark.svg", width: 100, class: 'logo-dark' %>
              <%= image_tag "logo-production.svg", width: 100, class: 'logo' %>
            </div>

            <div class="welcome__content">
              <div class="center">
                <h3 class="h3 caps secondary block m0">Welcome to</h3>
                <h1 class="primary mt0 border-none"><%= @organizer_position.initial? ? "Hack Club Bank" : @event.name %></h1>
              </div>

              <div class="mb2">
                <button class="btn" data-action="welcome#tour">Show me around</button>
              </div>
              <a href="<%= event_path(@event) %>" data-action="welcome#dismiss">No thanks, bring me straight to Bank</a>
            </div>
          </div>
        <% end %>

        <aside class="app__sidebar">
          <%= render 'application/header' %>
          <%= render 'application/flash' %>
          <%= yield(:nav) %>
        </aside>
        <article class="container app__content <%= content_for :container_class %>" style="<%= content_for :container_style %>">
          <%= yield(:container) %>
          <%= yield %>
          <%= render 'application/footer' unless (@no_app_shell || @hide_footer) %>
        </article>
      </main>
    <% else %>
      <%= render 'application/header' unless @no_app_shell %>
      <main class="container <%= content_for :container_class %>" style="<%= content_for :container_style %>">
        <%= render 'application/flash' %>
        <%= yield %>
        <%= render 'application/footer' unless (@no_app_shell || @hide_footer) %>
      </main>
    <% end %>

    <%= render 'application/feedback_form' if signed_in? %>

    <% if Rails.env.production? %>
      <%= render 'application/fullstory' if current_user&.sessions_reported %>
    <% end %>

    <% if flash[:confetti] %>
      <script src="/brand/js-confetti.browser.js"></script>
      <script>
        document.addEventListener('DOMContentLoaded', (event) => {
          const jsConfetti = new JSConfetti()

          setTimeout(() => {
            jsConfetti.addConfetti()
          }, 100);
        });
      </script>
    <% end %>
  </body>
</html>
