<!DOCTYPE html>
<html data-dark="<%= !!@dark %>">
  <head>
    <title>
      <%= "#{yield(:title)} – " if content_for?(:title) %>
      Bank
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true if admin_signed_in? %>
    <meta name="format-detection" content="telephone=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ec3750">
    <meta name="msapplication-TileColor" content="#ec3750">
    <meta name="theme-color" content="#ec3750">
    <link rel="preload" href="https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2" as="font" type="font/woff2" crossorigin>
    <%= yield(:head) if content_for?(:head) %>
  </head>
  <body <%= yield(:body_attributes) if content_for?(:body_attributes) %> class="bg-snow <%= content_for :page_class %>">
    <% if @event&.is_public && !organizer_signed_in? && !@no_app_shell %>
      <div class="container container--sm" data-behavior="hide_iframe">
        <p class="bold center">
          This Hack Club Bank project has been made public so you can see all its finances.
          Hey, <%= link_to 'what’s Bank?', 'https://hackclub.com/bank/', target: '_blank', class: 'primary' %>
        </p>
      </div>
    <% end %>
    <% unless @no_app_shell %>
      <header class="home flex items-center justify-center pt1 md-pt2">
        <div class="header-left flex items-center justify-end">
          <action role="button" data-behavior="toggle_theme" class="muted pointer no-select tooltipped tooltipped--s" aria-label="Toggle dark mode" tabindex="0">
            <%= inline_icon 'moon', size: home_action_size %>
            <%= inline_icon 'moon-fill', size: home_action_size, style: 'display: none;' %>
          </action>
          <%= link_to 'https://changelog.bank.hackclub.com',
            class: 'muted tooltipped tooltipped--s ml2',
            'aria-label': 'See what’s new in Bank' do %>
            <%= inline_icon 'rep', size: home_action_size %>
          <% end if signed_in? %>
          <% if @event and not @event.partner_logo_url.blank? %>
            <div class="partner-logo ml2">
              <%= image_tag @event.partner_logo_url, name: 'partner-logo', height: home_action_size, alt: 'Partner logo', style: 'box-sizing: border-box; padding: 5px;' %>
            </div>
          <% end %>
        </div>

        <div class="header-center flex items-center justify-start <%= Rails.env.development? && 'tooltipped tooltipped--s' %>" aria-label="You're in development mode. <%= development_mode_flavor %>">
          <%= link_to root_path, class: 'pl2 pr2' do %>
            <%= image_tag Rails.env.development? ? 'logo-dev.png' : @home_size ? 'logo-512.png' : 'logo.png', name: 'header-logo', width: @home_size || 48, height: @home_size || 48, alt: 'Bank logo' %>
          <% end %>
        </div>

        <div class="header-right flex items-center justify-left">
          <% if signed_in? %>
            <%= link_to my_settings_path,
              class: 'muted tooltipped tooltipped--s mr2',
              'aria-label': 'Profile settings' do %>
              <%= inline_icon 'profile', size: home_action_size %>
            <% end %>
            <%= link_to logout_users_path, method: :delete,
                class: 'muted tooltipped tooltipped--s',
                'aria-label': 'Sign out' do %>
                <%= inline_icon 'door-leave', size: home_action_size %>
            <% end %>
          <% else %>
            <%= link_to auth_users_path,
                class: 'muted tooltipped tooltipped--s',
                'aria-label': 'Sign in' do %>
                <%= inline_icon 'door-enter', size: home_action_size %>
            <% end %>
          <% end %>
        </div>
      </header>
    <% end %>

    <main class="container <%= content_for :container_class %>">
      <% flash.each do |key, value| %>
        <article role="alertdialog" class="flash flex items-center mt3 mb2 mx-auto <%= key %>" data-behavior="flash">
          <span class="flex-auto"><%= value %></span>
          <%= inline_icon 'view-close', size: 32, class: 'pointer' %>
        </article>
      <% end %>
      <%= yield %>
      <%= render 'application/footer' unless (@no_app_shell || @hide_footer) %>
    </main>

    <script src="https://aardvark.hackclub.com/script.js" site="ZKMSNQTW" defer></script>
  </body>
</html>
