<!DOCTYPE html>
<html data-dark="<%= !!@dark %>">
  <head>
    <title>
      <%= "#{yield(:title)} – " if content_for?(:title) %>
      Bank
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true if admin_signed_in? %>
    <meta name="format-detection" content="telephone=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ec3750">
    <meta name="msapplication-TileColor" content="#ec3750">
    <meta name="theme-color" content="#ec3750">
    <%= yield(:head) if content_for?(:head) %>
  </head>
  <body <%= yield(:body_attributes) if content_for?(:body_attributes) %> class="bg-snow <%= content_for :page_class %>">
    <% if @event&.is_public && !organizer_signed_in? && !@no_app_shell %>
      <div class="w-100 px3 bg-white transparency-banner" data-behavior="hide_iframe">
        <p class="h5 medium center mt1 mb1">
          This Hack Club Bank project has been made public so you can see all its finances.
          Hey, <%= link_to 'what’s Bank?', 'https://hackclub.com/bank/', target: '_blank', class: 'primary' %>
        </p>
      </div>
    <% end %>

    <% if content_for?(:nav) %>
      <main class="container app">
        <aside class="app__sidebar">
          <%= render 'application/header' %>
          <%= render 'application/flash' %>
          <%= yield(:nav) %>
        </aside>
        <article class="container app__content <%= content_for :container_class %>">
          <%= yield(:container) %>
          <%= yield %>
        </article>
      </main>
    <% else %>
      <%= render 'application/header' unless @no_app_shell %>
      <main class="container <%= content_for :container_class %>">
        <%= render 'application/flash' %>
        <%= yield %>
        <%= render 'application/footer' unless (@no_app_shell || @hide_footer) %>
      </main>
    <% end %>

    <% if Rails.env.production? %>
      <script src="https://aardvark.hackclub.com/script.js" site="ZKMSNQTW" defer></script>
      <%= render 'application/fullstory' if current_user&.sessions_reported %>
    <% end %>
  </body>
</html>
