<%= form_with(model: card_request, local: true) do |form| %>
  <% if card_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card_request.errors.count, "error") %> prohibited this card_request from being saved:</h2>

      <ul>
      <% card_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.text_field :event_id %>
  </div>

  <div class="field">
    <%= form.label :daily_limit %>
    <%= form.text_field :daily_limit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
