<%= form_with(model: card_request, local: true) do |form| %>
  <% if card_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card_request.errors.size, "error") %> prohibited this card_request from being saved:</h2>

      <ul>
      <% card_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% admin_tools('mb2') do %>
    <div class="field">
      <%= form.label :event_id %>
      <%= form.collection_select(:event_id, Event.all, :id, :name, prompt: 'Select event…') %>
    </div>

    <div class="field">
      <%= form.label :notes, 'Notes (admin-only)' %>
      <%= form.text_area :notes %>
    </div>

    <div class="field">
      <%= form.label :email %>
      <%= form.email_field :email %>
    </div>
  <% end %>

  <% unless admin_signed_in? %>
    <%= form.hidden_field :event_id, value: params[:event_id] %>
    <%= form.hidden_field :email, value: current_user.email %>
  <% end %>

  <div class="field">
    <%= form.label :full_name, 'Full name (as will appear on card)' %>
    <%= form.text_field :full_name, value: current_user.full_name %>
  </div>

  <div class="field">
    <%= form.label :shipping_address, 'Shipping address (with city, state, + zip code)' %>
    <%= form.text_area :shipping_address, placeholder: '1600 Pennsylvania Ave NW, Washington, DC 20500' %>
  </div>

  <div class="actions">
    <%= form.submit 'Send this card', data: { confirm: 'Once approved, your card will arrive in 7-10 business days' } %>
  </div>
<% end %>
