<p id="notice"><%= notice %></p>

<h1>Card Requests</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Event</th>
      <th>Daily limit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @card_requests.each do |card_request| %>
      <tr>
        <td><%= card_request.user %></td>
        <td><%= card_request.event %></td>
        <td><%= card_request.daily_limit %></td>
        <td><%= link_to 'Show', card_request %></td>
        <td><%= link_to 'Edit', edit_card_request_path(card_request) %></td>
        <td><%= link_to 'Destroy', card_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card Request', new_card_request_path %>
