<%= link_to @event.name, @event, class: 'breadcrumb' %>
<h1 class="heading">
  Card request for <%= @card_request.full_name %>
  <%= link_to 'Edit', edit_card_request_path(@card_request), class: 'btn bg-info' %>
</h1>

<section class="details">
<p>
  <strong>Status</strong>
  <%= @card_request.status %>
</p>

<p>
  <strong>Name on card</strong>
  <%= @card_request.full_name %>
</p>

<p>
  <strong>Daily limit</strong>
  <%= @card_request.daily_limit || 'none' %>
</p>
</section>

<% if admin_signed_in? %>
  <p>
    <%= link_to 'Reject request', card_request_reject_path(@card_request), method: :post, class: 'btn' %>
  </p>
  <p>
    <%= link_to 'Accept request', new_card_path(card_request_id: @card_request), class: 'btn bg-success' %>
  </p>
<% else %>
  <p>
    <%= link_to 'Cancel request', card_request_path(@card_request), method: :delete, class: 'btn bg-white' %>
  </p>
<% end %>
